Sec. 3.7.9. - Application requirements and procedures.
In addition to the requirements contained in section 6.3, Plan submittal requirements, an inventory of all uses similar to the use or uses being pro-posed in an application for hospital overlay zoning within 5,280 feet of the property proposed for re-zoning shall be submitted with the zoning application. Such distance shall be measured in a straight line from nearest property boundary to nearest property boundary.
( Ord. No. 7-2020 , § 1(Exh. A), 10-26-20)
