Sec. 3.6.6. - Application requirements.
A.
Pre-application meeting required. Applicants shall meet with the community development director prior to submitting an application for development within the TCMU district or rezoning to TCMU. The purpose of the meeting is to deter-mine the appropriateness of the proposed plan and its relationship to related local plans including, but not limited to, the Riverdale Comprehensive Plan, Riverdale LCI Town Center Study, Riverdale Zoning Ordinance, and Riverdale Code of Ordinances.
B.
Rezoning and special use applications shall follow the requirements and procedures of article 13, Procedures for Zoning Decisions.
C.
Applications for development within the TCMU district shall include all information noted below to be reviewed during the site plan approval process:
1.
Completed application form;
2.
Development narrative including all uses, breakdown of square footage for each use, and number of housing units;
3.
Location map with lot identification;
4.
Existing site plan, including all existing structures, trees, topography, and easements, prepared by a licensed surveyor;
5.
Accurate list of adjacent property owners;
6.
Photos of adjacent properties and other properties impacted by the development;
7.
Proposed site plan, indicating project boundaries, building footprints, onsite and remote parking areas, where applicable, and topography at two-foot contour intervals;
8.
Building plans, all levels including roof;
9.
Building elevations, all sides including courtyards and interior lot elevations;
10.
Massing perspective sketches or renderings illustrating the key elements of the development proposal within its context;
11.
Proposed street tree and landscape plan;
12.
Proposed exterior lighting plan with photometric information;
13.
Proposed storm water management plan with runoff calculations; and
14.
All documents shall clearly differentiate between existing and proposed work by use of screened lines or color. Changes and revisions to subsequent submittals shall be prominently noted.
( Ord. No. 7-2020 , § 1(Exh. A), 10-26-20)
