4905.2 - Construction Methods and Requirements Within Established Limits.
Within the limits established by law, construction methods intended to mitigate wildfire exposure shall comply with the wildfire protection building construction requirements contained in the Los Angeles County Building Code including the following:
1.
Los Angeles County Building Code, Chapter 7A.
2.
Los Angeles County Residential Code, Section R327.
3.
Los Angeles County Referenced Standards Code, Chapter 12-7A and this chapter.
(Ord. 2017-0003 § 200, 2017.)
