Chapter 20.64 - PERMIT REQUIREMENTS GENERALLY

20.64.010 - Permit—Required.
Every owner or operator of a solid-waste facility, every self-hauler located within the High Desert Area, and every waste collector shall obtain permits from the enforcement agency in the manner prescribed by this Division 4.
(Ord. 2007-0002 § 7, 2007: Ord. 91-0100 § 4, 1991: Ord. 11886 Art. 2 § 204, 1979.)
20.64.020 - Failure to obtain permit deemed misdemeanor when.
Every person who engages in waste collection and solid-waste facility activities for which a permit is required by this Division 4 is guilty of a misdemeanor if:
A.
The person does so without having obtained a permit and having paid the required fee; or
B.
If such person obtained a permit but has failed to pay the annual operating fee, or the permit has subsequently expired or been suspended, revoked or denied.
(Ord. 11886 Art. 2 § 205, 1979.)
20.64.030 - Solid-waste facility permit—Application requirements.
Application for a solid-waste facilities permit shall be filed in duplicate with the enforcement agency on a form provided by the agency. The information provided in the application form shall be certified by the applicant as being true and accurate. The enforcement agency may require that the applicant, owner of the site, or both, supply such additional information as it deems necessary. The solid-waste facility application shall be accompanied by the application fee prescribed in Section 20.64.110.
(Ord. 11886 Art. 5 § 502, 1979.)
20.64.040 - Waste collector and self-hauler permits—Application requirements.
Application for a waste collector permit or a self-hauler permit shall be filed in duplicate with the enforcement agency on a form provided by the agency. The information provided in the application shall be certified by the applicant as being true and accurate. The enforcement agency may require additional information as authorized by law.
(Ord. 2007-0002 § 8, 2007: Ord. 11886 Art. 5 § 501, 1979.)
20.64.050 - Amendments to applications.
A.
At any time after application has been made and before issuance or denial of the permit or modification thereof, the applicant shall notify the enforcement agency of any changes in any of the information required on the application. Such notice shall be given by the filing of a certified amendment to the application within five business days of the applicant's first knowledge of the changes.
B.
If the local enforcement agency or the board determines that the amendment fundamentally alters the nature of the application, requiring extensive evaluation, within 20 days of the filing of the amendment the enforcement agency or board may deem the amendment a new application, superseding the previous application and incorporating unamended portions of the previous application, in which case the time for the enforcement agency and the board to act on the amendment shall be computed from the date of filing of the amendment. Any such determination by either the local enforcement agency or the board shall be followed, within five business days of the determination, by written notice to the applicant and either the board (if the determination is made by the enforcement agency) or the enforcement agency (if the determination is made by the board).
C.
For purposes of this section, a permit shall be deemed not to have been either issued or denied while a decision of the enforcement agency on the application is being appealed to either the hearing panel or the board.
(Ord. 11886 Art. 5 § 503, 1979.)
20.64.060 - Application—Filing and transmittal of copies—Acceptance or rejection.
A.
Upon its receipt, the enforcement agency shall mark the application with the date of receipt, and shall examine the application for conformity with the requirements of Sections 20.64.030 or 20.64.040. If it is found to conform to the requirements of Sections 20.64.030 or 20.64.040, the application shall be accepted and stamped with the date and time of acceptance. Notwithstanding any other provisions of this Division 4, the application shall be deemed filed on the date of acceptance.
B.
If the enforcement agency determines that the application does not conform to the requirements of Sections 20.64.030 or 20.64.040, it shall reject the filing of the application, and it shall, within five business days of the determination, so notify the applicant, enumerating the grounds for the rejection. In such a case, the enforcement agency shall return all but one copy of the application to the applicant. The retained copy, together with the notice of rejection, shall be kept in the enforcement agency's file.
C.
The enforcement agency shall either accept or reject the application within five business days of its receipt.
D.
No application fee shall be charged by the enforcement agency for an application not accepted for filing.
E.
The applicant may submit an extra copy of its application to the enforcement agency, to be conformed to the original and returned to the applicant upon acceptance for filing.
(Ord. 11886 Art. 5 § 504, 1979.)
20.64.070 - Pending applications—Public notice and comment.
A.
The enforcement agency shall maintain a current list of all pending applications at its offices. The list shall be publicly available during normal business hours.
B.
The enforcement agency shall mail written notice of an application to every person who has submitted a written request for such notice.
C.
Written public comments on an application shall be retained by the enforcement agency.
(Ord. 11886 Art. 5 § 505, 1979.)
20.64.080 - Notice of change of address.
Every applicant for a solid-waste facilities permit, every operator of a solid-waste management facility, every permittee under this Division 4, and every owner of property on which a facility is located shall notify the enforcement agency and the board of each change of address. Notice shall be given no more than seven days after the change is effective, and shall be given on a form provided by the agency.
(Ord. 11886 Art. 5 § 804, 1979.)
20.64.090 - Notice of change of ownership of property.
Any person who owns real property which is being used as a solid-waste disposal site for which a solid-waste facilities permit has been issued to the operator of the site shall file a certified report with the enforcement agency within 30 days of encumbering, selling, transferring or conveying the property or part thereof, or permitting the property or part thereof to be encumbered, sold, transferred or conveyed. The report shall be made on a form provided by the agency. The enforcement agency shall transmit a copy of the report to the board and shall file a copy with the county clerk within five business days of its receipt.
(Ord. 11886 Art. 5 § 805, 1979.)
20.64.100 - Issuance conditions.
Upon approval by the enforcement agency of an application for a solid-waste facility permit, a waste-collector permit, or a self-hauler permit, the enforcement agency shall by appropriate notation upon the face of each application, cause such permits to be issued by the county health officer upon payment to the county health officer of the fee prescribed in Section 20.64.110.
(Ord. 2014-0024 § 32, 2014: Ord. 2007-0002 § 9, 2007: Ord. 88-0106 § 34, 1988: Ord. 11886 Art. 4 § 402, 1979.)
20.64.110 - Schedule of Solid Waste Permit and Regulatory Fees.
Every solid waste facility operator, waste collector, self-hauler, or facility salvaging solid waste for recycling reuse or resale must pay the following fees to the enforcement agency:
EXPAND
Business Classification Permit and
Regulatory Fees
A. Waste collector:
1. Permit application fee No fee
2. Regulatory service fees, payable annually:
a. Each business $454.00 annually
b. Each waste collection vehicle 43.00 annually
B. Self-hauler:
Permit application and regulatory service fees: each property served No fee
C. Solid waste facility:
1. Permit application fees:
a. New application (up to 10 hours of agency review item) 1,149.00
b. Application to revise or modify existing permit (up to 10 hours of agency review time) 1,149.00
c. Agency review of new application or application to revise or modify existing permit beyond 10 hours of initial agency review time 168.00/hr.
2. Regulatory service fees:
a. Disposal site or facility, payable monthly:
i. Where specific tonnages of waste are measured 41 per ton
ii. Where weight of waste is not measured in tonnage .038 per cubic yard
b. Transfer/processing station, payable monthly:
i. Where specific tonnages of waste are measured .41 per ton
ii. Where weight of waste is not measured in tonnage .038 per cubic yard
D. Transfer station:
1. Sealed container transfer operation, payable annually 995.00
2. Transfer station limited volume, payable annually 1,243.00
E. Solid waste facility municipal yard fee 522.00
F. Solid waste salvage operations or facilities:
a. Biosolids processing/composting at publicly owned treatment works 2,686.00 annually
b. Chipping and grinding operations green waste 1,592.00 annually
c. Contaminated soil transfer or processing operations 1,293.00 annually
d. Green material composting operation 2,885.00 annually
e. Inert debris engineered fill 2,139.00 annually
f. Inert debris type A processing operations 1,493.00 annually
g. Small volume construction demolition debris processing operation 1,493.00 annually
h. Small volume construction demolition wood debris chip grind operation 1,144.00 annually
  (Ord. 2018-0024 § 13, 2018: Ord. 2011-0042 § 83, 2011: Ord. 2007-0088 § 4, 2007: Ord. 2007-0002 § 10, 2007: Ord. 2006-0057 § 4, 2006: Ord. 2005-0053 § 18, Ord. 2004-0047 § 4, 2004: Ord. 2003-0061 § 4, 2003: Ord. 2002-0066 § 13, 2002: Ord. 2001-0069 § 4, 2001: Ord. 93-0055 § 15, 1993: Ord. 92-0078 § 11, 1992: Ord. 91-0100 § 6, 1991: Ord. 90-0090 § 5, 1990: Ord. 88-0106 § 35, 1988: Ord. 87-0064 § 4, 1987: Ord. 86-0099U § 4, 1986: Ord. 85-0111U § 4, 1985: Ord. 84-0099 § 4, 1984: Ord. 84-0097U § 4, 1984: Ord. 83-0054 § 3, 1983: Ord. 82-0079 § 3, 1982: Ord. 11886 Art. 4 § 403, 1979.)
20.64.120 - Exemption from fee.
Any solid waste facility operator, waste collector or small volume transfer station not required to obtain a permit pursuant to Government Code Section 66795 et seq. or Section 20.68.020 of the Los Angeles County Code is exempt from Section 20.64.110.
(Ord. 91-0100 § 7, 1991.)
20.64.125 - Term of waste collector and self-hauler permits.
The term of a waste collector permit or a self-hauler permit shall be one year from the date of its issuance.
(Ord. 2007-0002 § 11, 2007: Ord. 92-0078 § 12, 1992; Ord. 91-0109 § 1, 1991.)
20.64.130 - Payment of fees and recordkeeping.
A.
Permit application fees shall be paid immediately upon the filing of any new permit application or upon the filing of an application for a revision or modification of an existing permit.
B.
Regulatory service fees shall be made payable to the "Los Angeles County Treasurer-Tax Collector" within 30 days following the due date.
C.
Payment of the regulatory services fees shall be accompanied by a statement from the solid waste facility operator specifying and certifying the total amount of tonnage or volume of solid waste received during the preceding month. Documentation substantiating the tonnage/volume upon which the solid waste regulatory fee is assessed shall be maintained by the operator and submitted monthly for review to the enforcement agency. The requirements of subsection C shall not apply to small volume transfer stations.
D.
Each solid waste facility shall provide access to the enforcement agency for the purpose of monitoring or verifying the accuracy of the date submitted by the operator in its determination of the permit or regulatory fees.
(Ord. 91-0100 § 8, 1991.)
