ARTICLE 7. - ADDITIONAL TREE REQUIREMENTS

Section 4.7.1. - Nuisances.
A.
Public Nuisances.
1.
Authority of City Arborist. The City Arborist has the authority to declare as a nuisance any tree or shrub or parts thereof growing on public or private property, and interfering or endangering the use of the public streets or sidewalks or obscuring sight distances and creating a traffic hazard on intersections or endangering the life, health, safety or property of the public.
2.
Notification of Nuisance. The City Arborist shall notify in writing the owner or interested parties of such tree or shrub of the existence of the nuisance and give a 15-day period of time for contracting for correction or removal of the nuisance or for requesting a hearing.
B.
Failure to Remove.
1.
Hearing. If the owner or interested parties have not corrected or removed the nuisance or contracted for correction or removal of the nuisance within the 15 day period, the City Manager or designee shall hold a hearing not less than 15 days nor more than 30 days following the notice of the City Arborist. The hearing shall be schedule at a date and time certain, within the City.
2.
Rights of Owner or Parties in Interest. The owner or parties in interest shall be given the right to file an answer to the notice, to appear in person, or be represented by an attorney and give testimony at the public hearing, as to why compliance with the notice from the City Arborist has not been achieved.
3.
Rules of Evidence. Rules of evidence prevailing in courts of law or equity shall not control in hearings before the City Manager or designee.
C.
Determination of Nuisance. The City Manager or designee shall determine at the hearing, on the basis of the evidence presented, whether or not the tree or shrub is a nuisance to the public and the owner's responsibility therefore.
1.
Issuance of Order. If the City Manager or designee determines that the tree or shrub is a nuisance, an order shall be issued, which shall be served upon the owner or parties in interest, requiring them to remove or correct the nuisance within 15 days.
2.
Failure to Correct or Remove. If not corrected or removed within such period, the City Arborist shall cause the nuisance to be corrected or removed and the cost shall be assessed to the owner or interested parties.
D.
Liens.
1.
Lien Against Real Property. The cost of the correction or removal shall be a lien against the real property upon which the tree or shrub is or was situated. The lien shall be prepared and entered by the Finance Department and recorded in the office of the Clerk of the Muscogee County Superior Court in the same manner which liens for costs for removal of weeds and other vegetation are filed.
2.
Payment of Lien. The owner or parties in interest shall pay the full amount due on a lien to the Director of Finance of the City within 30 days of perfection of the lien. If the lien is not paid in full within 30 days of the perfection of such lien, the owner or parties in interest shall pay:
(A)
Twenty-five percent of the total lien amount plus seven percent interest within 60 days of the perfection of the lien; and
(B)
The remaining balance due on such lien to be paid in three equal annual installments with interest at the rate of seven percent per annum, each of which shall become due and payable on the anniversary date of the initial payment made as prescribed herein.
3.
Sale or Conveyance of Real Property subject to a Lien. Should the property upon which a lien is perfected be sold, transferred or conveyed by the owner or parties in interest at any time, then the entire balance due on the lien shall be due and payable to the Director of Finance of the City.
4.
Failure to Pay. Should the amount due on a lien, or any portion thereof, be unpaid after the time for payment of the final annual installment provided in this Section, the amount shall continue as a lien together with interest at the rate of seven percent per annum until paid in full.
E.
Disease and Insect Infestation.
1.
Authority of City Council. Council shall have the authority to insist that all property owners treat or allow the City to treat trees or shrubs suffering from transmittable diseases or insect infestations which are on private property but are affecting the health of public trees on public property.
2.
Determination by City Arborist. If the City Arborist determines that disease or insect infestation warrants drastic action to curb its spread to healthy public trees, then the disease or infestation shall constitute a nuisance and the procedural requirements of Section 4.6.5 regarding a nuisance shall apply.
F.
Emergencies. In case of emergencies, such as windstorms, or other disasters, or other imminent danger to the health, safety or property of the public, including but not limited to automotive and pedestrian traffic due to obstruction of public sidewalks, streets or sight distances, the requirements of Sections 4.7.4 and 4.7.5 shall be waived so that the requirements of this Article would not hamper private or public work to restore order to the City. This work to be done in accordance with emergency standards as outlined by the City Arborist.
Section 4.7.2. - Enforcement and Administration.
A.
Review of Tree Protection and Tree Planting Plans.
1.
Review. The City Arborist shall review and approve or disapprove all tree protection plans and tree planting plans submitted as required by this Article.
2.
Period for Review. The City Arborist shall review and approve or disapprove a plan within 15 working days after it is filed.
3.
Issuance of Certificates and Permits. A site development permit, certificate of occupancy, or building permit shall not be issued without the approval of the City Arborist signifying compliance with the provisions of this Article.
B.
Fast Track Projects.
1.
Cooperative Review. On any project, which the City Manager determines to be a fast track, large economic development project, the Arborist will work with the Community Project Team, the Development Authority, the developer, and the company representatives to comply with the 15-day permit turn around time.
2.
Status of Projects. These are special projects determined by the City, and it is intended for this action to be processed concurrent with all other permitting actions relating to a project in support of its fast track designation.
C.
Revocation, Suspension or Voiding of Permits and Certificates. The City Arborist shall have the authority to revoke, suspend or void any site development permit, final inspection, or building permit or to withhold any certificate of occupancy or approval of a final plat, and shall have the authority to suspend all work on a site or any portion thereof, where tree removal or damage occurs in violation of this Article or the provisions of the approved Tree Protection and Planting Plan for the site. The City Arborist's authority to suspend work on a site must have the concurrence of the Director of the Department of Public Services.
D.
Falsification of Information. It shall be unlawful to falsify any information contained in any application, plan or report required by this Article or this Chapter to tree preservation, protection, installation or similar action. If the City Arborist makes a written determination at a person has falsified any application, plan or report required herein, such person:
1.
Shall not be permitted to certify compliance with this Chapter for a period of five years;
2.
Shall submit and implement a revised tree protection and planting plan approved by the City Arborist; and
3.
Shall be subject to a minimum fine of $500.00 for violation of this Section.
E.
Penalty. The penalty for any violation Article shall be in accordance with the applicable portions of the City Code. Each day of any violation of any provision of this Article shall constitute a separate offense. Any action which results in the death or destruction of a public tree located on City property shall be subject to fine in an amount equal to $100.00 for each inch of diameter at breast height or stump diameter if tree is no longer present, up to a maximum fine of $1,000.00. All money collected from fines shall be deposited in the Tree Replacement Fund.
(Ord. No. 09-40, § 1, 7-14-09)
Section 4.7.3. - Injunctive Relief.
A.
Civil Action. Whenever the City has reasonable cause to believe that any person, firm, corporation or other entity is violating this Chapter, or any term, condition or provision of an approved permit, it may, either before or after the institution of any other action or proceeding authorized by this Ordinance, institute a civil action in the name of the City for an injunction and order of abatement commanding the defendant to correct the unlawful condition or cease the unlawful use of the property.
B.
Civil or Criminal Penalties. The institution of an action for injunctive relief under this Section shall not relieve any party to such proceedings from any civil or criminal penalty prescribed for violation of this Chapter.
Section 4.7.4. - Miscellaneous.
A.
Trenching and Boring within the Critical Root Zone on City Property. Trenching within the critical root zone of any tree on City property shall be prohibited. The critical root zone is considered to be the root system within the dripline. Boring, auguring, or other alternative method may be employed that allows for the installation of underground utilities within the critical root zone but stays three feet or more below the surface of the ground.
B.
Damage by City Trees. When, in the opinion of the City Arborist, roots of a tree on public property damage City curbs, gutters and sidewalks including the portions of driveways on public right-of-way, the City shall be responsible for appropriate corrective measures which are least damaging to the tree. In the event the portion of the driveway on public right-of-way must be repaired or replaced, the City Arborist shall make a report to the City Manager, Director of Public Works and the Risk Manager detailing the nature of such damage, and in such cases, the City Manager is authorized to approve repairs or replacement of such driveway portion on public right-of-way in an amount not to exceed $2,500.00.
C.
Required Permits.
1.
Actions Affecting Public Trees. Any person or organization shall not take any of the following action to or upon any public trees as determined by the City Arborist unless previously approved in a site development permit or without first obtaining the proper permit from the City Arborist:
(A)
Cut, prune, climb with spikes, break, damage, remove, kill, or cause to be killed;
(B)
Cut, disturb or interfere in any way with any root within the drip line;
(C)
Place or spray with, any toxic chemical as listed in the maintenance standards;
(D)
Fasten any rope, wire, sign, or other device;
(E)
Remove or damage any guard devices placed to protect any tree;
(F)
Conduct razing, removal or renovation of any structures if deemed by the City Arborist to be damaging to neighboring trees;
(G)
Maintain a stationary fire or device which vaporizes noxious fumes deleterious to tree health; or
(H)
Pave with concrete, asphalt or other impervious material within four feet of a tree.
2.
Topping of Public Trees. The topping of any City tree for any purpose, including sight clearance for billboards, is prohibited and a permit shall not be issued for such action.
3.
Permit Fees. A permit fee of $35.00 shall be assessed for each permit and shall be applicable to the particular job as specified by the permit.
4.
Permit for Removal of Trees on City Property. A request for a permit to remove trees on City property may be submitted to the City Arborist, if accompanied by a proposed landscape plan. The landscape plan must show the number, size, and species of plants and must replace all removed trees at a 1:1 ratio.
5.
Tree Planting Standards. All trees proposed shall adhere to Section 4.6.15 relating to standards for tree planting.
6.
Exemptions. The City and public utility companies shall be exempted from acquiring individual job permits to perform necessary tree maintenance on public rights-of-way or public lands.
D.
Public Utility Standards for Maintenance of Trees. All work performed by public utilities involving maintenance of trees on public rights-of-way shall adhere to the standards listed below.
1.
Nature of Work. The work shall be limited to the actual necessities required to maintain safe and reliable systems.
2.
Necessary Maintenance. Necessary maintenance shall be deemed the maintenance necessary to prevent regrowth into the wire zone during the established cycle length.
3.
Maintenance Standards. All maintenance shall adhere to American National Standards Institute Standard 300, as amended.
4.
Waiver. During the event of a natural disaster, such as an ice storm, tornado or hurricane, the public utility standards for maintenance of trees shall be waived.
5.
Coordination. The public utilities shall communicate and coordinate with the City Arborist when clearing or pruning within the rights-of-way.
E.
Licensure of Tree Experts.
1.
Application. To protect the public, the City shall require anyone who removes or maintains trees as a business on public or private lands to be licensed.
2.
Examinations by City Arborist. In order to be licensed, individuals shall be examined by the City Arborist to determine the ability to conduct such work before granting a license to practice as a tree expert.
3.
Other Examinations. Passage of the examination administered by the International Society for Arboriculture (ISA) for Certified Arborist or Certified Tree Worker may be accepted in lieu of an examination by the City Arborist.
4.
City Workers. Employees of the City responsible for maintaining public trees shall be examined in the field for their ability to properly prune, maintain, or remove trees but shall not be required to pay the application fee.
5.
Application. A $25.00 fee shall be made payable to Columbus, Georgia to accompany the application for examination for each applicant.
F.
House Moving Permits. To avoid damage to public trees, any building or other large objects which is to be moved along any street must obtain the following:
1.
Written permission from the City Arborist; and
2.
A permit from the Inspections and Code Enforcement Division.
(Ord. No. 14-2, § 2, 1-14-14)
Section 4.7.5. - Land Clearing, Timber Harvesting, and Speculative Grading.
A.
Exemption.
1.
Bona Fide Agricultural Purposes. Land clearing for bona fide agricultural purposes within an RE10 or RE5 zoning district, including legitimate timber harvesting, plant or tree nurseries and orchards, is exempt from the provisions of this Article and Article 6 of this Chapter.
2.
Excluded Tree Harvesting. The exemption provided in this Section shall not be interpreted to include tree harvesting incidental to the development of land, or tree harvesting on land that is anticipated to be developed for nonhorticultural uses.
B.
Natural Area Required.
1.
Timber Harvesting. All legitimate timber harvesting on tracts of five or more acres shall be required to provide and maintain a 50 foot wide undisturbed natural area adjacent to all paved public road frontages during harvesting and site preparation activities.
(A)
Crossings Permitted. A maximum of two access crossings will be allowed.
(B)
Maintenance. The natural area is to be maintained for five (5) years.
2.
Other Land Disturbing Activities. For all other land disturbing activities in anticipation of development other than those specified in this Section, a natural areas with an average width of at least 30 feet shall be maintained adjacent to all paved public road frontages.
(A)
Calculation of Average Width. The average shall be calculated on the plans submitted and include for credit in said calculation only the first 60 feet of the site closest to the right-of-way.
(B)
Retention of Natural Area. The natural area shall be maintained until a tree protection or planting plan is approved for the site adjacent to all paved public road frontages. The plan may be in narrative form, and shall provide for planting as required by either the perimeter planting requirements of Article 6 of this Chapter or the requirements of Article 5 of this Chapter relating to buffering screening and landscaping, whichever is applicable, or seek a variance from such requirements.
Section 4.7.6. - Cooperation with Other Departments.
There shall be close cooperation between the City Arborist, the Public Services Department, the Planning Department, the Department of Inspections and Codes, the Engineering Department, the Parks and Recreation Department and all other city departments when their work affects public trees. The City Arborist shall review and comment on the proposed landscaping plans of all recreational lands and other public properties within the City and any plan or project of any department of this city which requires the removal of any tree.
(Ord. No. 09-40, § 1, 7-14-09)
Section 4.7.7. - Nonliability of City.
Nothing in this Article or Article 6 of this Chapter shall be deemed to impose any liability upon the City or upon any of its officers or employees, or to relieve the owner and occupant of any private property from the duty to keep trees and shrubs upon his private property or under his control in a safe condition.
