ARTICLE IV. - GENERAL REQUIREMENTS

Sec. 4.01. - Conflicting regulations.
Whenever any provision of this chapter [appendix] imposes more stringent requirements, regulations, restrictions or limitations than are imposed or required by any other county ordinance, this chapter [appendix] shall govern.
Sec. 4.02. - Scope.
No building or structure, as defined herein, or part thereof, shall hereinafter be erected, constructed, reconstructed, or altered and maintained, and no new use or change shall be made or maintained of any building, structure or land, or part thereof, except in conformity with the provisions of this chapter. Land, structures and buildings presently used for agricultural purposes are exempted from residential, commercial and industrial zoning restrictions; however, any present agricultural use and/or improvement must satisfy agriculture district regulations regardless of the district within which they are developed.
Sec. 4.03. - Only one principal building per lot.
Except as herein provided, there shall be no more than one principal building per lot or parcel other than within a (residential or commercial) planned unit development (PUD). For the purpose of supporting farming operations there shall be permitted in the AG district one accessory residential use per each ten acres on a farm under single ownership where the following conditions can be met:
A.
Each such nonprincipal/accessory residence shall have a land area of not less than one acre reserved for the specific use of said residence.
B.
Each such land area shall be defined by permanent, physical markers and assigned an address in conformance with the county's rural address system.
C.
Each such land area shall have direct access to the public thoroughfare system.
D.
Each such land area must meet with approval of Marion County Health Department as to suitability for effective disposal of wastewater generated by occupants of the residence.
E.
A domestic water supply which meets with the approval of the Marion County Health Department shall be available to each nonprincipal/accessory residence.
F.
Individual power supply sources shall be provided to each such land area and each power supply installation shall meet such standards as have been adopted by local authorities.
G.
Facilities established under this special provision for residential use shall meet the requirements of local construction and use codes established by the board of commissioners.
H.
Permits for construction shall not be issued by the zoning administrator until the applicant demonstrates the ability to comply with each of the aforementioned conditions. In addition, any change in use or occupancy must be approved by the zoning administrator.
I.
Occupants of nonprincipal/accessory residences shall be:
(1)
Fulltime farm employees, or family members thereof, of [or] the property owner and responsible for agricultural production of the property; or
(2)
Related by blood or legal ties to the owner of the property.
J.
No commercial use of this special provision will be permitted.
K.
No used mobile or manufactured home shall be allowed to locate for permanent or temporary occupancy in this county if such mobile home is more than ten years old, title will be required. However, any mobile or manufactured home that is located in the county [that] will be affected by passage of the resolution from which this section was derived and such owner/occupied existing mobile home shall be freely transferable and relocated in the county, unless such existing mobile or manufactured home was manufactured prior to U.S. Housing and Urban Development Department construction standards and has been inspected by the county building inspection department to insure all windows, doors, smoke detectors, plumbing system, electrical system, heating system and ventilation systems are in working order: the general appearance of the mobile or manufactured home shall be acceptable with all siding and paneling in its proper place. However, outside cleaning or painting may be required.
L.
Foundation for mobile homes must comply with FHA and/or regulations. Block or brick skirting [of] 8-inch block on 12-inch footing, 16-inch by 16-inch by four-inch deep.
Sec. 4.04. - Maximum building height.
With the exceptions identified herein, no building or structure shall be constructed higher than 75 feet as measured from the average elevation of the finished grade at the building's perimeter to the highest point on the building. This height limitation shall not apply to chimneys, church spires, communication towers, cooling towers, elevator legs, grain elevators, silos, smokestacks, water towers, windmills.
Sec. 4.05. - Substandard lots.
Any lot of record September 20, 2001, that does not meet the requirements of this chapter for yards or other area or open space, may be utilized for use for which it is herein zoned, provided the area of such yard or court in width, depth, or open space is not less than 75 percent of that required by the terms of this chapter [appendix]. However, substandard lots in the rural residential and agriculture districts are exempted from the 75 percent requirement. The purpose is to permit utilization of recorded lots which lack adequate width or depth as long as reasonable living or working standards can be provided. Adjacent substandard lots under the same ownership shall be combined, where possible, to make standard lots.
Sec. 4.06. - Substandard lots resulting from public dedication or condemnation.
In the event an undeveloped lot of record is reduced in size through an act of public dedication or condemnation for public purposes, the development standards contained in this chapter [appendix] for width, depth, or area may be waived by the planning commission and such property may be utilized for all permitted and, where authorized, conditional uses. Said waiver is permissible only if the county health department determines that the health and general welfare of the lot owner and Marion County will not be adversely affected by the intended use. Adjacent, undeveloped lots of record which are owned by the same individual and which are affected by dedication or condemnation for public purposes shall be combined, where possible, to standard lots.
Sec. 4.07. - Lot frontage.
Every lot shall front a public road. No building shall be erected on a parcel that does not abut a public street, or road, except as otherwise provided herein.
Sec. 4.08. - Site distance at intersections.
In all districts, no fence, wall, or other fixture, hedge, shrub or other planting which obstructs site lines at elevations between two and 12 feet above the roadway shall be placed or permitted to remain on any corner lot within the triangular area forward by the street right-of-way lines and a line connecting them at points 25 feet from the intersection of the street lines, or in the case of a rounded property corner, from the intersection of the street right-of-way lines extended. No trees shall be permitted to remain within such distances of such intersection unless the foliage line is maintained to comply with the site lines.
Sec. 4.09. - Reduction of lot area prohibited.
No lot shall be reduced in size so that the yard, lot width, lot area or other requirements of this chapter [appendix] are not maintained, except in cases where the size of a lot of record is reduced as a result of public dedication or condemnation for public uses, and where such size reduction has been approved by the planning commission.
Sec. 4.10. - Accessory buildings.
Except as otherwise permitted in this chapter [appendix], accessory buildings shall be subject to the following regulations:
A.
Where an accessory building is structurally attached to the principal building, the accessory building shall be subject to and must conform to all regulations of this chapter [appendix] applicable to principal buildings.
B.
No detached accessory building shall be located closer than 15 feet to any principal building.
C.
Accessory buildings, except garages, may be erected in side yards and rear yards only, and shall not be nearer than ten feet to any adjoining side lot line or rear lot line.
D.
In any residential zone, no garage shall be erected closer to the side lot line than the permitted distance for the dwelling.
E.
In any residential zone, no carport shall be erected, constructed or altered closer to the side lot line than the permitted distance for the dwelling, nor beyond the front line of the house to which it is attached.
F.
An accessory building shall not exceed one story or 14 feet in height, and shall not exceed the ground floor area of the principal building.
G.
In the case of corner lots, accessory buildings shall observe front yard requirements on both streets.
Sec. 4.11. - Prohibited uses in residential districts.
A.
It shall be prohibited in all residential districts to park or store in the open, wrecked or junked vehicles, power driven construction equipment, or any miscellaneous scrap or salvageable material in quantity, e.g., used lumber, metal, rubbish.
B.
Wrecked or junked vehicles in "open" buildings [are prohibited.]
Sec. 4.12. - Protective screening.
In order to provide adequate protective screening for residential areas adjacent to or near nonresidential areas, the following regulations shall apply:
A.
Purpose and intent. The following regulations are designed to promote the health, safety, order, aesthetics and general welfare by eliminating/reducing conflicts between incompatible uses of land, providing for a more attractive environment, assuring adequate open space, and reducing noise, night lighting, odor, objectionable views, loss of privacy and other adverse impacts and nuisances through the use of buffers and landscaping.
B.
Buffer required.
1.
Property zoned for office, commercial or industrial uses shall provide a buffer, as herein defined, along any rear or side property lines abutting a residential district or abutting an alley across from a residential district.
2.
If the consensus of the planning commission is that the buffer would serve no good purpose, the buffer requirement may be waived.
C.
Buffer specifications.
1.
Where determined appropriate by the zoning administrator, existing vegetation may constitute all of the required buffer, or be supplemented with approved, additional planting.
2.
Vegetation, except for ground cover shall be of such type as to be a height of not less than four feet when planted; provided that such plant materials can form a hardy screen, dense enough and high enough both to interrupt vision and to reduce the transmission of sound and be of a type that will grow to a height of at least six feet.
D.
Landscape strip required.
1.
The owner/developer of any:
a)
Property zoned R-3.
b)
Commercial zoned property which abuts an industrial zone.
c)
Industrial zoned property which abuts a commercial zone.
d)
Commercial or industrial zoned property which abuts a residential zone.
e)
Conditional use commercial or conditional use industrial property shall provide landscape strips, as herein defined, ten feet deep along the full length of the developed portion abutting any public road, and five [feet] deep along the developed portion of side and rear property lines.
2.
Acceptable plant material. In those instances where the natural vegetation and topography is insufficient to achieve the desired level of screening as required by this chapter, a planted buffer shall be provided and shall consist of plant material of such growth characteristics as will provide an acoustical and visual screen. The following plants (excluding dwarf varieties) are approved for use in required buffers and landscape strips.
a)
Trees. Trees used for screening purposes should be native to the region and shall not be deciduous. They shall be of a type that will grow to at least six feet. Acceptable types of trees include, but are not limited to, the following:
American Holly
Arizona Cypress Redbay
Cherry Laurel
Eastern Red Cedar
Leyland Cypress
Little Gem Magnolia
Loblolly Pine
Loquat
Virginia Pine
White Pine
Yaupon Holly
b)
Shrubs. Shrubs used to form hedges shall not be deciduous. They shall be at least two feet above ground level when planted. They shall be spaced in such a way that, when mature, they will form a continuous visual screen (hedge) that is at least six feet in height. Acceptable types of shrubs include, but are not limited to, the following:
Burford Holly
California Privet
Cleyera
European Privet
Fuonymus
Japan Yew
Japanese Privet
Northern Bayberry
Pittsporum
Sasanqua Camellia
Southern Waxmyrtle
Tea Olive
c)
Other materials. Other evergreen plant materials having the same general characteristics as the aforementioned may be substituted, subject to approval of the zoning administrator prior to installation. Planting of kudzu is prohibited. A grassed, earthen berm may be substituted, provided a continuous visual screen, with or without acceptable shrub or hedge material, is formed at least six feet in height. This option shall not create a drainage problem for the adjoining property whether publicly or privately owned.
E.
Maintenance of buffers and landscape strips. The owner/developer of the property shall be responsible for: (1) installing the trees and shrubs and maintaining them in a neat and orderly appearance), (2) providing an aesthetically pleasing appearance, and (3) assuring that the buffer actually serves the purpose for which it is intended. In cases of noncompliance the zoning administrator shall be empowered to take action as provided by law to ensure maintenance of all plant and landscaping materials.
F.
Administration and enforcement. All site plans, plot plans, construction plans, and grading and drainage plans shall indicate all required buffers and landscape strips. Required buffers and landscape strips shall be installed in accordance with approved plans prior to issuance of a certificate of occupancy.
G.
General provisions.
1.
Landscaping, fencing or walls shall be used to screen objectionable views or nuisances such as service areas, refuse containers, air conditioning units, transformers, private water system tanks and wells, etc.
2.
The exact location for walls and fences constructed pursuant to the requirements of this section shall be determined on a case by case basis subject to approval of the zoning administrator. Such improvements shall be a minimum of six feet high above grade elevation and constructed of materials approved by the zoning administrators walls of brick, stone or concrete block textured or coated with an architectural finish (paint, stucco, etc.); fences of wood or other material that achieves the desired visual and acoustical screening with finished surface facing externally to the project.
Sec. 4.13. - Animals in residential districts.
A.
[Intent.] It is the intent of this section to permit certain uses in R-1, R-2 and RR districts which involve the keeping of limited numbers of domestic animals or pets where it is recognized that such areas are changing from agricultural to suburban residential in character. This section is further intended to minimize problems which may arise from such animal uses and to provide suitable standards for protection of health, safety, welfare and preservation of residential districts from indiscriminate raising of animals.
B.
Uses permitted.
1.
Permitted use provisions for animals in residential districts are meant to apply only outside of the residence on an individual lot and are not intended to restrict the type or number of animals within a residence.
2.
The keeping of livestock fowl or domestic pets shall not be allowed to become a nuisance.
3.
Domestic pets such as cats, dogs, rabbits or other generally recognized domestic pets may be kept or bred by persons residing on the property for their use and enjoyment. The keeping of swine is specifically prohibited.
4.
Livestock and fowl kept in any residential district shall be maintained at least 25 feet from any property line.
C.
Conditional uses permitted: The following uses are allowed upon a conditional use permit granted by the board of commissioners:
1.
Livestock. Horses, cows, ponies, donkeys and other, similar domestic livestock may be kept, raised or bred for home use and enjoyment; provided only one such animal shall be permitted for each two acres, exclusive of the front and side yards of the principal dwelling; and all livestock shall be contained by fence within said minimum area.
2.
Fowl. Ducks, quail, chickens, turkeys, pigeons, pheasants, etc., may be raised for home use provided such fowl are adequately contained within that property.
D.
Uses prohibited. The keeping, breeding or training of any animals or fowl for monetary gain or profit shall be deemed a commercial business and is expressly prohibited in all residential districts except where such operations may qualify as a home occupation or as a nonconforming use as defined in this chapter [appendix]. The keeping of swine is specifically prohibited.
Sec. 4.14. - Conditional uses.
A.
Before a building permit shall be issued for a conditional use, application shall be made to the planning commission, which, after careful review of any applicable sections of this chapter [appendix], may recommend to the board of commissioners the issuance of such permit if, in the judgment of the planning commission, it will not be detrimental to the health, safety and general welfare of the county.
B.
An application to establish a conditional use shall be approved following a review by the planning commission and a determination by the board of commissioners that:
1.
The proposed use shall not be contrary to the purpose[s] of this chapter [appendix].
2.
The proposed use shall not be detrimental to the use or development of adjacent properties or the general neighborhood, nor affect adversely the health and safety of residents and workers.
3.
The proposed use shall not constitute a nuisance or hazard because of the number of persons who will attend or use such facility, vehicular movement noise or fume generation or type of physical activity.
4.
The proposed use shall not be affected adversely by the existing uses, and the proposed use will be placed on a lot of sufficient size to satisfy the space requirements of said use.
5.
Parking and all development standards set forth for each particular use for which a permit may be granted have been met.
C.
The board of commissioners may impose or require additional restrictions and standards as may be necessary to protect the health and safety of workers and residents in the community and to protect the value and use of property in the general neighborhood. Whenever the board of commissioners shall find, in the case of any permit granted pursuant to the provisions of this chapter [appendix], that any term, condition or restriction upon which such permit was granted is not being complied with, the board of commissioners shall rescind and revoke such permit after giving due notice to all parties concerned and granting full opportunity for a public hearing.
Sec. 4.15. - Variances.
A.
The planning commission shall authorize, in specific cases, variances from the terms of this chapter [appendix] to the extent said variances will not, in the opinion of the planning commission, be contrary to the public interest, and where owing to special conditions a literal enforcement of this chapter [appendix] will, in an individual case, result in unnecessary hardship. Variance may be granted in individual cases of unnecessary hardship upon a finding that:
1.
There are extraordinary and exceptional conditions pertaining to the particular piece of property in question because of its size, shape or topography;
2.
The application of this chapter [appendix] to this particular piece of property would create an unnecessary hardship;
3.
Such conditions are peculiar to the particular piece of property involved; and
4.
Relief, if granted, would not cause substantial detriment to the public interest or impair the purposes and intent of this chapter [appendix].
B.
No variance may be granted for use of land or building that is prohibited by this chapter [appendix]. The county will control the actual use of properties through zoning and conditional uses and not through variance.
C.
In exercising the powers granted in subsection (a) of this section, the planning commission shall not consider any nonconforming use of neighboring lands, structures or buildings in the same district, nor any permitted use of lands, structures or buildings in other districts as grounds for the issuance of a variance.
D.
If the planning commission grants a variance, the reason for such variance must be put forth clearly in the minutes of the meeting at which the variance was granted.
E.
A public hearing is required for all variances.
Sec. 4.16. - Special exceptions.
Prior to any uses being permitted as special exceptions, a request for a hearing before the planning commission must be made and the following procedures shall be observed:
A.
The owner of the real property involved shall submit an application in writing to the zoning administrator of the owner's request for a special exception with a $100.00 fee. Such application shall include the street address of the real property involved, the lot dimensions, a description of the structures on the real property, fences, the names of the adjacent owners, the present zoning designation of the property involved and of the property adjacent to the property involved; and such other information as the planning commission may require.
B.
The zoning administrator, upon receipt of an application for a special exception, shall, within three days from receipt of such application, notify the chairperson of the planning commission and deliver a copy of such application to said chairperson.
C.
The zoning administrator shall cause to have posted in a conspicuous place on the property in question a sign of not less than 12 square feet in area which shall contain information as to the proposed request for a special exception and the date, time and place of the public hearing to be held by the planning commission. The planning commission shall fix a reasonable time for a public hearing on the request for a special exception and shall give at least 15 days public notice of the time and place of said hearing, to be published in the newspaper of general circulation in the county.
D.
The planning commission at said public hearing shall consider any testimony in favor of or opposed to said request for a special exception and shall either grant or deny said request for a special exception at the conclusion of said public hearing using the following standards:
1.
The proposed use or structure shall be compatible with development and uses existing on adjacent and nearby property.
2.
The proposed use or structure shall not have a substantial adverse impact upon the existing use or usability of adjacent or nearby property.
3.
The proposed use or structure shall not cause an excessive or burdensome use of existing streets, transportation facilities, utilities, schools or other public facilities.
4.
Any other relevant factors, including the conformity of the proposed development with duly adopted land use and other physical development plans or policies for the area, may also be considered.
E.
Special exceptions granted by the planning commission shall be valid for a period of 12 months from date of approval, shall not be transferable except upon written approval of the board of commissioners, and shall be executed within the grant period or become null and void and subject to procedures for resubmission as established in this section.
F.
Said special exception, if granted by the planning commission, shall be granted only for the special exception requested in the application and for no other purposes.
Sec. 4.17. - Site plan review.
A.
In order to assure that the requirements of this chapter [appendix] are satisfied, all applications for a building permit shall be accompanied by a building site plan which shall conform to the list of requirements, and be reviewed by the zoning administrator to determine compliance with this chapter [appendix] before a building permit is issued;
1.
Site location map.
2.
The site plan shall be drawn to a minimum scale of one inch equals 100 feet. The building official may request that the plan be drawn by a registered engineer or surveyor certified to work in Georgia if questions of soil suitability or flood zone locations exist within the property for which a building permit is being sought.
3.
The plan shall show all property lines.
4.
The plan shall show the complete outline of the proposed building at the location where it is proposed to be built.
5.
The plan shall show all required building setback lines: front, rear and sides. No part of any permanent structure shall encroach on any required setbacks.
6.
The plan shall show all required parking, landscape buffers and all other requirements as set out in this chapter [appendix].
B.
After the zoning administrator has reviewed the site plan, a letter stating approval/disapproval will be sent to the building official.
C.
Before inspection of the foundation, the builder shall run string connecting all the iron pins that define the corners of the lot to create an outline of the lot on the ground.
D.
At the time the building official conducts the foundation inspection, he will measure from the string determining the property lines to the proposed outermost edge of the building to assure compliance with the requirements of this chapter [appendix] as they pertain to required setbacks.
Sec. 4.18. - Landfills and waste disposal.
A.
No landfills and/or waste disposal will be permitted by any county, individual and/or any other organization except for:
1.
On a limited basis, a individual farmer may spread waste on his or her land for the production of crops, in accordance with sound agricultural practices.
Sec. 4.19. - Code requirements and state regulations.
[A.]
[Generally.] Pursuant to the Georgia Uniform Codes Act of 1989 (O.C.G.A. § 8-2-20 et seq.), all buildings constructed in Marion County after January 1, 1995, must be constructed in compliance with the following minimum codes:
(1)
Standard Building Code.
(2)
Standard Gas Code.
(3)
Standard Mechanical Code.
(4)
Standard Plumbing Code (or Georgia State Plumbing Code).
(5)
National Electrical Code.
(6)
Council of American Building officials One- and Two-Family Dwelling Code (excluding its plumbing provisions).
(7)
Georgia State Energy Code for Buildings.
In addition, applicable regulations of the department of transportation, state fire marshal, and the state health department, as enforced by the Marion County Health Department, shall be satisfied.
[B.]
Wetlands. Maps prepared by the U.S. Department of Interior and the U.S. Geologic Survey for the National Wetlands Inventory Program are supplemental but integral to interpretation and enforcement of this ordinance. They are a general representation of the location of designated wetlands.
All developments proposed for sites which, in the opinion of the codes administrator, appear to be located within a federally designated wetland based on his review of applicable National Wetland Inventory Maps, shall be further reviewed in accordance with provisions of section 404 of the Federal Clean Water Act. Neither the codes administrator, planning commission nor county commission shall make any representation as to the length of time the detailed review may take. Neither shall the planning commission nor county commission be held to approving or denying any request for development within any time period which may otherwise be established herein.
