ARTICLE XX. - OFF-STREET PARKING AND LOADING REQUIREMENTS

Sec. 20.01. - Scope of provisions.
No certificate of occupancy shall be issued until off-street parking and service facilities have been provided in accordance with applicable codes of the county.
