ARTICLE XXVI: - ZONING AMENDMENTS, APPLICATIONS AND PROCEDURAL REQUIREMENTS

Section 1: - Purpose and Intent
The purpose of this Article is to provide a standardized set of rules for the application process for rezoning, variances, and conditional use requests from the Mayor and Council of the City of Butler.
(Ord. of 3-12-2019)
Section 2: - Text or Map Amendments
After due notice and public hearing, the Butler City Council may supplement, modify, vary or change the boundaries of the zoning districts or the requirements of this resolution by adopting amendments to the zoning map or text.
A.
Initiation of Amendment: Amendments to the zoning map or text may be proposed by the City Council or by any owner of property within the area proposed for change.
B.
Procedure: An application for amendment shall be filed with the Office of the Zoning Administrator at least sixty (60) days prior to the date on which the request is to be considered by the City Council.
C.
Review: No amendment shall become effective unless it shall have been reviewed, and a public hearing held, by the City Council.
D.
Public Hearing: The City Council shall hold a public hearing on an application for amendment. Notice of the time, place, and purpose of the hearing shall be published at least thirty (30) days but not more than forty-five (45) days before the hearing in a newspaper of general circulation in the City of Butler. If the request for amendment is initiated by a party other than the City Council, then the notice of the hearing must contain the applicant's name, the time, place, purpose of the hearing, the location of the property, the present zoning classification of the property, and the proposed zoning classification of the property; further, a sign containing this information shall be placed in a conspicuous location on the property not less than thirty (30) days prior to the date of the hearing.
E.
Fee: Each application for rezoning by amendment shall be accompanied by an application fee in the amount established by the City of Butler to partially defray administrative costs.
F.
Frequency of Application: If an amendment to rezone property is not approved by the City Council, then the same property may not again be considered for rezoning until the expiration of at least six (6) months immediately following the disapproval of the rezoning amendment by the City Council.
(Ord. of 3-12-2019; Ord. of 6-13-2023(1))
Section 3: - Public Hearing Policies and Procedures for Zoning Amendment Requests
A.
Public hearings regarding zoning amendment requests held pursuant to this Ordinance shall be conducted as follows:
1.
The presiding officer shall allow the Zoning Administrator to present an overview of the application.
2.
Following this presentation, the applicant or the applicant's agent or attorney shall be allowed to present the applicant's case and then shall be afforded an opportunity, prior to the closing of the public hearing, to answer questions and respond to objections of others in attendance. A minimum of ten (10) minutes is allowed for presentation of data, evidence, and opinion by proponents of each zoning decision and a minimum of ten (10) minutes for presentation by opponents of each proposed zoning decision.
a.
Those desiring to speak or make a statement shall be given reasonable opportunity do so but must first raise his/her hand and be recognized by the presiding officer. Upon rising to speak, the person recognized will state his/her name and a home or business address for the record.
b.
Groups, affiliations, and associations should designate a spokesperson to speak for the group.
c.
Both proponents and opponents of the matter under consideration shall be given equal time and opportunity by the presiding officer to speak.
d.
Questions shall be directed only to the presiding officer, who shall respond or designate another person for the response.
e.
The presiding officer may limit or terminate the discussion, statements or comments because of time, repetitiveness or irrelevancy.
f.
Applicant may reserve any remaining time for rebuttal.
3.
After all discussion concerning the rezoning application is concluded, the presiding officer shall close the public hearing for that particular application.
B.
Publication of Standards
1.
The criteria of Sections 5 and 6 below shall be available to the public to aid in the preparation of an amendment to the Zoning Ordinance or for a change to the City of Butler Zoning Map.
(Ord. of 3-12-2019)
Section 4: - Policies and Procedures for City Initiated Zoning Amendment Requests
A.
In the case of amendments to the text or map of this ordinance, the Butler City Council will, where appropriate, utilize any new or existing land use studies, land use plans or other relevant documents as a resource. The City Council will hold at least one public hearing on any proposed amendment to this ordinance.
B.
Public hearing notices will be published within a newspaper of general circulation within the City of Butler at least one time and at least thirty (30) days but not more than forty-five (45) days prior to the official public hearing date. The public notice will state the time, place, and purpose of the hearing.
C.
Public hearings will be convened at the advertised time and place and will be presided over by the appropriate official.
D.
The presiding officer of the public hearing will open the hearing by reviewing the following operating procedures.
E.
Individuals wishing to address the City Council at their respective hearings must first be recognized by the presiding officer for the purpose of speaking. Those addressing the City Council must first identify themselves by first and last names, and give their home road address, and where appropriate, business road address.
F.
The presiding officer shall recognize those proponents wishing to speak before the City Council on behalf of the proposed zoning decision for a time not to exceed ten (10) minutes.
G.
The presiding officer shall recognize those opponents wishing to speak before the City Council against the proposed zoning decision for a time not to exceed ten (10) minutes.
H.
To the extent the presiding officer wishes to allow either side additional time to speak or to rebut the other side's arguments, the presiding officer may do so as long as an equal amount of time is given to the opposing side to also speak or rebut the question at issue before the City Council.
I.
Appropriate notes or minutes will be recorded by the Zoning Administrator at the public hearing.
J.
The Zoning Administrator shall prepare and submit the necessary rezoning evaluation and/or recommendations to the City Council prior to the public hearing.
K.
The City Council, at its public hearing, will review the evaluation and recommendations from the Zoning Administrator and may choose to adopt, reject or modify the recommendations, or the business may be tabled to the next regular City Council meeting for additional study.
(Ord. of 3-12-2019; Ord. of 6-13-2023(1))
Section 5: - Procedures for Zoning Amendment Requests by a Citizen or Property Owner
A.
An application for rezoning must be filed with the Zoning Administrator on a prescribed form, accompanied by an application fee in the amount established by the Butler City Council. The application shall be filed at least sixty (60) days prior to the date of the City Council meeting at which the application is to be presented.
B.
An application for rezoning should contain the following:
1.
A completed copy of the application for a Zoning Map Amendment on the form provided by the Zoning Administrator.
2.
A conceptual site plan depicting the proposed use of the property including:
a.
A correct scale and north arrow;
b.
The proposed land use and building outline as it would appear should the zoning map amendment application be approved;
c.
The present zoning classification of all adjacent parcels;
d.
The gross square footage of all proposed buildings;
e.
The proposed location of all driveways and entry/exit points for vehicular traffic, using arrows to depict direction of movement;
f.
The location of required off-street parking and loading spaces, including number of spaces and driveway dimensions;
g.
Required yard setbacks appropriately dimensioned;
h.
The location and extent of required buffer areas, depicting extent of natural vegetation and type and location of additional vegetation if required.
C.
Within ten (10) days of receipt of an application for Zoning Map Amendment, including the conceptual site plan, the Zoning Administrator shall determine compliance with this Section and shall either accept the application as being "sufficient" or reject is as being "insufficient." If it is so rejected, the revised application may be resubmitted for the following application period. The City will refund fifty (50%) percent of the application fee for a rezoning if the Zoning Administrator rejects said application due to an insufficient site plan.
D.
The Zoning Administrator will inform the applicant of the public hearing date. The City Council will convene a public hearing on each application at the date, time and location advertised. The public notice will appear at least one time in a newspaper of general circulation, no less than thirty (30) days nor more than 45 days prior to the public hearing.
E.
The public hearing notice will name the applicant, the location of property to be affected, the present zoning class, the proposed zoning class and the date, time, place, and purpose of the public hearing held by the Butler City Council.
F.
At least thirty (30) days prior to the date of the public hearing, the Zoning Administrator shall have erected in a conspicuous place upon the property for which rezoning is to be considered one (1) or more signs, each of which shall not be less than three (3) square feet in area and each of which shall contain the same information as included in the public hearing notice.
G.
All public hearings for amendment to the City of Butler Zoning Ordinance or for a change to the City of Butler Zoning Map shall follow the procedures listed in Section 3.
H.
Approval of all rezoning of property requests must be formally approved by the Butler City Council.
I.
Any application for rezoning of a particular parcel of property which is denied by the City Council may not again be considered for rezoning until the expiration of at least six (6) months immediately following the defeat of the rezoning request.
(Ord. of 3-12-2019; Ord. of 6-13-2023(1))
Section 6: - Criteria for the Review of Rezoning Amendments
Decisions of whether to approve or deny a petition to rezone property shall be based on the following criteria. These criteria are established to assist the City Council in balancing the interests of the public with the interests of the private property owner:
A.
Does the proposed zoning classification promote the health, safety, morals and general welfare of the City of Butler?
B.
The existing uses of the subject property and adjacent and near properties.
C.
The current zoning of the subject property and adjacent or near properties.
D.
The extent to which property values are diminished by the present zoning restriction.
E.
The extent to which the restrictions diminish the property's value, the health, safety, morals or general welfare of the public.
F.
The relative gain to the public compared to the extent of hardship imposed upon the individual property owner (in retaining the current zoning designation).
G.
The suitability of the subject property for the zoned purposes.
H.
The history of the use of the subject property considered in the context of land developments in the vicinity of the property.
I.
Conformity with the City of Butler Future Land Use Plan.
(Ord. of 3-12-2019)
Section 7: - Conditional Uses
The Zoning Administrator may recommend to the City Council approval of a petition to rezone provided the applicant agrees to certain specified conditions related to the proposed rezoning. The City Council will make the final decision. The procedures and application process are the same as in Section 5—Procedures for Rezoning Request by a Citizen or Property Owner. The sign posted on-site of the subject property shall include any conditions, requirements or limitations deemed by the Zoning Administrator to be necessary for protection of adjacent properties and the community as a whole and to carry out provisions of this ordinance.
***
All Conditional Uses requests must be formally approved by the Butler City Council.
(Ord. of 3-12-2019)
Section 8: - Criteria for the Review of Conditional Uses
An application to establish a conditional use shall be approved following a review by the Zoning Administrator and a determination by the Butler City Council that:
A.
The proposed use will not be contrary to the purpose(s) of this ordinance or the comprehensive plan;
B.
The proposed use will not be detrimental to the use or development of adjacent properties or the general neighborhood, nor affect adversely the health and safety of residents and workers;
C.
The proposed use will not constitute a nuisance or hazard because of the number of persons who will attend or use such facility, vehicular movement, noises or fumes generation or type of physical activity; however, as noted in Article IV, Sections 1 and 4, some odors, noise, etc. is inherent in agricultural activities, and this ordinance is intended to promote the continuance of a healthy agribusiness presence in the city. To assist in determining whether or not a proposed use is a significant nuisance, the Zoning Administrator should take into consideration whether or not the applicant has been in compliance with published Best Management Practices for the activity considered. Strict conformance to applicable BMP's should be recognized as adequate measures in most cases to offset nuisance concerns.
D.
The proposed use will not be affected adversely by the existing uses, and the proposed use will be placed on a lot of sufficient size to satisfy the space requirements of said use;
E.
Parking and all development standards set forth for each particular use for which a permit may be granted have been met, and
F.
Provided, the City Council may impose or require such additional restrictions and standards as may be necessary to protect the health and safety of workers and residents in the community and to protect the value and use of property in the general neighborhood, provided that, whatever the City Council shall find, in the case of any permit granted pursuant to the provisions of these regulations, that any term, conditions or restrictions upon which such permit was granted are not being complied with, said City Council shall rescind and revoke such permit after giving due notice to all parties concerned and granting full opportunity for a public hearing.
(Ord. of 3-12-2019)
Section 9: - Variances
This section describes the process for addressing unusual situations or unique problems that may arise from the strict interpretation or enforcement of this Zoning Ordinance, including appeals from an administrative decision, for a special exception, and for unique hardships restricting reasonable use of a property. The City Council may grant specified variances from the requirements of the ordinance. The City Council shall have the power to authorize a variance from the terms of this ordinance where a literal enforcement of the zoning requirements would result in undue hardship, but where exercise of such authority is not contrary to the public interest. A Variance Request Report shall be provided to the City Council within fifteen (15) days of the request.
Persons may appeal to the City Council for relief under the following circumstances:
A.
Special exception variance. When an exception is desired for a particular property from certain requirements of this Ordinance, as specified in this Article.
B.
Hardship variance. When compliance with the requirements of the Zoning Ordinance would create a particular and unique hardship.
C.
Administrative decision. When aggrieved by an action or an interpretation of the Building Inspector or any other administrative official of the City made under this Zoning Ordinance.
A Variance is a permit, issued by the City Council which allows use of a parcel of land in a way that varies from requirements for the district in which the property is located. A Variance may be granted only in an individual case where a hardship would result if all of the requirements of this Ordinance were applied stringently to a particular piece of property. A hardship means that reasonable use of the land is not possible if all of the requirements of this Ordinance are to be met. The hardship cannot be self-created such as:
A.
A lot purchased with knowledge of an existing restriction.
B.
A claim of hardship in terms of prospective sales.
C.
An expressed economic need requiring a Variance, when such a need can be met in other ways which would not require a Variance.
(Ord. of 3-12-2019)
Section 10: - Procedures for Variance Requests
A.
An application for variance must be filed with the Zoning Administrator on a prescribed form, accompanied by an application fee in the amount established by the Butler City Council. The application shall be filed at least sixty (60) days prior to the date of the City Council meeting at which the application is to be presented.
B.
An application for variance should contain the following:
1.
A completed copy of the application for a variance on the form provided by the Zoning Administrator.
2.
A conceptual site plan depicting the proposed variance of the property including:
a.
A correct scale and north arrow;
b.
The proposed land use and building outline as it would appear should the variance application be approved;
c.
The gross square footage of all proposed buildings;
d.
The proposed location of all driveways and entry/exit points for vehicular traffic, using arrows to depict direction of movement;
e.
The location of required off-street parking and loading spaces, including number of spaces and driveway dimensions;
f.
Required yard setbacks appropriately dimensioned;
g.
Yard setbacks as requested should the variance application be approved.
h.
The location and extent of required buffer areas, depicting extent of natural vegetation and type and location of additional vegetation if required.
C.
Within ten (10) days of receipt of an application for a Variance, including the conceptual site plan, the Zoning Administrator shall determine compliance with this Section and shall either accept the application as being "sufficient" or reject is as being "insufficient." If it is so rejected, the revised application may be resubmitted for the following application period. The City will refund fifty (50%) percent of the application fee for a variance if the Zoning Administrator rejects said application due to an insufficient site plan.
D.
The Zoning Administrator will inform the applicant of the public hearing date. The City Council will convene a public hearing on each application at the date, time and location advertised. The public notice will appear at least one time in a newspaper of general circulation, no less than thirty (30) days nor more than 45 days prior to the public hearing.
E.
The public hearing notice will name the applicant, the location of property to be affected, the present zoning class, the proposed zoning class and the date, time, place, and purpose of the public hearing held by the Butler City Council.
F.
At least thirty (30) days prior to the date of the public hearing, the Zoning Administrator shall have erected in a conspicuous place upon the property for which rezoning or variance request is to be considered one (1) or more signs, each of which shall not be less than three (3) square feet in area and each of which shall contain the same information as included in the public hearing notice.
G.
All public hearings for amendment to the City of Butler Zoning Ordinance or for a change to the City of Butler Zoning Map or for variance from zoning requirements shall follow the procedures listed in Section 3.
H.
All variance requests must be formally approved by the Butler City Council.
I.
Any application for variance of a particular parcel of property which is denied by the City Council may not again be considered for rezoning until the expiration of at least six (6) months immediately following the defeat of the rezoning request.
(Ord. of 3-12-2019; Ord. of 6-13-2023(1))
Section 11: - Criteria for the Review of Variances
A.
The Mayor and Council may grant variances only upon finding that all of the following conditions exist:
1.
There are extraordinary and exceptional conditions pertaining to the particular piece of property in question because of its size, shape or topography;
2.
The application of this Zoning Ordinance to the particular piece of property would create an unnecessary hardship;
3.
Relief, if granted, would not cause substantial detriment to the public good or impair the purpose and intent of this Zoning Ordinance;
4.
Such conditions are peculiar to the particular piece of property involved;
5.
The special circumstances surrounding the request for a variance are not the result of acts by the applicants;
6.
The variance is not a request to permit a use of land, buildings, or structures not permitted by right in the Zoning District involved.
B.
If the following criteria are all met, the yard and other space requirements of the Zoning District in which the property is located may be reduced by the smallest amount that will permit reasonable use of the property as a building site. Such reduction of these space requirements shall constitute a variance. However, in no case shall the Mayor and Council permit any lot in a residential Zoning District to be used as a building site which is less than ninety percent of the Zoning District's minimum area and YARD requirements, based on the district's maximum density.
C.
The power to approve a variance rests with the Mayor and Council.
D.
In granting a variance, the Mayor and Council may impose any other conditions necessary to further the goals of this Ordinance.
E.
The Mayor and Council may establish performance bonds to assure compliance with any requirements it has set for granting a variance. Where a variance is granted for a construction activity requiring a Building Permit, the Building Permit must be obtained and construction must begin within six (6) months of the issuance of the variance. Otherwise, the variance expires after six (6) months.
(Ord. of 3-12-2019; Ord. of 6-13-2023(1))
Editor's note— Ordinance adopted June 13, 2023(1), repealed § 11, which pertained to public hearing policies and procedures for variance requests, and renumbered §§ 12—14 as §§ 11—13, as set out therein. The previous § 11 derived from Ord. of March 12, 2019.
Section 12: - Placement of Conditions on a Zoning Decision
The Zoning Administrator may recommend, and the Butler City Council may approve applications for zoning amendments and conditional use permits subject to certain conditions, provided that said conditions are set forth in the ordinance regarding approval of such application. Said conditions of approval may reduce the number or type of permitted uses, limit the nature or scope of permitted uses, restrict certain activities on the property, restrict the number and kind of improvements which can be made on the property, stipulate specific acts which the property owner will perform or any other conditions directly related to the physical use of the land and which are designated to render the proposed land use compatible with nearby properties. Applications for alteration or extension of conditional districting shall be made in accordance with the requirements of this Article.
(Ord. of 3-12-2019; Ord. of 6-13-2023(1))
Editor's note— Refer to editor's note under § 11.
Section 13: - Standards of Review for Placement of Conditions on a Zoning Decision
In ruling on any matter herein which the exercise of discretion is required, or in ruling upon any application for zoning map amendment, the Zoning Administrator or the Butler City Council shall act in the best interest of the health, safety, morals and general welfare of the city. In so doing, they will consider one or more of the following factors, in addition to other factors and criteria set forth in this Ordinance, as may be relevant to the application:
A.
The existing land use pattern;
B.
The possible creation of an isolated district unrelated to adjacent and nearby districts;
C.
The population density pattern and possible increase or overtaxing of the load on public facilities including, but not limited to, schools, utilities, and streets;
D.
The cost to the City and other governmental entities in providing, improving, increasing or maintaining public utilities, schools, streets and other public safety measures;
E.
The possible impact on the environment, including, but not limited to, drainage, soil erosion and sedimentation, flooding, air quality and water quality;
F.
Whether the proposed zoning map amendment will be a deterrent to the value or improvement of development of adjacent property in accordance with existing regulations;
G.
Whether there are substantial reasons why the property cannot be used in accordance with existing regulations;
H.
The aesthetic effect of existing and future use of the property as it relates to the surrounding area;
I.
The extent to which the proposed zoning map amendment is consistent with the comprehensive plan;
J.
The possible effects of the proposed zoning map amendment on the character of a zoning district, a particular piece of property, neighborhood, a particular area, or the community;
K.
The relation that the proposed zoning map amendment bears to the purpose of the overall zoning scheme, with due consideration given to whether or not the proposed change will help carry out the purposes of these zoning regulations;
L.
Applications for a zoning map amendment which do not contain specific site plans carry a rebuttable presumption that such rezoning shall adversely affect the zoning scheme;
M.
The consideration of the preservation of the integrity of residential neighborhoods shall be considered to carry great weight;
N.
In those instances, in which property fronts on a 2 to 4 lane state highway and also adjoins an established residential neighborhood, the factor of preservation of the residential area shall be considered to carry great weight.
(Ord. of 3-12-2019; Ord. of 6-13-2023(1))
Editor's note— Refer to editor's note under § 11.
