ARTICLE VII. - BUFFER AND LANDSCAPING REQUIREMENTS
DIVISION 1. - GENERALLY

Sec. 119-408. - Screening requirements for certain operations.
Certain uses such as junk or salvage yard operations and other commercial and industrial operations requiring the storage of inoperative equipment, vehicles and other types of bulk storage for prolonged periods of time could present unsightly views of health hazards. To preclude this from occurring, the city manager or designee shall require owners of such properties to completely enclose such operations by a fence which completely obscures views of the property from adjacent sidewalks, streets, and other properties and is built to a height greater than that of the height of the highest piece of equipment or vehicle and types of bulk storage stored on the property; however, the minimum height of any fence shall be eight feet. Such fences shall be constructed of masonry or wood or combination thereof or other materials approved by the city manager or designee.
(Ord. of 9-18-2014(2))
Secs. 119-409—119-429. - Reserved.
DIVISION 2. - BUFFERS

Sec. 119-430. - Buffer requirements.
It is recognized that the location of commercial or industrial land uses directly adjacent to single-family, two-family or multiple-family residential uses can create an incompatible situation. Additionally, the location of two-family or multiple-family residential land uses or manufactured home parks directly adjacent to single-family residential land uses can be an incompatible situation. Accordingly, in commercial and industrial districts, when a principal structure is expanded or modified, a planted screening buffer shall be provided along all side and rear property lines contiguous with a single-family residential district. The city council may require a similar buffer strip between other districts and land uses deemed to be incompatible.
(Ord. of 9-18-2014(2))
Sec. 119-431. - General requirements.
(a)
A planted buffer strip is required to protect residential land uses from excessive heat, dust, wind, light, spill, unsightly views, odor and other characteristics commonly associated with commercial and industrial land uses and related vehicular and pedestrian traffic which can adversely impact the quality of residential life. The required buffer shall provide necessary visual and acoustical privacy for the conduct of residential lifestyles in a pleasing environment, and shall provide for the protection and preservation of property values in residential districts. The density of buffers should take precedence over width of buffer.
(b)
Required buffers shall be established and maintained by the developer and owner of the incompatible (less restrictive) land use. The required buffer must:
(1)
Be depicted in detail (i.e., the type and locations of natural and planted vegetation are to be illustrated) on each site plan prior to approval.
(2)
Not be disturbed by grading, property improvements or construction activities except where necessary to prevent a nuisance, or to thin such natural growth where too dense to permit normal growth, or to remove diseased, misshapen, or dangerous and decayed timbers. Any contemplated disturbance shall first be brought to the attention of the city manager or designee and formal approval secured prior to initiating activity within a required buffer area.
(3)
Utilize existing vegetation where it has been determined that existing vegetation is appropriate for inclusion within the buffer strip, or, when required, be supplemented with approved, additional plantings.
(4)
Retain the natural topography of the land, except when a portion must be cleared and graded as required by the local law to prevent soil erosion or sedimentation.
(5)
Be completely installed in accordance with the approved plan prior to issuance of a certificate of occupancy.
(6)
Not be used for temporary or permanent parking or loading, other than for provision of drainage improvements as mandated by the local law or for a structure other than a fence.
(7)
Attain a height of not less than six feet within three years of the planting date.
(Ord. of 9-18-2014(2))
Sec. 119-432. - Minimum buffer specifications.
(a)
Buffered strip areas shall be established to meet each of the following minimum width requirements for each of the following districts where adjacent to a residential district:
EXPAND
O and I district 20 feet
CH, CN, and CBD districts 30 feet
MHP, LI and HI districts 40 feet
  (b)
This buffer screening shall be required along rear and side yard lot lines and shall not extend closer to the street than the front building line. Buffer screening shall be of such density that the growth shall screen activity from the normal view level of the first story in a reasonable amount of time and attain a height of not less than six feet within three years of the planting date.
(Ord. of 9-18-2014(2))
Sec. 119-433. - Composition of buffer.
In those instances where it is clearly obvious that existing natural vegetation and topography could not possibly achieve the desired level of screening as determined by this chapter, a planted buffer shall be provided and shall consist of plant material of such growth characteristics as will provide an acoustical and visual screen of planting date.
(1)
The following are approved for use as part of the screening buffer:
a.
Trees:
Loblolly Pine
White Pine
Yaupon Holly
American Holly
Eastern Red Cedar
Laurel Cherry
Arizona Cypress Redbay
Virginia Pine
b.
Shrubs:
Cleyera
Euonymus
Japanese Privet
California Privet
European Privet
Southern Waxmyrtle
Northern Bayberry
Pittosporum
Japan Yew
c.
Groundcover:
Short Juniper
Periwinkle
Lippie
Evergreen Candytuft
Elysum
(2)
Other evergreen plant materials having the same growth characteristics as the aforementioned may be substituted, subject to approval by the city manager or designee prior to installation.
(Ord. of 9-18-2014(2))
Sec. 119-434. - Maintenance.
The screening buffer planting and any required landscaped open space planting shall be guaranteed for the life of the commercial, industrial or residential development. Necessary trimming and maintenance shall be performed by the installing property owner to maintain the health of the plant materials, to provide an aesthetically pleasing appearance, and to assure that the buffer actually serves the purpose for which it is intended.
(Ord. of 9-18-2014(2))
Secs. 119-435—119-451. - Reserved.
DIVISION 3. - LANDSCAPE REQUIREMENTS

Sec. 119-452. - Generally.
(a)
Minimum standards. The landscaping requirements in this division are the minimum design standards for all development regulated under the provisions of this article. These requirements shall be used by the city manager or designee in reviewing site plans, and may be supplemented by specific landscaping standards and specifications as established by the city planning commission and approved by the council.
(b)
Plans to be evaluated. Landscape design and planning shall be integrated with the overall design concept for any project; therefore, the city manager or designee shall evaluate landscaping schemes as to their relationship to the existing natural landscape, developed and other proposed landscape, including on adjacent properties and public right-of-way, and the building or buildings existing and/or proposed.
(c)
Preservation of existing trees. Existing tree cover and natural vegetation shall be preserved, whenever possible, or replaced with suitable vegetation.
(d)
Screens. Landscaping shall be used whenever possible to screen objectionable views or nuisances, such as parking and service areas, refuse containers, air conditioning units, transformers, etc.
(e)
Sod required. All front green spaces shall be sodded. If grass seed must be used in the rear, it shall be of a variety suitable to the area that produces complete coverage.
(f)
Artificial vegetation prohibited. No artificial plants, trees, or other vegetation shall be installed.
(g)
Tree preservation. All existing, healthy deciduous and hardwood trees with a caliper of ten or more inches at a point three feet above grade shall be retained, whenever feasible. If not feasible, the tree shall be replaced with the same or similar type of tree in accordance with this article, unless otherwise approved by the city manager or designee.
(Ord. of 9-18-2014(2))
Sec. 119-453. - Coverage.
(a)
The minimum total lot area in landscaped open space shall be the sum of the areas required to meet perimeter, frontage, interior parking lot and buffer strip landscaping requirements.
(b)
Existing on-site plant materials may be credited as landscaped open space for meeting the requirements of this section if in the opinion of the city manager or designee such plant materials achieve the purposes of this section; however, no more than 25 percent of any lot area in water or floodplain shall be credited as landscaped open space without planning commission approval.
(Ord. of 9-18-2014(2))
Sec. 119-454. - Frontage and perimeter landscaping requirements.
The following landscaping requirements shall apply to all districts and uses regulated by this article, except for the CBD district:
(1)
A landscaping strip of at least ten feet in width shall be required along all public rights-of-way, except where driveways or other openings may be required.
(2)
A landscaping strip of at least five feet in width shall be required along any side lot that abuts adjoining property that is not a public right-of-way, except where driveways or other openings may be required.
The requirements of this section shall be included within the buffer strip where a buffer strip is required.
(Ord. of 9-18-2014(2))
Sec. 119-455. - Interior landscaping.
The following requirements shall apply for parking lots designed for 20 or more parking spaces:
(1)
Not less than two percent of the interior of a parking lot shall be landscaped.
(2)
The required landscape area need not be contiguous, but there shall be at least one tree in each separate area; and each separate area shall have an area of at least 50 square feet with a minimum width or diameter of five feet.
(Ord. of 9-18-2014(2))
Sec. 119-456. - Tree requirements.
(a)
A minimum of one tree shall be required for each 500 square feet of the total minimum required open space. For purposes of meeting this requirement, all existing trees of at least 20 feet in height shall be counted. Trees required for screening purposed shall not be included in the calculation.
(b)
Trees shall be planted and/or retained in areas of the site to enhance the overall project design and provide such amenities as visual attractiveness, natural resources preservation, energy conservation, etc.
(c)
All retained or planted trees shall be protected or situated as to prevent damage from environmental changes resulting from any building or other improvements.
(d)
Trees shall not be less than six feet tall.
(e)
The planning commission may vary the minimum landscaping and tree requirements of this section, if specific circumstances and/or site conditions warrant such action.
(Ord. of 9-18-2014(2))
Sec. 119-457. - Maintenance.
The owner, occupant, tenant and respective agent of each property shall be jointly and severally responsible for the maintenance and protection of all landscaping.
(Ord. of 9-18-2014(2))
Sec. 119-458. - Recommended species list.
(a)
Approved species. Plant materials for over-story, under-story, parking lot and street tree applications may be selected from the recommended species list maintained by the city manager or designee. Other species may be used upon approval of the city manager or designee.
(b)
Nonapproved species. The following species are not approved for use in required landscaping:
(1)
Bradford Pear (Pyrus calleryana "Bradford").
(2)
Eastern White Pine (Pinus strobes).
(3)
Siberian Elm (Ulmus pumila).
(4)
Silver Maple (Acer saccharinum).
(c)
Nonrecommended species. The following species are not recommended for use in required landscaping:
(1)
Catalpa (Catalpa speciosa).
(2)
Norway Maple (Acer platanoides).
(3)
Princess Tree (Paulownia tomentosa).
(4)
Tree-of-Heaven (Ailanthus altissima).
(Ord. of 9-18-2014(2))
Secs. 119-459—119-484. - Reserved.
