ARTICLE V. - DESIGN REQUIREMENTS FOR BLOCKS AND LOTS

Sec. 32-191. - Block lengths and widths.
(a)
Intersecting roads shall be provided at such intervals so as to provide adequate cross traffic and connectivity. Blocks in residential subdivisions should not exceed 1,800 feet nor be less than 600 feet in length, except where topography or other conditions justify a departure from these standards. In blocks longer than 800 feet, pedestrian ways and/or easements through the block may be required near the center of blocks.
Block Length, Block Width, and
Pedestrian Way
(b)
The width of the block shall normally be sufficient to allow two tiers of lots of appropriate depth. Blocks intended for business or industrial use shall be of such width as to be considered most suitable for their respective uses, including adequate space for off-road parking and deliveries.
(Code 2018, § 17.601)
Sec. 32-192. - Lot size, width, and depth.
(a)
Lots shall meet any minimum area requirements established by the city zoning rules and regulations of chapter 34. Where individual septic tanks are permitted, lots shall meet minimum lot sizes to conform to health standards of the state of Georgia as approved by the Jackson County Health Department, or the minimum lot size of the city zoning rules and regulations, whichever is greater.
(b)
Residential lots should have a depth not greater than three times the width of the lot at the building line, unless unusual circumstances make these limitations not practicable. Residential corner lots should have widths to meet adequate or required building setbacks from both abutting roads. Commercial and industrial or other nonresidential lots should be adequate to provide service areas and off-road parking suitable to the use intended.
(c)
Each lot shall contain an adequate building site not subject to flooding and outside the limits of any existing easements or any required yards/building setback lines.
Adequate Building Area Required
(Code 2018, § 17.602)
Sec. 32-193. - Lot lines.
All lot lines shall be perpendicular or radial to road lines, unless not practicable because of topographic or other features.
(Code 2018, § 17.603)
Sec. 32-194. - Double frontage lots.
(a)
Double frontage lots should be avoided except where essential to provide separation of residential development from traffic arteries or overcome specific disadvantages of topography or orientation.
(b)
A no-access, planting screen easement of at least ten feet, and across which there shall be no right of access, shall be provided along the line of lots abutting such a traffic artery or other disadvantageous use.
(Code 2018, § 17.604)
Sec. 32-195. - Flag lots.
(a)
Intent. Flag lots as defined in this chapter are strongly discouraged. However, subdivisions designed with one or more flag lots may be approved where conditions of hardship make standard design or frontage impossible or impractical due to the configuration of the lot to be subdivided.
(b)
Denial if reasonable alternative exists. The administrative officer in the case of minor subdivisions, and the City Council in the case of other subdivisions, shall have due cause but shall not be required to deny any plat that proposes any flag lot, when a reasonable alternative to such lot pattern is available.
(c)
Panhandle (flagpole) length restriction. If permitted, no flag lot shall be allowed to be platted that has a "panhandle" portion (i.e., portion that does not meet the required lot width) that is more than 400 feet in length.
(d)
Prohibition of abutting flag lots. If permitted, no more than two flag lots shall abut one another in any subdivision.
(Code 2018, § 17.605)
Sec. 32-196. - Lot remnants not permitted.
All remnants of lots below any minimum lot size that may be required, left over after subdividing of a larger tract, must be added to adjacent lots rather than allowed to remain as unusable parcels. The administrative officer may permit a lot remnant for a specific purpose, such as a detention pond, provided that access and design are appropriate and the lot remnant is restricted to a specific non-building use, with said restrictions recorded on the final plat.
(Code 2018, § 17.606)
Secs. 32-197—32-225. - Reserved.
