DIVISION 18. - SPECIAL REQUIREMENTS FOR DENTAL PRACTICES

Sec. 82-110.17. - Requirements for dental practices.
(a)
Adoption of federal regulations. The county adopts and incorporates herein by reference 40 CFR Part 441—Dental Office Point Source Category as amended, which contains amalgam separation and wastewater pretreatment standards and reporting requirements for dental practices.
(b)
Compliance with federal regulations required. Any facility where the practice of dentistry is performed that is subject to this article and is regulated under 40 CFR Part 441 shall comply with the following requirements:
(1)
Users shall achieve compliance with applicable pretreatment standards for existing and new sources as required by 40 CFR § 441.30 and § 441.40.
(2)
Users shall prepare, maintain, and submit to the director their one-time compliance reports as required by 40 CFR § 441.50.
(3)
Users shall record, retain and make available for inspection by the director the information specified in 40 CFR § 441.50.
(c)
Remedies. The director may enforce this section using any of the remedies permitted under this article. The director may also deem a user that is not in compliance with this section to be a significant industrial user and impose permitting and monitoring requirements applicable to SIUs.
(Ord. No. 114-B, § 1(Exh. A), 12-5-2019)
