ARTICLE XVI. - GENERAL REQUIREMENTS AND MINIMUM STANDARDS OF DESIGN FOR THE SUBDIVISION OF LAND

Sec. 160. - General design requirements.
160.1. Suitability of Land. Land subject to flooding, improper drainage, or erosion, or which is for topographical, geological or other reasons unsuitable for residential use shall not be platted for residential use or for other uses that will continue to increase the danger to health, safety, or property destruction, unless the hazards can be and are corrected.
160.2. Name of Subdivision. The name of the subdivision must have the approval of the Commission. The name shall not duplicate nor closely approximate the name of any existing subdivision.
160.3. Access. Access to every subdivision shall be provided over a public street.
160.4. Conformance to Adopted Major Thoroughfare Plans. All streets and other features of the Major Thoroughfare Plan of the City of Kingsland shall be platted by the subdivider in the location and to the dimension indicated on the Major Thoroughfare Plan adopted by the Commission and/or Council.
160.5. Through Traffic. Minor streets shall be so laid out that their use by through traffic will be discouraged.
Sec. 161. - General requirements for streets and other rights-of-way.
161.1. Continuation of Existing Streets. Existing streets shall be continued at the same or greater width, but in no case less than the required width.
161.2. Connections with Future Subdivisions. Streets shall be reserved at strategic locations to provide for future access to adjoining properties which may be subdivided in the future. Each street connection shall intersect property lines at a ninety (90) degree angle.
161.3. Street Names. Street names shall require the approval of the Commission. Streets that are obviously in alignment with streets already in existence and already named shall be given the name of the existing streets. Names of new streets shall not duplicate or closely approximate those existing streets.
161.4. Street Jogs. Street jogs with centerline offsets less than 125 feet shall not be permitted.
161.5. Cul-de-sacs. Cul-de-sacs, or dead-end streets, shall be provided at the closed end with a turn-around having a property line radius of at least 50 feet with an outside pavement radius of at least 40 feet.
161.5.1. Cul-de-sacs with Islands. Cul-de-sacs with islands will have a minimum right-of-way (ROW) diameter of at least one-hundred ten feet (110'), with an outside pavement diameter eighty-five feet (85'). A landscaped island shall be placed in the center of the cul-de-sac measuring no more than twenty-five feet (25') in diameter allowing for a travel lane around the cul-de-sac of no less than thirty feet (30').
161.6. Development Along Major Street, Limited Access Highway, or Railroad Right-of-Way. Where a subdivision abuts or contains an expressway, freeway, arterial or collector street, or a railroad right-of-way, the Commission may require a street approximately parallel to and on each side of such right-of-way either as a marginal access street, or at a distance suitable for an appropriate use of intervening land, with a non-access reservation suitably planned. Due regard should be given requirements for approach grades and future grade separations in determining distances. Lots shall have no access to expressways, freeways, or arterial streets, but only to an accessible street in which case the Commission may require double frontage lots.
161.7. Half Streets. Half streets shall be prohibited except where essential to the reasonable development of the subdivision in conformity with the other requirements of these regulations, and where the Commission finds it will be practical to require the dedication of the other half when the adjoining property is subdivided, the other half of the street shall be platted within such tract.
161.8. Alleys. The requirements for providing alleys within a subdivision are as follows:
161.8.1. Alleys shall be provided in multi-family commercial, and industrial districts, except where other definite and assured provision is made for service access such as off-street parking, loading and unloading consistent with and adequate for the uses provided.
161.8.2. Alleys shall not be provided in one and two-family residential developments unless the subdivider provides evidence satisfactory to the Commission of the need for alleys.
161.8.3. Alley intersections and sharp changes in alignment shall be avoided, but where necessary, corners shall provide sufficient radius to permit safe vehicular movements.
161.8.4. Dead-end alleys shall be avoided where possible, but if unavoidable, shall be provided with adequate turn-around facilities at the dead-end, as determined by the Commission.
161.9. Reserve Strips and Easements.
161.9.1. Reserve strips controlling the access to streets shall be prohibited except where this control is definitely placed in the hands of the Council under conditions approved by the Commission. The Commission may require access to expressways, freeways, arterial and collector streets by requiring all lots to face and have access to only minor streets.
161.9.2. Easements having a minimum width of 10 feet and located along the side or rear lot lines shall be provided, as is necessary for utility lines and underground mains and cables. Where a subdivision is traversed by a water course, drainage way, channel or stream, there shall be provided a storm-water or drainage right-of-way of adequate width. Parallel streets may be required by the Commission herewith.
161.10. Accel/Decel Lanes. Accel/decel lanes must be provided when a street empties into an arterial street, highway and/or collector street. The decel lane shall be not less than 200 feet in length where possible, 50 feet of which is to be tapered. The accel lane shall be not less than 50 feet, tapered. Accel/decel lanes are to be approved by the Building Official prior to construction.
Sec. 162. - Rights-of-way width requirement.
The minimum street right-of-way widths shall be as follows:
(1)
Freeways and Expressways ..... 150 feet
(2)
Arterial Streets ..... 100 feet
(3)
Collector Streets ..... 80 feet
(4)
Minor Commercial and Industrial Streets ..... 70 feet
(5)
Minor Residential Streets ..... 60 feet
(6)
Marginal Access Streets ..... 50 feet
(7)
Alleys ..... 20 feet
(8)
Cul-de-sacs ..... 100 feet
Sec. 163. - Street design requirements.
163.1. Street Intersections. Street intersections shall be as nearly at right angles as possible with no street intersection being at any angle of less than 75 degrees.
163.2. Right-of-Way Radius. The streets right-of-way radius at street intersections shall be at least 20 feet. Where the angle of street intersection is less than 90 degrees, the Commission may require a longer radius.
163.3. Additional Width on Existing Streets. Subdivisions that adjoin existing streets shall dedicate additional rights-of-way if needed to meet the minimum street width requirements set forth in Section 162.
163.3.1. The entire right-of-way shall be provided where any part of the subdivision is on both sides of the existing streets.
163.3.2. When the subdivision is located on only one side of an existing street, one-half (½) of the required right-of-way, measured from the center line of the existing roadway, shall be provided.
Sec. 164. - Design standards for blocks and lots.
164.1. Design Lengths and Widths. Block lengths and widths shall be determined based on the following requirements:
164.1.1. Blocks shall not be greater than 2,200 feet nor less than 400 feet in length.
164.1.2. Blocks shall be wide enough to provide two tiers of lots of minimum depth, except where abutting upon major street, limited-access highways or railroads or where other situations make this requirement impractical in which case the Commission may approve a single tier of lots of minimum depth.
164.1.3. Blocks shall have pedestrian walkways/sidewalks not less than ten (10) feet wide where deemed essential to provide circulation, or access to schools, playgrounds, shopping centers, transportation and other community facilities. Otherwise, all sidewalks shall be 5 feet in width.
164.2. Lot Sizes. Lot dimensions shall conform to the requirements set forth in the zoning districts in which the land to be subdivided is located. Residential corner lots shall have adequate width to permit appropriate building setback from and orientation to both abutting streets.
164.3. Building Lines. A building line meeting the front and side yard setback requirements of the zoning district in which the subdivision is located shall be established on all lots.
164.4. Lots Abutting Public Streets. Each lot shall abut a dedicated public street.
164.5. Double Frontage Lots. Double frontage lots should be avoided except where essential to provide separations of residential development from traffic arterials or to overcome specific disadvantage of topography and orientation. A planting screen easement of at least ten (10) feet, and across which there shall be no right of access, shall be provided along the line of lots abutting such a traffic artery of other disadvantage use.
Sec. 165. - Modifications of subdivision requirements.
165.1. Modifications of the provisions set forth in the subdivision regulations may be authorized by the Commission in specific cases when, in its opinion, undue hardship may result from strict compliance; provided only such determination shall be based fundamentally on the fact that unusual topographical and other exceptional conditions requiring such modifications will not adversely affect the general public or nullify the intent of these regulations; provided further that any such modifications granted by the Commission shall be made in writing to the sub-divider and also made a part of the Commission's records and the Plat.
165.2. Application for any modifications must be filed in writing with necessary supporting documents with the reasons and facts supporting the application.
