ARTICLE X. - DAM AND ARTIFICIAL BARRIER DESIGN SPECIFICATIONS AND PERMIT REQUIREMENTS[10]

Footnotes:
--- (10) ---
State Law reference— Georgia Safe Dams Act of 1978, O.C.G.A. § 12-5-370 et seq.

Sec. 104-432. - Purpose.
The purpose of this article is to establish design specifications and permit requirements of dams and impoundments in order to protect the health, safety and welfare of all the county citizens by reducing the risk of failure of dams and/or impoundments to prevent death or injuries to persons.
(Code 1992, § 8-301; Ord. No. 2012-03, § 1, 3-22-2012)
Sec. 104-433. - Definitions.
The following definitions are restated from the state department of natural resources, environmental protection division, chapter 391-3-8, Rules for Dam Safety:
Category I means the classification of a dam where improper operation or failure would result in probable loss of human life. Situations constituting "probable loss of life" are those situations involving inundation of frequently occupied structures or facilities, including, but not limited to, residences, commercial and manufacturing facilities, schools and churches.
Category II means the classification of a dam where improper operation or dam failure would not be expected to result in probable loss of human life.
Dam means, with the exception of the exemptions outlined in Georgia Safe Dams Act of 1978 (O.C.G.A. § 12-5-372), the following:
(1)
Any artificial barrier, including appurtenant works, which impounds or diverts water and which the improper operation or failure of such would result in probable loss of human life as determined pursuant to the Georgia Safe Dams Act of 1978 (O.C.G.A. § 12-5-370 et seq.), and which:
a.
Is 25 feet or more in height from the downstream toe or lowest elevation of the outside limit of the barrier to the maximum water storage elevation; or
b.
Has an impounding capacity at maximum water storage elevation of 100 acre-feet or more.
(2)
Any artificial barrier, including appurtenant works, constructed in conjunction with the reclamation of surface mined land, and meeting the requirements of subsection (1) of this definition, and when improper operation or failure would result in probable loss of human life.
Embankment means a wall or bank built to impound water.
Impoundment means the water or liquid substance that is or will be stored by a dam, commonly referred to as the reservoir.
(Code 1992, § 8-302; Ord. No. 2012-03, § 1, 3-22-2012)
Sec. 104-434. - General provisions.
(a)
Applicability. This article shall be applicable to any person, corporation or other entity proposing to construct a dam or impoundment in unincorporated thee county unless the embankment does not exceed six feet in height regardless of storage capacity, or that has a storage capacity at maximum water storage elevation not in excess of 15-acre-feet regardless of height.
(b)
Designation of article administrator. The county stormwater management department shall administer this article.
(c)
Georgia Safe Dams Act of 1978 (O.C.G.A. § 12-5-370 et seq.). Any person, corporation or other entity proposing to construct a dam or impoundment in the county unless the embankment does not exceed six feet in height regardless of storage capacity, or that has a storage capacity at maximum water storage elevation not in excess of 15-acre-feet regardless of height; must first comply with the state department of natural resources environmental protection division Rules for Dam Safety, chapter 391-3-8. These rules are made part of this article by reference. Additional requirements listed in section 104-435 shall apply to any dams or impoundments proposed for construction that are listed in chapter 391-3-8.04 of the Rules for Dam Safety.
(d)
Compatibility with other regulations. This article is not intended to modify or repeal any other ordinance, rule, regulation, statute, easement, covenant, deed restriction or other provision of law. The requirements of this article are in addition to the requirements of any other ordinance, rule, regulation or other provision of law, and where any provision of this article imposes restrictions different from those imposed by any other article, rule, regulation or other provision of law, whichever provision is more restrictive or impose higher protective standards for human health or the environmental shall control. No local government action under this article relieves the land owner from federal and/or state permitting requirements.
(Code 1992, § 8-303; Ord. No. 2012-03, § 1, 3-22-2012)
Sec. 104-435. - Prohibitions.
(a)
No dam or impoundment shall be constructed that could wash out, by failure of the proposed dam or impoundment, an existing public road or downstream private driveway as determined by the stormwater management department, and thereby restrict emergency vehicles from gaining access to occupied structures.
(b)
No public roadway, right-of-way, and/or utilities except stormwater shall be located on any dam or impoundment.
(Code 1992, § 8-304; Ord. No. 2012-03, § 1, 3-22-2012)
Sec. 104-436. - Permit requirements.
(a)
Any dam proposed for construction in unincorporated the county must be approved by the state safe dams office under the requirements of the rules for safe dam prior to application for a construction permit.
(b)
Any dam or impoundment proposed for construction in unincorporated the county must have received all applicable federal and state environmental permits and must be compliant with all state and federal environmental regulations prior to application for a construction permit.
(c)
All dam design documentation submitted to the state safe dams program shall also be submitted to the county stormwater management department for review.
(d)
Minimum design requirements.
(1)
Any dam, as defined in the Safe Dams Act of 1978 (O.C.G.A. § 12-5-370 et seq.), proposed for construction in the unincorporated county shall meet all category I design and maintenance requirements as required by the Georgia Safe Dams Act of 1978 regardless of the state safe dams program classification.
(2)
Any dam or impoundment constructed to serve as access to a private residence shall have a top width of a minimum of 20 feet unobstructed width of access with an all-weather driving surface capable of supporting the imposed loads of fire apparatus and having a minimum vertical clearance of 13 feet six inches (reference SFPC 602.6). Nothing contained in these requirements shall be constructed to relieve the design engineer from his responsibility to provide a design that is accurate, adequate, and acceptable according to generally accepted engineering practices.
(3)
Any dam or impoundment constructed shall meet all requirements for land disturbance as referenced in article IX of this chapter, the county soil erosion, sedimentation and pollution control ordinance.
(e)
Submission of documents. The design documents submitted to the stormwater management department for review shall include:
(1)
Topographic drawings of the pond or lake site at a minimum scale of one inch equals 100 feet with two-foot contour intervals;
(2)
Plan, cross section and longitudinal drawings of the proposed dam showing the core, drains, cut-off trenches, spillways and the elevations of the one-, five-, ten-, 25-, 50-, and 100-year storm elevations;
(3)
Hydrologic and hydraulic design calculations including those required by the safe dams program for Category I and II dams;
(4)
Specifications for construction;
(5)
Detail drawings for appurtenances including principal and emergency spillways;
(6)
A dam-break analysis as required by the state safe dams program determining the extent and height of the flood wave including the location of any downstream structures and property and the impact of failure on such property and structures;
(7)
As-built drawings of the dam, sealed by the design engineer, shall be submitted to the stormwater management department prior to recording the final plat for the subdivision, if applicable. Certification of construction to specified compaction requirements shall also be provided, if applicable;
(8)
Access easement from the nearest street, that may or may not be a part of the development, for maintenance and emergency access purposes; and
(9)
Maintenance plan for the structure that shall describe the maintenance and the parties responsible for maintenance as required by the Georgia Safe Dams Program for Category I.
(f)
Emergency action plan. Provide an emergency action plan based on the dam-break analysis. The plan shall include, but is not limited to, a 24-hour emergency point-of-contact; procedures to follow upon detection of possible failure; inundation maps and a list of owner responsibilities including all emergency notifications.
(g)
Review. The stormwater management department shall have 30 calendar days to review the submitted documents and to either approve them or return them to the engineer with comments.
(Code 1992, § 8-305; Ord. No. 2012-03, § 1, 3-22-2012)
Sec. 104-437. - Ownership of dam.
The county does not accept the ownership, maintenance or responsibility for any dam or impoundment constructed under these regulations.
(Code 1992, § 8-306; Ord. No. 2012-03, § 1, 3-22-2012)
Secs. 104-438—104-457. - Reserved.
