ARTICLE V. - NONRESIDENTIAL DEVELOPMENT LANDSCAPE REQUIREMENTS

Sec. 104-111. - Purpose and intent.
(a)
The purpose of this article is to establish minimum landscape requirements for nonresidential development. It is hereby determined that:
(1)
Landscaping preserves the aesthetic character of communities, improves the aesthetic quality of the built environment, and increases property values.
(2)
Trees and landscaping replace vegetative cover lost during land development. Vegetation slows soil erosion, helping to reduce nonpoint source pollution found in stormwater runoff.
(3)
Well-chosen landscaping can improve the compatibility between different types or intensities of land uses by providing a visual buffer.
(4)
Landscaping visually interrupts the barren expanse of large parking lots and provides shade that cools air and surface temperatures helping negate the "heat island" effect of pave parking lots.
(b)
This article seeks to meet that purpose through the following objectives:
(1)
Improve the appearance of the county's nonresidential properties;
(2)
Minimize noise, glare, and erosion;
(3)
Provide a visual separation between incompatible uses;
(4)
Establish measures for water conservation; and
(5)
Reduce the adverse environmental effects of impervious parking areas.
(Code 1992, § 8-156; Ord. No. 2008-08, § II, 9-25-2008; Ord. No. 2016-13, § 4, 7-28-2016)
Sec. 104-112. - Definitions.
The following words, terms and phrases, when used in this article, shall have the meanings ascribed to them in this section, except where the context clearly indicates a different meaning:
Arterial road means a major arterial or minor arterial in article III of this chapter.
Caliper means a method of measuring the diameter of a tree trunk to determine size, grading, and/or classification of nursery stock. Caliper measurement of the trunk shall be taken six inches above the ground up to and including four-inch caliper size. If the caliper at six inches above the ground exceeds four inches, the caliper should be measured at 12 inches above the ground.
Canopy (overstory) tree means any tree that, under normal forest conditions, will compose the top layer or canopy of vegetation and generally will reach a mature height of greater than 40 feet.
Collector road is defined as collector road in article III of this chapter.
Deciduous means plants that annually lose their leaves.
Evergreen means plants that retain foliage throughout the year.
Exterior parking aisle means a parking aisle adjoining a property line, required landscape area, and/or zoning buffer along a property line.
Ground cover means a plant with a low-growing, spreading habit, grown specifically to cover the ground, generally not attaining a height of more than two feet.
Interior parking aisle means a parking aisle that does not adjoin a property line, required zoning buffer, or building wall.
Landscape island means a minimum ten by 20-foot island placed in parking lots to guide traffic, preserve vegetation, and increase aesthetic quality.
Landscape plan means a scaled plan that clearly delineates vehicular use areas and displays and describes all landscaping.
Local road means defined as county local or internal local in article III of this chapter.
Native plants means plants indigenous or naturalized to a given area.
Owner means the legal or beneficial owner of a site, including, but not limited to, a mortgagee or vendee in possession, receiver, executor, trustee, lessee or other person, firm or corporation in control of the site.
Shrub means a plant with persistent woody stems and a relatively low growth habit, distinguished from a tree by producing several basal stems instead of a single trunk.
Side yard landscape area means the landscape area adjacent to a side lot line.
Street frontage landscape area means the landscape area adjacent to street frontage.
Tree means a self-supporting woody perennial plant that, at maturity, has one or more stems or trunks that attain a diameter of at least three inches; a more or less definitely formed crown of foliage; and a height of ten feet or more.
Zoning buffer is defined in chapter 110, zoning.
(Code 1992, § 8-157; Ord. No. 2008-08, § II, 9-25-2008)
Sec. 104-113. - General provisions.
(a)
Applicability. This article shall be applicable to all nonresidential zoning districts; all nonresidential uses allowed within residential zoning districts; and all existing nonpaved areas that are to be developed into paved parking areas, except as otherwise exempted in the Zoning Ordinance.
(b)
Exemptions. Existing parking areas where additional parking spaces are not required.
(c)
Administration of article. The county environmental management department shall administer this article.
(d)
Compatibility with other regulations. This article is not intended to modify or repeal any other ordinance, rule, regulation, statute, easement, covenant, deed restriction or other provision of law. The requirements of this article are in addition to the requirements of any other ordinance, rule, regulation or other provision of law, and where any provision of this article imposes restrictions different from those imposed by any other ordinance, rule, regulation or other provision of law, whichever provision is more restrictive or impose higher protective standards for human health or the environmental shall control.
(c)
Technical standards. Standards for plant selection and installation listed as follows are incorporated by reference:
(1)
"American Standard for Nursery Stock" (ANSI Z60.1-2004);
(2)
"Manual for Woody Landscape Plants" (Michael Dirr, 2009, Stipes);
(3)
"Principles and Practices of Planting Trees and Shrubs" (Watson and Himelick, 1997, ISA).
(Code 1992, § 8-158; Ord. No. 2008-08, § II, 9-25-2008; Ord. No. 2016-13, § 4, 7-28-2016)
Sec. 104-114. - Landscape requirements and submittals.
(a)
Submittals. Unless specifically exempted by this article, any owner or developer proposing any land development activity, shall submit a landscape plan with the grading plan to the environmental management department. The environmental management department shall have a maximum of 14 calendar days from the submittal date, or each resubmittal date, for plan review. If the plan is not approved a deficiency checklist will be submitted back to the applicant.
(1)
Landscape plans shall be prepared by a professional landscape architect, or other licensed professional of similar design discipline.
(2)
Any deviations from the approved landscape plan must be approved by the county environmental management department prior to installation.
(3)
A final inspection and approval by the county environmental management department is required prior to the issuance of a certificate of occupancy.
(4)
Trees shall have minimum caliper requirements of 2½ inches measures at six inches above ground at time of planting.
(5)
Plants with vigorous root systems shall not be planted within the dripline area of said plant next to any nitrification field, sanitary sewer, or public water easement including but not limited to the eastern cottonwood, willow, and Lombardy poplar.
(6)
Allow at least 200 square feet of contiguous soil space per overstory tree. No parking space shall be more than 40 feet from a tree.
(7)
Ground covers, flowers, stones, and mulch shall be utilized as needed to meet vegetative ground cover requirements.
(b)
Landscape plan requirements. The landscape plan shall include:
(1)
Project name, design professional's name, and contact information;
(2)
Property boundary lines, all zoning buffer and landscape areas, and entire septic systems;
(3)
Locations of existing plant materials to be retained and/or new plant materials to be installed, with all details drawn at a scale of one inch to 100 feet or greater;
(4)
Plant material list, that shall include: Common and/or botanical names of all proposed plants;
(5)
Plant quantities;
(6)
Spacing;
(7)
Remarks, as necessary, for proper plant selection at installation; and
(8)
Caliper, height, and condition of plants.
(Code 1992, § 8-159; Ord. No. 2008-08, § II, 9-25-2008; Ord. No. 2016-13, § 4, 7-28-2016)
Sec. 104-115. - Landscape and buffer categories.
(a)
Street frontage landscape areas. Landscape areas fronting on county maintained roads shall be measured from the right-of-way, or from where county maintenances stops on prescriptive easements. Trees/shrubs may be planted in groups provided that the required number of trees/shrubs is distributed along the entire length of the area to be landscaped.
(b)
Parking lot landscape areas. Landscape areas shall be provided for every other interior parking aisle. Exterior and interior parking aisles shall be terminated at both ends by a landscape island. Landscape islands shall be provided for each 150 feet of continuous parking length. All trees planted in parking lot landscape areas shall be canopy trees.
(c)
Side yard landscape areas. A landscape area shall be established along the side property lines of all lots. A side-yard landscape area may not be substituted when a zoning buffer landscape area is required.
(d)
Zoning buffer areas. Zoning buffer areas shall be established and maintained subject to the requirements listed as follows:
(1)
Zoning buffer areas shall consist of evergreen plant material planted in staggered double rows that will provide a screen for the purpose of visual privacy. If existing vegetation is requested to count toward the zoning buffer area landscape requirements, such information shall be indicated on the landscape plan as required by the environmental management department.
(2)
Listed below are suggested evergreen plant combinations characteristic of buffer area plantings. Additional plant choices can be found at the county website under environmental management.
a.
Trees, shrubs, groundcovers;
b.
Virginia pine, abelia, liriope;
c.
Red cedar, Burfordi holly, euonymus;
d.
Nellie R. Stevens holly, cleyera, wintercreeper;
e.
Cherry laurel, Asiatic jasmine;
f.
Cryptomeria, hetzi juniper, evergreen ferns;
g.
Lusterleaf holly, leucothoe, creeping raspberry;
h.
Loblolly pine, loropetalum, vinca, evergreen dogwood, pfitzer juniper, mondo grass;
i.
Laurel oak, pragense viburnum, asiatic jasmine,
j.
Chinese evergreen, osmanthus;
k.
Oak, wax myrtle;
l.
Leyland cypress, yaupon holly;
m.
Green giant;
n.
Arborbvitae;
o.
Southern magnolia; and
p.
Eastern red cedar.
(Code 1992, § 8-160; Ord. No. 2008-08, § II, 9-25-2008; Ord. No. 2016-13, § 4, 7-28-2016)
Sec. 104-116. - Suggested planting materials.
(a)
Native plants.
TREES (1 TO 8 FEET)
EXPAND
Red bud
Dogwood
Red maple
Sugar maple
Southern magnolia
Fringe tree
Overcup oak
Bald cypress
Tulip poplar
Willow oak
River birch
Swamp chestnut oak
Nuttal oak
Serviceberry
Bigleaf magnolia
Blackgum
Georgia gem ash
American hornbeam
American beech
Carolina silverbell
  SMALL SHRUBS (1 TO 8 FEET)
EXPAND
Sweet shrub
Flame azalea
Florida azalea
Yucca
Virgina sweetspire
Dwarf yaupon holly
Inkberry holly
Clethra
Deciduous holly
  LARGE SHRUBS (8 FEET AND UP)
EXPAND
Oakleaf hydrangea
Yaupon holly
Spanish dagger yucca
Bottlebrush buckeye
Devilwood osmanthus
Southern wax myrtle
Small anise-tree
Cherry laurel
  (b)
Ground covers.
(1)
Liriope.
(2)
Creeping liriope.
(3)
Daylilly.
(4)
Mondo grass.
(5)
Native ferns.
(6)
Miscanthus.
(7)
Penisetum.
(c)
Vines.
(1)
Carolina yellow jessamine.
(2)
Swamp jessamine.
(3)
Crossvine.
(4)
Trumpet honeysuckle.
(d)
Other suitable plants.
TREES
EXPAND
Sycamore
Trident maple
Crape myrtle
Winged elm
Chinese pistache
Shumard oak
Red oak
Lacebark elm
Japanese zelkova
Western red cedar
Okame or Yoshino cherry
Chinese flame
Sawtooth oak
Saucer magnolia
Dawn redwood
Chaste tree
  SHRUBS
EXPAND
Abelia
Holly
Japanese barberry
Beautyberry
Juniper
Indian hawthorn
Spirea
Knock out rose
Viburnum
Osmanthus
Loropetulum
Forsythia
  PERENNIALS AND GROUND COVERS
EXPAND
Daylilly
Rudbeckia
Coneflower
Yarrow
Sedum
Daisy
Asiatic jasmine
Liriope
Mondo grass
Vinca
St. Johns wort
  In addition to those listed in this section, acceptable plant choices can be found at the county website under stormwater management.
(Code 1992, § 8-161; Ord. No. 2008-08, § II, 9-25-2008)
Sec. 104-117. - Landscape performance surety.
(a)
In the event that the requirements of this article have not been met at the time that a final building inspection request is made, the owner or his agent shall post a landscape performance bond or other county approved surety in an amount equal to 110 percent of the cost of materials, labor, and other attendant costs, incidental to the installation of the required landscaping. Said surety shall:
(1)
Be drawn in favor of the board of commissioners;
(2)
Be in a form satisfactory to the county attorney.
(b)
Specify the time for the completion of the landscaping requirements of this article which shall not be longer than six months following the issuance of a certificate of occupancy.
(Code 1992, § 8-162; Ord. No. 2008-08, § II, 9-25-2008)
Sec. 104-118. - General maintenance.
Plants required pursuant to the provisions of this chapter shall be attractively maintained. All dead and/or diseased plants shall be replaced annually as a condition of occupancy.
(Code 1992, § 8-163; Ord. No. 2008-08, § II, 9-25-2008)
Secs. 104-119—104-149. - Reserved.
