ARTICLE 8. - BUFFER REQUIREMENTS

Sec. 8.1. - When required.
A buffer shall be required whenever two adjoining properties are in dissimilar zone districts, as shown in the following table 8.1:
EXPAND
Table 8.1. Buffer Requirements Between Dissimilar Zone Districts (least intensive uses to most intensive uses)
A-1 RR LDR RD R-1 MFR MHP NHC I
A-1 Buffer 8.2-1 Buffer 8.2-2 Buffer 8.2-3 Buffer 8.2-4 Buffer 8.2-5
RR Buffer 8.2-1 Buffer 8.2-2 Buffer 8.2-3 Buffer 8.2-4 Buffer 8.2-5
LDR Buffer 8.2-1 Buffer 8.2-2 Buffer 8.2-3 Buffer 8.2-4 Buffer 8.2-5
RD Buffer 8.2-1 Buffer 8.2-2 Buffer 8.2-3 Buffer 8.2-4 Buffer 8.2-5
R-1 Buffer 8.2-2 Buffer 8.2-3 Buffer 8.2-4 Buffer 8.2-5
MFR Buffer 8.2-2 Buffer 8.2-3 Buffer 8.2-4
MHP Buffer 8.2-3 Buffer 8.2-4
  ( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.2. - Determination of buffer requirements between residential, commercial and industrial zones.
When two adjoining properties are dissimilar residential, commercial or industrial zone districts as indicated in table 8.1, the property within the zone district allowing the most intensive uses is required to provide the buffer when acquiring a building permit, unless the buffer was pre-existing. When two adjoining vacant parcels are in dissimilar zone districts as indicated in table 8.1, no buffer is required when the parcel zoned for the less intensive use acquires a building permit.
(1)
Buffer requirement. The required buffer shall consist of plantings or a fence, a wall (not otherwise part of a structure or accessory structure), or a berm which meets the screening standards of section 8.3. If plantings are chosen as the method of screening, the planting area shall have a minimum base width of 12 feet.
(2)
Buffer requirement. The required buffer shall not have less than a 20-foot base width and shall consist of plantings, plus a fence, a wall (not otherwise part of a structure or accessory structure), or a berm, or any combination thereof, which meets the screening standards of section 8.3.
(3)
Buffer requirement. The required buffer shall consist of a 50-foot setback from the adjoining property line containing not less than a 20-foot base width consisting of plantings, plus a fence, wall (not otherwise part of a structure or accessory structure), berm, or any combination thereof, which meets the screening standards of section 8.3.
(4)
Buffer requirement. The required buffer shall consist of a 100-foot setback from the adjoining property line containing not less than a 20-foot base width consisting of plantings, plus a fence, a wall (not otherwise part of a structure or accessory structure), a berm, or any combination thereof, which meets the screening standards of section 8.3.
(5)
Buffer requirement. The required buffer shall consist of either a non-vegetated 500-foot setback or 200-foot vegetated setback from the adjoining property line. A 200-foot minimum setback shall consist of 75 feet of vegetated buffer area, measured along the entire portion of the property line abutting said use, and such buffer shall extend an additional 125 feet in each direction along the common property line. The 75-foot vegetated buffer shall meet the planting requirements contained in section 8.3.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.3. - Screening standards.
Screening is a method of visually shielding or obscuring one use from another by a fence, wall, berm or densely planted vegetation.
(1)
Plantings. Plantings shall consist of either trees or shrubs, or any combination of both. Planted areas shall be located along the abutting property lines or in areas that will provide the best screening effectiveness. If trees or large shrubs are used solely as the screening device, they shall be any evergreen species from the list provided by the zoning administrator that, under normal growing conditions, will attain a minimum height of eight feet and a canopy spread of ten feet within four years. They shall be planted a minimum of 20 feet on center. Small trees shall be planted 30 feet on center, and large trees 40 feet on center. Shrubs shall be any evergreen species from the list provided by the zoning administrator planted four feet on center. Shrubs shall initially be of any size, which would normally attain a minimum height of six feet within three years after planting.
(2)
Walls. Walls shall be of masonry construction and a minimum height of eight feet. The wall shall be placed on the edge of the buffer nearest the most intensive land use.
(3)
Fences. Fences shall be a minimum of eight feet in height and constructed of standard wood fencing materials and methods or chainlink with woven inserts that will provide 90 percent visual blockage. The fence shall be placed on the edge of the buffer nearest the most intense land use.
(4)
Berms. Earthen berms shall have a minimum height of eight feet.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.4. - Buffer design.
All buffers required by this article shall conform to the following specifications:
(1)
Prior to development, a buffer plan shall be required to show the types and locations of all plantings within a required buffer. If a site plan is required, a buffer plan shall be incorporated as part of the site development plan.
(2)
Landscaping within buffer areas shall be used to screen objectionable views or nuisances, such as parking and service areas, refuse containers, air conditioning units and transformers.
(3)
Existing on-site trees may be credited as meeting the requirements of this article if the community development director determines that such plant materials achieve the purposes of this article.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.5. - Location of buffers.
Buffers shall be located on the outer perimeter of a lot or parcel along all lot-lined adjoining dissimilar zones including adjacent property lines, which may be separated by an existing or proposed public right-of-way. Buffers shall not be located on any portion of existing, dedicated or reserved public or private street rights-of-way.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.6. - Variances.
The requirements of this article may be waived by the community development director under any of the following conditions:
(1)
It is clearly demonstrated that the existing topography and/or vegetation will achieve the purpose of this article.
(2)
It is clearly demonstrated that for topographic reasons, no required screening device could possibly screen the ground level activities of the use from the first floor view of the residential structure abutting the use.
(3)
The adjoining property owners mutually agree in writing that the required buffer is not necessary for a satisfactory use and enjoyment of their property rights.
(4)
It is clearly demonstrated that an existing or proposed public right-of-way separation between adjoining properties will achieve the purposes of this article.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.7. - Use of existing buffers.
An existing buffer used for some forms of passive recreation such as pedestrians, bikes, equestrian trails, or as a stormwater retention area may be used, provided that:
(1)
No planted materials shall be eliminated; and
(2)
The total width of the required buffer area shall be maintained.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.8. - Maintenance.
The responsibility for maintenance of buffers shall remain with the owner of the property. Any required plant that has died shall be replaced. Maintenance of planted areas shall consist of mowing, removal of litter and dead plant materials, and necessary pruning. Fences and walls shall be kept in a condition that meets the requirements of this article.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.9. - Failure to comply with these provisions.
See section 16.23 of this ordinance for penalty provisions.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
Sec. 8.10. - Surety for buffer installation.
When the date for issuing a certificate of occupancy does not coincide with the planting conditions that are necessary to install a required buffer, the zoning administrator shall accept a letter of credit or other acceptable surety for the buffer installation. Such surety shall be in the amount and form satisfactory to the zoning administrator, and shall certify the following:
(1)
That the creditor does guarantee funds in an amount to cover the cost of installing all buffers approved by the zoning administrator;
(2)
That in case of failure of the developer to complete the specified improvements, the creditor shall pay the government immediately, and without further action, such funds as are necessary to finance the completion of those improvements up to the limit of the secured credit; and
(3)
That the letter of credit or other surety may not be withdrawn or reduced in amount until released by the zoning administrator after final inspection and certification of approval of the buffer.
( Ord. No. 2020-04, § 1(Exh. A), 8-25-2020 )
