ARTICLE VIII. - REQUIREMENTS FOR STREETS AND OTHER RIGHTS-OF-WAY

Sec. 40-151. - Purposes.
This chapter is enacted to provide standards and procedures for construction of streets in the City of Senoia.
(Ord. of 7-1-2002, § 801)
Sec. 40-152. - Plan submission requirements.
Prior to receiving a development or building permit, any person proposing development or construction in the city shall submit the following documents and plans to the city engineer for his approval:
(1)
Grading, erosion and sedimentation control and drainage plans, prepared by a professional engineer, or landscape architect currently registered and licensed in Georgia, which show compliance with this chapter.
(2)
Statement of projected work sequence for the proposed project.
(Ord. of 7-1-2002, § 801)
Sec. 40-153. - Design standards.
Unless otherwise specifically set forth herein, all of the materials, methods of construction and workmanship for street and drainage installation shall conform to or equal to standards published by the city.
If no city-published standard exists, the work shall conform to the latest specifications of the Georgia Department of Transportation.
(1)
Access.
a.
All entrances or exits of any public or private street or drive onto any state highway must be approved by the Georgia Department of Transportation and the city council prior to the issuance of a city development permit.
b.
Curb cuts on all nonresidential streets shall be located no less than 50 feet, measured from back to curb, from any intersection.
c.
In all nonresidential zoning districts, curb cuts shall not be less than 50 feet apart measured between back of curbs.
d.
Curb cuts onto arterial and collector streets shall not be closer than 20 feet, measured from back to curb, to any property line in all zoning districts.
e.
All curb cuts onto arterial roads must be approved by the DOT and include a deceleration lane constructed to standards of the Georgia Department of Transportation.
(2)
Minimum right-of-way widths.
a.
Divided street—130 feet.
b.
Major collector street—80 feet.
c.
Minor collector street—60 feet.
d.
Major industrial street—80 feet.
e.
Minor industrial street—60 feet.
f.
Commercial street—60 feet.
g.
Residential street—50 feet.
h.
Cul-de-sac right-of-way radius shall be the back of curb radius plus ten feet.
i.
Design speed and grade.
(3)
Design speed and grade.
EXPAND
Street Type Maximum Grade (per cent) Minimum Design Speed Minimum Grade (per cent)
Major collector street 6 45 1
Industrial/commercial street 6 (8)* 40 1
Minor collector street 8 (10)* 35 1
Residential street 10 (15)* 30 1
*Allowed only where site topography does not allow flatter grades and only with approval of the city engineer.
  (4)
Street paving widths shall be as follows:
a.
Divided street: 48 feet of pavement (four lanes), minimum median width 24 feet
b.
Major collectors streets: 32 feet, if two lanes, 48 feet if four lanes; minimum median width for divided street 24 feet.
c.
Industrial street: 32 feet.
d.
Minor collector street: 28 feet.
e.
Commercial street: 28 feet.
f.
Residential street: 22 feet.
g.
Residential cul-de-sacs:
1.
40-foot radius without an island to back of curb.
2.
50-foot radius with an island with a 20-foot minimum pavement width.
h.
Commercial cul-de-sacs:
1.
50-foot radius without an island.
2.
60-foot radius with an island with a 30-foot minimum pavement width.
3.
One-way cul-de-sacs 60-foot radius with an island with a 30-foot pavement width.
i.
Industrial cul-de-sacs; 60-foot radius with or without an island with a 30-foot minimum pavement width.
(5)
Street pavement section. All streets shall be constructed as follows:
a.
Residential street.
Six-inch compacted graded aggregate base.
Two-inch type "B" asphaltic concrete binder.
One-inch type "F" asphaltic concrete topping.
b.
Commercial/minor collector.
Eight-inch compacted graded aggregate base.
Three-inch type "B" asphaltic concrete binder.
One and one-half-inch type "E" asphaltic concrete topping.
c.
Industrial/major collector.
Eight-inch compacted graded aggregate base.
Three-inch asphaltic concrete base.
Two-inch type "B" asphaltic concrete binder.
One and one-half-inch type "E" asphaltic concrete topping.
(6)
Alignment.
a.
Vertical arterial road profile grades shall be connected by vertical curves of a minimum length in accordance with standards published by the American Association of State Highway and Transportation Officials. Further, in approaches to intersections, there shall be a maximum four-percent grade for a distance of not less than 50 feet from the edge of pavement of an existing street.
b.
Horizontal minimum radii or centerline curvature shall be:
1.
Major and minor collector streets—400 feet.
2.
Industrial/commercial streets—400 feet
3.
Residential streets—250 feet.
c.
Visibility requirements. Minimum horizontal and vertical sight distances shall be as follows:
1.
Major collector streets—350 feet.
2.
Industrial/commercial streets—350 feet.
3.
Minor collector streets—275 feet.
4.
Residential streets—250 feet.
Vertical distance measured between two points shall be based on height of eye at 3.75 feet above pavement level and height of object at 0.5 feet.
(7)
Other design requirements.
a.
Curb and gutter sections. All new public streets constructed within the city limits shall have 24-inch high back curbs and gutters constructed in accordance with standards adopted by the city.
b.
Curb inlets. Curb opening inlets shall be spaced to intercept 85 percent of the storm flows in the gutter section, based on the ten-year storm. Maximum inlet spacing should not exceed 600 feet unless drainage calculations by a professional engineer can show that gutter flow would be excessive for proper design performance. The designer shall provide for inlets to prevent a significant amount of storm flow from crossing an intersection.
c.
Traffic control devices. If the traffic to be generated by a use within a nonresidential district will necessitate traffic devices to ensure public safety, the developer shall install such devices as are necessary to move the traffic generated by the development. This determination shall be made by the city engineer based upon standard traffic planning procedures of the Institute of Traffic Engineers, using traffic warrants of the federal highway administration and the state department of transportation.
d.
Drainage system.
1.
The street or road construction drainage system shall have adequate capacity to accommodate the flow from all upstream areas for a storm of 25-year design frequency based on the existing city land use plan.
2.
An appropriate class of reinforced concrete; corrugated plastic pipe or gauge of corrugated metal or pipe arch will be used for drainage systems. All storm drains within the street pavement and curb and gutter shall be fully coated with asphalt (if CMP is used) or aluminized steel type 2 pipe or its equivalent.
3.
All drains shall have headwalls or end selections installed as part of ht overall system.
4.
In residential outfall culverts shall extend a minimum of 25 feet to the rear of the proposed dwelling or structure.
5.
Continuous length of storm drains without an inlet, manhole or junction box access shall not exceed 300 feet.
6.
Maintenance easements for all drainage systems at least 20 feet wide shall be shown on the final plat and shall be dedicated to the city.
e.
Street cuts. All street cuts shall be constructed in accordance with standards adopted by Senoia.
f.
Private streets. Private streets shall be constructed in accordance with the public street specifications with exception of requirements of subsection (2), street right-of-way widths; subsection (5)b., horizontal-minimum radii or center line curvature; and subsection (5)c, visibility requirements, and shall be permitted in multi-family or commercial zoning districts only. However, horizontal and visibility requirements shall apply to private streets where such street intersects with a public street right-of-way. Private streets cannot become public streets until all requirements of this section have been met.
g.
Every single-family residential subdivision containing 100 lots or more shall be served by at least two ways of ingress and egress.
h.
Street signs. The city's standard street name signs shall have four-inch high reflective letters. Nameplates shall be mounted parallel or nearly parallel to the street. The names shall be marked and visible from both sides. Street signs shall be installed at all street intersections.
(Ord. of 7-1-2002, § 803)
Secs. 40-154—40-170. - Reserved.
