ARTICLE XXIII. - BUFFER REQUIREMENTS

Section 2301. - Side and rear yard buffers.
Whenever any nonresidential use abuts a residential zoned area, or when multifamily residences are adjacent to single-family or two-family residences or districts, or a mobile home park, one of the following buffers shall be installed on the lot with the more intensive and least restrictive use along the common lot lines.
1.
Natural buffer strip. A strip at least 50 feet wide, having and [an] existing natural growth equivalent to a densely planted evergreen screen. A landscape plan identifying all existing trees of six-inch caliper or greater which are to be retained inside the 50-foot natural buffer strip along with any proposed trees and shrubs must be approved by the zoning enforcement official prior to any site construction. The zoning enforcement officer may require additional planting to acquire a uniform buffer strip.
2.
Landscape buffer strip. A strip at least ten feet wide, densely planted with shrubs and/or trees at least three feet high at the time of planting, of a type that will possess growth characteristics of such a nature as to produce a dense, compact evergreen planting screen capable of growing to a height of at least six feet within three years. A landscape plan identifying all plants to be incorporated in the buffer strips must be approved by the zoning administrator prior to any site construction. The zoning administrator may require additional planting to acquire a uniform buffer strip.
3.
Landscape buffer wall. A buffer strip at least ten feet wide, containing an opaque wall or barrier or uniformly painted fence at least six feet in height. Buffer strip shall have five feet of landscape plantings on the exterior side of the wall and shall be planted with appropriate trees, shrubs, and groundcover as to provide a transition from the wall to both edges of the buffer strip. A landscape plan identifying the location and construction of the wall or barrier, and all plants to be incorporated in the buffer strip must be approved by the zoning administrator prior to any site construction. The zoning administrator may require additional planting to acquire a uniform buffer strip.
This ordinance will allow any of these three buffers or a combination thereof to provide flexibility in design.
In addition to the requirements of this section, the requirements at [of] article XI section 1104(H) shall apply in highway oriented commercial districts.
(Ord. of 9-17-91)
Section 2302. - Front yard buffers.
All nonresidential and multifamily uses adjacent to a local street and directly across from a single-family or two-family residence or district and parking for two-family and single-family attached [dwellings] must abide by the following front yard buffer requirements:
1.
A 15-foot minimum front yard landscape buffer containing trees, shrubs, and ground cover must be placed between the right-of-way line and any structure or front yard parking lot, planted in a uniformly distributed manner. Selection of shrubs and ground cover should be such that no shrub or ground cover should grow higher than four feet.
2.
All front yard buffers shall follow the sight distance requirements as stated in current Georgia Development [Department of] Transportation standards.
3.
Property or business identification signs may be incorporated into the front yard buffers.
(Ord. of 9-17-91)
Section 2303. - Exceptions to buffering requirements.
The landscaping and buffering requirements set forth in this regulation shall be subject to the following exceptions:
1.
Prescribed fence or walls may be waived if a building, fence, or wall of at least equivalent height, capacity, and maintenance exists immediately abutting and on the opposite side of said lot line.
2.
An earthen berm not exceeding two feet in height may count towards the prescribed height of any fence, wall, or dense landscaping.
3.
At no time should the buffering of a side or rear lot line come closer than 20 feet to any street line.
(Ord. of 9-17-91)
Section 2304. - Maintenance of buffers.
All required plantings shall be permanently maintained in good growing condition and, whenever necessary, replaced with new plant materials to ensure continued compliance with applicable landscaping requirements. All required fences and walls shall be permanently maintained in good condition, and whenever necessary, repaired or replaced.
In the event that the owner fails to maintain a buffer as required, the city shall have the right to go onto said property, maintain said buffer, and assess the property owner in the same manner as for taxes.
(Ord. of 9-17-91)
