CHAPTER 22. - AIRPORT DISTRICTS—SPECIAL REQUIREMENTS AND PROCEDURES[22]

Sec. 16-22.001. - Application of supplementary controls in airport districts.
Within any airport district designated on the official zoning map, in addition to other zoning regulations, requirements or restrictions applying therein, the following special limitations and requirements shall apply.
(Code 1977, § 16-22.001)
Sec. 16-22.002. - Height limitations, structures and trees.
Above a height of 30 feet, no structure shall be erected or maintained, and no tree shall be allowed to grow or remain, at such height as to protrude through height-limiting planes established by Standards and Specifications for Airports, as prepared by the Atlanta-Fulton County Joint Planning Board in 1956 and as subsequently officially revised, except where letters of certification, as provided at section 16-22.004, authorizes erection or maintenance in connection with higher structures for governmental or public utility uses in such locations, subject to such requirements for making other conditions and safeguards as are appropriate in the case.
(Code 1977, § 16-22.002)
Sec. 16-22.003. - Uses and characteristics of use prohibited.
The following uses or characteristics of use shall be prohibited in airport districts:
(1)
Substantial concentration of persons: In locations hazardous to life because of potential accidents during takeoffs and landings, uses regularly involving substantial concentrations of persons (as residents, workers, shoppers, visitors at sport or entertainment centers, inmates of institutions, or the like) shall be prohibited.
(2)
Uses adversely affected by airport operational characteristics: Uses likely to be adversely affected to a substantial extent by noise, air pollution or other environmental influences related to airport uses shall be prohibited except where structural or other measures are taken to counter such effects to a satisfactory degree.
(3)
Characteristics of use adversely affecting airport operations: Uses which create interference with aircraft or airport communications or navigational equipment, create confusion with or impair visibility of airport lights, create glare in the eyes of pilots, impair visibility in the vicinity of the airport, create emissions dangerous to aircraft or passengers, or in any manner endanger the landing, taking off or maneuvering of aircraft shall be prohibited.
(Code 1977, § 16-22.003)
Sec. 16-22.004. - Letters of certification required before issuance of permits, certificates of occupancy.
Before any building permit or any certificate of occupancy may be issued for any structure or use in any area designated as an airport district on the official zoning map, letters of certification shall be required as follows:
(1)
From Federal Aviation Administration: A letter of certification shall be required from the Federal Aviation Administration or its successor in title or function, indicating compliance with any federal regulations applying to such uses and structures within such zone.
(2)
From Atlanta City Department of Aviation: A letter of certification shall also be required from the Atlanta City Department of Aviation or its successor in title or function, indicating compliance with any officially adopted regulations or policies of the department.
(Code 1977, § 16-22.004)
