ARTICLE VIII - DESIGN REQUIREMENTS FOR LOTS AND BLOCKS

8-A - DESIGN REQUIREMENTS FOR BLOCKS
8-A-1
Block Length
Intersecting streets shall be provided at such intervals so as to provide adequate cross traffic. Blocks in residential subdivisions should not exceed 900 feet nor be less than 600 feet in length, except where topography or other conditions justify a departure from these standards. See Figure 9.
Figure 9
8-A-2
Block Width
The width of the block shall normally be sufficient to allow two (2) tiers of lots of appropriate depth. Blocks intended for business or industrial use shall be of such width as to be considered most suitable for their respective use, including adequate space for off-street parking and deliveries. See Figure 9.
8-B - DESIGN REQUIREMENTS FOR LOTS
8-B-1
Natural Features and Assets
In the subdividing of land, due regard shall be shown for all natural features, such as tree growth, watercourses, historic sites or similar conditions which, if preserved, will add attractiveness to the proposed development and safety from hazards.
8-B-2
Access and Minimum Lot Frontage
Each lot shall have access to a public street and a minimum of fifty (50) feet of lot frontage on a public street; provided, however, that the Board of Commissioners may permit one (1) or more lots to be accessed by private streets.
8-B-3
Adequate Buildable Area Required
Land subject to flooding, improper drainage or erosion, or that is unsuitable for residential or other use for topographical or other reasons, shall not be platted for residential use nor for any other use that will continue or increase the danger to health, safety, or of property destruction, unless the hazards can be and are corrected. Each lot shall contain an adequate building site not subject to flooding and outside the limits of any existing easements or building setback lines required by the local governing body.
Figure 10
8-B-4
Lot Remnants Not Permitted
All remnants of lots below any required minimum lot size that may be left over after the subdividing of a larger tract, must be added to adjacent lots, rather than allowed to remain as unusable parcels. The Land Development Officer may permit a lot remnant for a specific purpose such as a detention pond, provided that access and design is appropriate and the lot remnant is restricted to a specific non-building use. See Figure 10.
8-B-5
Lot Area
The minimum lot area shall be consistent with the established zoning district in which the lot is located.
8-B-6
Lot Width and Depth
No portion of a lot shall have a lot width or depth less than that established by the zoning district in which the subdivision is located.
8-B-7
Flag lots
No lot shall be approved which constitutes a flag lot except with special approval from the Planning Commission due to extreme topographic circumstances.
8-B-8
Side Lot Lines
Insofar as practical, side lot lines shall be at right angles to straight street lines or radial to curved street lines.
8-B-9
Corner Lots
Corner lots shall have adequate width to meet the front building setback requirements of the applicable zoning district from all rights-of-way.
8-B-10
Double Frontage Lots
Double frontage or "through" lots should be avoided except where essential to provide separation of residential development from arterials or overcome specific disadvantages of topography or orientation. Double frontage lots with frontage on an arterial street shall have additional depth in order to allow space for screen planting along the lot line abutting the arterial street. The Planning Commission may prohibit vehicular access to a double-frontage lot from an arterial street or collector street where the lot may otherwise be accessed from a lower order street.
8-C - EASEMENTS
8-C-1
Storm Water and Drainage
Where watercourses, a drainage way, channel or stream traverses a subdivision, there shall be provided a storm water or drainage easement of adequate width as approved by the County Engineer. Easements for all other proposed drainage facilities shall also be approved by the County Engineer.
8-C-2
Water and Sewer Lines
Where easements are needed for public water and/or sanitary sewer lines, they shall be provided as determined appropriate by the County Engineer.
8-C-3
Utilities
Where easements are needed for utility locations, the subdivider shall provide them to the appropriate utility provider.
8-D - SURVEY MONUMENTS FOR ALL LOTS REQUIRED
For all subdivisions, a Georgia registered land surveyor shall install permanent survey monuments at all property corners and land lot lines, prior to final plat approval. Lot corners shall be marked with metal rods not less than 1/2" in diameter and 19" in length and driven so as to be stabilized in the ground. Permanent survey monuments shall also be installed in accordance with the most recent edition of Section 190-7-.05 Monument of the Rules of State Board of Registration for Professional Engineers & Land Surveyors and the Georgia Plat Act (O.C.G.A. 15-6-67).
