27-2.11 DIVISION 11. - MEDIUM AND HIGH DENSITY RESIDENTIAL ZONING DISTRICTS: DIMENSIONAL REQUIREMENTS

Sec. 2.11.1. - Medium and high density ranges.
The medium and high density residential zoning districts allow cottage housing, attached, multi-family and mixed residential developments at the densities illustrated in Table 2.3, below:
Table 2.3 Summary of Density Ranges for Medium and High Density
Residential Zoning Districts
EXPAND
Zoning District Name Density
(units/acre) Eligible Character Areas
Small Lot Residential Mix RSM 4—8 Suburban
Traditional Neighborhood
Neighborhood Center
Town Center
Institutional
Commercial Redevelopment Corridor
Medium Density Residential-1 MR-1 8—12 Traditional Neighborhood
Neighborhood Center
Town Center
Regional Center
Institutional
Commercial Redevelopment Corridor
Medium Density Residential-2 MR-2 12—24 Neighborhood Center
Town Center
Regional Center
Institutional
Commercial Redevelopment Corridor
High Density Residential-1 HR-1 24—40 Town Center
Regional Center
Office Park
Highway Corridor
High Density Residential-2 HR-2 40—60 Town Center
Regional Center
Office Park
Highway Corridor
High Density Residential-3 HR-3 60—120 Regional Center
  ( Ord. No. 15-06 , 8-25-2015)
Sec. 2.11.2. - Dimensional requirements.
Dimensional requirements, including overall site requirements, individual lot dimensions, setbacks, and heights for Medium and High Density Residential Zoning Districts, are provided in Table 2.4, "Medium and High Density Residential Zoning Districts Dimensional Requirements." In addition, compatibility and transitional buffers as defined and required in article 5 may apply.
Table 2.4 Medium and High Density Residential Zoning Districts
Dimensional Requirements
EXPAND
Medium and High Density Residential
KEY:
Housing Types: SFD: Single-Family Detached, SFA: Single-Family Attached, TTF: Two/Three-Family, MF: Multi-Family,
MU: Mixed-Use, U-SF: Urban Single-Family
Character Areas: RC: Regional Center, TC: Town Center, TN: Traditional Neighborhood, NC: Neighborhood Center,
SUB: Suburban
Elements RSM MR-1 MR-2 HR-1 HR-2 and HR-3
Overall Site Requirements (minimum, unless otherwise specified)
Dwelling units per acre (maximum base density and maximum possible with bonuses) 4—8 8—12 12—24 24—40 HR-2: 40—60
HR-3: 60—120
Open space required (minimum %)* 20% 20% 15% 15% 15%
Transitional buffers (feet) See article 5
Lot Requirements (minimum, unless otherwise specified)
Single-Family Detached Conventional (SFD)**
Lot area (square feet) 5,000/2,000
cottage 5,000/2,000
cottage 5,000/2,000
cottage Not permitted Not permitted
Lot width, street frontage (feet) 50/20 cottage and detached townhome 45/20 cottage and detached townhome 40/20 cottage and detached townhome Not permitted Not permitted
Lot coverage (maximum % per lot or total parcel acreage) 50 60 65 Not permitted Not permitted
Single-Family Attached (SFA)
Lot area (square feet) 1,000 1,000 1,000 1,000 1,000
Lot width (feet) 25 25 20 20 20
Lot coverage (maximum % per lot or total parcel acreage) 70 80 85 85 85
Urban Single-Family (detached)
Lot area (square feet) 1,350 1,350 1,000 1,000 1,000
Lot width (feet) 25 25 20 20 20
Lot coverage (maximum % per lot or total parcel acreage) 70 80 85 85 85
Two/Three-Family (TTF)
Lot area (square feet) 4,000 4,000 4,000 Not permitted Not permitted
Lot width (feet) 60 55 50 Not permitted Not permitted
Lot coverage (maximum % per lot or total parcel acreage) 50% 55% 55% Not permitted Not permitted
Multi-Family (MF) and Mixed-Use (MU)
Lot width, street frontage (feet) Not permitted 100 100 100 100
Lot coverage (maximum % of total parcel acreage) Not permitted 65% 75% 85% 85%
Building Setbacks: SF and SFA for Individual Internal Lots; MF, SFA, MU for Overall Site****
From thoroughfares and arterials (min. and max. feet) All: min. 20, max. 30 SFD: min. 15, max. 25
Other: 10—20 All: min. 10, max. 20 All: min. 10, max. 20 All: min. 10, max. 20
Front - all other streets by character area (min. feet) RC/NC/TC: 15
SUB: 20 0 - Determined only by utility placement, ROW, and streetscape (article 5)
Front with alley access (min. feet) 10 SFD & TTF: 10
SFA & MF: 5 SFD & TTF: 10
SFA & MF: 5 5 5
Side - interior lot (feet)**** SFD & TTF: 3 ft. with minimum 10 ft. separation between buildings; SFA; N/A; MF & MU; N/A; U-SF; 0 ft. side setback with minimum 3 ft. separation between building
Side - corner lot on public street (feet) Same as front setback (see also article 5, corner lot)
Rear without alley (feet) SFD: 20; SFA: 15;
TTF: 15; All others: 20 SFD: 20; SFA: 15; MF & MU: 20;
MF: 20; CM/OF/MU: 15 (see also transitional buffers, article 5)
Rear with alley (feet) 10 10 10 10 10
Unit Size, heated living area (square feet, minimum)
Single-Family Detached (SFD)- Conventional 1,200 1,200 1,000 Not permitted Not permitted
Single-Family Detached (SFD)- Cottage 800 800 800 Not permitted Not permitted
Single-Family Attached (SFA)*** 1,200 1,200 1,000 1,000 Not permitted
Urban Single-Family (U-SF) Detached 1,100 1,100 1,100 1,100 Not permitted
Two/Three-Family (TTF) 1,000 1,000 1,000 1,000 Not permitted
Multi-Family (MF)*** Not permitted for new developments 650 650 650 650
Height (maximum and whichever is less when indicated as stories or feet)
Single-Family Detached (SFD)
Except Res Infill Overlays = 28 feet 35 feet 35 feet 35 feet Not permitted Not permitted
Single-Family Attached (SFA) and Urban Single-Family (U-SF) 3 stories or 45 feet 3 stories or 45 feet 3 stories or 45 feet Not permitted Tables 2.13 and 2.15
Two/Three-Family (TTF) 35 feet 35 feet 3 stories or 45 feet Not permitted Not permitted
Multi-Family (MF)*** N/A 4 stories or 60 feet Table 2.9 Tables 2.13 and 2.15 Tables 2.13 and 2.15
Mixed-Use (MU) N/A 4 stories or 60 feet Table 2.9 Table 2.11 Tables 2.13 and 2.15
  *Open space requirement shall apply to new subdivisions if project is > 5 acres or ≥ 36 units (see chapter 14). See article 5 for enhanced open space requirements.
**Where two numbers are indicated, the first number is the standard and the second number applies only to housing type that is indicated, e.g., cottage or townhome.
***See article 5 for building separation and minimum multi-family unit size details; Urban-SF with 0' side setback must meet fire walls, sprinklers and any other fire code applicable to attached townhouse dwellings.
( Ord. No. 15-06 , 8-25-2015)
