27-2.24 DIVISION 24. - NON-RESIDENTIAL ZONING DISTRICTS: DIMENSIONAL REQUIREMENTS

Sec. 2.24.1. - Dimensional requirements.
Amended by Ordinance No. 2022-2542
Dimensional requirements including overall site requirements, lot dimensions, setbacks, and heights for Non-Residential Districts are provided in Table 2.24, "Non-Residential Zoning Districts Dimensional Requirements." Building setback, height and lot width may be tied to lot size compatibility, averaging as defined and required in article 5.
Table 2.2 Non-Residential Zoning Districts Dimensional Requirements
EXPAND
Non-Residential Districts
KEY:
Character Areas: RC: Regional Center, TC: Town Center, NC: Neighborhood Center, SUB: Suburban
Element OIT OI NS C-1 C-2 OD M M2
Overall Site Requirements (minimum, unless otherwise specified)
Dimensional Requirements
Lot area (min. square feet) 7,500 20,000 20,000 20,000 30,000 30,000 30,000 2 acres for heavy ind. & uses req'g SLUP, 1 acre for all other uses
Single-Family Attached Lot Area (Avg. per dwelling unit sq. ft.) 4,000 Not permitted Not permitted Not permitted Not permitted Not permitted Not permitted Not permitted
Lot width, street frontage (feet) 75 100 100 100 100 100 100 150
Lot coverage (maximum percentage) 80 80 80 TC/RC: 90
All other: 80 TC/RC: 90
All other: 80 80 80 80
Open Space Requirements
Sites with 5,000—39,999 sq. ft. gross floor area (minimum %) 15 15 15 10 10 15 15 15
Sites with 40,000 [sq. ft.] gross floor area (minimum %) 20 20 20 20 20 20 20 20
Transitional buffer (feet) Article 5, division 4
Building Setback Requirements (minimum, unless otherwise specified)
Urban Character Areas (Town Center, Regional Center)
Front thoroughfares and arterials (min./max. feet) 20/60 20/50* 10/60 20/60 20/60 Not permitted Not permitted Not permitted
Front - all other streets (min./max. feet) 10/60 10/60* 5/60 10/60 10/60 Not permitted Not permitted Not permitted
Side - interior lot (feet) 20 20* 20 15 15 Not permitted Not permitted Not permitted
Side - corner lot on public streets (feet) 30 15* 15 30 30 Not permitted Not permitted Not permitted
Rear (feet) 20 20* 20 20 20 Not permitted Not permitted Not permitted
All Other Character Areas
Front thoroughfares and arterials (feet) 40 60* 30 60 60 75 60 60
Front - all other streets (feet) 30 50* 20 50 50 75 60 60
Side - interior lot (feet) 20 20* 20 20 20 20 20 20
Side - corner lot on public streets (feet) 40 50* 15 50 50 50 60 60
Rear (feet) 30 30* 20 30 30 30 30 30
Unit Size (residential: heated living area)
Floor area of attached dwelling unit of Multi-Family (min. sq. ft.) 1,000 1,000 Not permitted Not permitted Not permitted Not permitted 1,000 Not permitted
Floor area of live/work dwelling unit (residential portion only - min. sq. ft.) 650 650 650 650 Not permitted Not permitted 650 Not permitted
Floor area per individual building (maximum sq. ft.)(non-res) N/A N/A 50,000 No maximum No maximum No maximum No maximum No maximum
Height (maximum without a special land use permit (SLUP))**
Height (feet) 2 story/35 feet 5 story/70 feet 2 story/35 feet 2 story/35 feet 2 story/35 feet 2 story/35 feet ** **
Transitional height plane (see article 5) No Yes No No No Yes Yes Yes
    * If located next to single-family residential and the building will exceed 35 feet, the building setback from SF residential shall be increased 50%.
** Fire department and rescue services must approve over 3 stories to assure adequacy of fire protection facilities.
*** 5 story/70 feet if in an activity node, 2 story/35 feet outside an activity node, unless obtaining a SLUP for up to 5 story/70 feet.
( Ord. No. 15-06 , 8-25-2015)
