ARTICLE XII. - GENERAL ROAD REQUIREMENTS

Section 1200. - Location Principles.
The roads in a proposed subdivision shall be properly located and built with regard to the following:
(A)
Existing and planned roads;
(B)
Topographical conditions;
(C)
Public convenience and safety, including facilitating fire protection and pedestrian traffic;
(D)
The proposed uses of the land to be served by the roads;
(E)
Probable future traffic volume;
(F)
Further subdivision possibilities;
(G)
Providing proper access to abutting property;
(H)
Proposed traffic functions, including the minimizing of through traffic on minor roads and the protection of major road capacities from excessive marginal access; and
(I)
Such other principles as the Planning Commission may consider significant.
Section 1201. - Coordination.
The arrangement, character, extent, width, grade, and location of all roads shall conform to the Comprehensive Plan.
In particular, the arrangement of roads in a subdivision shall provide for the continuation or appropriate projection of existing major roads in surrounding areas and shall provide for road stubs to the property line when access to the adjoining area is desirable.
Section 1202. - Continuation of Existing Roads.
Existing roads shall be continued at the same or greater width, but in no case shall they be less than the required width.
Section 1203. - Road Names.
Road names shall require the approval of the Planning Commission. Roads that are obviously in alignment with roads already existing and named shall be given the name of the existing thoroughfare. Names of new roads shall not duplicate or closely approximate those of existing roads.
Section 1204. - Subdivisions Abutting Major Arterials.
Where a subdivision abuts or contains an existing or proposed major arterial road, the Planning Commission may require one of the following:
(A)
Marginal Access Road—access or service road, between an arterial and the abutting property;
(B)
Double Frontage—deep lot frontage on a minor road and backing, without access, onto an arterial which is screened by an appropriate fence or wall and planting;
(C)
Rear Service Drive—deep lot with additional building setback and a vehicular service drive in the rear; or
(D)
Such other treatment as may be necessary for protection of residential properties and protection of the capacity of arterials from excessive marginal access.
Section 1205. - Alleys.
Alleys may be required at the rear of lots used for multi-family, commercial, or industrial developments, but shall not be provided in one- and two-family residential developments unless the subdivider provides evidence satisfactory to the Planning Commission of the need for alleys. Dead-end alleys must be avoided, if possible. However, where dead-end alleys are necessary for proper access, they shall terminate with a turn-around having a radius of not less than forty (40) feet.
Section 1206. - Reserve Strips.
Reserve strips preventing access to streets, alleys, and public areas shall not be permitted in any subdivision. This does not preclude the establishment of buffer zone planting.
(Ord. No. 568, § 1206, 9-18-1968)
