ARTICLE X. - OFF-STREET PARKING AND SERVICE REQUIREMENTS

Sec. 22-427. - Scope.
Amended by Ordinance of 06-12-2023 (2)
Except as provided in this article, no application for a building permit shall be approved unless there is included with the plan for such building, improvements, or use a plot showing the required space reserved for off-street parking and service purposes. Occupancy shall not be allowed unless the required off-street parking and service facilities have been provided in accordance with those shown on the approved plan.
(Code 1958, § 24-11; Code 1991, § 22-281)
Sec. 22-428. - Parking spaces may not be reduced.
Off-street parking spaces shall not be reduced below the minimum required number for the use or facility to which they are assigned.
(Code 1958, § 24-11.01; Code 1991, § 22-282)
Sec. 22-429. - Drainage, construction, and maintenance.
All off-street parking, loading, and service areas shall be constructed of concrete or asphalt. Where appropriate, the city engineer may approve energy efficient and sustainable materials when utilized as an alternative means of stormwater compliance if they are contextual (see Light Imprint Handbook—Integrating Sustainability and Community Design. v-1.3. DPZ-Charlotte, New Urban Press, 2008) and meet or exceed baseline requirements in the Georgia Stormwater Management Manual. All such areas shall be at all times maintained, at the expense of the owners thereof, in a clean, orderly, and dust-free condition.
(Code 1958, § 24-11.02; Code 1991, § 22-283; Ord. No. 04232018-1 , § VI(2), 4-23-2018)
Sec. 22-430. - Separation from walkways, sidewalks and streets.
All off-street parking, loading, and service areas shall be separated from walkways, sidewalks, and streets by curbing or other suitable protective device.
(Code 1958, § 24-11.03; Code 1991, § 22-284)
Sec. 22-431. - Parking area design.
(a)
Parking stalls shall have a minimum width of nine feet and length of 19 feet. There shall be provided adequate interior driveways to connect each parking space with a public right-of-way. Interior driveways shall be at least 24 feet wide where used with 90-degree angle parking, at least 18 feet wide where used with 60-degree angle parking, at least 13 feet wide where used with 45-degree parking, and at least 12 feet wide where used with parallel parking; or, where there is no parking, interior driveways shall be at least ten feet wide for one-way traffic movement and at least 20 feet wide for two-way traffic movement.
(b)
Compact car spaces may be approved for parking located in the downtown business district when the principal use of a parking lot is long-term (e.g., designated for employee parking and multifamily residential uses). Parking lots with 30 or more spaces may include compact car spaces for up to 40 percent of the total number of required spaces. Compact car spaces shall be a minimum of eight feet by 13 feet in size and shall be clearly marked "compact car only" in letters 12 inches high and seven inches wide. The parking layout dimensions (in feet) for eight-foot compact parking stalls at various angles is outlined in exhibit A, parking layout dimensions, a copy of which is on file in the administrative offices of the planning and zoning department.
Exhibit A: Parking Layout Dimentions
EXPAND
Dimension on Diagram 0° 45° 60° 75° 90°
Stall width perpendicular to stall length of line 8.0 8.0 8.0 8.0 8.0
Stall length of line 22.0 24.0 20.6 18.1 16.0
Stall depth to wall 8.0 17.0 17.8 17.5 16.0
Aisle width between stall lines 12.0 11.0 18.0 22.0 24.0
Module width wall to wall 28.0 45.0 53.6 76.0 56.0
Back up width—cross aisle one way 6.0
  (Code 1958, § 24-11.04; Code 1991, § 22-285; Ord. No. 06292005-1 , § VIII, 6-29-2005; Ord. No. 02232009-1 , § I, 2-23-2009)
Sec. 22-432. - Joint parking facilities.
Two or more neighboring uses of the same or different types may provide joint facilities, provided the number of off-street parking spaces is not less than the sum of the individual requirements.
(Code 1958, § 24-11.05; Code 1991, § 22-286)
Sec. 22-433. - Pavement markings and signs.
Each off-street parking space shall be clearly marked, and pavement directional arrows or signs shall be provided wherever necessary. Markers, directional arrows and signs shall be properly maintained so as to ensure their maximum efficiency.
(Code 1958, § 24-11.06; Code 1991, § 22-287)
Sec. 22-434. - Number of parking spaces.
In order to ensure a proper and uniform development of public parking areas throughout the area of jurisdiction of this chapter, to relieve traffic congestion on the streets, and to minimize any detrimental effects on adjacent properties, off-street parking space shall be provided and maintained as called for in the table in section 22-43. For any use or class of use not mentioned in this schedule, the requirements shall be the same as a similar use as mentioned therein. Parking requirements for additions to existing uses shall be based only upon the new addition even if the existing use is deficient.
(Code 1958, § 24-11.07; Code 1991, § 22-288)
Sec. 22-435. - Off-street parking requirements.
(a)
In all zoning districts, off-street parking spaces for the storage and parking of self-propelled motor vehicles for the use of occupants, employees and patrons of the buildings hereafter erected, or enlarged after the effective date of the ordinance from which this section is derived, shall be provided as herein prescribed. The remodeling or alteration of present buildings in the downtown C-2 district shall be exempt from these provisions if:
(1)
The exterior dimensions are not changed; and
(2)
Any increase in floor space is confined within the basic structure;
(3)
Apartments in the downtown C-2 district shall provide the required number of parking spaces, no farther than 1,500 feet from the apartment.
(b)
Required parking spaces shall be maintained and shall not be encroached upon so long as such main building or structure remains, unless an equivalent number of such spaces are provided elsewhere in conformance with this chapter. The owner of a building structure or other land use requiring off-street parking space must show, to the satisfaction of the zoning administrator, that the owner is the record title holder of the property devoted to such principal land use and of the property proposed for off-street parking use, or that the owner is the lessee of such property.
(Code 1958, § 24-11.08; Code 1991, § 22-289)
Sec. 22-436. - Location of parking space for other land uses.
The off-street parking facilities required for all other uses shall be located on the lot or within 1,000 feet of the permitted use requiring such off-street parking, such distance to be measured along lines of public access to the property between the nearest point of the parking facilities to the building to be served.
(Code 1958, § 24-11.09; Code 1991, § 22-290)
Sec. 22-437. - Off-street parking standards.
The following table of off-street parking standards specifies the number of parking spaces required for each designated use:
EXPAND
Use Number of Parking Spaces Required
1. Assembly
a. Auditorium, stadium, assembly hall, gymnasium, theater, community recreation center (a) 1 space per 3 fixed seats in largest assembly room or area;
(b) 1 space for each 40 square feet of floor area available for the accommodation of movable seats in the largest assembly room, or combination of fixed and movable seats; or
(c) 1 space per each 150 square feet of gross floor area; whichever is greatest.
b. Bowling area 4 spaces per alley plus requirements for any other use associated with the establishment such as a restaurant, etc.
c. Club or lodge 1 space for each 2 employees plus 1 space for each 200 square of gross floor area within the main assembly area plus additional spaces for other uses permitted within the premises.
d. Church 1 space per 4 seats in the main place of assembly.
e. Dance school 1 space for each employee plus 1 space per 150 square feet of gross floor area plus save and convenient loading and unloading of students.
f. Restaurant or place dispensing food, or refreshments to be consumed on the premises 1 space for each 100 square feet of gross floor area; with a minimum of 10 parking spaces.
g. Restaurant or place dispensing food, drink or refreshment for carry out only (and having outdoor seating area) 1 space for each 150 square feet of gross area (with minimum of 10 spaces); plus 1 additional space for each 3 outdoor seats provided.
h. Restaurant or place dispensing food, drink or refreshment for carry out (no seating area provided) 1 space for each 150 square feet of gross floor area; with a minimum of 10 parking spaces.
i. Restaurant or place dispensing food, drink or refreshments to be consumed on the premises and also having a drive-through service 1 space for each 100 square feet of gross floor area; with a minimum of 10 parking spaces, and providing an adequate lane for through traffic which will not obstruct the required parking and driveway for the restaurant.
j. Swimming pool 1 space for each 200 square feet of water surface area plus requirement for additional uses in association with the establishment such as a restaurant, etc.
2. Business
a. Automobile fueling stations 1 space (in addition to service area) for each pump and grease rack and 1 space for each 2 employees during period of greatest employment but not less than 4 spaces.
b. Automobile sales and repair, service stations and auto washeterias 1 space (in addition to service area) for each pump and grease rack and 1 space for each 2 employees during the period of greatest employment but not less than 4 spaces plus 1 space for each 500 square feet of gross floor area of the shop or washeteria.
c. Automobile service and appliance centers 1 space for each 400 square feet of retail area plus 2 spaces for each service bay.
d. Financial institutions 1 space for each 250 square feet of gross floor area and 2 waiting spaces for each drive-through window.
e. Golf course 2 spaces for each hole and 1 space for each 2 employees plus requirements for any other use associated with the golf course.
f. Office, professional building, or similar use 1 space for each 350 square feet of the gross floor area, or 1 space for each 2 employees, whichever is greater.
g. Personal service establishment 1 space for each 350 feet of the gross floor area, or 1 space for each 2 employees, whichever is greater.
h. Repair shop 1 space for every 300 square feet of gross floor area plus 1 space for each employee.
3. Educational
a. High schools, trade schools 1 space for each teacher, employee, and administrative personnel plus safe and convenient loading of students plus 5 spaces for each classroom.
b. Kindergarten and nursery schools 1 space for each employee plus safe and convenient loading of children.
c. Schools, elementary 1 space for each teacher, 1 space for each 2 employees and administrative personnel, and 1 space for each classroom, plus safe and convenient loading and unloading of students.
4. Factory/industrial
a. Industrial or manufacturing establishments or warehouse 2 spaces for each 3 employees on shift of greatest employment, plus 1 space for each vehicle used directly in the conduct of business.
5. Institutional
a. Hospital 1 space for each bed plus 1 space for each employee (nurse, attendant, etc.) per shift plus 1 space for each staff or visiting doctor.
b. Nursing home 1 space for each 2 beds plus 1 space for each employee on shift of greatest employment.
c. Senior citizen homes 1 space for each 2 beds plus 1 space for each employee on shift of greatest employment.
6. Mercantile
a. Appliance store 1 space for each 400 square feet of gross floor area.
b. Automobile parts and accessories 1 space for each 400 square feet of gross floor area.
c. Furniture store 1 space for each 400 square feet of gross floor area.
d. Grocery store (including small convenience type stores) 1 space for every 250 square feet of gross floor area.
e. Shopping centers (if over 35,000 square feet of gross floor area) 1 space for every 300 square feet of gross floor area.
f. Shopping center (if 35,000 square feet or less of gross floor area) 1 space for every 300 square feet of gross floor area.
g. Retail stores of all types not mentioned 1 space for every 300 square feet of gross floor area.
h. Wholesale establishment 1 space for each employee plus sufficient spaces to accommodate vehicles used in the conduct of the business.
7. Residential
a. Apartments/multifamily dwelling 2 spaces for each dwelling unit plus 1 space for each 10 units for travel trailers, boats, and other vehicles.
b. Apartments for the elderly. 1 space for each dwelling unit.
c. Condominiums/cottage courts 1,000 heated/cooled square feet or less 1 per unit
> 1,000 to 1,500 heated/cooled square feet 1.5 per unit minimum
> 1,500 heated/cooled square feet 2 per unit.
d. Fraternity, sorority or college dormitory 1 space for each 2 residents and 1 space for each 2 employees.
e. Hotel. 1 space for each guest room, suite, or unit plus 1 space for each 2 employees.
f. Motel 1 space for each unit plus 1 space for each 2 employees.
g. Single-family dwelling unit No requirement.
h. Two-family dwelling unit 1 unpaved space per each unit. Residential driveways will satisfy this need.
8. Miscellaneous
a. Combined uses Parking spaces shall be the total of the spaces required for each separate use established by the schedule.
b. Indoor and outdoor (a) 1 space for each 150 square feet of gross floor, building, ground area or combinations devoted to use; or
(b) 1 space per each 4 seats of facilities available for patron use, whichever is greater.
c. Recreation vehicle parks 1 space for recreation vehicle stall plus 1 space for each 2 employees.
  (Code 1958, § 24-11.10; Code 1991, § 22-291; Ord. of 3-23-1972; Ord. of 3-27-1972; Ord. of 4-24-1972; Ord. of 9-25-1972; Ord. of 4-23-1973; Ord. of 3-25-1974; Ord. of 6-24-1975; Ord. of 8-26-1985; Ord. of 8-28-1995, § VII; Ord. No. 04232018-1 , § VII, 4-23-2018)
Sec. 22-438. - Off-street loading requirements.
Amended by Ordinance of 06-12-2023 (2)
(a)
On the same premises with every building structure or part thereof, erected and occupied for manufacturing, storage, warehouse, truck freight terminal, goods display, department store, wholesale store, market, hotel, hospital, mortuary, laundry, dry cleaning, or other uses similarly involving the receipt or distribution of vehicles, materials, or merchandise, there shall be provided and maintained on the lot adequate space for standing, loading, and unloading services in order to avoid undue interference with public use of the streets and alleys.
(b)
Such loading and unloading space, unless otherwise adequately provided, shall be an area ten feet by 50 feet, with 15-foot height clearance, and shall be provided according to the following schedule:
EXPAND
Gross Floor Area in Square Feet Loading and Unloading Spaces Required in Terms of Square Feet of Usable Floor Area
0—10,000 None.
10,001—100,000 1 space for the first 10,001 square feet, plus 1 additional space for each additional 40,000 square feet in excess of 10,001 square feet.
100,001—500,000 3 spaces for the first 100,001 square feet, plus 1 additional space for each additional 60,000 square feet in excess of 100,001 square feet.
Over 500,000 7 spaces for the first 500,001 square feet, plus 1 space for each additional 100,000 square feet in excess of 500,001 square feet.
  (Code 1958, § 24-12; Code 1991, § 22-292; Ord. of 8-26-1985)
Sec. 22-439. - Minimum number of loading spaces required.
Industrial, wholesale, and retail operations shall provide space as follows:
(1)
Off-street loading spaces shall be provided as appropriate to the functions and scope of operation of individual or groups of buildings and uses.
(2)
Off-street loading spaces shall be designed and constructed so that all maneuvering to park and unpark vehicles for loading and unloading can take place entirely within the property lines of the premises. Loading spaces shall be provided so as not to interfere with the free, normal movement of vehicles and pedestrians on public rights-of-way.
(3)
Ingress and egress to off-street loading spaces shall conform to driveway entrance regulations of the city.
(Code 1958, § 24-12; Code 1991, § 22-293)
Sec. 22-440. - Rules and regulations for protection of city rights-of-way.
Amended by Ordinance of 06-12-2023 (2)
(a)
The rules and regulations for the control and protection of the city rights-of-way shall be those promulgated by the city for the control and protection of city rights-of-way.
(b)
Application and permit forms shall be filed with the chief building official of the city.
(Code 1958, §§ 24-13, 24-13.1; Code 1991, § 22-294)
Secs. 22-441—22-463. - Reserved.
