ARTICLE VI. - BUFFER REQUIREMENTS
A buffer shall be required whenever two adjoining properties are in dissimilar zone districts as shown in the following Table 6.1.
TABLE 6.1
DEVELOPING PROPERTY
Least Intensive Uses ..... Most Intensive Uses
EXPAND
R-A, R-E, R-1 R-2 R-3, O-R MHP C-1, C-2, C-3, CBD M-1, M-2
R-A, R-E, R-1
R-2 Buffer "A"
R-3, O-R Buffer "A" Buffer "A"
MHP Buffer "A" Buffer "A" Buffer "A"
C-1, C-2, C-3, CBD Buffer "B" Buffer "B" Buffer "B" Buffer "B"
M-1, M-2 Buffer "B" Buffer "B" Buffer "B" Buffer "B" Buffer "B"
  ( Ord. of 10-09 )

Section A. - Determination of Buffer Requirements Between Residential, Commercial and Industrial Zones.
When two adjoining properties are in dissimilar residential, commercial or industrial zone districts as indicated in Table 6.1, the property within the zone district allowing more intensive uses is required to provide the buffer when acquiring a building permit unless the buffer was pre-existing. When two adjoining vacant parcels are in dissimilar zone districts as indicated in Table 6.1, no buffer is required when the parcel zoned for the less intensive use acquires a building permit.
1.
Buffer A Requirement. The required buffer shall consist of plantings or a fence, wall (not otherwise part of a structure or accessory structure), or a berm, which meets the screening standards of Section B. If plantings are chosen method of screening, the planting area shall have a minimum base width of 12 feet.
2.
Buffer B Requirement. The required buffer shall have not less than a twenty (20) foot base width and shall consist of plantings plus a fence, wall (not otherwise part of a structure or accessory structure), or a berm, or any combination thereof, which meets the screening standards of Section B.
( Ord. of 10-09 )
Section B. - Screening Standards.
Screening is a method of visually shielding or obscuring one use from another by fence, walls, berms or densely planted vegetation.
Plantings. Plantings shall consist of either trees or shrubs or any combination of both. Planted areas shall be located along the abutting property lines or in areas that will provide the best screening effectiveness.
If trees or large shrubs are used solely as the screening devise, they shall be any evergreen species from the list provided by the Zoning Administrator which, under normal growing conditions, will attain a minimum height of eight (8) feet and a canopy spread of ten feet within four (4) years. They shall be planted a minimum twenty (20) feet on center as shown in the following illustration.
If trees are used in combination with shrubs, they may be of any species from the list provided by the Zoning Administrator. Small trees shall be planted thirty (30) foot on center, and large trees forty (40) foot on center as shown in the following illustration. Shrubs shall be any evergreen species from the list provided by the Zoning Administrator planted four (4) feet on center as shown in the following illustration. Shrubs shall initially be of any size, which would normally attain a minimum height of six (6) feet within three (3) years after planting.
Walls. Walls shall be of masonry construction and a minimum height of eight (8) feet. The wall shall be placed on the edge of the buffer nearest the most intense land use.
Fences. Fences shall be a minimum of eight (8) feet in height and constructed of standard wood fencing materials and methods or chain link with woven inserts that will provide ninety percent (90%) visual blockage as shown in the examples provided by the Zoning Administrator. The fence shall be placed on the edge of the buffer nearest the most intense land use.
Berms. Earthen berms shall have a minimum height of eight (8) feet.
( Ord. of 10-09 )
Section C. - Buffer Design.
All buffers required by this article shall conform to the following specifications:
1.
Prior to development, a buffer plan shall be required to show the types and locations of all plantings within a required buffer. If a site plan is required, a buffer plan shall be incorporated as part of the site development plan.
2.
Landscaping within buffer areas shall be used to screen objectionable views or nuisances, such as parking and service areas, refuse containers, air conditioning units and transformers.
3.
Existing on-site trees may be credited as meeting the requirements of this Article if the Zoning Administrator determines that such plant materials achieve the purposes of this Article.
( Ord. of 10-09 )
Section D. - Location of Buffers.
Buffers shall be located on the outer perimeter of a lot or parcel along all lot lines adjoining dissimilar zones including adjacent property lines, which may be separated by an existing or proposed public right-or-way. Buffers shall not be located on any portion of existing, dedicated, or reserved public or private street right-of-way.
( Ord. of 10-09 )
Section E. - Variances.
The requirements of this Article may be waived by the appropriate agency under any of the following conditions:
1.
If it is clearly demonstrated that the existing topography and/or vegetation will achieve the purposes of this Article.
2.
If it is clearly demonstrated that for topographic reasons, no required screening device could possibly screen the ground level activities of the use from the first floor view of the residential structure abutting the use.
3.
The adjoining property owners mutually agree in writing that the required buffer is not necessary for a satisfactory use and enjoyment of their property rights.
4.
It is clearly demonstrated that an existing (or proposed) public right of way separation between adjoining properties will achieve the purposes of this Article.
( Ord. of 10-09 )
Section F. - Use of Buffers.
A buffer may be used for some forms of passive recreation such as pedestrian, bike or equestrian trails, or as a storm water retention area provided that: 1) no planted materials shall be eliminated; and 2) the total width of the required buffer area shall be maintained.
( Ord. of 10-09 )
Section G. - Buffer Installation and Maintenance.
Buffer areas shall be established and maintained by the property owner under the following provisions:
1.
A buffer shall be maintained as a planted area, using existing vegetation or, when required, additional plantings.
2.
A buffer shall be landscaped with trees, shrubs, flowers, grass, stone, rocks and other landscaping materials. To preserve the intended mitigation purpose of the buffer relative to adjacent properties, regularly scheduled maintenance of the buffer is required, including possible replacement of a dead or diseased plant(s), fertilization, mowing grass, pruning, replenishing ground cover, or general care.
3.
A buffer shall not be used for parking or a structure other than a fence or drainage improvements required by the City. However, a buffer may be used as utility easement and for drainage improvements as required by the City.
4.
Except as provided above, the natural topography of the land shall be preserved and all natural vegetation shall not be disturbed beyond that which is necessary to prevent a nuisance, or to thin vegetation where it is too dense for normal growth, or to remove diseased, misshapen or dangerous and decayed timbers. The latter sentence shall not be construed to provide an exemption from the general care and maintenance of the buffer as required in Section G (2) above. However, a slope easement may be cleared and graded where required to prevent soil erosion upon approval by the Zoning Administrator; such easement may cover no more than twenty percent (20%) of the required buffer area, and shall be immediately replanted upon the completion of easement improvements.
5.
Where the conditions described in the preceding paragraph cannot be met by reason of topography, or the prior approval of or lack of timber and foliage, the owner of said buffer area shall erect a screen of evergreen plantings, so designed and developed to provide visual screening between the properties as described in Section A and Section B herein.
6.
All buffers shall be designated on plats and recorded as permanent easements.
( Ord. of 10-09 )
Section H. - Failure to Comply with these Provisions.
See Article XV of this Ordinance for Enforcement and Penalty provisions.
( Ord. of 10-09 )
Section I. - Surety for Buffer Installation.
Prior to the issuance of a certificate of occupancy for a development, the developer or owner shall provide a surety for all required buffer materials such that the developer or owner shall guarantee the work for a period of at least one (1) year after the issuance date of the certificate of occupancy. No certificate of occupancy shall be issued for any use until the required buffer is either fully installed and approved or guaranteed for installation per the following paragraphs.
When the date for issuing the certificate of occupancy does not coincide with the planting season that is necessary to install the required buffer, the Zoning Administrator shall accept a letter of credit or other acceptable surety in the name of the city of Chatsworth for the buffer installation. Such surety shall be in the amount and form satisfactory to the Zoning Administrator and shall certify the following:
1.
That the creditor does guarantee funds in an amount to cover the cost of installing the required buffer as estimated by the developer and approved by the Zoning Administrator. The guaranteed amount accepted by the Zoning Administrator shall equal the actual buffer costs (plants plus installation), plus fifteen (15) percent in the event of default.
2.
That in the case of failure on the part of the developer to complete the specified improvements within six (6) months of the issue date of the credit, the creditor shall pay to the city of Chatsworth immediately and without further action such funds as are necessary to finance the completion of those improvements up to the limit of credit stated in the letter.
3.
That the letter of credit or other acceptable surety may not be withdrawn or reduced in amount until released by the Zoning Administrator after the installed buffer has received a final inspection of approval.
4.
Prior to the end of the first year after the buffer installation, the Zoning Administrator shall make an inspection and notify the owner or developer of any required replacement or restoration.
( Ord. of 10-09 )
