ARTICLE XXI. - OFF-STREET PARKING AND LOADING REQUIREMENTS

Sec. 34-701. - Off-street parking.
(a)
Purpose. The purpose of this article is to provide regulations to ensure safe and efficient circulation of vehicles and pedestrians on public and private streets and to minimize nuisances from on-street parking.
(b)
General requirements. For the purpose of this section, the following general requirements are specified:
(1)
Combination of required parking space. The required space for any number of separate uses may be combined in one lot but the required space assigned to each use may not be assigned to another use, except where the parking space required for churches or other assembly halls whose peak attendance will be at night, on Sunday, or otherwise does not coincide with an adjacent use, said required parking may be assigned to the adjacent use.
(2)
Proximity of off-street parking spaces to use. All required parking for all uses shall be provided on the same lot as the principal use.
(3)
Location on other property. If the required automobile parking spaces cannot be provided on the same lot where the principal use is located, the board of commissioners may permit such space to be provided on other off-street property within 300 feet of the building (or open use area) it is to serve, provided, however, that no required parking spaces may be located across any major street from the use it is intended to serve.
(4)
Requirements for design of parking lots.
a.
Except for parcels of land devoted to one- family and two-family residential uses, all areas devoted to off-street parking shall be so designed and be of such size that no vehicle is required to back into a public street to obtain access.
b.
Each parking space shall be not less than 162 square feet in area; nine feet wide by 18 feet long, except that handicapped spaces shall comply with the Federal Americans with Disabilities Act.
_____
(c)
Parking space requirements for all use zones. In addition to the number of spaces required by the Americans with Disabilities Act, off-street automobile storage or parking space shall be provided with vehicular access to a public street and it shall be equal to or greater than the minimum requirements for the specific use set forth below:
EXPAND
Land Use Parking Requirements
Residential
Single-family Two spaces per dwelling unit
Multifamily Two spaces per dwelling unit
Condominium/townhouse Two spaces per dwelling unit
Manufactured home park Two spaces per housing unit
Senior housing One space per dwelling unit
Boardinghouse and roominghouse Two spaces plus one space per 300 square feet of gross floor area
Public Assembly
Church One space per four seats or 12 feet of bench seating
Auditorium, assembly hall, community center One space per four seats or 12 feet of bench seating plus one space per two employees
Clubs and lodges, noncommercial One space per 300 square feet of gross floor area
Library, museum One space per 250 square feet of floor area for public use
Schools, public or private One space per 30 pupils
Elementary/junior
Schools, public or private
High school One space per teacher and full-time employee and one space per three students
Schools, college and technical One space per student, plus an additional space per teacher and full-time employee
Health Facilities
Hospital, nursing home One space per two beds plus one space per three employees, including doctors
Funeral parlors One space per four seats in the chapel
Medical, dental and health clinics Ten spaces per doctor plus one additional space per two employees
Veterinary clinics and kennels Four spaces per doctor plus one space per employee
Commercial
Automobile repair garages One per regular employee plus one space per 250 square feet of floor area used for repair work
Bank or financial institution One space per 200 square feet of gross floor area
Convenience store One space per 200 square feet of gross floor area
Dry cleaner One space per 200 square feet of gross floor area
Gas service station Five spaces per service bay plus one space per two employees
Grocery store One space per 200 square feet of gross floor area
Hardware store One space per 200 square feet of gross floor area
Liquor store One space per 200 square feet of gross floor area
Motel, hotel One space per room or suite plus one space per three employees
Offices (business, professional) One space per 200 square feet of gross floor area
Restaurants, drive-in, carry out One space per 200 square feet of gross floor area
Restaurants, sit down One space per 150 square feet of useable floor area plus one space per two employees
Retail establishments, service and general merchandise One space per 200 square feet of gross floor area
Shopping center, under 400,000 square feet of gross leaseable area One space per 165 square feet of gross leasable area
Shopping center, over 400,000 square feet of gross leasable area One space per 180 square feet of gross leasable area
Theater One space per three seats
Warehouse, storage uses One space per employee on the largest shift plus one space per 600 square feet of warehouse or storage area
Wholesale uses One space per employee on the largest shift plus one space per 200 square feet of selling area
Industrial
Industrial establishments One space per two employees at maximum employment on a single shift
  _____
(d)
Uses not specified. In the case of a use not specifically mentioned in subsection (c) of this section, the requirements for off-street parking facilities shall be determined by the board of commissioners. Such determination shall be based upon the requirements set forth for the most comparable use specified in subsection (c) of this section.
(e)
Reduction of spaces. The planning commission may, at their discretion, reduce the minimum number of parking spaces required for a specific use by subsection (c) of this section, provided that sufficient evidence is presented justifying the need for reduction in the requirements and every effort has been made to provide off-street parking in accordance with the stipulations of this amendment.
(f)
Restriction on use of required parking. The required off-street parking shall be for employees, occupants, clients and visitors. It shall be limited in use to temporary storage of motor vehicles with current license plates. The storage of merchandise or motor vehicles for sale, the servicing or repairing of vehicles or equipment and regular truck loading and unloading thereon is prohibited.
(Ord. No. 48, § 22-1, 1-9-2003)
_____
Sec. 34-702. - Off-street loading.
(a)
Purpose. The purpose of this section is to provide regulations to ensure the adequate provision of off-street loading and unloading space as required by this chapter.
(b)
General requirements for off-street loading and unloading space. Every building or structure or lot used for business, trade, or industry shall provide space as established in this chapter for the loading and unloading of vehicles off the public street or alley. Such space shall have access to a public street or alley. Such space shall be arranged so that no vehicle is required to back into a public street, road or highway in order to leave the premises. Each loading space provided shall be an area 12 feet by 45 feet with a 14-foot height clearance where uses require trailer-truck loading or ten feet by 25 feet with a height clearance of 14 feet for uses not requiring trailer-truck loading. All loading spaces shall be located so as to contain adequate maneuvering room to permit convenient access to the loading space. A sufficient number of loading spaces shall be provided as follows:
EXPAND
Total Floor Area (TFA) of Use
(in square feet) Number of Loading Spaces Required Use
(in square feet)
Less than 100,000 One space per 20,000 square feet, (total floor area) TFA
100,000 to 500,000 Five spaces plus one space per 40,000 square feet in excess of 100,000 square feet, (total floor area) TFA
Over 500,000 15 spaces plus one space per 80,000 square feet in excess of 500,000 square feet, (total floor area) TFA
  (Ord. No. 48, § 22-2, 1-9-2003)
_____
Secs. 34-703—34-730. - Reserved.
