DIVISION 2. - GENERAL SEWER USE REQUIREMENTS

Sec. 23-21. - Prohibited discharge standards.
(a)
General prohibitions. No user shall introduce or cause to be introduced into the POTW any pollutant or wastewater which causes pass through or interference. These general prohibitions apply to all users of the POTW whether or not they are subject to categorical pretreatment standards or any other national, state or local pretreatment standards or requirements.
(b)
Specific prohibitions. No user shall introduce or cause to be introduced into the POTW the following pollutants, substances or wastewater:
(1)
Pollutants which create a fire or explosive hazard in the POTW, including, but not limited to, any flammable or explosive liquid wastestream with a closed-cup flashpoint of less than one hundred forty (140) degrees Fahrenheit (60° C) using the test methods specified in 40 CFR 261.21;
(2)
Wastewater having a pH less than 5.5 or more than 9.0, or otherwise causing corrosive structural damage to the POTW or equipment;
(3)
Any ashes, cinders, sand, mud, straw, shavings, metal, glass, rags, feathers, offal, plastics, wood, paunch manure, hair and fleshings, entrails, lime slurry, lime residues, beer or distillery slops, chemical residues, paint or ink residues, cannery waste, bulk solids, thread, yarn, tar, latex, unground garbage, whole blood, paper dishes, paper cups, ground paper products, paper or plastic milk containers, strong acid, metal pickling wastes, concentrated plating solutions or any other solid having any dimension greater than one-half (½) inch or viscous substance capable of causing obstruction to the flow in sewers, or other interference with the proper operation of the sewage works.
(4)
Pollutants, including oxygen-demanding pollutants (BOD, etc.), released in a discharge at a flow rate and/or pollutant concentration which, either singly or by interaction with other pollutants, will cause interference with the POTW;
(5)
Wastewater having a temperature greater than one hundred four (104) degrees Fahrenheit (40° C), or which will inhibit biological activity in the treatment plant resulting in interference, but in no case wastewater which causes the temperature at the introduction into the treatment plant to exceed one hundred four (104) degrees Fahrenheit (40° C);
(6)
Petroleum oil, nonbiodegradable cutting oil, or products of mineral oil origin, in amounts that will cause interference or pass through;
(7)
Pollutants which result in the presence of toxic gases, vapors or fumes within the POTW in a quantity that may cause acute worker health and safety problems;
(8)
Trucked or hauled pollutants, except at discharge points designated by the utilities director in accordance with section 23-34 of this article;
(9)
Noxious or malodorous liquids, gases, solids or other wastewater which, either singly or by interaction with other wastes, are sufficient to create a public nuisance or a hazard to life, or to prevent entry into the sewers for maintenance or repair;
(10)
Wastewater which imparts color which cannot be removed by the treatment process, such as, but not limited to, dye wastes and vegetable tanning solutions, which consequently imparts color to the treatment plant's effluent, thereby violating the city's NPDES permit;
(11)
Wastewater containing any radioactive wastes or isotopes except in compliance with applicable state or federal regulations;
(12)
Stormwater, surface water, ground water, artesian well water, roof runoff, subsurface drainage, swimming pool drainage, condensate, deionized water, noncontact cooling water and unpolluted wastewater, unless specifically authorized by the utilities director;
(13)
Sludges, screenings or other residues from the pretreatment of industrial wastes;
(14)
Medical wastes, except as specifically authorized by the utilities director in a wastewater discharge permit;
(15)
Wastewater causing, alone or in conjunction with other sources, the treatment plant's effluent to fail a toxicity test;
(16)
Detergents, surface-active agents, or other substances which may cause excessive foaming in the POTW;
(17)
Fats, wax, oils or greases of animal or vegetable origin, whether or not emulsified, in concentrations greater than one hundred (100) mg/l; or
(18)
Wastewater causing two (2) readings on an explosion hazard meter at the point of discharge into the POTW, or at any point in the POTW, of more than five (5) percent or any single reading over ten (10) percent of the lower explosive limit of the meter.
Pollutants, substances, or wastewater prohibited by this section shall not be processed or stored in such a manner that they could be discharged to the POTW.
(Ord. (7-W-96) of 6-13-96; Ord. ( (W-5-20) ) of 12-8-20, § I)
Sec. 23-22. - National Categorical Pretreatment Standards.
The categorical pretreatment standards found at 40 CFR Chapter 1, Subchapter N, Parts 405 through 471 are hereby incorporated.
(1)
Where a categorical pretreatment standard is expressed only in terms of either the mass or the concentration of a pollutant in wastewater, the utilities director may impose equivalent concentration or mass limits in accordance with 40 CFR 403.6(c).
(2)
When the limits in a categorical pretreatment standard are expressed only in terms of mass of pollutant per unit of production, the [utilities director] may convert the limits to equivalent limitations expressed either as mass of pollutant discharged per day or effluent concentration for purposes of calculating effluent limitations applicable to individual industrial users.
(3)
When wastewater subject to a categorical pretreatment standard is mixed with wastewater not regulated by the same standard, the utilities director shall impose an alternate limit using the combined wastestream formula in 40 CFR 403.6(e).
(4)
A user may obtain a variance from a categorical pretreatment standard if the user can prove, pursuant to the procedural and substantive provisions in 40 CFR 403.13, that factors relating to its discharge are fundamentally different from the factors considered by EPA when developing the categorical pretreatment standard.
(5)
A user may obtain a net gross adjustment to a categorical standard in accordance with 40 CFR 403.15.
(Ord. (7-W-96) of 6-13-96; Ord. ( (W-5-20) ) of 12-8-20, § III)
Sec. 23-23. - State pretreatment standards.
State requirements and limitations on discharge shall apply in any case where they are more stringent than federal requirements and limitations, or those of this article.
(Ord. (7-W-96) of 6-13-96)
Sec. 23-24. - Local limits.
The utilities director is authorized to establish local limits pursuant to 40 CFR 403.5(c).
(a)
The following pollutant limits are established to protect against pass through and interference. No person shall discharge wastewater containing in excess of the following daily maximum limits unless authorized by the utilities director under an industrial user permit.
EXPAND
Pollutant Daily Maximum (mg/L)
Arsenic 0.305
Cadmium 0.004
Chromium 0.249
Copper 0.082
Cyanide 0.055
Mercury 0.0003
Nickel 0.202
Selenium 0.034
Silver 0.161
Zinc 0.720
BOD 250
TSS 250
Ammonia 30
Phosphorus 4.0
  Discharge of BOD, TSS, ammonia and phosphorus in excess of the values listed above, even if allowed under an industrial user permit issued by the utilities director is subject to industrial surcharges for high strength wastes as provided in section 23-142.
(b)
The limits of subsection (6)a. above apply at the point where the wastewater is discharged to the POTW. All concentrations for metallic substances are for total recoverable metal unless indicated otherwise. The utilities director may impose mass limitations in addition to, or in place of, the concentration-based limitations above.
(c)
The utilities director may develop best management practices (BPMs), by ordinance or in individual industrial user permits to implement local limits and the requirements of section 23-21.
(d)
Upon the promulgation of the National Categorical Pretreatment Standards for a particular industrial subcategory, the categorical standards, if more stringent than limitation imposed under this article for sources in that subcategory, shall immediately supersede the limitations imposed under this article. All affected users shall notify the city of the applicable reporting requirements under 40 CFR, section 403.12.
(Ord. (7-W-96) of 6-13-96; Ord. ( (W-5-20) ) of 12-8-20, § IV)
Sec. 23-25. - City's right of revision.
The city reserves the right to establish, by ordinance or in wastewater discharge permits, more stringent standards or requirements on discharges to the POTW.
(Ord. (7-W-96) of 6-13-96)
Sec. 23-26. - Dilution.
No user shall ever increase the use of process water, or in any way attempt to dilute a discharge, as a partial or complete substitute for adequate treatment to achieve compliance with a discharge limitation unless expressly authorized by an applicable pretreatment standard or requirement. The utilities director may impose mass limitations on users who are using dilution to meet applicable pretreatment standards or requirements, or in other cases when the imposition of mass limitations is appropriate.
(Ord. (7-W-96) of 6-13-96; Ord. ( (W-5-20) ) of 12-8-20, § I)
Sec. 23-27. - Private wastewater disposal.
(a)
Where a public sanitary sewer is not available under the provisions of section 23-16, the building sewer shall be connected to a private wastewater disposal system complying with the provisions of this division.
(b)
No statement contained in this section shall be construed to interfere with any additional requirements that may be imposed by the county health officer.
(c)
Except as provided in this article, it shall be unlawful for any person to construct or maintain any privy, privy vault, septic tank, cesspool or other facility intended or used for the disposal of wastewater.
(d)
The type, capacities, location and layout of a private wastewater disposal system shall comply with all recommendations of the department of human resources of the state, except septic tanks which shall be permitted and approved by the local city health department.
(e)
No septic tank or cesspool shall be permitted to discharge to any natural outlet. Any condition which results in an overflow from a septic tank system, or in the seepage to the ground surface of septic tank drainfield contents shall be promptly corrected by the owner(s). If permanent correction of septic system problems onsite are not practical, the city may require the owner(s), at their expense, to connect to the city sewers within ninety (90) days and to properly abandon the septic system.
(f)
The owner(s) shall operate and maintain the private wastewater disposal facilities in a sanitary manner at all times, at no expense to the city.
(g)
At such time as a public sewer becomes available to a property served by a private wastewater disposal system as provided in section 23-16, a direct connection shall be made to the public sewer within ninety (90) days in compliance with this article, and any septic tanks, cesspools and similar private wastewater disposal facilities shall be cleaned of sludge and filled with suitable material.
(Ord. (7-W-96) of 6-13-96)
Secs. 23-28—23-30. - Reserved.
