Sec. 3.7.7. - Improvement requirements and design standards.
Developments in the hospital overlay shall be subject to the improvement requirements and design standards contained in the architectural design standards.
( Ord. No. 7-2020 , § 1(Exh. A), 10-26-20)
