ARTICLE D. - OFF-STREET PARKING AND SERVICE REQUIREMENTS

Sec. 8-4-61 - Scope of provisions.
modified
Except as provided in this section, no application for a building permit shall be approved unless there is included with the plan for such building improvements, or use, a plot plan showing the required space reserved for off-street parking and service purposes. Occupancy shall not be allowed unless the required off-street parking and service facilities have been provided in accordance with those shown on the approved plan. These provisions shall not apply to the C-1 and I-2 districts.
(Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-62 - Parking spaces may not be reduced.
modified
Off-street parking spaces shall not be reduced below the minimum required number for the use or facility to which they are assigned.
(Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-63 - Drainage, construction, and maintenance.
modified
All off-street parking, loading, and service areas shall be drained so as to prevent damage to abutting properties and/or public streets and shall be constructed of materials which will assure a surface resistant to erosion. All such areas shall be at all times maintained at the expense of the owners thereof, in a clean, orderly, and dust-free condition.
(Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-64 - Separation from walkways, sidewalks, and streets.
modified
All off-street parking, loading, and service areas shall be separated from walkways, sidewalks, and streets by curbing or other suitable protective device.
(Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-65 - Parking area design.
modified
Parking stalls shall have a minimum width of eight and one-half (8½) feet and length of twenty (20) feet. There shall be provided adequate interior driveways to connect each parking space with a public right-of-way. Interior driveways shall be at least twenty-four (24) feet wide where used with ninety-degree angle parking, at least eighteen (18) feet wide where used with sixty-degree angle parking, at least twelve (12) feet wide where used with forty-five-degree parking, and at least twelve (12) feet wide where used with parallel parking, or where there is no parking, interior driveways shall be at least ten (10) feet wide for one-way traffic movement and at least twenty (20) feet wide for two-way traffic movement.
(Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-66 - Joint parking facilities.
modified
Two (2) or more neighboring uses, of the same or different types may provide joint facilities, provided that the number of off-street parking spaces are not less than the sum of the individual requirements.
(Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-67 - Pavement markings and signs.
modified
Each off-street parking space shall be clearly marked, and pavement directional arrows or signs shall be provided wherever necessary. Markers, directional arrows and signs shall be properly maintained so as to ensure their maximum efficiency.
(Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-68 - Number of parking spaces.
modified
In order to assure a proper and uniform development of public parking areas throughout the area of jurisdiction of this chapter, to relieve traffic congestion on the streets, and to minimize any detrimental effects on adjacent properties, off-street parking space shall be provided and maintained as called for in the following schedule. For any use or class of use not mentioned in this schedule, the requirements shall be the same as a similar use as mentioned herein. Parking requirements for additions to existing uses shall be based only upon the new addition even if the existing use is deficient. These regulations shall not apply to C-1 and I-2 districts.
EXPAND
(1) Apartment and multi-family dwelling One and one-half (1-½) spaces for each dwelling unit
(2) Auditorium, stadium assembly hall, gymnasium, theater, community recreation center, church (i) One (1) space per four (4) fixed seats in largest assembly room or area; (ii) one (1) space for each 40 square feet of floor area available for the accommodation of movable seats in the largest assembly room, or combination of fixed and movable seats; or (iii) one (1) space per each 150 square feet of gross floor area; whichever is greatest
(3) Automobile fueling stations One (1) space (in addition to service area) for each pump and grease rack and one (1) space for each two (2) employees during period of greatest employment but not less than four (4) spaces
(4) Automobile sales and repair, service stations and auto washaterias Same as (3) above plus one (1) space for each 500 square feet of gross floor area of the shop or washateria
(5) Bowling alley Four (4) spaces per alley plus requirements for any other use associated with the establishment such as a restaurant, etc.
(6) Club or lodge One (1) space for each two (2) employees plus one (1) space for each 200 square feet of gross floor area within the main assembly area plus additional spaces for other uses permitted within the premises
(7) Combined uses Parking spaces shall be the total of the spaces required for each separate use established by this schedule
(8) Dance school One (1) space for each employee plus one (1) space per 150 square feet of gross floor area plus safe and convenient loading and unloading of students
(9) Fraternity or sorority One (1) parking space for each two (2) residents and one (1) space for each two (2) employees
(10) Golf course Two (2) spaces for each hole and one (1) space for each two (2) employees plus requirements for any other use associated with the golf course
(11) High schools, trade schools, colleges and universities One (1) space for each two (2) teachers, employees, and administrative personnel plus safe and convenient loading of students plus five (5) spaces for each classroom
(12) Hospital or care home One (1) space for each three (3) beds plus one (1) space for each two (2) employees (nurses, attendants, etc.) plus one (1) space for each staff or visiting doctor
(13) Hotel One (1) space for each guest room, suite, or unit plus one (1) space for each two (2) employees
(14) Indoor and outdoor recreational areas (commercial), YMCA and similar uses (i) One (1) space for each 150 square feet of gross floor, building, ground area, or combination devoted to such use; or (ii) one (1) space per each four (4) seats or facilities available for patron use; whichever is greater
(15) Industrial or manufacturing establishment or warehouse Two (2) spaces for each three (3) employees on shift of greatest employment, plus one (1) space for each vehicle used directly in the conduct of the business
(16) Kindergarten and nursery school One (1) space for each employee plus safe and convenient loading of students
(17) Motel One (1) space for each unit plus one (1) space for each two (2) employees
(18) Office, professional building, or similar use One (1) space for each 200 square feet of the gross floor area, plus one (1) space for each employee
(19) One and two-family dwelling One (1) space per each unit (residential driveways will satisfy this need)
(20) Personal service establishment One (1) space for each 200 square feet of gross floor area, plus one (1) space for each employee
(21) Restaurant or place dispensing food, drink, or refreshments One (1) space for each three (3) seats plus one (1) space for each two (2) employees on shift of greatest employment
(22) School, elementary One (1) space for each teacher, one (1) space for each two (2) employees and administrative personnel, and one (1) [space] for each classroom, plus safe and convenient loading and unloading of students
(23) Shopping center One (1) space for every 200 square feet of gross floor area
(24) Swimming pool One (1) space for each 200 square feet of water surface area plus requirements for additional uses in association with the establishment such as a restaurant, etc.
(25) Manufactured home community One (1) space for each manufactured home lot plus one (1) space for each two (2) employees
(26) Retail stores of all types not mentioned otherwise One (1) space per 200 square feet of gross floor area
(27) Wholesale establishment One (1) space for each permanent employee plus sufficient spaces to accommodate vehicles used in the conduct of the business
  (Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-69 - Minimum number of loading spaces required.
modified
Industrial, wholesale, and retail operations shall provide loading space as follows:
(1)
Spaces appropriate to functions. Off-street loading spaces shall be provided as appropriate to the functions and scope of operation of individual or groups of buildings and uses.
(2)
Design of loading spaces. Off-street loading spaces shall be designed and constructed so that all maneuvering to park and unpark vehicles for loading and unloading can take place entirely within the property lines of the premises. Loading spaces shall be provided so as not to interfere with the free normal movement of vehicles and pedestrians on public rights-of-way.
(3)
Ingress and egress. Ingress and egress to off-street loading spaces shall conform to driveway entrance regulations of the City.
(Ord. No. 2019-01 , 4/15/19)
Sec. 8-4-70 - Curb cut requirements.
modified
Within any district where the lowering or cutting away of curbs for purposes of ingress and egress is required, such curb cut shall be subject to the following provisions:
(1)
No more than two (2) combined entrances and exits shall be allowed any parcel of property, the frontage of which is less than two hundred (200) feet on any one (1) street. Additional entrances or exits for parcels of property having a frontage in excess of two hundred (200) feet shall be permitted after showing of actual requirements of convenience and necessity and upon approval of the planning and zoning commission. Where frontage is fifty (50) feet or less, only one (1) combined entrance-exit shall be permitted.
(2)
At street intersections, no curb cut shall be located within twenty-five (25) feet of the intersection of two (2) curb lines or such lines extended, or within fifteen (15) feet of the intersection of two (2) property lines or such lines extended, whichever is least restrictive.
(3)
The distance between any two (2) curb cuts on the same side of the street shall be not less than ten (10) feet. Said distance shall be measured between the points of tangency of the curb return radii and the established curb line of the abutting street.
(4)
All driveways shall be constructed so as to be at least five (5) feet from any property lines, except that a curb return may become tangent to a curb line at a point where said property line extended intersects said curb line.
(5)
The maximum width of any driveway shall not exceed thirty-five (35) feet measured at the right-of-way line.
(6)
The maximum width of any curb cut including curb returns shall not exceed fifty (50) feet.
(7)
The sum of the two (2) curb return radii for any one (1) curb cut shall not exceed fifteen (15) feet.
(Ord. No. 2019-01 , 4/15/19)
Secs. 8-4-71—8-4-80 - Reserved.
