Chapter 10.40 - GENERAL REQUIREMENTS
Sections:

10.40.010 - Animal Care—Requirements for Animal Owners and Animal Facilities.
A person who owns an animal or who owns or operates an animal facility , must comply with each of the following conditions, the failure of which is a misdemeanor:
A.
Housing facilities for animals must be structurally sound and maintained in good repair to protect the animals from injury, contain the animals, and restrict the entrance of other animals.
B.
All animals must be supplied with sufficient food and water suitable for the age, species, and nutritional requirements of the animal. Animals must have access at all times to potable water, unless otherwise directed by a veterinarian. All animal food must be properly stored to prevent contamination, infestation by vermin, and exposure to the elements.
C.
Animals must be groomed and kept in a manner that is not injurious to their health. All animal buildings or enclosures must be maintained in a clean and sanitary condition to control odors and prevent the spread of disease.
D.
All animals must be maintained in a manner to eliminate excessive and nighttime noise.
E.
No animals may be without attention for more than 12 consecutive hours; whenever an animal is left unattended at a commercial animal facility, the telephone number of the Department, or the name, address, and telephone number of the responsible person, must be posted in a conspicuous place at the front of the property. Animal facilities that breed dogs must comply with the applicable minimum staffing requirements set forth in Section 10.40.200.
F.
Animals may not be neglected, teased, abused, mistreated, annoyed, tormented, or in any manner made to suffer.
G.
No condition may be maintained or permitted that is or could be injurious to the animals.
H.
Tethering of animals is prohibited except as permitted under California Health and Safety Code section 122335.
I.
Animal buildings and enclosures must be constructed and maintained to prevent escape of animals. All reasonable precautions must be taken to protect the animals and the public.
J.
An animal facility must isolate sick animals so as to not endanger the health of other animals.
K.
A building or enclosure for animals must be kept in a sanitary condition and in good repair, and must be constructed of material easily cleaned. The building must be properly ventilated to prevent drafts and to remove odors. Heating and cooling must be provided to meet the physical need of the animals, with sufficient light to allow observation of the animals and proper sanitation. An animal facility must be equipped with working smoke alarms and have means of fire suppression, such as a sprinkler system in each room where animals are kept, or functioning fire extinguishers.
L.
An animal must be taken to a veterinarian for examination or treatment if the Director orders the owner or custodian to do so.
M.
All animal enclosures, including, but not limited to, rooms, cages, and kennel runs, must be of sufficient size to provide adequate and proper accommodations for the animals housed there. An enclosure with a wire bottom may be used temporarily for dogs, and only if it complies with Health and Safety Code sections 122065 and 122065.5. If enclosures, such as crates and other mobile enclosures, are stacked upon one another, or on a surface other than the floor, the crates/enclosures must be securely fastened and designed and arranged so that: there is no danger of an enclosure falling; the animals do not have direct access to one another; and waste from one enclosure cannot be transmitted to another enclosure. Food and water containers must be secured to prevent spillage. Crates may be stacked no more than two crates high.
N.
A violation of an ordinance must be corrected within the time specified by the Director.
O.
Proper shelter and protection from the weather must be provided at all times.
P.
An animal must not be given any alcoholic beverage, unless prescribed by a veterinarian.
Q.
Animals that are natural enemies, temperamentally unsuited or otherwise incompatible, must not be housed together, or so near each other as to cause injury, fear, or torment. Two or more animals can be housed together if they do not harm each other.
R.
Any tack, equipment, device, substance, or material that is, or could be, injurious or cause unnecessary cruelty to any animal may not be used.
S.
Working animals must be given adequate rest periods. Confined or restrained animals must be given appropriate exercise.
T.
An animal that is weak, exhausted, sick, injured, lame, or otherwise unfit may not be worked or used.
U.
An animal that the Department has suspended from use may not be worked or used until released by the Department.
V.
Animals bearing evidence of malnutrition, ill health, unhealed injury, or having been kept in an unsanitary condition may not be displayed.
W.
An animal whose appearance is or may be offensive or contrary to public decency may not be displayed.
X.
No animal may be allowed to constitute or cause a hazard, or be a menace to the health, peace, or safety of the community.
Y.
A person may not violate any condition imposed by the Director on any license issued by the Department.
(Ord. 2016-0040 § 207, 2016: Ord. 2011-0011 § 10, 2011: Ord. 2000-0075 § 52, 2000: Ord. 9454 § 1 (part), 1967: Ord. 4729 Art. 9 § 901, 1946.)
10.40.015 - Sale of Live Animals—Prohibited at Swap Meet.
Live animals may not be displayed, sold, or promoted for sale at a swap meet. "Live animal" includes, but is not limited to, dogs, cats, birds, fish, poultry, rabbits, and livestock.
(Ord. 2016-0040 § 208, 2016: Ord. 85-0204 § 26, 1985.)
10.40.016 - Sale of Animals on Shelter Property.
Animals may not be sold or otherwise transferred to another person at County animal care centers unless authorized by the Director.
(Ord. 2016-0040 § 209, 2016: Ord. 2000-0075 § 53, 2000.)
10.40.020 - Reserved.
10.40.030 - Reserved.
10.40.040 - Animal Facilities—Records Required for Each Animal.
A.
A person who has an animal facility license must keep available for inspection on the premises the following records:
1.
The name and current contact information of the owner of each animal kept at the animal facility;
2.
The date the animal entered and left the animal facility, including any animal that died while at the facility;
3.
The reason that the animal was at the facility, such as for boarding, sale, breeding, or grooming;
4.
The description of the animal, including its age, breed, sex, color, and other available identifying information, such as an animal license number, tattoo, or microchip registration number.
B.
A current, valid rabies certificate must be maintained for every dog and cat older than four months of age while the dog or cat is kept at the animal facility.
C.
Any animal facility selling dogs and/or cats to the public must post a notice containing the breeder's name, address, and license number on each dog or cat's cage. If the breeder's name is not known, the name and address of the person from whom the dog or cat was obtained must be displayed.
D.
A violation of any requirement of this section is a misdemeanor.
(Ord. 2016-0040 § 212, 2016: Ord. 2011-0011 § 11, 2011: Ord. 9454 § 1 (part), 1967: Ord. 4729 Art. 9 § 905, 1946.)
10.40.050 - Reserved.
10.40.060 - Excessive Animal Noise.
A.
Excessive Noise. It is unlawful for an owner or custodian of an animal to allow the animal to emit any excessive noise after the Department has issued a written notice of an excessive noise complaint. For purposes of this section, the term "excessive noise" means a noise that is unreasonably annoying, disturbing, offensive, or which unreasonably interferes with the comfortable enjoyment of life or property.
B.
Complaints. All complaints to the Department regarding violations of subdivision A. must be made in writing, signed under penalty of perjury, and must include the name, address, and telephone number of the complainant(s), as well as the address of the animal owner or custodian and a description of the noise, including the date(s) and approximate times of the excessive noise.
C.
Violations.
1.
First Violation. The Department will issue a written notice to the owner or custodian of the animal advising of the noise complaint, after it receives a written complaint of excessive noise based on verifiable information. The notice will order the owner or custodian to abate the excessive noise within 10 days of the notice ("compliance date").
2.
Second Violation. A second violation occurs if the animal owner or custodian fails to stop the excessive noise by the compliance date. A second violation is an infraction punishable by a fine of up to $100.
3.
Third Violation. A third violation occurs after a second violation if the animal owner or custodian fails to stop the excessive noise within 10 days after the notice of the second violation is mailed. A third violation is an infraction punishable by a fine of up to $200.
4.
Subsequent Violations. Each subsequent violation after the third violation within one year of the original complaint is an additional infraction punishable by a fine of up to $500.
(Ord. 2016-0040 § 214, 2016: Ord. 85-0204 § 23, 1985: Ord. 9454 § 1 (part), 1967: Ord. 4729 Art. 9 § 904, 1946.)
10.40.065 - Animal Nuisance.
A.
Definition. An animal nuisance arises when an animal bites or otherwise injures a person, attacks other animals, is repeatedly at large, damages and/or strays on private or public property, or otherwise interferes with the comfortable enjoyment of life or property.
B.
Violation. When the Department receives a complaint of an animal nuisance, it will issue a written notice to the owner or custodian of the animal advising of the nuisance, and ordering the owner to correct the nuisance. An animal owner or custodian who fails to immediately correct the animal nuisance after receiving written notice from the Department is guilty of a misdemeanor.
(Ord. 2016-0040 § 215, 2016: Ord. 2000-0075 § 54, 2000: Ord. 85-0204 § 24, 1985.)
10.40.066 - Waste Removal.
A person who owns or has custody of a dog (except a visually-impaired person with a guide dog) is required to remove the dog's feces immediately from public property or private property not owned or possessed by the owner or custodian of the dog. The dog's feces must be disposed of in a sanitary manner. A violation of this section is an infraction punishable by a fine of up to $100.
(Ord. 2016-0040 § 216, 2016.)
10.40.070 - Wild Animals—Enclosure Requirements.
Wild animals must be maintained in buildings, enclosed yards, paddocks, or cages, as specified by the Director, and must be kept at distances from adjacent buildings as specified in applicable zoning and health code laws.
(Ord. 2016-0040 § 217, 2016: Ord. 9454 § 1 (part), 1967: Ord. 4729 Art. 9 § 907, 1946.)
10.40.080 - Wild Animals—Transportation.
A person transporting a wild animal through the County of Los Angeles must take adequate precautions to protect the public, and must notify the Los Angeles County Sheriff's Department and the Department if an animal escapes.
(Ord. 2016-0040 § 218, 2016: Ord. 9454 § 1 (part), 1967: Ord. 4729 Art. 9 § 909, 1946.)
10.40.090 - Liability of Licensees for Acts of Employees.
An act or omission of an employee of an animal care facility in caring for animals is assumed to be an act or omission of the licensee.
(Ord. 2016-0040 § 219, 2016: Ord. 9454 § 1 (part), 1967: Ord. 4729 Art. 9 § 910, 1946.)
10.40.100 - Animal Facility License Holders to Provide Lists of Animals Sold—Advertisement and Vaccination Requirements.
A.
A person who has an animal facility license must complete a form provided by the Department listing all animals sold, and submit it to the Department upon demand.
B.
An advertisement for the sale or adoption of an animal must include the animal facility license number or breeding license number of the seller.
C.
An animal facility must maintain records confirming that each dog and cat in its custody and control has received a rabies vaccination, as required by this code, and provide the vaccination records to a new owner.
(Ord. 2016-0040 § 220, 2016: Ord. 2011-0011 § 12, 2011: Ord. 90-0089 § 9, 1990: Ord. 83-0182 § 22, 1983.)
10.40.200 - Breeding License, Restrictions and Requirements.
A.
General Requirements.
1.
Dog Breeding License. A dog breeding license is an animal facility license issued to a person who breeds dogs commercially. A person, as defined in Section 10.08.190, applying for a dog breeding license must comply with all licensing requirements set forth in Section 10.28.050, all other applicable ordinances, and all federal and state laws, including, but not limited to, Health and Safety Code section 122045, et seq. Approval from the public health officer may be required, if necessary, because of health concerns. The size category of the dog to be bred (Adult size: 1-20 lbs.; 21-50 lbs.; 51-100 lbs.; and 101+ lbs.) and the number of dogs to be housed at the facility will be stated on the license. A change in the size category of dogs bred requires re-inspection and a new license application.
2.
Breeding Facilities Housing 50 or Fewer Sexually Intact Dogs Over the Age of One Year. An animal facility may not have more than a total of 50 sexually intact dogs over the age of one year, unless it meets the requirements of Subsection A.3. below. An animal facility having 50 or fewer dogs must have adequate staffing on the premises of the animal facility to attend to the dogs at least eight hours in every 24-hour period, so long as the dogs are not left unattended for longer than 12 continuous hours. Whenever the dogs are left unattended, the telephone number of the Department of animal care and control, or the name, address, and telephone number of the responsible person, must be posted in a conspicuous place at the front of the property.
3.
Breeding Facilities Housing 51 or More Sexually Intact Dogs Over the Age of One Year. The Director may approve an application for 51 or more dogs if the applicant complies with the following additional requirements:
a.
Facilities with 51 or more sexually intact dogs over the age of one year will be re-inspected more frequently. The number of re-inspections per year is determined by the number of dogs housed in the facility:
51-75 dogs: one annual re-inspection;
76-100 dogs: two annual re-inspections;
101-125 dogs: three annual re-inspections;
126-150 dogs: four annual re-inspections;
151 + dogs: five annual re-inspections.
b.
The animal facility demonstrates that it is able to house and care for the number of dogs in compliance with the requirements of this section and all applicable requirements of Title 10;
c.
The animal facility provides a written medical program, approved by a California licensed veterinarian, to prevent and control illness and parasitism. The program must include a regular de-worming schedule and a regular vaccination schedule against commonly transmitted canine diseases, and must be updated annually;
d.
The animal facility maintains records on site, demonstrating that an annual veterinary examination has been performed on each intact male or female dog over one year of age. The record of each exam must reflect that a physical exam consisting of auscultation and palpation, and a visual evaluation of the dog including eyes, ears, mouth and general body condition was performed. The record of each exam must also include the weight, temperature, heart rate, respiration, any significant medical findings relating to the dog's condition, and any recommendations for treatment;
e.
The animal facility obtains approval from the Director of an emergency response plan, which is updated annually; and
f.
The animal facility maintains adequate staffing at the facility 18 hours a day to attend to the animals. Whenever an animal is left unattended, the telephone number of the Department of animal care and control, or the name, address and telephone number of the responsible person, must be posted in a conspicuous place at the front of the property.
B.
Health of Breeding Dogs.
1.
A female unaltered dog must be at least 12 months old before being bred. Records of litters birthed are required to be maintained pursuant to Subsection D. below;
2.
Offspring may not be removed from the premises earlier than eight weeks of age except for medical reasons ordered by a California licensed veterinarian. The order must be in writing, state the medical reason for early separation, and be provided to the Department, if requested, up to two years after its issuance.
C.
Housing Requirements.
1.
The housing for the animals must comply with Section 10.40.010;
2.
Each pregnant dog must be housed separately at least three days before giving birth and be monitored at reasonable intervals;
3.
A dog who has just given birth must be provided with a contained nesting area and housed with her litter in their own run or enclosure until the newborns are weaned.
D.
Dog Identification and Recordkeeping.
1.
The following current records must be maintained and produced upon request to determine licensing compliance or for any other purpose relating to the public health, safety, or welfare. These records must be provided to a purchaser of any dog sold or transferred to another person by the facility:
a.
All dogs must be microchipped or tattooed upon reaching the age of four months or prior to sale or transfer, whichever is earlier. Microchip and tattoo records must be kept for all dogs.
b.
In addition to the records required by California Health and Safety Code sections 122050 and 122055 relating to dogs, breeding facilities must keep the following records for all dogs: the date and from whom the dog was acquired; the date of each litter birthed by each female animal; veterinary records; and the cause of death and the method of disposal.
2.
Knowingly providing false information or records relating to any animal is a misdemeanor.
E.
Reasonable Restrictions on the Breeding of Animals Other Than Dogs. Breeders of animals, other than dogs, that are normally kept as pets for sale or exchange in return for consideration, must comply with all applicable requirements of Section 10.40.010. In addition, the Director may impose reasonable conditions on a breeding license, including a limitation on the number of animals permitted at a facility, and may impose recordkeeping requirements, in the interest of the health and safety of the public and of the animals.
F.
Noncompliance—Penalties. The penalties for violations of any provision of this Section 10.40.200 are as follows:
1.
First Violation. A first violation is an infraction punishable by a fine of up to $250. If the owner or custodian fails to correct the underlying cause of the violation within 30 days after being notified of the violation, it is a second violation.
2.
Second Violation. A violation within a year of a first violation is a second violation. A second violation is a misdemeanor punishable by imprisonment in the County jail for up to six months or by a fine of up to $1,000, or both. Each subsequent violation within one year of the first violation is an additional misdemeanor.
G.
Noncompliance—Injunctive Relief. Any act or failure to act in violation of this Section may be the subject of a civil action to ensure compliance. The filing and prosecution of an action will not limit the authority or ability of the County to enforce the requirements of Section 10.40.200 or to impose penalties or take any other action permitted by law.
(Ord. 2016-0040 § 221, 2016: Ord. 2011-0011 § 13, 2011.)
