5704.2.8.16.1 - System Requirements.
The fire protection system shall be a deluge type foam system, which provides a minimum of .25 GPM (.9463 L) over the entire vault area. The minimum duration of the foam supply shall be 10 minutes. If a manual system is provided, it must assume a maximum of 125 psi (861.85 Kpa) at the Fire Department connection.
(Ord. 2017-0003 § 237, 2017.)
