ARTICLE XI. - PARKING AND LOADING REQUIREMENTS

Sec. 1101. - Off-street parking and loading spaces required.
(a)
It is the intent of this zoning ordinance that all buildings, structures, and uses of land shall provide off-street parking and loading space in an amount sufficient to meet the needs caused by the building or use of land and that such parking and loading spaces are so oriented that they are readily useable for such purposes.
(b)
Each use of land and each building or structure hereafter constructed or established shall provide off-street parking and loading according to the standards set forth herein. When an addition is proposed to a building that is nonconforming as to parking or loading requirements, a conforming amount of parking or loading shall be supplied based upon the size of the addition.
(c)
No addition to an existing building shall be constructed which reduces the number of spaces, area, or usability of existing parking or loading space unless such building and its addition conform with the regulations for parking and loading contained herein.
(d)
Off-street parking shall incorporate handicapped spaces into the design of parking facilities.
Sec. 1102. - Design standards.
The following design requirements shall apply to all off-street parking spaces, driveways, and loading spaces.
(a)
Parking Spaces.
(1)
Off-street surface parking shall not be located between a building and the street without an intervening building, except where otherwise permitted in section 904 (b)(6) and 1005(a)(5).
(2)
Required dimensions for each parking space. Each automobile parking space shall be not less than nine (9) feet wide and twenty (20) feet deep. Parking spaces for compact cars shall not be less than eight (8) feet wide and fifteen (15) feet deep. Adequate interior driveways shall connect each parking space with a public right-of-way.
(3)
Surfacing, drainage and lighting. All off-street parking spaces, access and interior driveways shall be provided with a paved, dust free surface. If the off-street parking facilities are used at night, they shall be properly illuminated for the safety of pedestrians, vehicles and for security. The lighting shall be designed so as not to reflect onto or cause glare in any adjacent residential district.
(4)
Striping and marking.
a.
All pavement markings intended to delineate off-street parking spaces shall be striped with durable reflective striping designed for that purpose.
b.
All handicapped spaces shall be striped and marked in accordance with applicable federal and state standards.
(b)
Compact parking spaces.
(1)
Developments where thirty (30) or more parking spaces are provided shall have the option to allot up to twenty (20) percent of the parking spaces as compact parking spaces.
(2)
Compact parking spaces shall be identified by pavement markings and/or by appropriate signage.
(c)
Bicycle parking.
(1)
Developments in all TC, NC-1, and NC-2 districts shall provide bicycle parking racks at a ratio of at least one (1) bicycle parking space for every twenty (20) automobile parking spaces.
(2)
No development shall have fewer than three (3) bicycle parking spaces nor be required to exceed a maximum of thirty (30) spaces.
(3)
Bicycle parking spaces shall be located within the landscape zone a maximum distance of one hundred (100) feet from the building entrance, or shall be located at least as close as the closest automobile space and shall provide a concrete pad upon which the bicycle parking space shall be firmly rooted.
(Ord. No. 351, § 1, 12-8-10)
Sec. 1103. - Driveways and curb cuts.
Driveways and curb cuts shall meet the following criteria:
(a)
Interior driveway. Where ninety (90) degree parking is utilized, all interior driveways shall be a minimum of twenty two (22) feet in width. If forty five (45) or sixty (60) degree angle parking is used, then interior driveways shall be at least twelve (12) feet in width for one-way traffic and twenty two (22) feet in width for two-way traffic. Where parallel parking is utilized or there is no parking, interior driveways shall be a minimum of ten (10) feet in width for one-way traffic and twenty (20) feet in width for two-way traffic.
(b)
All sidewalk paving materials shall be continued across any intervening driveway at the same prevailing grade and cross slope as on the adjacent sidewalk clear zone. A corresponding interior sign or painted bar on the driveway shall be provided adjacent to the sidewalk paving as it intersects the driveway which shall communicate that vehicles must stop or yield for the intervening sidewalk.
(c)
Driveway curb cut widths shall be a maximum of twenty-four (24) feet for two-way entrances and twelve (12) feet for one-way entrances, unless otherwise permitted by the DeKalb or Georgia Department of Transportation. For the purposes of this section, two (2) curb cuts serving two one-way driveways shall only be counted as one (1) curb cut provided that each curb cut does not exceed one (1) lane in width.
(d)
Driveway curb cuts on any street that functions as an arterial street or collector street are permitted only when access cannot be provided from a side or rear street located immediately adjacent to a contiguous property, with the exception of hotel patron drop-off drives.
(e)
Driveways, except for a driveway to reach the side yard or rear yard or an on-site parking facility, are not permitted between the sidewalk and a building, and shall be perpendicular to any adjacent street.
(f)
No more than one (1) curb cut shall be permitted for each development, provided that properties with more than one (1) street frontage may have one (1) curb cut located on each street frontage. However, developments on properties with a single street frontage greater than four hundred (400) feet shall be permitted two (2) curb cuts along one street frontage provided that each curb is at least 300 feet apart.
(g)
A common or joint driveway may be authorized by the planning and development commission.
(h)
All developments shall have pedestrian walkways a minimum width of five (5) feet connecting ground level parking to the public sidewalks and to all building entrances.
Sec. 1104. - Parking area landscaping requirements.
Interior landscaping for parking areas shall be required for all parking lots designed for according to the requirements of section 1213.
Sec. 1105. - Parking decks and parking structures.
The following regulations shall apply to parking decks and parking structures:
(a)
Parking deck facades shall conceal automobiles from visibility from any public right-of-way or private drive or street that are open to the general public, and shall have the appearance of a horizontal storied building.
(b)
All parking decks and parking structures shall have pedestrian walkways a minimum width of five (5) feet connecting ground level parking to the public sidewalks and to all building entrances.
(c)
All parking decks and parking structures shall have a landscape strip a minimum width of six (6) feet immediately contiguous to the parking facility for the whole of the exterior perimeter of the parking facility containing at least one (1) understory or overstory tree, as appropriate, and ten (10) shrubs per fifty (50) linear feet, and a minimum of ninety (90) percent living groundcover, sod, and/or annual or perennial color in the landscape strip surface area.
Sec. 1106. - Interpretations.
(a)
Where a fractional space results during the calculation of required parking, the required number of parking spaces shall be construed to be the next highest whole number.
(b)
Where the parking requirement for a particular use is not described in this article, and where no similar use is listed, the mayor or his/her designee shall determine the number of spaces to be provided based on requirements for similar uses, location of the proposed use, the number of employees on the largest shift, total square footage, potential customer use, and other expected demand and traffic generated by the proposed use. In making any such determination, the mayor or his/her designee shall follow the principles set forth in the statement of purpose at the beginning of this article.
Sec. 1107. - Minimum off-street parking requirements.
The following are the minimum number of off-street parking spaces required by type of permitted use. The square footage is the gross square footage unless otherwise indicated.
(a)
The total number of permitted parking spaces shall not exceed one hundred ten (110) percent of the minimum number of off-street parking spaces required by type of permitted use.
(b)
All surface parking provided in excess of one hundred (100) percent of the minimum number of off-street parking spaces required by type of permitted use shall be of porous paving or grass paving systems and as approved by the planning and zoning board.
(c)
The minimum number of off-street parking spaces required by use are as follows:
EXPAND
Use Number of Spaces Per Unit
Commercial:
Automotive sales 1 space per 150 sq. ft.
Automotive service garages 3 spaces per service bay with a minimum of 10
Beauty and barber shops 3 spaces per operator
Commercial, manufacturing and industrial not for retail 1 space per 2,000 sq. ft. of gross office, plant and storage area
Convenience store 1 space per 200 sq. ft. of gross floor area
Grocery or food stores 1 space per 250 sq. ft. of gross floor space
Furniture and appliances 1 space per 500 sq. ft. of space
Gasoline service stations 2 spaces per gas pump, plus 3 spaces per service bay, plus 1 space for each attendant
Hotel and motel 1 space per unit, plus 1 space per 5 units for visitors, plus 1 space per 2 employees on the same shift
Hotel and motel with meeting rooms or
banquet facilities 1 space per unit, plus 1 space per 5 units for visitors, plus 1 space per 2 employees on the same shift, plus 1 space per 200 sq ft of accessory use
Recreation—Subdivision recreation area 1 space per 10 dwelling units
Recreation—Commercial and public 1 space per 200 sq. ft. of recreational space with 20 spaces minimum
Restaurants and taverns 1 space per 3 seats or 100 sq. ft. if no seats are provided, plus 1 per employee on the largest shift with a minimum of 10
Retail stores 1 space per 250 sq. ft. of gross floor space
Shopping centers 5 spaces per 1,000 sq. ft. of gross floor area
Small item service and repair shops 1 space per 250 sq. ft. of gross floor area
Wholesale stores 1 space per 200 sq. ft. of gross floor area, plus 1 space 2000 sq. ft. of gross storage area
Institutional:
Religious institutions, other places of worship and funeral parlors 1 space per 3 seats in the main assembly area or 1 space per 50 sq. ft. where fixed seats are not provided
Social organizations including lodges and
fraternal organizations 1 space per 250 sq. ft.
Hospitals or group homes 1 space per 2 beds, plus 1 space for each employee on the largest shift
Libraries, galleries, and similar uses 1 space per each 400 sq. ft. of gross space to which the public has access
Places of public assembly 1 space per 3 seats or 1 space per 50 sq. ft. where fixed seats are not provided
Schools (elementary and middle schools) 2 spaces per classroom, plus 1 space per teacher and employee, plus 1 space per 100 sq. ft. of seating space in the auditorium(s).
Schools (high schools) 2 spaces per classroom, plus 1 space per teacher and employee, plus 1 space per 100 sq. ft. of seating space in the auditorium(s), plus 1 space per 10 students
Schools (colleges, universities or adult
education facilities) 10 spaces per classroom
Daycare or nursery 3 spaces per 1,000 sq. ft.
Offices:
Offices—Government, banks, professional,
general 1 space per 250 sq. ft.
Medical and dental offices 6 spaces per practioner
Residential:
Apartments, townhomes, condominiums, and other multifamily attached uses 2 spaces per dwelling unit
Boarding or rooming houses 1 space per bedroom
Cottage housing 1.25 to 2.0 spaces per dwelling unit as regulated in section 904
Residences including single-family, duplexes, triplexes 2 spaces per dwelling unit
Senior citizen independent living facility 1 space per unit
  (d)
Additional requirements for non single-family districts. All required off-street parking facilities (other than those for single-family dwellings), including entrances, exits, and maneuvering areas, shall comply with the following provisions. Each parking facility:
(1)
Shall have access to a public street;
(2)
Shall be graded and paved, including access drive(s), and be curbed when needed for effective drainage control;
(3)
Shall have all spaces marked with paint lines, curb stones or other similar devices;
(4)
Shall be drained so as to prevent damage to abutting properties or public streets and where possible shall be drained towards infiltration swales located in the five-foot head-to-head landscape strips required between vehicles in section 1205(f).
(5)
To the extent practicable, adjacent parking lots serving nonresidential or mixed-use buildings shall be interconnected and shall provide for future interconnectivity.
(6)
Shall have adequate lighting if the facilities are to be used at night, provided such lighting shall be arranged and installed so as not to reflect or cause glare on abutting properties;
(7)
Shall be designed to conform to the geometric design standards of the institute of traffic engineers;
(8)
Wheel bumpers shall be placed at the head of all parking spaces that abut a landscape strip or sidewalk. When wheel bumpers are adjacent to a sidewalk, a two-foot extension of the sidewalk shall be permitted to be substituted in the place of the required wheel bumpers.
(9)
No parking area may be used for the sale, repair, dismantling, servicing or long term storage of any vehicles or equipment unless such use is permitted within the district in which the parking area is located.
(10)
Location on other property. If the required automobile parking spaces cannot be reasonably provided on the same lot on which the principal use is conducted, such spaces may be provided on adjacent or nearby property within the same zoning district, provided a major portion lies within twelve hundred (1,200) feet of the main entrance to the principal use for which such parking is provided. A written agreement among all owners of record shall be provided and held on file with the city clerk. All renewed or terminated leases shall be filed with the city clerk.
( Ord. No. 396, § 17, 7-5-16 )
Sec. 1108. - Shared or reduced parking standards.
Reduced parking for NR-1, NR-2, and NR-3 districts shall be prohibited. For all other districts, the applicant may request a reduction to or waiver of parking standards based on the following criteria:
(a)
Reduction of parking requirements through a shared parking arrangement may be permissible only through the permission of the mayor and city council provided the arrangement shall avoid conflicting parking demands and provide for safe pedestrian circulation and access.
(b)
A to-scale map indicating location of proposed parking spaces shall be provided.
(c)
A shared parking calculation projection shall be provided that demonstrates that each use will have adequate parking provisions at all times. The process for determining the minimum parking requirements for a mixed-use development or for contiguous properties containing multiple uses is:
(1)
Determine the minimum number of parking spaces required for each use category from section 1107 of this article.
(2)
Multiply each parking requirement by the corresponding percentage for each of the time periods shown on the table below.
(3)
Total the number of parking spaces for each of the time periods (that is, add together all of the numbers in each column).
(4)
The largest column total is the minimum shared parking requirement for the development or collectively for the contiguous properties.
TABLE: SHARED PARKING SPACE REQUIREMENTS
EXPAND
Use Weekdays Weekends
Daytime
6 a.m.—5 p.m. Evening
5 p.m.—1 a.m. Daytime
6 a.m.—5 p.m. Evening
5 p.m.—1 a.m.
Residential 80% 100% 80% 100%
Office 100% 10% 20% 5%
Retail 95% 85% 100% 70%
Hotel 60% 100% 60% 100%
Restaurant 75% 100% 60% 100%
Entertainment 50% 85% 70% 100%
Church 50% 50% 100% 60%
    (d)
For contiguous properties sharing parking spaces under this provision, cross-easements shall be filed establishing access to the parking spaces in perpetuity.
(e)
A reduction in the number of parking spaces that would otherwise be required for each of the various uses on a multiple-use property must be clearly shown on the development plan. If shared parking is proposed for a combination of contiguous properties, a plan must be submitted covering all of the properties that will be sharing the parking spaces.
(f)
A written agreement among all owners of record shall be provided and held on file with the city clerk. All renewed or terminated leases shall be filed with the city clerk.
(g)
One-half (½) of the off-street parking spaces required by a use whose peak attendance will be at night or on Sundays may be shared with a use that will be closed at night or on Sundays.
Sec. 1109. - Handicapped parking requirements.
Handicapped parking spaces shall meet the following criteria:
(a)
Handicapped Spaces. Handicapped parking spaces shall be in accordance with the regulations set forth by the Americans with Disabilities Act. All handicapped spaces shall be identified by pavement markings and by appropriate signage. Handicapped parking shall be required on all multi-family and non-residential sites.
(b)
Handicapped parking spaces shall be located in the closest proximity to major building entrances, but in no event shall such spaces be located more than one hundred (100) feet from a major building entrance.
(c)
Handicapped parking spaces shall be a minimum of eight (8) feet in width by twenty (20) feet in length and shall have an adjacent access aisle with a minimum width of five (5) feet. Two (2) accessible parking spaces may share a common access aisle.
(d)
The first one (1) out of every eight (8) accessible parking spaces shall be a van accessible space. Van parking spaces shall have an adjacent access aisle a minimum of eight (8) feet in width and a vertical clearance of at least eight (8) feet along the vehicular route to the parking space.
(e)
Handicapped parking will be required on all sites. The minimum number to be provided for all multifamily and nonresidential developments is as follows:
EXPAND
Number of Spaces in the
Parking Lot Required Number of
Handicapped Spaces
0—25 1
26—50 2
51—75 3
76—100 4
101—150 5
151—200 6
201—300 7
301—400 8
Over 400 2% of Total Spaces
  Sec. 1110. - Minimum off-street loading requirements.
When required, one (1) or more off-street loading stalls shall be provided on the same or adjoining premises with the facility it serves, either inside or outside a building or structure. A loading berth shall have minimum dimensions of twelve (12) feet wide and thirty five (35) feet deep with an overhead clearance of fourteen (14) feet. A loading space need not be a full berth but shall be sufficient to allow normal loading of a magnitude appropriate to the use served. However, in no case shall such space or its use hinder or obstruct the free movement of vehicles, and pedestrians over a street, sidewalk or alley.
(a)
The following design requirements shall apply to all off-street loading stalls.
(1)
Access. All off-street loading stalls shall have access from an alley, or if there is no alley, from a public street.
(2)
Surfacing, drainage and lighting. All off-street loading stalls and access shall be provided with a paved, dust free surface. If loading stalls are to be used at night, they shall be properly illuminated for the safety of pedestrians, vehicles and for security. Lighting shall be designed to preclude light spill onto adjacent properties.
(3)
Location. The off-street loading and unloading stalls shall be located to cause a minimum of interference with the free movement of vehicles and pedestrians over a street, sidewalk or alley.
(b)
The following are the minimum number of off-street loading stalls required by type of permitted use. Square footage is the gross amount unless otherwise indicated.
(1)
Retail operations and all first floor nonresidential uses with a gross floor area of two thousand five hundred (2,500) square feet or less: One (1) loading space which may be located adjacent to the street curb.
(2)
Retail operations, and all first floor nonresidential uses, with a gross floor area of greater than two thousand five hundred (2,500) square feet and less than twenty thousand (20,000) square feet, and all wholesale and light industrial operations with a gross floor area of less than ten thousand (10,000) square feet: One (1) loading space.
(3)
Retail operations, including restaurant and dining facilities within hotels and office buildings, with a total usable floor area of twenty thousand (20,000) square feet or more devoted to such purposes: One (1) loading berth for every forty thousand (40,000) square feet of floor area or fraction thereof; one (1) loading space for every twenty thousand (20,000) square feet of floor area or fraction thereof.
(4)
Office buildings and hotels with total usable floor area of one hundred thousand (100,000) square feet or more devoted to such purposes: One (1) loading berth for every one hundred thousand (100,000) square feet of floor area or fraction thereof.
(5)
Industrial and wholesale operations with a gross floor area of ten thousand (10,000) square feet or over shall conform to the following schedule:
EXPAND
Gross Floor Area Required Loading Berths
10,000—49,000 square feet 1
49,000—100,000 square feet 2
100,000—160,000 square feet 3
160,000—240,000 square feet 4
240,000—320,000 square feet 5
320,000—400,000 square feet 6
Each 90,000 above 400,000 square feet 1
  (c)
This space may be shared by up to four (4) adjacent users by contractual arrangement specifying details of the sharing, a copy of which is to be provided to the mayor or his/her designee.
(d)
Applicants may request a reduction to or waiver of loading requirements. The reduction of loading requirements may be permissible only through the permission of the mayor and city council provided the arrangement shall avoid conflicting parking demands and provide for safe pedestrian circulation and access. When loading berths are shared by numerous users, those users shall provide a contractual arrangement specifying details of the shared arrangement to the mayor or his/her designee.
Sec. 1111. - Automobile rental establishment parking requirements.
Automobile rental establishments, where permitted, shall park all automobiles for lease in marked spaces that are separate and over and above in number from the required parking spaces for rental business establishments.
Sec. 1112. - Automobile wash servicees parking requirements.
Automobile wash services, where permitted as a principal use, shall provide a paved area located on the same lot for the storage of vehicles awaiting service. Said space shall be adequate in size to accommodate the number of vehicles equal to one-third (⅓) of the practical hourly capacity of the washing facilities. The preceding space requirements do not apply to automobile service stations which provide automobile wash services as an accessory use.
Sec. 1113. - Multi-wheeled vehicle and bus parking.
Automotive vehicles having more than four (4) wheels, major recreational equipment, school, and other buses are prohibited from parking on residential streets or within public rights-of-way. This section shall not apply to vehicles that park or stand in residential districts for less than eight (8) hours unless engaged in the loading or unloading of the vehicle nor shall it apply to franchised or regulated utility vehicles. See also Ch. 18, Traffic of this Code.
Sec. 1114. - Parking and storage of certain vehicles.
In all residential zoning districts the parking or storage of any vehicle larger than a pickup truck, larger than a van, or in excess of two thousand (2,000) pounds load capacity as identified or defined by the manufacturer (other than recreational vehicles) is prohibited except when the following provisions apply:
(a)
Such vehicle may park within a fully enclosed structure that meets all other criteria of the zoning district.
(b)
Such vehicle may park on the side or to the rear of the primary residential structure on the lot provided that the lot is three (3) acres or larger, but in no case may be closer than one hundred (100) feet from any property line.
This section shall not apply to vehicles that park or stand in residential zoning districts for less than eight (8) hours unless engaged in the loading or unloading of the vehicle.
Sec. 1115. - Parking in residential districts.
Parking any automobile, motorcycle, motor vehicle or trailer shall not be allowed in the front yard, side yard or rear yard of a residence unless said automobile, motorcycle, motor vehicle or trailer is parked on a concrete, asphalt or gravel driveway or parking area. It shall be unlawful to park any automobile, motorcycle, motor vehicle or trailer on the grass, lawn or dirt areas in the yard of any residence located within the corporate boundaries of the City of Clarkston.
Sec. 1116. - Parking, storage, or use of major recreational equipment.
For the purpose of this ordinance, major recreational equipment is defined as including boats and boat trailers, travel trailers, pickup campers or coaches (designed to be mounted on automobile vehicles), motorized dwellings tent trailers, and cases or boxes used for transporting recreational equipment, whether occupied by such equipment or not. Such major recreational equipment may be parked or stored in side or rear yards or in a carport or enclosed buildings, provided however, that such equipment may be parked anywhere on residential premises for a period of not more than twenty four (24) hours during loading or unloading. In the case of a corner lot, no such equipment may be parked or stored in the side yard on the street side of the lot. No such equipment shall be used for living, sleeping or housekeeping purposes when parked or stored on a residential lot or in any location not approved for such use.
If the lot topography and/or location or size of existing residential structure prevent access to any potential parking area in the side or rear yards of the lot, major recreational equipment may be parked and stored in the required front yard of the lot subject to being located on a concrete, asphalt or gravel driveway or parking area.
Sec. 1117. - Reduction in front yard setback.
In the NC-2 district only, fifty (50) percent reduction in the required front yard setback is allowed when all required parking is located exclusively in the rear yard of the parcel.
(Ord. No. 375, § 10, 10-1-13; Ord. No. 396, § 21, 7-5-16 )
Sec. 1118. - Reductions in required parking.
Reduced parking requirements may be aggregated to include reductions based on any of the following factors, with a maximum parking reduction of twenty-five (25) percent for any zoning district.
(a)
In commercial districts including TC, NC-1, NC-2, and RC, the following reductions in required parking can be applied.
(1)
When an existing site without vehicular interconnection is retrofitted to provide permanent access to adjacent sites' parking, a ten-percent reduction in the number of required parking spaces shall be allowed.
(2)
Developments wherein the front door is located within two hundred fifty (250) feet of a public transit stop shall be allowed a ten-percent reduction in the required number of parking spaces.
(3)
Mixed use developments that include residential and commercial uses integrated into one structure shall be allowed a ten-percent reduction in the required number of parking spaces.
(b)
Development within the TC district shall be allowed a ten percent reduction in the required number of parking spaces.
(Ord. No. 375, § 11, 10-1-13; Ord. No. 396, § 22, 7-5-16 )
Sec. 1119. - Pervious parking bonus.
In the NC-2 district only, for every full size parking space required by section 1107 of this article that is paved with pervious paving as defined in Article IV, an additional fifty (50) square feet of floor area shall be permitted.
(Ord. No. 375, § 12, 10-1-13; Ord. No. 396, § 23, 7-5-16 )
