ARTICLE IX. - BUFFER AND SCREENING REQUIREMENTS

9.1 - Purpose.
It is recognized that the adjacent location of certain land uses may create an incompatible situation that can be mitigated by the installation of a planted buffer. An incompatible situation can arise due to the location of commercial or industrial uses adjacent to residentially zoned land or to a lesser extent due to location of multifamily residences adjacent to single-family residential districts.
Therefore, when land is to be developed for a use creating an incompatible situation, or when a use deemed incompatible is modified or expanded, a buffer shall be provided along all side and rear property lines to insulate adjacent properties from adverse impacts. The required buffer shall provide necessary visual privacy for the conduct of residential lifestyles in an undisturbed environment, and shall provide for the protection and preservation of property values in residential districts.
9.2 - Land Disturbing.
Prior to issuance of a land disturbance permit it will be determined by the Zoning Administrator if a buffer is required.
9.3 - Situations Requiring Buffers.
The following situations constitute creation of incompatibilities and are subject to the buffer requirements of this ordinance:
1.
The location of commercial or industrial land use directly adjacent to or abutting residentially used land.
2.
The location of manufactured home parks or multifamily developments directly adjacent to or abutting land zoned for single-family residences.
3.
The Troup County Board of Commissioners may require a buffer as a condition to zoning approval between other districts or land uses when it is determined that an incompatible situation exists or may occur and result in adverse impact to the surrounding neighborhood.
9.4 - General Requirements.
Buffers shall be established and maintained by the owner of the property containing the incompatible land use. The determination of incompatibility shall be based upon the existing character of the area in which the proposed action takes place. For example, proposed development or modification of commercial or industrial land use adjacent to an area developed as residential shall require the owner of the commercial or industrial property to install and maintain the buffer. If however, non-residentially zoned land is rezoned for development of residences and this property is located adjacent to land developed as, or zoned for, nonresidential use, the owner of the property to be rezoned for residences shall be required to install and maintain the buffer.
9.4-1 The requirements for buffers are as follows:
1.
Where commercial or industrial land uses are contiguous, adjacent to land zoned for single-family residential use or across public right-of-way the minimum width shall be as shown in table 9.1.
Table 9.1 Buffers
EXPAND
Single-family Residential—Minimum Width of Buffer (feet) this includes the following zoning districts: SFMD, AGR, AG, LR, LRR, RR, and USD Adjacent District
30 CRVP, LC, NHC
50 GC, LC
100 LI
200 GI
500 HC
  2.
Where commercial or industrial land uses land uses are contiguous with land zoned for manufactured home parks, or multifamily residences, the minimum width of the required buffer shall be 25 feet.
3.
Where manufactured home parks, or multifamily land uses, are contiguous with land zoned for single-family residences, the minimum width of the required buffer shall be 30 feet.
4.
The minimum width of the required buffer for sanitary landfills shall be 500 feet. In all other instances, the minimum width of a buffer as required by the board of commissioners shall not be less than 30 feet.
9.4-2 Setbacks. All setbacks are measured from the nearest single-family residential zoning district line. The required buffer may be incorporated into the yard setback as specified in the appropriate zoning district. Also, drainfield lines for septic systems are allowed within required buffer areas that are 50 feet or greater in width, provided those drainfield lines are set back as follows:
1.
Setback 25 feet when a 50-foot buffer width is required.
2.
Setback 35 feet when a 75-foot buffer width is required.
3.
Setback 50 feet when a 100-foot or greater buffer width is required.
9.4-3 Existing Vegetation. Where a buffer is required, the zoning administrator shall evaluate the existing vegetative and topographic conditions, development, and zoning to make a determination as to whether a natural buffer or planted buffer is to be required. If the zoning administrator determines that the existing vegetation in the area where the buffer is required is of sufficient height, density, and width as to accomplish the purpose of the buffer and substantially comply with the buffer specifications stated herein, then the zoning administrator may require a natural buffer. However, if the zoning administrator determines that the existing or natural vegetation is not sufficient, then a planted buffer (possibly including a fence, earth berm or similar such barrier) may be required.
9.4-4 Undisturbed Buffer. Once the developer/property owner has staked the natural buffer or, in the case of the planted buffer, installed the buffer and the zoning administrator has approved the buffer, then this buffer is to be considered to be an undisturbed buffer. Minor maintenance or development activity (such as a drainage easement, sewer line connection, etc.) may be authorized by the building official upon request. No area where a buffer is required by this ordinance shall be disturbed without first obtaining approval from the building official.
9.5 - Minimum Specifications.
The following are minimum specifications for required buffers. All required buffers shall:
9.5-1 Be depicted in detail (the type and location of natural and planted vegetation are to be illustrated) on each site plan prior to approval for structures in the quality development corridor, and shall be designated as a permanent buffer.
9.5-2 Not be disturbed by grading, property improvements or construction activities except where necessary to prevent a nuisance, or to thin such natural growth, where too dense to permit normal growth, or to remove diseased, misshapen, or dangerous and decayed timbers. Any contemplated disturbance shall first be brought to the attention and approval of the zoning administrator prior to initiating activity within required buffer areas.
9.5-3 Utilize existing vegetation in an undisturbed state where it has been determined that existing vegetation is appropriate for inclusion within the buffer strip, or when required be supplemented with approved, additional planting.
9.5-4 Retain the natural topography of the land, except when a portion must be cleared and graded as required by law to prevent soil erosion or sedimentation.
9.5-5 Be completely installed in accordance with the approved plan prior to issuance of the certificate of occupancy.
9.5-6 Not be used for temporary or permanent parking or loading, other than for provision of drainage improvements as mandated by local law, or for a structure other than a fence.
9.5-7 Attain a minimum height of six feet within three years of the planting date for all uses other than landfills. Landfills shall have perimeter buffers attaining a height of ten feet in three years.
9.5-8 Be subject to plan approval by the building official prior to installation of a planted buffer.
9.5-9 All planted buffers shall be comprised of a minimum of three genera of approved plant material. If three genera of plant material are to be utilized within the buffer, then each genus shall be provided in as close to equal quantities as possible. If more than three genera of plant material are to be utilized within the buffer, then no genus shall comprise more than 33 percent of the total number of plants within the buffer.
9.6 - Buffer Composition.
The following table indicates plant materials which may be used in buffers:
Trees
Carolina Cherry Laurel (Prunus genus)
Magnolias (Magnolia genus)
Eastern Red Cedar (Juniperus genus)
Atlantic White Cedar (Chamaecyparis genus)
Pines (Virginia) (Pinus genus)
Shrubs
Wax Myrtle (Myrica genus)
Burford Holly (Ilex genus)
Dwarf Burford Holly (Ilex genus)
Lusterleaf Holly (Ilex genus)
Viburnums (Viburnum genus)
Ligustrums (Ligustrum genus)
Arborvitae (Thuja genus)
Elaeagnus (Elaeagnus genus)
Additional plants may be approved for use in buffers by submitting a letter to the county planner. Plants shall be approved based on their growth rates and habits, form, and hardiness within the planting zone. Generally faster growing plants with dense, drought resistant, evergreen foliage shall be preferred.
9.7 - Maintenance of Required Buffers.
The buffers required under the provisions of this article shall be guaranteed for the duration of the incompatible land use, or until such use changes to a compatible type. Necessary trimming and maintenance shall be performed to maintain the health of the plant materials, to provide a natural pleasing appearance, and to assure that the buffer serves the purpose for which it was intended.
9.8 - Required Screening.
Certain uses such as junkyards and salvage yard or recycling operations and other commercial and industrial operations requiring the storage of inoperative equipment or vehicles for prolonged periods of time present unsightly views or health hazards and require screening.
9.8-1 Fences. In order to ensure that unsightly views from junkyards and recycling facilities do not occur, the building official shall require owners of junkyards and salvage yards to completely enclose such operations by a solid fence which completely obscures views of the property from adjacent properties, built to a height greater than that of the height of the highest piece of equipment or vehicle stored on the property. No fence shall be less than six feet in height. In no case, shall a fence have less than such height as will screen all junk or other materials or vehicles from view and provided that such fence shall be at least 40 feet from any street right-of-way or any zoning district boundary line. In cases where the grade of the property prevents the installation of a fence high enough to screen equipment from public view then other measures as may be deemed appropriate by the building official shall be installed to enclose the junkyard, salvage yard or recycling operations.
9.8-2 Inspections. Many operations that involve the stacking of inoperative or obsolete equipment or vehicles pose a direct health hazard to the public. The county commission shall require all such operations to submit to annual inspection by the Troup County health department. The results of such inspections shall be delivered to the county commission for review. If a business fails to pass such inspection it shall have 30 days to comply or it shall cease operations until such time that it is in compliance.
9.9 - Screening Barriers.
In those instances when extraordinary or exceptional conditions pertaining to the property exist, resulting from its size, shape, topography or other features, screening barriers such as walls, fences or berms may be allowed in place of a 50-foot buffer upon approval and provided the following standards are met:
1.
Walls or fences shall be ornamental or decorative and constructed of brick, stone, treated wood, stucco or other materials approved by the building official and shall not be constructed of exposed concrete block, tires, junk or other discarded materials or see through fabric or fabric of any kind. The wall or fence shall provide an opaque screen of at least six feet in height or as specified by the building official.
2.
If a wall or fence is designed so that its structural supports are primarily on one side, that side must always remain within the interior of the property.
3.
No wall or fence shall be installed within any public right-of-way.
4.
Any wall or fence damaged, whether by accident or act of God or other cause shall be properly repaired within 90 days of occurrence.
5.
It shall be the responsibility of the owner of the property on which a wall or fence is located to maintain that wall or fence in good and proper repair so that it presents a neat and orderly appearance at all times to surrounding property owners and to the general public.
6.
If a property owner does not take appropriate action to maintain or repair a damaged screening barrier within 90 days after receiving a notice to comply, the county shall take any action provided by law, including the issuance of a citation, to correct the violation in a proper and prompt manner.
7.
Berms may also be used as screening barriers and must be designed by a registered landscape architect and built by a professional landscaping firm.
