Sec. 4.104 - Parking Requirements.
A.
Required parking may be provided through a combination of off-street, on street, or shared parking provided that all required parking is located with seven hundred (700) feet of the principal entrance of the building which it is intended to serve. The minimum number of required parking spaces shall be as required by the underlying zoning district classification regulations, except as follows:
1.
Retail uses, personal service uses, and other commercial and general business uses including food stores. Minimum of four (4.0) spaces per one thousand (1,000) square feet of gross floor area.
2.
Office and clinic uses. Minimum of three (3.0) spaces per one thousand (1,000) square feet of gross floor area.
3.
Hotel and motel uses. Minimum of one (1.00) space per unit.
4.
Multifamily residential uses. Minimum of one and one-quarter (1.25) spaces per dwelling unit.
B.
Required residential parking shall be segregated from parking for all other uses with the exception of additional parking provided for live/work units.
C.
Each development which provides automobile parking facilities shall provide bicycle parking facilities in on-site parking structures, parking lots, or within a designated area of the landscape zones adjoining the sidewalk. Non-residential developments shall provide bicycle parking at a ratio of one (1) bicycle parking space for every twenty (20) vehicular spaces. Multifamily residential developments shall provide bicycle parking facilities at a minimum ratio of one (1) bicycle parking space for every five (5) multifamily units. No non-residential or multifamily development shall have fewer than three (3) bicycle parking spaces nor exceed a maximum of fifty (50) bicycle parking spaces.
1.
Bicycle parking. All uses that are required to provide off-street parking spaces for motorized vehicles shall also provide bicycle parking space. Uses that require up to 25 off-street parking spaces for motorized vehicles shall provide at least one bicycle space, plus a minimum of one more bicycle space for each additional 50 parking spaces required for motorized vehicles.
D.
All off-street parking including surface lots and parking decks shall be located in the side or rear yards.
E.
Off-street parking shall be screened from view from any public street by buildings, decorative walls/fences, and/or landscaping. Off-street parking may not be located between the public street and the building's front facade. If a lot is bound by more than one (1) public street, the front of the lot shall be considered the yard adjacent to the street with the highest classification.
F.
Any portion of a parking deck that is adjacent to a public street shall have the ground level developed with retail, office or other permitted uses on and ground floor entrances oriented toward the street frontage. Any upper stories of a parking deck that face a public street shall be finished to resemble office or residential buildings with fenestration compliant with materials permitted in this division. Landscaping may be appropriate as an alternative, subject to prior approval of the Community Development Director.
G.
No parking or yard area may be used for the repair, dismantling, service, car wash or storage of any equipment or disabled vehicle.
H.
Parking facilities within any parcel may be shared if multiple uses cooperatively establish and operate parking facilities and if these uses generate parking demands primarily when the remaining uses are not in operation, so that the off-street parking requirements for each use are met or exceeded during said use's operational hours.
1.
Parking lot landscaping requirements. All parking lots within the District shall be landscaped in conformity with the requirements of this Code.
i.
Off-street loading shall be required as in Article 6.33, Loading Standards (LS), of this Zoning Ordinance, except as provided below.
1.
Buildings with more than 5,000 sq. ft. of commercial, retail, services or professional offices shall provide a minimum of one off-street loading space.
2.
Buildings with more than 25,000 sq. ft. of commercial, retail, services or professional offices shall provide a minimum of one off-street loading space for each 25,000 gross sq. ft. or fraction thereof.
3.
Off-street loading shall be limited to the area between the rear of the principal structure and the rear lot setback line, or between the side of the principal building and the side lot setback line.
J.
Lighting. Parking lots with more than 25 spaces must be illuminated. Lighting fixtures must minimize the diffusion of light to other properties in accordance with Article 6.36, Outdoor Lighting (OL), with the following modifications:
1.
All lighting poles and fixtures shall be decorative, as approved by the Community Development Director.
(Ord. No. 2018-129, § 1, 12-18-18)
