DIVISION 24. - NONRESIDENTIAL ZONING DISTRICTS: DIMENSIONAL REQUIREMENTS

Sec. 46-702. - Dimensional requirements.
Dimensional requirements including overall site requirements, lot dimensions, setbacks, and heights for nonresidential districts are provided in table 2.24, nonresidential zoning districts dimensional requirements. Building setback, height and lot width may be tied to lot size compatibility, averaging as defined and required in article V of this chapter.
Table 2.24. Nonresidential Zoning Districts Dimensional Requirements
EXPAND
Element OIT OI NS C-1 C-2 OD M M-2
Overall Site Requirements (minimum unless specified)
Dimensional Requirements
Lot Area (min. sq. ft.) 7,500 20,000 20,000 20,000 30,000 30,000 30,000 2 acres for heavy ind. and uses req'g. SLUP; 1 acre for all other uses
Single-Family Attached Lot Area (Avg. per dwelling unit sq. ft.) 4,000 Not Permitted Not Permitted Not Permitted Not Permitted Not Permitted Not Permitted Not Permitted
Lot Width, Street Frontage (feet) 75 100 100 100 100 100 100 150
Lot Coverage (max. %) 80 80 80 80 80 80 80 80
Open Space Requirements
Sites with 5,000—39,999 sq. ft. gross floor area (min. %) 15 15 15 10 10 15 15 15
Sites with 40,000 gross floor area or more (min. %) 20 20 20 20 20 20 20 20
Transitional Buffer (ft.) See division 4, article V of this chapter
Building Setback Requirements (min., unless specified)
Front—Thoroughfares and Arterials (ft.) 40 60* 30 60 60 75 60 60
Front—all other streets (ft.) 30 50* 20 50 50 75 60 60
Side—interior lot (ft.) 20 20* 20 20 20 20 20 20
Side—corner lot on public street (ft.) 40 50* 15 50 50 50 60 60
Rear (ft.) 30 30* 20 30 30 30 30 30
Unit Size (Residential: Heated Living Area)
Floor Area of Attached Dwelling Unit of Multifamily (min. sq. ft.) 1,000 1,000 Not Permitted Not Permitted Not Permitted Not Permitted 1,000 Not Permitted
Floor Area of Live/Work Dwelling Unit (residential portion only—min. sq. ft.) 650 650 650 650 Not Permitted Not Permitted 650 Not Permitted
Floor area per individual building (max. sq. ft.) (non-res.) N/A N/A 50,000 No Max. No Max. No Max. No Max. No Max. Height (max. without a Special Land Use Permit (SLUP))**
Height (ft.) 2 story/35 ft. 5 story/70 ft.*** 2 story/35 ft. 2 story/35 ft. 2 story/35 ft. 2 story/35 ft. ** **
Transitional Height Plane (see article V of this chapter) No Yes No No No Yes Yes Yes
  *If located next to single-family residential and the building will exceed 35 feet, the building setback from SF residential shall be increased 50 percent.
**Fire department and rescue services must approve over three stories to ensure adequacy of fire protection facilities.
***Five story/70 feet if in an activity node, two story/35 feet outside an activity node, unless obtaining a special land use permit for up to five story/70 feet.
(Ord. No. 2016-06-07, att. (2.24.1), 7-11-2016; Ord. No. 2018-12-40, 1-14-2019)
Secs. 46-703—46-732. - Reserved.
