ARTICLE XI. - VEGETATION PROTECTION AND LANDSCAPE REQUIREMENTS

Sec. 40-221. - Purpose.
Intent of article and declaration of public policy. The guiding presumption behind this chapter is the belief that the natural environment has significant value in and of itself, and that all reasonable measures available should be used in the preservation of that environment, consistent with the continued development of a viable Senoia.
The city council, therefore, declares it to be public policy to:
(1)
Aid in stabilizing the environment's ecological balance by contributing to the process of air purification, oxygen regeneration, groundwater recharge and stormwater runoff retardation, while at the same time aiding in noise, glare, and heat abatement;
(2)
Assist in providing adequate light and air by preventing overcrowding of land;
(3)
Provide visual buffering and enhance beautification of the city;
(4)
Safeguard and attempt to enhance property values and, in so doing, protect private and public investment;
(5)
Preserve, protect and further the unique identity and environment of Senoia, and, thereby, preserve the economic base attracted to the city by such factors;
(6)
Recognize that the protection and enhancement of the natural beauty, environment, and greenspace within Senoia contributes to the economy, as well as provides a truly necessary aesthetic balance to the development of an urban setting;
(7)
Conserve an ever-dwindling supply of energy, by the preservation and enhancement of the natural environment;
(8)
Protect the atmosphere, lands, and water from pollution, impairment or unnecessary destruction;
(9)
Protect natural vegetation except where its removal is necessary for responsible property development or control of disease and infestation. This chapter shall serve to dissuade the unnecessary clearing of land and its disturbance, so as to preserve, insofar as possible, the natural and existing growth of vegetation, and to replace whenever possible the removed foliage with new vegetation;
(10)
Protect vegetation within the intermediate regional flood plain and for a minimum ten feet from the banks and those streams not having defined intermediate regional flood plain elevation contour, so as to assist in the retention of stormwater runoff and the control of erosion, including particularly the protection of stream bank stability by vegetation protection or restoration;
(11)
Preserve protected and "specimen" trees or strands of trees which are exceptional representatives of their species either in terms of size, age or unusual botanical quality, and encourage the good care of same through properly applied forestry practices; and
(12)
Protect and supplement existing vegetation within greenbelts, open space, recreation areas and protected area where feasible.
(Ord. of 7-1-2002, § 1101)
Sec. 40-222. - Definitions.
(a)
Dripline. A collective name for all vertical lines from the earth to the outermost tips of the crown of the tree. These lines will completely encircle the tree and thereby define its outermost reaches.
(b)
Dripline area. The total area underneath a tree which would encompass all driplines.
(c)
Ground cover. Natural plant materials such as vines shrubs, or grasses which would not normally attain a height of more than two feet.
(d)
Landscaping. Any addition to the natural features of a plot of ground to restore construction disturbance and to make it more attractive, as by adding lawns, tree and shrubs, etc., to the natural environment.
(e)
Natural vegetation. Natural vegetation shall connote a generally undisturbed, maintenance-free, self-perpetuating stand of vegetation compromised of indigenous shrubs, flowers, wild grasses and trees.
(f)
Natural vegetation area. That area within the boundaries of a given lot which is devoted to natural vegetation.
(g)
Protected areas. Those areas having unique biological communities including wildlife or exceptional vegetation possessing outstanding botanical qualities.
(h)
Scenic roads. Those roads designated by the city council as deserving special protection from land development because of their scenic beauty, extent of vegetation, or geological formations.
(i)
Shrub. A woody plant of bush of relatively low height two to six feet, distinguished from a tree by having several stems rather than a single trunk.
(j)
Tree. A self supporting woody plant having one or more well-defined stems or trunks, a more or less definitely formed crown, usually attaining a mature height of at least ten feet and a trunk diameter of at least two inches measured at a point four feet above the ground.
(k)
Tree canopy. Any tree having reached a relatively tall height compared to surrounding trees and vegetation and providing shade from its foliage mass; also individual or tree groups forming an overhead cover. Examples include oaks, read and silver maples, hickory, beech, pecan, Sycamore, sweetgum, poplar, ash, river birch, long leaf pine, loblolly pine and Virginia pine.
(l)
Tree, protected.
(1)
Any deciduous canopy trees 15 inches in diameter four feet above ground.
(2)
Any evergreen canopy trees 18 inches in diameter four feet above ground.
(3)
Any understory tree four inches in diameter at four feet above ground.
(m)
Tree removal. Means cutting, uprooting, or severing the main trunk of the tree, or any other act which causes or may reasonably be expected to cause the death of a tree.
(n)
Tree, "specimen." Any tree reaching the upper range of the mature diameter and the height for that species of tree.
(o)
Tree, understory. Any tree, which is of relatively lesser height and spread than surrounding canopy trees, but still provides shade and a degree of protection to the earth and vegetation beneath it. Examples include dogwood, cherry, red bud, sassafras, crabapple, pear, American holly, red cedar, and magnolia.
(Ord. of 7-1-2002, § 1102)
Sec. 40-223. - Preservation of protected and specimen trees.
It shall be unlawful for any person or corporation to remove or cause the removal of any protected or specimen tree without having first received approval either through the process of site plan review, in the case of new development, or in the form of a tree-removal permit.
(1)
Approval through site plan review. When site plan review by the planning commission is required for any development, the actual or schematic locations of all protected or specimen trees shall be shown on all site plans by location, species and size. The site plans shall be submitted to the zoning administrator for evaluation and recommendation before submission to the planning commission. All site plans shall also include those requirements listed under tree removal application requirements (subsection (2) below). Final approval of the site plan shall constitute approval of the site plan shall constitute approval for removal of any protected or specimen trees impacted by development on the site plan.
(2)
Application for permit to remove protected or specimen trees. The application for a tree removal permit shall be on a form provided by the city for this purpose. An application for the removal of any protected or specimen trees on public or private property shall include the following:
a.
The approximate location of the tree(s);
b.
The diameter of the trunk of each tree, as measured four feet above natural grade level;
c.
The approximate crown size of each tree (measured dripline to dripline) and any distinguishing characteristics of the tree(s);
d.
The species and common name of the tree(s);
e.
The reason for the proposed removal; and
f.
Such other information as may reasonably be required by the city planner. This could include, but is not limited to, a professional arborist's appraisal of the tree's viability and projected life span.
(Ord. of 7-1-2002, § 1103)
Sec. 40-224. - Action on application.
The zoning administrator shall approve an application for the removal of a protected or specimen tree provided at least one of the following conditions is met:
(1)
The location of the tree prevents the opening of reasonable and necessary vehicular traffic lanes;
(2)
The location of the tree prevents the construction of utility lines of drainage facilities, which may not feasibly be relocated;
(3)
The location of the tree prevents reasonable access to the property, if no alternate access exists;
(4)
Allowing the tree to remain would impose an economic burden upon the owner of the property entirely out of proportion with the benefit gained by retaining the tree;
(5)
The tree is diseased, dead or dying to the point that repair or restoration is not practical or the disease may be transmitted to other trees; and
(6)
There is reasonable assurance that if the tree is saved with proper construction precautions, it will continue to live as an asset to the site.
(Ord. of 7-1-2002, § 1104)
Sec. 40-225. - Application not required (when).
Approval for removing a protected or specimen tree is not required when at least one of the following conditions is met:
(1)
When removal of a protected or specimen tree is specifically approved by site plan review;
(2)
When any protected or specimen tree sustains unrepairable damage and, therefore, constitutes a hazard to human life or property;
(3)
When trees on commercial horticultural properties are to be removed as a direct part of the business conducted on those properties;
(4)
When public service companies perform normal construction maintenance; or
(5)
When trees are harvested as a part of agricultural and forestry operations.
(Ord. of 7-1-2002, § 1105)
Sec. 40-226. - Standards for review.
The zoning administrator shall approve any request for removal of a protected or specimen tree when a completed application has been received and justification is made in accordance with the provisions of section 40-224.
In making any determination concerning an application for any protected or specimen tree removal, the zoning administrator shall consider the following:
(1)
Desirability, of preserving any tree by reason of its size; age or some other outstanding quality, such as uniqueness, rarity or species or status as a landmark;
(2)
The extent to which the area would be subject to increased water runoff and other environmental degradation due to removal of the tree or trees;
(3)
The heightened desirability of preserving tree cover in densely developed or densely populated areas;
(4)
The need for visual screening or buffering in area of differing zoning or usage, or relief from glare or commercial or industrial ugliness or other affront to the visual sense;
(5)
The affect that the change in natural grade will have on the trees to be preserved;
(6)
Good forestry practice—i.e. the number of healthy trees or species of trees which the site or any portion thereof can support; and
(7)
Such other circumstances as may relate to a particular application.
(Ord. of 7-1-2002, § 1106)
Sec. 40-227. - Treatment and removal of infected and infested trees.
(a)
If any tree on public property is infested with insects or infected with a disease detrimental to surrounding vegetation, the city may remove the tree and otherwise control such infection and infestation.
(b)
Private property. It shall be the responsibility of any person having trees on his property to treat and/or remove any infected or infested tree. However, before removing said trees, the property owner must apply for a tree removal permit.
(Ord. of 7-1-2002, § 1107)
Sec. 40-228. - Enforcement.
Each protected or specimen tree removed without approval, as provide herein, shall be considered a separate offense, which is subject to a penalty as determined by the judge of the municipal court.
For evaluation purposes, the criteria of $100.00 per caliper inch of trunk should be used. This dollar evaluation of the damaged tree may be required to be invested on the site of commensurate replacement plantings.
It could also be considered permissible to replace a removed tree with a number of smaller trees of the same species, provided the combination caliper measurements of the smaller trees is at least equal to the measurement of the protected or specimen tree which was removed.
(Ord. of 7-1-2002, § 1108)
Sec. 40-229. - Landscape pan requirements.
A landscape plan is required for any development in Senoia other than the development of individual lots for single-family residential purposes:
(1)
A landscape plan shall be prepared by a landscape architect registered in the State of Georgia.
(2)
All areas not devoted to structures, site development features, and natural vegetation shall be landscaped.
(3)
A landscape plan shall include one canopy tree with a minimum trunk caliper of two and one-half inches (at four inches from the ground) for every 1,000 square feet of permanently disturbed area on the site. An area is considered permanently disturbed if it is covered with a building, structure, or other impervious surfaces like walks, drives and patios.
(4)
A landscape plan shall include one understory tree with a minimum trunk caliper of one of one inch (at four inches from the ground) for every 1,000 square feet of permanently disturbed area on the site.
(5)
All required landscaping shall be maintained in a horticulturally healthy aesthetically pleasing manner.
(6)
It is recommended that no new planting should be more than 100 feet from a watering source; however, it is required that assurances, acceptable to the zoning administrator, will be provided that water will be available and appropriate watering will take place.
(7)
All landscape areas within parking lots shall be 100 percent landscaped with deciduous trees, shrubs, ground cover (not requiring mowing), and/or flowers in mulched beds.
(8)
Landscaped areas within and around parking lots must be large enough to provide for health and continued growth of the vegetation.
(9)
Landscaping shall not obstruct the view between 24 inches high and 60 inches high on access drives, streets or parking aisles.
(10)
The perimeter of all parking areas shall be landscaped. Parking areas designed to accommodate no more than 20 automobiles are not required to install interior landscapes areas like islands, peninsulas, and medians. Parking areas designed to accommodate more than 20 automobiles must install interior landscaped areas so that no more than 12 adjacent parking spaces exist without a landscaped separation of at least five feet in width. If significant tree-save areas or natural areas exist within a parking area, the city may make an exception to this requirement, as appropriate.
(11)
Screening shall be used as a buffer between incompatible uses, and to reduce the effects of headlight glare, noise and other objectionable activities. The following minimum requirements shall apply to screening:
a.
All vegetation used for screening shall be at least six feet in height at time of installation. Plants shall be placed as to provide for effective visual screening within three growing seasons. Planting beds required for screening shall be a minimum of six feet in width;
b.
Screening may consist of a fence, a wall, or vegetation and/or a mix of any or all of the foregoing. The outer or public side of fences and walls shall be landscaped enough to soften the structure with a tree or shrub at least 50 feet, subject to approval of the zoning administrator;
c.
Screening shall be installed on all lot lines where commercial, industrial, and institutional uses abut residential zoning districts except for entrances or exits;
d.
No screening shall be removed without the written permission of the zoning administrator;
e.
Screening vegetation and fencing shall be maintained in a healthy and attractive manner;
f.
The zoning administrator may require screening in conjunction with the issuance of a building permit not requiring plat or site plan approval.
(12)
The zoning administrator upon site inspection and landscape plan review may require an applicant to naturalize areas, which visually impair public rights-of-way. The intent of this requirement is to supplement tree requirements with small caliper material (one-gallon maximum) in areas where screening or landscape visual continuity is required.
(13)
If significant trees are saved on a development site, then up to a 50 percent credit can be issued by the city. This will only be issued if the tree-save areas are considered to be aesthetically or environmentally significant by the zoning administrator.
(14)
If there are significant landscape problems on site (for example, areas totally void of trees), the zoning administrator may not allow tree credit, even though trees may be saved.
(15)
If a development involves an addition or modification to the side or rear of an existing building or structure which is already properly landscaped, the zoning administrator may allow up to a 50 percent reduction in the canopy and understory tree requirements.
(Ord. of 7-1-2002, § 1109)
Sec. 40-230. - Landscape plan.
Any landscape plan required by these regulations shall contain the following information:
(1)
Title of project, address of site.
(2)
Site location map, north point, and scale of drawings.
(3)
Name, address and telephone number of owner/developer.
(4)
Name and seal of landscape architect who prepared the plan.
(5)
Planting key; botanical and common name of all plant materials proposed; quantity of each species; size of plant material (caliper, height, width); condition (i.e. balled and burlapped, container grown, care root, collected, etc); and special remarks (number of stems, color or bloom, etc.)
(6)
Estimated cost of landscape improvements.
(7)
Name and location of existing trees to be saved and protected during construction. Indicate all protected and specimen trees to be saved or removed.
(8)
Retention areas, drainage inlets and structures. Floodplain limits shall be shown whenever subject property is within such areas.
(9)
Show names of adjacent property owners, and adjacent land uses. Indicate all required greenspace and screened areas.
(10)
Provide that sight distance at intersections are not obscured by planting. Keep planting below 24 inches and tree limbs above 60 inches.
(11)
Submit three copies of prints for review. One will be returned with review comments.
(12)
This note shall appear on all approved landscape plans:
APPROVED BY PLANNING COMMISSION
DATE: ________
BY: ___________
(13)
Show all pertinent site features; buildings, walks, drives, signs, lighting drains, meter boxes, underground utility lines, curbs, and the available water source for plant maintenance.
(14)
Show calculations on the plan for: total area permanently disturbed and landscaped area (in acres and square feet). Indicate numbers of canopy and understory trees required by ordinance.
(Ord. of 7-1-2002, § 1110)
Sec. 40-231. - Landscape plan approval procedures.
For any landscape plan required by these regulations, the following procedures shall be followed;
(1)
A developer shall submit to the zoning administrator three copies of a landscape plan, which meets the requirements of these regulations.
(2)
The landscape plan shall be submitted along with the required site plan and the required grading plan.
(3)
For consideration at a planning commission meeting, the landscape plan must be submitted to and accepted by the zoning administrator at least 15 days prior to the planning commission meeting.
(4)
The landscape plan will be reviewed by the zoning administrator if the landscape plan does not meet the requirements of these regulations; the zoning administrator will return the plan to the developer with comments and suggestions for correction. If the plan meets the requirements, the zoning administrator shall place the landscape plan on the next planning commission agenda.
(5)
The zoning administrator shall submit the results of their review in writing to the planning commission.
(6)
The planning commission will review the landscape plan, taking into consideration the requirements of these regulations, the zoning administrator's report and approve; disapprove; or approve with modifications.
(7)
If the planning commission approves the landscape plan, a copy will be returned to the developer with the approval inscribed thereon, along with a notation of any appropriate conditions or review comments.
(8)
If the planning commission does not approve the landscape plan, the developer may resubmit, with necessary changes, following the same procedures as if it were an original application.
(9)
An approved landscape plan must be implemented prior to the issuance of a certificate of occupancy; or the developer may choose to provide the city clerk with a performance bond or other acceptable security in an amount equal to 150 percent of the city's estimated cost of the required improvements which have not been installed or are not installed in a satisfactory manner.
(10)
Upon posting this bond or security, the developer shall have a one-year period in which to complete the required improvements in a satisfactory manner, or the bond or other security shall be forfeited and revoked, and the city shall then take whatever action is necessary to have the developer complete the required improvements as soon as possible thereafter.
(11)
When a developer has installed the required landscaping improvements, he shall request that the zoning administrator schedule an inspection. If the zoning administrator approves the installation, he shall submit a written report to the city clerk, and the project will be released for a certificate of occupancy. If the zoning administrator does not approve the plan, he shall submit a report stating his reasons for disapproval so the developer can make the necessary corrections. A fee of $100.00 each shall be charged for any required re-inspections, and the fee shall be payable in advance for the re-inspection.
(12)
The developer shall guarantee all plant materials and provide adequate maintenance of the above improvements for a minimum of one year from implementation. The city shall inspect said improvements during that period to ensure that the approved plan has been fully implemented and maintained. If the improvements have deteriorated within that one-year period, such landscaping shall be replaced by the developer.
(Ord. of 7-1-2002, § 1111)
Secs. 40-232—40-250. - Reserved.
