ARTICLE III. - GENERAL DESIGN AND OTHER REQUIREMENTS

Sec. 44-88. - Suitability of land.
Land subject to the flooding, improper drainage or erosion, or that is, for topographical or other reasons, unsuitable for residential use, shall not be platted for residential use nor any other use that will continue or increase the danger to health, safety, or proper construction, unless hazards can be and are corrected.
(Ord. No. 221, § 401, 4-11-1994)
Sec. 44-89. - Name of subdivision.
The name of the subdivision must have the approval of the zoning administrator. The name shall not duplicate nor closely approximate the name of an existing subdivision in the city or county.
(Ord. No. 221, § 402, 4-11-1994)
Sec. 44-90. - Access.
Access to every subdivision shall be provided over a public street.
(Ord. No. 221, § 403, 4-11-1994)
Sec. 44-91. - Conformance to adopted major thoroughfare and other plans.
(a)
All streets and other features of the major thoroughfare plan of the city, if adopted by the city council, shall be platted by the subdivider in the location and to the dimension indicated on the major thoroughfare plan. In subdivisions related to or affecting any state or federally numbered highway, the approval of the state department of transportation may be required by the zoning administrator.
(b)
When features of other plans adopted by the city (such as schools or other public building sites, parks or other land for public uses) are located in whole or in part in a land subdivision, such features shall either be dedicated or reserved by the subdivider for acquisition within a six-month period from the date of preliminary plat submittal by the city council.
(Ord. No. 221, § 404, 4-11-1994)
Sec. 44-92. - Continuation of existing streets.
Existing streets shall be continued at the same or greater width, but in no case less than the required width.
(Ord. No. 221, § 405, 4-11-1994)
Sec. 44-93. - Street names.
Street names shall be approved by the zoning administrator. Streets that are in alignment with existing named streets shall be given the name of the existing street. Names of new streets shall not duplicate or closely approximate those of existing streets in the city or county.
(Ord. No. 221, § 406, 4-11-1994)
Sec. 44-94. - Street jogs.
Street jogs with centerline offsets of less than 200 feet shall not be permitted.
(Ord. No. 2010-CO-11-666, § 1, 12-13-2010)
Editor's note— Ord. No. 2010-CO-11-666, § 1, adopted Dec. 13, 2010, deleted § 44-94, in its entirety and enacted new provisions to read as herein set out. Prior to this amendment, § 44-94 pertained to similar subject matter. See Code Comparative Table for derivation.
Sec. 44-95. - Development along arterial street or limited access highway.
Where a subdivision abuts or contains an arterial street or a limited access highway, the zoning administrator may require a street approximately parallel to and on one or both sides of such right-of-way and shall require a ten-foot-wide easement, no-access or land reservation to ensure no access.
(Ord. No. 221, § 408, 4-11-1994)
Sec. 44-96. - Alleys.
Alleys may be provided at the rear of lots used for multifamily, commercial or industrial developments, but shall not be provided in one- or two-family residential developments unless the subdivider provides evidence satisfactory to the zoning administrator of the need for alleys.
(Ord. No. 221, § 409, 4-11-1994)
Sec. 44-97. - Reserve strips.
Reserve strips controlling access to streets, alleys, or public grounds shall not be permitted unless their control is placed in the hands of the city council, under conditions approved by the city council.
(Ord. No. 221, § 410, 4-11-1994)
Sec. 44-98. - Easements.
(a)
Easements having a minimum width of 15 feet shall be provided, where required for utility lines, storm drains, and underground mains and cables.
(b)
When a subdivision is traversed by a watercourse, drainageway, channel or stream, there shall be provided a stormwater or drainage easement of adequate width (minimum 20 feet) approved by the zoning administrator. Parallel streets may be required by the zoning administrator in connection therewith.
(Ord. No. 221, § 411, 4-11-1994)
Sec. 44-99. - Culs-de-sac.
(a)
Except where topographic or other conditions make a greater length unavoidable, culs-de-sac or dead-end streets shall not be greater in length than 1,000 feet unless approved by the zoning administrator and shall be provided at the closed end with a turn-around.
(b)
Where a subdivision contains a dead-end street other than a cul-de-sac, the zoning administrator may require the subdivider to provide a temporary vehicular turn-around within the right-of-way, when the zoning administrator considers such to be necessary for effective traffic circulation.
(Ord. No. 221, § 412, 4-11-1994)
Sec. 44-100. - Street right-of-way widths.
The right-of-way width shall be the distance across a street from property line to property line. Minimum street right-of-way widths shall extend a minimum of 13 feet from the back-of-curb, and the total width shall be evenly divisible by ten feet.
(Ord. No. 2010-CO-11-666, § 2, 12-13-2010)
Editor's note— Ord. No. 2010-CO-11-666, § 2, adopted Dec. 13, 2010, deleted § 44-100, in its entirety and enacted new provisions to read as herein set out. Prior to this amendment, § 44-100 pertained to similar subject matter. See Code Comparative Table for derivation.
Sec. 44-101. - Street pavement widths.
Minimum street pavement widths shall be as follows measured from back of curb to back of curb:
(1)
Arterial streets, as shown in the major thoroughfare plan.
(2)
Collector streets, as shown in the major thoroughfare plan.
(3)
Minor streets and dead-end streets, 24 feet.
(4)
Minor streets, commercial and industrial subdivisions, 28 feet.
(5)
Alleys, 14 feet.
(6)
Culs-de-sac, commercial and industrial subdivisions, 50 feet radius.
(7)
Culs-de-sac, local residential streets, 40 feet radius.
(Ord. No. 2010-CO-11-666, § 3, 12-13-2010)
Editor's note— Ord. No. 2010-CO-11-666, § 3, adopted Dec. 13, 2010, deleted § 44-101, in its entirety and enacted new provisions to read as herein set out. Prior to this amendment, § 44-101 pertained to similar subject matter. See Code Comparative Table for derivation.
Sec. 44-102. - Vertical alignment.
Maximum and minimum street grades shall be as follows:
(1)
Arterial streets, not in excess of seven percent.
(2)
Collector streets, not in excess of ten percent.
(3)
Minor streets and dead-end streets and alleys, not in excess of 15 percent. (Ten percent for nonresidential streets).
(4)
No street grade shall be less than one percent.
Minimum design speeds shall be as follows:
(1)
Arterial streets- 45 miles per hour.
(2)
Collector streets- 45 miles per hour.
(3)
Minor streets and dead-end streets and alleys- 25 miles per hour.
(Ord. No. 2010-CO-11-666, § 4, 12-13-2010)
Editor's note— Ord. No. 2010-CO-11-666, § 4, adopted Dec. 13, 2010, deleted § 44-102, in its entirety and enacted new provisions to read as herein set out. Prior to this amendment, § 44-102 pertained to similar subject matter. See Code Comparative Table for derivation.
Sec. 44-103. - Horizontal curvature.
The minimum radii of centerline curvature shall be as follows:
(1)
Arterial streets, 800 feet.
(2)
Collector streets, 200 feet.
(3)
Minor streets and dead-end streets and alleys, 100 feet.
(Ord. No. 2010-CO-11-666, § 5, 12-13-2010)
Editor's note— Ord. No. 2010-CO-11-666, § 5, adopted Dec. 13, 2010, deleted § 44-103, in its entirety and enacted new provisions to read as herein set out. Prior to this amendment, § 44-103 pertained to similar subject matter. See Code Comparative Table for derivation.
Sec. 44-104. - Tangents.
Between reverse curves, there shall be a tangent having a length not less than the following:
(1)
Arterial streets, 200 feet.
(2)
Collector streets, 100 feet.
(3)
Minor streets and dead-end streets and alleys, 50 feet.
(Ord. No. 221, § 417, 4-11-1994)
Sec. 44-105. - Sight distance requirements.
Alignment shall be such that the following requirements are met:
(1)
Major streets shall have a sight distance of at least 500 feet at four feet above ground level.
(2)
Collector streets shall have a sight distance of at least 300 feet at four feet above ground level.
(3)
Minor streets shall have a sight distance of at least 200 feet at four feet above ground level.
(Ord. No. 2010-CO-11-666, § 6, 12-13-2010)
Editor's note— Ord. No. 2010-CO-11-666, § 6, adopted Dec. 13, 2010, deleted § 44-105, in its entirety and enacted new provisions to read as herein set out. Prior to this amendment, § 44-105 pertained to vertical alignment. See Code Comparative Table for derivation.
Sec. 44-106. - Street intersections.
Street intersections shall be as nearly at right angles as possible. No street intersections shall be at an angle of less than 65 degrees, unless required by unusual circumstances. Maximum intersection grade shall not exceed three percent.
(Ord. No. 2010-CO-11-666, § 7, 12-13-2010)
Editor's note— Ord. No. 2010-CO-11-666, § 7, adopted Dec. 13, 2010, deleted § 44-106, in its entirety and enacted new provisions to read as herein set out. Prior to this amendment, § 44-106 pertained to similar subject matter. See Code Comparative Table for derivation.
Sec. 44-107. - Curbline radius.
The curbline radius at street intersections shall be at least 30 feet. Where the angle of street intersection is less than 90 degrees, a longer radius may be required. For commercial and industrial subdivision streets, a minimum 40-foot curbline radius shall be provided.
(Ord. No. 221, § 420, 4-11-1994)
Sec. 44-108. - Block lengths and widths.
Block lengths and widths shall be as follows:
(1)
In general, residential blocks shall be not greater than 1,800 feet nor less than 600 feet in length.
(2)
Blocks shall be wide enough to provide two tiers of lots of minimum depth, except where abutting upon major arterial streets, or limited-access highways, or where other situations make this requirement impracticable.
(Ord. No. 221, § 421, 4-11-1994)
Sec. 44-109. - Lot sizes.
(a)
Lots shall meet the lot width and lot area requirements of chapter 54, zoning.
(b)
Residential lots shall have a depth of not less than 100 feet and not greater than three times the width of the lot at the building line, unless unusual circumstances make these limitations not practicable.
(c)
Where individual septic tanks are used, the county health department shall approve minimum lot sizes to conform to health standards of the state department of public health.
(Ord. No. 221, § 422, 4-11-1994)
Sec. 44-110. - Lot lines.
All lot lines shall be perpendicular or radial to street lines, unless not practicable because of topographic or other features.
(Ord. No. 221, § 423, 4-11-1994)
Sec. 44-111. - Building lines.
A building line meeting the front yard setback requirements of chapter 54, zoning, as a minimum, shall be established on all lots.
(Ord. No. 221, § 424, 4-11-1994)
Sec. 44-112. - Lot frontage.
Each lot shall abut a minimum of 30 feet on a public street.
(Ord. No. 221, § 425, 4-11-1994)
Sec. 44-113. - Double and reverse frontage lots.
Double frontage and reverse frontage lots should be avoided except where essential to provide separation of residential development from traffic arteries or overcome specific disadvantages of topography or orientation.
(Ord. No. 221, § 426, 4-11-1994)
Sec. 44-114. - Panhandle or flag lots.
Panhandle lots or flag lots are discouraged, but if designed with the required width and area they may be allowed where terrain makes standard design or frontage impossible or impractical. Where such lots are allowed, the street frontage of each panhandle access shall not be less than 30 feet wide, and the panhandle access shall be not more than 200 feet long. Not more than two such panhandle lots shall abut each other.
(Ord. No. 221, § 427, 4-11-1994)
Secs. 44-115—44-141. - Reserved.
