DIVISION 17. - GRANT AGREEMENTS ADHERING TO SPECIAL GRANTOR REQUIREMENTS

Sec. 2-1641. - Requirements.
(a)
Conditions for use. The chief procurement officer may enter into contracts issued by the city pursuant to grant agreements adhering to special grantor requirements independent of the requirements of division 4 and 8 of this article. However, contracts issued by the city pursuant to grant agreements adhering to routine procurement requirements shall be prepared subject to the provisions of divisions 4 and 8 of this article.
(b)
Requisitions. Using agencies which administer contracts issued by the city pursuant to grant agreements shall file with the department of finance, grant accounting division, detailed requisitions concerning the needs in such manner and at such times and for future periods as the chief procurement officer and the chief financial officer shall prescribe in writing.
(c)
Operating procedures. Consistent with this article, and after consultation with the using agencies, the chief financial officer and the commissioner of the department of administrative services, the chief procurement officer shall develop such standard operating procedures as may be necessary and proper for the purposes of carrying out the provisions of this division and the preparation of agreements for grants adhering to special grantor requirements. These operating procedures shall be consistent with financial reporting requirements as required by this Code.
(Ord. No. 2009-78(09-O-1876), § 17, 12-15-09)
Secs. 2-1642—2-1650. - Reserved.
