CHAPTER 23. - MARTA CORRIDORS, CHATTAHOOCHEE CORRIDOR—SPECIAL REQUIREMENTS AND PROCEDURES

Sec. 16-23.001. - Authority for special requirements and procedures.
Georgia Laws 1971, Act No. 5, "An Act To Create a Metropolitan Area Planning and Development Commission," as amended, establishes special plan review requirements and procedures in connection with the Atlanta Regional Commission Area Plans, which include MARTA Corridors and the Chattahoochee Corridor as designated on the official zoning map. With respect to the Chattahoochee Corridor, Georgia Laws 1973, Act No. 66, the Metropolitan River Protection Act, establishes additional requirements and procedures. Therefore, in addition to other regulations, requirements and procedures set forth generally or for specific districts in this part, no building permit shall be issued in a MARTA Corridor or the Chattahoochee Corridor except in accord with the provisions of this chapter.
(Code 1977, § 16-23.001)
Sec. 16-23.002. - MARTA Corridors.
(Code 1977, § 16-23.002)
Sec. 16-23.003. - Preliminary determinations by director, bureau of planning.
With MARTA Corridors, applications for building permits shall be referred to the planning director, who shall make a preliminary determination as to whether the action proposed is of a character or magnitude requiring review by the Atlanta Regional Commission, as affecting the area plan.
(1)
Applications not requiring referral to Atlanta Regional Commission: Where applications are found not to be for actions of character or magnitude or regional significance, affecting the area plan, and are in accord with development guides relating to the MARTA Corridor, the director, bureau of planning shall certify that referral is not required; and the permit shall be issued if otherwise lawful.
(2)
Applications requiring referral to Atlanta Regional Commission: Where applications are found by the director, bureau of planning to be for actions of character or magnitude of regional significance, affecting the area plan, the planning director shall make a preliminary determination as to whether the proposal is in accord with and would support, or is in conflict with and would adversely affect, the area plan and relevant development guides of the Atlanta Regional Commission, with particulars in either case, and shall transmit his preliminary determinations to the commission for their recommendations.
Upon receipt of such recommendations, or at the end of 60 days after date of submission of the preliminary determination, the director, bureau of planning shall proceed to make his final determination, giving due consideration to the recommendations of the commission. Where no recommendations have been received from the commission within 60 days, the director, bureau of planning shall proceed as though the commission had concurred in his preliminary determination.
(Code 1977, § 16-23.003)
Sec. 16-23.004. - Final determinations by planning director.
Final determinations by the director, bureau of planning may be made on the action as originally proposed or as modified, and may confirm, modify or reverse his preliminary determination. Such determination shall consist of approval of the application, approval conditioned on specified modifications, or disapproval.
(Code 1977, § 16-23.004)
Sec. 16-23.005. - Effect of final determination by director, bureau of planning.
On final approval of the application, the director, bureau of planning shall certify such approval; and the building permit shall be issued, if otherwise lawful. On conditional approval, the director, bureau of planning shall so certify; and the building permit may be issued only if the applicant agrees to the specified modification. On disapproval, the director, bureau of planning director shall so certify; and no building permit shall be issued based on the application.
(Code 1977, § 16-23.005)
Sec. 16-23.006. - Chattahoochee Corridor.
(Code 1977, § 16-23.006)
_____
Sec. 16-23.007. - Summary of provisions of Metropolitan River Protection Act affecting local zoning.
The Metropolitan River Protection Act (MRPA), Georgia Laws 1973, Act No. 66, establishes requirements and procedures supplementary to those set forth generally or for specific districts in this part as follows:
EXPAND
MRPA
Section Subject Matter
5(b)(1) Matters subject to control and manner of control, generally.
5(b)(2) Material to be provided by applicants seeking certificates of compliance with area plans.
5(b)(3) Requirements for conformity of actions with certificate, and for new certificates for substantial change of land or water use.
5(c) Requirement for hearings by local governing authority before determination on issuance or denial of certificates.
6(a) Requirement that within ten days after issuance of certificate, the governing authority shall transmit a copy of its findings thereon and all supporting information filed by applicant, with the Atlanta Regional Commission.
6(b) Requirement that no certificate shall become effective until 60 days after submission to the commission, which may recommend modification, for cause, within such period. If the commission fails to recommend modification within such period, the certificate shall become effective as issued.
6(c) Provides that where the commission has recommended modification, the governing authority may adopt such modification as a condition of the certificate, override the recommendation by majority vote of a full membership of the governing body, or request reconsideration by the commission at a public hearing. If the governing authority fails to take one of these actions within 45 days of the submission of the recommendations of the commission to it, the certificate shall not become effective.
7 To simplify procedures, the commission may itself issue a certificate permitting a land or water use where the applicant and the local government have consented to such certificate, if the use permitted is in compliance with the plan and the purpose of the Act, following public notice and hearings as specified.
8 Except as exempted at Section 12 or 15, MARTA, certificates or recommendations shall comply with the following limitations.
(a) No land or water use shall be permitted in the floodplain; and
(b) No land or water use shall be permitted within 150 horizontal feet of the watercourse unless the proposed use is not harmful to the water and land resources of the stream corridor, will not significantly impede the natural flow of floodwaters, and will not result in significant land erosion, stream bank erosion, siltation or water pollution.
9 Providing for appeals from final determination of the commission of governing authority to superior court of the county, in the manner provided for appeals from boards of zoning appeals in Code, Chapter 69-12.
10 Provides that requirements of the Act are in addition to and do not supersede other requirements of law, including zoning and building regulations of the local government.
12 Exempts the following uses from application of the Act:
(a) No land or water use for agricultural or animal husbandry;
(b) Ordinary maintenance and landscaping operations;
(c) Land or water uses under specified circumstances and limitations during a 36-month transitional period after the effective date of the Act.
13 Provides for enforcement and penalties of a nature additional to or differing from those which might be applicable under this part.
15 Exempts removal of sand from the watercourses from the application of the Act when such removal returns no greater effluent than that removed, and when no erosion occurs along the banks of the watercourse.
  (Code 1977, § 16-23.007)
_____
Sec. 16-23.008. - Application of MRPA provisions in full.
To the extent that the provisions set forth in abbreviated form above, or other MRPA provisions, supplement or alter procedures or requirements on use of land or construction and use of buildings in the Chattahoochee, such sections or subsections shall apply as though set forth in full herein.
(Code 1977, § 16-23.008)
