Article V - MINIMUM REQUIREMENTS FOR PLUMBING FIXTURES[6]

Footnotes:
--- (6) ---
Editor's note— Provisions of Art. V are derived from § 1 of an ordinance adopted June 11, 1991, and numbered 91-14. Inasmuch as another ordinance was also numbered 91-14, the suffix A has been added to the ordinance number enacting this article to facilitate distinction. Further, §§ 1(1)—(7) and 2 of Ord. No. 91-14A(so-called) have been codified as §§ 20-15-81—20-15-87 and 20-15-88, by the editor. Section 5 of Ord. No. 93-53, adopted Oct. 26, 1993, renumbered the sections of this article from §§ 20-15-81—20-15-88 to §§ 20-15-131—20-15-138.
Cross reference— Plumbing, § 25-5-36 et seq.; housing code, § 25-5-51 et seq.

Sec. 20-15-131. - Purpose.
The purpose of this article is to require the use of ultra-low-flow plumbing fixtures in new construction, in replacing plumbing fixtures during renovation or remodeling of existing structures and to require the labeling of plumbing fixtures with information regarding flow rates in order to conserve water, to maintain the integrity of the drinking water supply, and to reduce the flow of wastewater.
(Ord. No. 91-14A, § 1(1), 6-11-91)
Sec. 20-15-132. - Definitions.
[As used in this article, the following words and terms shall have the meanings ascribed thereto:]
Commercial building means any type of building other than residential.
Construction means the erection of a new building or the alteration of an existing building in connection with its repair or renovation, or in connection with an addition to an existing building and shall include, but is not limited to, the replacement of a malfunctioning, unserviceable, or obsolete toilet, shower head, urinal, or faucet in an existing building.
Plumbing fixtures means any toilet, urinal, shower head, bathroom, laboratory, and kitchen faucet and replacement aerators.
Residential building means any building or unit of a building intended for occupancy as a dwelling exclusive of hotels or motels.
Toilet means any fixture consisting of a water-flushed bowl with a seat and which is used or intended to be used for the disposal of human waste.
Urinal means any fixture consisting of a water-flushed bowl used or intended to be used for the disposal of human waste.
(Ord. No. 91-14A, § 1(2), 6-11-91)
Sec. 20-15-133. - Standards.
On or after the effective date of this article, no plumbing fixture shall be installed which does not meet the minimum standards set forth in this section, including but not limited to all plumbing fixtures installed in newly constructed buildings or plumbing fixtures replaced during remodeling or renovation of existing buildings except as noted in section 20-15-135:
(1)
Toilets, gallons per flush .....1.6
(2)
Urinals, gallons per flush .....1.0
(3)
Showerheads, gallons per minute .....2.5
(4)
Faucets, gallons per minute .....2.5
(5)
Kitchen faucets, gallons per minute .....2.5
and
(6)
Bathroom and lavatory faucets, gallons per minute .....2.0
The flow restriction device in a showerhead must be permanent and must be an integral part of the showerhead and must not be removable to allow flow rates in excess of that stated in subsection (3) above.
(Ord. No. 91-14A, § 1(3), 6-11-91)
Sec. 20-15-134. - Product labeling.
On and after the effective date of this article, all toilets, urinals, showerheads or faucets shall be clearly labeled by the manufacturer to indicate the maximum flow rate or water usage of the fixture. The water use rate of the fixture shall be certified by the manufacturer based upon independent test results and using sixty (60) psi for showerheads. The label shall be affixed to the fixture and shall remain there until the proper building and/or plumbing inspections have been conducted and completed. Also, the product packaging must be clearly marked to identify water use rates when offered for retail sale.
(Ord. No. 91-14A, § 1(4), 6-11-91)
Sec. 20-15-135. - Exceptions from section 20-15-133.
The following fixtures, uses or application shall be exempt from the standards set forth in section 20-15-133:
(1)
Showers and faucets installed for safety purposes, such as emergency eyewash stations, etc.;
(2)
Plumbing fixtures specifically designed for use by the physically handicapped;
(3)
Fixtures specifically designed to withstand unusual abuse or for installation in correctional institutions which may require more water for proper operation;
(4)
Building renovations in which significant plumbing modifications would be required to accommodate the lower flows or for specialized purposes which cannot be accommodated by existing technology; permission for the exceptions listed in this subsection must be obtained from the building official of the city;
(5)
One-piece toilets are exempt from the provisions of this article until July 1, 1992;
(6)
Commercial buildings are exempt until July 1, 1992; and
(7)
Juvenile toilet facilities.
(Ord. No. 91-14A, § 1(5), 6-11-91)
Sec. 20-15-136. - Suspension of licenses.
Any building or plumbing contractor, developer or other person, firm or corporation doing business in or subject to the jurisdiction of the city who shall violate the provisions of this article shall be subject to suspension of their business license for a period not to exceed ninety (90) days.
(Ord. No. 91-14A, § 1(6), 6-11-91)
Sec. 20-15-137. - Compliance and enforcement.
In addition to the penalty described in section 20-15-136, the appropriate officials of the city may take other action as described below to compel compliance and may maintain an action or proceeding in any court of competent jurisdiction to compel compliance with or restrain violation of this article.
(1)
Compliance with the requirements for installation and labeling at the time of installation in section 20-15-133 shall be determined by the building official or his designee; in cases of new or replacement plumbing fixture installations, compliance shall be a condition for receipt of an occupancy permit.
(2)
The utilities department of the city may deny any service connection to an establishment which does not comply with the standards set forth in section 20-15-133.
(3)
Compliance with the requirements of section 20-15-134 regarding the labeling of plumbing fixtures offered for sale, shall be determined by the building official of the city or his designated agent. The building official shall have access to all establishments which offer for sale or sell plumbing fixtures for purposes of determining compliance with and enforcement of the provisions of section 20-15-134.
(4)
In order to ensure compliance with the provisions of this article pertaining to installation of plumbing fixtures in facilities in the unincorporated area of Troup County, which are already connected to the city water supply or for which connection to the city water supply will be requested or required, any building contractor or plumber installing any such plumbing fixtures, as a condition to making or continuing connection to the public water supply, shall certify together with the owner, that the plumbing fixtures installed in all instances comply with the provisions of this article.
(Ord. No. 91-14A, § 1(7), 6-11-91)
Sec. 20-15-138. - Penalty for violation.
Any person, firm or corporation who shall violate the provisions of this article shall upon conviction be punished as provided in section 1-1-6 of this Code.
(Ord. No. 91-14A, § 2, 6-11-91)
