DIVISION 2. - RESIDENTIAL ZONING DISTRICTS: DIMENSIONAL REQUIREMENTS

Sec. 46-95. - Dimensional requirements.
Dimensional requirements, such as overall site requirements, individual lot dimensions, and setbacks for residential zoning districts are established in table 2.2, residential zoning districts dimensional requirements. Residential infill development may also be subject to compatibility regulations as specified in sections 46-1279 and 46-1280.
Table 2.2. Residential Zoning Districts Dimensional Requirements
EXPAND
Element RE RLG R-100 R-85 R-75 R-60 MHP RNC*
Lot dimensions (minimum)
Lot area (square feet) 43,560
(1 acre) 20,000 15,000 12,000 10,000 6,000/3,500
cottage Parks: 20 acres
Lots: 4,000 *
Lot width, street frontage (feet) 150 65 100 85 75 60 Parks: 400
Lots: 50 *
Lot width at building line (feet) 150 65 100 85 75 60 N/A *
Lot width fronting cul-de-sac (feet) 35 35 35 35 35 35 N/A *
Lot coverage (maximum %) 25 30 35 35 35 35 N/A *
Building setbacks (minimum). Subject to article V of this chapter averaging requirements
Front thoroughfares (feet) 60 70 50 50 45 30 Parks: 250
Lots: 10 *
Front arterials (feet) 50 60 40 40 35 20 150 *
Front collector and all other streets (feet) 45 55 35 35 30 20 100 *
Front w/alley access (feet) N/A 25 25 25 25 10 Parks: N/A
Lots: 10 *
Side—interior building setback (feet) 20 10 10 8.5 7.5 7.5 Parks: 50
Lots: 7.5 *
Side—corner lot on public street (feet)** Same as district indicates front setback, following street type along the corner side property line
Rear (feet) 40 40 40 40 40 30 Parks: 40**** Lots: 7.5**** *
Unit size, heated living area (minimum)
Unit size (square feet) 2,000 2,000 2,000 1,800 1,600 1,200
If cottage: 800—1,200 N/A *
Height (maximum)
Main building (feet) (residential infill overlay = 28 feet) 35 35 35 35 35 35 35 *
Accessory building (feet) 24 24 24 24 24 24 N/A *
Open space (minimum %)
Open space 20%*** 20%*** 20%*** 20%*** 20%*** 20%*** 20%*** *
  Key:
Housing types: SF: Single-family, TF: Two-family, TRF: Three-family, MF: Multifamily.
*See division 10 of this article II.
**See article V of this chapter, corner lots section for reduction eligibility.
***Open space requirement shall apply to new subdivisions if project is >5 acres or ≥36 units (chapter 22).
****100 feet if adjacent to property zoned or used for residential purposes.
(Ord. No. 2016-06-07, att. (2.2.1), 7-11-2016; Ord. No. 2018-12-40, 1-14-2019)
Secs. 46-96—46-118. - Reserved.
