ARTICLE VIII. - SITE PLAN PROCEDURES AND REQUIREMENTS

Sec. 86-241. - Purpose.
Siting of structures on individual building lots and the method of development of properties in an urban context such as Jonesboro can have significant impacts on surrounding properties and the community. A site plan review process can ensure that these impacts are considered during development permitting or property rezoning. The purpose of this section is to ensure appropriate development of private property to protect the community from depreciating effects of uncontrolled site development and to mitigate potentially adverse impacts on surrounding properties and public right-of-ways. These purposes will be pursued through implementation of a site plan review process.
(Ord. No. 05-08, § 2(8.01), 8-15-05)
Sec. 86-242. - Applicability.
Site plan approval shall be enforced as a condition of zoning approval or development permitting, as appropriate, and shall be applicable to all single family attached development not involving subdivision of land, all multifamily, commercial, industrial development and all other non-residential development. The platting process shall control development on tracts proposed for subdivision and, therefore, such developments are not subject to site plan approval as a condition of zoning.
(Ord. No. 05-08, § 2(8.02), 8-15-05)
Sec. 86-243. - Site plan required as a condition of zoning or development permitting.
Site plan regulations and procedures as provided in this article are hereby adopted for rezoning of property and development and construction permitting within the city limits of Jonesboro and are established in addition to other provisions of this chapter. Applications for rezoning or development permits in an R-A (condominium development, only), RM, H-1, H-2, O-I, C-1, C-2 and M-1 district shall be accompanied by a site plan. The site plan shall be part of such applications.
Certain documents presented at the public hearing at which time the zoning approval was granted shall be made a part of the rezoning ordinance, adopted with the rezoning as an exhibit.
(Ord. No. 05-08, § 2(8.03), 8-15-05)
Sec. 86-244. - Site plan specifications.
A site plan shall accompany an application proposing the rezoning of property to one of the zoning districts contained in article V that is initiated by an owner of property or his agent. A site plan shall also accompany an application for construction or development on property located within any zoning districts identified in section 86-223. Site plans may be prepared by the applicant, a professional engineer, registered land surveyor, landscape architect, land planner or any other person familiar with land development. The site plan shall be drawn to scale on a certified boundary survey of the property and shall indicate all construction or development proposed on any portion of the site being developed and the following additional information:
(1)
Name, address and phone number of property owner.
(2)
Name, address and phone number of the applicant (if different from the owner).
(3)
Nature of proposed uses, including a statistical summary of development indicators such as density, nonresidential floor area, maximum building heights, number of lots or dwelling units and minimum unit sizes, as appropriate.
(4)
A graphic indication of the architectural style, building materials and elevations anticipated.
(5)
Date of survey and source of datum, as appropriate.
(6)
Date of site plan and revision dates, as appropriate.
(7)
North arrow and scale, not to exceed one inch equals 50 feet.
(8)
Location (district and land lot) and size of the property in acres (or square feet if below one acre).
(9)
Location sketch of the property in relation to the surrounding area with regard to landmarks such as arterial streets or railroads. Sketches shall be at a scale sufficient to clearly indicate the location of the property, but not greater than one inch equals 2,000 feet. U.S. Geological Survey maps may be used as a reference guide for the location sketch.
(10)
Proposed zoning classification of the property and zoning of all adjacent properties.
(11)
Man-made features adjacent to the property, including street right-of-ways and street names, city limits and other significant information such as bridges, water and sanitary sewer mains, storm drainage systems and other features, as appropriate.
(12)
Location and right-of-way width of all proposed streets.
(13)
Indication of domestic water supply source.
(14)
Indication of sanitary sewer service.
(15)
Approximate location of proposed storm water drainage and detention facilities.
(16)
Any existing or proposed easements.
(17)
Location of all improvements, public areas or community facilities proposed for dedication to public use.
(18)
Proposed lot lines and minimum front, side and rear building setbacks for each lot.
(19)
Approximate footprint and location of all existing and proposed buildings and structures on and adjacent to the site.
(20)
All existing and proposed access, driveways, parking and loading areas on or adjacent to the site.
(21)
Proposed solid waste disposal facilities and outdoor storage areas.
(22)
Proposed buffers and greenspace.
(23)
Proposed development schedule.
The city may require submission of such additional information as may be useful to understanding the proposed use and development of the property. This may include proposed protective covenants or deed restrictions, or both, which would be made applicable to all development within the project for the purpose of regulating such features as architectural style and building materials; limitations on, or identification of, permitted uses; and other controls which have as their purpose guaranteeing high quality, compatible development.
(Ord. No. 05-08, § 2(8.04), 8-15-05)
Cross reference— Development regulations, ch. 32; landscaping and buffers, § 86-451 et seq.
Sec. 86-245. - Site plan approval required.
Prior to initiation of construction or issuance of any building permit or other permit for development or construction, a site plan complying with the specifications of section 86-224 shall be submitted to the city manager. In rendering a decision as to the appropriateness of a site plan, the city manager shall determine whether such site plan is in compliance with this chapter, any conditions of zoning approval and the land development ordinance. The city manager shall either approve the site plan or notify the applicant in writing of any deficiencies, indicating modifications or revisions necessary to obtain plan approval within 30 calendar days of receipt of a site plan.
(Ord. No. 05-08, § 2(8.05), 8-15-05)
Sec. 86-246. - Single-family construction on individual building lots exempted.
Single-family development shall be exempt from the requirements of this article as such development is subject to the standards of this chapter and those contained in the land development ordinance. These standards are enforced during the platting process and the purposes of this article may be achieved thereby.
(Ord. No. 05-08, § 2(8.06), 8-15-05)
Sec. 86-247. - Failure to comply with the approved site plan.
In the event an applicant, developer, builder or his agent fails to comply with any terms, conditions or restrictions upon which the site plan was accepted as a condition of zoning or approved as a condition of development permit issuance, the code enforcement officer shall suspend or revoke any permits which have been issued pursuant to the approved site plan, or take such action as may be necessary to ensure compliance. Such failure to comply shall be deemed a violation of this chapter, subject to all penalties and remedies provided herein.
(Ord. No. 05-08, § 2(8.07), 8-15-05)
Secs. 86-248—86-260. - Reserved.
