ARTICLE 8. - DESIGN REQUIREMENTS FOR BLOCKS AND LOTS

Section 801. - Block lengths and widths.
Intersecting streets shall be provided at such intervals so as to provide adequate cross traffic and connectivity. Blocks in residential subdivisions should not exceed 1,800 feet nor be less than 600 feet in length, except where topography or other conditions justify a departure from these standards. In blocks longer than 800 feet, pedestrian ways and/or easements through the block may be required by the planning commission near the center of blocks.
The width of the block shall normally be sufficient to allow two tiers of lots of appropriate depth. Blocks intended for business or industrial use shall be of such width as to be considered most suitable for their respective use, including adequate space for off-street parking and deliveries.
Section 802. - Lot width and size.
Residential lots shall have a minimum depth of 100 feet and minimum width of 100 feet each.
Residential lots shall have a minimum depth of 100 feet and minimum width of 100 feet each.
The minimum lot area for a residential lot shall be:
a.
43,560 square feet.
Provided, however, that where flood plain, water course, wetland, soil, slope and other conditions require it, and as further required by the county health department or any other applicable resolution of the county. No more than one single-family dwelling per tract with density of one dwelling per acre with planning department approval. Single-family exceptions may be allowed for intra-family and agricultural dwellings with the approval of the planning department. Residential corner lots shall have adequate width to meet building setback requirements from both abutting streets. Residential corner lots shall have adequate width to meet building setback requirements from both abutting streets.
Commercial and industrial or other non-residential lots shall be adequate to provide service areas and off-street parking suitable to use intended. The minimum lot size for such lots shall be 43,560 square feet without public sewer, or a minimum of 21,780 square feet with public sewer and public water, or greater where soil, slope or other conditions require it, and as further required by the health department. Where individual septic tanks are used, the county health department shall approve minimum lot sizes to conform to health standards of the state.
Each lot shall contain an adequate building site not subject to flooding and outside the limits of any existing easements or required yards/ building setback lines.
(Res. No. 2017-02, 1-9-17)
Section 803. - Lot lines.
All lot lines shall be perpendicular or radial to street lines, unless not practicable because of topographic or other features.
Section 804. - Building lines.
A building line shall be established on all lots. There shall be building setback lines for principal buildings of 15 feet from all property lines.
Section 805. - Flag lots.
Intent. Flag lots, as defined in this resolution, are strongly discouraged. However, subdivisions designed with one or more flag lots may be approved.
Denial if reasonable alternative exists. The administrative officer in the case of minor subdivisions and the planning commission in the case of other subdivisions shall have due cause to deny any plat that proposes any flag lot, when a reasonable alternative to such lot pattern is possible.
a.
Panhandle (flag pole) length and width restriction. If permitted, no flag lot shall be allowed to be platted that has a "panhandle" portion of less thanthe requiredfrontage for that lot. (i.e., portion that does not meet the required lot width) and that is more than 400 feet in length.
Section 806. - Lot remnants not permitted.
All remnants of lots below any minimum lot size which may be required, left over after subdividing of a larger tract, must be added to adjacent lots, rather than allowed to remain as unusable parcels. The administrative officer may permit a lot remnant for a specific purpose such as a detention pond, provided that access and design is appropriate and the lot remnant is restricted to specific non-building use.
Section 807. - Monuments.
For all subdivisions, a state registered land surveyor shall install permanent survey monuments at all property corners and land lot lines, prior to final plat approval. Lot corners shall be marked with metal rods not less than one-half inch in diameter and 18 inches in length and driven so as to be stabilized in the ground. Permanent survey monuments shall also be installed in accordance with the most recent edition of section 180-7-.05, monument, of the Rules of State Board of Registration for Professional Engineers and Land Surveyors and the Georgia Plat Act (O.C.G.A. 15-6-67).
