ARTICLE XIII. - MISCELLANEOUS ADDITIONAL REQUIREMENTS FOR ISSUANCE OF OCCUPATION TAX CERTIFICATE

Sec. 14-408. - Additional requirements.
(a)
In addition to the requirements of this Code, the following businesses shall meet the listed additional requirements before the certificate may be issued as prescribed in sections 14-26 and 14-27:
(1)
Ambulance service: State license.
(2)
Auctioneer: State license.
(3)
Auto parts (used or reconditioned): State license.
(4)
Auto salvage yard: State license.
(5)
Automobile dealer: State license.
(6)
Barber shop: State license.
(7)
Beauty shop: State license.
(8)
Bondsman: Sheriff's approval.
(9)
Burglar/security alarm installers: Low voltage state license/county police department permit.
(10)
Carnivals/amusement rides: Proof of liability insurance.
(11)
Catering (including trucks): Health department approval.
(12)
Chemical Mfg or sales: Fire department approval.
(13)
Day care center: State license (state department of human resources).
(14)
Day care home: State certificate of registration (state department of human resources).
(15)
Delicatessen: Health and fire department approval.
(16)
Electrical contractor: State license.
(17)
Employment agency: State license if fee paid by employee (state department of labor).
(18)
Explosives sales/distribution: State license (state fire marshal).
(19)
Fire alarm installation: Notify fire department.
(20)
Guns, firearms, ammunition: State and federal license.
(21)
Hatchery: State license (state department of agriculture).
(22)
HVAC contractor: State license.
(23)
Ice cream shop: Health department approval.
(24)
Locksmith: County police department permit.
(25)
Lodginghouses and roominghouses: Certificate from state department of human resources.
(26)
Manicurist: State license.
(27)
Manufacturer's reps: County police department permit (when going door-to-door without appointment).
(28)
Meat packing plant: State license (state department of agriculture).
(29)
Meats/retail from truck: State license (state department of agriculture).
(30)
Meats/wholesale: State license (state department of agriculture).
(31)
Mechanical contractor: State license.
(32)
Nail salon: State license.
(33)
Nursing home/convalescent home: Certificate from state department of human resources.
(34)
Operating vehicles for hire: County police department permit/proof of insurance (Limousines: Certificate from PSC).
(35)
Pest control: State license.
(36)
Plumbing contractor: State license.
(37)
Polygraph examiner: State license.
(38)
Private detective/investigator: State license.
(39)
Professionals: State license.
(40)
Restaurant: Health and fire department approval.
(41)
Sanatoriums: Certificate from (state department of human resources).
(42)
Septic tank contractor: Certificate from health department.
(43)
Shooting gallery: Fire department approval.
(44)
Skating rink: Fire department approval.
(45)
Spa: Letter of contract compliance from state department of consumer affairs.
(46)
Tattoo parlor: Health department approval.
(47)
Utility contractor: State license.
(48)
Wrecker service: Amber light permit (all)/contract and county police department approval (only those providing services to the county).
(b)
Business owners and operators who offer public play on bona fide Class B coin-operated amusement machines as defined by O.C.G.A. § 50-27-70(b)(4)) are authorized to exceed the limitation of nine machines as otherwise provided in O.C.G.A. § 50-27-84(b)(2).
(Ord. of 7-1-2012, § 18-351)
Secs. 14-409—14-429. - Reserved.
