ARTICLE 14. - CONDITIONAL USE REQUIREMENTS

Sec. 14-1. - Conditional uses.
new
A.
Some land uses are considered generally appropriate in their respective zoning districts; however, controls and safeguards are necessary to ensure their compatibility with permitted principal uses. The conditional use permit procedure is intended to allow consideration of the impact of the proposed conditional use on surrounding property, and the application of controls and safeguards to assure that the conditional use will be compatible with its surroundings.
B.
A conditional use must comply with the area, height and placement requirements for the zoning district in which it is located. In addition, any specific requirements pertaining to the use listed in this article must also be met.
C.
An application for a conditional use shall be filed with the zoning administrator on a form provided for that purpose. The application shall be accompanied by a filing fee, as established by the city council.
D.
A site plan shall be submitted with the application, showing the proposed location of all existing and proposed buildings and structures on the site, access points, drainage, vehicular and pedestrian circulation patterns, parking areas, and the specific location of the use or uses to be made of the development, together with other information necessary to comply with the standards for a conditional use listed in this article and in other pertinent sections of this ordinance.
E.
In granting a conditional use, the zoning administrator must make the following findings:
1.
The conditional use will preserve the value, spirit, character and integrity of the surrounding area;
2.
The conditional use fulfills all other requirements of this article pertaining to the conditional use in question;
3.
Granting the conditional use permit will not be harmful to the public health, safety, convenience and comfort; and
4.
Sufficient setbacks, lot area, buffers or other safeguards are being provided to meet the above standards.
F.
In granting a conditional use, the zoning administrator may impose conditions necessary to ensure that the conditional use meets the requirements of this ordinance and the public health, safety and welfare are protected.
G.
The decision of the zoning administrator, including any conditions imposed upon an approved conditional use, may be appealed to the zoning board of appeals, in accordance with Article 23.
H.
Conditional use specific standards. In addition to the general findings in Section 14-1.E., the specific requirements for individual conditional uses, as listed in the following sections, shall be met.
Sec. 14-2. - Accessory uses and structures.
new
A.
Accessory buildings or garages shall be considered to be part of the principal building if structurally and architecturally integrated into the building, or if attached by an enclosed breezeway or similar enclosed structure not greater than ten feet in length.
B.
Detached accessory buildings shall be located not closer than ten feet to the main building.
C.
The area of accessory buildings is to be included in the maximum lot coverage.
D.
An accessory building or accessory structure shall not be located in any front yard.
E.
An accessory building or accessory structure shall not be constructed or occupied on a lot before the principal building or use on the lot is constructed.
F.
Except as provided in paragraph G below, accessory buildings and accessory structures shall meet the minimum side and rear yard setbacks required for principal buildings.
G.
On lots in any residential district, an accessory building or accessory structure which is no larger than 100 square feet in area and ten feet in height may be located in a rear yard as near as five feet from the side and rear lot lines. However, if the rear lot line of the property on which the accessory building or accessory structure is located is also the side lot line of the neighboring property, then the accessory building or accessory structure shall be set back the same distance from the rear lot line as the required side yard setback for a principal building.
H.
A maximum of two accessory buildings shall be permitted on a residential lot; provided the total floor area of all accessory buildings does not exceed the maximum size limits specified in Table 14-3. Accessory buildings in any residential district shall be limited in building floor area as follows:
Table 14-2. Maximum Size of Accessory Residential Buildings
EXPAND
Lot Area Permitted Accessory Building Size
Less than 10,000 square feet Maximum 576 square feet
10,000 to 30,000 square feet Maximum 900 square feet
Greater than 30,000 square feet Maximum 1,200 square feet
  I.
Accessory buildings and structures in planned unit developments shall be subject to the same requirements as in the residential districts.
J.
Buildings and structures used in active commercial agricultural operations are not considered accessory buildings and shall not be subject to this section, except that no commercial agricultural buildings or structures shall be located within a required yard, and any such building greater than 1,200 square feet in area shall be located at least 50 feet from any rear or side lot line.
K.
Swing sets, playground equipment, garden trellises, well-head covers and similar above-ground yard equipment accessory to a residential use shall be exempt from the provisions of this zoning ordinance, except for height limitations, or unless specific provision is made for such equipment by city ordinance.
L.
Buildings accessory to non-residential uses shall meet the minimum setback requirements and height limitations for principal buildings in the respective zoning district.
Sec. 14-3. - Auction houses.
new
An auction house in the C-3 District shall be located on a tract with a minimum area of five acres.
Sec. 14-4. - Boarding and rooming house.
new
A.
The minimum size of a rooming unit shall be 70 square feet, with not less than seven feet in any dimension. An extra 50 square feet shall be required for each additional occupant within the unit.
B.
Twenty-four-hour on-site management must be provided.
C.
The rules and residency requirements governing the use shall be submitted with the conditional use application. The management will be solely responsible for the enforcement of all rules that are reviewed and approved as part of a conditional use permit.
D.
The building shall contain a minimum of 250 square feet of common space such as recreation areas, lounges, and living spaces. An additional 10 square feet of common space is required per rooming unit over 11.
E.
There shall be at least one flush water closet, one bathroom lavatory basin, and one bathtub or shower bath for each five persons or fraction thereof, except that in a rooming house, where rooming units are let only to males, flush urinals may be substituted for not more than one-half the required number of flush water closets.
F.
All bathroom facilities shall be so located within the dwelling as to be reasonably accessible to all persons sharing those facilities and from a common hall or passageway; provided that the facilities are not located more than one floor above or below the rooming unit or units served.
G.
Access doors to a rooming unit shall have operating locks to insure privacy.
H.
Every rooming unit shall comply with all the requirements of applicable building, housing, health and fire codes pertaining to a habitable room.
Sec. 14-5. - Building and lumber supply, fence material, rental and related construction oriented retail establishments.
new
A.
All outdoor storage areas shall be fenced with a minimum six-foot high opaque fence.
B.
Junk or discarded material shall not be stored or stacked outdoors.
Sec. 14-6. - Child care centers, commercial preschools and nurseries.
new
A.
At least 150 square feet of indoor or outdoor play area shall be provided per child; however, the total play area shall not be less than 5,000 square feet.
B.
An outdoor play area shall not be located in the required front yard nor abut a public right-of-way. It shall be located away from vehicular traffic and enclosed by a minimum four-foot tall ornamental or black vinyl-coated chain link fence. A six-foot tall privacy fence and/or approved landscaping shall be provided where a play area abuts an adjoining single-family residential lot.
C.
An on-site drive, arranged to allow one way traffic flow, shall be provided for drop-off and loading.
Sec. 14-7. - Child care facilities accessory to a principal use.
new
A.
All licensing and permitting shall be obtained from the State of Georgia.
B.
All applicable rules and regulations of the State of Georgia shall be adhered to.
C.
Monthly inspections shall be performed by the city to determine whether or not the facility is in compliance with these conditions.
Sec. 14-8. - Child caring institution, family.
new
A.
All licensing and permitting shall be obtained from the State of Georgia.
B.
All rules and regulations of the State of Georgia shall be adhered to.
C.
The owner of the dwelling shall reside on the premises.
D.
A family child caring institution shall not be located within 1,320 feet from any other family child caring institution.
E.
The occupants of all properties within 300 feet of the boundary of the lot where the family child caring institution is proposed shall be notified by the applicant, by certified mail, of the request to establish the proposed use. Proof of mailing shall be provided to the city zoning administrator. Monthly inspections shall be performed by the city to determine whether or not said facility is in compliance with these conditions.
Sec. 14-9. - Churches and customary related uses.
new
A.
All buildings, parking areas and outdoor activity areas (ball fields, playgrounds, bleachers, etc.) shall be setback a minimum of 40 feet from any side or rear property line abutting a residential district.
B.
A church shall be located on a tract of land not less than five acres in area with a street frontage of at least 200 feet.
Sec. 14-10. - Club or lodge, private.
new
A.
The minimum lot area shall be five acres.
Sec. 14-11. - Day care, family.
new
A.
All licensing and permitting shall be obtained from the State of Georgia.
B.
All rules and regulations from the State of Georgia shall be adhered to.
C.
The owner of the dwelling shall reside on the premises.
D.
A family day care home shall not be located within 1,320 feet from any other family day care home.
E.
The occupants of all properties within 300 feet of the boundary of the lot where the family day care home is proposed shall be notified by the applicant, by certified mail, of the request to establish the proposed use. Proof of mailing shall be provided to the city zoning administrator.
F.
Monthly inspections shall be performed by the city to determine whether or not said facility is in compliance with these conditions.
Sec. 14-12. - Dwelling units of watchmen and operating personnel and their families.
new
A.
No more than one dwelling unit per main building is permitted.
B.
The dwelling unit shall not exceed one 1,500 square feet GFA.
C.
The unit may only be occupied by an employee of the facility and his/her family, who is actively employed in security, maintenance or operations within the facility.
Sec. 14-13. - Foster care home, adult family.
new
At least 1,500 square feet of open space shall be provided for every bed, whether used or intended.
Sec. 14-14. - Golf courses and country clubs.
new
A golf course shall be laid out with a minimum of 18 holes over a distance of at least 5,500 yards and used exclusively for playing golf.
Sec. 14-15. - Greenhouses and nurseries (not including retail sales).
new
A.
The minimum lot area shall be two acres.
B.
The storage or display of all materials shall conform to the requirements of Section 14-18.
Sec. 14-16. - Home occupations.
new
A.
Only resident occupants and one non-resident employee shall be engaged in the home occupation.
B.
The use of the dwelling unit for the home occupation shall be clearly incidental and subordinate to its use for residential purposes by its occupants and not more than 25 percent of the gross floor area of the dwelling shall be used in the conduct of the home occupation.
C.
There shall be no change in the outside appearance of the dwelling or other visible evidence of the conduct of the home occupation, except that one sign, not exceeding two square feet, non-illuminated and mounted flat against the wall of the dwelling, may be permitted.
D.
The home occupation shall be operated in its entirety within the principal dwelling.
E.
The direct sale of goods, merchandise, supplies, products or services shall not be permitted to customers on the premises. Phone and internet sales may be permitted, provided the items purchased are shipped directly to the customer so no pick-up is required at the location of the home occupation.
F.
Outdoor storage, activities or displays shall be prohibited.
G.
No traffic shall be generated by the home occupation in greater volume than would normally be expected in a residential neighborhood. Any parking needed to accommodate the home occupation shall be provided off-street behind the required front setback line.
H.
No equipment or process shall be used in the home occupation which creates noise, vibration, glare, fumes, odors or electrical interference detectable to the normal senses off the premises, if the occupation is conducted in a single-family dwelling, or detectable outside the dwelling unit if conducted in an attached or multiple family dwelling. In the case of electrical interference, no equipment or process shall be used which creates visual or audible interference in any radio or television receivers off the premises or causes fluctuation in line voltage of the premises.
I.
Uses such as, but not limited to, clinics, hospitals, nurseries, day care centers, ambulance service, amusement arcades, vehicle repair or maintenance, pawn shop, fortune teller, veterinarian offices, permanent basement or garage sales or kennels shall not be considered home occupations.
Sec. 14-17. - Kennels.
new
A.
No portion of a building, pen or structure used to contain animals shall be located closer than 200 feet to any property line.
B.
The minimum lot area shall be five acres.
Sec. 14-18. - Outdoor storage related to a principal use.
new
A.
The sale or outdoor display of merchandise shall not be permitted within the required setback areas.
B.
The zoning administrator may require a fence or wall to be constructed along the rear and/or sides of the lot to keep trash, paper, and other debris from blowing off the premises.
C.
The lot area used for parking shall be hard-surfaced and the display or storage areas shall be provided with a permanent, durable, and dustless surface, and shall be graded and drained so as to dispose of all surface water.
D.
All lighting shall be shielded from adjacent residential areas.
Sec. 14-19. - Parking garage, structure or lot, commercial (as principal use).
new
Storage of inoperable vehicles is prohibited. All vehicles within the garage, structure or lot shall be operable and licensed.
Sec. 14-20. - Personal care home, family.
new
A.
All licensing and permitting shall be obtained from the State of Georgia.
B.
All rules and regulations from the State of Georgia shall be adhered to.
C.
The owner of the dwelling shall reside on the premises.
D.
A personal care family home shall not be located within 1,320 feet from any other personal care family home.
E.
The occupants of all properties within 300 feet of the boundary of the lot where the personal care family home is proposed shall be notified by the applicant, by certified mail, of the request to establish the proposed use. Proof of mailing shall be provided to the city zoning administrator.
F.
Monthly inspections shall be performed by the city to determine whether or not said facility is in compliance with these conditions.
Sec. 14-21. - Personal care home, group.
new
A.
All licensing and permitting shall be obtained from the State of Georgia.
B.
All rules and regulations from the State of Georgia shall be adhered to.
C.
The owner of the dwelling shall reside on the premises.
D.
A personal care group home shall not be located within 1,320 feet from any other personal care group home.
E.
The occupants of all properties within 300 feet of the boundary of the lot where the personal care group home is proposed shall be notified by the applicant, by certified mail, of the request to establish the proposed use. Proof of mailing shall be provided to the city zoning administrator.
F.
Monthly inspections shall be performed by the city to determine whether or not said facility is in compliance with these conditions.
Sec. 14-22. - Private non-commercial recreation.
new
A.
All structures and activity areas (courts, ball fields, playgrounds, etc.) shall be set back a minimum of 40 feet from any side or rear property line abutting a residential district.
B.
Lighting for night-time activity areas shall be directed and shielded so the light source is not visible from any residential use within 150 feet of the light fixture. All lighting, including building and security lighting, shall be located to prevent glare on adjacent properties and streets.
Sec. 14-23. - Public utility structures and lands.
new
A.
The materials, color and design of buildings shall be generally compatible with the surrounding neighborhood.
B.
Buildings and structures shall comply with the setback requirements of the district for principal buildings.
C.
Fencing or screening may be required in order to minimize the visual impact of the facility or improve its compatibility with adjoining properties.
Sec. 14-24. - Restaurant (outdoor seating area).
new
A.
An outdoor seating area may not be located within a required yard.
B.
The outdoor seating area shall be included in the determination of required parking spaces.
C.
An outdoor seating area shall be surrounded by a decorative fence or enclosure, at least four feet in height, with access only from within the building. A self-closing gate which can only be opened from within the enclosure shall be provided for emergency egress.
Sec. 14-25. - Riding stables and academies.
new
A.
A riding stable and/or academy shall be located on a parcel of not less than five acres.
B.
No barn or similar building and no manure storage shall be closer than 200 feet to any property line.
C.
A maximum of ten horses may be kept on five acres. One additional acre of land shall be required for each additional horse above ten.
Sec. 14-26. - Schools (elementary, middle and high).
new
A.
All buildings, parking areas and outdoor activity areas (ball fields, playgrounds, bleachers, etc.) shall be setback a minimum of 40 feet from any side or rear property line abutting a residential district.
B.
A six-foot high fence shall be constructed along any side or rear property line abutting a residential district.
C.
Lighting for night-time activity areas shall be directed and shielded so the light source is not visible from any residential use within 150 feet of the light fixture. All lighting, including building and security lighting, shall be located to prevent glare on adjacent properties and streets.
Sec. 14-27. - Sewage treatment plants.
new
A.
A sewage treatment plant shall be owned and operated by the City of Palmetto or other regulated utility provider. A treatment facility serving a specific allowed use may be permitted, however, provided that all treatment conforms to applicable city, county, state and federal law.
B.
All buildings, equipment and lagoons shall be located a minimum of 300 feet from any property line.
C.
Odor control measures shall be implemented.
Sec. 14-28. - Tire retreading establishments.
new
No outside storage is permitted.
Sec. 14-29. - Vehicle repair, minor.
new
A.
A building or structure shall be located at least 30 feet from any side or rear lot line abutting a residential district.
B.
Driveways, exclusive of curb returns, shall be at least 22 feet, but not more than 30 feet wide and shall be at least ten feet from any abutting property.
C.
Equipment, including hydraulic hoists, pits, and lubrication, greasing, and other automobile repairing equipment shall be located entirely within an enclosed building. Outdoor storage or display of merchandise, such as tires, lubricants and other accessory equipment is not permitted.
D.
All activities shall occur inside a building. All vehicles that are being worked on shall be located within a building. No vehicle may be stored on the property for more than 30 days.
E.
Above-ground storage tanks gasoline, liquefied petroleum gas, oil or other flammable liquids or gas are not permitted.
F.
All structures and tanks shall be at least 500 feet from a fire station, police station or place of public assembly.
G.
Floor drains shall not connect to the sanitary sewer system.
Sec. 14-30. - Wind energy conversion systems (single accessory).
new
A.
General Requirements.
1.
The minimum lot area for installation of a wind energy conversion system (WECS) shall be 12,000 square feet.
2.
The power rating of a single accessory WECS turbine shall not be greater than 25 kW.
3.
A single accessory WECS shall provide energy only to the structures and uses on the same property upon which the tower is located and must be owned or leased by the owner of the same property. However, this does not prevent power generated beyond the needs of the structures or uses on the property to be distributed to a local utility company through net metering. Except for the local utility company, power generated by the WECS may not be provided to any other property or entity.
4.
Sound attributed to a single accessory WECS in excess of 55 dB(A) shall not be discernible at the property line.
5.
A sign, not exceeding three square feet in area naming the manufacturer may be affixed to the base of the tower or to the nacelle; no other signs are permitted on the WECS.
6.
Lights on or directed toward a WECS are not permitted.
7.
A single accessory WECS shall be painted in a neutral matte color, such as gray or light blue, to blend with the sky. A building mounted WECS may be painted in colors complementary to those of the building.
8.
A single accessory WECS shall have an automatic braking, governing, or feathering system to prevent uncontrolled rotation or over speeding. Emergency shut-off information shall be posted on the tower in a location that can be easily seen.
9.
A single accessory WECS shall employ an anti-climbing device or be designed to prevent climbing and other unauthorized access.
10.
The installation of a single accessory WECS shall not interfere with signal transmission or reception of an existing fixed broadcast, re-transmission or reception antenna for radio, television or wireless phone or personal communication systems.
11.
The applicant shall provide written evidence that the WECS complies with all applicable federal, state and county requirements, in addition to city ordinances.
12.
All single accessory WECS installations shall comply with applicable ANSI (American National Standards Institute), National Electric Code and National Building Code standards, as adopted by the State of Georgia, Fulton County and the City of Palmetto.
13.
A WECS shall be removed when the device or equipment is no longer operating or when it has been abandoned. A WECS shall be deemed abandoned when it has not produced electrical energy for 12 consecutive months.
14.
An existing and approved single accessory WECS may be repaired and maintained; however, a WECS may only be replaced with a new WECS upon approval of the zoning administrator or designee, provided that the new WECS is of the same height, rotor diameter, setback, etc. as the WECS it replaces. A new or replacement WECS shall mean all of the WECS, excluding the tower or support structure.
B.
Ground-Mounted Single Accessory WECS.
1.
A ground mounted single accessory WECS shall be located on a property at a distance at least equal to its height from all property lines. The setback shall be measured from the property line (considered as a plane extending from the ground to the highest point of the WECS) to the closest extension of the rotor relative to the property line. No part of a single accessory WECS (including guy wire anchors) shall be located within or above a required setback.
2.
WECS height shall be limited based on the setback requirements in paragraph 1. above; however, WECS height shall not exceed 50 feet on a property at least 12,000 square feet but less than one acre in area; or 75 feet on a property one acre in area or greater.
3.
The minimum rotor blade tip clearance from grade shall be 20 feet.
4.
The minimum rotor blade tip clearance from any structure shall be 20 feet.
5.
The diameter of the rotor depends on maximum single accessory WECS height and rotor blade tip clearance, but in no case shall it exceed 50 feet.
6.
The tower used to support a WECS shall be adequately anchored and meet applicable standards, as certified by an engineer.
C.
Building Mounted Single Accessory WECS.
1.
The diameter of the rotor shall not exceed 20 feet.
2.
WECS height shall not exceed the maximum permitted height for principal buildings in the district, plus 15 feet.
3.
A single accessory WECS shall be located from adjoining property lines a distance equal to the combined height of the WECS and the portion of the building on which it is mounted. The setback shall be measured from the property line (considered as a plane extending from the ground to the highest point of the WECS) to the closest extension of the rotor relative to the property line.
4.
A building mounted single accessory WECS shall not be mounted to the vertical face of a gable end or dormer that is visible from the street. To the greatest degree possible, the WECS shall be mounted to the building in the least visible location.
5.
The mount and the structure used to support a building mounted WECS shall meet applicable standards, as certified by an engineer.
D.
Discretionary Conditions. The zoning administrator may impose other terms and conditions regulating the construction, installation, use, maintenance, repair and removal of a WECS, including, but are not limited to, the following:
1.
The preservation of existing trees and other existing vegetation not required to be removed for installation of a WECS.
2.
The reasonable replacement of trees or other vegetation removed or destroyed during the construction or installation of a WECS.
3.
Altering the location of the WECS to prevent impacts on neighboring properties, provided that all other requirements of this section are met.
4.
Requiring a performance bond or letter of credit, in accordance with the requirements of Section 21-5 and conditioned upon the timely and faithful performance of all required conditions, including but not limited to the timely and complete removal of a WECS, regulated under the terms of the section, when required. The performance bond or letter of credit shall remain in effect during and after the operation of a WECS until its operations have ceased and it has been removed.
