ARTICLE V. - OFF-STREET PARKING AND LOADING REQUIREMENTS

Sec. 22-366. - Scope of article.
Except as provided in this article, no application for a building permit shall be approved unless there is included with the planfor such building, improvements, or use, a plot showing the required space reserved for off-street parking and service purposes. Occupancy shall not be allowed unless the required off-street parking and service facilities have been provided in accordance with those shown on the approved plan.
(Ord. No. 548, § 22.01, 1-8-01)
Sec. 22-367. - Parking spaces may not be reduced.
Off-street parking spaces shall not be reduced below the minimum required number for the use or facility to which they are assigned.
(Ord. No. 548, § 22.02, 1-8-01)
Sec. 22-368. - Drainage, construction and maintenance.
All off-street parking, loading and service areas shall be constructed of concrete or asphalt, or a pervious surface may be permitted as deemed appropriate by the planning commission and final approval by mayor and city council. All such areas shall be at all times maintained at the expense of the owners thereof, in a clean, orderly and dust-free condition.
(Ord. No. 548, § 22.03, 1-8-01)
Sec. 22-369. - Separation from walkways, sidewalks and streets.
All off-street parking, loading and service areas shall be separated from walkways, sidewalks and streets by curbing or other suitable protective device. Curbing and other protection devices must be set back a minimum of three (3) feet to prevent vehicle overhang.
(Ord. No. 548, § 22.04, 1-8-01)
Sec. 22-370. - Parking area design.
Parking stalls shall have a minimum width of nine (9) feet and length of eighteen (18) feet. There shall be provided adequate interior driveways to connect each parking space with a public right-of-way. Interior driveways shall be at least twenty-four (24) feet wide where used with ninety (90) degree angle parking, at least eighteen (18) feet wide where used with sixty (60) degree angle parking, at least thirteen (13) feet wide where used with forty-five (45) degree parking, and at least twelve (12) feet wide where used with parallel parking, or where there is no parking, interior driveways shall be at least ten (10) feet wide for one-way traffic movement and at least twenty (20) feet wide for two-way traffic movement.
(Ord. No. 548, § 22.05, 1-8-01)
Sec. 22-371. - Joint parking facilities.
Two (2) or more neighboring uses, of the same or different types may provide joint facilities provided the number of off-street parking spaces are not less than the sum of the individual requirements.
(Ord. No. 548, § 22.06, 1-8-01)
Sec. 22-372. - Pavement markings and signs.
Each off-street parking space shall be clearly marked, and pavement directional arrows or signs shall be provided in each travel way wherever necessary. Markers, directional arrows and signs shall be properly maintained so as to ensure their maximum efficiency.
(Ord. No. 548, § 22.07, 1-8-01)
Sec. 22-373. - Number of parking spaces.
In order to assure a proper and uniform development of public parking areas throughout the area of jurisdiction of this chapter, to relieve traffic congestion on the streets, and to minimize any detrimental effects on adjacent properties, off-street parking space shall be provided and maintained as called for in the following schedule. For any use or class of use not mentioned in this schedule, the requirements shall be the same as a similar use as mentioned herein. Parking requirements for additions to existing uses shall be based only upon the new addition even if the existing use is deficient.
(Ord. No. 548, § 22.08, 1-8-01)
Sec. 22-374. - Street parking requirements.
In all zoning districts, off-street parking spaces for the storage and parking of self-propelled motor vehicles for the use of occupants, employees and patrons of the buildings hereafter erected, or enlarged after the effective date of this chapter, shall be provided as herein prescribed.
Required parking spaces shall be maintained and shall not be encroached upon so long as said main building or structure remains, unless an equivalent number of such spaces is provided elsewhere in conformance with this chapter. The owner or owners of a building structure of other land use requiring off-street parking spaces must show, to the satisfaction of the city manager, that he/she is the record title holder of the property devoted to said principal land use and of the property proposed for off-street parking use, or that he/she is the lessee of such property.
(Ord. No. 548, § 22.09, 1-8-01)
Sec. 22-375. - Planted areas.
Any off-street parking facility of ten (10) cars or more shall also provide the equivalent of one (1) parking space per each ten (10) cars and each faction thereof, to be planted with at least one (1) tree with a minimum diameter (measured at the location of its greatest width) of one and one-half (1½) inches, and grass and/or ground cover. The exact location within the parking facility is optional with each design, but the planted area herein referred to shall be in addition to perimeter buffer strips and to other landscaping on the property outside the parking facility.
The purpose of this requirement is to aid in providing visual definition, oxygenation, shade, wind modulation, drainage absorption and relief from other problems as may result form total coverage paving.
(Ord. No. 548, § 22.10, 1-8-01)
Sec. 22-376. - Location of parking space for other land uses.
The off-street parking facilities required for all other uses shall be located on the lot or within one thousand (1,000) feet of the permitted use requiring such off-street parking, such distance to be measured along lines of public access to the property between the nearest point of the parking facility to the building to be served.
(Ord. No. 548, § 22.11, 1-8-01)
Sec. 22-377. - Off-street parking standards.
EXPAND
Use Number of Parking Spaces Required
Apartment and multifamily dwelling 2 spaces for each family dwelling unit plus 1 space for each 10 units for travel trailers, boats and other vehicles
Apartments for the elderly 1 space for each dwelling unit
Appliance store 1 space for each 400 square feet of gross floor area
Auditorium, stadium assembly hall, gymnasium, theater, community recreation center (a)1 space per 3 fixed seats in largest assembly room or area, or
(b) 1 space for each 40 square feet of floor area available for the accommodation of movable seats in the largest assembly room, or combination of fixed and moveable sets; or
(c) 1 space per each 150 square feet of gross floor area; whichever is greatest
Automobile service stations 1 space (in addition to service area) for each pump and grease rack and 1 space for each 2 employees during period of greatest employment but not less than 4 spaces
Automobile parts and accessories 1 space for each 400 square feet of gross floor area
Automobile sales and repair, service stations and auto washeterias Same as Automobile service stations above plus 1 space for each 500 square feet of gross floor area of the shop or washeteria
Automotive repair services and garages 1 space for each 400 square feet of retail area plus 2 spaces for each service bay
Bowling alley 4 spaces per alley plus requirements for any other use associated with the establishment such as a restaurant, etc.
Club or lodge 1 space for each 2 employees plus 1 space for each 200 square feet of gross floor area within the main assembly area plus additional spaces for other uses permitted within the premises
Church 1 space per 4 seats in main place of assembly
Combined uses Parking spaces shall be the total of the spaces required for each separate use established by this schedule
Dance school 1 space for each employee plus 1 space per 150 square feet of gross floor area plus safe and convenient loading and unloading of students
Duplex dwelling unit 1 unpaved space per each unit; residential driveways will satisfy this need
Financial institution 1 space for each 250 square feet of gross floor area and 2 waiting spaces for each drive-through window
Furniture store 1 space for each 400 square feet of gross floor area
Grocery store (including small convenience type food store) 1 space for every two hundred fifty square feet of gross floor area
Group home See "Nursing home"
High schools, schools 1 space for each teacher, employee and administrative personnel plus safe and convenient loading of students plus 5 spaces for each classroom
Hospital 1 space for each bed plus 1 space for each employee (nurse, attendant, etc.) per shift plus 1 space for each staff or visiting doctor
Hotel 1 space for each guest room suite or unit plus 1 space for each 2 employees
Indoor and outdoor recreational areas (commercial) (a)1 space for each 150 square feet of gross floor, building, ground area or combination devoted to such use; or
(b)1 space per each 4 seats or facilities available for patron use, whichever is greater
Industrial or manufacturing establishment of warehouse 2 spaces for each 3 employees on shift of greatest employment, plus 1 space for each vehicle used directly in the conduct of the business
Kindergarten, nursery schools and day care 1 space for each employee plus safe and convenient loading of children
Motel 1 space for each unit plus 1 space for each 2 employees
Nursing home 1 space for each 2 beds plus 1 space for each employee on shift of greatest employment
Office, professional building or similar use 1 space for each 350 square feet of the gross floor area or 1 space for each 2 employees, whichever is greater
Personal service establishment 1 space for every 350 square feet of the gross floor area, or 1 space for each 2 employees, whichever is greater
Repair shop 1 space for every 300 square feet of gross floor area plus 1 space for each employee
Restaurant or place dispensing food, drink or refreshments to be consumed on the premises 1 space for each 100 square feet of gross floor area with a minimum of 10 parking spaces
Restaurant or place dispensing food, drink or refreshments for carry out only (and having outdoor seating area) 1 space for each 150 square feet of gross floor area (with a minimum of 10 spaces for this); plus 1 additional space for each 3 outdoor seats provided
Restaurant or place dispensing food, drink or refreshments for carry out (no seating provided) 1 space for each 150 square feet of gross floor area; with a minimum of 10 parking spaces
Restaurant or place dispensing food, drink or refreshments to be consumed on the premises and also having a drive-through service 1 space for each 100 square feet of gross floor area; with a minimum of 10 parking spaces and providing an adequate lane for through traffic which will not obstruct the required parking and driveway for the restaurant
Retail stores 1 space for each 200 square feet of gross floor area
Schools, elementary 1 space for each teacher, 1 space for each 2 employees and administrative personnel and 1 for each classroom, plus safe and convenient loading and unloading of students
Senior citizen homes 1 space for each 2 beds, plus 1 space for each employee on shift of greatest employment
Shopping enter (if over 35,000 square feet of gross floor area) 1 space for every 350 feet of gross floor area
Shopping center (if 35,000 square feet or less of gross floor area) 1 space for every 350 square feet of gross floor area
Swimming pool 1 space for each 200 square feet of water surface area plus requirements for additional uses in association with the establishment such as a restaurant, etc.
Trailer park 1 space for each trailer stall plus 1 space for each 2 employees
  (Ord. No. 548, § 22.12, 1-8-01)
Sec. 22-378. - Off-street loading requirements.
On the same premises with every building, structure or part thereof, erected and occupied for manufacturing, storage, warehouse, truck freight terminal, goods display, department store, wholesale store, market, hotel, hospital, mortuary, laundry, dry cleaning or other uses similarly involving the receipt of distribution of vehicles, materials or merchandise, there shall be provided and maintained on the lot of adequate space for standing, loading and unloading services in order to avoid undue interference with public use of the streets and alleys.
Such loading and unloading space, unless otherwise adequately provided for, shall be an area ten (10) feet by fifty (50) feet, with fifteen-foot high clearance, and shall be provided according to the following schedule:
EXPAND
0 — 10,000 None
10,000 — 100,000 1 space for the first 10,001 square feet plus 1 additional space for each additional 40,000 square feet in excess of the 100,001 square feet
Over 500,000 7 spaces for the first 500,001 square feet plus 1 space for each additional 100,000 square feet in excess of 500,001 square feet
  (Ord. No. 548, § 22.13, 1-8-01)
Sec. 22-379. - Minimum number of loading spaces required.
Industrial, wholesale and rental operations shall provide space as follows:
(1)
Off-street loading spaces shall be provided as appropriate to the functions and scope of operation of individual or groups of buildings and uses.
(2)
Off-street loading spaces shall be designed and constructed so that all maneuvering to park and unpark within the property lines of the premises. Loading spaces shall be provided so as not to interfere with the free, normal movement of vehicles and pedestrians on public right-of-way.
(Ord. No. 548, § 22.14, 1-8-01)
Sec. 22-380. - Americans With Disabilities Act (ADA) general parking standards.
(1)
The city encourages the placement of handicap parking spaces at each off-street parking lot and at selected on-street parking locations. Any business shall install the appropriate sign(s) and painted spaces.
(2)
Each parking space reserved for the disabled shall be painted and have a sign as per the requirements set out in the "Manual on Uniform Traffic Control Devices."
(3)
For all buildings considered "public", at least one (1) accessible walk having no steps or abrupt changes in level, and complying with all criteria specified within this ordinance, shall be provided from the parking spaces for disabled people into each accessible primary building entrance. Accessible walks shall also be provided between buildings on a common site. Doors swinging onto or away from walks shall have level areas. Walk surfaces shall be stable, firm, and of sufficient texture to resist slippage.
(Ord. No. 548, § 22.15, 1-8-01)
Sec. 22-381. - Parking spaces and passenger loading zones for disabled persons.
(1)
A safe place, located either on or off the street, shall be designated for handicapped passengers to get into and out of cars. It shall be:
(a)
As near as possible to the building entrance provided for the handicapped.
(b)
Zoned to prohibit parking.
(c)
Provided with a ramp to the sidewalk level, if located at a curbside.
PARKING SPACES AND PASSENGER LOADING ZONES FOR HANDICAPPED
EXPAND
Total Spaces or Zones Required Number to be
Reserved for
Handicapped
Up to 25 1
26 to 50 2
51 to 75 3
76 to 100 4
101 to 150 5
151 to 200 6
201 to 300 7
301 to 400 8
401 to 500 9
501 to 1,000 2% of total
Over 1,000 20 plus 1 for each 100 over 1,000
  (Ord. No. 548, § 22.16, 1-8-01)
Sec. 22-382. - Disabled parking for places of assembly.
Disabled parking for places of assembly [shall be as follows:]
EXPAND
Total Spaces Required Number to be
Handicapped
0 to 500 3
501 to 750 5
751 to 1,000 8 plus 2 for each 500 over 1,000
  Spaces shall be:
(1)
As near as possible to the building entrance provided for the handicapped with a maximum travel distance of two hundred (200) feet.
(2)
Identified (wheelchair symbol) and controlled for use by individuals with physical disabilities.
(3)
A minimum of nine (9) feet in width, with a four (4) foot wide pedestrian access aisle on one (1) side of the space.
(4)
Spaces shall be substantially level (⅛ inch per foot slope for drainage), suitable for wheeling and walking, and accessible to the building by a clear, level or ramped path of travel.
(Note: Spaces parallel to a curb (four (4) inches high maximum) on the building side of the parking area are desirable. If perpendicular parking is necessary, four (4) foot wide access aisles between every other bay will be required.)
(Ord. No. 548, § 22.17, 1-8-01)
Secs. 22-383—22-390. - Reserved.
