ARTICLE IV. - ADMINISTRATIVE SUBDIVISION FILING AND PLATTING REQUIREMENTS, REVIEW PROCEDURES

4-1. - Filing.
Where an administrative subdivision is proposed, the owner or his agent shall file with the Board of Commissioners or its designee an application for plat approval.
4-1[(a)]. - Monuments.
The owner shall provide and set a minimum of ⅝ inches rebar with a minimum of 18 inches long, and identifiable cap stamped with the land surveyor's registration number. The top of each monument shall be set at each street corner and lot corner and at all points where the street lines intersect the exterior boundary of the subdivision, at points of curvature in each street and at every exterior corner or point of curvature of the exterior boundary, except where such corners lie within a stream meander, in which case reference monuments shall be placed on the bank of the stream. The top of the monument shall be marked in such a manner that will be properly and accurately identify the location. In situations where an 18 inches rebar cannot be set, at the terminus point of a line, alternative monumentation may be placed using professional judgment.
4-2. - Fees.
At the time of filing, the applicant shall pay a fee in accordance with Grady County requirements.
4-3. - Application requirements.
The application shall contain the following:
a.
The name, address, and phone number of the owner, or agent and a declaration of ownership.
b.
A clean, reproducible original and five (5) copies.
4-4. - Plat requirements.
An administrative subdivision plat shall contain the following:
a.
Point of Commencement, point of beginning including all dimensions, angles, bearings, and similar data necessary for proper location.
b.
Tract boundary lines; right-of-way lines of roads, streets, easements and other rights-of-way; and property lines with accurate dimensions, bearings or deflection angles, with curves noted by arc length, radii, chord bearing and distance of all curves.
c.
Names of each street, road or other right-of-way.
d.
Location, dimensions and purpose of any easements.
e.
Number to identify each lot.
f.
Minimum building setback line of thirty-five (35) feet on all lots measured from the right-of-way. (See also flag lots [Section] 3-6 [of this Appendix].)
g.
Location and description of all monuments.
h.
Names of owners with deed book and page number of adjoining land and reference to recorded subdivision plats of adjoining platted land by recorded names, date, and number.
i.
Certification by registered surveyor stating the accuracy of survey and plat.
j.
Numerical scale, graphic scale, north arrow, date, total acreage of original parcel and the acreage of each lot after subdivision, and remaining acreage.
k.
A vicinity map, shown either as an insert or on a separate sheet, at a scale of not less than one (1) inch equals one (1) mile showing the location of the proposed subdivision.
l.
A statement shall be entered directly on the plat noting any private covenant or deed restrictions.
m.
Declaration of land ownership. (See [Section] 6-7 [of this Appendix], item k.)
n.
Lot Frontage/Access a minimum of thirty (30) foot frontage on a public street.
o.
Lot size. (See [Section] 3-9 [of this Appendix].)
p.
Lot width. (See [Section] 3-10 [of this Appendix].)
q.
Monumentation. (See [Section] 4-1A [of this Appendix].)
4-5. - Review and approvals.
The review and approval of administrative subdivisions shall be conducted as follows:
a.
Copies of the application, plats and private covenants shall be distributed to the Grady County Health Department, and the Grady County Code Enforcement Officer, and the County Road Superintendent or their designees for their review and recommendation.
b.
The reviewing agents designated herein shall complete a review within ten (10) workdays from receipt of the application, covenants and plats and recommend approval or disapproval.
c.
If one (1) or more of the reviewing agents shall recommend disapproval, the plat and application shall be deemed disapproved and shall be returned with comments to the owner/agent.
d.
If one or more of the reviewing agents shall fail to complete review within ten (10) workdays, the owner/agent may demand the return of his application, covenants and plats and may submit directly to the Grady County board of Commissioners for review and approval or disapproval.
e.
Upon the recommendation to approve by the Grady County Environmental Health Specialist, the County Code Enforcement Director and the County Road Superintendent or their designees, the plat shall be deemed approved and shall be signed by the Executive Secretary of the Planning Commission and the County Environmental Health Specialist. If disapproved, the application, covenants and plats shall be returned to the owner/agent with comments.
4-6. - Certificate of approval.
Upon plat approval the Executive Secretary of the Planning Commission and the Environmental Health Specialist shall sign the following inscription inscribed on the plat by the applicant. The review and approval of administrative subdivisions shall be conducted as follows:
ADMINISTRATIVE SUBDIVISION PLAT
Pursuant to the Land Development Regulations of Grady County, Georgia, all requirements of approval having been fulfilled, this plat is approved by the Grady County Code Enforcement Director.
EXPAND
_____
Date _____
Executive Secretary, Planning Commission
  4-7. - Certificate of approval, Grady County health department.
modified
GRADY COUNTY HEALTH DEPARTMENT
Lots are approved to meet the minimum lot sizing requirements. Additional soil investigations will be required for the approval for on-site septic systems. Contact Grady County Environmental Health Office regarding Well and Septic installation permits.
________
DATE
___________
Environmental Health Specialist
(Ord. of 8-3-2022)
