ARTICLE V. - MINOR SUBDIVISION FILING AND PLATTING REQUIREMENTS, REVIEW PROCEDURES

5-1. - General.
The owner or his authorized agent shall provide public improvements as required be these regulations and by applicable county specifications and requirements, however, nothing herein shall prohibit the County, at its option and in the best interest of the County, from participating in the provision of public improvements in accordance with applicable county policy and codes.
5-2. - Pre-development review.
The property owner or agent shall schedule a pre-development review with the Code Enforcement Office to discuss the project and obtain advice on pertinent regulations.
5-3. - Filing.
Where a minor subdivision is proposed, the owner or his agent shall file (15 working days prior to Planning Commission meeting) with the Code Enforcement Director or its designee the proposed plat and application for plat approval.
5-4. - Monuments.
The owner shall provide and set a minimum of ⅝ inches rebar with a minimum of 18 inches long, and identifiable cap stamped with the land surveyor's registration number. The top of each monument shall be set at each street corner and lot corner and at all points where the street lines intersect the exterior boundary of the subdivision, at points of curvature in each street and at every exterior corner or point of curvature of the exterior boundary, except where such comers lie within a stream meander, in which case reference monuments shall be placed on the bank of the stream. The top of the monument shall be marked in such a manner that will be properly and accurately identify the location. In situations where an 18 inches rebar cannot be set, at the terminus point of a line, alternative monumentation may be placed using professional judgment.
5-5. - Fees.
At the time of filing, the applicant shall pay a fee in accordance with County requirements.
5-6. - Application requirements.
The application shall contain the following:
a.
The name, address, and phone number of the owner and a declaration of ownership.
b.
The name of the subdivision or identifying title.
c.
A certified copy of all private covenants or deed restrictions, if any, pertaining to land within the subdivision.
d.
A clean, reproducible original and nine (9) copies size 18 inches by 24 inches.
e.
If the proposed water/sewage system for a subdivision requires the approval of the Georgia Department of Human Resources and/or the Georgia Department of Natural Resources, the approval shall be obtained prior to making application for approval of the final plat. The approval shall be in writing to the Planning Commission.
5-7. - Plat requirements.
The lot split or informal subdivision plat shall contain the following:
a.
The name of the subdivision or identifying title and total acres.
b.
Point of Commencement, point of beginning including all dimensions, angles, bearings, and similar data necessary for proper location.
c.
Tract boundary lines, right-of-way lines of roads, streets, easements and other rights-of-way; and property lines with accurate dimensions, bearings or deflection angles, with curves noted by arc length, radii, chord bearing and distance of all curves.
d.
Names of each street, road or other right-of-way.
e.
Location, dimensions and purpose of any easements.
f.
Number to identify each lot. (Lots shall be numbered consecutively throughout the entire subdivision.)
g.
Minimum building setback line of thirty-five (35) feet on all lots measured from the right-of-way. (See also flag lots. [Section] 3-6 [of this Appendix].)
h.
Location and description of all monuments.
i.
Names of owners with deed book and page number of adjoining land and reference to recorded subdivision plats of adjoining platted land by recorded names, date, and number.
j.
Certification by registered surveyor to accuracy of survey and plat.
k.
Numerical scale, graphic scale, north arrow, date, total acreage of original parcel and the acreage of each lot after subdivision and remaining acreage.
l.
A vicinity map, shown either as an insert or on a separate sheet, at a scale of not less than one (1) inch equals one (1) mile showing the location of the proposed subdivision.
m.
If required, a land disturbing permit and an approved Soil Erosion and Sedimentation plan as required by the Georgia Soil Erosion and Sedimentation Act must be submitted prior to plat approval.
n.
Identification of Flood Hazard Boundary areas, community ID number, panel number and zone designation.
o.
Topographic map, soil characteristic map, and erosion control map shall be superimposed on a separate plan with lot lines and lot numbers shown.
Topographic maps of all land subdivided, with scale and contour interval as required by the County Health Department. All elevations shall be based on sea level datum.
Soil characteristics map, including soil types and capabilities, frequency and evaluations of season high ground water tables, occurrence of rock, and other impervious strata where the subdivision is not to be served by a public or community sewerage system.
p.
A statement shall be entered on the plat either noting any private covenants or deed restrictions.
q.
Location of all water supplies on or off the subdivision which will bear upon the location of the on-site sewage management systems.
r.
Lot Frontage/Access a minimum of thirty (30) foot frontage on a public street.
s.
Lot size. (See [Section] 3-9 [of this Appendix].)
t.
Lot width. (See [Section] 3-10 [of this Appendix].)
5-8. - Review and approvals.
The review and approval of minor subdivisions shall be conducted as follows:
a.
Copies of the plats (18 inches by 24 inches) shall be distributed to the Grady County Health Department, the Grady County Road Superintendent, and the Grady County Code Enforcement Director or their designees for their review and recommendation. All plat requirements in section 5-7 [of this Appendix] shall be completed before an application for plat approval shall be received.
b.
With the recommendation to approve by the County Health Department, the County Road Superintendent, and the County Code Enforcement Director, the proposed plat shall be presented to the Planning Commission for its review.
c.
The Planning Commission shall approve or disapprove the proposed plat within thirty (30) days after the date of the scheduled regular Planning Commission meeting following submission of the plat. If after thirty (30) days the Planning Commission has failed to act, the minor subdivision plat shall be deemed approved and on demand the plat shall be signed by the Chairman of the Planning Commission, provided the owner or his agent may waive in writing this requirement and consent to an extension of such period. If the Planning Commission disapproves the plat, the reasons shall be stated in writing and the owner or his designated agent shall be so advised.
5-9. - Planning commission certificate.
Upon approval the Chairman of the Planning Commission shall cause the following inscription to be affixed to the plat:
MINOR SUBDIVISION PLAT APPROVAL
Pursuant to the Land Development Regulations Grady County, Georgia, all requirements of approval having been fulfilled, this plat was approved by the Grady County Planning Commission on ________.
________
Date
EXPAND
_____
Chairman, Grady County Planning Commission _____
Date
