ARTICLE 5. - GENERAL DIMENSIONAL REQUIREMENTS[3]

Footnotes:
--- (3) ---
Editor's note— Ord. No. 348-16 , § 1 (Exh. A), adopted July 19, 2018, repealed former Art. 5, §§ 5.1—5.13, and enacted a new Art. 5 as set out herein. Former Art. 5 pertained to similar subject matter.

Sec. 5.1. - Every Use Must Be Upon a Lot of Record.
No building or structure shall be erected, or any use established unless it is upon a lot of record as defined by this zoning ordinance unless it is specifically provided otherwise in this zoning ordinance.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.2. - One Dwelling on a Lot.
Only one single-family dwelling and its accessory buildings may hereafter be erected on any one lot intended for such use, unless otherwise specifically provided. This provision shall not be construed to prevent the construction of more than one detached single-family condominium, multiple-family dwelling, office, institutional, commercial or industrial building upon a single lot, in zoning districts where permitted, subject to setbacks and separation as provided in this zoning ordinance.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.3. - Height Limitations.
(a)
Except as otherwise specifically provided in this section, no building or structure shall hereafter be erected, constructed, reconstructed, or altered, to exceed the maximum height of buildings and structures or the number of stories specified in this zoning ordinance.
(b)
The height limitations established herein shall not apply to chimneys, smokestacks, church spires and steeples, domes, flag poles, public monuments, observation towers, water towers, non-commercial radio and television towers, electricity transmission towers, utility poles, and similar structures.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.4. - Maximum Density, Minimum Lot Size, and Minimum Lot Width.
(a)
No lot shall hereafter be developed with a number of housing units that exceeds the residential density per unit of land (e.g., acres) for the zoning district in which the lot is located as established by this zoning ordinance.
(b)
No lot shall hereafter be platted, established, or developed that fails to meet the minimum lot size and minimum lot width for the zoning district in which the lot is located as established by this zoning ordinance, except as otherwise specifically provided including the case of nonconforming lots as defined and regulated herein.
(c)
No lot shall be reduced in size, and no principal building shall hereafter be constructed, so that the maximum density, minimum lot size, or minimum lot width of the zoning district, as the case may be, in which said lot and building are located are not maintained, except as otherwise specifically provided in this zoning ordinance.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.5. - Minimum Required Yards and Building Lines.
(a)
Yards Observed. No building or structure shall hereafter be erected in a manner to have narrower or smaller front yards, side yards, or rear yards than specified for the zoning district in which the property is located, or for the specific use if yards and setback regulations pertain to a specific use as provided in this zoning ordinance. The buffer requirements established by this zoning ordinance may supersede these minimum required yards.
(b)
Reductions Prohibited. No lot shall be reduced in size, and no principal building shall hereafter be constructed, so that the front, side, or rear yards of the zoning district in which said lot and building are located are not maintained. This section shall not apply to portions of lots affected by public acquisition of part of the lot. No part of a yard shall be included as a part of the yard required for another building.
(c)
Build-to Lines. In the case where a build-to line is established by or pursuant to this zoning ordinance, no building shall be erected in a manner to have a different building setback or yard that fails to observe said build-to line regulation.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.6. - Principal Building Separation.
(a)
On lots where more than one principal residential building is permitted, the building separation between principal residential buildings shall be a minimum of ten (10) feet.
(b)
Individual dwelling units within attached single-family fee simple dwellings (townhouses, which are zero lot line on one or both sides) shall be exempt from this requirement, although this provision shall apply to townhouse buildings.
(c)
All non-residential principal buildings shall provide for adequate building separation to allow for sufficient fire access and traffic flow and that meet applicable building code requirements.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.7. - Maximum Building Coverage.
No lot shall hereafter be developed to exceed the maximum building coverage specified for the zoning district in which it is located.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.8. - Maximum Impervious Surface Coverage.
Maximum impervious surface shall not exceed the percentage mandated by the zoning classification. Impervious surface calculation shall not include the primary or accessory structures located on the property.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.9. - Minimum Landscaping or Open Space.
(a)
No lot shall hereafter be developed, and no building or structure shall hereafter be erected or altered in a manner to have less than the minimum percentage of landscaping or open space than specified for the zoning district (or if applicable and controlling, by the overlay zone) in which the property is located, or for the specific use if a minimum percentage of landscaping or open space for the specific use is required by this Ordinance, except as otherwise specifically provided in this Ordinance.
(b)
No lot shall hereafter be developed, and no building or structure shall hereafter be erected or altered in a manner that reduces the minimum required landscaping or open space specified for the zoning district (or if applicable and controlling, by the overlay zone) in which the property is located, or for the specific use if a minimum landscaping or open space for the specific use is required by this Ordinance, except as otherwise specifically provided in this Ordinance.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.10. - Minimum Required Landscape Strips and Buffers.
(a)
No lot shall hereafter be developed, and no building or structure shall hereafter be erected or use established unless it meets the minimum landscape strips and buffers required by this zoning ordinance for the zoning district in which said building, structure, or use is located, or for the specific use if buffer and landscape strip requirements are established for said use in this zoning ordinance.
(b)
No lot shall hereafter be developed, and no building, structure, or improvement shall hereafter be erected, installed or altered in a manner that reduces the minimum required width of a landscape strip or buffer specified for the zoning district (or if applicable and controlling, by the overlay zone) in which the property is located, or for the specific use if a landscape strip or buffer for the specific use is required by this Ordinance, except as otherwise specifically provided in this Ordinance.
(c)
No part of a required landscape strip or buffer shall be included as a part of the buffer required for another lot, building, or use.
(d)
Buffer and landscape strip requirements, if larger than minimum required yards, supersede minimum required yards established by this zoning ordinance.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.11. - Street Frontage Requirement.
(a)
No building or structure shall hereafter be erected on a lot, and no lot shall hereafter be created or subdivided, that does not abut for at least thirty (30) feet on a public street, or an approved private street, unless specifically provided otherwise by this zoning ordinance, and in the case of fee-simple lots for attached residential dwelling units (i.e. townhouses), which may be platted to lot widths and with street frontages specified for such uses in this Ordinance.
(b)
The street frontage requirements of this Ordinance shall not prevent a building, structure, or activity from being accessed through an access easement, so long as the lot on which it is located meets the minimum required street frontage and provided further that the access easement is located in a zoning district that permits the use accessing the easement.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
Sec. 5.12. - Acquisition for Public Purpose.
When a portion of a lot is acquired for a public purpose and such acquisition renders the lot with less than the required lot area, lot width, or not in compliance with other dimensional requirements of this zoning ordinance, or where such remaining lot has an existing building or structure that does not meet required building setbacks or other dimensional requirements of this zoning ordinance, the provisions of this zoning ordinance shall not be construed to prevent the development of the lot in accordance with requirements for nonconforming lots established in this zoning ordinance, nor shall it be construed to prevent the continuation of the existing building or structure that otherwise conforms to the requirements of this zoning ordinance.
( Ord. No. 348-16, § 1 (Exh. A), 7-19-2018 )
