4605 - Requirements for outdoor operations.
4605.1 Tire storage yards.
Existing tire storage yards shall be provided with fire apparatus access roads in accordance with Sections 4605.1.1 and 4605.1.2
(Ord. 2010-0060 § 138, 2010.)
4605.1.1 Access to piles.
Access roadways shall be within 150 feet (45 720 mm) of any point in the storage yard where storage piles are located, at least 20 feet (6096 mm) from any storage pile.
(Ord. 2010-0060 § 138, 2010.)
4605.1.2 Location within piles.
Fire apparatus access roads shall be located within all pile clearances identified in Section 2505.4 and within all fire breaks required in Section 2505.5.
(Ord. 2010-0060 § 138, 2010.)
4801.3 Definitions.
. . .
COMMERCIAL STILL PHOTOGRAPHY PRODUCTION includes all activity attendant to the staging or shooting of commercial still photography production to create single or multiple photographs for sale or use for a commercial purpose.
. . .
(Ord. 2010-0060 § 141, 2010.)
4803.2 Additional permits.
A permit shall be required for:
1.
Use of pyrotechnic special effects
2.
Open flames
3.
Flammable or combustible liquids, gases, and dust
4.
Hot work
5.
Presence of motor vehicles within a building
6.
Any additional permits, including motion picture, commercial, and television productions, as required by the fire code official as determined in Section 105.6 of this code.
(Ord. 2010-0060 § 142, 2010.)
4803.4 Permit fees.
Permit fees for permits required by Section 4803.2 and Section 105.6 shall be collected for the issuance of the following permits:
1.
Motion picture, television, commercial, and related productions filming. The permit fee shall be two hundred eighty-two dollars ($282.00).
2.
Motion picture, television, commercial, and related production filming - Fuel-dispensing trucks and vehicles. The annual permit fee shall be two hundred twenty three dollars ($223.00) .
3.
Motion picture, television, commercials, and related production filming - Pyrotechnics and special effects. The permit fee shall be two hundred eighty-eight dollars ($288).
4.
Commercial still photography production outside of an approved production facility and where the on-site cast and crew numbers fifteen (15) or more persons. The permit fee shall be two hundred seventy seven dollars ($277).
(Ord. 2010-0060 § 143, 2010.)
4807.1.1 Fire safety officers/advisors.
When in the opinion of the fire code official, it is necessary for the preservation of life or property, due to the hazardous nature of an event, production, operation, or function, the fire official shall require the owner or lessee to employ or cause the employment of one or more approved fire safety officers or advisors to be on duty at such place during the hazardous activity.
(Ord. 2010-0060 § 139, 2010; Ord. 2007-0112 § 143, 2007.)
4811.9 Fire department access.
Required emergency vehicle access shall be maintained as per Section 503. Any deviations are subject to approval by the fire code official.
(Ord. 2010-0060 § 140, 2010.)
4902.1 General.
For the purpose of this chapter, certain terms are defined as follows:
. . .
FIRE PROTECTION PLAN is a document prepared for a specific project or development proposed for a Wildland-Urban Interface Fire Area. It describes ways to minimize and mitigate potential for loss from wildfire exposure.
The Fire Protection Plan shall be in accordance with this Chapter. When required by the fire code official for the purposes of granting modifications, a fire protection plan shall be submitted.
. . .
FUEL MODIFICATION PLAN. A fuel modification plan shall consist of a set of scaled plans that includes a plot plan showing fuel modification zones indicated with applicable assessment notes, a detailed landscape plan, and an irrigation plan. A fuel modification plan submitted for approval shall be prepared by a state licensed landscape architect, state licensed landscape contractor, a landscape designer, or an individual with expertise acceptable to the forestry division of the fire department.
. . .
FIRE HAZARD SEVERITY ZONES are geographical areas designated pursuant to California Public Resources Codes sections 4201 through 4204 and classified as Very High, High, or Moderate in State Responsibility Areas or as Local Agency Very High Fire Hazard Severity Zones designated pursuant to California Government Code sections 51175 through 51189. See Appendix M for the designations within the County of Los Angeles.
The California Code of Regulations, Title 14, Section 1280 entitles the maps of these geographical areas as "Maps of the Fire Hazard Severity Zones in the State Responsibility Area of California.
WILDLAND-URBAN INTERFACE FIRE AREA is a geographical area identified by the state as a "Fire Hazard Severity Zone" in accordance with the Public Resources Code sections 4201 through 4204 and Government Code sections 51175 through 51189, or other areas designated by the Los Angeles County Fire Department to be at a significant risk from wildfires. See article 86B for the applicable reference sections of the Government Code and the Public Resources Code.
(Ord. 2010-0060 § 144, 2010.)
4905.2 Construction methods and requirements within established limits.
Within the limits established by law, construction methods intended to mitigate wildfire exposure shall comply with the wildfire protection building construction requirements contained in the Los Angeles County Building Code including the following:
1.
Los Angeles County Building Code Chapter 7A
2.
Los Angeles County Residential Code Section R327
3.
California Building Standards Code, Reference Standards Code Chapter 12-7A 4. and this chapter.
(Ord. 2010-0060 § 145, 2010.)
4907.1 General.
Defensible space will be maintained around all buildings and structures in State Responsibility Area (SRA) as required in Public Resources Code 4290 and "SRA Fire Safe Regulations" California Code of Regulations, Title 14, Division 1.5, Chapter 7, Subchapter 2, Section 1270.
Buildings and structures within the Very High Fire Hazard Severity Zones of a Local Responsibility Areas (LRA) shall maintain defensible space as outlined in Government Code 51175 - 51189, Chapter 3 of this code and any local ordinance of the authority having jurisdiction.
(Ord. 2010-0060 § 146, 2010.)
