ARTICLE VII. - GENERAL DESIGN AND OTHER REQUIREMENTS

Sec. 26-186. - Suitability of the land.
Land subject to flooding, improper drainage, or erosion or that is for topographical or other reasons unsuitable for residential or commercial use shall not be platted for residential use nor for any other use that will continue to increase the danger to health, safety, or property destruction, unless the hazards can be and are corrected. An engineered site plan may be required for every lot within the area in question. (See chapter 16, article II.)
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 600, 7-16-2009)
Sec. 26-187. - Name of subdivision.
The name of the subdivision must have approval of the planning department. The name shall not duplicate or closely approximate the name of an existing subdivision.
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 601, 7-16-2009)
Sec. 26-188. - Access.
Access to every subdivision shall be provided over a county road or public street, except as provided elsewhere in this chapter.
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 602, 7-16-2009)
Sec. 26-189. - Conformance to adopted county plans.
(a)
When features of the county comprehensive plan and other plans adopted by the planning commission or the such as schools or public building sites, parks or other land for public uses are located in whole or in part in a land subdivision, such features shall be either dedicated or reserved by the subdivider for acceptance or acquisition within a reasonable time by the appropriate public agency.
(b)
Whenever a plat proposes the dedication of land to public use that the planning commission or the planning department finds not required or suitable for such public use, the planning commission or the planning department shall refuse to approve the plat and shall notify the governing body of the reasons for such action.
(Res. No. 2009-50, § 603, 7-16-2009)
Sec. 26-190. - Large scale developments and developments of regional impact.
(a)
A comprehensive group development including large scale construction of housing units together with necessary drives and ways of access may be approved by the planning commission although the design of the project does not include standard streets, lot, and subdivision arrangements, if departure from the regulations and standards can be made without destroying its intent, and if substantial evidence can be provided demonstrating the acceptable performance of the nonconformance.
(b)
Large scale developments may also meet or exceed the thresholds of the development of regional impact, as identified in the Georgia Planning Act, O.C.G.A. § 36-70-1 et seq., which will require a review by the Georgia Mountains Regional Commission presented to the planning commission prior to any action being taken.
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 604, 7-16-2009)
Sec. 26-191. - Easements.
(a)
Utility easements, if required shall be a minimum width of 12 feet and located along the side or rear lot lines. Access easements to wells and detention ponds shall be a minimum of 20 feet wide with a grade of 20 percent or less or approved by the planning director and allow access to the well/pond by county vehicles.
(b)
Where a subdivision is traversed by a watercourse, drainageway, channel or stream, there shall be provided a stormwater or drainage right-of-way easement of adequate width, but not less than ten feet
(c)
Ingress/egress easements must be of a minimum width of 40 feet, and must be cleared a full 20 feet to provide easy access for emergency vehicles.
(d)
Easements may not be used to access businesses or commercial use properties, except a home business and businesses within a larger overall development, such as a shopping mall, incorporating several different business entities. These larger overall developments may be allowed to have an ingress/egress easement serving the overall development, provided there is direct access off a county road or state highway and pending approval by the planning commission.
(e)
An easement in existence prior to the adoption of the resolution from which this section is derived may remain as a nonconforming use, but may not be extended except in conformance with these regulations. However, any owner subdividing property on a nonconforming ingress/egress easement must, as a part of the property subdivision, provide a conforming easement over and through their property.
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 605, 7-16-2009)
Sec. 26-192. - Reservation of public sites and open space.
(a)
Where the features of the comprehensive plan such as school sites, parks, playgrounds, and other public spaces are located in whole or in part in a proposed subdivision, such features shall be reserved by the subdivider. Whenever land for such plan features is not required by dedication, it must be purchased, acquired, optioned, or condemned by the appropriate public agency within a two-year period from the date of recording the subdivision plat.
(b)
The planning commission or planning department shall not approve plats when such planned features, as specified by the comprehensive plan are not incorporated into the plat.
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 606, 7-16-2009)
Sec. 26-193. - Community assets.
In all subdivisions due regard shall be shown for all natural features such as large trees, and watercourses and for historical resources and similar community assets which, if preserved, will add attractiveness and value to the property or community. The planning commission may grant variances to specific requirements to save significant natural features.
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 607, 7-16-2009)
Sec. 26-194. - Responsibility for privately maintained roads.
(a)
The owner, agent, or seller of any subdivision where the roads or streets are to be private and not accepted by the county shall include the following statement on the instrument of transfer and the sales contract:
"Grantee herein recognizes that any and all means of ingress and egress which is provided by the grantor herein, or assigns, to the property hereby conveyed, are considered by the governing body of the county to be private ways not maintainable by said governing authority. Therefore the grantee herein hereby agrees that they will be responsible for their share of the upkeep and maintenance of said private way, holding completely harmless the governing body of the county of any necessity for such upkeep or maintenance."
(b)
Maintenance for private roads or ways may be designated as a responsibility of a property owners association (POA) of the subdivision. In doing so, this designation shall also be recorded on the deed of property.
(c)
Streets and roads which are to be privately maintained, may request from the planning commission a waiver from the requirements of curb and gutter. This waiver must be requested at the preliminary plat stage. If a request for any privately maintained road to be taken on by the county is made, then the said road must be brought up to all current county specifications in effect at the time the request is made for the county to accept the road.
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 608, 7-16-2009)
Sec. 26-195. - School bus service, mail/parcel delivery and fire service.
(a)
Privately maintained roads may not be acceptable or adequate for school bus service or for mail or parcel delivery service unless specifically approved by the county school superintendent, county postmaster and county fire chief respectively.
(b)
A statement to the effect that the roads are private and have not been accepted shall be placed where readily visible on the final plat or the instrument of transfer. It is the responsibility of the seller to notify all purchasers that the service is not available and that it is not the responsibility of the county to make provisions to make such service available.
(c)
It is the responsibility of the developer, POA and/or residents of a gated subdivision to ensure that copies of the keys or access codes are provided to each respective public safety or community service agency so they may have access in the event of emergency. This information must be furnished prior to securing the gate.
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, § 609, 7-16-2009)
Secs. 26-196—26-213. - Reserved.
