DIVISION 11. - MEDIUM AND HIGH DENSITY RESIDENTIAL ZONING DISTRICTS: DIMENSIONAL REQUIREMENTS

Sec. 46-334. - Medium and high density.
The medium and high density residential zoning districts allow cottage housing, attached, multifamily and mixed residential developments at the densities illustrated in table 2.3:
Table 2.3. Summary of Density Ranges for Medium and High Density Residential Zoning Districts
EXPAND
Zoning District Name Density (units/acre) Eligible Character Areas
Small Lot Residential Mix RSM 4-6 Suburban, Downtown, Medical area, Regional activity center, Commercial redevelopment corridor
Medium Density Residential-1 MR-1 8 Downtown, Medical area, Regional activity center, Commercial redevelopment corridor
Medium Density Residential-2 MR-2 12 Downtown, Medical area, Regional activity center, Commercial redevelopment corridor
High Density Residential-1 HR-1 24 Downtown, Medical area, Regional activity center
High Density Residential-2 HR-2 40 Downtown, Regional activity center
High Density Residential-3 HR-3 60 Regional activity center
  (Ord. No. 2016-06-07, att. (2.11.1), 7-11-2016; Ord. No. O2018-03-7, exh. A(2.11.1), 4-9-2018; Ord. No. 2018-12-40, 1-14-2019)
Sec. 46-335. - Dimensional requirements.
Dimensional requirements, including overall site requirements, individual lot dimensions, setbacks, and heights for medium and high density residential zoning districts, are provided in table 2.4, medium and high density residential zoning districts dimensional requirements. In addition, compatibility and transitional buffers as defined and required in article V of this chapter may apply.
Table 2.4. Medium and High Density Residential Zoning Districts Dimensional Requirements
EXPAND
Elements RSM MR-1 MR-2 HR-1 HR-2 and HR-3
Overall Site Requirements (minimum, unless otherwise specified)
Dwelling Units Per Acre**** 4-6 8 12 24 HR-2: 40
HR-3: 60
Open Space Required (minimum %)* 20% 20% 15% 15% 15%
Transitional Buffers (feet) See article V of this chapter
Lot Requirements (minimum, unless specified)
Single-Family Detached Conventional (SFD)**
Lot Area (square feet) 6,000/2,000
cottage 5,000/2,000
cottage 5,000/2,000
cottage Not Permitted Not Permitted
Lot Width, Street Frontage (feet) 60/20 cottage 50/20 cottage 50/20 cottage Not Permitted Not Permitted
Lot Coverage (maximum % per lot) 50 60 65 Not Permitted Not Permitted
Single-Family Attached (SFA/Townhomes)
Lot Area (square feet) 1,000 1,000 1,000 1,000 1,000
Unit Width (feet) 24 24 20 20 20
Lot Coverage (maximum % per lot or total parcel acreage) 70 80 85 85 85
Two/Three Family (TTF)
Lot Area (square feet) Not Permitted 4,000 4,000 Not Permitted Not Permitted
Lot Width (feet) Not Permitted 55 50 Not Permitted Not Permitted
Lot Coverage (maximum % per lot or total parcel acreage) Not Permitted 55% 55% Not Permitted Not Permitted
Multifamily (MF) and Mixed-Use (MU)
Lot Width, Street Frontage (feet) Not Permitted 100 100 100 100
Lot Coverage (maximum % of total parcel acreage) Not Permitted 65% 75% 85% 85%
Building Setbacks: SF and SFA/Townhomes for Individual Internal Lots; MF, SFA, MU for Overall Site****
Front Thoroughfares and Arterials (min. and max. feet) All: min. 20,
max. 30 SFD: min. 15,
max. 25
Other: 10-20 All: min. 10,
max 20 All: min. 10,
max 20 All: min. 10,
max. 20
Front—all other streets (min. feet) 20 0—Determined only by utility placement, ROW, and streets cape (article V of this chapter)
Front with alley access (min. feet) 10 SFD and TTF: 10;
SFA and MF: 5 SFD and TTF: 10;
SFA and MF: 5 5 5
Side—interior lot (feet)**** SFD and TTF: 6 feet; SFA: N/A; MF and MU: N/A
Side—corner lot on public street (feet) Same as front setback (see also article V of this chapter, Corner Lot)
Rear without alley (feet) SFD: 20;
SFA: 1 SFD: 20; SFA: 15; MF and MU: 20; MF: 20; CM/OF/MU: 15 (see also transitional buffers, article V of this chapter)
Rear with alley (feet) 10 10 10 10 10
Unit Size, Heated Living Area (square feet, minimum)
Single-Family Detached (SFD)—Conventional 1,200 1,200 1,000 Not Permitted Not Permitted
Single-Family Detached (SFD)—Cottage 800 800 800 Not Permitted Not Permitted
Single-Family Attached (SFA)*** 1,200 1,200 1,000 1,000 Not Permitted
Two/Three Family (TTF) N/A 1,000 1,000 1,000 Not Permitted
Multifamily (MF)*** Not Permitted for New Developments 650 650 650 650
Height (maximum and whichever is less when indicated as stories or feet)
Single-Family Detached (SFD) Except Res. Infill Overlays = 28 feet 35 feet 35 feet 35 feet Not Permitted Not Permitted
Single-Family Attached (SFA) 3 stories or 45 feet 3 stories or 45 feet 3 stories or 45 feet Not Permitted Tables 2.13 and 2.15
Two/Three Family (TTF) N/A 35 feet 3 stories or 45 feet Not Permitted Not Permitted
Multifamily (MF) N/A 4 stories or 60 feet Table 2.9 Tables 2.13 and 2.15 Tables 2.13 and 2.15
Mixed-Use (MU) N/A 4 stories or 60 feet Table 2.9 Table 2.11 Tables 2.13 and 2.15
  Key:
Housing types: SFD: Single-Family Detached, SFA: Single-Family Attached, TTF: Two/Three Family, MF: Multifamily, MU: Mixed-Use.
*Open space requirement shall apply to new subdivisions if project is >5 acres or ≥36 units (see chapter 22). See article V of this chapter for enhanced open space requirements.
**Where two numbers are indicated, the first number is the standard and the second number applies only to housing type that is indicated, e.g., cottage or townhome.
***See article V of this chapter for building separation and minimum multifamily unit size details
****Requires a special land use permit if requesting more than 24 multifamily dwellings per acre.
(Ord. No. 2016-06-07, att. (2.11.2), 7-11-2016; Ord. No. O2018-03-7, exh. A(2.11.2), 4-9-2018; Ord. No. 2018-12-40, 1-14-2019; Ord. No. O2020-03-07 , exh. A, 3-23-2020)
Secs. 46-336—46-358. - Reserved.
