ARTICLE IV. - GENERAL REQUIREMENTS

Sec. 34-77. - Suitability of the land.
(a)
Unsuitable land may not be developed. Land subject to flooding, improper drainage or erosion, and any land deemed to be unsuitable for development due to steep slope, unsuitable soils or subsurface conditions, etc., shall not be subjected to development for any uses as may continue such conditions or increase danger to health, safety, life, or property, unless steps are taken to eliminate or abate these conditions.
(b)
Unsuitable land must be included in buildable lots.
(1)
Land within a proposed subdivision or development which is unsuitable for development shall be incorporated into the buildable lots as excess land. Lots which do not comply with the requirements of the zoning resolution are prohibited.
(2)
Exceptions.
a.
Signage and landscape features. The creation of an unbuildable lot in a proposed subdivision for the exclusive purpose of subdivision identification signage or subdivision entrance landscape features is authorized only under the following circumstances (modification applications from the circumstances of this exception shall not be accepted):
1.
The lot shall be located at an entrance to the subdivision as an "island" in the right-of-way of a local or minor collector street;
2.
A mandatory homeowner's association shall be required for the subdivision for ownership and maintenance of the lot as common area;
3.
The lot shall meet the requirements of the zoning resolution or as may be approved by a zoning variance;
4.
Right-of-way of a minimum width of six feet from back of curb shall be provided adjacent to the perimeter of the lot; and
5.
Landscape plantings within the right-of-way shall not extend more than three feet above the street grade.
b.
Stormwater management facilities. The creation of an unbuildable lot for the exclusive purpose of providing and maintaining a stormwater management facility is authorized.
(Ord. No. 2013-01-02, art. 5, § 5.1, 1-29-2013)
Sec. 34-78. - Offers of land dedication.
Whenever a developer proposes the dedication of land to public use, and the director or the appropriate agency finds that such land is neither required nor is it suitable for public use, the director shall require the rearrangement of lots to include such land in private ownership.
(Ord. No. 2013-01-02, art. 5, § 5.2, 1-29-2013)
Sec. 34-79. - Zoning and other regulations.
(a)
Discrepancy between minimum standards; what applies. Whenever there is a discrepancy between minimum standards or dimensions required herein and those contained in zoning regulations, building codes, or other official regulations or resolutions, the most restrictive shall apply. In those instances where the required right-of-way width or roadway improvements for a specific project have been established as a condition of zoning approval, the requirements of the zoning condition shall control, whether more or less restrictive than the requirements of these regulations.
(b)
Building setback conformity. Building setback lines shall at least conform to the minimum yard requirements of the zoning resolution. Building setback lines along all public streets shall be no less than the front yard setback required on the property by the applicable zoning district in the zoning resolution.
(Ord. No. 2013-01-02, art. 5, § 5.3, 1-29-2013)
Sec. 34-80. - Required public improvements.
Every developer of lands within the jurisdiction of these regulations shall provide the project access improvements included in these regulations as shall be appropriate to serve the project, in accordance with these development regulations and other pertinent codes, ordinances, and regulations of the city. Said improvements and associated lands shall be provided at no cost to the city, and shall be dedicated or otherwise transferred, as required, to the public in perpetuity and without covenant or reservation, except as otherwise provided herein.
(Ord. No. 2013-01-02, art. 5, § 5.4, 1-29-2013)
Sec. 34-81. - Lots.
(a)
Lots to conform to the zoning resolution. Lots shall at least conform to requirements of the city zoning resolution.
(b)
Double frontage and reverse frontage lots required along major thoroughfares.
(1)
Double frontage and reverse frontage lots shall be required for residential subdivisions along major thoroughfares where internal access can be provided. A no-access easement of at least ten feet in width, across which there shall be no right of access, shall be provided along the line of lots abutting such a traffic artery. When located along a major thoroughfare, the no-access easement shall be planted and/or screened as required by the buffer, landscape, and tree ordinance.
(2)
In no-access easements along minor collectors or local streets, planting or other screening treatments shall be at the sole option of the developer.
(Ord. No. 2013-01-02, art. 5, § 5.5, 1-29-2013)
Sec. 34-82. - Survey monuments.
(a)
Lot corner monumentation. All corners shall be marked with an iron rebar or pin, at least one-half inch in diameter and 18 inches long and driven so as to extend no less than one inch above the finished grade.
(b)
Floodplain elevations. On subdivisions containing floodplains, flood elevation references shall be set in accordance with the requirements of the floodplain management ordinance.
(Ord. No. 2013-01-02, art. 5, § 5.6, 1-29-2013)
Sec. 34-83. - Standard drawings.
(a)
Department to maintain standard drawings on file. The department shall maintain on file for consultation and distribution a set of standard drawings illustrating details of construction and design of streets, stormwater drainage facilities, site improvements and other elements related to the development of land in accordance with these regulations and under the jurisdiction of the department.
(b)
Standard drawings to illustrate standards. The standard drawings shall illustrate minimum acceptable standards for land development activities authorized under these regulations, but shall not supersede more restrictive prudent design requirements or good engineering practices applied to specific situations on a case-by-case basis.
(c)
Standard drawings incorporated as part of development regulations. The standard drawings shall be treated as though they are a part of these regulations for application to the minimum standards for design and construction of improvements required herein and are subject to the modification and appeal provisions of article XII of this chapter.
(Ord. No. 2013-01-02, art. 5, § 5.7, 1-29-2013)
Sec. 34-84. - Buffers, landscaping, tree preservation and tree replacement.
(a)
General applicability. The standards and requirements contained in this section shall apply only to tree preservation and replacement, buffers, and landscape areas specifically required by this Code, ordinance or resolution, and shall not apply to general or voluntary landscaping or to open space otherwise voluntarily provided on a property.
(b)
General requirements. Any property required by the buffer, landscape, and tree ordinance, the zoning resolution or conditions of zoning special use or variance approval to provide a buffer or other specific landscaping shall do so in compliance with the standards included in the buffer, landscape, and tree ordinance and this section.
(1)
For any such property, a buffer and landscape plan shall be prepared by those individuals as required and authorized by the buffer, landscape, and tree ordinance, and shall be approved by the department prior to issuance of a development permit on the subject site.
(2)
At the discretion and option of the applicant, a required buffer and landscape plan and a required tree preservation/replacement plan may be combined into a single document, as long as the details and elements of the plans can be clearly and easily identified.
(3)
Buffer areas or portions of buffer areas where natural vegetation provides an adequate visual screen as required by the buffer, landscape, and tree ordinance, shall remain natural and undisturbed by any clearing, grading or other construction activity except as authorized by the development permit.
(4)
In buffer areas where natural vegetation is non-existent or inadequate to provide a visual screen, replanting or supplemental planting shall be required in accordance with the buffer, landscape, and tree ordinance. The department may also approve additional or alternative screening elements, such as planted earthen berms or solid fences where appropriate, to the intent of the requirements of the buffer, landscape, and tree ordinance.
(5)
New plantings in buffers shall be selected for natural survival expectancy for the city environment and for their ability to meet the screening standards established in the buffer, landscape, and tree ordinance.
(6)
Landscape areas or strips shall include trees and shrubs to the extent required by the buffer, landscape, and tree ordinance, the zoning resolution or conditions of zoning, special use or variance approval. Plant materials may be grouped or arranged so as to achieve aesthetic results following professional landscaping standards, provided sight distances as required by these regulations are preserved.
(7)
Tree plantings required by the buffer, landscape, and tree ordinance for parking lots may be grouped or arranged so as to achieve aesthetic results, or may be located in landscape islands within the parking lot.
(c)
Tree preservation and replacement requirements.
(1)
Any property required to preserve and protect existing trees or to plant replacement trees under the provisions of the buffer, landscape, and tree ordinance shall do so in compliance with said ordinance.
(2)
Areas set aside for the preservation of existing trees or the planting of new replacement trees, in fulfillment of any portion of the tree density standard of a property other than the property upon which the areas are located, shall be established within an easement drawn in favor of the other property, and appropriately recorded.
(d)
Landscape performance surety. In the event that the requirements of this section have not been met at the time that a certificate of development conformance otherwise can be approved by the department, and the certificate is requested, the director shall require a landscaping performance bond. The owner/developer or the contractor employed by the owner/developer shall post a landscaping performance bond or other city approved surety in an amount equal to 110 percent of the cost of materials, labor, and other attendant costs, incidental to the installation of the required landscaping as part of the owner's development performance and maintenance agreement with the city. The surety shall:
(1)
Be drawn in favor of the city.
(2)
Be in a form satisfactory to the city attorney.
(3)
Specify the time for the completion of the landscaping, which shall not be longer than three months following approval of the certificate of development conformance, or be in accordance with such other timetable for completion acceptable to the department.
(Ord. No. 2013-01-02, art. 5, § 5.8, 1-29-2013)
Sec. 34-85. - Recreation areas and open space.
(a)
Recreation areas. Land for use as project open space or recreation shall be provided in single-family detached subdivisions having a gross area of 50 acres or more and a minimum lot size less than one acre; in duplex subdivisions having a gross area of 50 acres or more; and in single-family attached, townhouse, Senior Oriented Residence Developments (R-SR), and multifamily developments having a gross area of ten acres or more.
(1)
For each development, six percent of the gross land areas shall be provided for the recreational use, but in no case shall the area required exceed six acres. Not over 60 percent of the area may be within the 100-year floodplain.
a.
If recreation facilities are not proposed to be constructed, the land so provided shall be contiguous or separated only by parking areas and private drives, and of suitable shape and condition for construction of at least one swimming pool and one regulation-size tennis court.
b.
If the developer constructs at least a swimming pool and tennis court, or other acceptable active recreation facilities, as part of the project, then the land so provided need not be a single contiguous parcel and the total set-aside area required by this subsection can be reduced to the amount actually required for the construction and maintenance of the facilities, but not less than 50 percent of the gross recreational set-aside requirements outlined herein.
(2)
In subdivisions, land provided for recreational use in accordance with subsection (a)(1)a of this section, and not proposed for improvement by the developer, shall be deeded to the city or to a qualified property owner's association upon the approval of the final plat containing said land and shall be used exclusively for recreational purposes. The qualified property owners association shall provide for the voluntary membership of all the owner's of property within the subdivision, and shall be established under the laws of the state; it shall be responsible for the perpetuation, maintenance and function of the recreation areas and all uses or facilities therein. The association shall have the authority and duty to assess its members for such maintenance and improvements as set forth in the instrument creating the association. All covenants shall be recorded simultaneously with the final subdivision plat.
(3)
If the developer constructs recreational facilities as approved under subsection (a)(1)b of this section, on the recreational land in a subdivision, the land area shall be deeded to a homeowner's association or other legal entity incorporated under the laws of the state. The land shall be deeded to said organization with a restriction that the land shall be used exclusively for recreational purposes and shall be made available to all residents of the subdivision project on an equal basis. The deed shall be filed with the department simultaneously with the final plat, and shall be held by the department until a certificate of occupancy is issued for the recreational improvements, whereupon the deed shall be recorded. Failure to construct or complete the approved facilities shall cause the land to be dedicated to the city.
(4)
In multifamily rental or condominium projects, land provided for recreational use in accordance with these requirements shall be held in the ownership of the owner of the project.
(5)
The city may lease or sell land reserved for public parks to a qualified property owner's association with a deed restriction that the land be used exclusively for open space or public recreational purposes in perpetuity. The organization of a qualified property owner's association and its adequate financing for the discharge of its responsibilities shall be assured through acceptable private deed covenants running with the land or other such documents as approved by the mayor and council of the city.
(b)
Open space. Open space provided in projects located in the Big Haynes Creek Watershed Protection Area shall meet the following requirements:
(1)
Open space shall be natural and undisturbed open space shall be permanent and shall remain in its natural state, undisturbed and unoccupied by any structures or impervious surfaces to include septic tanks and septic tank drain fields and except for approved access or utility crossings. Pedestrian access in open space shall be subject to the review and approval of the director. Buffers, floodplains and wetlands may be utilized as open space.
(2)
Ownership requirements. Open space provided in a development shall be owned and maintained by the property owner, or, in the case of a subdivision, by a property owner's association. The association shall be established by the developer prior to or concurrent with the recording of the final plat of the subdivision. The association bylaws shall include the following provisions:
a.
Automatic (mandatory) membership of all purchasers of lots therein and their successors;
b.
Conditions and timing of transferring control of the association from the developer to the lot owners shall be specified which shall not exceed four years from the date of recording of the final plat of the subdivision;
c.
Responsibility for maintenance, insurance and taxes;
d.
Sharing of the costs of maintenance among the lot owners with shares defined by the association bylaws;
e.
Authority to place liens on the real property of members who fail to pay their dues or assessments; and
f.
Prohibition on the dissolution of the association without the approval of the mayor and council.
(3)
Maintenance. The property owner, or the property owner's association, shall be responsible for the maintenance of open space. Open space shall be kept in reasonable order and condition and shall be maintained free from refuse, junk and debris.
(Ord. No. 2013-01-02, art. 5, § 5.9, 1-29-2013)
Sec. 34-86. - Wetlands.
(a)
National Wetland Inventory maps. The National Wetland Inventory maps, prepared by the United States Fish and Wildlife Service, shall be the official wetland maps of the city. These maps show the general locations of wetlands and should be consulted by persons contemplating activities in or near wetland areas.
(b)
Plans. Design professionals, after consulting the National Wetland Inventory maps, shall indicate wetlands on plans required for land disturbance permit applications.
(c)
Design professional statement. Prior to the issuance of a land disturbance permit, the design professional who prepared the required plans accompanying the permit application shall add a statement to the plan sheet indicating land disturbance and the statement shall read as follows:
WETLAND CERTIFICATION
The design professional, whose seal appears hereon, certifies the following: 1) the National Wetland Inventory maps have been consulted; and, 2) the appropriate plan sheet [ ] DOES/ [ ] DOES NOT (circle appropriate box) indicate wetlands as shown on the maps; and, 3) if wetlands are indicated, the land owner or developer has been advised that land disturbance of protected wetlands shall not occur unless the appropriate federal wetlands alteration ("Section 404") permit has been obtained.
(d)
Permits. The issuance of land disturbance permits by the city shall be coordinated with the U.S. Army Corps of Engineers Section 404 permitting process. If the "wetland certification" above indicates the presence of wetlands as shown on the NWI generalized wetlands maps, no land disturbance permit will be issued by the city until a Section 404 permit or letter of permission is obtained from the U.S. Army Corps of Engineers.
(Ord. No. 2013-01-02, art. 5, § 5.10, 1-29-2013)
Secs. 34-87—34-115. - Reserved.
