Chapter 15.24 - WATER CONSERVATION CONSTRUCTION REQUIREMENTS
Sections:

15.24.010 - Definitions.
As used in this chapter:
"Commercial" means any type of building other than residential.
"Construction" means the erection of a new building or the alteration of an existing building in connection with its repair or renovation or in connection with making an addition to an existing building and shall include the replacement of a malfunctioning, unserviceable or obsolete faucet, showerhead, toilet or urinal in an existing building.
"Residential" means any building or unit of a building intended for occupancy as a dwelling but shall not include a hotel or motel.
(Ord. dated 3-25-92 § 1: prior code § 23-38 (part))
15.24.020 - Residential water conservation restrictions.
On or after April 1, 1992, no construction may be initiated within the city for any residential building of any type which:
A.
Employs a gravity tank-type, flush-ometer-valve, or flushometer-tank toilet that uses more than an average of 1.6 gallons of water per flush; provided, however, this subsection shall not be applicable to one piece toilets until April 1, 1992;
B.
Employs a shower head that allows a flow of more than an average of 2.5 gallons of water per minute at sixty (60) pounds per square inch of pressure;
C.
Employs a urinal that uses more than an average of 1.0 gallons of water per flush;
D.
Employs a lavatory faucet or lavatory replacement aerator that allows a flow of more than 2.0 gallons of water per minute; or
E.
Employs a kitchen faucet or kitchen replacement aerator that allows a flow of more than 2.5 gallons of water per minute.
(Ord. dated 3-25-92 § 2: prior code § 23-38 (part))
15.24.030 - Commercial water conservation restrictions.
On or after April 1, 1992 there shall be no construction of any commercial building initiated within the city for any commercial building of any type which does not meet the requirements of subsections (A) through (E) of Section 15.24.020.
(Ord. dated 3-25-92 § 3: prior code § 23-38 (part))
15.24.040 - Applicability.
The requirements of Section 15.24.020 shall apply to any residential construction initiated after April 1, 1992 and to any commercial construction initiated after April 1, 1992, which involves the repair or renovation of or addition to any existing building when such repair or renovation of or addition to such existing building includes replacement of toilets or showers or both.
(Ord. dated 3-25-92 § 4: prior code § 23-38 (part))
15.24.050 - Exemptions.
A.
Exemptions. New construction and the repair or renovation of an existing building shall be exempt from the requirements of Sections 15.24.020 through 15.24.040 when:
1.
The repair or renovation of the existing building does not include the replacement of the plumbing or sewage system servicing toilets, faucets or showerheads within such existing buildings; or
2.
Such plumbing or sewerage system within such existing building, because of its capacity, design or installation would not function properly if the toilets, faucets or showerheads required by this chapter were installed; or
3.
Such system is a well or gravity flow from a spring and is owned privately by an individual for use in such individual's personal residence; or
4.
Units to be installed are:
a.
Specifically designed for use by the handicapped,
b.
Specifically designed to withstand unusual abuse or installation in a penal institution, or
c.
Toilets for juveniles.
B.
The owner, or his agent, of a building undergoing new construction or repair or renovation who is entitled to an exemption as specified in subsection (A)(2), (3) or (4) of this section shall obtain the exemption by applying at the office of the building inspector for the city. A fee of fifteen dollars ($15.00) shall be charged for the inspection and issuance of such exemption.
(Ord. dated 3-25-92 § 5: prior code § 23-38 (part))
15.24.060 - Enforcement.
This chapter shall be enforced by the office of the building inspector of the city. Citations for violations may be issued by the building inspector of the city.
(Ord. dated 3-25-92 § 6(a): prior code § 23-38 (part))
15.24.070 - Violation—Penalty.
Any person, corporation, partnership or other entity violating this chapter shall be tried before the municipal court of the city. Upon conviction, a violation of this chapter may be punished by a fine not to exceed one hundred thirteen dollars ($113.00) or imprisonment not to exceed eleven (11) days.
(Ord. dated 3-25-92 § 6(b): prior code § 23-38 (part))
