ARTICLE X. - GENERAL SITE REQUIREMENTS

Section 1000. - Comprehensive Plan.
The location and design of any subdivision must conform to the adopted Comprehensive Plan for the development of Brunswick and Glynn County.
Section 1001. - Zoning.
The use of the land in the subdivision shall conform to the provisions of the City of Brunswick Zoning Ordinance.
Section 1002. - Subdivision Name.
The name of the subdivision must have the approval of the Planning Commission and shall not duplicate or closely approximate the name of any other existing subdivision in the City of Brunswick and Glynn County.
Section 1003. - Subdivision Access.
Access to every subdivision must be provided over an approved public road.
Section 1004. - Surrounding Development.
A proposed subdivision must be coordinated with existing nearby developments or neighborhoods so that the area as a whole may be developed harmoniously.
Section 1005. - Water Frontage.
Where a proposed subdivision is adjacent to an ocean, lake, river, marsh, or other such sizable water body, no building shall be located so that its lowest floor is less than ten (10) feet above Mean Sea Level, based on the U. S. Coast and Geodetic Datum.
No dwelling shall be erected beyond an established marsh line, pier line or dock line.
