ARTICLE IX. - BUFFER REQUIREMENTS

Sec. 28-262. - Intent.
The city council hereby finds that the protection and preservation of trees, the planting of new trees and other landscape material, and the provision of buffers between dissimilar uses as part of the land development progress is a public purpose and provides for the public health and general welfare.
Sec. 28-263. - Purpose.
(a)
The purpose of this article is to preserve and enhance the city's natural environment through tree protection and preservation, the planting of trees and other landscape material, and the provision of natural and/or planted buffers between dissimilar uses. The article is intended to further the city's policy that all development sites, where trees are most commonly removed, will achieve upon project completion a uniform standard for buffer requirements.
(b)
This article is also intended to further the city's policy of encouraging all individuals or firms who propose to develop land, and which are required to meet the requirements of this article, to consider the use of water-efficient landscaping principles and techniques.
Sec. 28-264. - Title.
This article may be referred to generally as the "buffer requirements."
Sec. 28-265. - Definitions.
(a)
In construing the provisions hereof and the meaning of each and every word, term, phrase, or part thereof, where the context will permit, the definitions of words as contained in this chapter, supplemented by the following, shall apply:
Buffer means the land area used to visibly separate one use from another through screening and distance; to shield or block noise, light, glare, or visual or other conditions; to block physical passage to nonsimilar areas, or to reduce air pollution dust, dirt, and litter.
Clearing means the removal of vegetation from a property, whether by cutting or other means.
Construction buffer means a type of buffer which is temporary and remains in effect during the construction of a project.
Department means the municipal planning commission as established and as operated through the actions and administration of the appointed director of said department or his designee.
Development regulations means the adopted regulations providing for the subdivision and development of real property within the city, as amended.
Diameter breast height (DBH) means the diameter of a tree measured at a point 4½ feet above the ground.
Director means the director of the department of planning and development or his designee.
Grading means the placement, removal, or movement of earth by use of mechanical equipment on a property.
Land disturbance permit (LDP) means any permit other than a building permit that authorizes clearing or grading activities on a site or portion of a site. Said permit may be a clearing, clearing and grubbing, grading, or development permit as defined and authorized under the development regulations.
Landscape strip means land area located within the boundary of a lot and required to be set aside and used for landscaping upon which only limited encroachments are authorized.
Screening means a method of shielding or obscuring one abutting or nearby structure or use from another by opaque fencing, walls, berms, densely planted vegetation, or the like.
Shrub means a woody plant of relatively low height, as distinguished from a tree by having several stems rather than a single trunk.
Timber harvest means the felling, loading and transporting of timber products (pulpwood, etc.). The term "timber harvesting" may include both clear-cutting and selective cutting of timber.
Tree means any self-supporting woody perennial plant, usually having a main stem or trunk and many branches, and at maturity normally attaining a trunk diameter greater than three inches at any point and a height of over ten feet.
Tree diameter means the widest cross-sectional dimension of a tree trunk measured at diameter breast height (DBH) or at a point below DBH for new trees or multi-trunked species, but in no case less than six inches from the ground.
Tree thinning means elective cutting or thinning of trees only for the clear purpose of good forestry management in order to protect said forest from disease or infestation and in no way shall be construed as clear-cutting.
Zoning buffer means a buffer required by this chapter or as a condition of zoning or variance approval for a specific property.
Sec. 28-266. - Applicability.
Buffers shall be required between dissimilar districts or uses in accordance with the provisions of this chapter or as a condition of zoning or variance approval.
Sec. 28-267. - Standards for permanent buffers.
(a)
Width of buffers. Buffers shall meet the minimum width requirements contained in this article, except as authorized to be reduced by the applicable buffer reduction process, as follows:
(1)
As specified in the minimum buffer strip requirement Table 28-273;
(2)
As specified in a residential zoning district for a permitted nonresidential use (e.g., a church, temple, synagogue, etc.); or
(3)
As required by a condition of zoning or variance approval.
(b)
Screening requirements.
(1)
Buffers shall be natural, undisturbed, and free of encroachments except as authorized by a condition of zoning or variance approval, or as authorized herein, and shall contain the existing tree cover and vegetation as well as any supplemental plantings or replanting as may be required.
(2)
Buffers shall be of such nature and density so as to screen activities, structures and uses on the property from view from the normal level of a first story window on an abutting lot and shall further provide a yearround effective visual screen.
(3)
Buffers required along side property lines shall extend to a street right-of-way line unless otherwise required by the director/designee in order to observe the sight distance requirements contained in the development regulations and this chapter, or as authorized by a condition of zoning approval or variance approval.
(4)
In situations where the required buffer width is partially or completely contained within an existing easement (e.g., power or natural gas transmission, etc.), the screening requirements of this article shall be met outside of the easement area.
(c)
Supplemental plantings.
(1)
Buffers in which vegetation is nonexistent or is inadequate to meet the screening requirements of this article shall be planted with supplemental plantings so as to provide a yearround effective visual screen. A buffer/landscape plan shall be submitted to the department for approval, delineating the type, size, and location of all supplemental plantings as well as any nonvegetative screening mechanism proposed for use, in accordance with the terms of this article.
(2)
Supplemental plantings and replanting shall consist of evergreen trees, shrubs, or combination thereof, native or adaptable to the region. All trees planted shall be a minimum of six feet in height at time of planting and shall be a species which will achieve a height of at least 20 feet at maturity. All shrubs planted shall be of a large growing species, shall be a minimum of three feet in height at time of planting and shall be a species which will achieve a height of at least ten feet at maturity.
(3)
All supplemental plantings shall be installed to allow for proper plant growth and maintenance.
(d)
Nonvegetative screening.
(1)
Nonvegetative materials utilized to satisfy the screening requirements of this article, in addition to the use of existing vegetation and/or supplemental plantings, may consist of walls, fences, earthen berms or any combination thereof.
(2)
If walls or fences are to be utilized, their placement and installation shall be such so as to cause minimal disturbance of existing vegetation and located so as to provide an effective visual screen.
(e)
Disturbances or encroachments.
(1)
Ditches, swales, stormwater conveyance facilities, stormwater detention ponds, sanitary sewer conveyance facilities, similar facilities, and any associated easements shall not encroach into a buffer, except that necessary access and utility crossings (e.g., stormwater or sanitary sewer pipes) may encroach into the buffer as near to perpendicular as practical.
(2)
Supplemental plantings or replantings of vegetation, or authorized nonvegetative screening devices shall be authorized to encroach into a buffer provided there is minimal disturbance of any significant existing vegetation.
(3)
Land disturbance is authorized in areas of a buffer that are devoid of significant vegetation provided that the final grade and replanting of vegetation meet the screening requirements contained herein.
(4)
Dying, diseased or dead vegetation may be removed from a buffer provided minimal disturbance occurs. Vegetation thus removed shall be replaced where necessary to meet the screening requirements contained herein.
(f)
Protection during land disturbing activities.
(1)
During authorized land disturbing activities, buffers shall be clearly demarcated and protected prior to commencement of, and during construction.
(2)
The method of demarcation and protection utilized shall be in accordance with the best management practices or as required by the department.
Sec. 28-268. - Standards for construction buffers.
(a)
Where required. Construction buffers shall only be required where specifically provided as a condition of zoning or variance approval.
(b)
Time constraints. Construction buffers shall only be in effect during the construction period of a project and shall terminate upon project completion. In the case of a residential subdivision, a construction buffer shall terminate upon each individual lot with the issuance of a certificate of occupancy for the principal dwelling.
(c)
Disturbance or encroachments.
(1)
Construction buffers shall be natural, undisturbed and free of encroachments except as authorized by a condition of zoning or variance approval, or as authorized herein.
(2)
The encroachments of ditches, swales, stormwater conveyance facilities, stormwater detention ponds, sediment basins, sanitary sewer conveyance facilities, similar facilities, and any associated easements, into a construction buffer shall not be authorized except that necessary access and utility crossings (e.g., stormwater or sanitary sewer pipes), and natural bottom detention ponds (sediment basins must be located outside of the construction buffer) and their appurtenant structures which require no grading and removal of trees, may encroach upon the construction buffer.
(3)
If the construction buffer on a residential lot is devoid of existing trees and vegetation, and a tree survey is submitted to document this situation prior to conducting land disturbing activities, including clearing, on the lot, then the department may authorize the encroachment of a building or structure into the construction buffer for a distance not to exceed ten feet.
(d)
Protection during land disturbing activities.
(1)
During authorized land disturbing activities construction buffers shall be clearly demarcated and protected prior to commencement of, and during construction,
(2)
The method of demarcation and protection utilized shall be in accordance with the best management practices or as required by the department.
Sec. 28-269. - Compliance.
(a)
Artificial materials prohibited. All artificial plants, trees, shrubs, grass, or other vegetation shall be prohibited from fulfilling the requirements of these regulations.
(b)
Warranty or maintenance surety. Upon final installation of new trees, shrubs or other landscape material planted to meet the requirements of this article, and following acceptance by the department in accordance with the procedures set forth in the development regulations, the owner shall either provide proof of warranty or post a maintenance bond or other acceptable surety, warranting the new trees, shrubs or landscape material for a period of no less than one year.
(c)
Inspection.
(1)
The department shall perform an inspection of the plantings and landscape materials required by these regulations prior to expiration of the one year warranty or maintenance period. The owner shall be notified of any replacements or restoration that must be made to maintain compliance with these regulations or conditions of zoning or variance approval.
(2)
Required landscape material found to be dead or near death shall be replaced prior to release by the department of the warranty or maintenance surety. In no case shall replacement be delayed more than 30 days from notification, unless a performance bond is posted with the department.
(d)
Buffers for interior subdivision lots. When a lot within a residential subdivision fronts on a local street within the subdivision and the back yard is located along either an arterial street, a collector street or freeway street, then any and all buffer requirements shall apply to the back yard of said lot and the arterial, collector or freeway street.
Sec. 28-270. - Enforcement.
It shall be the responsibility of the department to enforce these regulations. The director or his designee shall have the authority to revoke, suspend, or void any clearing, clearing and grubbing, grading, development, or building permit, or to withhold issuance of a certificate of occupancy, and shall have the authority to suspend all work on a site or any portion thereof, where tree removal or damage occurs in violation of these regulations.
Sec. 28-271. - Violations; penalty.
Any person violating the provisions of this article shall be punished either by a fine not to exceed $500.00, or confinement in the county jail not to exceed 60 days, or both. The court shall have the power and authority to place any person found guilty on probation and to suspend or modify any fine or sentence. As a condition of said suspension, the court may require payment of restitution or impose other punishment allowed by law which may include mandatory attendance at an educational program regarding tree preservation. The owner of any property wherein a violation exists, and any builder, contractor, or agent who may have assisted in the commission of any such violation, shall be guilty of a separate offense.
Sec. 28-272. - Variances.
The preservation of trees may be considered as a condition peculiar to a piece of property in support of a request for a variance from the literal application of the provisions of this article under the procedures and requirements contained in this chapter.
Sec. 28-273. - Minimum buffer width between abutting districts.
Table 28-273. Minimum Buffer Width Between Abutting Districts
EXPAND
Adjacent Districts
Zone R-80 R-40 R-30 OI NC GC-LU
Proposed
District R-80 — 10' 10' 30' 30' 35'
R-40 10' — — 30' 30' 35'
R-30 10' — — 30' 30' 35'
OI 30' 30' 30' — — —
NC 30' 30' 30' — — —
GC-LU 35' 35' 35' — — —
  Secs. 28-274—28-292. - Reserved.
