ARTICLE X. - ADDITIONAL REQUIREMENTS

Sec. 1001. - Accessory uses and structures.
In addition to the principal uses which are designated herein as being permitted within several zoning districts established by the Code, it is intended that certain uses customarily incidental or accessory to such principal uses shall also be permitted.
(Ord. of 2016, § 1001)
Sec. 1002. - Accessory structures and uses for non-commercial and non-industrial properties.
For the purposes of this Code, therefore, each of the following uses is considered to be a customary accessory use, and, as such, may be situated on the same lot with the principal use or uses to which it serves as an accessory.
1.
Private garage for the occupant's automobiles or vehicles. Must be noncommercial usage of garage;
2.
Parking area or open storage space for motor vehicles belonging to the occupant, and provided that this regulation shall not be misconstrued to mean commercial uses are allowed;
3.
Shed or tool for the storage of equipment;
4.
Children's playhouse or play equipment;
5.
Private kennel, pens or cages for occupant's pets provided it does not create a nuisance to neighbors;
6.
Private swimming pool and bath house or cabana;
7.
Structures designed and used for the purposes of shelter in the event of catastrophes;
8.
Non-commercial flower, ornamental shrub or vegetable garden, greenhouse or slat house;
9.
Private boat dock, boat houses;
10.
Church Buildings, including sanctuary:
a.
Religious education buildings;
b.
Parsonage, pastorium, or parish house, together with any use accessory to a dwelling as listed above; and
c.
Off-street parking area for the use without charge to members and visitors to the church.
(Ord. of 2016, § 1002)
Sec. 1003. - Accessory structures and uses for commercial and industrial uses.
1.
Off-street parking or storage area for customer-, client- or employee-owned vehicles;
2.
Completely enclosed building for the storage of supplies, stock or merchandise;
3.
Light manufacturing and/or repair facility incidental to the principal use, provided that dust, odor, smoke, noise, vibration, heat or glare produced as a result of such manufacturing or repair operation is not perceptible from any boundary line of the lot on which said principal and accessory uses are located, and provided such operation is not otherwise specifically prohibited in the district in which the principal use is located;
4.
Sheltered roofs, awnings or canopies incidental to retail and commercial use, where such use is permitted, provided that no part shall, in any case, be located any closer than ten feet to any property line.
(Ord. of 2016, § 1003)
Sec. 1004. - Setback and other requirements for accessory uses and structures.
In any district, all accessory uses and structures, shall observe the following minimum requirements for setbacks, yards, and other district conditions set forth for the district in which they are located:
a.
Minimum rear yard setback from property line: ten feet.
b.
Minimum side yard setback from street/property line: ten feet property; 15 feet street.
Exception: Any new constructed or pre-fab buildings in the Agriculture/Forestry District more than 2,000 square feet in floor size shall meet the setback requirements in Section 901 tab (4) sections (c), (d), and (e) of the development code. If intended use of such building is used for raising of livestock, kennels or any non-domesticated animals, then it must comply with Section 901 Agriculture/Forestry (AF).
(Ord. of 2016, § 1004)
Sec. 1005. - Address numbering system.
All subdivision plats shall be provided with an address numbering system suitable for use by the U.S. Postal Service and which is compatible with any other system in the surrounding area. This system shall be reviewed and approved by the postmaster of the appropriate post office and placed on a reproducible mylar copy of the final plat before final plat approval.
(Ord. of 2016, § 1005)
Sec. 1006. - Buffer strips.
Any institutional, commercial, or industrial uses, off-street loading areas, or off-street parking areas for five or more automobiles shall be separated from adjoining residential property by a continuous planted buffer strip or a solid brick, concrete block, or stone wall or a uniformly painted board fence. Such buffer strip, if planted, shall be composed of healthy plants which possess growth characteristics of such a nature as to produce a dense, compact planting screen not less than six feet in height, or if wood, stone, block, or brick shall not be less than six feet high.
(Ord. of 2016, § 1006)
Sec. 1007. - Building lines.
Building lines shall be provided on all lots and shall conform to the Zoning District Regulations pertaining to the classification in which the lots to be subdivided are located.
(Ord. of 2016, § 1007)
Sec. 1008. - Building permits.
No building permits shall be issued and no building shall be erected on any lot created following the enactment of this Code which does not comply with the requirements established herein and unless the street giving access to the lot upon which the building is proposed to be placed has been accepted, opened as, or shall have otherwise received the status of a public street or an officially approved private recorded easement.
(Ord. of 2016, § 1008)
Sec. 1009. - Debris and waste.
No cut trees, timber, debris, junk, rubbish, or other waste materials of any kind shall be buried in any land, or left or deposited on any lot or street at the time of the issuance of a Certificate of Occupancy, expiration of the performance bond or acceptance of public improvements, whichever occurs first.
(Ord. of 2016, § 1009)
Sec. 1010. - Dedication of local recreation sites and open space.
Where a proposed park, playground, open space, or other local or neighborhood recreation or school site is shown on the Comprehensive Plan, or where the planning commission considers that a local recreation or school site is necessary to carry out the purpose of these regulations, the planning commission shall require the dedication of all or a portion of such site in accordance with the following standards:
1.
The land to be dedicated (fee simple) shall be of suitable size, dimensions, topography, access, and general character for the proposed use; and
2.
The amount of land so required for this purpose shall not be more than five percent of the total gross area of the subdivision, including the dedicated right-of-way.
3.
Where it is determined that a greater amount of land is required for parks and open spaces to meet the Comprehensive Plan requirements for that area of the County, or a school site is required, the planning commission after so appraising the appropriate public agency, shall so indicate the open space or school site requirements to the subdivider on the approved preliminary plan.
4.
The subdivider, at the time of the filing of the final plat with the planning commission, must offer to sell at a fair market price to the county or other appropriate public agency, within one year immediately following the recording of the final plat, any land so designated for school sites or any land designated for park or open space in excess of the five percent of land area required to be dedicated, in accordance with Section 1010.3.
5.
If any such proposed public areas or school sites have not been purchased by the appropriate public agency within one year after the recording of the final plat, such areas may be subdivided into lots and blocks in accordance with the requirements of this Code.
6.
Where the area required for dedication for recreation or open space use would result in a site deemed by the planning commission to be too small to be useable, or if the Comprehensive Plan calls for a public recreation site to be located in the vicinity of the subdivision, as determined by the planning commission, in lieu of dedication of such land, this developer may pay a fee. All money paid to the County in this manner shall be kept in a special reserve fund and shall be used only for the acquisition of land and/or development of facilities for recreation and open space purposes. The following stipulations shall apply:
a.
The amount of the fee shall be substantially equal to the value, prior to the development, of the land that would be set aside if the regular standards were applied.
b.
The fee shall be paid to Pierce County, Georgia, prior to the approval of the final plat.
7.
In lieu of requiring the dedication of a recreation site or permanent open space, or permitting a fee to be paid for this purpose, the planning commission may permit a private site to be used under the following conditions:
a.
If in the judgment of the planning commission, the purposes of this Code regarding recreation and open space land will be accomplished; and
b.
If the private site is permanently devoted to recreation use of open space and adequately secured for such use by proper deed covenants or other private restrictions.
8.
The planning commission may exempt subdivisions where the minimum lot size is two acres or more from the provisions of this section.
(Ord. of 2016, § 1010)
Sec. 1011. - Double loaded/double frontage lots.
Lots having frontage on more than one street, but not located on a corner, are not allowed after the adoption of this Code.
(Ord. of 2016, § 1011)
Sec. 1012. - Dumpsters.
All subdivisions, and revisions or extensions of existing subdivisions, shall be required to provide for every 25 lots, a minimum of one six-yard garbage dumpster and designated, if a regular curbside collection system is unavailable. Each dumpster shall be enclosed by solid fencing screening the dumpsters from sight from the adjacent lots and streets. The dumpster spaces shall be so designed and developed as to provide easy access to county, or similar, maintenance vehicles from a paved surface, and shall not be located in a normal road right-of-way.
(Ord. of 2016, § 1012)
Sec. 1013. - Easements.
The following easements shall be required within subdivisions:
1.
A ten foot utility easement shall be provided on both sides of street rights-of-way within a subdivision. This easement area shall only be used for underground electric, telephone and television cable lines where there is not sufficient area within the right-of-way. The easement area shall be kept free of fences, screens or other permanent structures.
2.
Where a subdivision is traversed by a watercourse, drainage way, channel or stream, there shall be provided a drainage easement or right-of-way conforming substantially with the lines of such watercourse, and such further width or construction, or both, as will be adequate for the purpose of drainage and maintenance, taking into account possible future development of higher land in the same drainage area. No fences, screens, or permanent structures shall be erected or placed on or within any drainage easement. Calculations and elevations shall be provided to the county road superintendent to substantiate the proposed drainage system. Runoff quantities shall be calculated based on the rational formula, Q=AIR, the Georgia DOT Drainage Manual or any other approved engineering procedure by a registered engineer. System design storm Frequency shall be:
A.
25 years for subdivisions;
B.
50 years for commercial and industrial development; and
C.
100 years for areas greater than 200 acres.
Minimum time of concentration shall be 20 minutes.
3.
Where a drainage canal is such size that it requires mechanical means for cleaning, such as a dragline, there shall be 15 foot access easement of right-of-way on either side of such canal for access purposes.
(Ord. of 2016, § 1013)
Sec. 1014. - Home occupations.
A home occupation, if it is permitted in a zoning district must comply with the following requirements. It shall be allowed, provided that it:
1.
Is conducted by no other person than members of the family residing on the premises;
2.
Is conducted within the principal building;
3.
Utilizes not more than 25 percent of the total floor area of the principal building;
4.
Produces no alteration or change in the character or exterior or change in the principal building from that of a dwelling;
6[5].
Involves no sale or offering for sale of any article not produced or assembled by members of the family, or any service not entirely performed by members of the family, residing on the premises;
6.
Creates no disturbing or offensive noise, vibration, smoke, dust, odor, heat, glare, traffic hazard, unhealthy or unsightly condition; and
7.
Is not visibly evident from the outside of the dwelling except by one non-illuminated sign two square feet or smaller in size.
(Ord. of 2016, § 1014)
Sec. 1015. - Junk/salvage yards.
All junk/salvage yards shall be completely screened from roads or developed areas with an opaque fence or wall a minimum of eight feet in height, maintained in good condition as determined by the governing authority, and painted except for masonry construction, or with suitable plantings. No operations shall be conducted which shall cause a general nuisance or endanger the public health. A junk/salvage yard permit with a fee of $200 is required, to be obtained from the code inspector and renewed annually.
No burning will be allowed on the premises. Set back will be 50 ft. from all property line.
No noises, vibrations, smoke, gases, fumes, odors, dust, fire hazards or other obnoxious or unsafe conditions will extend beyond the property lines. See section 909. The property shall be zoned General Industrial (I).
(Ord. of 2016, § 1015)
Sec. 1016. - Lots.
All lots which shall hereafter be established within a subdivision shall comply with the following design standards and the following general requirements shall apply to all lots hereafter established within a subdivision:
1.
Orientation of Lot Lines. In general, side lot lines shall be at right angles to street right-of-way lines, or radial to street right-of-way curves and cul-de-sac turnarounds.
2.
Corner Lots. Corner lots for residential use shall be provided with sufficient width and depth to permit the establishment of appropriate building setback lines from both streets.
3.
Double Loaded Lots. Double loaded lots shall only be permitted where it shall be found necessary to separate a development from major arterials or to overcome specific disadvantages to topography and orientation.
4.
Minimum Lot Elevation. Elevations of lots within flood prone areas as defined officially by the Federal Emergency Management Agency and Pierce County shall conform to the requirements established for development within the established boundaries.
5.
Flag Lots. Flag lots shall be permitted under the following conditions:
a.
New Minor Subdivisions—not to exceed 50 percent of the total created lots.
b.
New Major Subdivisions—not to exceed 10 percent of the total created lots.
c.
Where the flag lot makes it possible to better utilize irregularly-shaped properties or areas with resource limitations.
d.
Lots containing one acre or less will have an access strip having a minimum frontage of 25 feet on an approved public right-of-way. Lots containing more than one acre will have a minimum frontage of 50 feet on an approved public or private right-of-way. See Section 515.
e.
Minimum lot size, excluding the area of the access strip, of 12,000 square feet or the minimum lot size requirement for the Zoning District in which the property is located, whichever is greater.
f.
No building shall be permitted in the access strip.
g.
Lot width, front, side and rear yard setback requirements of the Pierce County Development Code to be met on that portion of the lot excluding the access strip.
h.
Where flag lots are used to eliminate and not substantially increase the number of access points to collector or arterial streets.
i.
Where flag lots would front on State-owned highways the proposed subdivision shall be approved by Georgia DOT for the increase in curb cuts prior to being submitted to the planning commission.
j.
Where flag lots would front on county/city-owned streets the proposed subdivision shall be reviewed by the county/city road engineer to determine if there is any potential hazard created by an increase in the number of access points on county/city streets.
(Ord. of 2016, § 1016)
Sec. 1017. - Lots of record.
1.
No permit for the use of any lot which is smaller in total area than the minimum size permitted for the district within which it is located shall be issued unless said lot was legally and properly recorded prior to the passage of this Code.
2.
Yards or lots recorded after the effective date of this Code shall comply with the requirements established by this Code.
(Ord. of 2016, § 1017)
Sec. 1018. - Non-conforming uses and structures.
The lawful use of any building, structure or land existing at the time of enactment of this Code may be continued, although such use does not conform with the provisions of this Code, provided the following conditions are met:
1.
Unsafe structures: Nothing in this Code shall prevent the strengthening or restoring to a safe condition of any portion of a building or structure declared unsafe by a proper authority.
2.
Alterations: A nonconforming building or structure may be altered, improved or reconstructed provided such work is not to an extent exceeding ten percent of the current (reasonable fair market value) value of the building or structure, unless the building or structure is changed to a conforming use.
3.
Extension: A nonconforming use shall not be extended, but the extension of a lawful use in a nonconforming building or structure which existed prior to the enactment of this Code is permitted.
4.
Changes: No nonconforming building, structure or use shall be changed to another nonconforming use.
5.
Restoration: Nothing in this Code shall prevent the reconstruction, repairing, rebuilding and continued use of any nonconforming building or structure damaged by fire, collapse, explosion or acts of God, subsequent to the date of this Code, wherein the expense of such work does not exceed 60 percent of its current (reasonable fair market value) value of the building or structure at the time such damage occurred.
6.
Abandonment: A nonconforming use of a building or structure which has been abandoned shall not thereafter be returned to such nonconforming use. A nonconforming use shall be considered abandoned:
a.
When the intent of the owner to discontinue the use is apparent;
b.
When the equipment and furnishings of the nonconforming use have been removed from the premises, and have not been replaced during the year, unless facts show the intention to resume the nonconforming use;
c.
When it has been replaced by a conforming use; or
d.
When it is being changed to another use requiring permit or Certificate of Occupancy.
(Ord. of 2016, § 1018)
Sec. 1019. - Principal use or structure.
There shall be one principal structure with one principal use permitted on one zoned lot. Applications for more than one principal structure and/or use permitted on one zoned lot shall meet the requirements of the Planned Unit Development District.
(Ord. of 2016, § 1019)
Sec. 1020. - Timber cutting.
Timber cutting within 50 feet from the outer edge of any river, stream, creek and spring is prohibited. Any such use is also subject to all State Erosion and Sedimentation Control regulations.
(Ord. of 2016, § 1020)
Sec. 1021. - Utilities.
All utilities shall conform to the following requirements:
1.
Where feasible, subdivisions shall be served by public water and sanitary sewer systems in compliance with the environmental protection division of [the] state department of natural resources regulations and all local ordinances.
2.
Where either public water or public sewers or both are not available to a subdivision, and a subdivider shall decide to establish a private water supply system and a private sewer system or allow individual systems then the plans and specifications for such private or individual water and sewage systems shall be approved by the Pierce County health department and/or the environmental protection division of the state department of natural resources.
3.
Fire hydrants shall be required for all subdivision to be served by a public water system, and when determined by the community development director for subdivisions served by private water systems. As required by the National Fire Prevention Code and as adopted by the Pierce County board of commissioners, fire hydrants shall be located no more than 500 feet apart and within 500 feet of any structure and shall be on an eight inch water line main. To eliminate future street openings, all underground utilities for fire hydrants, together with the fire hydrants themselves and all other supply improvements shall be installed and approved by the county road superintendent before any final paving of a street shown on the subdivision plat.
4.
Tracer wire or tape, as approved by the county road superintendent, before shall be placed with all buried nonmetallic utility lines (trunk lines and lateral service lines) and underground irrigation systems.
5.
Street lights shall be required at new street entrances on streets designated or classified as arterial streets where the ADT generated by the new street is 200 or more. Street lights shall also be required at new street entrances on streets designated or classified as collector streets where the ADT generated by the new street is 900 or more. Street lights shall be provided by the developer and installed by the developer in accordance with design and specification standards approved by the county road superintendent. Street lights shall be in place prior to final inspection.
(Ord. of 2016, § 1021)
Sec. 1022. - Water bodies and watercourses.
If a tract being subdivided contains a water body, or portion thereof, lot lines shall be so drawn as to distribute the entire ownership of the water body among the adjacent lots. The planning commission may approve an alternate plan whereby the ownership of and responsibility for safe maintenance of the water body is to be placed that it will not become a County responsibility. Where a watercourse separates the buildable area of a lot from the street by which it has access, provisions shall be made for installation of a culvert, bridge, or other structure of a design approved by the county engineer.
(Ord. of 2016, § 1022)
Sec. 1023. - Pre-owned manufactured homes minimum standards.
A.
Definitions:
1.
Pre-Owned Manufactured Home: A manufactured home, which has been previously owned or occupied, by a purchaser or consumer, manufactured after June 15, 1976-the date the National Manufactured Housing Construction and Standards went into effect. (Also known as the HUD Code.)
2.
Retailer: Any person engaged in the business of buying and thereafter selling, displaying or offering for sale manufactured homes.
B.
Facilities Required:
1.
Sanitary Facilities: Every manufactured home shall contain not less than a kitchen sink, lavatory, tub, or shower, and a water closet all in working condition when properly connected to an approved water and sewer system. Every plumbing fixture, water, and waste pipe shall be in a sanitary working condition free from leaks and obstruction.
2.
Hot and Cold Water Supply: Every manufactured home shall have connected to the kitchen sink, lavatory, and tub or shower a supply of both cold water and hot water.
3.
Water Heating Facilities: Every manufactured home shall have water-heating facilities in a safe, working condition.
4.
Heating Facilities: Every manufactured home shall have heating facilities in safe, working condition. Where a central heating system is not provided, each manufactured home shall be provided with facilities whereby heating appliances may be connected. Un-vented fuel burning heaters shall be prohibited except for gas heaters listed for un-vented use and the total input rating of the un-vented heaters is less than 30 BTU per hour cu. ft. of room content. Un-vented fuel burning heaters shall also be prohibited in bedrooms. In lieu of inspecting the heating facilities of a pre-owned home, the retailer may request a heating inspection by a qualified third party. Approval by such a person will be accepted as being in compliance with those portions of the safety standards established herein which pertain to heating systems.
5.
Smoke Detector: Every manufactured home shall be provided with a State of Georgia approved smoke detector installed in accordance with the manufacturer's recommendations and listings.
6.
Windows: Every habitable room excluding bathrooms, kitchens, and hallways shall have at least one window, which can be opened, facing directly to the outdoors.
7.
Ventilation: Every habitable room shall have at least one window or skylight which can be opened, or such other device that will ventilate the room.
8.
Electrical:
A.
Distribution Panels: Distribution panels shall be installed in compliance with approved listing, complete with required breakers or fuses, with all unused opening covered with blank covers approved and listed for that purpose. Connection shall be checked for tightness. Panels shall be accessible.
B.
Electrical System: The electrical system (switches, receptacles, fixtures, etc.) shall be properly installed, wired and shall be in a working condition. The pre-owned manufactured homes shall be subjected to an electrical continuity test to ensure that all metallic parts are properly bonded.
C.
Third-party Inspection: The retailer may, in lieu inspecting the electrical and heating system of a pre-owned manufactured home, request an electrical inspection by a qualified third party. Approval by such a person will be accepted as compliance with those portions of the safety standards established herein which pertain to electrical systems.
9.
Exterior Walls: The exterior of the home shall be free of loose or rotting boards or timbers and any other conditions which might admit rain or dampness to the interior portions of the occupied spaces of the manufactured home.
10.
Exterior Siding: The exterior siding of the home shall be free of rot, rust, and must be uniform in appearance.
11.
Roofs: Roofs shall be structurally sound and have no obvious defects, which might admit rain or cause dampness to the interior portion of the home.
12.
Interior Floors, Walls [and] Ceilings: Every floor, interior wall and ceiling shall be kept in sound condition to prevent the admittance of rain or dampness or the escape of heating and cooling.
C.
Inspection:
1.
All manufactured homes that are over (10) years old will be inspected prior to being placed in Pierce County.
2.
Manufactured home dealers, restorers, [and/or] renovators, will be permitted to move manufactured homes over (10) years old on their lots or yards for repair. The repair will be completed within 12 months from [the] date of move.
3.
Pre-owned manufactured homes that change ownership and [are] not moved to a new location will be inspected on site.
4.
Dealers, restorers, and renovators will have 12 months from date of approval of these standards to repair any pre-owned manufactured homes located on their lots.
D.
Set up, Tie Down, and Skirting:
1.
All manufactured homes moved or placed inside Pierce County will be set up and tied down (anchored) in accordance with Article IX, Section 903, Subsections 4-n, and 4-p.
2.
Skirting will be installed within 45 days after set up. It will be of wood, vinyl, masonry, metal or brick. All skirting, except brick will be painted.
3.
All utility and storage buildings, including carports will be painted.
E.
The property on which manufactured homes are placed will have a zoning classification allowing such use, including width and size.
F.
Existing manufactured homes in Pierce County that are moved to a new site (location) will comply with this section.
G.
Pre-owned manufactured homes that are ten years old or less will be in compliance with paragraph B, C and D of this section, and will be inspected on the placement site.
H.
No pre-owned manufactured home will be placed for occupancy until the standards herein are met.
(Ord. of 2016, § 1023)
Sec. 1024. - New manufactured homes minimum standards.
A.
Standards:
1.
New Manufactured homes placed in Pierce County will be in compliance with paragraph B and D of Article X, Section 1023.
2.
New Manufactured homes will be inspected on the placement site.
(Ord. of 2016, § 1024)
