Chapter 7.04 - GENERAL REQUIREMENTS
Sections:

7.04.010 - License—Required.
A license shall be procured immediately before the continuance under the provisions of this title, or the commencement of any business, occupation or other activity for which this title requires a license, from the tax collector of this county, which license shall authorize the party obtaining the same to transact the business or engage in the activity described in such license for the period named therein in the county.
(Ord. 7462 § 2 (part), 1959: Ord. 5860 Ch. 1 Art. 1 § 8, 1951.)
7.04.020 - Business activity without license prohibited.
No person shall engage in, conduct, manage or carry on any business or other activity for which a license is required by this title if:
A.
He does so without having, pursuant to the provisions of this Title 7, procured a license to do so and paid the fee required, or
B.
If such license has expired, been suspended, revoked, or denied.
(Ord. 12335 § 1, 1981: Ord. 10159 § 1, 1970: Ord. 7462 § 2 (part), 1959: Ord. 5860 Ch. 1 Art. 1 § 7, 1951.)
7.04.030 - License—Prerequisite to advertising certain activities.
A person shall not advertise or announce, by any means or medium, including but not confined to pamphlets, handbills, newspapers, radio and television, any exhibition (Section 7.90.380 ), rodeo (Section 7.90.590), traveling show (Section 7.90.620), single dance (Section 7.30.180), or outdoor festival (Section 7.60.030), or the sale of tickets thereto, until he has acquired the required license and such license is in full force and effect.
(Ord. 12335 § 4, 1981: Ord. 5860 Ch. 1 Art. 1 § 7.6, 1951.)
7.04.040 - Only one license required.
Where Section 7.04.020 and any other section of this title requires that every person who conducts, manages or carries on a business or other activity first procure a license, it shall be sufficient if the real party in interest procures such a license and, if he does so, a person who conducts, manages or carries on such business as the employee of such real party in interest is not required to obtain an additional license unless this title otherwise so expressly provides.
(Ord. 10159 § 2, 1970: Ord. 5860 Ch. 1 Art. 1 § 8.5, 1951.)
7.04.050 - License—Separate required for each activity.
If a person shall engage in, conduct, manage or carry on at the same time more than one of the activities defined and referred to in this title he shall be deemed to be engaging in, conducting, managing and carrying on each such activity separately and apart from the other such activity, except that the total fees for all annual licenses issued at the same time and to the same person at any one location and one post office address, other than dance or entertainment licenses under Chapter 7.30 of this title, shall be in the amount set forth in Section 7.14.010, under the appropriate heading.
(Ord. 11209 § 1 (part), 1975: Ord. 8073 § 1 (part), 1961: Ord. 7462 § 2 (part), 1959: Ord. 6649 § 1 (part), 1955: Ord. 6586 § 1 (part), 1954: Ord. 5860 Ch. 1 Art. 1 § 9, 1951.)
7.04.060 - Activity confined to location specified in license.
When a license specifies the post office address of the activity licensed the licensee may conduct such activity only at the address specified in the license.
(Ord. 8073 § 1 (part), 1961: Ord. 7462 § 2 (part), 1959: Ord. 5860 Ch. 1 Art. 1 § 10, 1951.)
7.04.070 - License—Posting at fixed place of business.
Every person having a license under the provisions of this title and conducting, managing or carrying on a business or occupation at a fixed place of business, shall keep such license posted and exhibited while in force in some conspicuous part of said place of business.
(Ord. 5860 Ch. 1 Art. 9.5 § 111, 1951.)
7.04.080 - License—Carrying by itinerants.
Every person having such license and not having a fixed place of business shall carry such license with him at all times while carrying on the business or occupation for which the same was granted.
(Ord. 5860 Ch. 1 Art. 9.5 § 112, 1951.)
7.04.090 - License—Issuance to corporations and persons operating under fictitious names.
A.
A license may be issued pursuant to this title to a corporation duly authorized to transact business in this state, or to a person operating under a fictitious name who has complied with all of the provisions of Section 2466 of the Civil Code of this state or any statute superseding or taking the place of such code section. Otherwise, all such licenses shall be issued in the true name of the individual or individuals applying therefor. Except as above provided, no business so licensed may operate under any false or fictitious name.
B.
A license issued to a corporation shall designate such corporation by the exact name which appears in the articles of incorporation of such corporation.
C.
This section does not apply to escort bureaus.
(Ord. 7462 § 3, 1959; Ord. 5860 Ch. 1 Art. 1 § 11, 1951.)
7.04.100 - Records and reports in English.
Every report and record made by the licensee, employee or agent, as required by the terms of this title, shall be written or printed entirely in the English language in a clear and legible manner.
(Ord. 5860 Ch. 1 Art. 1 § 14, 1951.)
7.04.110 - Reports—True name and address required.
Every person making out any report or record required by the terms of this title, or any copy thereof, shall sign his true name and give the true name and correct address of the licensee.
(Ord. 5860 Ch. 1 Art. 1 § 15, 1951.)
7.04.120 - License—Consent to right of entry required when.
If the commission finds that to enforce the provisions of this title unannounced frequent inspections are necessary, and that obtaining an inspection warrant would frustrate the governmental purpose behind the inspection, it may, pursuant to Sections 7.06.110, 7.06.150, 7.08.010, 7.08.100, 7.08.120 or 7.08.130, impose as a condition that the applicant or licensee consent to entry at all reasonable times of applicant's or licensee's place of business by the tax collector, sheriff, or any of their deputies, any peace officer, and any other officer whose duty it is to inspect any phase of applicant's or licensee's business or occupation. Upon presentation of proper credentials by any such officer, such applicant or licensee shall comply with the condition imposed.
(Ord. 10545 § 1 (part), 1972: Ord. 9592 § 1 (part), 1968: Ord. 5860 Ch. 1 Art. 1 § 20, 1951.)
7.04.130 - Premises—Communication device restrictions.
A person shall not permit any communication devices to be installed or used in conjunction with any business or activity for which this title requires a license so as to interfere or hinder inspection by the tax collector or any peace officer of such business or activity.
(Ord. 92-0132 § 2, 1992: Ord. 10009 § 2 (part), 1970: Ord. 5860 Ch. 2 Art. 1 § 301, 1951.)
7.04.140 - Premises—Zoning provisions applicable.
The tax collector shall not issue any license to carry on any business at a specific location, except a renewal, until he receives evidence that the carrying on of such business at such location is not prohibited by any provision of the zoning ordinance, set out at Title 22 of this code.
(Ord. 10009 § 1 (part), 1970: Ord. 5860 Ch. 1 Art. 1 § 17, 1951.)
7.04.145 - Premises—Graffiti free.
Every person subject to this chapter shall make a promise in writing that such person will make a reasonable effort to maintain the premises of the business free from graffiti, as defined in Section 13.12.020 of the County Code.
The tax collector is authorized to refuse to issue or to renew a license if an applicant refuses to make or fails to abide by such written promise.
(Ord. 94-0009 § 1, 1994.)
7.04.150 - License—Reference to commission required when.
When it appears to the tax collector that license, which by the provisions of this title is to be issued or renewed by the tax collector without an order of the commission, should not be issued or renewed, he shall refuse to issue such license and shall immediately report the facts to the commission in writing. He shall not thereafter issue such license until so ordered by the commission.
(Ord. 9897 § 2 (part), 1969: Ord. 5860 Ch. 1 Art. 2 § 40, 1951.)
7.04.160 - License forms—Numbering, signing and recordkeeping—Auditor duties.
The auditor shall number all licenses and shall sign all those that are not in the form of a plate, tag, or sticker. The auditor shall issue licenses to the tax collector in such quantities as the tax collector shall require, taking a receipt therefor, and keeping such accounts as may be necessary to determine the accountability of tax collector.
(Ord. 5860 Ch. 1 Art. 11 § 124, 1951.)
7.04.170 - License forms—Supplied by auditor—Distribution when completed.
A.
The county auditor shall furnish the tax collector with license forms in multiple copies, together with such supplemental plates, cards, tag and stickers as may be required.
B.
The tax collector shall complete the license form by filling in all pertinent data and shall give the original to the licensee, the duplicate to the county auditor, and retain the remaining copy or copies.
(Ord. 5860 Ch. 1 Art. 11 § 121, 1951.)
7.04.180 - License forms—Information required.
Each license, other than a license in the form of a plate or sticker, shall state the person to whom, and the kind of business and the location for which the same is issued, and the date of issuance, the license period for which it is issued, and the amount therefor, and shall refer to Ordinance 5860, and be signed by the tax collector.
(Ord. 5860 Ch. 1 Art. 11 § 122, 1951.)
7.04.190 - Vehicle licenses—Plates or stickers furnished.
Whenever under the provisions of this title a license or permit is issued for the use of a vehicle, the tax collector shall issue either a license plate or a gummed sticker for each vehicle covered.
(Ord. 9630 § 5 (part), 1968: Ord. 9592 § 4 (part), 1968: Ord. 8073 § 3 (part), 1961: Ord. 5860 Ch. 1 Art. 11 § 123, 1951.)
7.04.200 - Vehicle licenses—Attachment of plates and decals.
The tax collector shall attach or cause to have attached to the rear of a taxicab, the licensee shall attach to the left side of a rubbish or waste disposal vehicle, and in all other cases the licensee shall attach to the rear of the vehicle the license plate or decal issued by the tax collector in a conspicuous place.
(Ord. 88-0126 § 1, 1988: Ord. 6822 § 3 (part), 1955: Ord. 5860 Ch. 1 Art. 9.5 § 114, 1951.)
7.04.210 - Vehicle licenses—Affixing stickers.
A.
If a sticker is issued, the licensee shall attach the sticker to the windshield of the vehicle in such manner as to be clearly visible from outside the vehicle.
B.
If, because of the presence of other stickers required by law, such sticker legally cannot be placed on the windshield, or if there is no windshield, the licensee shall attach the sticker to the vehicle in a conspicuous location, as near as practicable to the lower righthand corner of the windshield or of the place where the windshield would be if there were one, and in such manner as to be clearly visible from outside the vehicle.
(Ord. 5860 Ch. 1 Art. 9.5 § 113, 1951.)
7.04.220 - License—Exhibition on request.
Every person having a license under the provisions of this title shall produce and exhibit that same whenever requested to do so by any peace officer or by any officer authorized to issue, inspect or collect licenses.
(Ord. 91-0149 § 1, 1991: Ord. 5860 Ch. 1 Art. 9.5 § 115, 1951.)
7.04.230 - Fees and penalties—Tax collector duties.
The tax collector shall collect the license fees and penalties under this title when he receives the application for a license, and perform such other duties as are by this title prescribed.
(Ord. 5860 Ch. 1 Art. 11 § 127, 1951.)
7.04.240 - Fees and penalties—Deposit in trust fund.
The tax collector every business day shall deposit in the tax collector's trust fund in the county treasury all license fees and penalties collected.
(Ord. 5860 Ch. 1 Art. 11 § 129, 1951.)
7.04.250 - Tax collector's monthly report—Contents.
A.
On the first business day of each month, the tax collector shall prepare a report showing in the case of all licenses either issued, denied, or where the application has been withdrawn:
1.
All penalties collected;
2.
All fees collected for licenses which have been issued;
3.
All sums retained from fees paid with applications which have been denied or withdrawn.
B.
The tax collector shall deposit all such sums so reported in the general fund of the county treasury.
(Ord. 5860 Ch. 1 Art. 2 § 132, 1951.)
7.04.260 - Refunds.
If an application for a license is withdrawn before it has been completely processed by the tax collector and, pending action upon such application, the applicant has not engaged in the business or activity for which the license is required, either pursuant to Section 7.06.060 or in violation of the provisions of this title, the tax collector shall refund to the applicant 50 percent of the license fee (excluding penalties). No refunds shall be granted when the application has been completely processed or denied.
(Ord. 11366 § 4, 1976: Ord. 9897 § 4 (part), 1969: Ord. 7462 § 12 (part), 1959: Ord. 5860 Ch. 1 Art. 11 § 130, 1951.)
7.04.270 - Illegal occupations not authorized.
A license granted pursuant to this title does not permit any occupation or activity of any kind which is prohibited by Ordinance 5860 or any other ordinance, or by any state statute, law, rule, order or regulation.
(Ord. 5860 Ch. 1 Art. 1 § 16, 1951.)
7.04.280 - Enforcement rules and regulations—Public welfare commission authority.
The commission may adopt such rules and regulations as it finds are necessary and expedient to enforce the provisions of this title. Such rules and regulations shall be such as may be proper and necessary for the maintenance of public order, the orderly conduct within establishments, the better enforcement of the provisions of this title, or to assure that the businesses or activities will comport with the public welfare.
(Ord. 9962 § 3 (part), 1970: Ord. 9630 § 7, 1968: Ord. 5860 Ch. 1 Art. 2 § 137, 1951.)
7.04.290 - Deputies—Powers and duties.
Whenever by the provisions of this title a power is granted to a public officer, or a duty imposed upon such officer, the power may be exercised or duty performed by a deputy of the officer or by a person authorized pursuant to law by the officer, unless it is expressly otherwise provided.
(Ord. 5860 Ch. 1 Art. 1 § 1, 1951.)
7.04.300 - False statements in documents deemed misdemeanor.
Every person who makes any false statement in any application for a permit or license under this title, or in any report required by this title, is guilty of a misdemeanor.
(Ord. 5860 Ch. 1 Art. 1 § 12, 1951.)
7.04.310 - Actions to collect license fees.
The tax collector shall, in the name of the county of Los Angeles, as plaintiff, bring suit for the recovery of any license fee imposed against any person required by this title to first procure a license before engaging in any business as defined in this title, who carries on or attempts to carry on such business without such license.
(Ord. 5860 Ch. 1 Art. 11 § 126, 1951.)
7.04.320 - Violation—Penalty.
Any person violating any of the provisions of this title or of any regulation imposed pursuant thereto is guilty of a misdemeanor punishable by a fine of not exceeding $1,000.00 or by imprisonment in the County Jail for a period not exceeding six months, or by both such fine and imprisonment. Each such person is guilty of a separate offense for every day during any portion of which any violation of any of the provisions of this title or of any such regulation is committed, continued or permitted by such person, and shall be punished therefor as provided by this title.
(Ord. 93-0061U § 1, 1993: Ord. 5942 § 13 (part), 1952: Ord. 5860 Ch. 1 Art. 1 § 13, 1951.)
7.04.330 - Operating without license—Deemed misdemeanor—Penalty.
A violation of Section 7.04.020 is a misdemeanor punishable by fine, or imprisonment in the County Jail for a period not exceeding six months, or both. Such fine shall not be more than $1,000.00, and shall:
A.
For the first violation, not be less than $500.00; and
B.
For the second and any subsequent violation, be $1000.00.
(Ord. 93-0061U § 2, 1993: Ord. 12335 § 2 (part), 1981: Ord. 5860 Ch. 1 Art. 1 § 7.1, 1951.)
7.04.340 - Operating without license—Injunctive relief.
Any person violating Section 7.04.020 may be enjoined from such violation by any court of competent jurisdiction. The remedy provided by this section is cumulative to any other remedy provided by law.
(Ord. 12335 § 2 (part), 1981: Ord. 5860 Ch. 1 Art. 1 § 7.2, 1951.)
7.04.350 - Violation of injunction—Civil penalty.
Any person who intentionally violates any injunction issued pursuant to Section 7.04.340 shall be liable for a civil penalty payable to the county treasurer of $1,000.00 for each violation. The penalty imposed by this section shall be in addition to any other penalties imposed by law.
(Ord. 93-0061U § 3, 1993: Ord. 12335 § 2 (part), 1981: Ord. 5860 Ch. 1 Art. 1 § 7.3, 1951.)
7.04.360 - Operating without a license—Civil penalty.
A.
Any person who violates Section 7.04.020 shall be liable for a civil penalty recoverable in a civil action and payable to the county treasurer:
1.
In an amount not less than $500.00 for the first violation; and
2.
In the amount of $1,000.00 for the second and any subsequent violation.
B.
The remedies provided by this section shall be in addition to any other penalties imposed by law.
(Ord. 93-0061U § 4, 1993: Ord. 12335 § 2 (part), 1981: Ord. 5860 Ch. 1 Art. 1 § 7.4, 1951.)
7.04.370 - Continuing violations.
Where the conduct consisting of a violation of Section 7.04.020 or 7.04.350 is of a continuing nature, each day of such conduct is a separate and distinct violation.
(Ord. 12335 § 3, 1981: Ord. 10545 § 1 (part), 1972: Ord. 10279 § 1, 1971: Ord. 5860 Ch. 1 Art. 1 § 7.5, 1951.)
7.04.380 - Operating without a license—Order to cease operations.
A.
For any business operating without a license required by this title, if the business license commission, the treasurer and tax collector, the sheriff, the director of health services, the director of the regional planning commission or any other county official has reasonable cause, based upon information made available to that official, to believe that the business is operating in such a manner that it would not qualify for the necessary license if application therefor was made, that official may do the following:
1.
Post on the premises of the business and serve upon the business owner or other person who is present at the business location and engaged in its operation a notice indicating that the business is operating in violation of this title and that it must immediately cease all operations; and
2.
If the business has not ceased all operations within 48 hours of the posting and service of such notice, take such steps as may be necessary to immediately halt the operation of such business, including, but not limited to, the locking and sealing of the building housing the business.
B.
Imposition of any of the penalties set forth in this chapter shall not be made dependent upon the taking of action under this section.
(Ord. 93-0061U § 5, 1993.)
