TABLE 3206.2 - GENERAL FIRE PROTECTION AND LIFE SAFETY REQUIREMENTS
. . .
Footnotes
. . .
c.
Piles shall be separated by a minimum of 96-inch aisles complying with Section 3206.9.
. . .
(Ord. 2014-0014 § 182, 2014.)
