ARTICLE VIII. - AREA, YARD AND HEIGHT REQUIREMENTS

Sec. 801. - Residential districts.
This article identifies those uses of buildings, structures and land which are permitted within each of the 25 zoning districts. It is the intent of this article to promote the most desirable use of land in accordance with the "Smyrna Land Use Plan." Any use or use similar thereto which is not designated as permitted within a district shall be deemed to be prohibited.
EXPAND
Minimum Lot Area
(square feet) Minimum Front Yard Setback from
Street Right-of-Way
(feet)
Districts Single-Family
Dwelling Two-Family
Dwelling
(per unit) Multifamily Dwelling
(per unit) Minimum 1
Floor Area
(square feet) Maximum
Lot Coverage by Buildings and Other
Structures
Including
Paving
(percent) Minimum
Lot Width
at Setback
Line
(feet) Major
Thoroughfare Minor
Thoroughfare Other Minimum 2
Side Yard
(feet) Minimum 2
Rear Yard
(feet) Maximum
Height of
Structures
(feet)
R-30 30,000 — — 2,200 25 110 60 50 45 15 40 35
R-20 20,000 — — 2,100 35 100 50 40 35 12 35 35
R-15 15,000 — — 2,000 35  85 50 40 35 10 30 35
R-12 12,000 — — 1,900 35  85 50 40 35 10 30 35
R-10 10,000 — — 1,500 45 50 50 40 25 7.5 25 35
R-8 8,000 — — 1,500 45 50 50 40 25 5 25 35
RDA—Single-family detached 7,260 — — 1,800 45 50 50 40 25 5 30 35
RDA—Single-family attached 7,260 (6 units per acre) — — 1,800 45 100 75 40 40 35 40 35
RMC-8 12,000 6,000 5,445
(8 units
per acre) 1 bedroom—750
2 bedrooms—850
3 bedrooms—1,000 35 100 75 50 50 35 40 35
RM-10 12,000 5,000 4,356
(10 units
per acre) 1 bedroom—600
2 bedrooms—750
3 bedrooms—900 35 100 75 50 50 35 40 35
RM-12 12,000 5,000 3,630
(12 units
per acre) 1 bedroom—600
2 bedrooms—750
3 bedrooms—900 35 100 75 50 50 35 40 35
RD 12,500
(2 units per
lot, maximum) — — 1,200
(per unit) 35  75 50 40 35 7.5 30 35
(2 stories)
RD-4 17,000
(4 units per
lot, maximum) — — 1,200
(per unit) 35 100 50 40 35 10 30 35
(2 stories)
TD 80,000
(6 units per
row, maximum) — — 1,200
(per unit) 30  20
(30 for an
end unit)
75
50 Outside development:
50 35 40 35
(2½ stories)
Inside development:
25 30 10*
(with 0 for attached units)
RM-15 Redevelopment District — — 2,904
(15 units per acre) 1 bedroom—750

2 bedrooms—850

3 bedrooms—1,000 50 200 75 50 50 40 40 35
RTD 80,000 (6 units per row, maximum) - - 1,200 (per unit) 65 24 50 50 Outside Development:
50 25 30 45
Inside Development: 3
Front Entry 20
Rear Entry 10 0 Between Units
15 from streetside
FC 12,000 — — — 35  85 50 40 35 10 30 35
RHR — — 3,630
(12 units
per acre) 1 bedroom—600
2 bedrooms—750
3 bedrooms—900
Efficiency—500 35 200 75 50 50 40 40 35
  *Exception: If building contains no more than two units, then the side yard may be reduced to eight feet, inside the development.
1 Single-family detached dwelling in an RM district shall meet the minimum floor area requirements specified for the RDA detached district.
2 Single-family detached dwellings in RM districts shall meet the minimum side and rear yard requirements specified for the R-15 district.
3 In the RTD zoning district, the front and street side setbacks for the interior of the development shall be measured from the back of sidewalk or the outside edge of the landscape zone if no sidewalk is present.
Where an RMC-8, RM-10 or RM-12 or RHR use abuts or adjoins any other single-family district, a buffer area with a minimum width of 50 feet for an RMC-8 use and 75 feet for an RM-10, RM-12 or RHR use and a six-foot fence or wall which provides visual screening shall be established and maintained between the use and the R district. However, the requirement for fence or wall may be waived by the mayor and council upon the presentation of field survey data by the owner or developer which shows that construction of the fence or wall would destroy existing vegetation which, in itself, provides visual screening between the use and the R district, or when the use abuts undeveloped property.
Within the R-30, R-20, R-15 and R-12 zoning districts no more than 25 percent of the required front or street side yard shall be covered by paving or other impervious surfaces. No driveway or other parking area shall be located closer than five feet to a side property line.
(Mo. of 3-10-75; Ord. of 12-29-77, § 1; Ord. of 6-15-81, § 1; Ord. No. 98-01, 1-5-98; Ord. No. 2004-9, 2-16-04; Ord. No. 2005-15, 6-6-05; Ord. No. 2011-11, 6-20-11 ; Ord. No. 2018-18 , 10-1-18; Ord. No. 2022-21 , 9-9-22)
Sec. 802. - Nonresidential districts.
EXPAND
Minimum Yard Requirement 1
Minimum Front Yard Setback from Street Right-of-Way Line (feet)
Districts Minimum
Lot Area
(square feet) Maximum Lot
Coverage by
Buildings and
Other Structures
Including Paving
(percent) Minimum Lot
Width at
Setback Line
(feet) Major
Thoroughfares Minor
Thoroughfares Other Minimum 2
Side Yard
(feet) Minimum 3
Rear Yard
(feet) Maximum
Height of
Structures 5
(feet)
CBD None 100 None 12 12 12 0 0 35 or 3 stories
LC  8,000  80  85 50 40 35 10 30 55 or 5 stories
NS 20,000 100 100 50 40 40 15 30 55 or 5 stories
OI 20,000  80 100 75 50 50 15 40 55 or 5 stories
GC 20,000 100 100 50 40 40 10 4 30 (Additional height
must be approved
by the mayor
and city council)
OD 30,000  80 100 75 50 50 20 30
LI 40,000  90 100 75 50 50 20 30
HI 40,000 90 150 75 50 50 20 40 55 or 5 stories
PS 20,000 100 100 50 40 40 10 4 30
  1 No building in any of the nonresidential districts shall be located closer than 50 feet to any property line which abuts a residential district.
2 If a side property line abuts a railroad right-of-way, no side yard is required.
3 If a rear property line abuts a railroad right-of-way, no rear yard is required.
4 May be reduced to zero if using common wall with adjoined property owners.
5 Buildings in excess of 35 feet must be approved by the fire chief to insure adequacy of fire protection facilities and services.
(Mo. of 3-10-75; Ord. of 12-29-77, § 1; Ord. of 3-3-80 (84-3), § 1; Ord. of 11-7-83 (83-12), § 1; Ord. of 6-6-88 (88-15), § 1; Ord. of 11-4-91 (91-40); Ord. No. 2018-18 , 10-1-18; Ord. No. 2022-13 , 6-6-22)
