ARTICLE VI. - PARKING AND LOADING REQUIREMENTS

Section 6.01. - Parking requirements.
In all zoning districts, off-street/road parking facilities for the storage and parking of self-propelled motor vehicles for the use of occupants, employees and patrons of the buildings hereafter erected, altered or extended after the effective date of this ordinance, shall be provided as herein prescribed. Such space shall be maintained and shall not be encroached upon so long as said main building or structure remains, unless an equivalent number of such spaces are provided elsewhere in conformance with this ordinance. The owner or owners of a building, structure, or other land use requiring off-street/road parking space must show, to the satisfaction of the zoning administrator, that he is the record title holder of the property devoted to said principal land use and of the property proposed for off-street/road parking use, or that he is the lessee of such property for a period of not less than 25 years.
a.
Area for parking space. For the purpose of this ordinance 320 square feet of usable lot area shall be deemed a parking space for one vehicle, including access aisle, except that 200 square feet of lot area which has a direct means of ingress and egress from an alley or street/road may also be deemed a parking space with individual parking spaces to be ten × 20 feet.
b.
Fractional requirements. When units or measurements determining number of required parking spaces result in requirement of a fractional space, any fraction up to, and including one-half shall be disregarded and fractions over one-half shall require one parking space.
c.
Loading space limitations. Loading space as required in section 6.03 shall not be construed as supplying off-street/road parking space.
d.
Location of parking space for one and two family dwellings. The off-street/road parking facilities required for one- and two-family dwellings shall be located on same lot or plot of ground as the building they are intended to serve, and shall consist of a parking strip, parking apron, and/or garage.
e.
Location of parking space for other land uses. The off-street/road parking facilities required for all other uses shall be located on the lot or within 500 feet of the permitted use requiring such off-street/roads parking, such distance to be measured along lines of public access to the property between the nearest point of the parking facility to the building to be served.
f.
Usable floor area. For the purpose of this ordinance, usable floor area in the case of offices, merchandising, or service types of uses, shall mean the gross floor area used or intended to be used by customers, patrons, clients, patients, owners, and tenants, less 20 percent thereof.
g.
Seating capacity or seats. As used in this article for parking requirements, shall mean that each 20 inches of seating facilities shall be counted as one seat, except that where specifications and plans filed with the zoning administrator specify a certain seating capacity for a particular building, such specified seating capacity shall be used as the basis for required parking space.
h.
Bed. Whenever the term "bed" is herein referred to, it shall mean such beds as are occupied by the patients or guests of the hospital or building in question, provided however, that bassinets and incubators shall not be counted as beds.
i.
Similar uses and requirements. In the case of a use not specifically mentioned, the requirements for off-street/road parking facilities for use which is so mentioned, and which said use is similar, shall apply.
j.
Existing off street/road parking at effective date of ordinance. Off-street/road parking existing at the effective date of this ordinance which serves an existing building or use, shall not be reduced in size less than that required under the terms of this ordinance.
k.
Collective provisions. Nothing in this ordinance shall be construed to prevent collective provisions of off-street/road parking facilities for two or more buildings or uses, provided such facilities collectively shall not be less than the sum of the requirements for the various individual uses computed separately in accordance with the table under section 6.01.l.
l.
Table of off street/road parking requirements. The amount of required off-street/road parking space for new uses or buildings, additions thereto, and additions to existing buildings as specified above shall be determined in accordance with the following table, and the space so required shall be stated in the application for a building permit and shall be irrevocably reserved for such use and/or shall comply with the initial part of this ordinance.
EXPAND
No. Use Number of Parking Spaces
1 Apartment and multi-family Two per dwelling unit and one for every ten spaces for boats, etc.
2 Apartments for elderly One per dwelling unit
3 Appliance store One for each 400 sq. ft. GFA (gross floor area)
4 Auditorium, gym, stadium, etc. One for every three fixed seats in largest room; one for each 40 sq. ft. of area available for seats; one for each 150 sq. ft. GFA; whichever is greatest
5 Auto fueling stations One for each pump and one for each two employees during largest shift, but not less than four in addition to service area
6 Auto parts and accessories One for each 400 sq. ft. GFA
7 Auto sales and repair; service stations and washeterias Same as (5) above plus one for each 500 sq. ft. GFA of the shop or wash area
8 Auto service and appliance centers One for each 400 sq. ft. of retail GFA plus one for each service bay
9 Bowling alley Four per alley plus requirements for any other use associated with the establishment
10 Club or lodge One for each two employees plus one for each 200 sq. ft. of GFA within the main assembly area plus requirements for each additional use
11 Church One for each four seats in main place of assembly
12 Dance school One for each employee plus one per 150 sq. ft. of GFA plus safe and convenient loading and unloading of students
13 Duplex dwelling unit Three for each individual unit. Residential driveways will satisfy this need
14 Financial institution One for each 250 sq. ft. of GFA and two waiting spaces for each drive through window
15 Furniture store One for each 400 sq. ft. of GFA
16 Golf course Two for each hole plus one for each two employees plus requirements for any other use associated with the golf course
17 Grocery store and convenience store C-1 = one for each 333 sq. ft. of GFA
C-2 = one for each 250 sq. ft. of GFA
18 High schools, colleges, trade schools, etc. One for each employee plus five for each classroom plus sufficient area for safe and convenient loading and unloading of students
19 Hospital One per bed plus one per employee on shift of greatest employment plus one for each visiting staff or doctor
20 Hotel/motel One per guest room plus one for each two employees
21 Indoor and outdoor recreational facilities One for each 150 sq. ft. of gross area devoted to the use; or one for each four seats or facilities available for patron use, whichever is greater
22 Industrial or manufacturing establishment or warehouse Two for each three employees on shift of greatest employment plus one for each vehicle used directly in the conduct of business
23 Kindergarten, nursery schools and day care One for each employee plus one for each 350 sq. ft. of gross floor area plus safe and convenient loading and unloading of students
24 Nursing home One for each two beds plus one per employee on shift of greatest employment
25 Office or professional building One for each 350 sq. ft. of GFA or one for each two employees, whichever is greater
26 Personal services establishment One for each 350 sq. ft. of GFA plus one for each two employees, whichever is greater
27 Repair shop One for every 300 sq. ft. of GFA plus one employee on shift of greatest employment
28 Restaurant: On-premises consumption One for every 100 sq. ft. GFA with minimum of ten plus one for each employee on shift of greatest employment
29 Restaurant: Carry out with outdoor seats only One for each 150 sq. ft. GFA with minimum of ten plus one for each three outdoor seats
30 Restaurant: Carry out only One for each 150 sq. ft. GFA with minimum of ten
31 Restaurant: On premises with drive thru One for each 100 sq. ft. GFA with minimum of ten plus an adequate lane for through traffic which will not obstruct the required parking and driveway for the restaurant plus one for each employee
32 Schools, elementary One for each teacher plus one for each two service and administrative employees plus one for each classroom plus safe and convenient loading and unloading students
33 Senior citizen homes One for each two beds plus one for each employee on shift of greatest employment
34 Shopping center: Greater than 35,000 GFA One for each 300 sq. ft. GFA
35 Shopping center: Less than 35,000 sq. ft. GFA One for each 350 sq. ft. GFA
36 Single family residential One space per dwelling unit
37 Swimming pool: Public One for each 200 sq. ft. of water surface area plus all requirements for any additional uses such as a restaurant
38 Travel trailer park One for each trailer stall plus one for each two employees
39 Retail stores: If not otherwise mentioned One for each 300 sq. ft. GFA
40 Wholesale establishment One for each employee plus one for each vehicle used directly in the conduct of business
  m.
Joint use. Parking spaces already provided to meet off-street/road parking requirements for theaters, stadiums, auditoriums, and other places of public assembly, stores, office buildings and industrial establishments lying within 1,500 feet of a church as measured along lines of public access, and that are not normally used between the hours of 6:00 a.m. and 6:00 p.m. on Sundays, and are made available for other parking, may be used to meet not more than 75 percent of the off-street/road parking requirements of a church.
n.
Handicapped parking spaces. In order to assure a proper and uniform development of public handicapped parking areas throughout the area of jurisdiction of this ordinance, handicapped parking space shall be provided and maintained as called for in the following schedule. Handicapped parking requirements for additions for existing uses shall be based only upon the new addition, even if the existing use is deficient.
EXPAND
Total Required Handicapped Parking Spaces Additional Handicapped Spaces
Up to 25 1
26—50 2
51—75 3
76—100 4
101—150 5
151—200 6
201—300 7
301—400 8
401—500 9
501—1,000 2% of total
Over 1,000 20 plus one for each additional 100 over 1,000
  (Ord. No. 2006-5, § 1, 10-24-06)
Section 6.02. - Off-street/road parking development regulations.
All parking lots established in the off-street/road parking districts shall be subject to the following requirements:
1.
The construction of any parking lot shall be in accordance with the requirements and provisions of this ordinance and such construction shall be completed and approved by the engineering department before actual use of the property as a parking lot. Plans for the development of any parking lot must be submitted in triplicate to the zoning administrator prepared at a scale of not less than 50 feet equals one inch and indicating existing and proposed grades, drainage, water mains and sewers, surfacing and base materials to be used and the general layout of the proposed parking lot. The plans are to be prepared in a presentable form by person or persons competent in such work.
2.
All such parking lots shall be hard-surfaced with a pavement having an asphalt or concrete binder, and shall be graded and drained so as to dispose of surface water which might accumulate within or upon such area. No surface water from such parking area shall be permitted to drain into adjoining private property.
3.
All illumination for or on such parking lots shall be deflected away from adjacent residential areas and shall be installed in such manner as to allow the reduction of the amount of light in other than normal parking hours each day. The source of illumination in all parking lots abutting a residential area shall not be more than 13 feet above the parking lot surface.
4.
Side yards shall be maintained for a space of not less than six feet between the side lot lines of adjoining residential lots and the parking area. The depth of the front yard or setback line from the street/road as established for houses in any block in any given residential area shall be continued and made applicable to parking space in such residential area and it shall be unlawful to use the space between such setback line and the sidewalk for the parking of motor vehicles; provided however, that the barrier specified in section 6.02(5) below, shall be located on the setback line as herein required.
5.
Whenever such parking area adjoins residential property and/or a residential street/road or alley, a protective wall shall be erected and maintained between the required yard space and the area to be used for parking in accordance with article IV. Location of said wall facing a residential street/road shall be determined with due regard to side yard and building setback requirements adjoining the residential district as may be required in the particular commercial, office or industrial zoning district. The said wall shall be constructed in such a manner that the first 12 feet, starting at the street/road, shall be two feet in height, the second 12 feet back from the street/road shall be four feet in height, and the balance shall be six feet as indicated above. Bumper guards of a type described in section 6.02(6) below, shall be provided to prevent vehicles striking said wall or shrubbery.
6.
In all cases where such parking lots abut public sidewalks, concrete curbing, at least six inches high, set end to end, shall be placed so that a motor vehicle cannot be driven or parked with any part thereon extending within two feet of a public sidewalk. In all cases where necessary for the protection of the public and the adjoining properties, streets/roads, and sidewalks, curbs as described above, shall be installed.
7.
Adequate means of ingress and egress shall be provided and shown on plan submitted. Minimum shall be 15 feet wide for one way and 24 feet wide for two-way traffic.
8.
Where street/road setback lines are provided by ordinance or established through the adoption of a street/road and traffic plan, such setback lines shall be maintained.
9.
All land between the boundaries of the parking lot and the barriers referred to in this ordinance, as well as the surface of the parking area, shall be kept free from tall grass, weeds, rubbish, refuse and debris, and shall be landscaped to conform with the neighborhood.
10.
No repairs or service to vehicles and no display of vehicles for purpose of sale shall be carried on or permitted on such premises.
(Ord. No. 2006-5, § 1, 10-24-06)
Section 6.03. - Off-street/road loading requirements.
On the same premises with every building, structure or part thereof, erected and occupied for manufacturing, storage, warehouse, truck freight terminal, goods display, department store, wholesale store, market, hotel, hospital, mortuary, laundry dry cleaning or other uses similarly involving the receipt or distribution of vehicles, materials or merchandise, there shall be provided and maintained on the lot adequate space for standing, loading and unloading services in order to avoid undue interference with public use of the streets/roads and alleys.
Such loading and unloading space, unless otherwise adequately provided for, shall be an area ten feet by 50 feet, with 15-foot height clearance, and shall be provided according to the following schedule:
EXPAND
Gross Floor Area in Square Feet Loading and Unloading Spaces Required in Terms of Square Feet of Usable Floor Area
0—5,000 One space.
5,000—20,000 One space plus one space for each 5,000 square feet.
20,000—100,000 4 spaces plus one space for each 20,000 square feet in excess of 20,000 square feet.
100,000—500,000 5 spaces plus one space for each 40,000 square feet in excess of 100,000 square feet.
Over 500,000 15 spaces plus one space for each 80,000 square feet in excess of 500,000 square feet.
  (Ord. No. 2006-5, § 1, 10-24-06)
Section 6.04. - Off-street/road waiting area for drive-through facilities.
On the same premises with every building, structure or part thereof erected and occupied for the purpose of serving customers in their automobiles by means of a service window or similar arrangement where the automobile engine is not turned off, there shall be provided three off-street/road waiting spaces for each service window.
An off-street/road waiting space is defined as an area ten × 20 feet.
Self-service motor vehicle car wash establishments shall provide four-off-street waiting spaces for each washing stall. Motor vehicle car wash establishments other than self-service, shall provide four waiting spaces for each washing stall. A drying lane 50 feet long shall also be provided at the exit of each washing stall in order to prevent undue amounts of water from collecting on the public street and thereby creating a traffic hazard.
(Ord. No. 2006-5, § 1, 10-24-06)
