ARTICLE XIII. - STREET DESIGN REQUIREMENTS

Sec. 1301. - Street right-of-way widths.
The right-of-way width shall be the distance across a street from property line to property line. Minimum street right-of-way widths shall be as follows:
a.
Major street widths, one hundred (100) feet.
b.
Collector streets, eighty (80) feet.
c.
Minor streets and cul-de-sacs, sixty (60) feet.
Sec. 1302. - Street pavement widths.
Street pavement widths shall be as follows:
a.
Major street widths as required by the Georgia Department of Transportation or Harris County, Georgia.
b.
Collector street widths as required by the Georgia Department of Transportation or Harris County, Georgia.
c.
Minor streets and cul-de-sacs as required by the Georgia Department of Transportation or Harris County, Georgia.
Sec. 1303. - Street grades.
Maximum and minimum street grades shall be as follows:
a.
Major streets, not in excess of seven (7) percent.
b.
Collector streets, not in excess of ten (10) percent.
c.
Minor streets and cul-de-sacs, not in excess of twelve (12) percent.
d.
No street grade shall be less than one-half (0.5) percent.
e.
No street grade shall exceed twelve (12) percent unless individual site characteristics and design needs justify.
Sec. 1304. - Horizontal curvature.
The minimum radii of centerline curvature shall be as follows:
a.
Major streets, not less than eight hundred (800) feet.
b.
Collector streets, two hundred (200) feet.
c.
Minor streets and cul-de-sacs, one hundred (100) feet.
Sec. 1305. - Tangents.
Between reverse curves, there shall be tangents having a length not less than the following:
a.
Major streets shall have a sight distance of at least five hundred (500) feet at six (6) feet above ground level.
b.
Collector streets shall have a sight distance of at least two hundred (200) feet at six (6) feet above ground level.
Sec. 1306. - Vertical alignment.
Vertical alignment shall be such that the following requirements are met:
a.
Major streets shall have a sight distance of at least five hundred (500) feet at six (6) feet above ground level.
b.
Collector streets shall have a sight distance of at least two hundred (200) feet at six (6) feet above ground level.
Sec. 1307. - Street intersections.
Street intersections shall be as nearly at right angles as possible. No street intersection shall be at an angle of less than sixty (60) degrees. Site distance at street intersections shall not be less than that required by the geometric design standards of the Georgia Department of Transportation.
Sec. 1308. - Curb-line radius.
The curb-line radius at street intersections shall be at least fifteen (15) feet. Where the angle of street intersection is less than ninety (90) degrees, a longer radius may be required.
Grades and Curves Illustrations
Shapes of Blocks, Etc. Illustrations
