Sec. 3.03.41. - Exemptions from site development plan requirements.
(a)
Single-family detached homes constructed on a subdivision of fewer than five parcels.
(b)
Repairs to a facility that is part of a previously approved and permitted development.
(c)
Accessory structures such as barns, sheds, or additions to single-family dwellings, provided that the construction or placement of such accessory structure does not cause the parcel to exceed the impervious surface limitations set forth herein.
