DIVISION 7. - ALLOWED USES IN WINTERVILLE ZONING DISTRICTS AND AREA, YARD, HEIGHT REQUIREMENTS AND SETBACKS

Sec. 38-381. - Single-family residential districts.
Within the R12H, R15H, R18H and R20H Single-Family Residential Districts, the following uses are permitted:
(1)
Single-family residences.
(2)
Residences set up to serve as bed and breakfast establishments.
(3)
Accessory buildings and uses when located on the same plot of land as the main structure and customarily incident thereto.
(4)
Home swimming pool provided the location is not closer than 20 feet to any property line and the pool is enclosed by a wall or fence of at least four feet in height and provided approval has been obtained from the Athens-Clarke County health department.
(5)
On a conditional basis, churches and related accessory uses provided they are located on a lot fronting an arterial or collector street and are placed not less than 50 feet from any property line.
(6)
Home gardening and horticulture.
(7)
The keeping of recreational animals or food animals for personal use as long as they are kept in a barn and/or fenced area and on a lot of two acres or larger as long as they do not pose a nuisance as defined in chapter 24.
(8)
Short-term rentals so long as owner or operator of the short-term rental resides on the premises and the premises serves as the owner or operator's domicile.
(Ord. of 5-2016(2), § 8.1; Ord. of 11-10-2020, § 8.1.8)
Sec. 38-382. - C Commercial districts.
(a)
Within the C Commercial districts, the following uses are permitted:
(1)
Antique, furniture and appliance stores.
(2)
Apparel stores.
(3)
Automobile service stations, accessory and detail shops.
(4)
Banks and savings institutions.
(5)
Barbershops and beauty shops.
(6)
Bicycle shops.
(7)
Book stores.
(8)
Buildings providing non-dwelling usage.
(9)
Cafes, restaurants, grills, lunch counters, sweet shops.
(10)
Cheese shops, specialty food shops and bakeries.
(11)
China, earthenware, pottery and glassware shops.
(12)
Churches and other places of worship with attendant buildings.
(13)
Coin shops.
(14)
Drug stores.
(15)
Dry cleaning and laundry services and alterations.
(16)
Flower shops and nurseries.
(17)
Gift shops.
(18)
Golf course, swimming, and tennis or country clubs, privately owned and operated community clubs or associations, athletic fields.
(19)
Hardware.
(20)
Ice cream stores.
(21)
Insurance and real estate.
(22)
Jewelry stores.
(23)
Microfilm industry.
(24)
Moving and storage, providing that any materials or product which is stored outside of a fully enclosed building will be completely fenced in and a planted buffer between the fence and the property line if that distance is less than 60 feet.
(25)
Music stores.
(26)
Neighborhood convenience grocery stores.
(27)
Off-street parking lots.
(28)
Other tourist-oriented specialty shops.
(29)
Outdoor advertising signs and business signs in accordance with the requirements set forth in appendix I.
(30)
Parks and other recreation areas.
(31)
Professional offices.
(32)
Public utility structures and buildings, including electric and natural gas substations, telephone exchange, radio and television stations, and similar structures for the storage of supplies, equipment or service operations where properly screened.
(33)
Public utility structures other than buildings that the installation is properly screened. No office shall be permitted and no equipment shall be stored on the site.
(34)
Self-service laundry and dry cleaning establishments.
(35)
Toy shops.
(36)
Video rentals and sales.
(37)
Hospitals, clinics, sanitariums, nursing homes and convalescent homes.
(b)
Any similar retail uses which are deemed by the planning and zoning commission to be similar in nature and intent as those previously listed.
(Ord. of 5-2016(2), § 8.2)
Sec. 38-383. - PLC Professional-Limited Commercial District.
Within the PLC Professional-Limited Commercial District, the following uses are permitted:
(1)
Professional offices.
(2)
Public buildings, providing non-dwelling usage.
(3)
Drug stores.
(4)
Insurance and real estate.
(5)
Banks, savings institutions, stock brokerage firms, and other similar financial service institutions.
(6)
Medical and dental clinics.
(7)
Single-family dwellings.
(8)
Libraries, museums, art galleries and reading rooms.
(9)
Studios for work or teaching of fine arts such as photography, music, drama, dance, and theater.
(10)
Kindergartens, play schools, and day care (centers and homes) provided there is at least 150 square feet of outdoor play area for each child and the play area is enclosed by a woven wire fence at least five feet high.
(11)
Hospitals, clinics, sanitariums, nursing homes and convalescent homes.
(12)
Private schools.
(13)
Flower shops.
(Ord. of 5-2016(2), § 8.3)
Sec. 38-384. - G Government District.
Within the G Government District, the following uses are permitted:
(1)
Post office.
(2)
Public buildings, providing non-dwelling usage.
(3)
Telecommunication towers.
(Ord. of 5-2016(2), § 8.4)
Sec. 38-385. - RR Rural Residential District.
Within the RR Residential District, the following uses are permitted:
(1)
Single-family dwellings, excluding dwelling built or suited exclusively for rental.
(2)
Crop or row farming.
(3)
Truck gardening or farming.
(4)
All uses listed as permitted within the R12H, R15H, R18H, and R20H districts will be permitted in the RR district.
(Ord. of 5-2016(2), § 8.5)
Sec. 38-386. - Area, yard, height requirements and setbacks.
This section is provided for information for previously approved and subdivided properties as amended May 5, 2005.
(1)
Amended by striking the minimum lot width (in feet) for the R12H, R15H, R18H, and R20H zoning districts and inserting a minimum lot width (in feet) for said residential districts of 150 feet at the established front yard setback line for all lots not fronting on a cul-de-sac. Any lot fronting on a curved or cul-de-sac street, which has a minimum width at the established front yard setback line of 75 feet, shall be deemed to satisfy the minimum width requirement for a residential lot. The setback line shall be measured by the same arc established by the front lot line.
(2)
Amended by striking the minimum lot size per dwelling unit of 25,000 square feet for the R12H, R15H, R18H, and R20H zoning districts and inserting a minimum lot size per dwelling unit of 43,560 square feet for said zoning districts.
(3)
Amended by striking the minimum lot area (in square feet) of 25,000 square feet for septic tank only for the R12H, R15H, R18H, and R20H zoning districts and inserting a minimum lot size per dwelling unit for septic tank only of 43,560 square feet for said zoning districts.
(4)
Said article is further amended by adding to the heading R18H, RMH so that the heading reads R18H and RMH. Amended by adding "Any lot or parcel existing prior to the enactment of this amendment shall be considered a 'lot of record' and as such may be developed in accordance with city regulations."
(Ord. of 5-2016(2), § 8.6)
Sec. 38-387. - Table for area, yard, height requirements and setbacks.
EXPAND
District Minimum Lot Size Minimum Yard Requirements Maximum Height of Building
Minimum Lot Area (sq. ft.) Lot Size
Per
Dwelling
Unit
(sq. ft.) Lot Width (ft.) Front Setback from Street Centerline Minimum Side Yard Minimum Rear Yard
Septic Tank Only Septic Tank & Well Major Street All Other Streets
R12H 51,000 43,560 150 * 85 55 15 30 35
R15H 51,000 43,560 150 * 85 55 15 30 35
R18H 51,000 43,560 150 * 85 55 15 30 35
R20H 51,000 43,560 150 * 85 55 15 30 35
C 25,000 51,000 50 40 45
PLC 25,000 51,000 150 50 40 15 20 35
G 50 40 45
RR 217,800 217,800 200 * 85 55 30 ** 30 ** 35
  * Any lot fronting on a curved or cul-de-sac street, which has a minimum width at the established front yard setback line of 75 feet, shall be deemed to satisfy the minimum width requirement for a residential lot. The setback line shall be measured by the same arc established by the front lot line.
** Any animal quarters located on a property within the RR district must be set back a minimum of 75 feet from all property lines. When the RR property abuts the R12H, R15H, R18H, or R20H district, animal quarters must be set back a minimum of 150 feet from the abutting property line.
(Ord. of 5-2016(2), § 8.7; Ord. of 11-10-2020, § 8.7)
Secs. 38-388—38-417. - Reserved.
