DIVISION 2. - GENERAL SEWER USE REQUIREMENTS

Sec. 82-225. - Prohibited discharge standards.
No industrial user shall introduce or cause to be introduced into the POTW any pollutant or wastewater which causes pass through or interference. These general prohibitions apply to all industrial users of the POTW whether or not they are subject to categorical pretreatment standards or any other national, state or local pretreatment standards or requirement. Furthermore, no industrial user may contribute the following substances to the POTW:
(a)
Pollutants which create a fire or explosive hazard in the municipal wastewater collection and POTW, including, but not limited to, wastestreams with a closed-cup flashpoint of less than 140 degrees F (60 degrees C) using the test methods specified in 40 CFR 261.21.
(b)
Any wastewater having a pH less than 5.0 or more than 10 standard units, or otherwise causing corrosive structural damage to the POTW or equipment, or endangering city personnel.
(c)
Solid or viscous substances in amounts which will cause obstruction of the flow in the POTW resulting in interference, but in no case solids greater than two inches or five centimeters in any dimension.
(d)
Any wastewater containing pollutants, including oxygen-demanding pollutants (BOD, etc.), released in a discharge at a flow rate and/or pollutant concentration which, either singly or by interaction with other pollutants, will cause interference with either the POTW or any wastewater treatment or sludge process, or which will constitute a hazard to humans or animals.
(e)
Any wastewater having a temperature greater than 150 degrees F (66 degrees C), or which will inhibit biological activity in the treatment plant resulting in interference, but in no case wastewater which causes the temperature at the introduction into the treatment plant to exceed 104 degrees F (40 degrees C).
(f)
Petroleum oil, nonbiodegradable cutting oil, or products of mineral oil origin, in amounts that will cause interference or passthrough.
(g)
Any pollutants which result in the presence of toxic gases, vapors or fumes within the POTW in a quantity that may cause acute worker health and safety problems.
(h)
Any trucked or hauled pollutants, except at discharge points designated by the city manager in accordance with section 82-254.
(i)
Any noxious or malodorous liquids, gases, solids, or other wastewater which, either singly or by interaction with other wastes, are sufficient to create a public nuisance, a hazard to life, or to prevent entry into the sewers for maintenance and repair, or would in anyway cause health or safety problems for city workers.
(j)
Any wastewater which imparts color which cannot be removed by the treatment process, such as, but not limited to, dye wastes and vegetable tanning solutions which consequently impart color to the treatment plant's effluent thereby violating the city's NPDES permit. Color (in combination with turbidity) shall not cause the treatment plant effluent to reduce the depth of the compensation point for photosynthetic activity by more than ten percent from the seasonably established norm for aquatic life.
(k)
Any wastewater containing any radioactive wastes or isotopes except as specifically approved by the city manager in compliance with applicable state or federal regulations.
(l)
Stormwater, surfacewater, groundwater, artesian well water, roof runoff, subsurface drainage, swimming pool drainage, condensate, deionized water, noncontact cooling water, and unpolluted industrial wastewater, unless specifically authorized by the superintendent.
(m)
Any sludge, screenings, or other residues from the pretreatment of industrial wastes.
(n)
Any medical wastes, except as specifically authorized by the city manager in a wastewater discharge permit.
(o)
Any wastewater alone or in conjunction with other sources causing the treatment plant's effluent to fail a toxicity test.
(p)
Any wastes containing detergents, surface active agents, or other substances which may cause excessive foaming in the POTW.
(q)
Any discharge of fats, oils, or greases of animal or vegetable origin is limited to 100 mg/L.
(r)
Any discharge that would result in the exceedance of ten percent of the lower explosive level (LEL) at the POTW.
Wastes prohibited by this section shall not be processed or stored in such a manner that they could be discharged to the POTW. All floor drains located in process or materials storage areas must discharge to the industrial user's pretreatment facility before connecting with the POTW.
(Ord. No. 18-2008, § 2(2.1), 10-13-08)
Sec. 82-226. - Federal categorical pretreatment standards.
The national categorical pretreatment standards found at 40 CFR chapter I, subchapter N, parts 405-471 are hereby incorporated.
(Ord. No. 18-2008, § 2(2.2), 10-13-08)
Sec. 82-227. - State requirements.
All state pretreatment standards imposed by the State of Georgia are hereby incorporated.
(Ord. No. 18-2008, § 2(2.3), 10-13-08)
Sec. 82-228. - Specific pollutant limitations.
(a)
Industrial users which introduce or cause to be introduced into the POTW waste in concentration of more than 240 mg/L for five-day biological oxygen demand or 240 mg/L for total suspended solids will be subject to surcharge in accordance with division 14.
(b)
Industrial users which introduce or cause to be introduced into the POTW waste in concentration of more than 100 mg/L for oil and grease will be subject to surcharge in accordance with division 14.
(c)
The following pollutant limits are established to protect against passthrough or interference and to protect sludge and stream quality. No person shall discharge wastewater containing in excess of the following instantaneous maximum allowable discharge limits. These values shall be revised at least every five years to meet EPA requirements and more often if deemed necessary by the city.
EXPAND
0.3574 mg/L Arsenic
0.1814 mg/L Cadmium
1.3503 mg/L Chromium
0.1400 mg/L Copper
0.1893 mg/L Cyanide
0.0580 mg/L Lead
0.0020 mg/L Mercury
0.2579 mg/L Molybdenum
1.0772 mg/L Nickel
0.0979 mg/L Selenium
0.4678 mg/L Silver
0.2310 mg/L Zinc
40 mg/L Total Nitrogen
7 mg/L Total Phosphorus
  Concentrations apply at the point where the industrial waste is discharged to the POTW. All concentrations for metallic substances are for "total" metal unless indicated otherwise. At his or her discretion, the city manager may impose mass limitations in addition to or in place of the concentration based limitations above.
(Ord. No. 18-2008, § 2(2.4), 10-13-08; Ord. No. 3-2020 , § 1, 6-8-20)
Sec. 82-229. - City's right of revision.
The city reserves the right to establish, by ordinance or in wastewater discharge permits, more-stringent standards or requirements on discharges to the POTW if deemed necessary to comply with the objectives presented in section 82-191 or the general and specific prohibitions in section 82-225.
(Ord. No. 18-2008, § 2(2.5), 10-13-08)
Sec. 82-230. - Special agreement.
The city reserves the right to enter into special agreements with industrial users setting out special terms under which they may discharge to the POTW. In no case will a special agreement waive compliance with a pretreatment standard or requirement. However, the industrial user may request a net gross adjustment to a categorical standard in accordance with 40 CFR 403.15. They may also request a variance from the categorical pretreatment standard from EPA. Such a request will be approved only if the industrial user can prove that factors relating to its discharge are fundamentally different form the factors considered by EPA when establishing that pretreatment standard. An industrial user requesting fundamentally different factor variances must comply with the procedural and substantive provisions in 40 CFR 403.13.
(Ord. No. 18-2008, § 2(2.6), 10-13-08)
Sec. 82-231. - Dilution.
No industrial user shall ever increase the use of process water or in any way attempt to dilute a discharge as a partial or complete substitute for adequate treatment to achieve compliance with a discharge limitation unless expressly authorized by an applicable pretreatment standard or requirement. The city manager may impose mass limitations on industrial users which are using dilution to meet applicable pretreatment standards or requirements or in other cases when the imposition of mass limitations is appropriate.
(Ord. No. 18-2008, § 2(2.7), 10-13-08)
Sec. 82-232. - Prohibition or control of discharge; pretreatment.
If any waters or wastes are discharged or are proposed to be discharged to the public sewers which waters contain the substances or possess the characteristics enumerated in section 82-225 or section 82-228, which in the judgment of the city may have deleterious effect upon the sewerage works, processes, equipment, or receiving water or which otherwise create a hazard to life, health or constitute a public nuisance, the city may:
(1)
Reject wastes;
(2)
Require pretreatment to an acceptable condition of discharge to the public sewers;
(3)
Require control over the quantities and rates of discharge and/or;
(4)
Require payment to cover the added cost of handling and treating the wastes not covered by existing taxes or sewer charges.
If the city permits the pretreatment or equalization of waste flows, the design and installation of the plant and equipment shall be subject to the review and approval of the city subject to the requirements of all applicable codes, ordinances and laws.
Where pretreatment is provided for any waters or wastes, they shall be maintained continuously in satisfactory and effective operation by the owner at his expense.
(Ord. No. 18-2008, § 2(2.8), 10-13-08)
Sec. 82-233. - Independent water supply; installation of meter.
(a)
In the event a lot, parcel of land, premises, person or facility discharging sewerage, industrial waste, water or other liquids, either directly or indirectly, into the city's sewerage system, or which ultimately enters the sewerage system, is to be supplied (either wholly or in part) from water sources other than the Cedartown Water Works; then such water source, well, or other supply must be preapproved by the city.
(b)
Use of an alternative water source shall be within the discretion of the superintendent considering the availability to the location of city water; the uses to be made of the water supply; the health, safety and welfare of the citizens of Cedartown; and such other criteria as may be established or used to govern and control independent water supplies by the state or federal authorities and the jurisdiction over such matter.
(c)
In the event the water source is not approved, appeal may be taken to the City Commission of the City of Cedartown. If the source is approved, the water supply shall be measured by a city water meter, at the owner or occupant's expense including expense of installation and maintenance of the meter. Installation of this meter shall be in a manner satisfactory to the based upon the similar rate of charge for supplies of residences of the city using the city's water supply.
(Ord. No. 18-2008, § 2(2.9), 10-13-08)
Sec. 82-234. - Construction of sewer facilities required.
It shall be required by the city that the owner of any property serviced by a building sewer carrying industrial wastes install a suitable control manhole through which all industrial plant effluent shall flow. When deemed necessary, the city may require additional meters and other appurtenances in the building sewer to facilitate observation sampling and measurement of the waste. All flow measuring devices shall be calibrated annually or more often as may be deemed necessary by the city manager.
Such manhole shall be accessible and safely located and shall be constructed in accordance with plans approved by the city. The manhole shall be installed by the owner at his expense and shall be maintained by him so as to be safe and accessible at all times.
(Ord. No. 18-2008, § 2(2.10), 10-13-08)
Secs. 82-235—82-249. - Reserved.
