5704.2.8.16.1 - System Requirements.
The fire protection system shall be a deluge type foam system, which provides a minimum of .25 gpm over the entire vault area. The minimum duration of the foam supply shall be 10 minutes. If a manual system is provided, it must assume a maximum of 125 psi at the fire department connection.
(Ord. 2014-0014 § 229, 2014.)
