ARTICLE VII. - AREA, YARD AND HEIGHT REQUIREMENTS

Section 701: - General Requirements.
Except as hereinafter provided, all structures shall be located on a parcel of land in conformity to the provisions of the accompanying table (Table 1).
Table 1—Area, Yard and Height Requirements
EXPAND
District Minimum Lot Size Lot Width In Ft. Minimum Size of Dwelling Unit (Sq. ft.) Minimum Front Yard Setback 1 From Center Line of Street Maximum Height In Feet Maximum Lot Cov. Prin. Bldg. Minimum Rear Yard (Feet)
Area In Square Feet Square Feet Per Family Major Street All Other Streets Minimum Side Yard in Feet
R-1 12,000 12,000 100 1,200 75 75 10 35 30% 30
R-2 9,000 One-family 9,000, two-family 6,000 each 75 Single family 1,000
duplex 800 75 50 10 35 30% 25
R-3 7,200 One-family 7,200, two-family (duplexes) 5,000 for each; multi-family & town-houses (3 or 4 units) 3,500 ea.; multi-family & town-houses (over 4 units) 2,500 each 60 Single-family duplexes; & town-houses 700;
multi-family 400 75 50 Single family 6 ft. duplexes 10 ft., multi-family buildings 15 ft. 2 50 30% 20
R-4 6,000 One-family 6,000; two-family(duplexes) 4,500 ea. multi-family & townhouses (3 or 4 units) 3,000 ea.; (over 4 units) 2,250 ea. 60 Single-family duplexes & town-houses 600 sq. feet multi-family 340 sq. ft. ea. family 25
from front
lot line 25 Single-family 6 ft. duplexes 10 ft., multi-family bldg. 15 ft. 2 50 35% 20
R-5 5,000 Single-width mobile home unit 5,000; double-width mobile home unit 5,000 50 Single-width mobile
home 600 sq. ft.,
double-width mobile home 1056 sq. ft. 15 15 6 0 0 10
C-1 50
C-2 75 75 50 10 2 35 25
O-1 3 3 75 3 75 50 10 2 50 25
M-1 75 75 75 10 2 50 25
1 In no zone shall a residential front yard be less than twenty-five (25) feet in depth from the street curb or, if no curb is installed, from the street surface.
2 No intervening side yard is required if two adjoining buildings use a common wall.
3 Residences permitted under the requirements stipulated for R-3.

FOR FURTHER INFORMATION, contact the City Building Inspector or the City Clerk's Office. Anyone buying a new structure or interest in the floor space of an existing structure should always check first to be sure that their plans conform with the Zoning Ordinance. Zoning Map and Zoning ordinance is on file and is available for public informational use.
