SECTION 7. - OFF-STREET PARKING AND SERVICE REQUIREMENTS

Sec. 7-1. - Scope of provisions.
Except as provided in this section, no application for a building permit shall be approved unless there is included with the plan for such building, improvements, or use, a plot plan showing the required space reserved for off-street parking and service purposes. Occupancy shall not be allowed unless the required off-street parking and service facilities have been provided in accordance with those shown on the approved plan.
Sec. 7-2. - Parking spaces may not be reduced.
Off-street parking spaces shall not be reduced below the minimum required number for the use or facility to which they are assigned.
Sec. 7-3. - Drainage, construction, and maintenance.
All off-street parking, loading, and service areas shall be drained so as to prevent damage to abutting properties and/or public streets and shall be constructed of materials which will assure a surface resistant to erosion. All such areas shall be at all times maintained at the expense of the owners thereof in a clean, orderly, and dust-free condition.
Sec. 7-4. - Separation from walkways, sidewalks, and streets.
All off-street parking, loading, and service areas shall be separated from walkways, sidewalks, and streets by curbing or other suitable protective device.
Sec. 7-5. - Parking area design.
Parking stalls shall have a minimum width of nine feet and length of 20 feet. There shall be provided adequate interior driveways to connect each parking space with a public right-of-way. Interior driveways shall be at least 24 feet wide where used with 90-degree angle parking, at least 18 feet wide where used with 60-degree angle parking, at least 12 feet wide where used with 45-degree parking, and at least 12 feet wide where used with parallel parking. Where there is no parking, interior driveways shall be at least ten feet wide for one-way traffic movement and at least 20 feet wide for two-way traffic movement.
Sec. 7-6. - Joint parking facilities.
Two or more neighboring uses, of the same or different types, may provide joint facilities. A reduction of up to 15 percent off of the total combined parking requirements for the uses may be granted by the county commission with the approval of the development plans.
Sec. 7.7. - Inter-parcel and shared access.
Commercial properties with frontage along major arterial roads intended for commercial and industrial bypass traffic such as SR 107/Ben Hill Drive and the US 129/Ocilla Highway shall be required to provide inter-parcel access and/or shared access facilities where feasible.
Sec. 7-8. - Pavement markings and signs.
Each off-street parking space shall be clearly marked, and pavement directional arrows or signs shall be provided wherever necessary. Markers, directional arrows, and signs shall be properly maintained so as to ensure their maximum efficiency.
Sec. 7-9. - Number of parking spaces.
In order to assure a proper and uniform development of public parking areas throughout the area of jurisdiction of this ordinance, to relieve traffic congestion on the streets, and to minimize any detrimental effects on adjacent properties, off-street parking space shall be provided and maintained as called for in the following schedule. For any use or class of use not specifically mentioned in this schedule, the requirements shall be the same as a similar use as mentioned herein. Parking requirements for additions to existing uses or structures shall be based upon the total development even if the existing use is deficient. This ordinance shall apply to all zoning districts.
EXPAND
USE PARKING SPACES
7-9.1 Apartment and Multi-Family Dwelling, Residential Group Development Project Two spaces for each dwelling unit.
7-9.2 Auditorium, stadium, assembly hall, gymnasium, theater, community recreation center, church (a) One space per four fixed seats in the largest assembly room or area, or (b) one space for each 40 square feet of floor area available for the accommodation of moveable seats in the largest assembly room or combination of fixed and moveable seats, or one space per each 150 square feet of gross floor area, whichever is greatest.
7-9.3 Automobile fueling station One space (in addition to service area) for each pump and grease rack and one space for each one employee during period of greatest employment, but not less than six spaces.
7-9.4 Automobile sales and repair, service stations and auto washeterias Same as 7-8.3 above plus one space for each 500 square feet of gross floor area of the shop or washeteria.
7-9.5 Bowling alley Four spaces per alley plus requirements for any other use associated with the establishment such as a restaurant, etc.
7-9.6 Club or lodge One space for each two employees plus one space for each 200 square feet of gross floor area within the main assembly area plus additional spaces for other uses permitted within the premises.
7-9.7 Combined Uses Parking spaces shall be the total of the spaces required for each separate use established by this schedule, except when granted a reduction of the combined parking requirements by the County Commission of up to 15 percent.
7-9.8 Dance school One space for each employee plus one space per 150 square feet of gross floor area plus safe and convenient loading and unloading of students.
7-9.9 Family personal care and group personal care One space for each employee on shift of greatest employment plus one space for each two beds, plus any accessory uses.
7-9.11 Golf course Two spaces for each hole and one space for each two employees plus requirements for any other use associated with the golf course.
7-9.12 High schools, trade schools, colleges, and universities One space for each teacher, employee, and administrative personnel plus safe and convenient loading of students plus five spaces for each classroom.
7-9.13 Hospital, nursing home, care home, or congregate personal care home One space for each bed, plus one space for each employee on shift of greatest employment.
7-9.14 Hotel One space for each guest room, suites, or units plus any spaces required for accessory uses.
7-9.15 Indoor and outdoor recreational areas (commercial), YMCA and similar uses (a) One space for each 150 square feet of gross floor, building, ground area, or combination devoted to such use; or (b) one space per each four seats or facilities available for patron use; whichever is greatest.
7-9.16 Industrial or manufacturing establishment or warehouse Two spaces for each three employees on shift of greatest employment, plus one space for each vehicle used directly in the conduct of the business.
7-9.17 Kindergarten and nursery schools One space for each employee, plus safe and convenient loading of students.
7-9.18 Manufactured Housing Park Two spaces for each manufactured home space.
7-9.19 Motel One space for each unit plus one space for each two employees, plus any spaces required for accessory uses.
7-9.20 Office, professional building or similar use One space for each 300 square feet of the gross floor area, plus one space for each two employees.
7-9.21 One, two, and three family dwellings Two spaces per each unit (residential driveways will satisfy this need).
7-9.22 Personal service establishment One space for each 200 square feet of gross floor area.
7-9.23 Restaurant or place dispensing food, drink, or refreshments One space for each two seats plus one space for each two employees on shift of greatest employment.
7-9.24 Schools, elementary One space for each teacher, one space for each two employees and administrative personnel, and one space for each classroom, plus safe and convenient loading and unloading of students.
7-9.25 Swimming pool (Commercial) One space for every 200 square feet of water surface area plus requirements for additional uses in association with the establishment such as a restaurant, etc.
7-9.26 Shopping center One space for every 200 square feet of gross floor area.
7-9.27 Retail stores of all types not otherwise mentioned One space per 150 square feet of gross floor area.
7-9.28 Wholesale establishments One space for each employee plus sufficient spaces to accommodate vehicles used in the conduct of the business.
  Sec. 7-10. - Off-street loading requirements.
On the same premises with every building, structure or part thereof, erected and occupied for manufacturing, storage, warehouse, truck freight terminal, goods display, department store, wholesale store, market, hotel, hospital, mortuary, laundry, dry cleaning or other uses similarly involving the receipt or distribution of vehicles, materials, or merchandise, there shall be provided and maintained on the lot of adequate space for standing, loading and unloading services in order to avoid undue interference with public use of the streets and alleys.
Such loading and unloading space, unless otherwise adequately provided for, shall be an area ten feet by 50 feet, with 15-foot height clearance, and shall be provided according to the following schedule:
EXPAND
Gross Floor Area in
Square Feet Loading and Unloading Spaces Required in Terms
of Square Feet of Usable Floor Area
0—10,000 None
10,001—100,000 One space for the first 10,001 square feet plus one additional space for each additional 40,000 square feet in excess of 10,001 square feet.
100,001—500,000 Three spaces for the first 100,001 square feet plus one space for each additional 100,000 square feet in excess of 100,001 square feet.
  Sec. 7-11. - Minimum number of loading spaces required.
Industrial, wholesale, and retail operations shall provide space as follows:
a.
Off-street loading spaces shall be provided as appropriate to the functions and scope of operation of individual or groups of buildings and uses.
b.
Off-street loading spaces shall be designed and constructed so that all maneuvering to park and unpark vehicles for loading and unloading can take place entirely within the property lines on the premises. Loading spaces shall be provided so as not to interfere with the free, normal movement of vehicles and pedestrians on public right-of-way.
c.
Ingress and egress to off-street loading spaces shall conform to driveway entrance regulations of Ben Hill County.
Sec. 7-12. - curb cut requirements.
In any district as described below where the lowering or cutting away of curbs, or the placement of asphalt and/or driveway pipe on non-curbed sections for the purpose of ingress and egress is required to the property, such curb cuts or asphalt width shall be placed through the entire right-of-way and shall be subject to the following provisions:
7-12.1.
Residential curb cuts. GF, R-R, R-1, R-22, MR and P zoning areas (excluding manufactured housing park development):
7-12.1.1.
No more than two combined entrances and exits shall be allowed any parcel of property, the front of which is less than 200 feet on any one street. Additional entrances or exits for parcels having a frontage in excess of 200 feet shall be permitted at the rate of one entrance/exit for each additional 100 feet.
7-12.1.2.
At street intersections (corner lots), no curb cuts shall be located within 25 feet of the intersection of two curb lines or such lines extended; or within 15 feet of the intersection of two property lines (right- of-way lines) or such lines extended, whichever is more restrictive. On principal or minor arterials or collector streets, no driveway shall be within 70 feet of the intersection of two curb lines or curb lines extended.
7-12.1.3.
The distance between any two curb cuts on the same side of the street shall be not less than ten feet. Said distance shall be measured between the point of tangency of the curb return radii and the established curb.
7-12.1.4.
All driveways shall be constructed so as to have at least five feet from any front property line (excluding right-of-way), except that a curb return may become tangent to a curb line at a point where such property line extends with the curb line.
7-12.1.5.
The maximum width of any driveway shall not exceed 24 feet measured at the right-of-way line.
7-12.1.6.
The sum of the two curb return radii for any curb cut shall not exceed 15 feet.
7-12.1.7.
When development on sites where existing curb cuts are abandoned and access is no longer afforded due to parking lots, buildings or other permitted structures, the driveway shall be removed, the sidewalk (if existing) shall be replaced, the curb and gutter shall be replaced, fill dirt backfilled to its natural state.
Sec. 7-13. - Commercial, industrial, and manufactured housing park curb cuts.
7-13.1.
No more than two combined entrances or exits shall be allowed any parcel or frontage which is less than 300 feet on any one street. On parcels less than 150 feet, only one entrance shall be allowed provided it is a two-way driveway (two one-way driveways shall be allowed in lieu of the one two-way). Additional entrances or exits for parcels of property having a frontage in excess of 300 feet shall be permitted at the rate of one entrance-exit for each additional 150 feet.
7-13.2.
No driveway shall be located closer than 150 feet of an existing driveway on an abutting lot. Existing lots of record less than 150 feet frontage shall be allowed one combined entrance/exit not to exceed 24 feet at right-of-way line.
7-13.3.
At street intersections (corner lots), no curb cuts shall be located within 70 feet of the intersection of two curb lines or within 60 feet of the intersection of two property lines (right-of-way lines) where such lines extended, whichever is more restrictive.
7-13.4.
All driveways shall be constructed so as to be at least 12.5 feet from any property line except that a curb return may become tangent to a curb line at a point where the property line extended intersects such curb line.
7-13.5.
Maximum width of any driveway shall not exceed 35 feet measured at the right-of-way line; minimum two-way shall be 24 feet at right-of-way line with a maximum of 12.5-foot radius. No two driveways on the same property shall be closer than 25 feet.
7-13.6.
The maximum width of any curb cut in CC, G-B, WLI and H-I zones shall not exceed 35 feet at the right-of-way line.
7-13.7.
The sum of the two curb return radii for any one curb cut shall not be less than 25 feet, nor greater than 40 feet.
7-13.8.
When development on sites where existing curb cuts are abandoned and access is no longer afforded due to parking lots, buildings, or other permitted structures, the driveway shall be removed, the sidewalk (if existing) shall be replaced, the curb and gutter shall be replaced, fill dirt backfilled to its natural state; where it is a piped driveway to a dirt or paved street, said pipe shall be removed, asphalt removed and the shoulders and ditch regraded to its natural pre-existing state.
