ARTICLE VI. - BUFFER REQUIREMENTS

Sec. 47-152. - Required buffers.
(a)
Buffers. A buffer area shall be defined as that portion of a lot set aside for separation or screening purposes, pursuant to the applicable provisions of this article, to separate different use districts and or uses on one property from uses on another property of the same use district or a different use district. Transitional buffers are buffers required between dissimilar zoning districts.
(b)
Buffer requirements. Mandatory buffer widths are listed under each individual zoning district.
(c)
Special exemptions. The following special exceptions apply to buffers and control over general buffer provisions:
(1)
When property zoned C-1, C-2 or O/I is separated by a public road from residentially-zoned property, no buffer shall be required.
(2)
When property zoned IND-G is separated from property in a different zoning classification by a state or federal highway right-of-way of at least 100 feet in width, the required buffer for the IND-G property along such right-of-way shall be reduced to 50 feet.
(d)
Buffer standards. Buffers should be sufficient to provide some screening or protection to neighboring uses, where required by the use and nature of the surrounding area. The particular standards for a specific buffer depend on the nature of the proposed use and the character of the surrounding area. The community development director shall make a determination as to the type of buffer required, following the procedure of subsection (e) of this section.
(1)
The community development director shall have the following discretionary options regarding the standards imposed on a particular buffer and may impose some or all of the following requirements:
a.
Buffers may be required to be left in their natural state with the preexisting vegetation intact.
b.
Buffers may be required to be planted or vegetated with fast growing trees and shrubs (for some or all of the width of the required buffer), in species and quantities to be determined by the community development director.
c.
Open field buffers may be left as open space.
d.
Roads, rights-of-way and streams may be counted towards buffer requirements, or may be left as open space.
e.
The community development director may, in addition or in lieu of other requirements, require a fence be erected.
(2)
Buffers shall be undisturbed, except that buffer areas may be used for sewer and other utility easements, detention ponds, access roads and fences may be erected in buffer areas.
(3)
No structures may be erected in buffers, and buffer areas shall be graded or disturbed only when absolutely necessary. Buffers shall be crossed in such a fashion to minimize incursion into the buffer (i.e., close to perpendicularly). Where possible, buffers shall be restored to an opaque standard after being crossed, and BMPs, as required by the city development regulations (and soil erosion and sedimentation control ordinance), shall be followed at all times.
(4)
If a fence is required by the community development director, it shall be eight feet high, wooden, stone or masonry, and shall be opaque.
(5)
The community development director shall have the authority to administratively vary all requirements in this section.
(6)
The community development director's determination may be appealed to the unified zoning board. See article XII of this chapter.
(e)
Procedure. In the event a development is one that requires buffers, the developer shall inform the community development director of the proposed use and provide information about the size of the operation, dimensions of the building, the planned hours of operation, security lighting and other lighting issues, anticipated traffic flow of customers, suppliers and deliveries, and any other information as required by the community development director. The community development director shall review the surrounding area and the uses and zoning of surrounding property. The community development director shall then determine the appropriate buffering standards under subsection (d) of this section, considering the following criteria:
(1)
The nature of the use and all the information provided about the use and its potential nuisance impact on the neighboring and surrounding properties;
(2)
The existing and adjacent uses that may already impose similar negative impacts on adjoining property;
(3)
The existing dissimilar uses of surrounding property and the current zoning of the surrounding property;
(4)
The location of any nearby residences; and
(5)
The existence of any streams, roads or other rights-of-way, the natural terrain, and the existing topography that may provide buffering.
(Min. of 11-10-2016, § 8.1)
Secs. 47-153—47-172. - Reserved.
