DIVISION 2. - GENERAL SEWER USE REQUIREMENTS

Sec. 12-121. - Prohibited discharge standards.
(a)
General prohibitions: No user shall introduce or cause to be introduced into the POTW any pollutant or wastewater which causes pass through or interference. These general prohibitions apply to all users of the POTW whether or not they are subject to categorical pretreatment standards or any other federal, state, or local pretreatment standards or requirements.
(b)
Specific prohibitions: No user shall introduce or cause to be introduced into the POTW the following pollutants, substances, or wastewater:
(1)
Pollutants which create a fire or explosive hazard in the POTW, including, but not limited to, wastestreams with a closed-cup flashpoint of less than one hundred forty (140)°F (sixty (60)°C) using the test methods specified in 40 CFR 261.21;
(2)
Wastewater having a pH less than 5.5 or more than 10.0, or otherwise causing corrosive structural damage to the POTW or equipment;
(3)
Solid or viscous substances in amounts which will cause obstruction of the flow in the POTW resulting in interference but in no case solids greater than ½ inch in any dimension;
(4)
Pollutants, including oxygen-demanding pollutants (BOD, etc.), released in a discharge at a flow rate and/or pollutant concentration which, either singly or by interaction with other pollutants, will cause interference with the POTW;
(5)
Wastewater having a temperature greater than one hundred fifty (150)°F, or which will inhibit biological activity in the treatment plant resulting in interference, but in no case wastewater which causes the temperature at the introduction into the treatment plant to exceed one hundred four (104)°F (forty (40)°C);
(6)
Petroleum oil, non-biodegradable cutting oil, or products of mineral oil origin, in amounts that will cause interference or pass through;
(7)
Pollutants which result in the presence of toxic gases, vapors, or fumes within the POTW in a quantity that may cause acute worker health and safety problems;
(8)
Trucked or hauled pollutants, except at discharge points designated by the control authority;
(9)
Noxious or malodorous liquids, gases, solids, or other wastewater which, either singly or by interaction with other wastes, are sufficient to create a public nuisance or a hazard to life, or to prevent entry into the sewers for maintenance or repair;
(10)
Wastewater containing any radioactive wastes or isotopes except in compliance with applicable federal or state regulations and approved by the control authority;
(11)
Storm water, surface water, ground water, artesian well water, roof runoff, subsurface drainage, swimming pool drainage, condensate, deionized water, non-contact cooling water, and unpolluted wastewater, unless specifically authorized by the control authority;
(12)
Sludges, screenings, or other residents from the pretreatment of industrial wastes;
(13)
Medical wastes, except as specifically authorized by the control authority in a wastewater discharge permit;
(14)
Any material into a manhole through its top unless specifically authorized by the control authority.
Pollutants, substances, or wastewater prohibited by this section shall not be processed or stored in such a manner that they could be discharged to the POTW.
Sec. 12-122. - Categorical pretreatment standards.
The categorical pretreatment standards found at 40 CFR Chapter I, Subchapter N, Parts 405-471 are hereby incorporated.
(1)
Where a categorical pretreatment standard is expressed only in terms of either the mass or the concentration of a pollutant in wastewater, the control authority may impose equivalent concentration or mass limits in accordance with 40 CFR 403.6(c).
(2)
When wastewater subject to a categorical pretreatment standard is mixed with wastewater not regulated by the same standard, the control authority shall impose an alternate limit using the combined wastestream formula in 40 CFR 403.6(e).
(3)
A user may obtain a variance from a categorical pretreatment standard if the user can prove, pursuant to the procedural and substantive provisions in 40 CFR 403.13, that factors relating to its discharge are fundamentally different from the factors considered by EPA when developing the categorical pretreatment standard.
(4)
A user may obtain a net gross adjustment to a categorical standard in accordance with 40 CFR 403.15.
Sec. 12-123. - State pretreatment standards.
State pretreatment standards and any other applicable state standards or requirements are hereby incorporated.
Sec. 12-124. - Local limits.
The following pollutant limits are established to protect against pass through and interference. No person shall discharge wastewater containing in excess of the following instantaneous maximum allowable discharge limits.
EXPAND
Arsenic 1.792 mg/L
Cadmium 0.008 mg/L
Chromium 17.850 mg/L
Copper 0.109 mg/L
Cyanide 0.082 mg/L
Lead 0.116 mg/L
Mercury 0.002 mg/L
Nickel 3.340 mg/L
Silver 0.019 mg/L
Zinc 1.880 mg/L
  The above limits apply at the point where the wastewater is discharged to the POTW. All concentrations for metallic substances are for "total" metal unless indicated otherwise. The control authority may impose mass limitations in addition to, or in place of, the concentration-based limitations above.
No nonresidential user shall discharge wastewater containing restricted substances into the municipal wastewater system in excess of limitations specified in its wastewater discharge permit, or adopted by resolution by the city. The city shall publish and revise from time to time standards (local limits) for specific restricted substances. These standards shall be developed in accordance with 40 CFR 403.5 and shall implement the objectives of this article. Standards published in accordance with this Section will be deemed pretreatment standards for the purposes of Section 307(d) of the Act.
The city may impose mass limitations in addition to or in place of concentration based limitations. The city may also revise or modify the standards (local limits) as required, or if deemed necessary, comply with the objectives presented in section 12-101 of this article or the general and specific prohibitions in section 12-121 of this article, or to insure compliance with federal, state, or local law.
Sec. 12-125. - Right of revision.
The control authority reserves the right to establish, by ordinance or in wastewater discharge permits, more stringent standards or requirements on discharges to the POTW.
Sec. 12-126. - Dilution.
No user shall ever increase the use of process water, or in any way attempt to dilute a discharge, as a partial or complete substitute for adequate treatment to achieve compliance with a discharge limitation unless expressly authorized by an applicable pretreatment standard or requirement. The control authority may impose mass limitations on users, which are using dilution to meet applicable pretreatment standards or requirements, or in other cases when the imposition of mass limitations is appropriate.
Sec. 12-127. - Application of most stringent limitations.
For a discharge regulated by categorical pretreatment standards or other federal, state, or local discharge limitations or requirements, the most stringent limitations and requirements will apply.
Sec. 12-128. - Deadline for compliance with categorical standards.
Compliance by existing sources with categorical pretreatment standards shall be within three (3) years of the date the standard is effective unless a shorter compliance time is specified in the appropriate subpart of 40 CFR Chapter I, Subchapter N.
New sources shall install, have in operating condition, and startup all pollution control equipment required to meet applicable pretreatment standards before beginning to discharge. Within the shortest feasible time (not to exceed ninety (90) days), new sources must meet all applicable pretreatment standards.
Secs. 12-129—12-140. - Reserved.
