905.12.4 - Detailed Requirements.
All basement pipe inlets shall be of cast iron, steel, brass, or bronze with lids of cast iron or bronze.
The basement pipe inlet shall consist of a sleeve of not less than 8-inch inside diameter extending through the floor and terminating flush with or through the basement ceiling and shall have a top flange recessed with an inside shoulder to receive the lid. The top flange shall be installed flush with finish floor surface. The lid shall be a solid casting and have a lift recessed in the top. This lid shall be provided with a cast-in sign reading FIRE DEPARTMENT ONLY—DO NOT COVER. The lid shall be installed in such a manner as to permit its easy removal from the flange shoulder.
(Ord. 2014-0014 § 142, 2014.)
