ARTICLE IV. - GENERAL REQUIREMENTS

Sec. 4-1. - Use within zoning districts.
No building, structure, or land shall be used or occupied, and no building or structure or part thereof shall be erected, constructed, reconstructed, moved, or structurally altered, unless it is in conformity with all of the regulations herein specified for the district in which it is located. Further, no building, structure, or land shall be used for any purposes other than a purpose permitted by right in a zone in which such building, structure, or land is located, unless a conditional use permit or a special use permit is obtained, as specified herein; or unless the property is duly rezoned as provided for herein.
(Zoning Code 1997, § 5-1)
Sec. 4-2. - Height, density, and lot area.
No building or other structure shall be created or altered:
(1)
To exceed the allowable height;
(2)
To exceed the number of families or occupy a smaller lot area per family;
(3)
To reduce or diminish front yards, rear yards, side yards, or other open spaces unless in conformity with all of the regulations herein specified for the district in which it is located;
(4)
No lot, even if it may consist of one or more adjacent lots in the same ownership at the time of passage of this regulation, shall be reduced in size so that lot width or size of yards or lot area per family or any other requirement of this chapter is not maintained, except as otherwise provided for in section 9-57 of this appendix. This section shall not apply when a portion of a lot is acquired for a public purpose.
(Zoning Code 1997, § 5-2)
Sec. 4-3. - Yards applying to only one building.
No part of a yard, off-street parking or loading space, or other open space around a building or structure, or part of one lot, shall be included as part of a yard, off-street parking or loading space, or other open space for any other distinct lot, building or structure.
(Zoning Code 1997, § 5-3)
Sec. 4-4. - One principal building on lot.
Only one principal building and its customary accessory buildings may hereinafter be erected on any lot, unless otherwise provided for by this appendix.
(Zoning Code 1997, § 5-4)
Sec. 4-5. - Public street frontage.
No building shall be erected on a lot which does not have immediate frontage of at least 25 feet on a public street, except in a C-1 district where the minimum lot size is 20 feet.
(Zoning Code 1997, § 5-5)
Sec. 4-6. - Planted buffer strips.
Wherever commercial or industrial uses abut existing residential uses, a ten-foot-wide planted buffer strip shall be provided along the abutting property lines and the ten feet shall be added to the yard requirements in section 5-2 of this appendix.
(Zoning Code 1997, § 5-6)
Sec. 4-7. - Nonconforming uses.
It is the intent of this section to respect established private property rights. The lawful use of any building, structure, or land existing prior to the time of enactment of or subsequent amendment to this appendix may be continued subject to the regulations contained in this section.
(1)
The nonconforming use of a building, structure, or land shall not be changed to another nonconforming use.
(2)
Any nonconforming use of a building, structure, or land which has been abandoned for a period of one year or more shall not be re-established.
(3)
A nonconforming use shall not be rebuilt, altered or repaired after damage exceeding 50 percent of the fair market value of the building or structure at the time of damage or destruction, as determined by the county tax assessor's office, except in conformity with this zoning code.
(4)
The nonconforming use of a building, structure, or land shall not be extended or enlarged unless such addition is made to conform to the regulations of the zone in which it is located.
(Zoning Code 1997, § 5-7)
Secs. 4-8—4-20. - Reserved.
