ARTICLE XXI. - BUFFER, LANDSCAPE, SCREENING AND OPEN SPACE REQUIREMENTS

Sec. 2101. - Purpose and intent.
The following regulations are designed to promote the health, safety, order, aesthetics and general welfare by protecting against incompatible uses of land, providing for a more attractive urban environment, assuring adequate open space, and reducing noise, night lighting, glare, odor, objectionable views, loss of privacy and other adverse impacts and nuisances through the use of buffers and landscaping. These regulations are also designed to encourage the protection and planting of trees, which are declared to be beneficial public resources, and to prevent the needless, wasteful or purposeless destruction of trees in order to better control problems of flooding, soil erosion and air pollution.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2102. - Buffer Required.
Property zoned for commercial and industrial uses shall provide a buffer, as defined by these regulations, along any rear or side property lines abutting a residential district or abutting an alley across from a specified residential district, provided that no buffer shall extend within fifteen (15) feet of a public right-of-way line. Minimum buffer widths shall be established in accordance with the following schedule:
1.
When a B-1 or O-I District abuts a R-1 or R-2 District, a setback of forty (40) feet shall be provided, including a thirty (30) foot buffer, except Residential use in the B-1 or O-I District would be subject to setbacks provided in Section 2001.
2.
When a B-2 District abuts a R-1 or R-2 District, a setback of sixty (60) feet shall be provided, including a fifty (50) foot buffer, except Residential use in the B-2 District would be subject to setbacks provided in Section 2001.
3.
When an I District abuts a R-1, R-2, R-3, MHP, or PUD District, a setback of one hundred (100) feet shall be provided, including a ninety (90) foot buffer
It shall be the responsibility of the developer, upon installation of utilities, streets, etc., to designate required buffers on construction plans and to ensure that existing vegetation within required buffers is maintained unless disturbance of the buffer is approved by the Zoning Administrative Officer as specifically provided herein.
It shall be the responsibility of the property owner of the lot to be used or built upon to maintain existing vegetation within required buffers and to replant where sparsely vegetated or install fencing, walls, etc. as approved to achieve the desired screening. Installation of vegetation, fencing, walls, etc. may be phased in accordance with approved building plans.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2103. - Buffer specifications.
All buffers required by these regulations shall conform to the following provisions:
1.
Utilization will be made of existing vegetation where it has been determined by the Zoning Administrative Officer that existing vegetation is appropriate for inclusion within the buffer, or when found not appropriate, shall be supplemented with approved, additional plantings.
2.
Disturbance or modification of the natural topography of the land for property improvements or during construction and maintenance activities is to be minimized, except in the following instances that have been approved by the Zoning Administrative Officer:
a.
Where the land must be cleared and graded as required by the application of laws to prevent soil erosion or sedimentation;
b.
Where regulations for storm drainage improvements require alteration of the topography;
c.
Where necessary to prevent a nuisance, or to thin natural growth that has become so dense as to prohibit normal growth, or to remove diseased, misshapen, or dangerous or decayed growth;
d.
Where access and/or utility crossings have been approved.
3.
Vegetation, except for ground covers, shall be of such type as to be a height of not less than three (3) feet when planted and which will, in normal growth, attain a height of six (6) feet within three (3) years; provided, however that such plant materials can form a hardy screen, dense enough and high enough both to interrupt vision and to reduce the transmission of sound.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2104. - Landscape strip required.
All properties except those containing single-family detached or attached residences and two-family residences shall provide a landscape strip, as defined by these regulations, often (10) feet in width along the developed portion abutting any public street and five (5) feet in width along the developed portion of side property lines. A five (5) foot wide landscape strip along a side property line may be relocated if required to share a common access drive along said side property line.
It shall be the responsibility of the property owner of a lot to be used or built upon to install the required landscape strips. Installation of landscape strips may be phased in accordance with approved building plans.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2105. - Acceptable plant materials.
In those instances where the natural vegetation and topography are insufficient to achieve the desired level of screening required by these regulations, a planted buffer shall be provided and shall consist of plant material of such growth characteristics as will provide an acoustical and visual screen. Planted materials shall conform to the following specifications:
1.
Trees used for screening purposes should be native to the region and shall not be deciduous. Trees should be at least three (3) feet in height above the ground when planted or which will, in normal growth, attain a height of six (6) feet within three (3) years.
2.
Shrubs that are used to form hedges shall not be deciduous. Shrubs shall be a least three (3) feet above the ground level when planted. They should be spaced in such a way that, when mature, they will form a continuous visual screen (hedge) that is at least six (6) feet in height.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2106. - Maintenance of buffers and landscape strips.
The owner and/or user of the property shall be responsible for installing the trees and shrubs and maintaining them in a neat and orderly appearance. This includes irrigating or watering, fertilizing, pruning and replanting where necessary. In cases of non-compliance, the Building Official shall be empowered to take action as provided by law to ensure maintenance of all plant and landscaping materials.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2107. - Tree protection zone.
Within the tree protection zone, as defined by these regulations, no more than twenty (20%) percent of the mature, healthy, existing trees, as defined, shall be cut, damaged, or destroyed; provided, however that additional trees may be removed upon approval by the Zoning Administrative Officer if one (1) tree is planted and maintained for each one (1) tree removed.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2108. - Parking area landscaping requirements.
Interior landscaping for parking areas shall be required for parking lots designed and constructed for more than five (5) or more spaces. Such interior landscaping shall not be less than ten (10%) percent of the total area devoted to parking on the lot, and no parking space shall be located more than one hundred (100) feet from a landscape island or other area devoted to landscaped open space.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2109. - Screening of outdoor storage areas required.
In districts where permitted, all outside storage areas shall be screened from all public rights-of-way with a 100% opaque, solid wooden fence or masonry wall at least six (6) feet in height, or a densely planted landscape strip of at least ten (10) feet in width. The insertion of plastic or metal weaving into chain link fences shall not be considered to comply with the requirements of this Section. Access driveways serving open storage areas shall be provided with a gate that is 100% opaque. In cases where the Governing Body approves an open storage area as a conditional use in the B-2, Highway Business District, the Governing Body may require screening in addition to the requirements of this Section.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2110. - Screening of dumpsters required.
In all zoning districts, dumpsters and trash receptacles shall be screened from view from all public rights-of-way, either by locating said dumpsters to the rear of a building, or by erection of a 100% opaque, solid wooden fence or masonry wall on three (3) sides of said dumpster.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2111. - Administration and enforcement.
Where buffers are required, the applicant must demonstrate, whether on appropriate plans or after inspection by the Zoning Administrative Officer, that the plant materials in place or installed achieve the required screening. All site plans, plot plans and grading and drainage plans shall indicate all required buffers and landscape strips.
Required buffers, landscape strips, and parking lot landscaping shall be installed in accordance with approved plans prior to the issuance of a Certificate of Occupancy. However, owing to special conditions or exceptional circumstance such as drought, said buffers and landscape strips may be installed within ninety (90) days after the issuance of a Certificate of Occupancy, provided that a letter of credit, escrow money, performance bond or other approved alternative is submitted to the Zoning Administrative Officer prior to the issuance of a Certificate of Occupancy
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
