ARTICLE P. - EXTERIOR FINISHING STANDARDS AND REQUIREMENTS—RESIDENTIAL DWELLINGS[2]

Footnotes:
--- (2) ---
Editor's note— Ord. No. 22-14 , § 1(Exh. A), adopted Sept. 6, 2022, repealed the former Art. P, §§ 8-2-160—8-2-162, and enacted a new Art. P as set out herein. The former Art. P pertained to similar subject matter and derived from Ord. No. 07-20, § 1, adopted May 7, 2007.

Sec. 8-2-160. - Single-family residential dwellings—Exterior construction standards and requirements.
(a)
Exterior finishing requirements. All new construction for single-family residential dwellings in the City of Forest Park, Georgia, whether in a new subdivision or in infill lots in the city, shall have exterior finishing on the front side that is fully constructed of brick, stone, stucco, cement fiber board, wood siding or similar material approved by the planning director.
(b)
Windows, doors, etc. The requirement in subsection (a) of this section shall not prevent or prohibit the construction of windows, doors, shutters, or similar architectural features, if approved by the city.
(c)
Prohibited materials. Metal siding, vinyl siding, metal canopies and smooth faced concrete masonry units are prohibited.
(d)
Exceptions.
(1)
Vinyl products shall only be used for soffits, eaves, and fascia of residential structures.
(2)
Vinyl may be used to replace existing damaged vinyl only.
(e)
Architectural design features. Each single-family attached and/or detached dwelling unit shall utilize at least four (4) of the following architectural design features:
(1)
Dormers.
(2)
Bay or bow windows.
(3)
Garage setback at least twenty (20) feet behind the facade of the principal structure.
(4)
Side- or rear-entry garage.
(5)
Covered porch entry (covered front porch).
(6)
Transoms and sidelights.
(7)
Off-sets on building face or roof (minimum two (2) feet).
(8)
A roof with a pitch greater than 8:12 and a minimum overhang of twelve (12) inches on all sides.
(9)
Columns, pillars, or posts on facade.
(10)
Shutters and other window decorations.
(11)
Arched or Palladian windows.
(12)
Hip and gable rooflines.
( Ord. No. 22-14 , § 1(Exh. A), 9-6-2022)
Sec. 8-2-161. - Multifamily residential dwellings and condominiums—Exterior construction standards and requirements.
(a)
Exterior finishing requirements.
(1)
All new construction for multi-family residential and condominium dwellings in the City of Forest Park, Georgia, shall have exterior finishing on at least fifty (50) percent of each exterior wall that is constructed of brick, brick veneer, concrete masonry veneer, cemplank shakes, wood shakes, stone, or stucco, or a combination of thereof.
(2)
Fiber cement/cementitious siding must be 5/16-inch nominal thickness with a thirty-year warranty to be provided by the manufacturer.
(3)
Natural or manufactured stone.
(4)
All exterior trim, including fascia and soffits, window and door trim, gable vents, etc., must also be constructed of no or very low maintenance materials. Wood fascia must be covered completely with prefinished aluminum with a minimum thickness of .024 inches. Where exterior brick does not extend to an eve line, aluminum flashing shall be installed that extends a minimum of two (2) inches under/behind the above exterior wall surface material and over the outer edge of the brick to prevent water penetration.
(5)
The use of architectural details such as window shutters, window pediments, door pilasters, gable pediments, wrought iron railings, and decorative lighting, are strongly encouraged. Exterior finish materials, architectural detailing, and decorative trim shall be approved by the zoning administrator as part of the plan book. Any building elevation that is visible from the street must be consistent with the front facades. Structures utilizing a single exterior finish material of brick, stone, or stucco shall be permitted with approval from the planning director.
(b)
Windows, doors, etc. The requirement in subsection (a) of this section shall not prevent or prohibit the construction of windows, doors, shutters, or similar architectural features, if approved by the city.
(c)
Prohibited materials. Metal siding, vinyl siding, wood siding, and metal canopies units are prohibited.
(d)
Exceptions.
(1)
Vinyl products shall only be used for soffits, eaves, and fascia of residential structures.
(2)
Vinyl may be used to replace existing damaged vinyl only.
( Ord. No. 22-14 , § 1(Exh. A), 9-6-2022)
Sec. 8-2-162. - Exterior stucco standards.
All buildings utilizing stucco exterior finishings pursuant to sections 8-2-160 or 8-2-161 must have 7/16 OSB sheathing or 7/16 Densglass Silver Residential sheathing under the stucco on all exterior walls using stucco. Stucco must be Portland cement-based stucco, installed over wire lathe with ten-pound felt. Porous filters, such as expanded plastic or foam, may not be added to any exterior stucco.
( Ord. No. 22-14 , § 1(Exh. A), 9-6-2022)
