ARTICLE V. - SPECIAL REQUIREMENTS FOR CERTAIN USES

Sec. 54-314. - Home occupations.
A home occupation as defined by this chapter shall be governed by the following requirements:
(1)
Only residents of the dwelling may be engaged in the home occupation.
(2)
The home occupation shall be clearly incidental to the residential use of the dwelling and shall not change the essential residential character of the building.
(3)
No display of products shall be visible from the street, and only products produced on the premises may be sold on the premises.
(4)
Only one point of business sign, not exceeding two square feet in size, motionless, nonlighted, and attached to the principal building, shall be permitted, and no advertising signs shall be permitted.
(5)
Use of the building for this purpose shall not exceed 25 percent of one floor of the principal building.
(6)
No internal or external alterations inconsistent with the residential use of the building shall be permitted.
(7)
The occupation shall not constitute a nuisance in the neighborhood.
(8)
If the home occupation involves the use of an accessory building the same shall be granted only in the event that it is clearly evident that the use is incidental to the residential character of the property all upon condition that sales not be conducted upon the premises. An accessory building used in conjunction with a home occupation should be located, designed, and generally follow normal and typical patterns of residential accessory buildings. The size of the accessory building used for a home occupation may not exceed 25 percent of the floor area of the principal building.
(9)
Instruction in music and similar subjects shall be limited to two students at a time.
(10)
Vehicles used primarily as passenger vehicles only shall be permitted in connection with the conduct of the customary home occupation.
(11)
No more than four nontransient guests may be boarded at any one time as a customary home occupation.
(12)
The following and similar uses may be considered home occupations: accountant, addressing service, architect, art instructor, beauty shop (with no more than one chair), drafting, dressmaking, insurance agent, manufacturing agent, music teacher, notary public, photography, real estate agent, and tax consultant. The following and similar uses are considered appropriate uses of accessory buildings: artist or craftsman's work area, photographic darkroom, clock repair shop, gunsmith shop, laboratory, potters shop, basket weavers shop, and similar uses.
(13)
Not more than six children may be kept in the home as a nursery as a customary home occupation.
(14)
Newspaper or periodical publishing may be permitted as a special exception home occupation by the City Council upon application therefor provided such home occupation is limited to activities which only constitute newspaper or periodical publishing, does not involve presswork, sales or distribution, and otherwise meets the criteria for a permitted home occupation.
(Code 2003, § 8-3081; Ord. of 2-7-2000, § 9-1)
Sec. 54-315. - Rural home occupations.
This provision is designed to provide for the reasonable development of rural home occupations as an accessory use to rural residential uses. Uses of property for the rural home occupation shall be governed by the following requirements:
(1)
Property for which an RHO is proposed shall be owner occupied and shall contain a minimum of five acres of land in the S-A zoning district and shall directly abut an arterial or collector roadway as defined herein.
(2)
The accessory structure shall meet the principal building setback lines of its respective zoning district. All building code separation requirements shall apply.
(3)
Any rural home occupation shall be operated in such a manner as to not be a nuisance to adjacent residential structures. This shall apply to noise, lighting, traffic, and unsightly outside storage.
(4)
No display of products shall be allowed in the front yard.
(5)
Only one sign advertising the accessory use, not exceeding eight square feet in size, motionless and non-lighted, shall be permitted in the conduct of the proposed RHO use.
(6)
All businesses operating under this chapter shall provide designated off-street parking for customers of said RHO.
(7)
The use of an accessory building for retail or wholesale sale shall be limited to items manufactured, grown, or processed on said premises.
(8)
Any occupation that meets the intent of this chapter may be considered for a special exception within an S-A District as described herein. This may include, but is not limited, to the following: catering service, printing or engraving shop, flower shop, furniture upholstery shop, locksmith, personal service shops, photography studio, specialty shops as they relate to the sale of items manufactured therein, and service oriented commercial activities associated with agricultural uses.
(Code 2003, § 8-3082; Ord. of 2-7-2000, § 9-2)
Sec. 54-316. - Residential group development projects.
The regulations as set forth in this section shall apply to all lands and structures intended primarily to provide for owner occupied residential units, including condominiums, single-family attached dwelling units (with or without condominium ownership), patio homes, zero lot line, and other similar housing types. Multiple buildings may be allowed on a single lot in these development types.
(1)
A condominium is defined as a type of residential development which includes individually owned dwelling units in a multifamily structure, combined with joint ownership of common areas of the buildings and grounds.
(2)
Single-family attached dwellings are a type of residential development which includes a dwelling unit on a subdivided lot individually owned, though attached by a common party wall to another dwelling unit on an adjacent lot. This housing type may also include provisions for joint ownership of common areas of certain buildings and grounds.
(3)
Two parking spaces shall be provided for each dwelling unit proposed as a part of any residential group development project.
(4)
Residential group development projects shall conform to the building height restrictions listed in Section 54-223.
(5)
Each dwelling unit proposed as part of a residential development project shall meet the minimum floor area requirements listed in Section 54-223, as well as limitations for efficiency and one bedroom units as part of the total project development.
(6)
No building containing single-family attached units shall contain more than ten units. There shall be a firewall with a four-hour rating between every unit. Each dwelling unit shall be serviced by separate utilities.
(7)
Minimum lot areas for all residential group development projects shall meet the minimum lot area requirements listed in Section 54-223.
(8)
The following minimum lot area shall be left in a natural state as open space or be developed as park and/or open-air recreation facilities. Required yard areas shall not be credited towards this minimum open space allocation:
a.
Single-family attached dwelling units: 500 square feet per dwelling unit on all projects one acre and over. (In addition to required square footage per dwelling unit.)
b.
Condominium: 500 square feet per dwelling unit (in addition to required square footage per dwelling unit).
(9)
Applications for a building permit for all residential group development projects shall be subject to the provisions of Section 54-345(3). In addition, if the project proposes the subdivision of the tract into various individual lots and common area, a copy of the planned subdivision must be supplied to the Zoning Administrator. Said plat shall be properly recorded in the land records of the County prior to granting of the respective building permit.
(10)
Due to the design needs of this development type, standard lot sizes and interior setback lines shall not apply. However, zoning district-mandated front, side and rear yard setbacks shall apply to all lots where these developments abut traditional development types or newly developed public streets.
(Code 2003, § 8-3083; Ord. of 2-7-2000, § 9-3)
Sec. 54-317. - Multifamily development projects.
Multifamily development projects are subject to the following requirements:
(1)
Multiple buildings may be allowed on a single lot in these development types.
(2)
Two parking spaces shall be provided for each dwelling unit proposed as part of any multifamily development project.
(3)
Multifamily development projects shall conform to the building height restrictions and yard setback requirements listed in Section 54-223.
(4)
Each dwelling unit proposed as part of a multifamily development project shall meet the minimum floor area requirements listed in Section 54-223, as well as limitations for efficiency and one bedroom units as part of the total project development.
(5)
All multifamily development projects shall leave 500 square feet per dwelling unit in a natural state as open space or be developed as park and/or open air recreation facilities. This requirement is in addition to the required square footage per dwelling unit.
(Code 2003, § 8-3084; Ord. of 2-7-2000, § 9-4)
Sec. 54-318. - Manufactured housing parks.
Manufactured housing parks are allowed provided the following requirements are met:
(1)
The minimum size shall be five acres.
(2)
Setbacks shall be as described in Section 54-223.
(3)
Each manufactured home shall be connected to an approved water and sewer system. Within the City, no manufactured housing park shall be developed without public water and sewer.
(4)
The minimum area per manufactured home space shall be not less than 5,000 square feet with a minimum individual space width of 50 feet.
(5)
All manufactured home spaces or other park sites devoted to accessory uses (such as management offices, laundry facilities, recreation buildings, etc.) shall have an interior setback of ten feet from its respective area boundaries. Residential accessory buildings associated with dwelling units shall be set back five feet from its respective space boundaries, limit of one accessory building per manufactured home space.
(6)
A 20-foot interior roadway or drive, paved and properly drained, shall serve all manufactured home spaces and shall be drained so as to prevent damage to adjoining property, public or private.
(7)
Each manufactured home space and accessory use space shall be clearly defined by means of concrete, steel or iron pipe markers placed at all corners.
(8)
At least 200 square feet per manufactured home space (not to be a part of the required manufactured home space) shall be provided in one or more locations for community playground and recreation purposes.
(9)
All property lines of a manufactured housing park which abut any zoning district other than another MHP District shall be screened as described in Section 54-23.
(10)
Prior to development or expansion, all manufactured housing park developments must be submitted and reviewed by the Ocilla/Irwin County Planning Advisory Commission and must receive their approval prior to the issuance of any building permits. Proper utility plans, drainage plans and road development plans, drawn to City specifications, shall accompany the proposed site plan for City staff review prior to submission to the Planning Advisory Commission.
(11)
No manufactured housing park shall be occupied by a greater number of manufactured homes than that authorized in the approved site plan. No manufactured housing park shall be enlarged or expanded unless a separate manufactured housing park site plan has been reviewed and approved by the Planning Commission.
(12)
All manufactured homes in a mobile home park shall be installed and anchored as per the State Minimum Requirements, properly underpinned or skirted within 45 days with material comparable to the proposed manufactured home.
(Code 2003, § 8-3085; Ord. of 2-7-2000, § 9-5)
Sec. 54-319. - Junkyard buffers.
An eight-foot fence and eight-foot-wide buffer strip, developed in accordance with Section 54-23, shall be erected along all road frontages and all sides of any junkyard.
(Code 2003, § 8-3086; Ord. of 2-7-2000, § 9-6)
Sec. 54-320. - Limitations on livestock and fowl in the Suburban Agricultural District.
Any livestock (horses, cows, goats, sheep, ponies, donkeys and other domestic livestock) may be kept, raised or bred provided that only two such animals shall be permitted for each one acre of open pastureland. All such livestock shall be contained adequately by suitable fencing within the specific property, and any buildings or structures for livestock shall be setback at least 100 feet from all property lines. The commercial keeping or raising of fowl or the operation of a feedlot is expressly prohibited because of their potential negative impact on adjacent urban use districts.
(Code 2003, § 8-3087; Ord. of 2-7-2000, § 9-7)
Secs. 54-321—54-343. - Reserved.
