ARTICLE II. - PROCEDURES AND REQUIREMENTS FOR SUBDIVISION PLAT AND LAND APPROVAL

Sec. 44-41. - Preapplication conference.
Whenever the subdivision of a tract of land is proposed to be made, or when land is proposed to be developed, the subdivider or land developer is encouraged (but not required) to consult early and informally with the zoning administrator. The subdivider or land developer may submit sketch plans and data showing existing conditions within the site and its vicinity, and the proposed layout and development of the subdivision or parcel of land. This preapplication conference is intended to permit an early evaluation of the subdivider's or land developer's intentions and coordination with the comprehensive plan of the city, and to inform and provide the subdivider or land developer with the necessary regulations in order to properly accomplish the proposed project. No fee shall be charged for the preapplication review, and no formal application shall be required.
(Ord. No. 221, § 301, 4-11-1994)
Sec. 44-42. - Application for preliminary plat approval.
This section shall apply only to applicants for subdivision plat approval not exempted as a minor subdivision. Following the preapplication review of a subdivision involving the grading of land and/or the installation of roads, streets, utilities and/or other improvements, the subdivider shall submit to the zoning administrator, the following:
(1)
An application form furnished by the administrative officer;
(2)
Five copies of the preliminary plat, with appropriate information required by this chapter, provided, however, that the zoning administrator may require more or less copies depending upon the nature and extent of review;
(3)
An application fee, as established by the city council from time to time.
(Ord. No. 221, § 302, 4-11-1994)
Sec. 44-43. - Preliminary plat specifications.
(a)
The preliminary plat shall be drawn at a suitable scale (one inch equals 100 feet, unless another scale is approved) on a sheet size not exceeding 24 inches by 36 inches. If the complete plat cannot be shown on one sheet at this size and scale, it may be shown on more than one sheet with an index map on a separate sheet of the same size.
(b)
The preliminary plat shall include the following information; provided, however, that the zoning administrator may waive individual information requirements established in this section where, in his opinion, said information is not essential to the review process:
(1)
Ground elevations at contour intervals of not less than five feet, based on sea level datum and a tie to one or more benchmarks (if available within 1,000 feet);
(2)
Name, address and telephone number of owner of record and of subdivider;
(3)
Proposed name of subdivision, its acreage, and location by land lot and district;
(4)
North arrow, graphic scale and date;
(5)
Vicinity map showing location of subdivision;
(6)
Exact boundary lines of the tract by bearings and distances, as certified by a state registered land surveyor on the plat or by reference to a certified boundary survey, including all adjacent land owned by the subdivider;
(7)
Names of owners of record of adjoining land;
(8)
Existing streets, utilities and easements on or adjacent to the tract;
(9)
Other physical features of the land such as streams and direction of flow, lakes, floodplains, bodies of water, and existing buildings;
(10)
Proposed layout including streets, alleys, street names, right-of-way widths, lot lines with approximate dimensions and acreage, easements, land to be reserved or dedicated for public uses, and any land to be used for purposes other than single-family dwellings;
(11)
All lots shall be numbered sequentially, regardless of number of phases or sections;
(12)
Provisions for water supply, sewage disposal and storm drainage;
(13)
Location and results of percolation tests or soils information for lots which will not be served by a public or community sanitary sewage system, as required by the county health department;
(14)
Existing and proposed covenants and restrictions;
(15)
Name, address and phone number of person to contact.
(Ord. No. 221, § 303, 4-11-1994)
Sec. 44-44. - Transmittal of preliminary plat to review agencies.
At his discretion, the zoning administrator may transmit for review and comment a copy of the plat to applicable internal and external review agencies, such as, but not limited to:
(1)
The city engineer;
(2)
The city attorney;
(3)
The city police chief;
(4)
The city building inspector;
(5)
The county health department; and
(6)
The state department of natural resources.
(Ord. No. 221, § 304, 4-11-1994)
Sec. 44-45. - Action on the preliminary plat.
Within six working days of receipt of the completed application for preliminary plat, the zoning administrator shall submit to the development review committee for approval of the plat as submitted and notify the applicant in writing thereof, or recommend disapproval of the plat along with reasons for said disapproval made in writing to the applicant. Approval of the preliminary plat shall not constitute approval of the final plat; rather, it shall be approval of the layout submitted on the preliminary plat to be used as a guide for the preparation of the final plat. Preliminary plat approval shall continue in effect for a period of one year. When submitted as part of the site civil development plans, the preliminary plat shall not require a separate application or separate approval apart from the site development plans. When approved as part of the site civil plans, the preliminary plat approval shall continue in effect for a period of two years.
(Ord. No. 221, § 305, 4-11-1994; Ord. No. 2020-CO-12-810, § 12, 3-8-2021)
Sec. 44-46. - Waiver of preliminary plat approval.
Where a proposed subdivision does not involve the grading of land prior to sale or the installation of streets and/or utilities, or which does not require storm drainage facilities or other such improvements, the zoning administrator may waive the requirement of a preliminary plat.
(Ord. No. 221, § 306, 4-11-1994)
Sec. 44-47. - Submittal of plans for utilities and streets.
(a)
This section applies to all applicants for preliminary subdivision plat and land development approval. Prior to the issuance of a development permit as required by section 54-109, three copies of plans and specifications for the improvements shall be submitted to the zoning administrator. Said plans shall consist of the following:
(1)
Utility plans providing information regarding the location, size, length and type of all water, sanitary sewer and storm drainage improvements showing their minor structures, appendages and connections with existing systems, and the approximate location of service lines from the lots to the proposed utility lines.
(2)
Street plans providing information as follows: street profiles and cross section as required by the zoning administrator type of subbase, type of paving base, type curb and gutter; type street paving, and type improvements within the street right-of-way outside of the paved area.
(3)
A grading plan and soil sedimentation and erosion control plan.
(b)
In addition to utility, street, grading and erosion control plans, the zoning administrator and/or city engineer may require a hydrological study or other engineering studies as may be necessary, depending upon the scope and extent of the development project.
(Ord. No. 221, § 307, 4-11-1994)
Sec. 44-48. - Review and approval of development plans.
This section shall apply to all applicants with approved preliminary plats and all applicants for land development approval, unless specifically exempted as provided in this chapter or chapter 54, zoning. Upon receipt of the completed development plans by the zoning administrator, he shall initiate review and may forward a copy of said plans to the city engineer for review and comment. The zoning administrator shall have 20 working days to review and approve or disapprove the plans. If approved, the city's designee shall provide his signature on said approved plans indicating said approval, retain two copies of said plans for his records, and return one copy to the applicant.
(Ord. No. 221, § 308, 4-11-1994; Ord. No. 2020-CO-12-810, § 13, 3-8-2021)
Sec. 44-49. - Issuance of development permit.
Upon receipt and approval of development plans, the zoning administrator shall issue a development permit in accordance with established procedures maintained by and available from the city clerk. Issuance of a development permit shall constitute authorization to begin land disturbing activities and the construction of improvements.
(Ord. No. 221, § 309, 4-11-1994)
Sec. 44-50. - Application for final plat approval.
This section shall not apply to land developers not requiring final subdivision plat approval. Upon completion of required improvements, the subdivider may then submit an application for final plat approval, which shall consist of the following:
(1)
An application form furnished by the zoning administrator;
(2)
Copies of the final plat, as established by the zoning administrator, with appropriate information required by this chapter, one digital copy and one time-stable, reproducible film copy or original of the plat;
(3)
An application fee, as established by the city council from time to time;
(4)
A letter from the applicant's engineer that all required improvements have been constructed and meet the specifications of the city;
(5)
A letter from the applicable electricity service company may be required indicating that service points for individual lots and streetlights, if provided, have been installed;
(6)
A performance surety in the form of cash deposited with the city or of an irrevocable letter of credit issued by an acceptable surety licensed to do business in the State of Georgia, for those required improvements not yet completed (e.g., pavement topping), if such delay in completion of required improvements is permitted by the zoning administrator. Said performance surety shall be:
a.
Conditioned upon the faithful performance by the subdivider or developer of all work required within a specified time. All improvements covered under the performance surety shall be completed within 24 months of approval of the final subdivision plat.
b.
Payable to, and for the indemnification of, the city;
c.
In an amount equal to the cost of construction of the required improvements not yet completed, plus an additional ten percent of said costs, as approved by the zoning administrator;
d.
With surety by a company entered and licensed to do business in the state; and
e.
Approved as to form and content by the city attorney.
(7)
A maintenance surety in the form of cash deposited with the city or of an irrevocable letter of credit issued by an acceptable surety licensed to do business in the State of Georgia as approved by the city attorney to ensure maintenance of required improvements in the subdivision for a period of one year, payable to the city and in the amount of ten percent more than the city's estimate of actual construction cost. If, upon being notified of failure of required improvements, the subdivider does not correct the deficiency or commence work within ten days of notice, it shall be deemed to be a failure on the surety, and the city shall have the right to make the necessary repairs, either by public work or by private contract, and the surety shall be liable for the full amount of the cost of said repairs, as determined by the city;
(8)
As-built drawings acceptable to the city engineer of:
a.
All streets showing the planned and actual location of all utility lines;
b.
Centerline profile of all streets with final grades; and
c.
Horizontal and vertical alignment including profiles and invert elevations of all storm and sanitary sewer lines; provided, however, the zoning administrator may waive this final plat submittal requirement for a set period of time if improvements and/or as-built drawings are not complete, subject to subsequent denial of building permits should said drawings not be submitted.
(Ord. No. 221, § 310, 4-11-1994; Ord. No. 2020-CO-12-810, § 14, 3-8-2021)
Sec. 44-51. - Final plat specifications.
(a)
The final plat shall be drawn in permanent ink at a suitable scale (one inch equals 100 feet, unless another scale is approved) on a sheet size of 17 inches by 22 inches or otherwise approved by the zoning administrator. If the complete plat cannot be shown on one sheet at this size and scale, it may be shown on more than one sheet with an index map on a separate sheet of the same size.
(b)
The final plat shall include the following information:
(1)
Name of the subdivision and street names.
(2)
Name, address and phone number of owners of record.
(3)
Name, address and phone number of subdivider.
(4)
Date of plat drawing, graphic scale, north point, notation as to the reference of bearings to magnetic, true north, or grid north, and indication whether bearings shown are calculated from angles turned or taken from compass readings.
(5)
Location of tract (land district and land lot), location sketch and acreage.
(6)
Courses and distances to the nearest existing street intersections or bench marks or other recognized permanent monuments.
(7)
Exact boundary lines of the tract, to be indicated by a heavy line, giving distances to the nearest one-hundredth-foot and bearings to the nearest second, determined by an accurate field survey.
(8)
Street centerlines showing angles of deflection and standard curve data of intersection, radii, length of tangents and arcs, and degree of curvature with basis of curve data.
(9)
Municipal, county and land lot lines accurately tied to the lines of the subdivision by distance and angles when such lines traverse or immediately adjoin the subdivision.
(10)
Exact locations, right-of-way and pavement widths, and names of all streets and alleys within and immediately adjoining the subdivision.
(11)
Lot lines with dimensions to the nearest one-hundredth-foot, necessary internal angles, arcs, and chords and tangent or radii of rounded corners.
(12)
The acreage or square footage of the area of each lot, and the total number of lots in the subdivision.
(13)
Front yard/building setback lines with dimensions.
(14)
Lots numbered in numerical order, regardless of the number of phases or sections.
(15)
Accurate location, material and description of monuments and markers.
(16)
Location, dimensions and purposes of easements and areas to be reserved or dedicated for public use.
(17)
A statement, either directly on the plat or in an identified attached document of private covenants, if any.
(18)
Areas within the intermediate regional flood (IRF) (i.e., 100-year flood) shall be determined by a professional engineer and shall be shown on the plat, including location and elevation of the intermediate regional flood.
(19)
Names of record of owners of adjoining unplatted land, and the name of subdivisions and blocks and lot numbers for adjoining platted land.
(20)
The following certifications (forms for which are maintained and available from the city clerk):
a.
Final surveyor's certificate.
b.
Owner's certificate of ownership and dedication to public use streets, alleys, easements and other public areas, signed by the owner.
c.
Certification by the county health department that the plat and proposed water and sewage facilities are acceptable.
d.
The zoning administrator's signature indicating approval of the final plat.
e.
Certificate of recording.
(21)
A statement that final plat approval does not constitute acceptance of public streets, easements and areas.
(Ord. No. 221, § 311, 4-11-1994)
Sec. 44-52. - Action on the final plat.
Upon receipt of the completed final plat application materials, the zoning administrator shall transmit for review and comment a copy of the plat to applicable review agencies. The reviewing agencies shall have 30 days to recommend approval or disapproval of the plat. Upon recommendation of approval by the reviewing agencies, if approved, the signature of the zoning administrator or designee shall be placed on the originals of the plat and his signature shall constitute the city's final approval. However, all public streets, rights of ways and public easements must be accepted into the city street maintenance program upon an affirmative vote by the city council.
(Ord. No. 221, § 312, 4-11-1994; Ord. No. 2020-CO-12-810, § 15, 3-8-2021)
Sec. 44-53. - Combinations and replats.
Where separate lots of land are proposed to be combined or replatted, but where the resulting number of lots is not increased, they shall be submitted to the zoning administrator as a final plat for review, approval and recording. Said plat shall contain all information and certificates as specified in section 44-51; provided, however, the zoning administrator may waive certain of these specific information requirements if determined not to be essential. Such combinations and/or replats shall indicate in writing on the plat in a conspicuous place, numbered and dated consecutively, of all revisions to the plat. Said plat shall require a fee as a final plat.
(Ord. No. 221, § 313, 4-11-1994)
Sec. 44-54. - Recording of final plats.
Upon approval and without undue delay, the zoning administrator shall have the final plat recorded in the records of the clerk of the superior court of the county, and a time-stable, reproducible film copy or original filed in the office of the zoning administrator. Said copy of the original shall not require an engineer or surveyor's stamp to protect the liability of the professionals involved. Recording fees shall be included in the fee charged for final plats and therefore paid by the city. The clerk of the superior court shall indicate on the filed copy, as well as the time-stable, reproducible film copy or original, the book and page number in the county records where the final plat is recorded. Recordation of a final plat constitutes approval to begin the sale or transfer of subdivision lots.
(Ord. No. 221, § 314, 4-11-1994)
Sec. 44-55. - Assignment of street addresses.
Upon recording of a final plat, the zoning administrator shall assign each lot a street address and shall note each address in permanent ink on the time-stable, reproducible film copy or original.
(Ord. No. 221, § 315, 4-11-1994)
Sec. 44-56. - Distribution of recorded final plat.
(a)
The final plat is a source of essential information to tax officials, public safety officials, and utility officials, among others. The zoning administrator shall be responsible for ensuring that each agency listed in this section receives a copy of the final recorded plat with assigned addresses:
(1)
The county tax commissioner.
(2)
The county tax assessor.
(3)
The county health department.
(4)
The city police department.
(5)
The city building inspector.
(6)
The city engineer.
(7)
The United States Postal Service (local postmaster).
(b)
At the discretion of the zoning administrator, additional agencies or persons may be added to the list in subsection (a) of this section.
(Ord. No. 221, § 316, 4-11-1994)
Sec. 44-57. - Acceptance of public streets and improvements.
At any date after one year has passed since the date of final plat approval, the subdivider or land developer may petition the city council, in writing, to accept public streets and other improvements, in whole or in part, within the subdivision. Said improvements shall not be accepted for maintenance until approved by the city council. Any instrument of financial guarantee shall be returned to the subdivider upon acceptance of public streets and improvements by the city council.
(Ord. No. 221, § 317, 4-11-1994)
Secs. 44-58—44-87. - Reserved.
