ARTICLE VIII. - DIMENSIONAL REQUIREMENTS IN ZONING DISTRICTS
EXPAND
Minimum Lot Size Minimum Yard Size Minimum Setback from Street Center Line
Zoning District Per Family (sq.ft.) Width (ft.) Depth (ft.) Front Side Rear Major Street Other Street
R-1 Residential 44,000 150 250 50 20 50 100 80
R-2 Residential
One Family 15,000 90 150 40 10 40 90 70
R-3
Two Family 9,000 100 150 40 10 40 90 70
Multifamily 7,000 120 180 50 15* 50 100 80
R-4
Two Family 9,000 100 150 40 10 40 90 70
Multifamily
(Complexes) 7,000 120 180 50 15* 50 100 80
M-H-P Mobile Home Park
Residential
One Family 9,000 75 125 30 8 30 80 60
Two Family 7,000 85 125 30 8 30 80 60
Three or more Families 5,000 100 150 40 10 40 90 70
Mobile Home Park 5,000 400 800 100 100 100 150 130
C-1 Local Commercial
Businesses NA NA NA 50 0** 25 100 85
C-2 General Commercial
Businesses NA NA NA 0 0** 0** NA NA
M Industrial NA 150 200 50 15 25 100 85
NA- Not Applicable
* When abutting R-1 and R-2 District boundaries the side yard shall be Fifty feet (50").
** Ten feet (10') when adjacent to F-r pr M-H-P Zoning Districts.
Accessory Bldg. 10 ft from rear property lines.
