ARTICLE XVIII. - OFF-STREET PARKING AND LOADING REQUIREMENTS

Sec. 70-596. - Scope of provisions.
Except as provided in this section, no application for a building permit shall be approved unless there is included with the plan for such building, improvements, or use, a plot showing the required space reserved for off-street parking and service purposes. Occupancy shall not be allowed unless the required off-street parking and service facilities have been provided in accordance with those shown on the approved plan.
(Ord. of 12-2-2002, § 70-596)
Sec. 70-597. - Parking spaces may not be reduced.
Off-street parking spaces shall not be reduced below the minimum required number for the use or facility to which they are assigned unless approved by the planning director.
(Ord. of 12-2-2002, § 70-597)
Sec. 70-598. - Drainage, construction and maintenance.
All off-street parking, loading and service areas shall be constructed according to chapter 38 of this Code.
(Ord. of 12-2-2002, § 70-598)
Sec. 70-599. - Parking area design.
Parking areas shall be constructed according to chapter 38 of this Code.
(Ord. of 12-2-2002, § 70-599)
Sec. 70-600. - Joint parking facilities.
Two or more neighboring uses, of the same or different types may provide joint facilities provided the number of off-street parking spaces are not less than the sum of the individual requirements.
(Ord. of 12-2-2002, § 70-600)
Sec. 70-601. - Pavement markings.
Each off-street parking space shall be clearly marked according to chapter 38 of this Code.
(Ord. of 12-2-2002, § 70-601)
Sec. 70-602. - Location of parking space for other land uses.
The off-street parking facilities required for all other uses shall be located on the lot or within 1,000 feet of the permitted use requiring such off-street parking, such distance to be measured along lines of public access to the property between the nearest point of the parking facility to the building to be served.
(Ord. of 12-2-2002, § 70-602)
Sec. 70-603. - Off-street parking requirements.
In all zoning districts off-street parking spaces for the storage and parking of self-propelled motor vehicles for the use of occupants, employees and patrons of the buildings hereafter erected, or enlarged after the effective date of the zoning ordinance shall be provided as herein prescribed.
Required parking spaces shall be maintained and shall not be encroached upon so long as said main building or structure remains, unless an equivalent number of such spaces are provided elsewhere in conformance with this article. The owner or owners of a building structure or other land use requiring off-street parking spaces must show, to the satisfaction of the planning director, or his designee, that he is the record title holder of the property devoted to said principal land use and of the property proposed for off-street parking use, or that he is the lessee of such property.
(Ord. of 12-2-2002, § 70-603)
Sec. 70-604. - Number of parking spaces.
In order to assure a proper and uniform development of public parking areas throughout the area of jurisdiction of this chapter, to relieve traffic congestion on the streets, and to minimize any detrimental effects on adjacent properties, off-street parking space shall be provided and maintained as called for in the following schedule. For any use or class of use not mentioned in this schedule, the requirements shall be the same as a similar use as mentioned herein. Parking requirements for additions to existing uses shall be based only upon the new addition even if the existing use is deficient.
(Ord. of 12-2-2002, § 70-604)
Sec. 70-605. - Off-street parking standards.
EXPAND
NON-HANDICAPPED PARKING STANDARDS
# USE NUMBER OF PARKING SPACES
1 Apartment and multifamily 2/Dwelling unit = 1/every 10 spaces for boats, etc.
2 Apartments for elderly 1/Dwelling unit
3 Appliance store 1/each 400 sq. ft. GFA (gross floor area)
4 Auditorium, gym stadium, etc. 1/every 3 fixed seats in largest room; 1 each 40 sq. ft. of area available for seats; 1/each 150 sq. ft. GFA; whichever is greatest
5 Auto fueling stations 1/each pump and 1/each 2 employees during largest shift, but not less than 4. In addition to service area
6 Auto parts and accessories 1/each 400 sq. ft. GFA
7 Auto sales and repair; service stations and washeterias Same as (5) above + 1/each 500 sq. ft. GFA of the shop or wash area
8 Auto service and appliance centers 1/each 400 sq. ft. of retail FA + 1/each service bay
9 Bowling alley 4/alley + requirements for any other use associated with the establishment
10 Club or lodge 1/each 2 employees + 1 for each 200 sq. ft. of GFA within the main assembly area + requirements for each additional use
11 Church 1/each 4 seats in main place of assembly
12 Dance school 1/each employee + 1/150 sq. ft. of GFA + safe and convenient loading and unloading of students
13 Duplex dwelling unit 3/each individual unit. Residential driveways will satisfy this need
14 Financial institution 1/each 250 sq. ft. of GFA and 2 waiting spaces for each drive through window
15 Furniture store 1/each 400 sq. ft. of GFA
16 Golf course 2/each hole + 1/each 2 employees + requirements for any other use associated with the golf course
17 Grocery store and convenience stores C-2 = 1/each 250 sq. ft. of GFA C-1 = 1/each 333 sq. ft. of GFA
18 High schools, colleges, trade schools, etc. 1/each employee + 5/classroom + sufficient area for safe and convenient loading and unloading of students
19 Hospital 1/per bed + 1/employee on shift of greatest employment + 1/each visiting staff or doctor
20 Hotel/motel 1/guest room + 1/each 2 employees
21 Indoor and outdoor recreational facilities 1/each 150 sq. ft. of gross area devoted to the use; or 1/each 4 seats or facilities available for patron use, whichever is greater
22 Industrial or manufacturing estab. or warehouse 2/each 3 employees on shift of greatest employment + 1/each vehicle used directly in the conduct of business
23 Kindergarten, nursery schools and day care 1/employee + 1/each 350 sq. ft. of gross floor area + safe and convenient loading and unloading of students
25 Nursing home 1/each 2 beds + 1/employee on shift of greatest employment
26 Office or professional building 1/each 350 sq. ft. of GFA or 1/each 2 employees, whichever is greater
27 Personal services establishment 1/each 350 sq. ft. of GFA + 1/each 2 employees, whichever is greater
28 Repair shop 1/every 300 sq. ft. of GFA + 1/employee on shift of greatest employment
29 Restaurant: On-premises consumption 1/every 100 sq. ft. GFA w/minimum of 10 + 1/each employee on shift of greatest employment
30 Restaurant: Carry out w/ outdoor seats only 1/each 150 sq. ft. GFA w/minimum of 10 + 1/each 3 outdoor seats
31 Restaurant: Carry out only 1/each 150 sq. ft. GFA w/minimum of 10
32 Restaurant: On premises w/drive thru 1/each 100 sq. ft. GFA w/minimum of 10+ an adequate lane for through traffic which will not obstruct the required parking and driveway for the restaurant + 1/each employee
33 Schools, elementary 1/teacher + 1/each 2 service and administrative employees + 1/classroom + safe and convenient loading and unloading students
34 Senior citizen homes 1/each 2 beds + 1/employee on shift of greatest employment
35 Shopping center: Greater than 35,000 GFA 1/each 300 sq. ft. GFA
36 Shopping center: Less than 35,000 sq. ft. GFA 1/each 350 sq. ft. GFA
37 Swimming pool: Public 1/each 200 sq. ft. of water surface area + all requirements for any additional uses such as a restaurant
38 Travel trailer park 1/each trailer stall + 1/each two employees
39 Retail stores: If not otherwise mentioned 1/each 300 sq. ft. GFA
40 Wholesale establishment 1/each employee + 1/each vehicle use directly in the conduct of business
41 Community Residences: Personal Care Home; Child Caring Institution; Recovery Residence; Structured Housing; and Transitional Housing. 1/each 2 beds + 1/employee on shift of greatest employment OR State License requirements, whichever requires more parking spaces
42 Community Residences: Rooming House/Lodging House, minimum of weekly stay and maximum of 20 rooms 1/each 2 beds + 1/employee on shift of greatest employment OR State License Requirements, whichever requires more parking spaces
  (Ord. of 12-2-2002, § 70-605; Ord. of 3-27-2018 , pt. 17 (Exh. A)
Sec. 70-606. - Number of handicapped parking spaces.
In order to assure a proper and uniform development of public handicapped parking areas throughout the area of jurisdiction of this chapter, handicapped parking space shall be provided and maintained as called for in the following schedule. Handicapped parking requirements for additions for existing uses shall be based only upon the new addition, even if the existing use is deficient.
EXPAND
HANDICAPPED PARKING STANDARDS
TOTAL REQUIRED PARKING SPACES ADDITIONAL HANDICAPPED SPACES
Up to 25 1
26-50 2
51-75 3
76-100 4
101-150 5
151-200 6
201-300 7
301-400 8
401-500 9
501-1,000 2% of total
Over 1,000 20 + 1 for each additional 100 over 1,000
    (Ord. of 12-2-2002, § 70-608)
Sec. 70-607. - Off-street loading requirements.
On the same premises with every building, structure or part thereof, erected and occupied for manufacturing, storage, warehouse, truck freight terminal, goods display, department store, wholesale store, market, hotel, hospital, mortuary, laundry, dry cleaning or other uses similarly involving the receipt or distribution of vehicles, materials, or merchandise, there shall be provided and maintained on the lot of adequate space for standing, loading and unloading services in order to avoid undue interference with public use of the streets and alleys. Such loading and unloading space, unless otherwise adequately provided for, shall be an area ten feet by 50 feet, with 15-foot height clearance, and shall be provided according to the following schedule:
EXPAND
OFF STREET LOADING REQUIREMENTS
# GFA In Sq. Ft. Loading Spaces
1 0—10,000 None
2 10,001—100,000 1/for first 10,001 sq. ft. + 1/each additional 40,000 sq. ft. in excess of 10,001 sq. ft.
3 100,001—500,000 1/first 100,001 sq. ft. + 1/each additional 60,000 sq. ft. in excess of 100,001 sq. ft.
4 500,000 and up 5/first 500,001 sq. ft. + 1/each additional 100,000 sq. ft. in excess of 500,001 sq. ft.
  (Ord. of 12-2-2002, § 70-607)
Sec. 70-608. - Minimum number of loading spaces required.
Industrial, wholesale and retail operations shall provide space as follows:
(1)
Off street loading spaces shall be provided as appropriate to the functions and scope of operation of individual or groups of buildings and uses.
(2)
Off street loading spaces shall be designed and constructed so that all maneuvering to park and unpark vehicles for loading and unloading can take place entirely within the property lines of the premises. Loading spaces shall be provided so as not to interfere with the free, normal movement of vehicles and pedestrians on public right-of-ways.
(3)
Ingress and egress to off-street loading spaces shall conform to driveway entrance regulations of the county.
(Ord. of 12-2-2002, § 70-608)
Secs. 70-609—70-640. - Reserved.
