ARTICLE VI. - REQUIREMENTS FOR STREETS AND OTHER RIGHT-OF-WAY

Sec. 74-161. - Continuation of existing streets.
Existing streets shall be continued at the same or greater width, but in no case less than the required width.
(Res. No. 2001-08, § 1(601), 3-13-2001)
Sec. 74-162. - Street names, street signs and street numbers.
(a)
Proposed streets which are obviously in alignment with others already existing and named shall bear the names of existing streets. In no case shall the name of proposed streets duplicate existing street names, regardless of the use of the suffix street, avenue, boulevard, drive, place, way or court.
(b)
An index list of street names shall be placed on file with the planning commission to assist the subdivider in avoiding duplication.
(c)
As part of the development of subdivisions, the developer of the subdivision must erect street signs designating the name of each street in the subdivision.
(d)
Street numbers for dwelling units on all public and private streets and roads shall be assigned by the Banks County E-911 with the assistance of the county planning department, if requested.
(e)
Street numbers for parcels of land will only be given if the owner has a driveway in place. This street number will be assigned for emergency purposes only and does not give said owner rights to erect any dwelling or install power without complying with all of the county ordinances, building codes and obtaining proper permits.
(f)
The Banks County E-911 shall keep a record of all numbers assigned as street numbers.
(g)
No building or structure for which a street number is required shall be occupied prior to the assignment of the street number.
(h)
No building or structure for which a street number is required shall obtain permanent power or gas connections prior to the assignment of the street number.
(i)
All persons requiring a street number assignment must apply by telephone for such number with the Banks County E-911 at least two weeks in advance of the date the street number is needed.
(j)
The owner of property or person in charge of any house to which a street number has been assigned shall be notified by the Banks County E-911 of the assigned street number.
(k)
Within 30 days after receipt of such notification, the owner or person in charge of a house to which a street number has been assigned shall affix the number in a conspicuous place. The number shall be easy to see both in daylight and at night from the road.
(1)
It shall be the duty of such owner, occupant or person in charge of a house to affix the new number and to remove any different number which might be mistaken for, or confused with the street number assigned to the house by the Banks County E-911.
(2)
It shall be the duty of each owner, occupant, or person in charge of every structure to which a street number has been assigned to display such number in figures at least three inches high with reflective numbers.
(3)
The street number must be posted on both sides of the mail receptacle or on a sign at the road if there is no mailbox and also at the entrance to the residence if the residence is not where the mail receptacle or sign is located. If there is more than one residence or structure addressed on one drive, the number must also be affixed to the structure itself.
(4)
Each owner, occupant, or person in charge of the structure is responsible for purchasing the material for the street number.
(5)
All street numbers must conform to standards that allow for prompt and accurate emergency response.
(l)
In the event the owner, occupant, or person in charge of any structure to which a number has been assigned refuses to comply with the provisions of this article by failing to display the assigned street number within 30 days after notification, he or she shall be fined $25.00 for each day after notice for so long as such failure to comply continues.
(m)
The county marshall will issue citations for violations of this section 74-162, will enforce the penalty, and work with the Banks County E-911 on insuring that county residents who do not reside within a municipality abide by this section.
(Ord. No. 2003-18, § 1, 4-8-2003)
Editor's note— Ord. No. 2003-18, § 1, adopted April 8, 2003, repealed § 74-162, in its entirety and enacted new provisions to read as herein set out. Prior to amendment, § 74-162 pertained to street names and derived from Ord. No. 2001-08, § 1(602), adopted March 13, 2001.
Sec. 74-163. - Street jogs.
Street jogs with centerline offsets of less than 125 feet shall not be permitted.
(Res. No. 2001-08, § 1(603), 3-13-2001)
Sec. 74-164. - Culs-de-sac or dead-end streets.
(a)
Minor streets or courts designed to have one end permanently closed shall be no more than 1,600 feet long unless necessitated by topography. Minor street or courts shall be provided with a turnaround at the closed end of at least 100 feet in diameter.
(b)
Where in the opinion of the planning commission, it is desirable to provide street access to adjoining property, streets shall be extended to the boundary of such property and provided with a temporary turnaround.
(Res. No. 2001-08, § 1(604), 3-13-2001; Ord. No. 2021-25 , § 1, 12-14-2021)
Sec. 74-165. - Development along major thoroughfares, limited access highway or railroad right-of-way.
Where a subdivision abuts or contains a major thoroughfare, a limited access highway, or a railroad right-of-way, the BCPC planning commission may require a street approximately parallel to and on each side of such right-of-way either as a marginal access street or at a distance suitable for an appropriate use of the intervening land, with a nonaccess reservation suitably planted. Due regard should be given requirements for approach grades and future grade separation in determining distances. Lots shall have no access to a major thoroughfare (or limited access highway) but only to the access street.
(Res. No. 2001-08, § 1(605), 3-13-2001)
Sec. 74-166. - Alleys.
Alleys may be required at the rear of all lots used for multifamily, commercial, or industrial developments but shall not be provided in one and two-family residential developments unless the subdivider provides evidence satisfactory to the planning commission of the need for alleys.
(Res. No. 2001-08, § 1(606), 3-13-2001)
Sec. 74-167. - Street right-of-way.
The right-of-way width shall be the distance across a street from property line to property line. All subdivision streets, public or public access, shall be platted as right-of-way streets. Lot shall not include any portion of the right-of-way. No street shall be platted on the basis of a private easement. Minimum street right-of-way, roadbed and pavement widths shall be as follows:
(1)
Streets.
a.
Right-of-way: Minimum of 60 feet (40 feet cleared of all trees).
b.
Roadbed: Minimum of 30 feet (pavement width plus shoulder width plus ditches width). Ditches should be two feet wide and two feet deep.
c.
Pavement: Minimum of 20 feet.
(2)
Culs-de-sac. Turnaround right-of-way: 100 feet in diameter.
(3)
Variance. A variance may be granted on street right-of-way and pavement widths when adequate and acceptable justification is submitted; however, the standards will be routinely employed in all but severe cases.
(4)
On each side of the pavement in subdivision streets in the county, there will be painted a solid white line; and a broken white line will be painted down the centerline of each subdivision street.
(Res. No. 2001-08, § 1(607), 3-13-2001; Ord. No. 2003-15, § 1, 4-8-2003)
Sec. 74-168. - Right-of-way on existing streets.
(a)
The owner/developer of a class II or a class III subdivision that adjoins existing county streets or roads shall dedicate 40 feet of right-of-way to the county on each side of the road or street measured from the centerline of the existing roadway where any part of the subdivision subdivide is on both sides of the street or road and
(b)
The owner/developer of a class II or a class III subdivision that adjoins existing county streets or roads shall dedicate 40 feet of right-of-way to the county on one side of an existing street or road, measured from the centerline of the existing roadway, if the class II or class III subdivision is located on only one side of an existing street or road.
(Ord. No. 2002-18, § 1, 10-8-2002; Ord. No. 2021-25 , § 2, 12-14-2021)
Editor's note— Ord. No. 2002-18, § 1, adopted Oct. 8, 2002, repealed § 74-168 in its entirety and enacted new provisions to read as herein set out. Prior to amendment, § 74-168 pertained to additional width on existing streets and derived from Res. No. 2001-08, § 1(608), adopted March 13, 2001.
Sec. 74-169. - Street grades.
Maximum and minimum street grades shall be as follows: (See Figure 3)
(1)
Streets, not in excess of 16 percent.
(2)
No more than 25 percent of the total square feet of the pavement within a subdivision may be applied to a grade of 12 to 16 percent.
(3)
No street grade shall be less than one-half of one percent in cases where streets are curbed and guttered.
(4)
In meeting these grade and slope requirements on steep terrain, the planning commission suggests that wherever feasible the developer utilize a divided roadway in which the lanes for travel in opposite directions are cut at different levels of elevation. Under certain conditions, this method of giving separate treatment to each travel lane would lessen cut and fill requirements. Median cuts would be used at points where both lanes have the same road grade. The median cuts would shorten distance of travel in any one direction and facilitate access to lots served by each lane. (See Figures 4 and 5.)
(Res. No. 2001-08, § 1(609), 3-13-2001)
Sec. 74-170. - Street intersections.
Street intersections shall be as nearly at right angles as possible. No street intersection shall be at an angle of less than 75 degrees, unless required by unusual circumstances.
(Res. No. 2001-08, § 1(610), 3-13-2001)
Sec. 74-171. - Single entry road restriction.
No more than 50 lots in a subdivision can be dependent on a single road for access/exit - to/from a subdivision if the access is to/from a county road, If additional access points are required, there shall be a minimum distance of 300 feet between the two accesses. No more than 75 lots in a subdivision can be dependent on a single road for access/exit - to/from a subdivision if the access is to/from a State of Georgia Highway.
(Res. No. 2001-08, § 1(611), 3-13-2001; Ord. No. 2007-10, § 1, 3-13-2007; Ord. No. 2021-25 , § 3, 12-14-2021)
Secs. 74-172—74-200. - Reserved.
