ARTICLE IV. - PROCEDURES AND REQUIREMENTS FOR APPROVAL OF PLATS

Sec. 74-91. - Preapplication review.
Whenever subdivision of a tract of land within the county is proposed, the subdivider is urged to consult early and informally with the field representative of the planning commission. The subdivider may present sketch plans (see Figure 1) and data showing existing conditions within the site and in its vicinity and the proposed layout and development of the subdivision and request advice and guidance concerning the project and the administrative procedures involved. No fee shall be charged for the preapplication review and no formal application shall be required.
(Res. No. 2001-08, § 1(401), 3-13-2001)
Sec. 74-92. - Sequence of administrative procedures.
Listed below in normal sequential order are the generally occurring steps required to successfully complete development of a subdivision:
(1)
Preapplication review session with the field representative (sketch plan and general data). See Figure 1.
(2)
Purchase a copy of the county subdivision regulations.
(3)
Consult with the health department to identify any possible water or sewage problems associated with the land proposed for subdividing and health department approval of the lots.
(4)
Consult with U.S. Soil Conservation Service for assistance in ensuring development land does not propose building sites in floodplains or flood hazard areas and that natural waterways will not be interrupted.
(5)
Have land surveyed to obtain data for preliminary plat and final plat and to determine how land is to be divided.
(6)
Develop preliminary plat with surveyors and submit to the planning commission 30 days before meeting at which preliminary plat approval is to be sought.
(7)
Be prepared to accompany field representative or commission member to development site prior to the next commission meeting.
(8)
Attend planning commission meetings at which preliminary plat approval is sought, or send a competent representative who can answer questions in your name. No action will be taken by the planning commission when no representative is present.
(9)
Obtain grading permit, which requires plan and profile of new streets, from planning commission office if preliminary plat was approved.
(10)
Begin initial subdivision work.
(11)
Request inspection of earthwork, and utility work if any, by field representative prior to applying road surface material such as gravel or pavement and before seeding required by conditions of grading permit.
(12)
Complete survey work as needed.
(13)
Develop final plat for submission to the planning commission.
(14)
Complete road, utility, and soil erosion work.
(15)
Request final planning commission on-site inspection of completed required improvement work.
(16)
Submit final plat to planning commission office 30 days before meeting at which approval is sought. Plat must bear all required certificates noted in this chapter as well as all notations or changes specified by the planning commission when the preliminary plat was tentatively approved.
(17)
Attend planning commission meeting at which final plat approval is sought. No action will be taken by the planning commission when no representative is present.
(18)
Record approved subdivision final plat in clerk of superior court office.
(19)
Sell subdivision lots. If phased development is involved, only lots from final plats of approved phases can be sold or shown in conjunction with any subdivision plat.
(Res. No. 2001-08, § 1(402), 3-13-2001)
Sec. 74-93. - Application for preliminary plat approval.
The subdivider shall submit to the chairman of the planning commission, or his designated representative, at least 21 days prior to the next regular meeting of the planning commission the following:
(1)
A letter requesting review and approval of preliminary plat and giving the name and address of a person to whom the notice of the hearing by the planning commission on the preliminary plat shall be sent.
(2)
Five copies of the preliminary plat and other documents, as may be specified.
(3)
Payment of a preliminary plat filing fee.
(4)
[Reserved.]
(5)
The following types of subdivisions shall be exempt from the requirements of a preliminary plat and shall not be required to obtain a certificate of preliminary plat approval: (1) a subdivision where all the lots front at least 50 feet on a paved road or street with a right-of-way of at least 60 feet and with the paved road or street being shown as a public road on the official road map of Banks County; provided no new road or street is required and such lots or parcels shall not be further subdivided for a period of one year from the date on the certificate of final plat approval and provided that the lots are not adjacent to other property to be developed as a subdivision within 12 months of the date of the recording of the plat for the lots described in this subparagraph (1); (2) Class I Subdivisions; (3) Class II Subdivisions; and (4) Minor Subdivisions.
Note: All subdivisions shall comply with the regulations and rules of the Banks County Health Department and all subdivisions must have a final plat with a recording and approval certificate from the Banks County Planning Commission and the Banks County Health Department.
(Res. No. 2001-08, § 1(403), 3-13-2001; Ord. No. 2005-21, § 1, 7-12-2005; Ord. No. 2007-07, § 1, 3-13-2007; Ord. No. 2007-18, § 1, 6-12-2007)
Sec. 74-94. - Review of preliminary plat.
(a)
The chairman or a designated representative of the planning commission shall check the plat for compliance with all relevant county regulations and ordinances and report findings and recommendations to the planning commission in public session.
(b)
No preliminary plat shall be acted upon by the planning commission except in public session. Such sessions or hearing must be held at least monthly and are generally held on the first Tuesday of each month. The field representative is not empowered to approve or disapprove preliminary plat requests. The field representative will attempt to send not less than five days before the public hearing a notice of the date and time of the hearing by regular mail to the person designated in the letter requesting preliminary plat review. The field representative will attempt to contact by telephone the person designated in the letter requesting preliminary plat approval to reminded the person of the date and time of the hearing. However, it is the responsibility of the person requesting preliminary plat review to know the date and time of the hearing and to be present at the hearing or have a representative at the hearing.
(c)
The planning commission shall take no action on a preliminary plat if the applicant or designated representative is not present at the hearing.
(d)
At the public hearing the planning commission shall take one of the following actions which shall be recorded, with reason for disapproval where appropriate, in the minutes:
(1)
Approve preliminary plat.
(2)
Approve the preliminary plat on condition that necessary modifications be made (such required modifications must be recorded on the plat and in the minutes).
(3)
Disapprove the preliminary plat.
(4)
Table the request for approval to a date certain.
(e)
The action of the planning commission shall be noted on two copies of the preliminary plat. One annotated copy of the plat shall be returned to the subdivider or agent and one copy permanently filed in the planning commission records. Both must clearly record approval or disapproval and reasons for disapproval or additional requirements for approval.
(f)
All preliminary plat approvals shall be limited by these qualifications:
(1)
The approval is a tentative approval only, pending submission of a final plat.
(2)
The approval of the preliminary plat is valid for only one year from the date of approval of the planning commission and shall be null and void after that date. If the final plat is not received by the planning commission by the end of one year a new preliminary plat request shall be submitted before a final plat request can be considered.
(g)
Preliminary plat approval constitutes authorization for subdivider to begin physical improvement to property being subdivided, to request a grading permit and building permit for one model house after approval of the health department and after an erosion and sediment control plan from the Broad River Soil and Water Conservation District.
(Res. No. 2001-08, § 1(404), 3-13-2001; Ord. No. 2007-08, § 1, 3-13-2007)
Sec. 74-95. - Preliminary plat specifications.
The preliminary plat shall conform to the following specifications and contain the required information: (See Appendices A—D)
(1)
Scale. The preliminary plat shall be clearly and legibly drawn at a scale of either 100 feet to one inch or 200 feet to one inch.
(2)
Index map. If the complete plat cannot be shown on one sheet, it may be shown on more than one sheet with an index map on a separate sheet.
(3)
Ground elevations. The preliminary plat shall show ground elevations, based on the datum plane of the U.S. Coast and Geodetic Survey as required by the planning commission.
a.
For land that slopes less than approximately ten percent, spot elevations shall be shown at all breaks in grade, along all drainage channels or swells, and selected points not more than 500 feet apart in all directions;
b.
For land that slopes more than approximately ten percent, contours shall be shown with an interval of not more than 20 feet. A tie to one or more benchmarks shall be shown.
(4)
Information to be provided on preliminary plat. The preliminary plat shall contain the following information:
a.
Name and address of owner of record and of subdivider.
b.
Proposed name of subdivision and its acreage.
c.
North point and graphic scale, date and vicinity map.
d.
Acreage of the subdivision.
e.
Exact boundary lines of the tract by bearing and distances.
f.
Names of owners of record of adjoining land and zoning classifications.
g.
Existing streets, utilities, and easements on and adjacent to the tract.
h.
Proposed layout including streets and alleys with proposed street names, lot lines with approximate dimensions, easements, land to be reserved or dedicated for public uses, any land to be used for purposes other than single-family dwellings, and proposed provisions for maintenance of streets and other reserved/dedicated areas.
i.
Block numbers and lot numbers and total land acreage for each lot. If river front lot, show water acreage separately in parentheses.
j.
Provisions of water supply, sewerage and drainage.
k.
Minimum front yard building setback lines.
l.
Such street cross sections and centerline profiles as may be required by the planning commission.
m.
Provisions for open space requirements.
n.
Phased development plats must also show all other phases either by an attachment or a sketch map, index map, or boundary line trace on the same sheet as the preliminary plat phase being submitted.
o.
Setback lines and undisturbed area in accordance with the county watershed plan, if applicable.
p.
Reserved.
q.
Width of right-of-way and status of access road into subdivision.
(5)
Certification of preliminary plat approval. A certificate of preliminary plat approval by the planning commission shall be inscribed on the plat as follows:
"Pursuant to the Land Subdivision Regulations of Banks County, Georgia, all the requirements of preliminary plat approval having been fulfilled, this preliminary plat was given approval by the Banks County Planning Commission on _______, ___. This approval does not constitute approval of a final plat. No property can be sold by use of this preliminary plat. This Certificate of Approval shall expire and be null and void on _______, ___.
EXPAND
Date: _____ _____
Chairman, Banks County Planning Commission
  (Res. No. 2001-08, § 1(405), 3-13-2001; Ord. No. 2007-19, § 1, 6-12-2007)
Sec. 74-96. - Developments within municipalities.
Plats of developments within municipalities where this chapter has not been adopted shall have the following certificate attached:
"This plat of land within the city limits of is not subject to regulations by the Banks County Planning Commission."
EXPAND
Date: _____ _____
Chairman, Banks County Planning Commission
  (Res. No. 2001-08, § 1(406), 3-13-2001)
Sec. 74-97. - Application for final plat approval.
After the preliminary plat of a proposed land subdivision has been given tentative approval by the planning commission, the subdivider may, within one year from tentative approval, submit to the planning commission at least 30 days prior to the next regular meeting the following:
(1)
A letter requesting review and approval of a final plat and giving the name and address of the person to whom the notice of the hearing by the planning commission on the final plat shall be sent.
(2)
Five paper copies of the final plat and other documents, as may be specified; and the original tracing or reproducible print thereof drawn in permanent ink or equivalent on drafting cloth or film, which is to be returned to the subdivider for filing.
(3)
Payment of a final plat fee.
(4)
A complete disclosure on how all utilities, roads and amenities are to be maintained, (including department of housing and urban development property report where appropriate) plus information requested as a result of findings during preliminary review.
(5)
A copy of all covenants associated with the subdivision.
(Res. No. 2001-08, § 1(407), 3-13-2001)
Sec. 74-98. - Review of final plat.
(a)
The chairman or a designated member of the planning commission shall check the plat for conformance with the approved/conditionally approved preliminary plat and for compliance with this chapter and other relevant county regulations and ordinances and report findings and recommendations to the planning commission in public session.
(b)
No final plat shall be acted upon by the planning commission except in public session. Such sessions or hearings must be held at least monthly and are generally held on the first Tuesday of each month. The field representative is not empowered to approve or disapprove a final plat request. The field representative will attempt to send not less than five days before the public hearing a notice of the date and time of the hearing by regular mail to the person designated in the letter requesting final plat review. The field representative will attempt to contact by telephone the person designated in the letter requesting final plat approval to remind the person of the date and time of the hearing. However, it is the responsibility of the person requesting final plat review to know the date and time of the hearing and to be present at the hearing or have a representative at the hearing.
(c)
The planning commission shall take no action on a final plat if the applicant or designated representative is not present at the hearing, in which case the 45 day requirement in subsection (f) of this section is automatically waived for 46 days.
(d)
At a public hearing within 30 days of request for final plat approval, the planning commission shall take one of the following actions which shall be recorded, with reasons for disapproval where appropriate, in the minutes:
(1)
Approve the final plat.
(2)
Disapprove the final plat and further notify the subdivider in writing of the specific reasons for disapproval within five days.
(3)
Table the request for approval to a date certain.
(e)
In order for the planning commission to approve a final plat, all requirements of these regulations must have been satisfied, and all improvements required must have been completed not less than 15 work days prior to the scheduled hearing at which final plat approval is requested. All improvements shall be inspected by the planning commission during this five-day period.
(f)
Plats not acted on by the planning commission within 45 days of request for approval shall be deemed approved and a certificate of final plat approval shall be issued on request of the subdivider (tabling a request is acting on the request). If, however, the planning commission determines that additional time is required to study a final plat, an extension of time shall be requested in writing from the subdivider, who may agree to a specific time extension in lieu of a plat disapproval.
(g)
If final plat approval is requested two times and is denied both times because required improvements have not been made, the planning commission shall not further consider that plat for 90 days following the date of the second disapproval.
(h)
When all conditions for approval of the final plat have been met and such approval has been granted, the planning commission shall endorse and date the certificate of final plat approval on the original copy of the final plat. Such approval and endorsement convey the authority to record the plat and to sell lots shown on the plat.
(Res. No. 2001-08, § 1(408), 3-13-2001)
Sec. 74-99. - Recording of final plat.
Upon approval of a final plat, the chairman of the planning commission or his designated representative shall have the final plat recorded in the office of the clerk of the superior court of the county. The subdivider shall be responsible for the payment of the recording fee at the time of submitting the final plat as provided in the section 74-98.
(Res. No. 2001-08, § 1(409), 3-13-2001)
Sec. 74-100. - Final plat specification.
The final plat shall conform to and meet the following specifications and contain the required information (See Appendices A—D):
(1)
Scale. The final plat shall be clearly and legibly drawn at a scale of either 100 feet to one inch or 200 feet to one inch.
(2)
Index map. Where more than one sheet is required an index map shall be required.
(3)
Information to be provided on final plat. The following information is to be provided on the final plat:
a.
Name and address of owner of record and subdivider.
b.
North point, graphic scale and date.
c.
Vicinity map.
d.
Bearings and distances to the nearest existing street lines or bench marks or other permanent monuments (not less than four) shall be accurately described on the plat.
e.
Municipal, county and land lot lines accurately tied to the lines of the subdivision by distance and angles when such lines traverse or are reasonably close to the subdivision.
f.
Exact boundary lines of the tract, determined by a field survey, giving distances to the nearest one-tenth foot and angles to the nearest minute, which shall be balanced and closed with an error of closure not to exceed one to 3,000.
g.
Name of subdivision; its acreage; exact location, width, and names of all street rights-of-way and alleys within and immediately adjoining the plat and description of how such streets within the subdivision are to be maintained.
h.
Street right-of-way lines showing angles of deflection, angles of intersection, radii, and lengths of tangents.
i.
Lot lines with dimensions to the nearest one-tenth foot and bearings.
j.
Minimum front, rear and side yard building setback lines.
k.
Lots numbered in numerical order and blocks lettered alphabetically and total land acreage for each lot. If water front lot, show water acreage separately in parentheses.
l.
Location, dimensions, and purposes of any easements and any areas to be reserved or dedicated for public use and boundary line notations disclosing plans for future development/phasing.
m.
Accurate location, material, and description of monuments and markers.
n.
A description, either directly on the plat or in an identified attached document, of any private covenants.
o.
The following certifications:
1.
An engineer's or surveyor's certification, directly on the final plat as follows:
"It is hereby certified that the plat is true and correct and was prepared from an actual survey of the property by me or under my supervision; that all monuments shown hereon actually exist or are marked as "future," and their location, size, type and material are correctly shown and that all engineering requirements of the Subdivision Resolution of Banks County, Georgia, have been fully complied with."
EXPAND
Date: _____ By: _____
Registered Prof. Engineer Number
Date: _____ By: _____
Registered Georgia Land Surveyor Number
  2.
An owner's certification, directly on the final plat as follows:
Owner's Certification:
State of Georgia, County of Banks.
"The owner of the land shown on this plat and whose name is subscribed hereto, in person or through a duly authorized agent, certifies that this plat was made from an actual survey."
EXPAND
Agent _____ Owner _____
Date _____ Date _____
  3.
Certificate of dedication. A certificate of dedication by the owner submitted with the final plat and in such form as approved by the county attorney which sets forth the description of the areas and improvements dedicated by the owner to the public and the extent of title which is being dedicated. When appropriate, this is to be accompanied by a letter through the planning commission to the county commissioners requesting acceptance of streets as public streets.
4.
Certificate of approval of the final plat. A certificate of approval of the final plat by the planning commission, directly on the plat, as follows:
"Pursuant to the Land Subdivision Resolution of Banks County, Georgia, all requirements of approval having been fulfilled, this final plat was given final approval by the Banks County Planning Commission on ________, ___, and such plat is released for recording and for use in sale of land described hereon."
EXPAND
Date: _____ _____
Chairman, Banks County Planning Commission
  5.
Copy of official action of board of commissioners. A copy of the resolution adopted by the governing body accepting the streets, improvements, easements and any other property dedicated by the owner for public use as indicated on the final plat, shall be attached to the final plat within 45 days after action by the governing body.
6.
All developments having 100 lots or more shall have certification by a registered professional landscape architect attesting to conformation to reasonable standards of curvilinear design appropriate to the site topography as follows:
"It is hereby certified that this plat is a reasonable and acceptable design having features which conform to the demands of the topographic, geographic, and aesthetic characteristics of the site, and having reasonable, acceptable relationship to the known resource capabilities of the given site."
EXPAND
By _____
By Registered Professional Landscape Architect Number
  p.
Set back lines and undisturbed area in accordance with the Banks County Water Shed Plan, if applicable.
q.
All subdivisions shall comply with the rules and regulations of the Banks County Health Department and all subdivisions must have a final plat with a recording and approval certificate from the Banks County Planning Commission and the Banks County Health Department. If any lot is not in compliance with the Banks County Health Department rules and regulations such lot is not a buildable lot and shall be so designated on the final subdivision plat.
r.
Width of right-of-way and status of access road into subdivision.
(Res. No. 2001-08, § 1(410), 3-13-2001; Ord. No. 2002-12, §§ 1—3, 7-9-2002; Ord. No. 2007-20, § 1, 6-12-2007)
Editor's note— Ord. No. 2002-12, § 2, adopted July 9, 2002, renumbered subsections 74-100(4)—(7) as 74-100(3)o.3.—6.
Secs. 74-101—74-120. - Reserved.
