SECTION 6. - SETBACK AND YARD REQUIREMENTS BY DISTRICT

Sec. 6-1. - Development standards.
modified
Within the various zoning districts as indicated on the "Official Zoning Maps of Ben Hill County, Georgia", no building or structure, excluding all signs, shall be constructed or erected except as indicated in the following schedule:
EXPAND
DEVELOPMENT
STANDARDS GF RR R1 R22 MR
and P MHP CC GB WLI HI
Minimum Gross
Floor Area Per
Dwelling Unit
(Sq. Ft.) 800 800 1,200 800 800 400 N/A N/A N/A N/A
Minimum Lot Area for Dwelling Units 2 ac. 1 ac. 1 ac. 22,000 sf 6,000 sf + 3,000 sf per ea. add'l unit Gross min. lot size 5 ac. ½ ac. 1.2 ac. 1 ac. 1 ac.
Minimum Lot Width (Feet) 200 150 150 100 100 300 100 100 210 210
Minimum Front Yard Setback from the Centerline of R/W (Feet)
Principal & Minor Arterials 90* 90* 90* 90* 90* 90* 100** 85** 90** 90**
Collector Streets 80* 80* 80* 80* 80* 80* 90** 75** 80** 80**
Local Streets 70* 70* 70* 70* 70* N/A 80** 70** 70** 70**
Minimum Side Yards
(Feet) 20 20 20 10 10; if 4 or more stories, 20 20 None *** None *** None *** None ***
Minimum Rear Yards
(Feet) 40 40 40 30 30 20 12*** 12*** 12*** None ***
Maximum Building
Height (Feet) 35 35 35 35 None 35 35* None* None* None*
  *
The minimum distance from all other property lines to any building over 35 feet in height shall be increased one foot for every two feet (or part of two feet) of building height greater than 35 feet.
**
Plus one-half any amount which the right-of-way width exceeds 60 feet for local streets, 80 feet for collector streets, and 100 feet for principal and minor arterials.
***
If the adjoining yard is within any residential district, the yard requirements specified in this table shall be increased ten feet and screening shall be provided as specified in section 3-19 along the lot line common with said lot.
The following districts/classifications were created by previous Ben Hill County Zoning ordinances and currently exist on the Official Zoning Maps of Ben Hill County, Georgia. As of the adoption of this resolution, and into the future, no parcels may be zoned in accordance with these districts/classifications as they no longer exist in Ben Hill County's future land use plan.
EXPAND
DEVELOPMENT
STANDARDS R-15 R-9 R-6 R-6-M
Minimum Gross
Floor Area Per
Dwelling Unit
(Sq. Ft.) 1,200 1,000 800 800
Minimum Lot Area for Dwelling Units 15,000 sq. ft. 9,000 sq. ft. 6,000 sq. ft. plus 3,000 sq. feet each additional unit 6,000 sq. ft. plus 3,000 sq. feet each additional unit
Minimum Lot Width (Feet) 100 80 60 60
Principal and Minor Arterials 90* 80* 80* 80*
Collector Streets (Feet) 80* 70* 70* 70*
Local Streets (Feet) 70* 60* 60* 60*
Minimum Side Yards
(Feet) 10 10 8 8
Minimum Rear Yards
(Feet) 40 30 30 30
Maximum Building
Height (Feet) 35 35 35 30
  *
Plus half any amount which the right of way width exceeds 60 feet for local streets, 80 feet for collector streets, and 100 feet for principal and minor arterials.
(Res. of 9-6-2022)
