Sec. 4.6 - Buffer Requirements.
A.
Buffer Composition: The buffers required in this section are to provide protection to the County's drinking water source and therefore, are intended to be left in their natural undisturbed state.
B.
Buffer Exceptions from County: Variances required in this Section will only be issued in cases where, owing to special conditions, a literal enforcement of the provisions of this Ordinance will result in unnecessary hardship only upon a finding by the Zoning Administrator or the Director of the Transportation and Development Department that all of the following conditions exist:
1.
There are extraordinary and exceptional conditions pertaining to the particular piece of property in question because of its size, shape or topography;
2.
The application of this ordinance to the particular piece of property would create an unnecessary hardship;
3.
The special circumstances surrounding the request for a variance are not the result of acts by the applicant;
4.
The variance is not a request to permit a use of land, buildings, or structures that are not permissible in the district involved;
5.
The variance will not result in an increase of the impervious surface of the development beyond that prescribed in this ordinance (applicable only to water supply watersheds); and
6.
Relief if granted, would not cause substantial detriment to the water quality of Clayton County or impair the purposes and intent of this ordinance.
C.
Buffer Exceptions from State: Any encroachment into the twenty-five (25) feet undisturbed State Water Buffer will require a buffer variance from the Georgia Environmental Protection Department.
D.
Conditions: The Zoning Administrator or the Director of Transportation and Development may, as a condition of the variance to certain provisions of this ordinance, require that alternative measures be taken by the applicant such that the purpose of this ordinance may be achieved through alternative means.
E.
Miscellaneous: All drinking water reservoirs in both small and large drinking water supply watersheds are protected by a reservoir management plan. All lots within these areas shall have a permanent 150-feet protection buffer adjoining the reservoir property from the normal full-pool elevation. No septic tanks, septic tank drainfields, related structure or feature, substantial structure, or other feature, which may adversely impact the reservoir, may occupy any portion of this 150-feet buffer. Additionally, it is preferable that this area be a natural, vegetated buffer. In cases when the requirements of this section conflict with the requirements within itself or any other lawfully adopted rules, regulations, resolutions, deed restrictions or covenants, the more restrictive or that imposing higher standards shall govern.
