ARTICLE VI. - OFF-STREET PARKING, LOADING AND ACCESS REQUIREMENTS

Sec. 601. - Off-street parking and loading spaces required.
Off-street automobile parking and loading spaces shall be provided, as specified in this Article, for uses and structures hereafter established in all zoning districts at the time of initial construction of any principal building, unless otherwise exempted from this Article. For developments phased in timing, parking and loading requirements may also be phased in accordance with the requirements applying for each particular time phase of development.
Any building or use that is subsequently enlarged or converted to another use shall meet the off-street parking and loading space requirements of this Article, for the enlarged or new use.
Required parking and loading spaces shall be maintained and shall not be encroached upon by refuse containers, signs or other structures, unless an equal number of spaces are provided elsewhere in conformance with these regulations.
Required parking and loading spaces shall be provided with vehicular access to a public street or alley, unless such access is prohibited by these regulations.
In all zones except B-3 and CBD, off-street parking and loading facilities required shall be located on the same lot as the principal building or use. However, as much as fifty (50%) percent of the required number of parking spaces may be located within four hundred (400) feet of the principal building or use, provided proof of ownership or a valid lease agreement for use of such premises is provided to the Community Development Director or their designee. Such distance shall be measured between the nearest point of the parking facility and the nearest point of the principal building or use.
In the B-3 and CBD zoning districts off-street parking and loading facilities up to one hundred (100%) percent of the required number of parking spaces may be located within one thousand (1,000) feet of the principal building or use, provided proof of ownership or a valid lease agreement for use of such premises is provided to the Community Development Director or their designee. Such distance shall be measured between the nearest point of the parking facility and the nearest point of the principal building or use.
In B-3 and CBD, applicants may seek administrative variance approval for reduced parking space number using applications provided by the City. The Community Development Director shall have authority to grant an administrative variance reducing otherwise required spaces by an amount not to exceed twenty-five percent (25%) provided good cause for variance is shown. The request shall be accompanied by a parking study conducted by a licensed Professional Engineer or a Certified Planner which demonstrates suitability of the site for single-use or shared multi-use parking at reduced amounts.
( Ord. No. 91-9(Amd. 21), 9-6-2016 ; Ord. No. 2019-12, 7-1-2019 )
Sec. 602. - Minimum number of off-street parking spaces required.
The minimum number of required off-street parking spaces for each type of permitted use shall be as indicated below. For uses not specifically listed, the off-street parking requirements shall be those of the most similar use as determined by the Zoning Administrative Officer. When the application of these parking requirements results in a fractional space requirement, the fractional space requirement shall be construed to mean one (1) additional space.
EXPAND
Use Classification Parking Space Requirements
Apartment and other multiple-family residential uses Two spaces per dwelling unit plus four spaces per leasing office and ten spaces per clubhouse or recreation center
Art gallery One space for each 300 square feet of gross floor area
Auditorium, stadium, assembly hall, gymnasium or community center One space per four fixed seats in largest assembly room or area
Bank or financial institution One space for each 200 square feet of gross floor area
Banquet hall One spacc per every two persons of capacity
Barber or beauty shop Three spaces for each operator or chair
Billiard hall, amusement arcade One space for each 200 feet of gross floor area
Boarding or rooming house One space for each two guests plus one additional space for each resident manager or owner
Bowling alley Three spaces for each alley
Church or place of worship One space per four fixed seats in largest assembly room
Community center One space for each five seats, or ten spaces per 1,000 square feet of assembly areas where there are no fixed seats
Conference/convention center One space per every two persons of capacity or one space per 100 square feet of gross floor area, whichever is greater, plus the requirements of each individual use (i.e. hotels, restaurants, etc.)
Convenience retail store One space for each 200 square feet of gross floor area
Cultural facility One per five seats provided for public assembly or one per 250 square feet or gross floor area when no seats are provided, plus one per full-time employee
Dance studio or school One space for each employee plus one space per 150 square feet of gross floor area
Day care center One space for each eight children, plus one space per employee
Event Center One space per every two persons of capacity
Duplex Two spaces per dwelling unit
Food store One space per 200 square feet of gross floor area
Funeral home or mortuary One space for each four seats in largest assembly room
Furniture or appliance store One space per 600 square feet of gross floor area
Gasoline service station Two spaces per gasoline pump plus three spaces per service bay
Three spaces for each hole plus one space for each two employees
Health club, spa One space for each 150 square feet of gross floor area
Hospital, clinic, nursing home One space for each two beds plus one space for each staff or visiting doctor, plus one space for each three employees
Hotel, motel One space for each guest room plus one space for each two employees on largest shift
Industrial or manufacturing Two spaces for each three employees on largest shift
Laundry, self service One space for each washer-dryer combination
Library, museum One space for each 200 square feet of gross floor area
Lodge, club One space for each three seats in largest assembly room
Miniature golf course Three spaces per hole
Mobile home, mobile home park Two spaces per dwelling unit plus one space for each resident manager and additional spaces for public park or use areas
Office, general or professional One space for each 250 square feet of gross floor area
Office, medical or dental Six spaces per practitioner
Personal service establishment One space for each 200 square feet of gross floor area
Restaurant or lounge One space for each 100 square feet of gross floor area
Retail business One space for each 200 square feet of gross floor area
Sanitarium, rest and convalescent home, personal care home One space for each four patient beds plus one space for each doctor and staff member
School, elementary Two spaces per classroom and administrative or staff person
School, high Ten spaces per classroom plus one space for each administrative or staff person
School, college, trade, vocational Ten spaces per classroom plus one space for each administrative or staff person
Self-service storage facility, mini-warehouse One space for each twenty storage stalls, plus two spaces for resident manager's office
Shopping center One space for each 200 square feet of gross floor area
Single-family residence Two spaces per dwelling unit
Theater, cinema One space for each three seats
Wholesale One space for each 500 square feet of gross floor area
  ( Ord. No. 91-9(Amd. 21), 9-6-2016 ; Ord. No. 2018-08, 8-13-2018 )
Sec. 603. - Handicapped parking requirements.
Each parking area of six (6) or more spaces devoted to uses other than residential shall provide handicapped parking spaces (a minimum of twelve feet in width), counted as a part of the total parking required, in accordance with the following scale:
EXPAND
Total Parking Requirements Handicapped Spaces Required
6—25 1
26—50 2
51—75 3
76—100 4
101—150 5
151—200 6
201—300 7
301—400 8
401—500 9
501+ 2% of total required
  ( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 604. - Minimum number of off-street loading spaces required.
On the same lot with every building, structure or part thereof, erected or occupied for manufacturing, storage, warehouse, truck freight terminal, goods display, department store, wholesale store, market, hotel, hospital, mortuary, laundry, dry cleaning, retail business or other uses similarly involving the receipt or distribution of vehicles, materials or merchandise, there shall be provided and maintained on the lot adequate space for the standing, loading and unloading services to avoid undue interference with public use of streets and alleys.
Such loading and unloading space, unless otherwise adequately provided for, shall be an area twelve (12) feet by sixty (60) feet, with fourteen-foot height clearance, and shall be provided according to the following schedule.
For the above described uses, one (1) loading space shall be provided for the first 25,000 square feet of gross floor area or fractional part thereof. Uses in excess of 25,000 square feet shall provide loading spaces according to the following schedule:
EXPAND
Square Feet Number of Spaces
25,001—99,999 2
100,000—159,999 3
160,000—239,999 4
240,000—349,999 5
for each additional 100,000 or fraction thereof 1 additional
  All plans for off-street loading areas shall be subject to the approval of the Zoning Administrative Officer.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 605. - Parking and loading area design requirements.
605.1
Improvement of Parking Lots:
All parking areas containing more than five (5) spaces shall meet the following requirements:
a.
They shall be graded to insure proper drainage, surfaced with concrete or asphalt, and maintained in good condition free of obstructions.
b.
Parking areas shall not be used for the sale, repair, dismantling or servicing of any vehicle, equipment, materials or supplies.
c.
Each parking space shall be clearly marked, and directional arrows or signs shall be provided wherever necessary. Markers, directional arrows and signs shall be properly maintained at all times.
d.
A parking lot pavement setback of ten (10) feet from any public street right-of-way and five (5) feet from any exterior property line shall be provided, except where access points and interconnections to other parcels have been approved. The parking lot pavement setback shall be increased to ten (10) feet where such lot abuts a residential district. Concrete or other suitable curb stops shall be installed so as to prevent vehicle encroachment onto setback areas.
e.
Not less than ten (10%) percent of the total area devoted to parking shall be landscaped open space.
f.
Any lighting facilities installed shall be so arranged to prevent the direct illumination of adjacent residential properties or public streets.
g.
A site plan indicating property lines, parking areas, location of parking spaces, pavement setbacks, drainage facilities, paving materials, access and other features required to ensure compliance with this Article shall be submitted to the Zoning Administrative Officer. A permit shall be required prior to the construction of new parking areas, or for the expansion or alteration of existing parking areas.
605.2
Curb Cut And Access Specifications:
Access from public streets to all parking areas, regardless of the number of parking spaces provided, shall meet the following requirements:
a.
Curb cuts or access breaks for service drives, entrances and exits on public streets shall not be located within fifty (50) feet of the intersections of two (2) curb lines, street pavement lines or such lines extended or any street intersection nor within forty (40) feet of another curb cut or access break on the same side of the street.
b.
Curb cuts shall be no greater than forty (40) feet in width and no closer than twenty (20) feet to any property line, unless common use of driveways for an abutting lot is required or approved by the City Engineer.
c.
No more than two (2) curb cuts or access breaks shall be permitted for any lot or parcel with a frontage of two hundred (200) feet or less on any one (1) street.
d.
All curb cuts or access breaks onto public streets, except for those serving single-family detached residences, shall require a permit from the Building Official.
e.
Curb cuts for driveways that serve commercial, office or industrial zoning districts shall not be permitted to pass through residential zoning districts or to access alleys that abut a residential zoning district.
f.
Where the side of an accessed public street or alley does not contain curbing, such curbing or other method of approved access control shall be provided.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 606. - Exemption of B-3 Historical Business District.
[Section previously] deleted.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 607. - Parking areas must be appropriately zoned.
Parking areas, parking lots or parking garages which constitute the principal use of a lot shall only be permitted in B-2, B-3, CBD, and I zoning districts. In cases where parking areas, parking lots or parking garages exist or are proposed to serve as accessory parking for a particular building or use, regardless of whether such parking is required by this Article, such land, area or lot, including all access drives, shall require the same or less restrictive zoning district as that within which such building or use it serves is located. Similarly, in cases where accessory parking serves a building or use which requires, or was approved as, a conditional use, such parking area and access drives shall require the same conditional use approval as that for which such conditional use or building it serves.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
