ARTICLE XX. - MINIMUM DIMENSIONAL REQUIREMENTS

Sec. 2001. - Minimum setback requirements by zoning district (in feet).
NOTE: Additional setbacks may be required for specific uses; for more information refer to section for each particular zoning district. Additional setback and buffer may also be required in accordance with Article XXI and with the City of Dahlonega's Soil Erosion, Sedimentation and Pollution Control Ordinance. *
EXPAND
Zoning District Front Arterial Streets Front Other Street Rear Side
R-1 see Article IX 60 35 15 15
R-2 see Article X 60 35 15 ** 15
R-3 see Article XI 60 35 10 ** 10
MHP As specified in Sections 1203 and 1204
PUD As approved by City Council and indicated on site plan
B-1 see Article XXI 60 35 15 * 15 *
B-2 see Article XXI 60 35 15 * 15 *
B-3 see Article XXI 0 0 5 0
CBD see Article XXI 15 15 5 0
O-I see Article XXI 60 35 30 * 30 *
I see Article XXI 60 35 15 * 15 *
  NOTES:
* An additional setback and buffer may be required in accordance with Section 2102.
** For townhouses and condominiums, a rear setback of twenty-five (25) feet is required as provided in Section 1004 and Section 1005, respectively.
Additional setbacks may be required for specific uses as provided in permitted uses sections of particular zoning districts.
See Section 711 Accessory Buildings and Uses.
See Section 706 Separation Between Principal Buildings.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
Sec. 2002. - Minimum lot width, lot size, floor area and density standards.
EXPAND
zoning district Minimum Lot Width (Feet) Minimum Lot Size (Square Feet) Maximum Dwelling Units Per Acre (Multiple Family Units) Minimum Floor Area Per Dwelling Unit (Square Feet)
R-1 100 30,000 0 1,200
R-2 80 15,000 * 5.5 * 1,000
R-3 60 10,000 ** 8.0 ** 700
MHP See Section 1204 4.0 mobile home 650
PUD As indicated on site plan and approved by City Council
B-1 80 20,000 0 700
B-2 NONE NONE 8.0 700
B-3 NONE NONE 8.0 700
CBD NONE NONE 8.0 700
O-I 80 10,000 0 1,000
I 100 21,780 0 650
  Notes:
Minimum lot width and minimum lot sizes apply to non-residential uses as well as residential uses.
* 30,000 square feet is required for a two-family dwelling (duplex).
** 20,000 square feet is required for a two-family dwelling (duplex).
See Section 709 Street Frontage Requirement.
See City of Dahlonega Comprehensive Development Regulations.
( Ord. No. 91-9(Amd. 21), 9-6-2016 )
