ARTICLE XVIII. - OFF-STREET PARKING AND LOADING REQUIREMENTS

Sec. 18.01. - Scope of provisions.
Except as provided in this Section, no application for a building permit shall be approved unless there is included with the plan for such building, improvements, or use, a plot showing the required space reserved for off-street parking and service purposes. Occupancy shall not be allowed unless the required off-street parking and service facilities have been provided in accordance with those shown on the approved plan.
Sec. 18.02. - Parking spaces may not be reduced.
Off-street parking spaces shall not be reduced below the minimum required number for the use or facility to which they are assigned.
Sec. 18.03. - Drainage, construction and maintenance.
All off-street parking, loading and service areas shall be constructed of concrete or asphalt, or a pervious surface may be permitted as deemed appropriate by the Mayor and Council and final approval by Mayor and City Council. All such areas shall be at all times maintained at the expense of the owners thereof, in a clean, orderly and dust-free condition.
Sec. 18.04. - Separation from walkways, sidewalks and streets.
All off-street parking, loading and service areas shall be separated from walkways, sidewalks and streets by curbing or other suitable protective device. Curbing and other protection devices must be set back a minimum of three feet to prevent vehicle overhang.
Sec. 18.05. - Parking area design.
Parking stalls shall have a minimum width of nine (9) feet and length of eighteen (18) feet. There shall be provided adequate interior driveways to connect each parking space with a public right-of-way. Interior driveways shall be at least twenty-four (24) feet wide where used with ninety (90) degree angle parking, at least eighteen (18) feet wide where used with sixty (60) degree angle parking, at least thirteen (13) feet wide where used with forty-five (45) degree parking, and at least twelve (12) feet wide where used with parallel parking, or where there is no parking, interior driveways shall be at least ten (10) feet wide for one-way traffic movement and at least twenty (20) feet wide for two-way traffic movement.
Sec. 18.06. - Joint parking facilities.
Two (2) or more neighboring uses, of the same or different types may provide joint facilities provided the number of off-street parking spaces are not less than the sum of the individual requirements.
Sec. 18.07. - Pavement markings and signs.
Each off-street parking space shall be clearly marked, and pavement directional arrows or signs shall be provided in each travel way wherever necessary. Markers, directional arrows and signs shall be properly maintained so as to ensure their maximum efficiency.
Sec. 18.08. - Number of parking spaces.
In order to assure a proper and uniform development of public parking areas throughout the area of jurisdiction of this Ordinance, to relieve traffic congestion on the streets, and to minimize any detrimental effects on adjacent properties, off-street parking space shall be provided and maintained as called for in the following schedule. For any use or class of use not mentioned in this schedule, the requirements shall be the same as a similar use as mentioned herein. Parking requirements for additions to existing uses shall be based only upon the new addition even if the existing use is deficient.
Sec. 18.09. - Street parking requirements.
In all zoning districts, off-street parking spaces for the storage and parking of self-propelled motor vehicles for the use of occupants, employees and patrons of the buildings hereafter erected, or enlarged after the effective date of this Ordinance, shall be provided as herein prescribed.
Required parking spaces shall be maintained and shall not be encroached upon so long as said main building or structure remains, unless an equivalent number of such spaces are provided elsewhere in conformance with this Ordinance. The owner or owners of a building structure or other land use requiring off-street parking spaces must show, to the satisfaction of the City Manager, that he/she is the record title holder of the property devoted to said principal land use and of the property proposed for off-street parking use, or that he/she is the lessee of such property.
Sec. 18.10. - Planted areas.
Any off-street parking facility of ten (10) cars or more shall also provide the equivalent of one (1) parking space per each ten (10) cars and each faction thereof, to be planted with at least one (1) tree with a minimum diameter (measured at the location of its greatest width) of 1 ½ inches, and grass and/or ground cover. The exact location within the parking facility is optional with each design, but the planted area herein referred to shall be in addition to perimeter buffer strips and to other landscaping on the property outside the parking facility.
The purpose of this requirement is to aid in providing visual definition, oxygenation, shade, wind modulation, drainage absorption and relief from other problems as may result form total coverage paving.
Sec. 18.11. - Location of parking space for other land uses.
The off-street parking facilities required for all other uses shall be located on the lot or within one thousand (1000) feet of the permitted use requiring such off-street parking, such distance to be measured along lines of public access to the property between the nearest point of the parking facility to the building to be served.
_____
Sec. 18.12. - Off-street parking standards.
EXPAND
Use Number of Parking Spaces Required
1. Apartment and Multi-family dwelling Two spaces for each dwelling family dwelling unit plus 1 space for each 10 units for travel trailers, boats and other vehicles.
2. Apartments for the Elderly One (1) space for each dwelling unit.
3. Appliance Store One (1) space for each four hundred (400) square feet of gross floor area.
4. Auditorium, stadium assembly hall, gymnasium, theater, community recreation center (a) one (1) space per three (3) fixed seats in largest assembly room or area, or (b) or (1) space for each forty (40) square feet of floor area available for the accommodation of movable seats in the largest assembly room, or combination of fixed and moveable sets; or (c) one (1) space per each one hundred fifty (150) square feet of gross floor area; whichever is greatest.
5. Automobile Service Stations (1) space (in addition to service area) for each pump and grease rack and one (1) space for each two (2) employees during period of greatest employment but not less than four (4) spaces.
6. Automobile Parts and Accessories One (1) space for each four hundred (400) square feet of gross floor area.
7. Automobile sales and repair, service stations and auto washeterias Same as Use 5 above plus one (1) space for each five hundred (500) square feet of gross floor area of the shop or washeteria.
8. Automotive Repair Services and Garages One (1) space for each four hundred (400) square feet of retail area plus two (2) spaces for each service bay.
9. Bowling Alley Four (4) spaces per alley plus requirements for any other use associated with the establishment such as a restaurant, etc.
10. Club or Lodge One (1) space for each two (2) employees plus one (1) space for each two hundred (200) square feet of gross floor area within the main assembly area plus additional spaces for other uses permitted within the premises.
11. Church One (1) space per four (4) seats in main place of assembly.
12. Combined Uses Parking spaces shall be the total of the spaces required for each separate use established by this schedule.
13. Dance School One (1) space for each employee plus one (1) space per one hundred fifty (150) square feet of gross floor area plus safe and convenient loading and unloading of students.
14. Duplex Dwelling Unit One (1) unpaved space per each unit. Residential driveways will satisfy this need.
15. Financial Institution One (1) space for each two hundred fifty (250) square feet of gross floor area and two (2) waiting spaces for each drive-thru window.
16. Furniture Store One (1) space for each four hundred (400) square feet of gross floor area.
17. Grocery Store (including small convenience type food store) One (1) space for every two hundred fifty (250) square feet of gross floor area.
18. Group Home See "Nursing Home".
19. High Schools, Schools One (1) space for each teacher, employee and administrative personnel plus safe and convenient loading of students plus (5) spaces for each classroom.
20. Hospital One (1) space for each bed plus one (1) space for each employee (nurse, attendant, etc.) per shift plus one (1) space for each staff or visiting doctor.
21. Hotel One (1) space for each guest room suite or unit plus one (1) space for each two (2) employees.
22. Indoor and outdoor recreational areas (commercial) (a) one (1) space for each one hundred fifty (150) square feet of gross floor, building, ground area or combination devoted to such use; or (b) one (1) space per each four (4) seats or facilities available for patron use, whichever is greater.
23. Industrial or manufacturing establishment or warehouse Two (2) spaces for each three (3) employees on shift of greatest employment, plus one (1) space for each vehicle used directly in the conduct of the business.
24. Kindergarten, nursery schools and day care One (1) space for each employee plus safe and convenient loading of children.
25. Motel One (1) space for each unit plus one (1) space for each two (2) employees.
26. Nursing Home One (1) space for each two (2) beds plus one (1) space for each employee on shift of greatest employment.
27. Office, professional building or similar use One (1) space for each three hundred fifty (350) square feet of the gross floor area or one (1) space for each two (2) employees, whichever is greater.
28. Personal service establishment. One (1) space for every three hundred fifty (350) square feet of the gross floor area, or one (1) space for each two (2) employees, whichever is greater.
29. Repair Shop One (1) space for every three hundred (300) square feet of gross floor area plus one (1) space for each employee.
30. Restaurant or place dispensing food, drink or refreshments to be consumed on the premises One (1) space for each one hundred (100) square feet of gross floor area with a minimum of ten (10) parking spaces.
31. Restaurant or place dispensing food, drink or refreshments for carry out only (and having outdoor seat area) One (1) space for each one hundred fifty (150) square feet of gross floor area (with a minimum of ten (10) spaces for this); plus one (1) additional space for each three (3) outdoor seats provided.
32. Restaurant or place dispensing food, drink or refreshments for carry out (no seating provided). One (1) space for each one hundred fifty (150) square feet of gross floor area; with a minimum of ten (10) parking spaces.
33. Restaurant or place dispensing food, drink or refreshments to be consumed on the premises and also having a drive-thru service One (1) space for each one hundred (100) square feet of gross floor area; with a minimum of ten (10) parking spaces and providing an adequate lane for thru traffic which will not obstruct the required parking and drive-way for the restaurant.
34. Schools, elementary One (1) space for each teacher one (1) space for each two (2) employees and administrative personnel and one (1) for each classroom, plus safe and convenient loading and unloading of students.
35. Senior Citizen Homes One (1) space for each two (2) beds, plus one (1) space for each employee on shift of greatest employment.
36. Shopping Center (if over 35,000 square feet of gross floor area) One (1) space for every three hundred fifty (350) square feet of gross floor area.
37. Shopping Center (If 35,000 square feet or less of gross floor area) One (1) space for every three hundred (350) square feet of gross floor area.
38. Swimming Pool One (1) space for each two hundred (200) square feet of water surface area plus requirements for additional uses in association with the establishment such as a restaurant, etc.
39. Trailer Park One (1) space for each trailer stall plus one (1) space for each two (2) employees.
40. Retail stores One (1) space for each 200 square feet of gross floor area.
  Sec. 18.13. - Off-street loading requirements.
On the same premises with every building, structure or part thereof, erected and occupied for manufacturing, storage, warehouse, truck freight terminal, goods display, department store, wholesale store, market, hotel, hospital, mortuary, laundry, dry cleaning or other uses similarly involving the receipt or distribution of vehicles, materials or merchandise, there shall be provided and maintained on the lot of adequate space for standing, loading and unloading services in order to avoid undue interference with public use of the streets and alleys.
Such loading and unloading space, unless otherwise adequately provided for, shall be an area ten (10) feet by fifty (50) feet, with fifteen (15) foot height clearance, and shall be provided according to the following schedule:
EXPAND
0—10,000 None
10,001—100,000 One (1) space for the first 10,001 square feet plus one (1) additional space for each additional 40,000 square feet in excess of the 100,001 square feet.
Over 500,000 Seven (7) spaces for the first 500,001 square feet plus one (1) space for each additional 100,000 square feet in excess of 500,001 square feet.
  Sec. 18.14. - Minimum number of loading spaces required.
Industrial, wholesale and rental operations shall provide space as follows:
1.
Off-street loading spaces shall be provided as appropriate to the functions and scope of operation of individual or groups of buildings and uses.
2.
Off-street loading spaces shall be designed and constructed so that all maneuvering to park and unpark within the property lines of the premises. Loading spaces shall be provided so as not to interfere with the free, normal movement of vehicles and pedestrians on public right-of-way.
Sec. 18.15. - Americans with disabilities act (ada) general parking standards.
1.
The City encourages the placement of handicap parking spaces at each off-street parking lot and at selected on street parking locations. Any business shall install the appropriate sign(s) and painted spaces.
2.
Each parking space reserved for the disabled shall be painted and have a sign as per the requirements set out in the "Manual on Uniform Traffic Control Devices".
3.
For all buildings considered "public", at least one (1) accessible walk having no steps or abrupt changes in level, and complying with all criteria specified within this ordinance, shall be provided from the parking spaces for disabled people into each accessible primary building entrance. Accessible walks shall also be provided between buildings on a common site. Doors swinging onto or away from walks shall have level areas. Walk surfaces shall be stable, firm, and of sufficient texture to resist slippage.
Sec. 18.16. - Parking spaces and passenger loading zones for disabled persons.
1.
A safe place, located either on or off the street, shall be designated for handicapped passengers to get into and out of cars. It shall be:
a.
As near as possible to the building entrance provided for the handicapped.
b.
Zoned to prohibit parking.
c.
Provided with a ramp to the sidewalk level, if located at a curbside.
Parking Spaces and Passenger Loading Zones
for Handicapped
EXPAND
Total Spaces or Zones Required Number
to be Reserved
for Handicapped
Up to 25 1
26 to 50 2
51 to 75 3
76 to 100 4
101 to 150 5
151 to 200 6
201 to 300 7
301 to 400 8
401 to 500 9
501 to 1,000 2% of total
Over 1,000 20 plus 1 for each 100 over 1,000
  Sec. 18.17. - Disabled parking for places of assembly.
Disabled Parking for Places of Assembly
EXPAND
Total Spaces Required Number
to be Handicapped
0 to 500 3
501 to 750 5
751 to 1,000 8 plus 2 for each 500 over 1,000
  Spaces shall be:
1.
As near as possible to the building entrance provided for the handicapped with a maximum travel distance of 200 feet.
2.
Identified (wheelchair symbol) and controlled for use by individuals with physical disabilities.
3.
A minimum of nine (9) feet in width, with a four (4) foot wide pedestrian access aisle on one side of the space.
4.
Spaces shall be substantially level ( 1/8 inch per foot slope for drainage), suitable for wheeling and walking, and accessible to the building by a clear, level or ramped path of travel.
(Note: Spaces parallel to a curb (four (4) inches high maximum) on the building side of the parking area are desirable. If perpendicular parking is necessary, four (4) foot wide access aisles between every other bay will be required.)
