ARTICLE VIII. - OFF-STREET PARKING AND SERVICE REQUIREMENTS

Sec. 104-211. - Scope of provision.
Except as provided in this article, no application for a building permit shall be approved unless there is included with the plan for such building, improvements, or use, a plot plan showing the required space reserved for off-street parking and service purposes. Occupancy shall not be allowed unless the required off-street parking and service facilities have been provided in accordance with those shown on the approved plan.
(Code 1992, § 8-215; Ord. No. 98-01, § 1, 1-14-1998)
Secs. 104-212—104-215. - Reserved.
Editor's note— Ord. No. 2016-13, § 6, adopted July 28, 2016, repealed §§ 104-212—104-215, which pertained to reduction of parking and maximum lot coverage, street access; curb cuts in other than residential districts, state highway department approval, corner visibility clearance and derived from Code 1992, § 8-216; Ord. No. 98-01, § 1, 1-14-1998; Ord. No. 2000-15, § 1, 10-26-2000; Ord. No. 2001-11, § 1, 7-26-2001; Ord. No. 2001-13, § 1, 10-25-2001.
Sec. 104-216. - Off-street automobile parking.
Off-street automobile parking shall be provided in accordance with all applicable provisions of this article.
(Code 1992, § 8-220; Ord. No. 98-01, § 1, 1-14-1998)
Sec. 104-217. - Design standards.
All parking facilities, including entrances, exits and maneuvering areas, and access drives shall comply with the following provisions, except as otherwise exempted in the Zoning Ordinance:
(1)
Have access to a public street. Only single-family residences shall be allowed backward egress from a driveway onto a local street. In all other cases, maneuvering and access aisle areas shall be sufficient to permit vehicles to enter and leave the vehicular use area in a forward motion.
(2)
Be graded and paved, and be curbed when needed for effective drainage control; however, due to their limited hours of operation, parking facilities for churches, charitable or nonprofit organizations and other uses as appropriate, need only be graded and have, at a minimum, an all-weather surface approved by the county engineer, whose approval shall be based on compliance with article IX of this chapter, soil erosion and sedimentation control. Use of pervious types of pavement for required parking spaces and overflow parking areas is encouraged. Pervious types of pavement include but are not limited to pervious concrete, gravel with geo-web reinforcement, brick pavers, etc. All pervious types of pavement are subject to compliance with established specifications for that type of material which will be reviewed and approved by the county engineer. All types of pavement, pervious or impervious, are required to be maintained to the original design by the property owners.
(3)
Have all spaces marked with painted lines, curb stops, or other similar designations.
(4)
Parking area. Parking stalls shall have a minimum width of ten feet and length of 20 feet. For any nonresidential use providing 50 or more spaces, a maximum of ten percent of the required parking spaces may be marked for compact cars, which may be a minimum of nine feet by 18 feet in size. There shall be provided adequate interior driveways to connect each parking space with a public right-of-way. Interior driveways shall be at least 24 feet wide where used with 90-degree angle parking, at least 18 feet wide where used with 60-degree angle parking, at least 12 feet wide where used with parallel parking, or where there is no parking, interior driveways shall be at least 12 feet wide for one-way traffic movement and at least 24 feet wide for two-way traffic movement.
(5)
Curb return radii shall not exceed 15 feet or be less than ten feet.
(6)
Adequate lighting shall be provided if the facilities are to be used at night. Such lighting shall be arranged and installed so as not to reflect or cause glare on abutting properties.
(Code 1992, § 8-221; Ord. No. 98-01, § 1, 1-14-1998; Ord. No. 2000-15, § 2, 10-26-2000; Ord. No. 2016-13, § 7, 7-28-2016)
Sec. 104-218. - Location.
All parking facilities shall be located in accordance with the following provisions:
(1)
The required space shall be provided on the same plot with the use it serves, except as provided herein;
(2)
The required parking space for any number of separate uses may be combined in one lot but the required space assigned to one may not be assigned to another use at the same time, except that one-half of the parking space required for churches, theaters, or assembly halls whose attendance will be at night or on Sunday may he assigned to a use which will be closed at nights or Sundays.
(Code 1992, § 8-222; Ord. No. 98-01, § 1, 1-14-1998; Ord. No. 2016-13, § 7, 7-28-2016)
Sec. 104-219. - Reserved.
Editor's note— Ord. No. 2016-13, § 6, adopted July 28, 2016, repealed § 104-219, which pertained to recreational vehicle parking and derived from Code 1992, § 8-224; Ord. No. 98-01, § 1, 1-14-1998.
Sec. 104-220. - Minimum number of loading spaces required.
Industrial, wholesale and retail operations shall provide loading spaces as follows:
(1)
Spaces appropriate to functions. Off-street loading spaces shall be provided as appropriate to the functions and scope of operation of individual or groups of buildings and uses.
(2)
Design of loading spaces. Off-street loading spaces shall be designed and constructed so that all maneuvering to park vehicles for loading can take place entirely within the property lines of the premises. Loading spaces shall be provided so as not to interfere with the free and normal movement of vehicles and pedestrians on public rights-of-way.
(3)
Ingress and egress. Ingress and egress to off-street loading spaces shall conform to driveway entrance regulations of the county. Along state highways, ingress and egress may be limited in order to provide for safe access to the development and to provide for maintenance of adequate sight distances. Where frontage drives are required, these may be extended to the side property line in order to permit joint use by adjacent properties.
(Code 1992, § 8-226; Ord. No. 98-01, § 1, 1-14-1998; Ord. No. 2016-13, § 7, 7-28-2016)
Sec. 104-221. - Number of parking spaces.
In order to assure a proper and uniform development of public parking areas throughout the area of jurisdiction of this article, to relieve traffic congestion on the streets, and to minimize any detrimental effects on adjacent properties, off-street parking spaces shall be provided and maintained as called for in the following schedule; the requirements shall be the same as a similar use as mentioned herein. Parking requirements for additions to existing uses shall be based upon the new addition even if the existing use is deficient.
(1)
Duplex or multi-family dwelling
Three spaces for each dwelling unit, plus any required spaces for recreation areas, sates office, etc. as required by the zoning ordinance.
(2)
Assembly, public (including auditorium and stage theater):
One space for every 200 square feet in the main assembly room.
(3)
Athletic field:
One space for every four bleacher seats or 30 spaces per field, whichever is greater.
(4)
Automobile sales and repairs:
Three spaces for every service area within the garage, or one space for every service employee, whichever is greater.
(5)
Bowling alley:
Four spaces per alley, plus requirements for any other use associated with the establishment such as a restaurant, etc.
(6)
Care home:
One space for every four beds, plus one space for every employee.
(7)
Car wash (principal use):
One space for each employee plus one space for every 250 square feet of gross floor area
(8)
Church, temple, or place of worship:
One space for every 150 square feet of occupiable floor area.
(9)
Club or lodge:
One space for every 200 square feet of assembly area.
(10)
Combined uses:
Parking spaces shall be the total of the spaces required for each separate use established by this schedule.
(11)
Dance school:
One space for every employee plus one space for every 150 square feet of gross floor area, plus safe and convenient loading and unloading of students.
(12)
Developed residential recreational/amenity areas:
One space for every 250 square feet of clubhouse, pool house, pavilion, and swimming pool water surface area; and
Two spaces for every other amenity provided (including but not limited to tennis, volleyball, basketball, and playgrounds).
(13)
Dry cleaning/laundry plant:
One space for every 10,000 square feet of gross floor area, plus one space for every employee.
(14)
Entertainment, indoor (except bowling alleys):
One space for every 250 square feet of floor area devoted to patron use.
(15)
Entertainment, outdoor:
Ten spaces for every acre.
(16)
Fraternity or sorority:
One parking space for every two residents and one space for every two employees.
(17)
Funeral parlor:
One space for every three seats in the chapel plus space for each funeral vehicle.
(18)
Furniture, appliance, or carpet sales:
One space for every 500 square feet of showroom, plus one space per 750 square feet of indoor storage space.
(19)
Gas station
No parking spaces are required for gas pump uses. All other uses on the site must meet the requirements for retail, service, and repair etc.
(20)
Gas and fuel, wholesale:
One space for each employee.
(21)
Golf course:
Two spaces for every hole and one space for every two employees, plus requirements for any other use associated with the golf course.
(22)
Greenhouse or nursery, retail:
One space for every 10,000 square feet plus one space for every employee.
(23)
Trade school, college, or university:
One space for every two students, one space for every 300 square feet of administrative and educational office space, plus safe and convenient loading of students, plus additional spaces for stadium, gymnasium, and auditorium uses.
(24)
Hospital:
One and one-half spaces for every two beds plus one space for every employee.
(25)
Hotel:
One space for every guest room plus one space for every two employees on the largest shift.
(26)
Industrial facility, manufacturing or processing establishment:
One space for every 1,000 square feet of gross floor area, plus one space for every employee.
(27)
Kennel, commercial:
One space for every 300 square feet of cage and retail area.
(28)
Kindergarten, nursery school, or day care center:
One space for every employee, plus a covered, safe, and convenient transient parking area for the loading/unloading of students.
(29)
Manufactured home park:
Two spaces for every manufactured home.
(30)
Medical or dental office:
One space for every employee, plus one space for every examining room.
(31)
Motel:
One space for every guest room.
(32)
Movie theater:
One space for every five seats.
(33)
Moving and storage:
One
space for every 10,000 square feet of gross floor area, plus one space for every employee.
(34)
Museum, art gallery, library, or similar use:
One space for every 400 square feet of gross space to which the public has access.
(35)
Office, business or professional, bank, or similar use:
One space for every 300 square feet of gross floor area.
(36)
Personal service establishment:
One space for every 300 square feet of gross floor area, but not less than two spaces for every employee/operator.
(37)
Printing and copying services:
One space for every 250 square feet of gross floor area.
(38)
Repair services, limited (small items):
One space for every 250 square feet of gross floor area.
(39)
Restaurant or place dispensing food, drink or refreshments:
One space for every two seats provided for patron use.
(40)
Retail stores of all types not mentioned otherwise:
One space for every 300 square feet of gross floor area
(41)
School, elementary and middle:
One space for every employee, and one space for every classroom, plus safe and convenient area for loading and unloading of students.
(42)
School, high:
One space for every two students, plus one space every employee.
(43)
Self service storage facility:
One space for every 75 storage bays plus one space for every employee, plus two customer spaces.
(44)
Shopping center:
One space for every300 square feet of gross floor area.
(45)
Stable, commercial:
One space for every 300 square feet within stable, plus one space per three animal stalls.
(46)
Swimming pool, public:
One space for every 200 square feet of water surface area plus requirements for additional uses in association with establishments such as a restaurant, etc.
(47)
Upholstery shop:
One space for every 250 square feet of gross floor area.
(48)
Vehicle sales and rental:
One space for every 500 square feet of enclosed area, plus one space for every 5,000 square feet of outdoor sales, rental, and display area, plus one space for every service bay, plus one space for every employee.
(49)
Veterinarian office or clinic:
One space for every employee plus one space for every 500 square feet of gross floor area.
(50)
Warehouse and bulk storage facility:
One space for every 2,000 square feet of gross floor area, plus one space for every employee.
(51)
Wholesale, or open yard establishment:
One space for each employee, one space for every 2,000 square feet of gross floor area, and one space for every company vehicle to be stored on the site.
(52)
Woodworking or cabinetmaking:
One space for every 250 square feet of gross floor area.
(Ord. No. 2015-01, § 1, 1-22-2015; Ord. No. 2016-13, § 7, 7-28-2016)
Secs. 104-222—104-248. - Reserved.
