ARTICLE 7. - IMPROVEMENT REQUIREMENTS GENERALLY

Sec. 701. - Applicability.
The improvements specified in this Article shall be provided by the subdivider or developer or at the subdivider's or developer's expense in every subdivision or land development in accordance with the standards contained in this Ordinance.
Sec. 702. - Survey Monumentation.
Survey monumentation of the public streets and lot lines in a subdivision shall be provided, where applicable, and when required by Georgia Board of Professional Engineers and Land Surveyors Board Rules, Chapter 180-7 Technical Standards for Property Surveys.
Sec. 703. - Streets.
Streets, whether public or private, shall provide access to a development and to all lots in a subdivision, including the extension of streets required to provide access to adjoining properties.
(a)
Streets contained wholly within a subdivision shall be improved to the full standards contained in this Ordinance. Streets that adjoin a development shall be improved to the minimum standards of a local street (unless the character area in which the subdivision or land development is located calls for a different standard, as determined by the Zoning Administrator) from the center line of the street along the development's frontage.
(b)
Streets in nonresidential areas or serving a multi-family development shall be improved to "collector" street standards unless the character area in which the subdivision or land development is located calls for a different standard, as determined by the Zoning Administrator). In residential subdivisions, streets that serve 100 dwelling units or more shall be improved to "collector" street standards, while those serving fewer than 100 dwelling units shall be improved to "local" street standards, unless the character area in which the subdivision or land development is located calls for a different standard, as determined by the Zoning Administrator.
(c)
The City may participate in sharing the costs of construction and installation to the extent that improvements are needed to bring an existing public street to a higher level of classification than required to exclusively serve the subdivision or development.
(d)
Curb and gutter shall be required along all streets and internal roadways, unless the character area in which the subdivision or land development is located or the Flowery Branch Zoning Ordinance calls for a different standard, as determined by the Zoning Administrator.
Sec. 704. - Stormwater Facilities.
Stormwater drainage and detention facilities shall be provided as required by the City Engineer and in accordance with this Ordinance.
Sec. 705. - Sidewalks.
Minimum five foot (5') wide sidewalks shall be provided along each side of any street within or adjacent to the development, in accordance with this Ordinance. Wider sidewalks shall be required when called for pursuant to design criteria specified for the character area in which the land development is located. A two foot wide landscape between the curb and sidewalks shall be installed, where possible.
Sec. 706. - Traffic Control Devices.
Street name signs, stop bars and traffic control signs shall be installed by the City at the developer's expense.
Sec. 707. - Public Water.
Public water service shall be provided to every lot in a subdivision and to every development for both domestic use and fire protection, as more specifically provided in Article 13 "Utilities," of this Ordinance.
Water mains shall be connected to the existing City water system and extended past each lot. A contractor approved by the City shall install all elements of the water system, including mains, valves and hydrants at the developer's expense. The Governing Body may elect to participate in sharing the costs of construction and installation to the extent that pipe sizes are needed in excess of that size required to exclusively serve the subdivision or development.
Sec. 708. - Fire Hydrants.
Fire hydrants shall be located along the streets in every subdivision and within every development project, as approved by the City Engineer.
Sec. 709. - Reclaimed Water.
Reuse water service shall be provided to every lot in a subdivision and to every development for both domestic use and fire protection, as more specifically provided in Article 13 "Utilities," of this Ordinance.
Reclaimed water mains shall be connected to the existing City water reuse system, where available and required, and extended past each lot. A contractor approved by the City shall install all elements of the reuse water system, including mains, valves and meters at the developer's expense. The Governing Body may elect to participate in sharing the costs of construction and installation to the extent that pipe sizes are needed in excess of that size required to exclusively serve the subdivision or development.
Sec. 710. - Sanitary Sewerage.
Every lot in a subdivision and every development shall be connected to the City's public sanitary sewerage system unless on-site disposal is approved by the City Engineer and the Hall County Environmental Health Department. Sewer lines shall be connected to the existing sanitary sewerage system and extended past each lot, as more specifically provided in Article 13 "Utilities," of this Ordinance.
Every element of the sanitary sewer system, including mains, lift stations, outfalls, and laterals, shall be installed at the developer's expense by a contractor approved by the City. The Governing Body may elect to participate in sharing the costs of construction and installation to the extent that sewer mains or related improvements are needed in excess of the facilities required to exclusively serve the subdivision or development.
