ARTICLE III. - GENERAL REQUIREMENTS AND STANDARDS

3-1. - Conformance to standards.
All roads, streets, and/or alleys that are to be used by the general public shall be constructed in accordance with the standards fixed by these Regulations.
3-2. - Plats required.
No person shall divide land within Grady County before filing a preliminary and/or final plat that meets the requirements of these regulations as well as those of the Georgia Plat Act (O.C.G.A. § 15-6-67). The Grady County Planning Commission and/or Board of Commissioners must approve all plats, except administrative subdivision plats, and those recorded at the request of the owner as not an approved building lot.
3-3. - Recording of plats.
All subdivision final plats shall be recorded in the office of the Clerk of Superior court, by the Code Enforcement Official or an authorized agent thereof, within ten (10) working days of their approval.
No subdivision plat shall be submitted for recording to the Clerk of Superior Court unless it bears the appropriate stamps and signatures as required by the regulations.
3-4. - Street, easement acceptance.
The acceptance, approval and certification of any public street or private drive shall be the exclusive authority of the Grady County Board of Commissioners. A plat shall not be approved for recording or development unless the public streets and private drives thereon were previously accepted, approved and certified by the County Board of Commissioners.
3-5. - Public street access.
No building shall be erected on any lot within Grady County unless the street giving access thereto has been accepted as a public street or unless such street has obtained the status of a public street prior to March 1, 1988 excepting that a building may be erected on a lot having access to a private road if the said private road has been approved by the Board of Commissioners.
All lots which have ingress/egress from a public road must be located and have adequate separations to provide for safety and proper maintenance.
3-6. - Lot, flag.
Flag lots are not allowed in major subdivisions. They are allowed otherwise providing the required frontage on a public road is thirty (30) feet. The minimum width of a flag lot shall be one hundred and fifty (150) feet at the actual building setback line.
3-7. - Lot frontage/access.
The lot frontage/access requirement for each type of subdivision is listed below:
a.
Administrative subdivisions require a minimum of thirty (30) foot frontage on a public street;
b.
Minor subdivisions require a minimum thirty (30) foot frontage on a public street;
c.
Major subdivisions require a minimum of one-hundred and fifty (150) foot frontage on a public street;
d.
Family subdivisions require a minimum of thirty (30) foot frontage on an easement or public a street;
e.
Exempt non approved building subdivisions require a minimum of thirty (30) foot frontage on an easement to a street;
f.
Exempt building lots five (5) or more acres subdivisions require a minimum of thirty (30) foot frontage on a street.
3-8. - Lot elevation.
The building shall have a minimum elevation of two (2) feet above the one hundred (100) year flood stage of streams in the particular area being developed based on acceptable engineering procedure and approved by the Code Enforcement Officer. Sufficient elevation for individual sewage disposal systems at/or at a higher elevation than the building elevation may be required by the Grady County Health Department.
3-9. - Lot size.
All lots, not served by public or community sanitary sewer and water, must meet current Health Department Standards for minimum lot size of one (1) acre and other lot standard requirements. Except a subdivision with a septic tank and a DNR permitted and bonded community water system may have lots sized at ¾ acre or more. This includes all subdivisions.
3-10. - Lot width.
Per Health Department requirements PART VII section 7.03 Minimum widths of lots at the location of the absorption field shall be one-hundred feet (100 ft) for lots with DNR approved community water and one-hundred fifty feet (150 ft) for lots not served by DNR approved community water. For lot frontage/access see [Section] 3-7 [of this Appendix].
3-11. - Corner lots.
Corner lots for residential use shall have extra width to permit an appropriate building setback of thirty-five (35) feet on both streets.
3-12. - Double frontage lot.
A lot other than a corner lot which abuts two streets. Lots in a major, minor, private subdivision having residential frontage to the front and rear shall be prohibited except where it is essential to provide separation of residential development from railroad or major and secondary arterial rights-of-way.
Where a railroad or major arterial abuts or runs through any portion of the subdivision, the subdivision plan shall provide that each lot backing on said railroad or arterial right-of-way shall have an average minimum depth of one hundred seventy (170) feet with neither side yard line being less than one hundred twenty (120) feet which shall include a twenty (20) foot planted buffer strip separating the lots from the right-of-way.
3-13. - Screening.
A planting screen easement buffer of appropriate size and location may be required by the Planning Commission to separate incompatible types of land use.
3-14. - Setbacks.
The minimum building setback line shall be no closer than thirty-five (35) feet from an existing or proposed right-of-way. The minimum depth of building setback lines for commercial and/or industrial lots shall be sufficient to provide two (2) rows of off-street parking space. See [Section 14-1 of this Appendix] for illustration.
3-15. - Suitability of land.
Land which is determined by the reviewing agents to be unsuitable for subdivision development due to flooding, improper drainage, topography, utility easement or other features shall not be subdivided unless adequate provisions are made for the development.
3-16. - Building and lot sales.
No buildings on lots or sale of lots shall take place before final plat approval and the certified plat is recorded.
3-17. - Re-subdivision.
Parcels of land which have been subdivided may not be re-divided into smaller than five (5) acre tracts within two (2) years unless such divisions comply with the Grady County Health Department's Regulations for subdivisions and Grady County's Land Use Regulations for minor or major subdivisions. A change in ownership does not exempt from this provision.
3-18. - Exemptions.
Certain plats and subdivisions are exempt from all or part of these regulations as described below. It is the responsibility of the Board of Commissioners or its designee to review all plats to determine the exemption that applies in each case:
a.
Any division of land not intended for building sites for residential, commercial, industrial or public uses is exempt from these regulations except frontage and access requirements are met as provided herein. If the plat is exempt for this reason, the following stamp will be applied:
EXEMPT PLAT
NON-APPROVED BUILDING LOTS
This plat is exempt from the Land Development Regulations of Grady County. The lots shown on this plat are not approved as building lots.
Date:________ Owner:___________
EXPAND
_____
Chairman, Grady County Board of Commissioners _____
Date
  b.
Any division of land of one (1) or more lots, where all lots resulting are five (5) acres or larger in area and street frontage and access requirements are met is exempt. Following review and approval by the Grady County Board of Health, the plat shall be submitted to the Board of Commissioners for review. If the plat is exempt, the following stamp will be applied:
EXEMPT PLAT
BUILDING LOTS APPROVED
ALL LOTS FIVE OR MORE ACRES
This plat is exempt from the Land Development Regulations of Grady County. The lots shown on this plat have been inspected by the Board of Health for on-site potable water supply and sewage disposal systems and are approved as building lots.
Date:________ Owner:___________
EXPAND
_____
Chairman, Grady County Board of Commissioners _____
Date
  c.
The division of property, for the purpose of conveyance by gift of the property from the owner to a member of the immediate family, is exempt from these regulations, with the exception of [Section] 3.7d [of this Appendix]. Immediate family is defined as grandparent, parent including stepparent, grandchild, brother, sister, spouse, child including stepchild. The plat shall be submitted to the Board of Commissioners for review. If the plat is exempt, the following stamp will be applied:
FAMILY SUBDIVISION
NON-APPROVED BUILDING LOT
This lot has not been approved as a building lot.
Date:________ Owner:___________
EXPAND
_____
Chairman, Grady County Board of Commissioners _____
Date
  In order to convert a platted Family Subdivision lot to an approved building lot, a valid on-site sewage management system permit issued by the Grady County Board of Health must be provided to the Grady County Code Enforcement Director.
3-19. - Subdivision, driveway.
Superintendent of the Road Department must approve any and all pipe to be installed i.e., size, type and locations before pipe is installed on county right-of-way. Subdivision developers are to be responsible for all driveway installations in a Minor and Major Subdivision. Developer cannot purchase pipe from county. County does not install pipe for the developer of a Minor and Major Subdivision. The property owner will be responsible for upkeep and repair of driveway henceforth.
3-20. - Community water system.
The county must receive a water source approval from DNR The well must be bonded, in the amount as set by the board of commissioners or their designated agent, until a permit has been issued by DNR (see definition of community water system).
