ARTICLE VII. - USE REQUIREMENTS BY DISTRICTS

Section 71. - Residential districts.
71.1. R-1 single-family residential districts. Within R-1 single-family residential districts, the following uses are permitted:
(1)
Single-family dwellings (detached).
(2)
Accessory buildings and uses when located on the same lot or parcel of land as the main structure and customarily incident thereto and provided the requirements in section 93 are met.
(3)
Fallout shelters provided the requirements in section 94 are met.
(4)
Home swimming pool provided the location is not closer than ten feet to any property line and the pool is enclosed by a wall or fence of at least five feet in height and provided approval from the Jones County Health Department has been obtained.
(5)
Agricultural, forestry, livestock and poultry production, provided that the operation is conducted on a tract of land not less than ten acres in area, and that no structure containing poultry or livestock and no storage of manure or odor or dust-producing substance or use shall be located within 200 feet of a property line; provided, however, any such structure existing at the time of passage of this ordinance shall be allowed to extend to the existing building line but no nearer the property line than any existing portion of such structure. All animals (except those generally recognized as pets) shall be kept in a structure, pen or corral. Anyone may keep fowls for their own personal use on land less than ten acres provided all of the requirements in this section are met.
(6)
Churches and related accessory buildings, provided they are located on a lot fronting an arterial or collector street and are placed not less than 50 feet from any property line.
(7)
Home occupations and cottage industries provided the requirements in section 95 are met.
(8)
Kindergartens, playschools and day care center homes.
(9)
Public and private schools and libraries, excluding business and trade schools.
(10)
Public utility structures and buildings provided that the installation is properly screened. No office shall be permitted and no equipment be stored on the site.
(11)
Golf, swimming, tennis or country clubs, privately owned and operated community clubs or associations, athletic fields, parks, and recreation areas, provided that no building for such purposes is located within 100 feet of any property line.
71.2. R-1A single-family residential districts. Within the R-1A single-family residential districts, the following uses are permitted:
(1)
Single-family dwellings (detached).
(2)
Accessory buildings and uses when located on the same lot or parcel of land as the main structure and customarily incident thereto, provided the requirements in section 93 are met.
(3)
Fallout shelters provided the requirements in section 94 are met.
(4)
Home swimming pool provided the location is not closer than ten feet to any property line and the pool is enclosed by a wall or fence at least five feet in height and provided approval from the Jones County Health Department has been obtained.
(5)
Agricultural, forestry, livestock and poultry production, provided that the operation is conducted on a tract of land not less than ten acres in area, and that no structure containing poultry or livestock and no storage of manure or odor or dust producing substance or use shall be located within 200 feet of a property line; provided, however, any such structure existing at the time of passage of this ordinance shall be allowed to extend to the existing building line but no nearer the property line than any existing portion of such structure. All animals (except those generally recognized as pets) shall be kept in a structure, pen or corral. Anyone may keep fowls for their own personal use on land less than ten acres provided all other requirements in this section are met.
(6)
Churches and related accessory buildings provided they are located on a lot fronting an arterial street and are placed not less than 50 feet from any property line.
(7)
Home occupations provided the requirements in section 95 are met.
(8)
Kindergartens, playschools and day care center homes.
(9)
Public or private schools and libraries, excluding business or trade schools.
(10)
Public utility structures and buildings provided that the installation is properly screened and services only the immediate area. No office shall be permitted and no equipment shall be stored on the site.
(11)
Golf, swimming, tennis or country clubs, privately owned and operated community clubs or associations, athletic fields, parks and recreation areas, provided that no building for such purposes is located within 100 feet of any property line.
71.3. R-2 two-family residential districts. Within the R-1A[2] two-family residential districts, the following uses are permitted:
(1)
Single-family dwellings (detached).
(2)
Two-family dwelling (duplex).
(3)
Accessory buildings and uses when located on the same lot or parcel of land as the main structure and customarily incident thereto, provided the requirements in section 93 are met.
(4)
Fallout shelters provided the requirements in section 94 are met.
(5)
Home swimming pool provided the location is not closer than ten feet to any property line and the pool is enclosed by a wall or fence at least five feet in height and provided approval from the Jones County Health Department has been obtained.
(6)
Agricultural, forestry, livestock and poultry production, provided that the operation is conducted on a tract of land not less than ten acres in area, and that no structure containing poultry or livestock and no storage of manure or odor or dust producing substance or use shall be located within 200 feet of a property line; provided, however, any such structure existing at the time of passage of this ordinance shall be allowed to extend to the existing building line but no nearer the property line than any existing portion of such structure. All animals (except those generally recognized as pets) shall be kept in a structure pen or corral. Any one may keep fowls for their own personal use on land less than ten acres provided all other requirements in the section are met.
(7)
Churches and related accessory buildings provided they are located on a lot fronting an arterial street and are placed not less than 50 feet from any property line.
(8)
Home occupations provided the requirements in section 95 are met.
(9)
Kindergartens, playschools and day care centers and homes.
(10)
Public or private schools and libraries, excluding business or trade schools.
(11)
Public utility structures and buildings provided that the installation is properly screened and services only the immediate area. No office shall be permitted and no equipment shall be stored on the site.
(12)
Golf, swimming, tennis or country clubs, privately owned and operated community clubs or associating athletic fields, parks and recreation areas, provided that no building for such purposes is located within 100 feet of any property line.
(13)
Group personal care homes.
71.4. R-3 multifamily residential district. Within the R-3 multifamily residential district, the following uses are permitted:
(1)
Single-family dwellings (detached).
(2)
Two-family dwelling (duplex).
(3)
Multifamily dwelling that conform with section 92.
(4)
Type A manufactured homes, as defined in section 89, on individual lots, provided that the homes enclosed under all exterior walls by a continuous masonry wall, unpierced except for required ventilation and access and that all provisions of section 91.3 are met.
(5)
Accessory buildings and uses when located on the same lot or parcel of land as the main structure and customarily incident thereto, provided the requirements in section 93 are met.
(6)
Fallout shelters provided the requirements in section 94 are met.
(7)
Home swimming pool provided the location is not closer than ten feet to any property line and the pool is enclosed by a wall or fence at least five feet in height and provided approval from the Jones County Health Department has been obtained.
(8)
Agricultural, forestry, livestock and poultry production, provided that the operation is conducted on a tract of land not less than ten acres in area, and that no structure containing poultry or livestock and no storage of manure or odor or dust producing substance or use shall be located within 200 feet of a property line; provided, however, any such structure existing at the time of passage of this ordinance shall be allowed to extend to the existing building line but no nearer the property line than any existing portion of such structure. All animals (except those generally recognized as pets) shall be kept in a structure, pen or corral. Anyone may keep fowls for their own personal use on land less than ten acres provided all other requirements in this section are met.
(9)
Churches and related accessory buildings, provided they are located on a lot fronting an arterial or collector street and are placed not less than 50 feet from any property line.
(10)
Home occupation provided the requirements in section 95 are met.
(11)
Kindergartens, playschools and day care centers and homes.
(12)
Public or private schools and libraries.
(13)
Public utility structures and buildings provided that the installation is properly screened as required in section 67. No equipment shall be stored on the site.
(14)
Golf, swimming, tennis or country clubs, privately owned and operated community clubs or associations, athletic fields, parks and recreation areas, provided that no building for such purposes is located within 100 feet of any property line.
(15)
Hotels and apartment hotels.
(16)
Office buildings exclusively used for professional occupancy.
(17)
Hospitals, sanitariums, clinics, convalescent or nursing homes.
(18)
Clubs, lodges and boardinghouses.
(19)
Mobile home parks provided the requirements in section 91 are met.
Within approved mobile home parks, type A, type B or type C, manufactured homes, as defined in section 89 are permitted.
(20)
Townhouses provided that the requirements in section 92 are met.
(21)
Personal care homes congregate.
(Ord. of 5-9-2014)
Section 72. - Commercial districts.
72.1. C-1 Neighborhood commercial district.
72.11. Required conditions. All business, servicing, storage or processing shall be conducted within a completely enclosed building except where the nature of the activity makes it impossible as for example, off-street loading, automobile parking for customers while on the premises, miniature golf courses, and the sale of automobile fuel at service stations. Uses, processes or equipment employed shall be limited to those which are not objectionable by reason of odor, dust, bright lights, smoke, noise or vibration.
72.12. Permitted uses. Within the C-1 neighborhood commercial district, the following uses are permitted:
(1)
Any retail business or commercial use in which there is no processing or treatment of materials, goods or products except as provided for, including:
(a)
Appliance store including radio and television service.
(b)
Art and antique shop.
(c)
Bakery employing not more than ten persons.
(d)
Bank and drive-in bank.
(e)
Bicycle or motorcycle store.
(f)
Book, video sales or rental, stationery, camera or photographic supply store, except any such establishment that would satisfy the definition of an adult entertainment establishment.
(g)
Confectionery store.
(h)
Clothing, shoe, millinery, dry goods and notions.
(i)
Drug store.
(j)
Ice cream parlor.
(k)
Furniture, home furnishings, including office furniture and equipment.
(l)
Florist, nursery and gift shop.
(m)
Grocery, fruit, vegetable, meat market, delicatessen, catering and super markets.
(n)
Hardware and paint store.
(o)
Jewelry store.
(2)
Any of the following service businesses:
(a)
Barber and beauty shop.
(b)
Cafe, grills, lunch counters, and restaurants, but not including nightclubs, bars, taverns and drive-in restaurants.
(c)
Dress-making and tailoring shops.
(d)
Laundry and dry cleaning pick-up stations, and self-service laundry.
(e)
Shoe repair shops.
(f)
Personal care homes.
(3)
Office buildings.
(4)
Bowling alleys and billiard rooms.
(5)
General farming and horticulture.
(6)
Single-family dwellings (detached) and two-family dwellings provided the lot requirements in the R-1A and the R-2 residential zoning districts are met.
(7)
Accessory buildings and uses when located on the same lot or parcel of land as the main structure and customarily incident thereto, provided the requirements in section 93 are met.
(8)
Home swimming pool provided the location is not closer than ten feet to any property line and the pool is enclosed by a wall or fence at least five feet in height and provided approval from the Jones County Health Department has been obtained.
(9)
Fall-out shelters provided the requirements in section 94 are met.
(10)
Signs as provided in section 97.
(11)
Automobile detail centers, provided there are no more than two automobiles being washed at one time, and no more than four parked on the lot while waiting to be served. Adequate drainage must be approved by the city superintendent.
(12)
Churches and related accessory buildings, provided they are located on a lot fronting on an arterial or collector street and are placed not less than 50 feet from any property line.
72.2. C-2 general commercial district.
72.21. Required conditions. All business, servicing, storage or processing shall be conducted within a completely enclosed building except where the nature of the activity makes it impossible as for example, off-street loading, automobile parking for customers while on the premises, miniature golf courses, and the sale of automobile fuel at service stations. Use, processes or equipment employed shall be limited to those which are not objectionable by reason of odor, dust, bright lights, smoke, noise or vibration.
72.22. Permitted uses. Within the C-2 general commercial district, the following uses are permitted:
(1)
Any retail business or commercial use in which there is no processing or treatment of materials, goods, or products except as provided for, including:
(a)
Appliance store including radio and television service.
(b)
Art and antique shop.
(c)
Bakery employing not more than ten persons.
(d)
Bank and drive-in bank.
(e)
Bicycle or motorcycle store.
(f)
Book, video sales or rental, stationery, camera or photographic supply store, except any such establishment that would satisfy the definition of an adult entertainment establishment.
(g)
Confectionery store.
(h)
Clothing, shoe, millinery, dry goods and notions.
(i)
Drugstore.
(j)
Ice cream parlor.
(k)
Furniture, home furnishings, including office furniture and equipment.
(l)
Florist, nursery and gift shop.
(m)
Grocery, fruit, vegetable, meat market, delicatessen, catering and super markets.
(n)
Hardware and paint store.
(o)
Jewelry store.
(2)
Any of the following service businesses:
(a)
Barber and beauty shop.
(b)
Cafe, grills, lunch counters, and restaurants, but not including nightclubs, bars, taverns and drive-in restaurants.
(c)
Dress-making and tailoring shops.
(d)
Laundry and dry cleaning pick-up stations, and self-service laundry.
(3)
Office buildings.
(4)
Bowling alleys and billiard rooms.
(5)
General farming and horticulture.
(6)
Bus and railroad terminal facilities.
(7)
Accessory buildings and uses when located on the same lot or parcel of land as the main structure and customarily incident thereto, provided the requirements in section 93 are met.
(8)
Home swimming pool provided the location is not closer than ten feet to any property line and the pool is enclosed by a wall or fence at least five feet in height, and provided approval from the Jones County Health Department has been obtained.
(9)
Fall-out shelters provided the requirements in section 94 are met.
(10)
Signs as provided in section 97.
(11)
Automobile service station provided the requirements in section 96 are met.
(12)
Temporary tents for revivals.
(13)
Theater, but not including drive-in theaters or theaters that can be classified as adult entertainment establishments.
(14)
Public utility structures and buildings, including electric and natural gas, substations, telephone exchanges, radio and television stations, and similar structures for the storage of supplies, equipment or service operations when properly screened.
(15)
Churches and other places of worship with attendant education and recreational buildings.
(16)
Kindergartens, playschools, and day care centers and homes.
(17)
Golf, swimming, tennis or country clubs, privately owned and operated community clubs or associations, athletic fields, parks and recreational area.
(18)
Private clubs, fraternal orders or lodges.
(19)
Hospitals, clinics, sanitariums, convalescent or nursing homes.
(20)
Commercial parking garage or lot provided no entrance or exit be on the same side of the street and within the same block as a school and that curb breaks be limited to two for each 100 feet of street frontage, each not to exceed 30 feet in width and not located closer than 20 feet to a street intersection.
(21)
Temporary uses including sale of Christmas trees, carnivals, church bazaars, sale of seasonal fruit and vegetables from roadside stands, but such use not permitted for a period to exceed two months in any calendar year.
(22)
Multifamily dwellings that conform with section 92 provided the requirements in the R-3 residential district are met.
(23)
Bottling works for soft drinks.
(24)
Printing, blueprinting, bookbinding, photostating, lithography and publishing establishments.
(25)
Undertaking or mortuary establishments and ambulance services.
(26)
All uses of a predominantly retail nature, including:
(a)
Electrical supplies.
(b)
Heating and plumbing equipment.
(c)
Dairy products.
(d)
Bakeries.
(e)
Tires, batteries and other automotive accessories.
(f)
Sporting goods.
(g)
Farm and garden supplies.
(h)
Finance, insurance, and real estate offices.
(27)
Public utility structures and buildings, including electric and natural gas substations, telephone exchanges, radio and television stations, and similar structures for the storage of supplies, equipment or service operations when properly screened as required in section 97.
(28)
Public or private schools and libraries.
(29)
Motels, hotels and apartment hotels.
(30)
Food locker plant renting lockers for the storage of food, including sale of retail, delivery, cutting and packaging of meats not including slaughtering.
(31)
Automobile, travel trailer, farm equipment and implements, and mobile home sales (new and used) which need not be enclosed, but any mechanical or body repair must be conducted entirely within a structure which shall not have any opening, other than a stationary window, within 100 feet of a residential district and provided further that all vehicles on a used car sales lot must be in operating condition at all times.
(32)
Automobile repair garage, mechanical and body, provided all operations are conducted in a building which shall not have any opening, other than a stationary window, within 100 feet of a residential district and which shall not store or otherwise maintain any parts or waste material outside such buildings.
(33)
Drive-in restaurants.
(34)
Milk bottling and distribution and ice cream manufacture.
(35)
Places of assembly including auditoriums, stadiums, coliseums and dance halls.
(36)
Produce and farmers markets.
(37)
Dry cleaning and laundry establishments.
(38)
Automobile detail centers, provided there are no more than two automobiles being washed at one time, and no more than four parked on the lot while waiting to be served. Adequate drainage must be approved by the city superintendent.
(39)
Borrow Pits, subject to the following conditions:
(a)
The borrow pit may only provide soil for a State, Federal or a Locally (Jones County or City of Gray) funded road construction project that is located entirely within Jones County.
(b)
The borrow pit may not result in the creation of a pond or depression in the ground.
(c)
No area may have finished slope that is steeper than 1:2.
(d)
Upon completion, the site must be final stabilized with 95 percent vegetation.
(e)
All operations must be completed within 24 months. Any extension of operations beyond 24 months will be considered a conditional use.
72.23 Conditional uses. Within the C-2 general commercial district the following uses may be considered:
(1)
Auction houses. Provided the following requirements are met:
(a)
All sales and storage of materials are within a permanent building. Said building may be open sided.
(b)
No firearms, livestock or automobiles may be auctioned.
(c)
No auction may be held after 10:00 p.m.
(d)
All auction item sold must be removed from the premises within two hours of the completion of the auction or by 10:00 p.m. whichever is earlier.
72.3. C-3 entertainment commercial district. The purpose of this district is to provide a location for entertainment facilities catering to the adult population of the city, such as clubs featuring live entertainment. This district also includes commercial uses allowed in the C-2 general commercial district.
72.31. Required conditions. All business activities and transactions associated with adult entertainment establishments shall be conducted within an enclosed building.
72.32. Permitted uses. The following uses are permitted within a C-3 district:
(1)
Any use allowed in the C-2 general commercial district.
(2)
Adult entertainment establishments subject to the requirements in section 99.
(Ord. of 5-5-1997; Ord. No. 09-O-006, 10-5-2009; Ord. of 5-9-2014; Ord. of 6-16-2014; Ord. of 9-4-2014)
Cross reference— Businesses, ch. 22.
Section 73. - Wholesale and [light] industrial district.
73.1. M-1 wholesale and light industrial district. Within the M-1 wholesale and light industrial district, the following uses are permitted:
(1)
All permitted uses in a C-2 general commercial district except that all new dwellings shall be prohibited and all existing dwellings shall be a conforming use.
(2)
Ice plants.
(3)
Car wash provided that a paved area shall be located on the same lot for the storage of vehicles awaiting entrance to the washing process sufficient to contain a number of vehicles (at 200 sq. ft. per vehicle) equal to one-third of the practical hourly capacity of the washing machines and in addition that curb breaks be limited to two, each not to exceed 30 feet in width, and located not closer than 20 feet to an intersection.
(4)
Contractor's storage and equipment yards when located entirely within a building or fenced area as required in section 67.
(5)
Building and lumber supply establishments provided entire storage area is properly screened as required in section 67, or of a greater height as required to adequately screen such areas, and that any machine operations be conducted entirely within a building which shall not have any opening, other than a stationary window, within 100 feet of a residential district.
(6)
Establishments for manufacture, repair, assembly or processing including:
(a)
Confectionery manufacture.
(b)
Clothing and garment manufacture.
(c)
Laboratories for testing materials, chemicals analysis [and] photography processing.
(d)
Manufacture and assembly of scientific, optical and electronic equipment.
(e)
Manufacture of musical instruments and parts.
(f)
Manufacture of souvenirs and novelties.
(g)
Manufacture of toy, sporting and athletic goods.
(7)
Wholesale warehouses.
(8)
Drive-in theaters provided acceleration and deceleration lanes of at least 200 feet in length are provided for the use of vehicles entering or leaving the theater and the volume or concentration of traffic will not constitute a safety hazard or unduly impede highway traffic movement, and provided that the screen is not visible from any expressway, freeway, arterial or collector street located within 2,000 feet of such screen.
(9)
Truck terminals provided that acceleration and deceleration lanes of at least 200 feet are provided for trucks entering or leaving the site and that the truck traffic so generated will not create a safety hazard or unduly impede traffic movement.
(10)
Trade shops including sheet metal, roofing, upholstery, electrical, plumbing, venetian blind, cabinetmaking and carpentry, rug and carpet cleaning and sign painting provided that all operations are conducted entirely within a building which shall not have any opening, other than stationary windows, within 100 feet of any residential district.
(11)
Food processing plants, such as bakeries, meat packers, fish and poultry houses.
(12)
Frozen dessert and milk processing plants.
(13)
Any other establishments for the manufacture, repair, assembly, or processing of materials, similar in nature to those listed in section 74.11(6) [sic] which are not objectionable by reason of smoke, dust, odors, bright lights, noise or vibration, or which will not contribute to the congestion of traffic.
(14)
Telecommunications towers up to a height of 80 feet that are designed and intended to accommodate at least one user.
(15)
Telecommunications towers up to a height of 100 feet that are designed and intended to accommodate at least two users.
(Ord. of 8-7-00(1))
73.2. M-2 industrial district. Within the M-2 industrial district, the following uses are permitted:
(1)
All permitted uses in M-1 wholesale and light industrial district.
(2)
Warehouses.
(3)
Agriculture, forestry, livestock and poultry production, provided that the operation is conducted on a tract of land not less than ten acres in area, and that no structure containing poultry or livestock and no storage of manure or odor or dust-producing substance or use shall be located within 200 feet of a property line.
(4)
Dwelling, including a mobile home, for the exclusive use of a watchman or caretaker when located on the same tract as the industrial use and subject to all dimensional and area requirements of the R-3 multifamily residential district.
(5)
Manufacturing, processing, fabrication, repair and servicing of any commodity or product except the following:
(a)
Manufacture of acetylene gas or storage thereof, acid, asbestos, ammonia, bleaching powder or chlorine, asphalt or products thereof, cement, lime gypsum or plaster of paris, coal tar or derivatives thereof, creosote or creosote treatment, clay tile or vitrified products, emery cloth or sand paper, explosive or fireworks or storage thereof, fertilizer, glue, size or gelatine, linoleum, matches, paint, oil, shellac, turpentine or varnish, rubber and gutta percha products, soda compounds.
(b)
Petroleum refining, tanning, curing, storage of hides and skins; boiler works, foundry or forge operation; incineration, reduction or dumping of offal, dead animals, garbage or refuse; fat rendering; junk, iron, rags, storage and baling; distillation of bones, coal or wood.
(c)
Any use that may be obnoxious or offensive by reason of the emission of odors, dust, smoke, gas, noise or vibration.
(6)
Outside aboveground tanks for the storage of gasoline, liquefied petroleum gas, oil or other inflammable liquids or gases but not when located within 500 feet of any residential district.
(7)
Junkyards provided the following provisions are met:
(a)
No such operation shall be permitted to locate closer than 300 feet to a residential district and no closer than 50 feet to any property line.
(b)
No such operation shall be permitted to locate on or facing a state or federal highway.
(c)
All such operations shall be completely enclosed by an opaque fence or wall, except driveway area having a minimum height of six feet, but in no case less than such a height as will effectively screen all operations from view.
(d)
The number of vehicular driveways permitted on any single street frontage shall be limited to one per 500 feet with a maximum of 20 feet driveway width.
Cross reference— Businesses, ch. 22.
