ARTICLE XIII. - GENERAL REQUIREMENTS AND MINIMUM STANDARDS OF DESIGN FOR THE SUBDIVISION OF LAND

Section 131. - General design requirements.
131.1. Suitability of land. Land subject to flooding, improper drainage, or erosion, or which is for topographical, geological or other reasons unsuitable for residential use shall not be platted for residential use nor for any other uses than will continue to increase the danger to health, safety, or property destruction, unless the hazards can be and are corrected.
131.2. Name of subdivision. The name of the subdivision must have the approval of the commission. The name shall not duplicate nor closely approximate the name of an existing subdivision.
131.3. Access. Access to every subdivision shall be provided over a public street.
131.4. Conformance to adopted major thoroughfare plans. All streets and other features of the major thoroughfare plan of the City of Gray and County of Jones shall be platted by the subdivider in the location and to the dimension indicated on the major thoroughfare plan adopted by the commission and/or the council.
131.5. Through traffic. Minor streets shall be so laid out that their use by through traffic will be discouraged.
Section 132. - General requirements for streets and other right-of-way.
132.1. Continuation of existing streets. Existing streets shall be continued at the same or greater width, but in no case less than the required width.
132.2. Connections with future subdivisions. Streets shall be reserved at strategic locations to provide for future access to adjoining properties which may be subdivided in the future. Each street connection shall intersect property lines at a 90-degree angle.
132.3. Street names. Street names shall require the approval of the commission. Streets that are obviously in alignment with streets already in existence and already names shall be given the name of the existing street. Names of new streets shall not duplicate or closely approximate those existing streets.
132.4. Street jogs. Street jogs with centerline offsets of less than 125 feet shall not be permitted.
132.5. Cul-de-sacs. Cul-de-sacs, or dead-end streets, shall not be greater in length than 800 feet. They shall be provided at the closed end with a turn-around having a right-of-way radius of at least 60 feet, with an outside pavement radius of at least 50 feet. The total right-of-way width, excluding turnarounds, shall be 60 feet, which shall include pavement of 20 feet and shoulders of eight feet regardless of the width of the right-of-way. Shoulders shall be suitable for use as emergency traffic lanes.
132.6. Development along major street, limited-access highway or railroad right-of-way. Where a subdivision abuts or contains an expressway, freeway, arterial or collector street, or a railroad right-of-way, the commission may require a street approximately parallel to and on each side of such right-of-way either as a marginal access street, or at a distance suitable for an appropriate use of intervening land, with a nonaccess reservation suitably planted. Due regard should be given requirements for approach grades and future grade separations in determining distances. Lots shall have no access to expressways, freeways, or arterial streets, but only to an accessible street in which case the commission may require double frontage lots.
132.7. Half streets. Half streets shall be prohibited except where essential to the reasonable development of the subdivision in conformity with the other requirements of these regulations, and where the commission finds it will be practicable to require the dedication of the other half when the adjoining property is subdivided, the other half of the street shall be platted within such tract.
132.8. Alleys. The requirements for providing alleys within a subdivision are as follows:
132.81. Alleys shall be provided in multifamily, commercial and industrial districts, except where other definite and assured provision is made for service access such as off-street parking, loading and unloading consistent with and adequate for the uses proposed.
132.82. Alleys shall not be provided in one-[family] and two-family residential developments unless the subdivider provides evidence satisfactory to the commission of the need for alleys.
132.83. Dead-end alleys shall be avoided where possible, but if unavoidable, shall be provided with adequate turn around facilities at the dead-end, as determined by the commission.
132.9. Reserve strips and easements.
132.91. Reserve strips controlling the access to streets shall be prohibited except where this control is definitely placed in the hands of the council under conditions approved by the commission. The commission may control access to expressways, freeways, arterial and collector streets by requiring all lots to face and have access to only minor streets.
132.92. Easements having a minimum width of ten feet and located along the side or rear lot lines shall be provided, as is necessary for utility lines and underground mains and cables. Where a subdivision is traversed by a watercourse, drainage way, channel or streams, there shall be provided a stormwater or drainage right-of-way of adequate width. Parallel streets may be required by the commission in connection therewith.
Section 133. - Right-of-way width requirements.
The minimum street right-of-way widths shall be as follows:
(1)
Freeways and expressways—150 feet.
(2)
Arterial streets—100 feet.
(3)
Collector streets—80 feet.
(4)
Minor commercial and industrial streets—70 feet.
(5)
Minor residential streets—60 feet.
(6)
Dead-end streets—50 feet.
(7)
Marginal access streets—50 feet.
(8)
Alleys—20 feet.
(9)
Cul-de-sacs—60 feet.
Section 134. - Street design requirements.
134.1. Street intersections. Street intersections shall be as nearly at right angles as possible with no street intersection being at any angle of less than 75 degrees.
134.2. Right-of-way radius. The street right-of-way radius at street intersections shall be at least 30 feet. Where the angle of street intersection is less than 90 degrees, the commission may require a longer radius.
134.3. Additional width on existing streets. Subdivisions that adjoin existing streets shall dedicate additional right-of-way if needed to meet the minimum street width requirements set forth in section 133.
134.31. The entire right-of-way shall be provided where any part of the subdivision is on both sides of the existing streets.
134.32. When the subdivision is located on one side of an existing street one-half of the required right-of-way, measured from the centerline of the existing roadway, shall be provided.
134.4. Obstruction of vision at intersections. On a corner lot and at the intersection of all subdivision entranceways and a public highway, there shall be no obstruction to vision between the height of three feet and ten feet above the average grade of each street within the triangular area formed by the intersection of the two roads and a line joining them at points 25 feet away from the intersection of the outermost pavement edges as measured along the outer edge of the paved roadway.
(Ord. No. 07-O-003, 3-5-2007)
Section 135. - Design standards for blocks and lots.
135.1. Design lengths and widths. Block lengths and widths shall be determined based on the following requirements:
135.11. Blocks shall not be greater than 1,200 feet nor less than 400 feet in length.
135.12. Blocks shall be wide enough to provide two tiers of lots of minimum depth except where abutting upon major street, limited-access highways, or railroads or where other situations make this requirement impracticable in which case the commission may approve a single tier of lots of minimum depth.
135.13. Blocks shall have pedestrian walkways, not less than ten feet wide, where deemed essential, to provide circulation, or access to schools, playgrounds, shopping centers, transportation and other community facilities.
135.2. Lot sizes. Lot dimensions shall conform to the requirements set forth in the zoning districts in which the land to be subdivided is located. Residential corner lots shall have adequate width to permit appropriate building setback from and orientation to both abutting streets.
135.3. Building lines. A building line meeting the front and side yard setback requirements of the zoning district in which the subdivision is located shall be established on all lots.
135.4. Lots abutting public streets. Each lot shall abut upon a dedicated public street, with a minimum road frontage of 60 feet, unless otherwise required by this ordinance.
135.5. Double frontage lots. Double frontage lots should be avoided except where essential to provide separations of residential development from traffic arterials or to overcome specific disadvantages of topography and orientation. A planting screen easement of at least ten feet, and across which there shall be no right of access, shall be provided along the line of lots abutting such a traffic artery or other disadvantageous use.
