ARTICLE XVIII. - MINIMUM DIMENSIONAL REQUIREMENTS

Sec. 42-499. - By zoning districts.
EXPAND
District Maximum Height (in feet) Minimum Lot Width (in feet) Minimum Lot Size (in sq. ft.) Maximum Lot Coverage (percentage) Principal Building Setback Maximum Density (in units per acre) Minimum Gross Floor Area Per Dwelling Unit
Front Side Rear
R-1 35 100 × 150 15,000 30 25 10 20 2.9 900
R-1A 35 75 × 134 10,000 35 20 7 15 4.3 750
R-1B 35 60 × 100 6,000 40 15 5 10 5.8 600
R-2 45 50 × 90 4,500 45 15 5 10 10.4 480
MHP 35 (See article XI of this chapter)
B-1 45 50 4,500 45 25 10 20 N/A 480
B-2 60 N/A N/A N/A 25(a) 10(a) 20(a) N/A N/A
O-I 45 50 10,000 45 25 10 20 4.3 480
M-1 150 N/A N/A 45 40 25(b) 50(b) N/A N/A
M-2 150 N/A N/A 60 40 25(c) 50(c) N/A N/A
  N/A= Not applicable or no minimum
(a) = A setback shall not be required when one or more buildings or structures on an abutting lot to the side does not meet the specified setback.
(b) = When development in this district abuts a residential district, a buffer with a minimum of 40 feet in width shall be provided along the entire property line abutting the residential district.
(c) = When development in this district abuts a residential or O-I district, a buffer with a minimum of 75 feet in width shall be provided along the entire property line abutting said district.
(Ord. of 10-2-1995, § 86-1801)
_____
Secs. 42-500—42-521. - Reserved.
