ARTICLE VII. - PARKING AND OTHER REQUIREMENTS

Sec. A. - Design standards for off-street automobile parking.
The Department of Community Development, of Paulding County, Georgia, shall have authority to permit, inspect, and issue Certificates of Occupancy to all developments within the City of Hiram, Georgia. Enforcement of building code shall be under purview of the Department of Community Development, of Paulding County, Georgia. Enforcement of Zoning Violations shall be under the purview of the Police Department, of the City of Hiram, Georgia which shall be heard and adjudicated in the Municipal Court of the City of Hiram, Georgia and which may be appealed from any decision of the Municipal Court of the City of Hiram, Georgia by written appeal within thirty (30) days from the date of such decision to the Superior Court of Paulding County, Georgia.
Off-street automobile parking shall be provided in accordance with all applicable provisions of this section.
(1)
Design Standards. All parking facilities, including entrances, exits and maneuvering areas, shall comply with the following provisions:
a.
Shall have access to a public street or easement approved by the Department of Community Development, of Paulding County, Georgia;
b.
Entrances and exits shall be graded and paved as specified by the Department of Community Development, of Paulding County, Georgia, and shall be curbed when needed for effective drainage control;
c.
Paved parking facilities shall have all spaces marked with paint lines, curbstones or other similar designations in accord with the following:
i.
Each space set at a ninety degree (90°) angle shall have not less than one hundred sixty-two (162) square feet and shall be not less than eight (8) feet six (6) inches wide and nineteen (19) feet deep, exclusive of passageways, which shall be not less than twenty-four (24) feet wide;
ii.
Each space set at a sixty degree (60°) angle shall have not less than one hundred seventy-six (176) square feet and shall be not less than eight (8) feet six (6) inches wide and twenty (20) feet eight (8) inches deep, exclusive of passageways, which shall be not less than eighteen (18) feet six (6) inches;
iii.
Each space set at a forty-five degree (45°) angle shall have not less than one hundred sixty-five (165) square feet and shall be not less than eight (8) feet six (6) inches wide and nineteen (19) feet five (5) inches deep, exclusive of passageways, which shall be not less than thirteen (13) feet six (6) inches wide;
iv.
There shall be adequate interior drives to connect each space with a public street;
d.
Shall be drained so as to prevent damage to abutting properties or public streets;
e.
Adequate lighting shall be provided if the facilities are to be used at night. Such lighting shall be arranged and installed so as not to reflect or cause glare on abutting properties.
f.
Any parking areas within the required front yard of any structure shall not be closer than ten (10) feet to any public right-of-way.
g.
The provision of (c), (e), and (f) above shall not apply to single-family residential uses where three (3) or less spaces are required.
(2)
Location. All parking facilities shall be located in accordance with the following provisions:
a.
The required space shall be provided on the same plot with the use it serves, except as provided herein;
b.
If vehicular parking or storage space required cannot be reasonably provided on the same lot on which the principal use is conducted, the Mayor and Council of the City of Hiram, Georgia, may permit such space to be provided on other off-street property provided such space lies within four hundred (400) feet of the main entrance to such principal use. The Zoning Board of Appeals, of Paulding County, Georgia, will consider each case and forward their recommendation to the Mayor and Council, of the City of Hiram, Georgia, for final action. Such vehicular parking space shall be associated with the permitted use and shall not hereafter be reduced or encroached upon in any manner; and
c.
The required parking space for any number of separate uses may be combined in one lot but the required space assigned to one use may not be assigned to another use at the same time, except that one-half of the parking space required for churches, theaters, or assembly halls whose peak attendance will be at night or on Sunday may be assigned to a use which will be closed at nights or on Sundays.
Sec. B. - Required spaces.
The number of parking spaces or area required for a particular use shall be as follows:
EXPAND
Type of Use Parking Requirements
Accessory retail sales and services Number required for office or institutional, motel, hotel, high-rise apartment use to which it is accessory. If it is a permitted secondary use in a structure other than the primary use: one space per 200 sq. ft. (net) of floor space
Adult entertainment establishments 1 space per 100 sq. ft. (net) of floor space
Agricultural produce stands 3 spaces per stand
Ambulance services 1 space per employee, 1 space per ambulance parked on site
Ambulance services, if accessory to hospitals or funeral homes 1 space per ambulance parked on site
Amphitheaters 1 space per 4 seats in amphitheater
Amusement centers 1 space per 2,000 sq. ft. (gross) of site area with a minimum of 25 spaces required and a maximum of 100 spaces
Ancillary retail sales Number of spaces required for the primary use
Animal hospitals 1 space per 285 sq. ft. (net) of floor space
Appliance repair (major) 1 space per 200 sq. ft. (net) of floor space, 1 space per loading dock
Arcades 1 space per 200 sq. ft. (net) of floor space
Asphalt plants 1 space per employee, 1 space per vehicle parked on site
Assembly halls 1 space per 3 seats for every person lawfully permitted within the assembly hall at one time
Athletic and health clubs 1 space per 200 sq. ft. (net) of floor space
Automobile, truck and trailer lease and rental facilities (accessory use) 1 space per employee, 1 space per vehicle parked on site
Automobile, truck and trailer lease and rental facilities (principal use) 1 space per employee, 1 space per 250 sq. ft. (net) of floor space, 1 space per vehicle parked on site
Automobile and truck sales and service facilities 1 space per 200 sq. ft. (net) of floor space, 1 space per vehicle parked on site
Automobile paint and body repair shops 1 space per 200 sq. ft. (net) of floor space, 1 space per vehicle parked on site
Automotive parking lots or garages As may be required to serve the principal use (see specific principal use for requirement), for freestanding parking garage-not applicable
Automotive storage yards and wrecker services; salvage yards 1 space per 300 sq. ft. (net) of floor space, 1 space per employee, with minimum of 5 spaces
Automotive upholstery shops 1 space per 300 sq. ft. (net) of floor space, 1 space per employee
Aviation airports (private) 1 space per 500 sq. ft. (net) of floor space, 1 space per hanger or tie down pad
Banks/financial institutions with drive-in establishments and/or automated transfer machines 1 space per 285 sq. ft. (net) of floor space, 3 additional spaces per automated transfer machine, 5 queue spaces per drive-in teller
Billiards and pool halls 2 spaces per pool table
Bio-medical waste transfer and disposal facilities 1 space per employee
Boarding/rooming houses 1 space per guest room, 2 spaces for the owners if resident on premises
Boat sales and service establishments 1 space per 200 sq. ft. (net) of floor space, 1 space per employee, 1 space per boat parked on site
Bowling alley 2 spaces per alley, 1 space per employee
Breeding and boarding kennels 1 space per 250 sq. ft. (net) of floor space, 1 space per employee
Building materials stores 1 space per 100 sq. ft. (net) of floor space, 1 space per vehicle parked on site, 1 space per loading dock
Bus stations 1 space per 300 sq. ft. (net) of floor space
Bus stations for freight 1 space per 500 sq. ft. (net) of floor space, 1 space per loading dock
Car washes 1 space per 200 sq. ft. (net) of floor space, 5 queue spaces per service line
Cemeteries 1 space per 300 sq. ft. (net) of floor space
Chemical plants or storage facilities 1 space per 500 sq. ft. (net) of floor space, 1 space per employee, 1 space per vehicle parked on site
Churches, chapels, temples, synagogues, and other places of worship 1 space per 4 seats in the principal place of worship, provided that the number of spaces required may be reduced by not more than 50% if the place of worship is located within 500 feet of any public parking lot or any commercial parking lot where sufficient spaces are available by permission of the owner(s) without charge, during the time of services to make up the additional spaces required
Clinics, medical/dental 4 spaces per physician or dentist, 1 space per employee
Clubs or lodges (non-commercial) 1 space per 250 sq. ft. (net) of floor space
Coliseums, stadiums, and convention centers (privately owned) 1 space per 3 seats for every person lawfully permitted within the coliseum or stadium at one time, plus 1 space per employee
Colleges and universities (private), including but not limited to research and training facilities 1 space per each 10 students for whom the school was designed, plus 1 space per classroom and administrative office
Commercial greenhouses and plant nurseries 1 space per 200 sq. ft. (net) of floor space, 1 space per employee
Commercial indoor recreation uses 1 space per 200 sq. ft. (net) of floor space
Commercial recreation restaurant 1 space for each 4 seats, plus 1 for each 250 sq. ft. of gross floor area
Community fairs 1 space per 2,000 sq. ft. (net) of site area
Community retail uses 1 space per 200 sq. ft. (net) of floor space
Composting plants 1 space per employee, 1 space per vehicle parked on site
Concrete plants 1 space per employee, 1 space per vehicle parked on site
Condominiums 2 spaces per dwelling unit
Contractors (general, heavy, special) 1 space per 285 sq. ft. (net) of floor space, 1 space per vehicle parked on site
Convenience food stores with self-service fuels A minimum of 5 spaces, 1 space per employee
Corporate or administrative offices for any permitted uses 1 space per 285 sq. ft. (net) of floor space
Crematories 1 space per employee
Cultural facilities 1 space per 400 sq. ft. (net) of floor space
Dairies 1 space per employee
Designated recycling collection locations A minimum of 10 spaces
Dry cleaning plants 1 space per employee
Eating and drinking establishments (including drive-in fast food restaurants) 1 space per 100 sq. ft. (net) of floor space
Electrical supply stores 1 space per 100 sq. ft. (net) of floor space, 1 space per loading dock
Emissions inspections 2 spaces minimum, 5 queue spaces per bay, 1 space per employee
Exterminating facilities (insect and/or rodent) 1 space per 285 sq. ft. (net) of floor space, 1 space per vehicle parked on site
Farm and garden supply stores 1 space per 100 sq. ft. (net) of floor space, 1 space per loading dock
Farm equipment stores/repair establishments 1 space per 100 sq. ft. (net) of floor space, 1 space per loading dock
Farmers markets (fully enclosed) 1 space per 100 sq. ft. (net) of floor space, 1 space per loading dock
Flea markets 1 space per 500 sq. ft. (net) of site area
Freight terminals 1 space per 500 sq. ft. (net) of floor space, 1 space per employee, 1 space per vehicle parked on site
Fuel and ice dealers 1 space per employee, 1 space per vehicle parked on site
Full service gasoline stations 3 spaces per bay, 1 space per employee
Funeral homes 1 space per 4 seats in assembly room, 1 space per 250 sq. ft. (net) of floor space
Golf Courses 5 spaces per hole, 1 space per 300 sq. ft. (net) of floor space
Group homes 1 space per 2 residents
Halfway houses 1 space per 1.5 residents
Hazardous waste sites 1 space per employee, 1 space per vehicle parked on site
Heavy automotive repair establishments 1 space per bay, 1 space per loading dock, 1 space per employee
Heavy manufacturing establishments 1 space per employee, 1 space per loading dock
Heavy repair services and trade stores 1 space per 500 sq. ft. (net) of floor space, 1 space per employee, 1 space per vehicle parked on site
High-rise apartments 1.75 spaces per dwelling unit
Hospitals 1 space per 2 beds
Hotels 1.25 spaces per unit
In-home day care Off street parking and loading/unloading must be provided
Landfills (private) 1 space per employee, with minimum of 5 spaces
Laundry & dry cleaning pick-up establishments 1 space per 200 sq. ft. (net) of floor space, 2 queue spaces each drive-in window
Light automotive repair establishments 3 spaces per bay, 1 space per employee
Light manufacturing establishments 1 space per employee, 1 space per loading dock
Linen and diaper services 1 space per employee, 1 space per vehicle parked on site
Livestock sales pavilions 1 space per 2,000 sq. ft. of site area
Machine shops 1 space per employee
Mausoleums 1 space per employee
Medical and dental laboratories, provided that no chemicals are manufactured on site 1 space per employee
Mining operations 1 space per employee
Motels/extended stay 1.25 spaces per unit
Motorcycle, all-terrain vehicles (ATV), and three-wheel vehicle sales and service facilities 1 space per 200 sq. ft. (net) of floor space
Multi-family dwelling units 1.75 spaces per dwelling unit
Neighborhood retail uses 1 space per 200 sq. ft. (net) of floor space
Newspaper publishing facilities 1 space per employee, 1 space per vehicle parked on site, 1 space per loading dock
Nightclubs 1 space per 200 sq. ft. (net) of floor space
Non-automotive repair service establishments 1 space per 200 sq. ft. (net) of floor space, 1 space per vehicle parked on site
Non-profit riding stables 1 space per employee, 1 space per stall
Non-profit (seasonal use) fishing lakes Off-street parking area must be provided
Nursery schools and child day care centers A minimum of 20 spaces
Offices not elsewhere Classified 1 space per 285 sq. ft. (net) of floor space
Office service and supply establishments 1 space per 200 sq. ft. (net) of floor space, 1 space per employee
Other consumer goods and services 1 space per 200 sq. ft. (net) of floor space
Other facilities for disposal of the deceased 1 space per employee
Outdoor commercial racing (motorcycle, automobile, truck, tractor, and motorized vehicles) 1 space per employee, 1 space per 200 sq. ft. of site area
Outdoor golf driving ranges 1.5 spaces per tee, 1 space per 100 sq. ft. (net) of floor space for pro shop/clubhouses
Pawn shops 1 space per 200 sq. ft. (net) of floor space
Petroleum or bulk storage stations 1 space per employee, 1 space per vehicle parked on site
Photography studios 1 space per 200 sq. ft. (net) of floor space
Plumbing and/or heating equipment dealers 1 space per 200 sq. ft. (net) of floor space
Poultry hatcheries 1 space per employee, 1 space per vehicle parked on site
Printing, publishing, and lithography establishments 1 space per 200 sq. ft. (net) of floor space, 1 space per employee
Private community centers 1 space per every person lawfully permitted within the assembly area at one time plus 1 space per employee. In the absence of designated assemble area, 1 space per 300 sq. ft. (net) of floor space
Parks 1 space per 3,000 sq. ft. (net) of site area
Private schools of general and special education 1 space per classroom, 1 space per employee
Pro shops (accessory to driving ranges/golf courses) 1 space per 100 sq. ft. (net) of floor space
Professional offices 1 space per 285 sq. ft. (net) of floor space
Radio and television stations 1 space per 285 sq. ft. (net) of floor space, 1 space per employee
Rail stations 1 space per 300 sq. ft. (net) of floor space
Railroad car classification yards 1 space per employee
Railroad stations for freight 1 space per 500 sq. ft. (net) of floor space, plus 1 space per employee
Recreation grounds other than tennis courts and golf courses 1 space per 10,000 sq. ft. (net) of site area
Recycling drop-off centers A minimum of 10 spaces
Research and development centers 1 space per 500 sq. ft. (net) of floor space, 1 space per employee
Research testing laboratories 1 space per 500 sq. ft. (net) of floor space, 1 space per employee
Rest/personal care/convalescent homes 1 space per 4 beds
Re-upholstery and furniture repair 1 space per 250 sq. ft. (net) of floor space, 1 space per employee
Rooming and boarding houses 1 space per 2 residents
Self-service laundry facilities 1 space per 200 sq. ft. (net) of floor space
Self-services storage facilities A minimum of 5 spaces
Shelters (homeless) 1 space per employee
Signs and outdoor advertising facilities 1 space per 300 sq. ft. (net) of floor space, plus 1 space per employee
Single-family dwelling units (attached) 2 spaces per dwelling unit
Single-family dwelling units (detached) 2 spaces per dwelling unit
Studios and supplies 1 space per 250 sq. ft. (net) of floor space
Theaters 1 space per 100 sq. ft. (net) of floor space
Tire retreading and recapping facilities 1 space per employee, 1 space per vehicle parked on site
Townhouse dwelling units (attached) 2 spaces per dwelling unit
Trailer salesrooms and sales lots 1 space per 500 sq. ft. (net) of site area
Transportation equipment storage and maintenance facilities 1 space per employee
Truck terminals 1 space per employee
Two-family dwelling units 4 spaces per dwelling unit (duplex)
Utility facilities (private) 1 space per 500 sq. ft. (net) of floor space, 1 space per employee
Vending machine sales, service, rental, or repair establishments 1 space per 500 sq. ft. (net) of floor space, 1 space per loading dock
Vocational schools 1 space per each 10 students for whom the school was designed, plus 1 space per classroom and administrative office
Warehouse and storage facilities 1 space per 2,000 sq. ft. (net) of storage space, with a minimum of 5 spaces
Wholesale sales offices 1 space per 300 sq. ft. (net) of floor space
Wholesale trade and distribution facilities 1 space per 300 sq. ft. (net) of floor space, 1 space per loading dock
Wholesale trade offices in conjunction with office showrooms 1 space per 300 sq. ft. (net) of floor space, 1 space per loading dock
  Sec. C. - Site distance at intersections.
In all zoning districts, no fence, structure, planting, or other obstruction (above a height of three (3) feet) shall be maintained with fifteen (15) feet of the intersection of the right-of-way lines extended of two streets, or of a street intersection with a railroad right-of-way.
Sec. D. - Off-street loading and unloading.
On the same premises with every building or structure erected hereafter and occupied for any manufacturing, processing, or related uses, storage, warehousing, wholesaling, or related uses, and retailing, trade, and its related uses involving the receipt or distribution by vehicles of material or merchandise, there shall be provided and maintained on the same lot adequate space for standing, loading, and unloading in order to avoid undue interference with the public use of sidewalk, street, or alley. Such space unless otherwise adequately provided for shall include at minimum:
(1)
A twelve (12) foot by twenty-five (25) foot loading space, with fourteen (14) feet overhead clearance for every twenty thousand (20,000) square feet or fraction thereof in excess of seven thousand (7,000) square feet of floor area of land used for above-mentioned purpose.
(2)
An off-street loading space or spaces of sufficient dimensions and size to allow normal off-street loading an unloading operations of a kind appropriate to the property served thereby, where the floor area of land used for above mentioned purposes is less than seven thousand (7,000) square feet.
(3)
In no case shall a loading berth or loading space be so located as to hinder the free movement of vehicles and pedestrians over a street, sidewalk, alley, or access route to or from an off-street parking area.
(4)
Any light used to illuminate any parking/loading area shall be so arranged as to reflect light away from adjoining premises in a residential district.
Sec. E. - Building, lot, and setback table.
(Reference Article VI, Sec. E. (6) pertaining to required buffer area along stream banks, water ways, or water courses)
EXPAND
Zoning District Designation Minimum Lot Area (unless otherwise specified in Ordinance) Maximum Dwelling Units per Acre Minimum Heated Area (sq. ft.) Min. Lot Width at Bldg. Line (feet) Minimum Front Yard Setback (feet) Minimum Side Yard Setback (feet)* Minimum Rear Yard Setback (feet)* Maximum Height
A-1 Agricultural Five Acres 1 Per 5 Ac. 1,100 125 50 20/25 (a)* 30* 45 feet
R-2 Suburban Residential 20,000 sq. ft. 2 1,100 100/75 (b) 35 15/25 (a)* 25* 45 feet
R-2 With Sewer Sewered Suburban Residential 15,000 (c) sq. ft. w/ sewer & water 2.9 1,800 (c) 85/75 (b) 30 10/25 (a)* 25* 45 feet
R-4 Multi-Family Residential Five Acres w/ sewer & water 5/Net Acre 1 800 2 1,000 3 1,200 100 40 25/25 (a)* 25* 45 feet
R-5 Duplex 40,000 sq. ft. w/ sewer & water 1 Duplex/Acre 1,000/unit 2,000 total 100 40 20/25 (a)* 25* 45 feet
R-6 Manufactured Home Park Fifteen Acres Total/Park 6 N/A 400 (overall) 40 40* 40* 45 feet
R-7 Multi-Family Fee Simple (Non-Rental) Five Acres 4/Net Acre 1 800 2 1,000 3 1,200 100 40 25/25 (a)* 25* 45 feet
PRD Planned Residential Development with Public Sewer and Water Fifty Acres Total 12,000 sq. ft. 8,000 sq. ft. 3 1,400 1,600 Per Approved Plan Per Approved Plan Per Approved Plan Per Approved Plan Per Approved Plan
OSRD Open Space Residential Development 10,000 sq. ft. 3 2,000 80 25 5/25 (a)* 25* 45 feet
LRO Low Rise Office 20,000 sq. ft. N/A N/A 100/75 (b) 30 15/25 (a)* 25/35 (d)* 2 Stories
O-I Office and Institutional 20,000 sq. ft. with sewer/40,000 sq. ft. without N/A N/A 100/75 (b) 30 15/25 (a)*/20 (d)* 25/35 (d)* 3 Stories
NB Neighborhood Business 20,000 sq. ft. N/A N/A 100/85 (b) 30 15/25 (a)(d)* 25/35 (d)* 3 Stories
B-1 General Business 20,000 sq. ft. N/A N/A 75/60 (b) 40 10/25 (a)(d)* 15/40 (d)* 3 Stories
PSC Planned Shopping Center Five Acres N/A N/A 75/60 (b) 40 10/25 (a)(d)* 15/40 (d)* 3 Stories
B-2 Highway Business 20,000 sq. ft. N/A N/A 100/85 (b) 50 15/25 (a)*/40 (d)* 15/40 (d)* 4 Stories
I-1 Light Industrial 40,000 sq. ft. N/A N/A 100/85 (b) 50 25/50 (a)(d)* 40/50 (d)* 3 Stories
I-2 Heavy Industrial 40,000 sq. ft. N/A N/A 100/85 (b) 50 25/50 (a)*/75 (d)* 40/75 (d)* 3 Stories
  1 *Where required buffers exceed setback requirements, buffer widths shall be adhered to (see chart, p.37) (a) Corner lot on local street (b) In Cul-de-sac (c) With public sewer & 1,800 sq. ft. heated area; otherwise, 20,00 sq. ft. lot and 1,100 sq. ft. heated area (d) If abuts residential
