ARTICLE XIII. - GENERAL REQUIREMENTS AND MINIMUM STANDARDS OF DESIGN FOR THE SUBDIVISION OF LAND

Section 131. - General design requirements.
131.1.
Suitability of land. Land subject to flooding, improper drainage, or erosion, or which is for topographical, geological or other reasons unsuitable for residential use, shall not be platted for residential use nor for any other uses that will continue to increase the danger to health, safety, or property destruction, unless the hazards can be and are corrected.
131.2.
Name of subdivision. The name of the subdivision must have the approval of the planning and zoning commission. The name shall not duplicate nor closely approximate the name of an existing subdivision.
131.3.
Access. Access to every subdivision shall be provided over a public street.
131.4.
Conformance to adopted major thoroughfare plans. All streets and other features of the major thoroughfare plan of the City of Gray and County of Jones shall be platted by the subdivider in the location and to the dimension indicated on the major thoroughfare plan adopted by the planning and zoning commission or the board of commissioners.
131.5.
Through traffic. Minor streets shall be so laid out that their use by through traffic will be discouraged.
(Ord. No. 201203-2o, 3-20-2012)
Section 132. - General requirements for streets and other rights-of-way.
132.1.
Continuation of existing streets. Existing streets shall be continued at the same or greater width, but in no case less than the required width.
132.2.
Connections with future subdivisions. Streets shall be reserved at strategic locations to provide for future access to adjoining properties which may be subdivided in the future. Each street connection shall intersect property lines at a 90-degree angle.
132.3.
Street names. Street names shall require the approval of the commission. Streets that are obviously in alignment with streets already in existence and already named shall be given the name of the existing street. Names of new streets shall not duplicate or closely approximate those of existing streets.
132.4.
Street jogs. Street jogs with centerline offsets of less than 125 feet shall not be permitted.
132.5.
Cul-de-sacs. Cul-de-sacs shall be provided at the closed end with a turnaround having a right-of-way radius of at least 60 feet with an outside pavement radius of at least 50 feet. The total right-of-way width, including turnarounds, shall be 60 feet, which shall include pavement of 20 feet and shoulders of eight feet regardless of the width of the right-of-way. Shoulders shall be suitable for use as emergency traffic lanes.
132.6.
Development along major street, limited-access highway or railroad right-of-way. Where a subdivision abuts or contains an expressway, freeway, arterial or collector street, or a railroad right-of-way, the planning and zoning commission may require a street approximately parallel to and on each side of such right-of-way either as a marginal access street, or at a distance suitable for an appropriate use of intervening land, with a nonaccess reservation suitably planted. Due regard should be given to requirements for approach grades and future grade separations in determining distances. Lots shall have no access to expressways, freeways, or arterial streets, in which case the planning and zoning commission may require double frontage lots.
132.7.
Half streets. Half streets shall be prohibited except where essential to the reasonable development of the subdivision in conformity with the other requirements of these regulations. Where the planning and zoning commission finds it will be practicable to require the dedication of the other half when the adjoining property is subdivided, the other half of the street shall be platted within such tract.
132.8.
Alleys. The requirements for providing alleys within a subdivision are as follows:
132.81.
Alleys shall be provided in multifamily, commercial, and industrial districts, except where other definite and assured provision is made for service access such as off-street parking, loading and unloading consistent with and adequate for the uses proposed.
132.82.
Alleys shall not be provided in one and two-family residential developments unless the subdivider provides evidence satisfactory to the planning and zoning commission of the need for alleys.
132.83.
Dead-end Alleys should be avoided where possible, but if unavoidable, shall be provided with adequate turnaround facilities at the dead end, as determined by the planning and zoning commission.
132.9.
Reserve strips and easements.
132.91.
Reserve strips controlling the access to streets shall be prohibited except where this control is definitely placed in the hands of the board of commissioners under conditions approved by the planning and zoning commission. The planning and zoning commission may control access to expressways, freeways, and arterial and collector streets by requiring all lots to face and have access to only minor streets.
132.92.
Easements having a minimum width of ten feet and located along the side or rear lot lines shall be provided, as is necessary, for utility lines and underground mains and cables. Where a subdivision is traversed by a watercourse, drainage way, channel, or streams, there shall be provided a stormwater or drainage easement or right-of-way to adequate width. Parallel streets may be required by the planning and zoning commission in connection therewith.
(Ord. No. 201203-2o, 3-20-2012)
Section 133. - Right-of-way width requirements.
The minimum street right-of-way widths shall be as follows:
Table 13
EXPAND
Freeways and expressways 150 feet
Arterial streets 100 feet
Collector streets 80 feet
Minor commercial and industrial streets 70 feet
Minor residential streets 80 feet 1
  Note 1 : New minor residential streets may use a 60-foot right-of-way if a ten-foot utility easement is provided on each side of the right-of-way.
(Ord. No. 201203-2o, 3-20-2012)
Section 134. - Street design requirements.
134.1.
Street intersections. Street intersections shall be as nearly at right angles as possible, with no street intersection being at any angle of less than 75 degrees.
134.2.
Right-of-way radius. The street right-of-way radius at street intersections shall be at least 30 feet. Where the angle of street intersection is less than 90 degrees, the planning and zoning commission may require a longer radius.
134.3.
Additional width on existing streets. Subdivisions that adjoin existing streets shall dedicate additional right-of-way, if needed, to meet the minimum street width requirements set forth in section 133.
134.31.
The entire right-of-way shall be provided where any part of the subdivision is on both sides of the existing streets.
134.32.
When the subdivision is located on one side of an existing street, one-half of the required right-of-way, measured from the centerline of the existing roadway, shall be provided.
(Ord. No. 201203-2o, 3-20-2012)
Section 135. - Design standards for blocks and lots.
135.1.
Design lengths and widths. Block lengths and widths shall be determined based on the following requirements:
135.11.
Blocks shall not be greater than 1,200 feet nor less than 400 feet in length.
135.12.
Blocks shall be wide enough to provide two tiers of lots of minimum depth, except where abutting upon major streets, limited-access highways, railroads, or where other situations make this requirement impracticable, in which case the planning and zoning commission may approve a single tier of lots of minimum depth.
135.2.
Lot sizes. Lot dimensions shall conform to the requirements set forth in the zoning districts in which the land to be subdivided is located. Residential corner lots shall have adequate width to permit appropriate building setback from, and orientation to, both abutting streets.
135.3.
Building lines. A building line meeting the front and side yard setback requirements of the zoning district in which the subdivision is located shall be established on all lots.
135.4.
Lots abutting on public streets. Each lot shall abut upon a dedicated public street, with a minimum road frontage of 60 feet, except as provided in section 142.4.
135.5.
Double frontage lots. Double frontage lots should be avoided except where essential to provide separations of residential development from traffic arterials or to overcome specific disadvantages of topography and orientation. A planting screen easement of at least ten feet, and across which there shall be no right of access, shall be provided along the line of lots abutting such a traffic artery or other disadvantageous use.
(Ord. No. 201203-2o, 3-20-2012)
Section 136. - Provision of public land.
136.1.
Dedication or reservation for public use. Where features of the comprehensive plan such as school sites, parks, playgrounds, and other public spaces are located in whole or in part in a proposed subdivision, or when these features have not been anticipated by the comprehensive plan, but are considered essential by the planning and zoning commission, such features shall be dedicated or reserved by the subdivider. Provided, however, that no more than ten percent of the total area of the proposed subdivision, exclusive of street rights-of-way, shall be required for dedication or reservation to fulfill the requirements of this section.
136.2.
Land not required or suited for public use. Whenever a plat proposes the reservation of land for, or the dedication of land to, public use, and the planning and zoning commission finds that such land is not suitable for public use, the planning and zoning commission may either refuse to approve said plat or it may require the rearrangement of lots to include such land. The planning and zoning commission shall waive the reservation or dedication provisions whenever the public body directly responsible for land acquisition executes a written release, stating that such planned feature is not required or is not to be acquired. In the absence of such a waiver, the planning and zoning commission shall disapprove plats when planned features, as specified by the comprehensive plan or deemed essential by the planning and zoning commission, are not incorporated into the plat.
136.3.
Dedication. The subdivider may deed restrictively the land to be used for a specified public use to Jones County by submitting, with the final plat and documents, a deed to the property involved, clear of all liens and encumbrances, and transferable to the division of the county government which will have ultimate control over the use of such property, provided that the governing body is not obligated to accept.
136.4.
Reservations. In the event the subdivider feels that a donation through dedication would work an unusual hardship on him, he may elect to reserve the area in question. Whenever the land so reserved is not purchased, acquired, optioned, or condemned by an appropriate public agency within a three-year period from the date of recording the subdivision, or at the time that at least 50 percent of the available lots are built on and occupied, the subdivider may claim the original reservation and cause it to be subdivided in a manner suitable to the subdivider, subject to the provisions of this resolution.
(Ord. No. 201203-2o, 3-20-2012)
