ARTICLE XI. - SANITARY SEWAGE REQUIREMENTS
DIVISION 1. - GENERALLY

Sec. 38-480. - Service to new developments and new subdivided lands.
(a)
The county utilities authority has control over the receipt of sanitary sewage from all lands subdivided after July 27, 1995 and all other kinds of nonagricultural development whose plans are submitted for a land development permit after July 27, 1995 in the unincorporated areas of the county.
(b)
An agreement for the manner of receipt and treatment of sanitary sewage shall be made with the utilities authority.
(Ord. of 9-18-2000(2), § 38-480)
Sec. 38-481. - General requirements.
The state public health regulations and the utilities authority control the installation of sewage facilities. The following are additional minimum requirements.
(1)
When future extensions are possible sewer easements through the proposed development shall be required.
(2)
Private disposal systems, treatment plants and septic tanks shall be approved by the applicable state health agency when such systems are permitted by the utilities authority.
(3)
Any project shall be designed so as to conform to the utilities authority's master plan for sanitary sewer development. Where in the opinion of the utilities authority it is deemed necessary in order to implement the master plan to provide additional capacity in the design of the distribution or collection facilities for future needs of the utilities authority the cost of additions shall be borne by the utilities authority.
(4)
All public sewer systems shall be placed in such a way so as to have access to public rights-of-way or easements. Public sewer systems can only be placed on parcels meeting the minimum standards set forth in chapter 70 or any other applicable local, state federal law, rule or regulation.
(Ord. of 9-18-2000(2), § 38-481)
Sec. 38-482. - Sewerage system design criteria.
(a)
Sanitary sewer stub-outs shall be provided for each development lot and shall extend from the sewer line to the property line if public sanitary sewer service is provided in the development.
(b)
No sanitary sewer shall be allowed to connect to any storm drainage pipes or systems.
(c)
Sanitary sewer velocities shall be sufficient to prevent deposition, yet not high enough to cause separation or cause erosive damage to the pipe. In order to accomplish this sewers shall be sloped to achieve a minimum velocity of two feet per second when the conduit is flowing half full. The slope shall also be designed so that the velocity will not exceed ten feet per second. The required slope to achieve minimum velocity (n = 0.13) shall be:
EXPAND
Pipe size (inches) Slope (foot/100 feet)
8 0.40
10 0.28
12 0.22
15 0.15
18 0.12
21 0.10
24 0.08
27 0.07
30 0.06
  (d)
Infiltration into the sewer shall not exceed 200 gallons per minute per mile of sewer per inch of inside diameter of pipe per 24 hours in any section between successive manholes. In areas where the seasonal or normal groundwater is above the top of the pipe, the plans are to be noted as such and special conditions may be placed on those pipes.
(Ord. of 9-18-2000(2), § 38-482)
Sec. 38-483. - Pipe requirements.
(a)
Sanitary sewers shall be sized to ensure that estimates of quantities of wastewater flows based upon present and future populations, along with projected infiltration and inflow do not exceed pipe capacity.
(b)
In no case shall pipe less than eight inches in diameter be allowed for collector or interceptor lines. Special consideration shall be given to the pipe diameter if commercial and industrial customers are anticipated to contribute to the system.
(c)
Pipe material may be ductile iron, cast iron or polyvinylchloride (PVC).
(1)
Ductile iron.
a.
Ductile iron pipe and fittings can be used as specified for gravity sewers. The minimum wall thickness shall be as specified in ASTM A746 for thickness class 52. Extra thickness shall be provided where required by deep cover in accordance with ASTM A746, table 12, for type 2 laying conditions.
b.
Ductile iron pipe for gravity sewers shall be mechanical joint or push on joint, unless specified otherwise, conforming to ANSI/AWWA C151/A21.51. Pipe and fittings shall have a cement mortar lining conforming to ANSI/AWWA C104/A21.4. A standard bituminous coating shall be applied to the exterior of all ductile iron pipe fittings.
c.
Ductile iron lock joint shall meet the requirements of ANSI/AWWA C151/A21.51 for ductile iron pipe and may be of the bolted type suitable for 150 psi working pressure. If bolted type pipe is used, all bolts shall be corten steel.
d.
Ductile iron fittings shall be designed for a pressure rating of 250 psi and shall be in accordance with ANSI/AWWA C110/A21.10. Fittings shall be mechanical joint.
(2)
Cast iron.
a.
Cast iron pipe shall be mechanical joint conforming to federal specifications WW-P-421c. Fitting shall be class 150 or its equivalent, for the mechanical joint pipe or slip on joints, if approved by the manager of development services.
b.
Cast iron pipe in general, shall be used at wet crossings and at points specifically designated on the plans, including force mains.
(3)
Polyvinylchloride (PVC).
a.
Plastic gravity sewer pipe and fittings shall be unplasticized PVC meeting or exceeding ASTM D3034, classification SDR 35, for smooth wall pipe, or ASTM F794 for ribbed sewer pipe. Ribbed pipe shall be homogeneous and have a smooth interior with a solid cross sectional rib exterior. Exterior ribs shall be open profile and perpendicular to the axis of the pipe to allow placement of the sealing gasket.
b.
Pipe lengths shall not exceed 20 feet and provisions shall be made at each joint to accommodate expansion and contraction.
c.
All pipe and fittings shall be joined by means of integral wall bell and spigot and sealed with a rubber gasket. This joint shall be capable of withstanding an internal hydrostatic pressure of 25 psi for one hour with no leakage.
d.
When using PVC pipe, metalized locating tape shall be placed 18 to 24 inches below the ground surface.
(Ord. of 9-18-2000(2), § 38-483)
Sec. 38-484. - Manhole requirements.
(a)
Generally. Manholes shall be located at the end of each line; at each change in grade, direction, size of pipe or alignment; at each street intersection; and at a distance not to exceed 400 feet.
(Ord. of 9-18-2000(2), § 38-484)
Sec. 38-485. - Force mains.
(a)
Force mains shall be of ductile iron of PVC C-900 water quality pipe for sizes up to and including 12-inch diameter. Force mains shall have at least 30 inches of cover.
(b)
Placement procedures of the pipe shall meet the same requirements as water lines. Testing and limits of acceptability of the pipeline shall be the same as for water lines.
(Ord. of 9-18-2000(2), § 38-485)
Secs. 38-486—38-489. - Reserved.
DIVISION 2. - SANITARY SEWER STANDARDS AND SPECIFICATIONS

Sec. 38-490. - Sewer system design criteria.
(a)
Minimum design criteria.
(1)
When sewer mains cross water mains a minimum vertical separation of 18 inches shall be provided between the outsides of the pipes.
(2)
At sewer main and water line crossings, one full length of sewer pipe (20 feet) must be centered directly under the water line.
(3)
For crossing of new construction of sewer mains and water lines, the water lines shall be on top of the sewer mains.
(4)
Sewer mains must be laid at least ten feet horizontally from any existing or proposed water line. Where it is not practical to maintain the ten-foot separation, the water main must be laid in a separate trench and that the bottom of the water line be at least 18 inches above the top of the sewer line.
(5)
Only ductile iron is to be used within 20 feet of the bank of any stream.
(6)
Mains, service lines, structures, etc., shall not be located on or in close proximity to an existing or abandoned landfill site of any other site used for waste disposal.
(b)
Locations.
(1)
Sewer mains when located in the right-of-way or adjacent utility easement will be located on the opposite side of the road when water lines are present.
(Ord. of 9-18-2000(2), § 38-490)
Sec. 38-491. - Field quality control.
(a)
Infiltration.
(1)
Infiltration into the sewer shall not exceed 200 gpm per mile of sewer per inch of inside diameter of pipe per 24 hours in any section between successive manholes. The amount of leakage shall be measured by a weir or other suitable device. This measurement shall be made between 12:00 a.m. and 6:00 a.m., unless line segments are plugged to prevent normal sewage flow or it is a new line that has no taps connected.
(2)
If the infiltration exceeds the specified amount, necessary corrections shall be made to bring the line sepage within the acceptable limit. All visible leaks or points of infiltration shall be repaired even if the infiltration is below the specified limit.
(b)
General leakage requirements.
(1)
The entire sewer line system shall be as watertight as possible. Eliminate all visible points of groundwater infiltration and any other significant points of leakage which can be located, regardless of test results obtained as hereinafter required.
(2)
Upon completion of pipe installation and trench backfilling to within one foot of finished grade, perform system infiltration test and piping or joint air test for all work constructed.
(3)
Infiltration testing is required on all new sewer line segments extending completely from manhole to manhole unless waived by the county.
(c)
System infiltration testing.
(1)
Measure infiltration into each major section of sewer during wet weather as requested by the county. Use suitable temporary weirs and depth measuring devices acceptable to the county as giving reasonably accurate flow measurement, to be furnished, installed and removed by the contractor.
(2)
Take whatever action may be necessary to permanently reduce infiltration from all water sources into all constructed work to rates, as determined by tests witnessed by the county which do not exceed 0.0375 gallons per inch of nominal pipe diameter per foot of pipe per 24 hours.
(d)
Air testing.
(1)
Nominal four-inch to 36-inch pipe: After completing backfill of a sewer line section, conduct a low pressure air test using methods and devices acceptable to the county. Perform such tests using the following general procedures.
(2)
Temporarily plug line segment between two manholes using plugs having airtight fittings through which low pressure air can be introduced into the pipe segment being tested.
(3)
Introduce low pressure air into the test pipe segment until the internal air pressure reaches 4.0 psi above groundwater pressure if any.
(4)
Wait at least two minutes for air temperature in the test segment to stabilize while internal air pressure remains no less than 3.5 psig above ground pressure.
(5)
Accurately determine the elapsed time for internal pressure to drop 1.0 psi.
(6)
The air test is acceptable if elapsed time is no less than shown by the following table:
EXPAND
Pipe diameter (inches) Seconds per 100 ft. of pipe
4 18
6 42
8 72
10 90
12 108
15 126
18 144
21 180
24 216
27 252
30 324
36 360
  (7)
Air leakage time is based on pipe being damp. If pipes and joints are dry, dampen line if helpful in meeting air test time requirements.
(e)
Deflection testing.
(1)
Conduct internal deflection testing on all installed gravity sewer lines six-inch size and larger, no sooner than 15 days after completion of trench backfilling. Repair or replace all defective pipe found during mandrel testing and conduct another deflection test to determine the extent and necessary repair of any additional deficiencies. After repairing all defects, perform successful mandrel testing in the presence of the county. Mandrel testing is successful when the mandrel device can be pulled through the pipe between manholes in a continuous operation, without interruption.
(2)
Furnish mandrel test gauges, sized and constructed below:
Five Percent Deflection Mandrel (ASTM D 2412)
EXPAND
Nominal size (inches) Mandrel O.D. (inches) Tolerance
(inches) Nearest
1/16 -inch Minimum Runner Length Minimum
Number of
Mandrel
Runners
6 5.45 0.01 5-7/16 4 6
8 7.28 0.01 7-4/16 4 6
10 9.08 0.01 9-1/16 5 8
12 10.79 0.01 10-13/16 6 8
  (f)
Upon request of the manager of development services, the contractor shall certify the accuracy of the mandrel test gauges by use of proving rings to an accuracy of 0.05 inches. Use proving rings complying with ASTM F 679 and ASTM D 3034.
(Ord. of 9-18-2000(2), § 38-491)
Sec. 38-492. - Construction.
(a)
Manhole construction specifications.
(1)
Use whatever care, materials and construction technique are required to achieve permanent watertight joints and connections.
(2)
Every manhole is to be fully and completely built as the work progresses, as each is reached by the laid pipe, and shall be carried up to its top finish grade. Manholes and any attachments to them shall be neatly and accurately built, of proper materials and in a workmanlike manner. Brick shall be hard-burned, common brick meeting ASTM specifications C-32-58, grade NA or concrete brick meeting ASTM C-55-55, grade A. The minimum compressive strength for concrete used shall be 3,000 psi at 28 days. Field specimens for laboratory tests shall be made in accordance with ASTM standards.
(3)
Manhole bottoms shall be either cast-in-place or integral with the lower section of the riser walls. Cast-in-place bottoms shall be a minimum of eight inches thick and shall be not less than 12 inches in diameter larger than the bottom outside diameter of the riser section. The invert of the manhole shall be built up with cement grout so to facilitate the entrance and flow of sewage through the manhole. Manhole bottoms shall have shaped inverts and channels completed neatly so as to permit smooth hydraulic flow of sewage through the manhole. The shaping may be constructed with cement grout or an approved alternate.
(4)
When required, single lengths of pipe shall be built into manholes to receive either present or future branch lines. To relieve pressures in brick manholes, the brick is to be arched over all such pipe. Where there is no intent to construct the branch lines at once, the pipe inserted must be securely closed in a manner that the future connection can be made without breaking the pipe.
(5)
Where the manhole intercepts existing laterals, the lateral service to the existing manhole shall be kept intact until the new section of sewer line is completed and approved. Then the laterals shall be broken and fed to the new manhole and the dead-end at the manhole wall shall be plugged and grouted.
(6)
Precast concrete units.
a.
Set precast units plumb and to exact grade on approximately three inches thickness of compacted sand bedding.
b.
In the event field conditions necessitate additional pipe connections for which no holes have been cast, neatly chip necessary holes, being careful not to crack portions of unit to remain. Replace any units excessively damaged as a result of field modification as determined by the manager of development services or his designee.
c.
Fill joints between sections with butyl based sealant especially formulated for sewer service or an approved equal. Supplement connecting joints with manufactured water stops or seals when recommended by pipe manufacturer or necessary to minimize leakage.
d.
Precast concrete units shall have structure bottom integral with the lower section of the riser walls.
e.
Joints in riser and cone sections shall have rubber gaskets or an approved equal.
(7)
Masonry structures.
a.
Examine masonry units prior to installation and reject all units which are cracked, damaged, or in any way fail to meet this specification.
b.
Use only clean masonry units, free of dirt and debris which would adversely affect mortar bond. Do not use frozen materials, or materials mixed or coated with ice or frost.
c.
Set masonry units in full mortar bed, carefully fitting units around pipe openings…etc., so as to fill all voids; completely fill any remaining voids with mortar. Do not use mortar that has been mixed more than 45 minutes or which has been retempered.
d.
When using multi-wythe construction, make every fifth coarse a header coarse.
e.
Do not install masonry when the air temperature is below 40 degrees Fahrenheit and falling.
f.
Do not backfill against masonry structures until they are at least seven days old. In cold weather delay backfilling for a longer time to allow additional curing time for mortar.
g.
Saturate outside wall of each manhole with water, and plaster with a smooth, one-half-inch thick minimum coat of mortar, except that the mortar shall be mixed with one part cement to two parts sand. Do not add hydrated lime to plaster mortar.
h.
Brick shall be hard-burned common brick meeting ASTM specifications C-32-58, grade NA or concrete brick meeting ASTM C-55-55, Grade A.
i.
Minimum compressive strength for concrete and concrete brick shall be 3,000 psi at 28 days. Field specimens for laboratory tests shall be made in accordance with ASTM standards.
j.
Masonry structures shall have cast-in-place bottoms and they shall be a minimum of eight inches thick and shall not be less than 12 inches in diameter larger than the bottom, outside diameter of the riser section.
k.
To relieve pressures caused by single lengths of pipe built into brick, the brick shall be arched over all such pipe.
(8)
Metal castings.
a.
All castings shall be made of clean, even grain, tough gray cast iron being smooth and free from projections, sand, holes or defects.
b.
The quality of iron shall conform to the current ASTM A-48, class 30, gray iron casting specifications.
c.
The raised letter "Sanitary Sewer" shall be cast on the upper surface of all manhole covers.
d.
The portion of the frame and cover which forms the cover seat shall be machined so that no rocking of the cover is possible.
e.
The castings shall be coated with a coal tar, pitch varnish.
f.
Examine each casting before installation and reject all castings which are cracked, damaged or in any other way fail to meet the specifications.
g.
Clean castings of dirt, mud and grease before installation.
h.
Set castings according to location and arrangement shown on the drawings. Rigidly support castings to maintain true alignment and elevation. Where castings are located in concrete or mortar construction, thoroughly work concrete or mortar around the casting so as to eliminate voids and provide solid bearing surfaces and rigid construction.
i.
Make frames, subject to traffic, firm and stable under actual traffic conditions. When constructed in paved areas set frames to conform with exact pavement surface including tilting frame where necessary to match pavement surface.
(b)
Installing sanitary sewer in tunnel liner or pipe encasement.
(1)
Tunnel liner, six to 42 inches. Insert sewer pipe concentrically into tunnel liner by securing hardwood blocks radially around sewer pipe at no more than ten-foot, longitudinal intervals. Use stainless steel banding for securing wood blocks in place. Blow sand into annular space between sewer pipe and tunnel liner starting at the longitudinal center and proceeding outward to each end. Use techniques which assure complete filling of all voids.
(2)
Tunnel liner, 42 inches and larger. Use the following procedure for installing sewer pipe in tunnel when adequate working room is available, otherwise follow same procedures as specified for tunnel liners that are between six and 42 inches. Insert sewer pipe into tunnel liner after having grouted bottom of tunnel to exact grade required to support pipe in proper position. Permanently secure sewer pipe in position by blocking each pipe length at top and sides with brick and mortar, followed by bedding sewer pipe to a depth equal to one-fourth the pipe outside diameter, with concrete. Plug ends of tunnel with 12-inch thickness of masonry, leaving weep holes at lower end of tunnel.
(3)
Pipe encasement. The encasement used shall be bituminous coated, welded steel pipe of wall thickness and size shown on the drawings or an approved equal. Pipe shall conform to ASTM A-252, Grade 2. Encasement shall conform to AASHTO standards and state department of transportation standards where placed under highways and to AREA 1-A-13 where placed under railroads.
(c)
Wyes, tees and service.
(1)
Provide wyes and/or service tees at points indicated on drawings, specified herein, and as requested by the manager of development services. If wyes or service extensions are not to be connected to a building sewer under this work, close end of pipe with removable, factory fabricated plug or stopper.
(2)
When replacing and existing sewer, connect all existing service lines to the new sewer.
(3)
Service lines, unless otherwise shown on the drawings or requested by the county, are to be run to suit field conditions at a minimum grade of two percent and with a minimum pipe cover of 30 inches.
(4)
Provide clean-outs in service lines at not more than 75-foot intervals and where pipe horizontal deflection exceeds 45 degrees. Unless noted otherwise, furnish clean-outs consisting of wye and 45-degree fittings, vertical pipe and threaded brass or PVC removable plug.
(d)
Force mains.
(1)
Force mains shall be of ductile iron pipe and shall be constructed only so far in advance of pipe laying as the manager of development services shall permit. Force mains shall have at least 30 inches of cover. The trench widths shall be at least one foot greater than the pipe diameter and the maximum clear trench width shall not be more than two feet greater than the pipe diameter.
(2)
Placement procedures of the pipe shall meet the same requirements as water lines. Testing and limits of acceptability of the pipeline shall be the same as for water lines.
(3)
Submit certification for the manager of development services that the soil along the route of the proposed pipeline has been analyzed and evaluated in accordance with AWWA C105 and that the soil will not be corrosive to ductile iron pipe.
Where polyethylene sheath is placed on pipe, the trench shall be backfilled to a depth of not less than one foot above the top of the pipe with sand or sand-clay backfill. Sand or sand-clay backfill shall be specially selected from the excavation and shall contain no stumps, roots, rocks, or other items that will puncture sheathing.
(Ord. of 9-18-2000(2), § 38-492)
