ARTICLE XX. - WAIVING OF CURB AND GUTTER REQUIREMENTS

Sec. 26-567. - Criteria.
The following is a list of criteria that must be met, where possible, in order to apply for a variance to the curb and gutter requirements of this chapter:
(1)
Ditches must be constructed of or lined with a soil that has a moderate to low potential for erosion as defined by the USGS soil survey and lined with temporary matting or blankets to prevent erosion during the establishment of permanent vegetation.
(2)
Ditch shall be constructed so that the velocity of the runoff does not exceed five feet per second without permanent soil reinforcement matting and does not exceed ten feet per second when flowing at bank full discharge or at the 25-year frequency discharge.
(3)
Ditches shall be turned out at appropriate intervals to prevent velocities from exceeding requirements of subsection (2) of this section.
(4)
Turnouts will be constructed with a level spreader to return the flow to a sheet flow condition when possible. Turnout shall be located at or near natural drainage paths or lot lines.
(5)
All areas of concentrated flow require a minimum ten-foot-wide permanent drainage easement.
(6)
No impervious areas will be directly connected with state waters when preventable by design.
(7)
The use of permanent down drain structures will be allowed in areas of excessive flow velocity, but are not allowed to drain directly into state waters.
(8)
Ditches shall be constructed with a parabolic or trapezoidal section where possible to allow for increases contact with the vegetative lining.
(9)
Ditch side slopes shall not exceed three to one (3:1).
(Res. No. 2002-44, 12-1-2002; Res. No. 2005-60, 10-21-2005; Res. No. 2005-61, 10-21-2005; Res. No. 2007-44, 9-20-2007; Res. No. 2007-55, 11-15-2007; Res. No. 2009-50, app. B, 7-16-2009)
Secs. 26-568—26-600. - Reserved.
