CHAPTER 17.84 - DIMENSIONAL REQUIREMENTS

Sections:
17.84.010 - Dimensional requirements.
The following table designates the dimensional requirements of each zoning district except for the RTD, which are found in chapter 17.44:
EXPAND
Table 17.84.010 Dimensional Requirements
Minimum Lot Size in Square Feet (a) Minimum Front Yard Setback from Street Right-of-Way Yard Setbacks
District One Family Structure Two Family Structure Multi-Family Structure Other Uses Minimum Lot Width (Feet) Minimum Heated Floor Area in Square Feet/Unit Minimum Distance to bldgs. on same lot Major Streets All Other Streets Minimum Side Yard (Feet) Minimum Rear Yard (Feet) Maximum Height (Feet) Maximum Lot Coverage in Percentage
RA-200 62,000 62,000 200 2,000(h) 20 60 50 20 40 35 20
R-100 21,780 22,000 100 2,000(h) 20 50 40 15 40 35 30
R-85 14,000 15,000 85 1,800(h) 20 50 40 10 40 35 40
R-75 12,000 12,000 75 1,600(i) 20 50 35 10 30 35 50
RM-75 11,000(k) (b) 12,000 75 (d), (i) (c) 40 35 10(e) 35 35 50
RCD 12,000 20 1,200(j) 30 35 35 30 30 35 50
R-50 8,000 60 1,600(h) N/M 10 10 7.5 30 35 55
O-I N/A 75 N/M N/M 40 30 10(e) 30(e) 35 80
C-1 N/A N/A N/A N/M N/M N/M 40 30 N/M(f) N/M(f) 35 80
C-2 N/A N/A N/A N/M N/M N/M 40 30 N/M(f) N/M(f) 45 80
C-3 N/A N/A N/A N/M N/M N/M 40 30 N/M(f) N/M(f) 40 80
C-4 N/A N/A N/A N/M N/M N/M 40 30 N/M(f) N/M(f) 50 80
M-1 N/A N/A N/A N/M N/M N/M 40 30 N/M(f) N/M(f) 50 80
M-2 N/A N/A N/A 43,560 100 N/M N/M 40 30 N/M(g) N/M(g) 50 80
MU-CR
  Notes:
N/A Not applicable
M/M No minimum requirement
(a)
If public sewer system is not accessible, an alternative method of sewage disposal for each lot, or a community sewerage system, may be used in compliance with the standards of the Henry County health department. Such standards may require a greater minimum lot area and/or width than specified in this Title.
(b)
Residential density cannot exceed eight (8) units per acre of developed land. For purposes of calculating this density and acreage, developable land shall not include any portion of the lot containing rivers, streams, and/or floodplains.
(c)
The minimum distance between buildings located on the same lot, when so arranged shall be as follows:
Front to front: Fifty (50) feet
Front to rear: Fifty (50) feet
Rear to rear: Forty (40) feet
Front to rear to side: Thirty (30) feet
Side to side: Twenty (20) feet
All other arrangements: Thirty (30) feet
(d)
One-family dwelling units shall have a minimum floor area of one thousand two hundred (1,200) square feet per unit. Multi-family units shall have the following minimum floor area based on the number of bedrooms:
Efficiency or one-bedroom units: Six hundred (600) square feet
Two-bedroom unit: Nine hundred (900) square feet
Three-bedroom unit: One thousand two hundred (1,200) square feet.
(e)
When and 0-1 or RM district abuts a single-family district, a setback of fifty (50) feet shall be provided including a buffer strip.
(f)
When a C or M-1 district abuts a residential district, a setback of fifty (50) feet shall be provided including a buffer strip.
(g)
When an M-2 district abuts a residential district, a setback of one hundred (100) feet shall be provided including a buffer strip.
(h)
In addition to the minimum heated floor area required, each single-family dwelling unit shall be provided with, at a minimum, an enclosed two-car garage.
(i)
In addition to the minimum heated floor area required, each single-family unit shall be provided with, at a minimum, an enclosed two-car garage.
(j)
One thousand two hundred (1,200) square feet of floor area shall be the minimum required for a one-bedroom unit; one thousand three hundred (1,300) square feet of floor area shall be the minimum required for a two bedroom unit; one thousand four hundred (1,400) square feet of floor area shall be the minimum required for a three-bedroom unit.
(k)
Unless the development is approved as a conditional use.
(l)
Each parcel shall be allowed up to 4,500 square feet of impervious area or the amount provided for herein, which ever is greater.
(Ord. No. 97-8-28R-100; Ord. of 9-16-1985 (part); Ord. of 6-19-1995; Zoning Ord. Art. IX, 1979; Ord. No. 04-12-06-B, § XXXVII, 12-6-2004; Ord. No. 05-02-07(D), § 7, 2-7-2005; Ord. No. 07-06-04C, § 1, 6-4-2007; Ord. No. 08-01-22(C), § XXXXI, 1-22-2008)
