SECTION 7. - OFF-STREET PARKING AND SERVICE REQUIREMENTS

7-1. - Scope of Provisions.
Except as provided in this section, no application for a building permit excluding single-family shall be approved unless there is included with the plan for such building, improvements, or use, a plat plan showing the required space reserved for off-street parking and service purposes. Occupancy shall not be allowed unless the required off-street parking and service facilities have been provided in accordance with those shown on the approved plan. These provisions shall not apply to the B-1 district.
7-2. - Parking Spaces May Not Be Reduced.
Off-street parking spaces shall not be reduced below the minimum required number for the use or facility to which they are assigned.
7-3. - Drainage, Construction, and Maintenance.
All off-street parking, loading, and service areas shall be drained so as to prevent damage to abutting properties and/or public streets and shall be constructed of asphalt, concrete, solid brick pavers, or any other material approved by the building official with concurrence from the Fire Chief and the Public Works Director where applicable. All such areas shall be at all times maintained at the expense of the owners thereof, in a clean, orderly, dust-free, and deteriorated free condition.
7-3.1.
Requirements for Unpaved Parking. Unpaved parking areas may be approved by the Building Official or his designee with conditions including, but not limited to, the following:
7-3.1.1.
Unpaved spaces shall be located on the periphery of parking areas, in locations that will receive less use than those paved and more remotely located to the use served.
7-3.1.2.
Stormwater management facilities shall be provided for all vehicular use areas, whether paved or unpaved. The developer must demonstrate that stormwater management facilities can be expanded to accommodate future required paving.
7-3.1.3.
Use of the unpaved parking area shall not cause the introduction of sediment or debris onto city rights-of-way and easements.
7-3.2.
Inspection. At least six months after a final certificate of occupancy is issued, an inspection will be made by the building official or designee. If findings indicate that the unpaved spaces are in good condition or are infrequently used, such unpaved spaces may remained unpaved. If findings show that the spaces receive as much use as the paved spaces, or have deteriorated, such unpaved spaces shall be paved within 90 days of written notice to the owner of the property. If paving is deemed necessary by the city engineer, the property owner may be required to expand the stormwater management facilities (as provided in section 7-3.1.2).
7-4. - Separation from Walkways, Sidewalks, Property Lines and Streets.
All off-street parking, loading, and service areas shall be separated from walkways, sidewalks, property lines, and streets by concrete curbing. Curbing located in parking areas shall be constructed a minimum of three feet from private and/or public property lines so that parked vehicles will not project over such lines.
7-5. - Parking Area Design.
Parking stalls shall have a minimum interior clearance width of eight and one-half feet and length of 20 feet. There shall be provided adequate interior driveways to connect each parking space with a public right-of-way. Interior driveways shall be at least 24 feet wide where used with 90 degree angle parking, at least 18 feet wide where used with 60 degree angle parking, at least 12 feet wide where used with 45 degree parking, and at least 12 feet wide where used with parallel parking; or where there is no parking interior driveways shall be at least 10 feet wide for one-way traffic movement and at least 20 feet wide for two-way traffic movement.
7-6. - Joint Parking facilities.
Two or more neighboring uses, of the same or different types, may provide joint facilities, provided that the number of off-street parking spaces is not less than the sum of the individual requirements.
7-7. - Pavement Markings and Signs.
Each off-street parking space shall be clearly marked, and pavement directional arrows or signs shall be provided wherever necessary. Markers, directional arrows and signs shall be properly maintained so as to ensure their maximum efficiency.
7-8. - Number of Parking Spaces.
In order to assure a proper and uniform development of public parking areas throughout the area of jurisdiction of this ordinance, to relieve traffic congestion on the streets, and to minimize any detrimental effects on adjacent properties, off-street parking space shall be provided and maintained as called for in the following schedule. For any use or class of use not mentioned in this schedule, the requirements shall be the same as a similar use as mentioned herein.
Parking requirements for additions to existing uses shall be based upon the new addition even if the existing use is deficient. These regulations shall apply to all districts except B-1 district.
EXPAND
USE MINIMUM # PARKING SPACES
REQUIRED
Dwellings; Two spaces per dwelling unit.
Rooming, Boarding Houses, Hotels and Motels One space for each guest room.
Places of public assembly, Churches, Recreation Centers, Stadiums and Fraternal Organizations; One space for each four seats to be accommodated in the main assembly room.
Hospitals, Convalescent homes, or similar institution; One space for every two beds intended for patients
Retail Businesses; One parking space for every 150 sq. ft. of retail floor area.
Medical / Dental office and Clinics One space for every 100 sq. ft. of office floor area.
Offices including Banks; One space for every 200 sq. ft. of total floor area.
Trade Schools, High Schools, Colleges, and Universities One space for each two teachers, employees and administrative personnel plus safe and convenient loading of students plus five spaces for each classroom.
Recreational Areas Indoor and Outdoor (commercial) YMCA, and Similar Uses One space for each 150 sq. ft. of gross floor, building, ground area, or combination devoted to such use.
Industrial or Manufacturing Establishment or Warehouse One parking space for each two employees on largest shift plus one space for each company vehicle.
Kindergarten and Nursery Schools One space for each employee plus safe and convenient loading of students.
Retail Stores of All One space per 150 square feet gross floor area.
Schools, Elementary One space for each teacher, one space for each two employees and administrative personnel, and one for each classroom, plus safe and convenient loading and unloading of students.
Shopping Center One space per 200 square feet gross floor area
Wholesale Establishment One space for each employee plus sufficient space to accommodate vehicles used in the conduct of the business.
Adult Entertainment Establishments One parking space per 100 square feet of gross building area or one for each 3 customer seats, whichever is greater.
  7-9. - Minimum Number of Loading Spaces Required.
Industrial, wholesale, and retail operations shall provide loading space as follows:
7-9.1. - Design of Loading Spaces.
Off-street loading spaces shall be designed and constructed so that all maneuvering to park and unpark vehicles for loading and unloading can take place entirely within the property lines of the premises. Loading spaces shall be provided so as not to interfere with the free normal movement of vehicles and pedestrians on public rights-of-way.
7-10. - Curb Cut Requirements.
In any district as described below where the lowering or cutting away of curbs, or the placement of asphalt and/or driveway pipe on non-curbed sections for the purpose of ingress and egress is required to the property, such curb cuts or asphalt width shall be placed through the entire right-of-way and shall be subject to the following provisions.
7-10.1.
Residential Curb Cuts (excluding multi-family development).
7-10.1.1.
No more than two combined entrances and exits shall be allowed any parcel of property, the front of which is less than 200 feet on any one street. Additional entrances or exits for parcels having a frontage in excess of 200 feet shall be permitted at the rate of one entrance/exit for each additional 100 feet.
7-10.1.2.
At street intersections (corner lots), no curb cuts shall be located within 25 feet of the intersection of two curb lines or such lines extended; or within 15 feet of the intersection of two property lines or such curb lines extended whichever is more restrictive. On major, secondary or collector streets, no driveway shall be within 70 feet of the intersection of two curb lines or curb lines extended.
7-10.1.3.
The distance between any two curb cuts on the same side of the street shall be not less than ten feet. Said distance shall be measured between the point of tangency of the curb return radius and the established curb of the abutting street.
7-10.1.4.
All driveways shall be constructed so as to have at least five feet from any property line (excluding right-of-way), except that a curb return may become tangent to a curb line at a point where such property line extends with the curb line.
7-10.1.5.
The maximum width of any driveway shall not exceed 24 feet measured at the right-of-way line.
7-10.1.6.
The sum of the two curb return radius for any curb cut shall not exceed 15 feet.
7-10.1.7.
When development on sites where existing curb cuts are abandoned and access is no longer afforded due to parking lots, buildings or other permitted structures, the driveway shall be removed, the sidewalk (if existing) shall be replaced, the curb and gutter shall be replaced, fill dirt back filled to its natural state; where it is a piped driveway to a dirt or paved street, said pipe shall be removed, asphalt removed and the shoulders and ditch regraded to its natural pre-existing state.
7-10.2.
Commercial and Multi-Family Curb Cuts.
7-10.2.1.
No more than two combined entrances or exits shall be allowed any parcel or frontage which is less than 300 feet on any one street. On parcels less than 150 feet, only one entrance shall be allowed provided it is a two-way driveway (two one-way driveways shall be allowed in lieu of the one two-way). Additional entrances or exits for parcels of property having a frontage in excess of 300 feet shall be permitted at the rate of one entrance-exit for each additional 150 feet.
7-10.2.2.
No driveway shall be located closer than 150 feet of an existing driveway on an abutting lot. Existing lots of record less than 150 feet frontage shall be allowed one combined entrance/exit not to exceed 24 feet at right-of-way line.
7-10.2.3
At street intersections (corner lots), no curb cuts shall be located within 70 feet of the intersection of two curb lines or within 60 feet of the intersection of two property lines where such lines extended whichever is more restrictive. Within the B-1 zoning district, mayor/council, at their discretion, may grant a variance to this requirement.
7-10.2.4.
All driveways shall be constructed so as to be at least 12.5 feet from any property line except that a curb return may become tangent to a curb line at a point where the property line extended intersects such curb line.
7-10.2.5.
Maximum width of any driveway shall not exceed 35 feet measured at the right-of-way line; minimum two-way shall be 24 feet at right-of-way line with a maximum of 12½ foot radius. No two driveways on the same property shall be closer than 25 feet.
7-10.2.6.
The maximum width of any curb cut in P-1, I-1 or I-2 zone shall not exceed 35 feet.
7-10.2.7.
The sum of the two curb return radius for any one curb cut shall not be less than 25 feet, nor greater than 40 feet.
7-10.2.8.
When development on sites where existing curb cuts are abandoned and access is no longer afforded due to parking lots, buildings, or other permitted structures, the driveway shall be removed, the sidewalk (if existing) shall be replaced, the curb and gutter shall be replaced, fill dirt backfilled to its natural state; where it is a piped driveway to a dirt or paved street, said pipe shall be removed, asphalt removed and the shoulders and ditch re-graded to its natural pre-existing state.
7-11. - Solid Waste Container Pad.
All site plans for apartments and commercial buildings shall include a solid waste container paid that has easy and safe access for the front end loader and must be screened as per sections 3-17 and 3-18. The number of pads shall be based on the following criteria if apartments: .2 cubic yards per unit; minimum container shall be four cubic yards.
