ARTICLE XIV. - MINIMUM AREA, YARD AND HEIGHT REQUIREMENTS

Sec. 1400. - Minimum area requirements.
EXPAND
Lot Size
Zoning District Area (square feet)/Density Square feet
per Family Lot Width 3
RA-200 40,000 40,000 200 feet
R-100 15,000 sewer
25,500 septic 2 15,000 100 feet
R-75 12,000 sewer
25,500 septic 2 12,000 75 feet
R-60 7,200 sewer 7,200 60 feet
RMD 16,000 sewer 25,500
septic 2 8,000 100 feet
RM 18,000 12,000 first family plus 2,500 each additional family - not to exceed 13 units per acre 100 feet
RM-6 6 units per acre N/A 100 feet
RM-8 8 units per acre N/A 100 feet
R-TH 8 units per acre N/A See Section 1302
R-ZT 6 units per acre 4,000 40 feet
RM-10 10 units per acre N/A 100 feet
RM-13 13 units per acre N/A 100 feet
O-I, OBP No minimum N/A N/A
C-1, C-2, C-3 No minimum N/A N/A
M-1, M-2 1 acre N/A 100 feet
  1 When developing 3-plex, 4-plex subdivision under RM category, lot size is determined as follows: 18,000 square feet plus 550 square feet per unit.
2 The Gwinnett County Health Department may require larger lots for septic tanks. Approximately 75 percent of Gwinnett County's soils will require a lot size of at least 25,500 square feet.
3 In all districts, stormwater facility lots shall maintain a minimum lot width of 30 feet at the minimum building setback line.
(Ord. No. 2016-02-69, Exh. A, 2-28-2016; Ord. No. 2021-10-220, § 1, 11-16-2021)
Sec. 1401. - Minimum Yard and Height Requirements.
EXPAND
Zoning
District Front Yard
Local Street Major
Thoroughfare Side Yard 1 Rear Yard 1 Maximum Height of Stories
RA-200 35 feet from right-of-way 50 feet from right-of-way 1 yard 15 feet 2 yards 35 feet 40 feet 35 feet
R-100 35 feet from right-of-way 50 feet from right-of-way 1 yard 10 feet 2 yards 25 feet 40 feet 35 feet
R-75 35 feet from right-of-way 50 feet from right-of-way 1 yard 10 feet 2 yards 20 feet 40 feet 35 feet
R-60 25 feet from right-of-way See section 1302A.2(e) 1 yard 5 feet 2 yards 15 feet 30 feet or see section 1302A.2(e) 35 feet
R-ZT 20 feet from right-of-way See section 1302C(7) 1 yard 5 feet 2 yards 10 feet 25 feet or see section 1302C(6) 35 feet
R-TH See section 1302 See section 1302 See section 1302 See section 1302 See section 1302
RMD 35 feet from right-of-way sewer 50 feet from right-of-way septic 50 feet from right-of-way 1 yard 15 feet 2 yards 30 feet 40 feet 35 feet
RM, RM-6, RM-8, RM-10, RM-13 50 feet from right-of-way 50 feet from right-of-way 20' first two stories plus 4' per each additional story 40 feet 40 feet
MUD 2 (high-rise buildings) 10 feet from right-of-way 10 feet from right-of-way 0 feet 1 0 feet 1 25 stories not to exceed 300 feet
O-1, OBP 50 feet from right-of-way 50 feet from right-of-way 10 feet 15' but 40' if abuts residential district 1 3 stories not to exceed 35 feet
C-1, C-2, C-3 50 feet from right-of-way 50 feet from right-of-way 10' but 20' if abuts residential district 1 15' but 40' if abuts residential district 1 3 stories not to exceed 35 feet
M-1 50 feet from right-of-way 50 feet from right-of-way 20' abutting non-residential district; 50' abutting residential district 1 15' abutting non-residential district; 40' abutting residential district 1 Within 100' of Residential District; 40 feet; 101'—150' from Residential District; 55 feet; 151' or more from Residential District; 85 feet
M-2 50 feet from right-of-way 50 feet from right-of-way 20' abutting non-residential district; 50' abutting residential district 1 15' abutting non-residential district; 40' abutting residential district 1 40 feet
  1 Also see Section 606, Buffer Between Dissimilar Districts.
2 For structures in excess of 5 stories or 60 feet, the setback from any abutting single-family district shall be increased by one foot for every additional one-foot rise in building height, up to a maximum of 200 feet.
(Ord. No. 2016-02-69, Exh. A, 2-28-2016; Ord. No. 2021-10-220, § 1, 11-16-2021)
_____
