ARTICLE X. - AGE REQUIREMENTS

Sec. 6-130. - Age requirements on licensed premises.
(a)
The age requirements for employees shall be as follows:
(1)
Package alcoholic beverage and wholesale licensees: Except as provided in this subsection, no wholesale dealer or package store licensee shall allow any employee under the age of 18 years to sell, take orders for, or handle alcoholic beverages. The provisions of this subsection shall not prohibit persons under 18 years of age who are employed in grocery stores, supermarkets, convenience stores, breweries or drug stores from selling or handling alcoholic beverages that are sold for consumption off the premises; however, the licensee shall ensure that said person under 18 years of age shall be under direct supervision of a person who shall be both employed by said establishment and who shall be over the age of 21 years of age and shall be on-site at all times during which the underage employee is working.
(2)
Consumption on the premises licensees and caterers: No consumption on the premises licensee or licensed caterer shall allow any employee under the age of 18 years to dispense, sell, serve, take orders for, or handle alcoholic beverages.
a.
The subsection shall not prohibit the employment of persons under the above ages on licensed premises where such persons do not dispense, sell, serve, take orders for, or handle alcoholic beverages.
b.
This section shall not apply to those employees who clear tableware between customers, also known as "busboys," nor shall it apply to those employees who are cooks or dishwashers.
c.
Those employees of a consumption on the premises licensee and licensed caterers who are 18 years of age but younger than 21 years of age shall be under direct supervision of a person who shall be both employed by said establishment and who shall be over the age of 21 years of age and shall be present at all times during which the underage employee is working.
(Ord. of 8-14-2017)
Secs. 6-131—6-139. - Reserved.
