ARTICLE VIII. - SUPPLEMENTAL REQUIREMENTS, EXCEPTIONS AND MODIFICATIONS
DIVISION 1. - GENERALLY

Sec. 8-1. - Existing lots.
Where the owner of a plot of land consisting of one or more adjacent lots of record at the time of enactment of this zoning code did not own sufficient contiguous land to enable him to conform to the minimum lot size requirements of this zoning code, or if the topography, physical shape or other unique features of such lot of record prevent reasonable compliance with the setback or other open space requirements of this zoning code, such plot of land may nevertheless be used as a building site. The yard and other space requirements of the district in which the piece of land are located may be reduced by the smallest amount that will permit reasonable use of the property as a building site; however, in no case shall the building inspector permit any lot in a residential district to be used as a building site which is less than one-half of the applicable minimum area and yard requirements.
(Zoning Code 1997, § 13-1)
Sec. 8-2. - Height limitation exceptions.
The height limitations of this zoning code shall not apply to church spires, belfries, cupolas, domes, and similar towers, TV, telephone or radio transmission towers (see section 8-34 of this appendix), chimneys, smokestacks, derricks, conveyors, flagpoles, or aerials, except in the vicinity of airports.
(Zoning Code 1997, § 13-2)
Sec. 8-3. - Vision clearance.
In all districts except the C-1 District, no fence, wall, shrubbery, sign, marquee or other obstruction (except street and traffic signs) to vision between the height of three and 15 feet shall be allowed within 25 feet of the intersection of right-of-way lines of streets.
(Zoning Code 1997, § 13-3)
Sec. 8-4. - Satellite dish signal receiving stations.
All satellite dish stations in excess of 12 inches in diameter and/or not roof-mounted are subject to the following conditions:
(1)
Such stations shall be located in the rear yard, as defined in this appendix; and
(2)
The height of the station shall not exceed 15 feet above the ground when said station is in a position perpendicular to the ground, and the maximum diameter of any dish antenna shall not exceed 12 feet.
(Zoning Code 1997, § 13-4)
Secs. 8-5—8-18. - Reserved.
DIVISION 2. - CUSTOMARY HOME OCCUPATIONS

Sec. 8-19. - Defined; requirements.
A customary home occupation is a gainful occupation or profession conducted by members of a family residing on the premises and conducted entirely within the dwelling. Dwellings housing customary home occupations shall display no stock in trade outside the dwelling, and no alteration to any building shall indicate from the exterior that the building is being utilized in whole or in part for any purposes other than a residential unit, including permitted accessory buildings. Customary occupations include the following, subject to the requirements of this section:
(1)
Barbershop and beauty shop operated by not more than two members of the residence.
(2)
Artist, dressmaker, seamstress, tailor, and interior decorator.
(3)
Teaching, including tutoring, musical instruction, or dancing, but limited to three pupils at a given time.
(4)
Any similar use which, upon review by the planning commission, is deemed to be a home occupation by reason or acceptance as a home occupation in the community.
(5)
A business sign on the premises may be only non-illuminating and no larger than two square feet in area.
(6)
All such home occupation activity shall be confined to 25 percent of the floor area of the residence.
(Zoning Code 1997, § 13-5)
Secs. 8-20—8-33. - Reserved.
DIVISION 3. - COMMUNICATION TOWERS

Sec. 8-34. - Defined; requirements.
Communication towers are defined as a tower of any size that supports communication equipment utilized by commercial, government or other public or quasi-public users. This does not include the use of home satellite dishes and television antennas or amateur radio operators as licensed by the Federal Communications Commission, and such communication towers are subject to the following requirements:
(1)
Due to consideration for health, safety, impact on neighboring properties and aesthetics, any communication tower uses shall comply with the following supplemental regulations, in addition to the necessary district requirements:
a.
At the time of application for a special use permit as provided for herein, satisfactory evidence shall be submitted that alternate towers, buildings or other structures do not exist within the applicant's tower site search area that are structurally capable of supporting the intended antenna or meeting the applicant's necessary higher criteria or provide a location free from interference of any nature.
b.
No communication tower shall be located within 300 feet of the boundary line of any R-1, R-2, R-3 or R-4 zoning district, nor will any communication tower be permitted in the residential or in the professional (P-1) zoning districts.
c.
Towers shall be illuminated as required by the Federal Communications Commission, Federal Aviation Administration or other regulatory agency. However, no nighttime strobe lighting shall be incorporated, unless required by the Federal Communications Commission, Federal Aviation Administration or other regulatory agency.
d.
Each communication tower and associated buildings shall be enclosed with a fence at least seven feet in height.
e.
Each tower shall be surrounded by a planted buffer strip (section 4-6 of this appendix), or fence of at least seven feet in height.
f.
No signage of any nature may be attached to any portion of a communication tower.
g.
Communication towers shall have a maximum height of 300 feet.
h.
A communication tower which is no longer used for communication purposes must be dismantled and removed within 120 days of the date the tower is taken out of service.
(2)
In addition, the following will be taken into consideration by the planning commission when recommending approval or denial of a conditional use permit for communication towers by the city council:
a.
Will the proposed structure endanger the health and safety of the residents, employees or travelers, including, but not limited to, the likelihood of the failure of such structures?
b.
Is the proposed tower located in an area where it will not substantially detract from the aesthetics and neighborhood character or impair the use of neighboring properties?
c.
Is the proposed structure necessary to provide a service that is beneficial to the surrounding community?
d.
Does the proposed use meet the setback requirements of the underlying zoning district in which it is located?
e.
Is the proposed tower within 1,000 feet of another tower (unless on the same property)?
(3)
A site plan, elevation drawing, photographs and other appropriate documentation must be submitted with the request for a conditional use permit which provides the following information:
a.
Site plan must include the locations of the tower, guy anchors, if any, transmission building and other accessory uses, parking access, fences and adjacent land uses. Buffering and fence requirements must also be shown.
b.
Elevation drawings must clearly show the design of the tower and the materials to be used.
c.
Photographs must show the proposed site and the immediate area.
d.
Submittal of other detailed information such as topography and aerial views which support the request are encouraged at the option of the applicant.
(Zoning Code 1997, § 13-6)
Secs. 8-35—8-48. - Reserved.
DIVISION 4. - AUTOMOBILE PARKING SPACE REQUIREMENTS

Sec. 8-49. - Minimum number; area; off-street requirements.
No structure hereinafter shall be erected nor any of the uses listed in this section shall be established unless at least the minimum number of automobile parking spaces, as specified in this section, are provided. Each parking space shall have an area of at least 180 square feet, plus necessary maneuvering and turning space. All off-street parking except for single-family residential uses shall be designed and arranged so as to prevent vehicles from backing onto a public street, road, or highway, but shall have access to a public street.
(Zoning Code 1997, § 13-7)
Sec. 8-50. - Required spaces by use.
(a)
Auto sales and repair: one space for each 250 square feet of auto repair or maintenance space, plus one space for each regular employee.
(b)
Churches, synagogues, or other places of worship: one space for each four seats in the main assembly room or sanctuary.
(c)
Clinics: one space for each examining room, plus one space for every three seats in the waiting room, plus one space for each doctor and one for every two employees.
(d)
Gasoline filling stations: three spaces for each grease rack or similar facility, plus one space for each employee on the shift with the highest employment.
(e)
Hospitals, nursing homes, personal care homes, or similar institutions: one space for each two beds intended for patients, not including bassinets, plus one space for each three employees on the shift with the highest employment.
(f)
Industries: one space for each two employees on the shift with the highest employment, plus one space for each vehicle operating from the premises.
(g)
Funeral homes: one space for each three seats in the chapel, one additional space for each two employees, one additional space for each resident family, and one additional space for each funeral vehicle.
(h)
Motels, hotels, or similar uses: one space for each room to be let, plus one space for each two employees on the shift with the highest employment.
(i)
Offices, including banking institutions, but excluding doctors' and dentists' offices: one space for each 200 square feet of gross floor area.
(j)
Offices for doctors and dentists: seven spaces for each doctor or dentist.
(k)
Places of public assembly, lodges, and clubs: one space for each four seats of maximum seating capacity in the main assembly room.
(l)
Places of amusement or assembly without fixed seating: one space per 300 square feet of floor space devoted to patron use.
(m)
Restaurants or similar eating establishments: one space for each four seats for patron use and one additional space for each two employees on the shift with the highest employment.
(n)
Residences, single-family, duplex, and multifamily: two spaces for each dwelling unit.
(o)
Retail and service businesses: one space for each 300 square feet of sales floor area; plus one space for each employee.
(p)
Schools: one space for each classroom and administrative office.
(q)
Schools, senior high and vocational schools: one space for each four seats in the main auditorium or assembly room.
(r)
Shopping centers: one space for each 150 square feet of gross floor area.
(s)
Wholesaling and warehousing: one space for each three employees on the shift with the highest employees.
(t)
Residential uses: two spaces for each dwelling unit.
(Zoning Code 1997, § 13-7.1)
Sec. 8-51. - Location on other property.
If the required automobile parking spaces cannot reasonably be provided on the same lot on which the principal use is conducted, such spaces may be provided on other off-street property, provided such property lies within 400 feet of the main entrance to such principal use. Such automobile parking space shall be associated with the principal use and shall not be thereafter reduced or encroached upon in any manner.
(Zoning Code 1997, § 13-7.2)
Sec. 8-52. - Extension of parking into a residential district.
The required industrial or commercial parking space may extend up to 120 feet into a residential zoning district provided that:
(1)
The parking space adjoins a commercial or industrial use district;
(2)
The parking space has its only access to or fronts upon the same street as the property in the commercial or industrial district for which it provides the required parking space; and
(3)
The parking space is separated from abutting properties in the residential district by a ten-foot-wide planted buffer strip.
(Zoning Code 1997, § 13-7.3)
Sec. 8-53. - Off-street loading and unloading spaces.
On every lot on which a business, trade, or industrial use is hereafter established, space with access to a public street or alley shall be provided as indicated below for the loading and unloading of vehicles off the public right-of-way:
(1)
Retail businesses: one space of at least ten feet by 25 feet for each 3,000 square feet of floor area or part thereof;
(2)
Wholesale and industrial uses: one space of at least ten feet by 50 feet for each 10,000 square feet of floor area or part thereof;
(3)
Bus and truck terminals: sufficient space to accommodate the maximum number of busses or trucks to be stored or to be loaded or unloaded at the terminal at any one time.
(Zoning Code 1997, § 13-7.4)
Secs. 8-54—8-68. - Reserved.
DIVISION 5. - SIGN REGULATIONS

Sec. 8-69. - Purpose.
This section is intended to regulate the use of signs, billboards, and other outdoor advertising structures.
(Zoning Code 1997, § 13-8)
Sec. 8-70. - General provisions.
In any zoning district the following shall apply:
(1)
Signs may be erected within required front yard setbacks;
(2)
No portion of any sign shall overhang any public right-of-way;
(3)
No sign shall be erected or maintained in a manner which materially impedes visibility of or from automobiles or pedestrians, or which creates a traffic safety hazard;
(4)
Signs which imitate warning signals or emergency flashing lights or could otherwise be confused with an authorized traffic control or emergency sign, signal, or device are prohibited.
(Zoning Code 1997, § 13-8.1)
Sec. 8-71. - Types of signs not subject to regulations.
The following types of signs are not subject to sign regulations outlined in this section:
(1)
Signs not exceeding one square foot in area and bearing only property numbers, post office route and box numbers, or names of occupants on the premises;
(2)
Flags and insignias of any government, except when used as part of a commercial display or advertisement;
(3)
Legal notices and informational or directional signs erected by governmental bodies or required to be erected by governmental bodies;
(4)
Integral decorative or architectural features of buildings or grounds, except letters, trademarks, moving parts, moving or apparently moving lights, or advertising in any form;
(5)
Signs directing and guiding traffic on private property, but bearing no advertising matter.
(Zoning Code 1997, § 13-8.2)
Sec. 8-72. - Temporary signs.
Temporary signs are permitted in any zone, provided that they are non-illuminated and conform to the following provisions:
(1)
Temporary signs not exceeding 40 square feet in area announcing a land subdivision development are permitted on the premises of the subdivision. Such signs shall be set back not less than ten feet from any property line, and shall be spaced not less than 300 feet apart. Such signs shall be kept in a good state of repair, and shall be removed no later than 30 days after such time as 75 percent of the lots are conveyed.
(2)
One sign not exceeding 60 square feet in area and displaying the names of the building, the contractors, the architects, the engineers, the owners, and the financial, selling, and development agencies, is permitted upon the premises of any work under construction, alteration, or removal. The sign shall be removed no later than 30 days after completion of the project.
(3)
Signs not exceeding 15 square feet in area and displaying the names of house painters, craftspersons, contractors, and others involved in the repair, remodeling, or improvements are permitted on the premises on which the work is taking place. The signs shall be removed no later than seven days after the completion of the work.
(4)
In advertising any property for sale, rent, or lease, temporary signs may be erected. Such signs shall not exceed a surface area of five square feet per 100 feet of street frontage.
(Zoning Code 1997, § 13-8.3)
Sec. 8-73. - Signs in residential zones.
In residential zones, the following regulations shall apply:
(1)
For home occupations or professional offices located in residences, one non-illuminated sign, not to exceed two square feet of sign area, is permitted.
(2)
For group housing developments, apartments, or other multifamily residences, one identification sign, not to exceed 30 square feet, is permitted for each separate street frontage.
(3)
For other permitted nonresidential uses:
a.
Not more than two identification signs with a combined surface area not exceeding 20 square feet, plus;
b.
Not more than two bulletin or notice boards with a combined surface area not exceeding 30 square feet.
(4)
In single-family or duplex subdivisions, not more than two permanent identification signs are permitted per entrance, totaling not more than 30 square feet.
(Zoning Code 1997, § 13-8.4)
Sec. 8-74. - Signs in other zones.
In all other zones, not more than two sign structures with a combined sign surface area not to exceed one square foot per foot of street frontage is permitted for each separate street frontage.
(Zoning Code 1997, § 13-8.5)
Secs. 8-75—8-88. - Reserved.
DIVISION 6. - PLANNED UNIT DEVELOPMENTS (PUDs)

Sec. 8-89. - Purpose.
This section is intended to permit greater flexibility in the development of residential areas and establish a review process by the planning commission for such development plans.
(Zoning Code 1997, § 13-9.1)
Sec. 8-90. - Definitions.
A planned unit development (PUD) is defined as a development project comprehensively planned as an entity with an overall site plan which permits flexibility in building siting, mixture of land uses, and the provision of open spaces. A PUD shall be primarily residential in character, and may include the following:
(1)
Single-family detached dwellings;
(2)
Single-family attached dwellings such as townhouses, condominiums, and duplexes;
(3)
Multifamily dwellings;
(4)
Public or semi-public institutions such as schools, churches, and community or club facilities;
(5)
Recreational facilities, including swimming pools, golf courses, tennis courts and other recreational facilities intended for the primary use of the residents of the development;
(6)
Open space;
(7)
Commercial, retail, and professional uses subject to the following limitations:
a.
The commercial, retail or professional use is designed to primarily serve the residents of the development;
b.
The uses shall not have adverse effects on the residential uses within the development or in adjacent developments, or create traffic hazards to pedestrian or vehicular traffic.
(Zoning Code 1997, § 13-9.2)
Sec. 8-91. - Size of tract.
The minimum size of any tract zoned and developed as a planned unit development (PUD) shall be five acres. Such PUDs shall also have permanent, paved access to a public road.
(Zoning Code 1997, § 13-9.3)
Sec. 8-92. - Area limitations.
(a)
A maximum of five percent of the total area of the development may be devoted to commercial, retail, or professional uses.
(b)
A maximum of 75 percent of the remaining (noncommercial) area of the development may be devoted to residential use. This percentage includes streets, parking areas, private yards and courts, and accessory residential uses.
(c)
A minimum of 25 percent of the remaining (noncommercial) area of the development shall be devoted to recreational and/or open space. This percentage may include public and semi-public buildings, recreational facilities and buildings, and common open space.
(Zoning Code 1997, § 13-9.4)
Sec. 8-93. - Standards for planned unit developments (PUDs).
(a)
Street access. Any building established in connection with a PUD that cannot properly be served by emergency or service vehicles from an abutting street shall be made accessible to such vehicles by a paved driveway with a width of not less than 20 feet, exclusive of parking space.
(b)
Off-street parking. Off-street parking facilities established in connection with a PUD shall be of such a design that it will not interfere with the safe movement of pedestrians, the efficient flow of traffic, and access of service and delivery vehicles. The requirements for off-street parking for uses in a PUD shall follow the requirements provided in this zoning code.
(c)
Separation within development. All buildings within a PUD shall be at least 20 feet apart, but at least 40 feet apart when front-to-front.
(d)
Building length. In residential buildings, no single row of dwelling units which are physically attached shall be greater than 200 feet in length.
(e)
Setback requirements. There shall be no minimum lot size, no minimum setbacks, and no minimum lot widths within the PUD; provided, however, that measures are taken to provide reasonable visual and acoustical privacy for dwelling units. There shall be provided a minimum of a ten-foot buffer between any PUD and adjacent residential area. Further, each dwelling unit shall have access to a street, walkway, or other common area, and no structure or building shall be erected within 15 feet of any other structure.
(f)
Water, sewerage, and drainage. Adequate provisions for water supply, sanitary sewerage, and storm drainage shall be installed by the developer in accordance with accepted engineering principles.
(Zoning Code 1997, § 13-9.5)
Sec. 8-94. - Procedures for planned unit development (PUD) approval.
An application for a planned unit development (PUD) shall be submitted to the clerk pursuant to the application procedures set forth in this appendix, and subject to independent review and approval by the planning commission at a hearing pursuant to public notice, as defined herein. This review process shall conform in general to the provisions of chapter 26 of this Code. In addition, the following requirements must be met:
(1)
The developer shall submit a site plan to the planning commission for review and approval. The planning commission shall approve or disapprove the site plan within 30 days after submittal.
(2)
The site plan shall include the following:
a.
Total acreage in the tract proposed for the PUD;
b.
Street access and street layout;
c.
Arrangement of existing and proposed buildings and structures;
d.
Existing and proposed land uses throughout the tract;
e.
Topography by contours at intervals of at least five feet and extending at least 200 feet outside the tract;
f.
Name, date, north arrow, and graphic scale;
g.
A vicinity map showing the relationship of the proposed PUD to surrounding development;
h.
The locations and dimensions of off-street parking spaces;
i.
The location and size of all proposed utility and storm drainage facilities, and solid waste collection points;
j.
Such other information as the planning commission may deem necessary because of physical characteristics peculiar to the particular development.
(Zoning Code 1997, § 13-9.6)
Secs. 8-95—8-108. - Reserved.
DIVISION 7. - SPECIAL CONDITIONS FOR CORNER LOTS

Sec. 8-109. - Corner lots.
A corner lot which abuts any two intersecting streets shall have a minimum side yard setback for the side of the building or structure facing a street that is at least two-thirds of the front yard setback for that street in the district as established in articles V and VI of this appendix. Front yard setbacks will be the same as listed in articles V and VI of this appendix for such lots.
(Zoning Code 1997, § 13-10.1)
Sec. 8-110. - Vision clearance.
On any corner lot, no fence, sign, or other structure, planting, or other obstruction to vision above three feet above the established street grade shall be erected or maintained within the line connecting points on the street right-of-way line 20 feet distant from the corner.
(Zoning Code 1997, § 13-10.2)
Secs. 8-111—8-124. - Reserved.
DIVISION 8. - NONRESIDENTIAL USES LOCATED ADJACENT TO OR IN RESIDENTIAL AREAS

Sec. 8-125. - Required separation between commercial and/or industrial and residential lots.
When the rear or side lot line of a lot zoned and used for commercial or industrial purposes adjoins the rear or side lot line of a lot zoned or used for residential purposes, the commercial or industrial development shall comply with the following requirements:
(1)
The required setback line for buildings on the commercial or industrial lot shall be increased to 20 feet from the property line of the residential lot.
(2)
A vision-screening buffer shall be provided along the rear or side lot line used and zoned for commercial or industrial purposes. This buffer shall consist of a vegetative, opaque screen designed to be at least ten feet wide and eight feet tall at maturity, a solid wall or fence at least eight feet tall, or any combination of the above as deemed necessary by the building inspector; such vision-screening buffer shall be subject to periodic inspections by the building inspector to determine that such required walls, fences, planted dividing strips, or other types of buffers are being properly maintained in a healthy, growing condition, and are neat and orderly.
(3)
These provisions shall not apply when the aforesaid side or rear lot lines do not meet due to the presence of a street, easement, watercourse, or other right-of-way greater than 25 feet in width. In such cases, said street, easement, watercourse, or other rights-of-way shall be deemed as a sufficient buffer for the purposes of this zoning code.
(Zoning Code 1997, § 13-11.1)
Sec. 8-126. - Parking setbacks adjacent to residential uses.
Parking facilities shall not be permitted in the side and rear yard setbacks for a distance of four feet from the property line for lots in residential districts.
(Zoning Code 1997, § 13-11.2)
Sec. 8-127. - Recreational facilities adjacent to residential uses.
Outdoor recreational facilities which are adjacent to lots which are zoned or used for residential purposes shall comply with the following standards:
(1)
No swimming pool, playground, miniature golf course, ball field, or game court shall be located closer than 50 feet from the property line of a lot zoned or used for residential purposes.
(2)
No lighting shall be installed in connection with any outdoor recreational facility which is closer than 50 feet to the property line of a lot zoned or used for residential purposes, unless such lighting is of such a nature, as determined by the planning commission, that it will not be a nuisance to an adjacent residential use.
(3)
A solid wall or fence, or vegetative screening which furnishes equal protection against noise and light, shall be provided when determined appropriate by the planning commission; such vision-screening buffer shall be subject to periodic inspections by the building inspector to determine that such required walls, fences, planted dividing strips, or other types of buffers are being properly maintained in a healthy, growing condition, and are neat and orderly in appearance.
(4)
No commercial activities shall be permitted in conjunction with recreational uses in residential zones except as listed below:
a.
Charges and fees for use of the recreational facilities; and
b.
Other activities which are directly incidental with the recreational facility and which, in the judgment of the planning commission, would not be in conflict with the residential nature of the neighborhood.
(Zoning Code 1997, § 13-11.3)
Secs. 8-128—8-140. - Reserved.
DIVISION 9. - JUNKYARDS AND SALVAGE YARDS

Sec. 8-141. - Regulations.
The following regulations shall apply to all automobile wrecking yards, junkyards and salvage yards, which are required to obtain a special use permit as provided for herein:
(1)
No automobile wrecking yard, junkyard or salvage yard shall be permitted closer than 300 feet from any residential district.
(2)
All outdoor storage of salvage and wrecking operations shall be conducted entirely within an enclosed fence or wall or chain link fence, except driveway areas. Fences or walls shall not be less than eight feet in height and shall be opaque from any view from the street. The purpose of the enclosure is to fully screen from view all abandoned, salvaged or scrap vehicles and to restrict access to said area. Storage between such fence or wall and the street or property lines is expressly prohibited. Any fence or wall erected for screening purposes shall be properly painted or otherwise maintained in good condition.
(3)
Wrecking yards, junkyards and salvage yards are permitted only in the I-2 Heavy Industrial District.
(Zoning Code 1997, § 13-12)
Secs. 8-142—8-156. - Reserved.
DIVISION 10. - GASOLINE SERVICE AND CONVENIENCE STORES

Sec. 8-157. - Convenience stores and gas stations.
For all such uses:
(1)
Points of access or egress shall be located no less than ten feet from the intersection of street lines;
(2)
Points of access or egress shall not exceed 30 feet in width and points of access or egress shall not be less than 20 feet apart.
(Zoning Code 1997, § 13-13)
Secs. 8-158—8-170. - Reserved.
