ARTICLE VII. - GENERAL DESIGN REQUIREMENTS

Sec. 40-111. - Suitability of land.
Land that is subject to flooding, improper drainage or erosion or that is for topographical or other reasons unsuitable for development use shall not be platted for any use that will continue or increase the danger to health or safety, unless the hazards are first corrected.
(Ord. of 7-1-2002, § 701)
Sec. 40-112. - Name of subdivision.
The name of the subdivision must be approved by the city planning commission and it shall not duplicate nor closely approximate the name of an existing subdivision.
(Ord. of 7-1-2002, § 702)
Sec. 40-113. - Access.
Access to every subdivision shall be provided by way of a public street. A single entrance to a subdivision shall serve a maximum of 120 residential lots. Where individual circumstances related to lot configuration or existing street network prohibit or render such access impractical, the city administrator, upon the recommendation of the city engineer, may waive this requirement. Under no circumstances shall such access via a single entrance service more than 200 residential lots.
(Ord. of 7-1-2002, § 703)
Sec. 40-114. - Required street improvements.
Any proposed development contiguous to an existing unpaved public city street will be required to bring hat portion of the unpaved street adjacent to the development up to current city standards.
(Ord. of 7-1-2002, § 704)
Sec. 40-115. - Parks, playgrounds and recreation areas.
Recreation standards. The city encourages land be reserved for parks and playgrounds or other recreation purposes by the developer of each single-family subdivision or multi-family development at locations designated on the master plan or where such reservations would otherwise be appropriate. Each reservation shall be of suitable size, dimension, topography, and general character and shall have adequate street access for the particular purposes envisioned. Those areas shall be shown and marked on the final plat, "Reserved for park and/or recreation purposes". When recreation areas are provided the developer can dedicate all such recreation areas to the city.
(Ord. of 7-1-2002, § 705)
Sec. 40-116. - Greenspace buffers.
In residential subdivisions, a greenspace buffer area shall be reserved between the right-of-way of arterial thoroughfares, major collectors, and minor streets, as follows:
(1)
Along arterials and major collectors, the greenspace are shall be no less than 100 feet between the street right-of-way and property line.
(2)
Along minor streets, the greenspace area shall be no less than 50 feet between the street right-of-way and property line.
(3)
The greenspace area shall be shown on the landscape plan.
The greenspace area will be designated on all plats as "City Greenspace Area" to be dedicated to the city.
(Ord. of 7-1-2002, § 706; Ord. No. 18-10 , § 1, 1-7-2019)
Sec. 40-117. - Continuation of existing streets.
Existing streets shall be continued at the same width, unless other width is approved by the city council.
(Ord. of 7-1-2002, § 707)
Sec. 40-118. - Street jogs.
Street jogs shall have center line offsets no less than 125 feet.
(Ord. of 7-1-2002, § 708)
Sec. 40-119. - Reserve strips.
Reserve strips controlling access to street and public grounds shall be permitted unless approved by the city council.
(Ord. of 7-1-2002, § 709)
Sec. 40-120. - Easements.
Easements, where required, shall have a minimum width of 20 feet.
The city engineer shall require sewer easements in subdivision not currently served by a sewer system if, in his opinion, the subdivision may some day be served by a sewer system.
Where a subdivision is traversed by a watercourse, drainage-way, channel or stream there shall be provided a stormwater or drainage easement subject to approval by the city engineer.
(Ord. of 7-1-2002, § 711)
Sec. 40-121. - Electrical street lighting.
(a)
Electrical street lighting shall be installed in all subdivisions.
(b)
Adequate street lighting shall be determined and approved by the city during the approval of a preliminary plat. One copy of the approved street lighting plan shall be forwarded to the electrical utility company servicing the subdivision.
(c)
The developer shall provide adequate lighting at street intersections, and dead-end streets including cul-de-sacs, and at all at-gate pedestrian crossings.
(d)
Luminaries are to be mounted at least 16 feet above grade, and not more than 28 feet above grade. Adjustment in spacing and luminaries height may be made due to street curves, topography and natural foliage and type of equipment. A design within the range of the minimum and maximum shall be considered for approval that produces the effective horizontal illumination that meets the (0.2) foot-candle requirements.
(e)
Poles, fixtures and all related materials must be available standard stock items through the electric utility company servicing the subdivision or must be approved by the city.
(f)
The developer shall pay the cost of installing the streetlights before final plat approval.
(Ord. of 7-1-2002, § 711)
Sec. 40-122. - Cul-de-sacs.
Cul-de-sacs should not be greater in length than 1,200 feet.
(Ord. of 7-1-2002, § 712)
Sec. 40-123. - Fire protection.
(a)
Single-family residential developments. Fire hydrants shall be installed in all single-family residential developments, which are served by the public water supply at locations shown on the preliminary plat as approved by the city engineer. In no case shall the distance between fire hydrants exceed 500 feet.
(b)
All other developments. Fire hydrants shall be installed in all other developments, which are served by a public water supply main. Accessibility for fire fighting equipment shall be maintained through all stages of construction. Fire hydrants and water service shall be installed to within 300 feet of all exterior points of buildings. If the units are of wood framing, the fire hydrants shall be installed before framing begins. The location and number of fire hydrants shall be approved by the city engineer.
(Ord. of 7-1-2002, § 713; Ord. No. 20-08 , § 1, 12-7-2020; Ord. No. 20-10 , § 1, 11-16-2020)
Sec. 40-124. - Off-street automobile parking.
Off-street automobile parking shall be provided in accordance with all applicable provisions of this chapter.
(1)
Plans required. A detailed parking plan for all uses other than single-family residential uses shall be submitted to the city as part of the final site plan.
(2)
Design standards. All parking facilities, including entrances, exits and maneuvering areas, shall comply with the following provisions:
a.
Shall have all spaces marked with paint lines, curb stones or other similar designations.
b.
Each space shall have not less than 162 square feet, and shall not be less than nine feet wide and 18 feet deep, exclusive of passageways. There shall be adequate interior drives to connect each space with a public street; no part of any parking space to exceed five percent slope.
c.
Shall be drained so as to prevent damage to abutting properties or public streets;
d.
Design of the parking area including space and driveway arrangement shall conform to the geometric design standards of the institute of traffic engineers;
e.
Adequate lighting as determined by the city engineer and police department shall be provided if the facilities are to be used at night;
f.
The parking area shall be permanently maintained by the owners or the occupants;
g.
Parking lots in developments permitted by the city and used by the public shall be constructed of a minimum of six inches of dense aggregate base and two inches of type "E" asphalt surfacing six-inch concrete (minimum 3,500 psi).
h.
Parking lots in new developments can also be constructed by utilizing pervious measures. See Sec. 4.15.1 of the Georgia Stormwater Management Manual.
i.
Handicap parking shall be provided in accordance with all applicable state and federal.
(Ord. of 7-1-2002, § 714; Ord. No. 18-01, § 1, 2-5-2018 )
Sec. 40-125. - Utility lines.
All utility lines in Senoia shall be placed underground with the following exceptions:
(1)
Those lines which were in place above ground prior to the enactment of this chapter;
(2)
Those lines, temporary in nature, which are intended to provide immediate service to an area for a period not to exceed 180 days, subject to the approval of the building official; and
(3)
Major transmission lines which do not provide service to adjoining properties, but are intended to distribute service between substations, subject to the approval of the city engineer.
(Ord. of 7-1-2002, § 715)
Sec. 40-126. - Sewage disposal.
Each development shall include an adequate sewage disposal system. Such system must meet all regulations of the city, which may be amended from time to time. The design of any system to be dedicated to the city must be approved by the city council and the city engineer prior to beginning any construction. Prior to the issuance of a building permit by the city, the applicant shall secure a permit from the Coweta County Health Department or the Georgia Environmental Protection Division for the installation of the sewage disposal system and such system shall be maintained and operated in accordance with the requirements established by the Coweta County Board of Health and the State of Georgia.
Individual on-site sewage disposal system (septic tank with drain field) shall not be installed on lots of less than one acre.
If the sewage disposal system proposed for a single-family development will serve more than one lot and utilize land application for effluent disposal, the disposal are shall either be deeded to a municipality or authority fee simple and such system shall be approved by the Georgia EPD. This system is only allowed where soil conditions on 80 percent of the lots meets the criteria for a conventional septic tank system. The developer shall also provide the owner with suitable ingress for effluent disposal that serve more than one single-family residential lot can not be contained as part of the lot.
In all developments with sewer service the following standards shall apply:
(1)
Sanitary sewers shall be laid in all streets, service connections installed to property lines, and connections made to trunk line sewers.
(2)
In all subdivisions with private disposal systems, lines shall be laid and temporarily plugged or capped at the points of service connections to the proposes trunk sewer line and individual lines.
(3)
The proposed subdivision sewer system shall be designed by a registered civil engineer and the design shall be in accordance with the following:
a.
Pipe shall be either concrete or PVC unless the use of ductile iron pipe is indicated; and the minimum size shall be eight inches for mains, four inch for force mains, and six inch for stub outs.
b.
Ductile iron pipe shall be used as follows:
1.
At all points where the sewer crosses drainage structures or open streams.
2.
For the influent joint of pipe at all drop manholes.
3.
For any sewers at depths less than three feet.
4.
For stub-outs at depths of less than five and one-half feet.
5.
For all force mains (must be polyurethane lined).
c.
The sewer shall be locate as near the center of the street as practical, and shall not be located less than four feet from the curb. Outfall lines shall not be located less than four feet from property lines.
d.
Minimum depths for sewers located in streets shall normally be seven feet for mains and five and one-half feet for stub-outs
e.
Manholes shall be located not further than 400 feet apart; however, manholes shall be constructed at all turns and at all points where a grade change occurs.
f.
Minimum slope for sewer pipes shall be 0.40% and maximum grade shall be ten percent.
g.
A horizontal separation of at least 10' must be maintained between the water main and any sewer line. When sewer mains cross water mains, a minimum vertical separation of 18 feet must be provided (measured edge to edge)
(Ord. of 7-1-2002)
Sec. 40-127. - Water supply.
All development in Senoia shall be connected to the city's water system and the developer shall bear the total expense for extending water mains to the area proposed for development.
(1)
All proposed water lines shall be designed by a Georgia Registered Civil Engineer. No underground work shall be covered or concealed until inspected and approved by a representative of the city water department. Water service pipe shall not be installed less than 24 inches deep.
(2)
All materials for water mains in subdivisions will conform to specifications of the American Water Works Association and shall be ductile iron pipe AWWA C151.
(3)
Water valves will be installed in subdivisions to effect a minimum cutoff of mains in case of shutdowns.
(4)
Stub-out water services will be installed in subdivisions in case where necessary to avoid cutting of pavement and will be placed where specified.
(5)
Sizes of water mains in subdivisions will be determined to ensure adequate domestic supply and fire protection for the subdivision.
(6)
Any water line laid under pavement shall be encased in .250-inch wall steel casing (minimum) from back of curb to back of curb. This does not include service lines.
(7)
Bore and/or water tap on a state or state-aid road shall require a permit from the state DOT.
(8)
All fittings under pressure to be blocked with concrete.
(9)
Valves and valve boxes (cast iron only) set to grade and level. All valve boxes outside of pavement shall have two-foot square pads four-inch thick, including fire hydrant valve boxes.
(10)
Typical single water service to be dual connection, utilizing a T-Bar Connection. NL Service Fitting -709T2BW 1" x 6.5" - 22CTS Compression x Meter Swivel Nut with Saddle. 1" NL Ball Style corporation Strap - 74701BQ AWWA/CC x Q CTS Compression tapping Saddle to be double strap style, Service line to be 1" Copper tube, Type L. Dual Meter Box enclosure to be : Carson 1416 MSBC Composite Lid with two AMR Antenna ports or Approved Equals.
(11)
Any open entrance of water and sewer lines will be closed to prevent foreign materials from entering when no work on that portion of lines is in progress.
(12)
Sufficient dry chlorine will be added to new water lines to cause sterilization when filled with water. The lines will then remain unused for a 24-hour period. The lines will be thoroughly flushed.
(13)
Disinfection of water lines and the disposal of heavily chlorinated water following disinfection must be accomplished in accordance with AWAA Standard C651 (latest revision) and the State of Georgia Water Protection Division. Furthermore, all types of installed pipe must be pressure tested and leakage tested in accordance with the latest edition of AWWA Standard C600.
(14)
At no time will water be turned on by anyone other than authorized city personnel.
(15)
A horizontal separation of at least ten feet must be maintained between the water main and the existing or proposed sewer except as otherwise approved. When water mains cross sewers, a minimum vertical separation of 12 inches must be provided between the two pipes (measured edge to edge). At crossings, one full length of ductile iron pipe must be located so that both joints are as far from the sewer as possible. At crossings, special sewer construction may also be required such as using a ductile iron sewer pipe or encasing the sewer line in concrete.
(16)
Any pipe, solder, flux, or joint compound used in the installation or repair of water lines must comply with US EPA and GA EPD requirement regarding lead and copper content.
(17)
All plans and construction of water and sewer lines and appurtenances will be subject to review and inspection by the city personnel. However, such review/inspection by the city or other personnel shall not relieve the developer/installer of proper surveys, design, engineering, and construction, and the city, its engineer or personnel assume no liability in the performance of reviews, approvals and inspections.
(Ord. of 7-1-2002, § 717; Ord No. 19-10 , § 1, 11-4-2019)
Sec. 40-128. - Sidewalks.
Sidewalks shall be installed on commercial, industrial and multi-family sites to provide logical pedestrian movement. Where parking spaces directly face a building, a paved sidewalk shall be provided between the front of the building and the parking spaces. The sidewalks shall be a minimum of four feet in width, exclusive of vehicle overhang or other obstructions. If a four-foot sidewalk is placed contiguous to the curb or pavement, concrete wheelstops shall be installed two feet from the curb or edge of pavement to prevent vehicle overhang obstruction. If more than one building is constructed on one property, the building public entrances shall be connected with sidewalks that provide for logical pedestrian movement. Additional sidewalks shall be installed as needed to meet the requirements of the current Americans with Disabilities Act (ADA).
Any sidewalk constructed in the city shall be four feet in width.
(Ord. of 7-1-2002, § 718)
Sec. 40-129. - Development impact.
All persons proposing a development or construction project, which either contains 50 or more acres of residential use, or five or more acres of nonresidential use shall submit a study of the potential impacts of the developments. The study should contain as a minimum the following information:
(1)
A comprehensive description of the proposed development or construction.
(2)
A description of the probable impact (schools, traffic, environment, water quality, air, wildlife, roads, etc.).
(3)
A description of any adverse effects unavoidable if the project is implemented.
(4)
A description of alternatives, including no action, to be considered.
(5)
An analysis both of the short term and long term impact of the development or construction project.
(6)
A description of any irreversible or irretrievable impacts if the development or construction goes forward.
(7)
A description of the proposed management practices to minimize the impacts of the proposed development including a fiscal analysis of necessary capital and O&M expenditures needed to implement these practices.
This study shall be submitted with the preliminary plat/site plan. The city engineer may require the submission of a study on property not meeting the size thresholds if in his opinion the proposed development is located in an environmentally sensitive area or has the potential to create a significant environmental impact.
(Ord. of 7-1-2002, § 719)
Sec. 40-130. - Multiuse trail standards.
When required by the mayor and council, multiuse paths shall be installed by the developer and shall comply with the following standards:
(1)
The alignment of the path shall conform to the general plan for the area or as directed by the planning commission. The path shall be located a minimum of four feet from any property line except where located on an easement for access to a street or where unique topographical features warrant such location. Such locations must be noted on the preliminary plat.
(2)
All new multiuse paths shall be constructed at a minimum of ten feet in width, and shall be constructed of two-inch 9.5 mm Superpave asphalt over a four-inch compacted, aggregate base. The aggregate base shall extend a minimum of 36 inches on either side of the multiuse path. A clearance zone measuring four feet in width × eight feet four inches in height shall be provided and maintained as measured from the edge of the path. (A detail of these path standards is found within local design manual.)
(3)
Where the city engineer shall direct existing ground conditions require cross drainage under paths, the pipe size and alignment of the culverts.
(4)
After the paving is complete, the city engineer and any defects noted and the developer so notified of the deficiencies shall inspect the paths. Grassing and backfilling the edges of the path shall be included within the specifications.
(5)
Easements for multiuse paths shall be 20 feet in width as a minimum.
(6)
In all new residential subdivisions where a multiuse path is located between two platted lots, a city-owned greenbelt of no less than 50 feet in width shall be provided and deeded to the city as a part of the final plat process. Clearing and grading within the greenbelt shall be kept to the absolute minimum necessary to accommodate construction of the path.
(Ord. No. 19-13 , § 1, 10-7-2019)
Secs. 40-131—40-150. - Reserved.
