ARTICLE VIII. - WHOLESALERS: LICENSING REQUIREMENTS AND REGULATIONS

Sec. 6-110. - Requirements of wholesalers generally.
All wholesale dealers or distributors shall be licensed by the state revenue department and shall comply with all laws and regulations of the state revenue department before they sell or deliver any alcoholic beverages in the city. Deliveries and sales shall be made only to retailers licensed under the provisions of this article and all deliveries shall be made in conveyances owned and operated by such wholesale dealers or distributors.
(Ord. of 8-14-2017)
Sec. 6-111. - Other licenses.
The licenses and taxes provided for in this article are not levied in lieu of any other license fees or taxes that may be levied upon licensees, but are in addition thereto.
(Ord. of 8-14-2017)
Sec. 6-112. - Issuance of licenses limited to designated area.
No license permitting the wholesale distribution of alcoholic beverages shall be granted to any applicant proposing to locate within the city unless the premises are located in an area of the city that is properly zoned for such use.
(Ord. of 8-14-2017)
Sec. 6-113. - Regulations governing retail storage.
All licensed retailers shall store all alcoholic beverages on the premises for which the license was issued and at no other place. No wholesaler shall store for any retail dealer those alcoholic beverages that have been purchased.
(Ord. of 8-14-2017)
Sec. 6-114. - Consumption prohibited.
It shall be unlawful for any person to consume any alcoholic beverage on premises licensed for the wholesale sale of alcoholic beverages. For the purpose of this section only, "premises" shall include the parking area immediately adjoining the wholesaler's premises and available for the use of the customers of the licensed premises, whether or not the same are owned or leased by the license holder. It shall be unlawful for any licensee to permit the consumption of alcoholic beverages on said premises or to sell unsealed (broken) alcoholic beverages.
(Ord. of 8-14-2017)
Secs. 6-115—6-119. - Reserved.
