ARTICLE XI. - GENERAL DESIGN REQUIREMENTS

Sec. 1101. - Suitability of land.
Land subject to flooding, improper drainage, or erosion or land that is for topographical or other reasons unsuitable for residential use shall not be platted for residential use nor for any other use that will continue to increase the danger to health, safety, or property destruction, unless the hazards can be and are corrected prior to final plat approval. No land shall be platted for use which would be in conflict with the identifiable floodplains or other zoning provisions in effect in Harris County.
Sec. 1102. - Name of subdivision.
The name of the subdivision must have the approval of the planning commission. The name shall not duplicate nor closely approximate the name of an existing subdivision in Harris County.
Sec. 1103. - Access.
Subdivisions shall be located so as to gain access over a public street. The street pattern shall be so designed, when required by the Harris County Planning Commission, as to provide two (2) or more means of access from a public street or streets; however, streets converging upon any one point which would tend to promote congestion shall not be permitted.
Sec. 1104. - Access to adjacent properties.
Proposed streets shall be extended by dedication to the boundary of adjacent property where the subdivision is platted with only one (1) access to a public street or where the adjacent property has no access to a public street. Such extension may be required in other instances where, in the opinion of the planning commission, it is desirable to provide street access.
Sec. 1105. - Conformance to adopted major thoroughfare and other plans.
All streets, thoroughfares, and other features of the Major Thoroughfare Plan of Harris County, Georgia, shall be taken into consideration by the subdivider.
When features of other plans adopted by the planning commission (such as schools or other public building sites, parks, or other land for public uses) are located in whole or in part in a land subdivision, such features shall be either dedicated or reserved by the subdivider for acquisition within a reasonable time by the appropriate public agency.
Whenever a plat proposes the dedication of land to public uses that the planning commission finds not required or suitable for such public use, the planning commission shall refuse to approve the plat, and shall notify the governing body of the reasons for such action.
NOTE: One of the primary purposes and advantages of planning for the dedication and reservation of property for public use is to indicate areas which may be presently acquired at acreage prices rather than at greatly increased prices in the future and where future improvements would increase the expense to the taxpayer and create inconvenience for the individual property owner and for the neighborhood.
Where the public use to be made of the property and where the residents of the subdivision will receive primary benefit, the dedication of the property should be encouraged. Where the public use is for the public as a whole, the community should pay proportionately for the acquisition of reserved areas within a reasonable time. A reasonable time is to be determined according to the circumstances, because the subdivider should not be required to hold his land idle for an indefinite period far into the future.
Sec. 1106. - Large-scale developments.
The requirements of these regulations may be modified in the case of a large scale community or planned unit development, such as a housing development or shopping center which is not subdivided into customary lots.
(Ord. No. 1-93D, 10-5-93)
