SECTION 6. - SETBACK AND YARD REQUIREMENTS BY DISTRICT

6-1 - Development standards.
Within the various land development districts as indicated on the "Official Land Development Districts Map of Berrien County, Georgia," no building or structure, excluding all signs, shall be constructed or erected, except as indicated in the following schedule:
EXPAND
DEVELOPMENT STANDARDS LAND DEVELOPMENT DISTRICTS
AU RR R1A MHP
Minimum gross floor area per dwelling unit (sq.ft.) 600 600 1,200 600
Minimum lot area for dwelling units 2 ac. 2 ac. 1 ac. Gross min. Lot size of 10 acres
Minimum lot width 1 (feet) 150 150 150 300
Minimum front yard setback from the centerline of R/W (feet)
Principal and minor arterials 90* 90* 90* 90*
Collector streets 80* 80* 80* 80*
Local streets 70* 70* 70* Not allowed
Minimum side yards (feet) 20 20 10 20
Minimum rear yards (feet) 40 40 30
Maximum building height (feet) 35 35 35 35
  * Plus one-half any amount which the right-of-way width exceeds 60 feet for local streets, 80 feet for collector streets and 100 feet for arterials.
1  For the purpose of administration of the required lot widths as depicted above, the required lot width shall be measured subject to section 3-10 of this ordinance.
EXPAND
DEVELOPMENT STANDARDS LAND DEVELOPMENT DISTRICTS
RC GB WLI HI C-A¶
Minimum lot area 1 ac. 1 ac. 1 ac. 1 ac. 1 ac.
Minimum lot width (feet) 210 210 210 210 210
Minimum front yard setback from the centerline of R/W (feet)
Principal and minor arterials 90** 90** 90** 90** 100**
Collector streets 80** 80** 80** 80** Not allowed
Local streets 70** 70** 70** 70** Not allowed
Minimum side yards (feet) *
None*** *
None*** *
None*** *
None*** *
40***
Minimum rear yards (feet) *
12*** *
12*** *
12*** *
None*** *
40***
Maximum building height (feet) 35* 35* None* None* 35*
  *   The minimum distance from all other property lines to any building over 35 feet in height shall be increased one foot for every two feet (or part of two feet) of building height greater than 35 feet.
**  Plus one-half any amount which the right-of-way width exceeds 60 feet for local streets, 80 feet for collector streets and 100 feet for principal and minor arterials.
*** If the adjoining yard is within any residential district, the yard requirements specified in this table shall be increased ten feet and screening shall be provided as specified in section 3-19 along the lot line common with said lot.
¶ Additional development standards and guidelines are contained in the Berrien County ordinance to regulate adult entertainment establishments.
(Ord. of 8-23-2003, § 7)
