ARTICLE IX. - GENERAL REQUIREMENTS

Sec. 113-91. - Suitability of the land.
(1)
Unsuitable land may not be developed. Land subject to flooding, improper drainage or erosion, and any land deemed to be unsuitable for development due to steep slope, unsuitable soils or subsurface conditions, etc., shall not be subjected to development for any uses as may continue such conditions or increase danger to health, safety, life, or property, unless steps are taken to eliminate or abate these conditions.
(2)
Unsuitable land must be included in buildable lots.
a.
Land within a proposed subdivision or development which is unsuitable for development shall be incorporated into the buildable lots as excess land, established as a conservation area, common area or legally disposed of in a manner which would prevent the potential sale or transfer of the lot as potentially buildable lot of record. Lots which do not comply with the requirements of the zoning ordinance are prohibited.
b.
Exceptions/creation of unbuildable lots:
1.
Signage and landscape features. The creation of an un-buildable lot in a proposed subdivision for the exclusive purpose of subdivision identification signage or subdivision entrance landscape features is authorized only under the following circumstances (modification applications from the circumstances of this exception shall not be accepted):
i.
The lot shall be located at an entrance to the subdivision as an "island" in the right-of-way of a local or minor collector street;
ii.
A mandatory homeowner's association shall be required for the subdivision for ownership and maintenance of the lot as common area;
iii.
Right-of-way of a minimum width of 11 feet from back of curb shall be provided adjacent to the perimeter of the lot. Refer to standard drawings; and
iv.
Landscape plantings within the right-of-way shall comply with section 113-128 of these regulations.
2.
Stormwater management facilities. The creation of an un-buildable lot for the exclusive purpose of providing and maintaining a stormwater management facility is authorized.
(Ord. No. 2009-06-18, (9.1), 6-29-2009)
Sec. 113-92. - Offers of land dedication.
Land not suitable for public use. Whenever a developer proposes the dedication of land to public use, and the director or the appropriate agency finds that such land is neither required nor is it suitable for public use, the director shall require the rearrangement of lots to include such land in private ownership.
(Ord. No. 2009-06-18, (9.2), 6-29-2009)
Sec. 113-93. - Zoning and other regulations.
Discrepancy in codes. Whenever there is a discrepancy between minimum standards or dimensions required herein and those contained in zoning regulations, building codes, or other official regulations or resolutions, the most restrictive shall apply. In those instances where the required right-of-way width or roadway improvements for a specific project have been established as a condition of zoning approval, the requirements of the zoning condition shall control, whether more or less restrictive than the requirements of these regulations.
(Ord. No. 2009-06-18, (9.3), 6-29-2009)
Sec. 113-94. - Required public improvements.
General requirements. Every developer of lands within the jurisdiction of these regulations shall provide accessimprovements as required by these regulations and other pertinent codes, ordinances, and regulations of the city. Said improvements and associated lands shall be provided at no cost to the city, and shall be dedicated or otherwise transferred, as required, to the public in perpetuity and without covenant or reservation, except as otherwise provided herein.
(Ord. No. 2009-06-18, (9.4), 6-29-2009)
Sec. 113-95. - Lots.
(1)
Conformance with zoning ordinance. Lots shall at least conform to requirements of the zoning ordinance.
(2)
Double frontage and reverse frontage lots. Double frontage and reverse frontage lots shall be required for residential subdivisions along major thoroughfares where internal access can be provided. A no-access easement of at least ten feet in width, across which there shall be no right of access, shall be provided along the line of lots abutting such a traffic artery. When located along a major thoroughfare, the no-access easement shall be planted and/or screened as required by the tree preservation ordinance.
(3)
Lot configuration. The size, shape, arrangement and orientation of every lot shall be subject to the approval of the director for the type of development and use contemplated.
(4)
Internal lot lines. Proposed internal lot lines shall not be curved.
(5)
Sanitary sewer. Lots not served by public sewer or community sanitary sewage system and/or public water shall meet the minimum dimension and area requirements of the county health department.
(6)
Lot access. Each lot shall have direct access to an abutting, existing public street or to a street contained within the proposed subdivision. A connection through an approved private drive may be permitted by the director.
(7)
Lots adjacent to lakes or ponds. When subdividing land adjacent to or surrounding an existing or proposed lake the lots abutting the lake shall be drawn to the center of the lake, except when the lake is proposed for recreational or stormwater management purposes and will be contained on an individual lot of record and maintained by the homeowners association.
(Ord. No. 2009-06-18, (9.5), 6-29-2009)
Sec. 113-96. - Survey monuments.
(1)
Establishment of monuments. At least two permanent monuments shall be accurately set and established to tie with the city GIS monuments or as required by the director.
(2)
Monument material. The monuments shall consist of a permanent material such as steel, concrete, iron or stone. The monuments shall be set so that the top shall be six inches above the ground level, unless otherwise approved by the director.
(3)
Depiction of monument location. The accurate location, material and size of all existing monuments shall be shown on the final plat, as well as the future location of monuments to be placed after street improvements have been completed.
(Ord. No. 2009-06-18, (9.6), 6-29-2009)
Sec. 113-97. - Standard drawings.
(1)
Standard drawings. The department shall maintain on file for consultation and distribution a set of standard drawings illustrating details of construction and design of streets, stormwater drainage facilities, site improvements and other elements related to the development of land in accordance with these regulations and under the jurisdiction of the department. Where no standard drawing has been developed by the city the drawings established by GDOT shall be used.
(2)
Minimum acceptable standards. The standard drawings shall illustrate minimum acceptable standards for land development activities authorized under these regulations, but shall not supersede more restrictive prudent design requirements or good engineering practices applied to specific situations on a case-by-case basis.
(3)
Standard drawings as part of these regulations. The standard drawings shall be treated as though a part of these regulations for application to the minimum standards for design and construction of improvements required herein and subject to the modification and appeal provisions of article III.
(4)
Open space. Open space provided shall meet the following requirements:
a.
Open space shall be natural and undisturbed. Open space shall be permanent and shall remain in its natural state, undisturbed and unoccupied by any structures or impervious surfaces to include septic tanks and septic tank drain fields and except for approved access or utility crossings. Pedestrian access in open space shall be subject to the review and approval of the director. Buffers, floodplains and wetlands may be utilized as open space.
b.
Ownership requirements. Open space provided in a development shall be owned and maintained by the property owner, or in the case of a subdivision, by a property owner's association. The association shall be established by the developer prior to or concurrent with the recording of the final plat of the subdivision. The association bylaws shall include the following provisions:
1.
Automatic (mandatory) membership of all purchasers of lots therein and their successors;
2.
Conditions and timing of transferring control of the association from the developer to the lot owners shall be specified which shall not exceed four years from the date of recording of the final plat of the subdivision;
3.
Responsibility for maintenance, insurance and taxes;
4.
Sharing of the costs of maintenance among the lot owners with shares defined by the association bylaws;
5.
Authority to place liens on the real property of members who fail to pay their dues or assessments; and
6.
Prohibition on the dissolution of the association without the approval of the mayor and council.
c.
Maintenance. The property owner, or the property owner's association, shall be responsible for the maintenance of open space. Open space shall be kept in reasonable order and condition and shall be maintained free from refuse, junk and debris.
(Ord. No. 2009-06-18, (9.7), 6-29-2009)
Sec. 113-98. - Wetlands.
(1)
National wetland inventory maps. The national wetland inventory maps, prepared by the United States Fish and Wildlife Service, show the general locations of wetlands and should be consulted by persons contemplating activities in or near wetland areas. These maps should be used as a guide only. Field verification is required to determine the existence or absence of any jurisdictional waters.
(2)
Plans. Design professionals, after consulting the national wetland inventory maps and conducting appropriate field studies, shall indicate wetlands or jurisdictional waters on plans required for land disturbance permit applications.
(3)
Design professional statement. Prior to the issuance of a land disturbance permit, the design professional who prepared the required plans accompanying the permit application, shall add a statement to the plan sheet indicating land disturbance and the statement shall read as follows:
Wetland Certification:
The design professional, whose seal appears here on, certifies the following: 1) the National Wetland Inventory maps have been consulted and appropriate field studies have been conducted; and, 2) the appropriate plan sheet [ ] DOES / [ ] DOES NOT(mark appropriate box) indicate wetlands as shown on the maps; and, 3) if wetlands are indicated, the land owner or developer has been advised that land disturbance of protected wetlands or jurisdictional waters shall not occur unless the appropriate federal wetlands alteration ("Section 404") permit has been obtained.
(4)
ACOE coordination. The issuance of land disturbance permits by the city may be coordinated with the US Army Corps of Engineers section 404 permitting process. If the "wetland certification" above indicates the presence of wetlands or jurisdictional water as shown on the NWI generalized wetlands maps or by field study, a land disturbance permit which identifies alterations of designated wetlands or jurisdictional waters may not be issued by the city until a section 404 permit or letter of permission is obtained from the US Army Corps of Engineers.
(Ord. No. 2009-06-18, (9.8), 6-29-2009)
Sec. 113-99. - Floodplain.
The floodplain management/flood damage prevention ordinance shall govern the development of any applicable parcel with the city.
(Ord. No. 2009-06-18, (9.9), 6-29-2009)
Secs. 113-100—113-110. - Reserved.
