ARTICLE 12. - REQUIREMENTS FOR SPECIFIC RESIDENTIAL PRINCIPAL BUILDINGS AND USES

Sec. 12.1. - Commercial Recreation Facility.
modified
Within a residential subdivision or multiple-family residential development, community recreation facilities as defined by this Zoning Ordinance must be platted when a part of a subdivision or part of the site plan approval for a multiple-family residential development. Community recreation facilities shall be subject to the following requirements:
(a)
Exterior lighting. If lighted, exterior lighting shall require a lighting plan to be submitted and approved prior to installation. See Article 23 of this Zoning Ordinance.
(b)
Swimming Pools and Tennis Courts. Swimming pools and tennis courts shall be setback a minimum of twenty-five (25) feet from all property lines of the tract of land devoted to community recreation, with a minimum ten (10) foot wide landscape strip along all property lines of said tract. See Article 19 of this Zoning Ordinance for landscape strip specifications.
(c)
Buildings. Buildings (excluding accessory structures) shall be setback a minimum of twenty-five (25) feet from the property line of the tract. If outdoor patios or decks are provided, they shall be located no closer than twenty-five (25) feet from the property line of the tract and a minimum ten (10) foot wide landscape strip shall be provided between said outdoor patio or deck and the property line or boundary of said tract. See Article 19 of this Zoning Ordinance for landscape strip specifications.
(d)
Parking. Parking shall be provided per the requirements of Article 21 of this Zoning Ordinance.
( Ord. No. 657 , § 1(Exh. A), 12-16-2021)
Sec. 12.2. - Model Home.
modified
A dwelling unit may be constructed and used as a model home or temporary office for the sale of lots under the following conditions:
(a)
Time of Construction. The model home is typically constructed before approval of a final plat, and hence the model home is the principal use of the entire unsubdivided parcel until the final plat is approved.
(b)
Location on a Lot. The model home shall be placed on a lot designated on the approved preliminary plat and shall be placed in a manner that meets the applicable zoning district dimensional requirements so that it complies at the time it is erected and when it is sold and/or converted for single-family residential use.
(c)
Sales. Sales shall be limited to the lots and buildings within the subdivision where the model home is located.
(d)
Certain Buildings Prohibited. A manufactured home or portable building shall not be used as a model home or temporary sales office.
(e)
Duration and Discontinuance. The use of the model home for a sales office shall be discontinued within 30 days after Certificates of Occupancy have been issued on 90 percent of the lots in the subdivision.
(f)
Parking and Accessibility. The model home shall comply with off-street parking and applicable accessibility standards.
( Ord. No. 657 , § 1(Exh. A), 12-16-2021)
Sec. 12.3. - Multi-family Development.
modified
(a)
Condominiums. If a condominium form of ownership is proposed, the development shall meet all current applicable state laws including the Georgia Condominium Act (O.C.G.A. § 44-3-70 et seq.). Proposed bylaws and the articles of incorporation for the condominium association shall be submitted with the application for development approval.
(b)
Laundry facilities. On-site accessory laundry facilities are permitted accessory uses for developments with 25 or more units.
(c)
Setbacks. Buildings within multi-family developments shall be subject to the setbacks for the entire lot as established in applicable zoning district dimensional requirements. There shall be no requirements for setbacks from private driveways within the multi-family development, except as may be determined by the Zoning Administrator to be essential to meet building or accessibility codes, to meet sight accessibility requirements for motorists and pedestrians, or other essential public safety considerations during the site plan review process.
(d)
Site Plan Approval. Site plan approval by the Zoning Administrator shall be required. The Zoning Administrator may place conditions of development approval on any multiple-family site plan approval, which such conditions are specifically related to compliance with a requirement of this Zoning Ordinance or other applicable regulation. Furthermore, reasonable conditions may be placed on the development through site plan approval by the Zoning Administrator in order to (1) ensure compliance with design and development standards specified in this Zoning Ordinance for said use or (2) ensure consistency with development guidelines or policies of the comprehensive plan.
(e)
Design Standards. See Section 10.7 of this Zoning Ordinance.
( Ord. No. 657 , § 1(Exh. A), 12-16-2021)
Sec. 12.4. - Relocated Residence.
modified
A relocation permit is required to relocate a residential structure, whether it is to be moved out of or into the city limits. The relocation permit is not a building permit for the placement of the structure at a new location. The applicant shall include the following with the application for the relocation permit:
(a)
Picture. A photograph of the structure at its present location.
(b)
Existing Location. The current location (address and tax parcel number) where the structure is now located.
(c)
Proposed Location in City. If the structure is to be relocated inside the city limits, the proposed location (address and tax parcel number) of the structure. To ensure compliance with the applicable zoning district dimensional requirements, when the relocated residential structure is proposed to be located within the city limits, the Zoning Administrator shall require submission of the proposed location (address and tax parcel number) and a copy of the recorded plat of the lot on which the structure will be placed (if none exists the applicant shall be required to comply with subdivision requirements of the city's Subdivision and Land Development Ordinance).
(d)
Floor Area. The total heated floor area of the existing structure and, if to be located within the city, the renovated structure.
(e)
Building Permit. A building permit shall be required.
(f)
Exterior Improvements. All exterior improvements to the structure once relocated shall be completed within six months of relocation.
(g)
Historic Preservation. If located or proposed to be located within a historic district as recognized in this Zoning Ordinance or other historic preservation ordinance of the city, there must be a copy of the approved Certificate of Appropriateness from the Historic Preservation Commission prior to relocating the residential structure.
(h)
Inspection. The Zoning Administrator shall inspect or arrange for the inspection of the structure for compliance with the minimum standards of the zoning district proposed for location and other applicable regulations and codes.
( Ord. No. 657 , § 1(Exh. A), 12-16-2021)
Sec. 12.5. - Subdivision entrance monuments.
modified
No subdivision entrance monument shall be permitted to be erected unless it meets the following requirements:
(a)
Design. The subdivision entrance monument and the landscape surrounding the monument shall be designed by a registered landscape architect.
(b)
Design Review. Design plan review and approval is required. See Article 40 of this zoning ordinance.
( Ord. No. 657 , § 1(Exh. A), 12-16-2021)
Sec. 12.6. - Townhouses.
modified
In zoning districts where permitted, fee-simple townhouses shall meet the following requirements:
(a)
Lot Frontage and Lot Width. Each platted lot shall have a minimum of twenty (20) feet of frontage on a public street or private road that meets public street standards, and each lot shall have a minimum lot width of twenty (20) feet.
(b)
Lot Size. The minimum size of a lot for each fee-simple townhouse lot (i.e., the extent of land owned by the owner of the unit) shall be 2,000 square feet in lot area.
(c)
Front Building Setbacks. There shall be a minimum twenty (20) foot front setback from any perimeter boundary of the fee-simple townhouse subdivision and a 30 foot front setback from any public or private street exterior to or within the subdivision.
(d)
Side Setbacks and Zero Lot Line. Zero lot line between units within the same building shall be permitted, subject to applicable fire and building codes.
(e)
Rear Setbacks. There shall be a minimum twenty (20) foot rear setback from townhouse lot boundaries for all buildings and structures, except when the rear property line abuts an alley, in which case no setback shall be required.
(f)
Building Separation. There shall be a minimum building separation of twenty (20) feet between townhouse buildings.
(g)
Building Unit Offsets. To avoid a monotonous appearance, for any given building, no more than six (6) units may have common walls. Any building containing more than three (3) units with common walls must have the front façade, rear façade, and the roof of each attached unit distinct from the other through separation, staggering, or offsets in design. A minimum of two (2) exterior colors shall be used on buildings containing up to four (4) units, and a minimum of three (3) exterior colors shall be used on buildings containing five (5) or six (6) units; however, when all exteriors are unpainted brick, they shall not be required to vary in color. See also Sec. 12.6.(k)1.
(h)
Rear Access. Townhouse developments shall be designed to provide proper access to all dwelling units for firefighting purposes, as may be determined by applicable codes. Rear access, if required for firefighting purposes or by Subsection (n) below, shall be accomplished by alleys.
(i)
Parking. Two enclosed parking spaces minimum per unit shall be provided.
(j)
Subdivision Plat Approval. Each townhouse development or phase thereof shall require preliminary and final subdivision plat approval in accordance the City of Flowery Branch Subdivision and Land Development Ordinance.
(k)
Wall Finishes.
1.
Exterior wall finish materials (excluding foundations, trim, windows and doors) shall be limited to: real brick (full-depth or thin brick), unpainted natural stone, unpainted cast stone, true three-coat cement stucco, natural wood or cementitious siding including lap siding and board and batten; and wood or cementitious shakes and shingles. A horizontal accent strip (i.e., band board or belly board / band) shall be used when there is a change in material. Each dwelling unit is limited to two of the allowed wall finishes listed in this subsection and one paint color. Adjoining or adjacent units shall not be the same exterior color.
The following are illustrative examples of wall finishes that DO NOT meet the requirements of this section:
2.
All street-facing façades shall meet the following requirements:
a.
Each applicable façade shall have: a minimum of 5% transparency (defined as the minimum percentage of windows and doors that must cover a ground or upper story façade) of the total wall area; and, a maximum of 20 feet of blank wall area (defined as the portion of the exterior façade of a building that does not include windows or doors; pilasters or other articulation greater than 12 inches in depth; or a substantial change in material) in either a vertical or horizontal direction.
b.
False windows may count toward the transparency requirement where they are similar in size, shape, and materials to other windows on that building and consist of trim with closed shutters that have the appearance of a shuttered window or windows. A single louvered panel with trim may also count toward this requirement. False windows shall not be allowed to count toward this requirement unless shutters adjacent to a true window or windows are also provided on another exterior wall.
(l)
Foundation Walls. Exposed foundation walls must be faced in real brick or real stone to the level of the first finished floor when there is a basement or at least 24 inches above grade for the entire perimeter wall when the building has a slab on grade. Faux brick or stone foundation panels are prohibited.
The following are illustrative examples of foundation walls that DO NOT meet the requirements of this section:
EXPAND
Faux Brick Foundation Panel Foundation wall missing/
insufficient height on the side Foundation wall is only
located on the front façade
  (m)
Roof Materials. Pitched roofs shall be finished in either architectural shingles or standing seam metal roofs.
(n)
Garage Placement and Materials.
1.
Where townhouse developments abut public streets, lots fronting onto these streets shall address garage placement as follows: the front façade of the townhouse shall face the public street, and garages shall be rear-loaded.
2.
Where front-loaded garages are allowed, garage doors shall be carriage-style (both the door style/paneling as well as the hardware) and may either:
a.
Recess at least one foot behind the front wall plane of the dwelling unit and the front entrance. When the garage door is recessed less than one foot, there shall be required a garage eyebrow treatment (trellis, pergola, roof, or a second-story architectural feature) that extends at least one foot beyond the garage face.
b.
Project beyond the front wall plane and the front entrance upon providing a garage eyebrow treatment (trellis, pergola, roof, or second-story architectural feature) that extends at least one foot beyond the garage face, as well as decorative lighting that is mounted above or to the sides of the garage door.
3.
All front-loaded garages shall be finished in real brick or real stone. The finish shall cover the entire façade of a projecting garage. When garage doors are recessed in accordance with Sec. (n)2.a. above, the façade of the ground floor shall be finished in the required material(s).
4.
Single-story detached garages that meet the requirements of subsections (k), (l) and (m) above and are placed to the rear of the building(s) are allowed in lieu of attached garages.
The following are illustrative examples of garage treatments that DO NOT meet the requirements of this section:
Brick or stone is only partially used or is not used at all as the required exterior finish, and carriage-style garage doors are not used. In addition, required elements over the projecting garages (left and middle examples) are missing.
(o)
Private Open Space. Private, usable open space, such as balconies, patios, decks, etc. shall be provided contiguous to each dwelling unit. The area of such open space for each dwelling unit shall not be less than 10% of the floor area of the unit served.
1.
Each dwelling unit with a rear-loaded garage shall provide a usable covered porch that runs the entire width of the front façade. The porch shall be at least 6 feet deep (not including steps, if applicable).
2.
Rear patios, decks and porches shall be covered with a roof, pergola, or projecting architectural feature that is designed with materials to match the façade and/or trim of the building.
(p)
Residential Driveway Length. Townhouses are required to have a minimum driveway length of twenty-three (23) feet as measured from the back of sidewalk or back of curb, as applicable.
(p)
Design Review. See Article 40.
( Ord. No. 657 , § 1(Exh. A), 12-16-2021)
Sec. 12.7. - Single-Family Detached Dwellings.
new
Detached single-family dwellings shall meet the following requirements.
(a)
Wall Finishes.
1.
See Sec. 12.6.(k)1.
2.
Facades facing a side yard shall meet the following requirements:
a.
Each applicable façade shall have: a minimum of 5% transparency (defined as the minimum percentage of windows and doors that must cover a ground or upper story façade) of the total wall area; and, a maximum of 20 feet of blank wall area (defined as the portion of the exterior façade of a building that does not include windows or doors; pilasters or other articulation greater than 12 inches in depth; or a substantial change in material) in either a vertical or horizontal direction.
b.
False windows may count toward the transparency requirement where they are similar in size, shape, and materials to other windows on that building and consist of trim with closed shutters that have the appearance of a shuttered window or windows. A single louvered panel with trim may also count toward this requirement. False windows shall not be allowed to count toward this requirement unless shutters adjacent to a true window or windows are also provided on another exterior wall.
c.
Walls that are fully finished in brick shall be exempt from the transparency requirement in Subsection a. above.
3.
Facades facing a rear yard shall meet the following requirements:
a.
Sec. 12.7.(a) 2. shall apply to rear façades that are visible from a public street.
b.
Rear patios, decks and porches shall be covered with a roof, pergola, or projecting architectural feature that is designed with materials to match the façade and/or trim of the building.
(b)
Entrance Features.
1.
The primary entrance to a residence must be emphasized through the use of an unenclosed roofed porch, veranda or terrace that is a minimum of: six (6) feet deep (not including the steps); and, 40% of the width of the front façade or 11 feet, whichever is greater.
2.
A stoop or gable may be used in lieu of a porch, veranda or terrace when the front façade finish is brick. A stoop shall not be more than six (6) feet deep (not including the steps) and cannot be fully enclosed.
3.
Entry steps shall have enclosed risers.
4.
Columns shall be a minimum width of eight (8) inches and shall be wood or durable material that resembles wood from top to bottom or atop stone or masonry bases.
(c)
Foundation and Roof materials. See Sections 12.6 (I) and (m).
(d)
Garage Placement and Materials.
1.
Where detached single-family developments abut public streets, lots fronting onto these streets shall address garage placement as follows: the front façade of the dwelling shall face the public street, and garages shall be rear-loaded. This requirement shall not apply when homes are oriented such that the side yards front the public street.
2.
For single-family detached dwellings with attached front-loaded garages, garage doors shall not project more than eight (8) feet from the front wall plane and front entrance. Any projecting garage shall not prevent the requirement of Sec. 12.7.(b)1 being met.
3.
Projecting front-loaded garages shall have a garage eyebrow treatment (trellis, pergola, roof, or second-story architectural feature) that extends at least one foot beyond the garage face, as well as decorative lighting above or to the sides of the garage. The gable (if applicable) above the garage door shall not be blank and shall include window(s) and decorative lighting. Additional gable treatments options include a gable vent and a change in material.
4.
All front-loaded garages shall be finished in real brick or real stone. The finish shall cover the façade of the projecting garage wall but is not required to be used on the gable (if applicable) above the required garage eyebrow treatment. When a garage does not project, the façade of the ground floor garage shall be finished in the required material(s).
5.
Garage doors shall be carriage-style (both the door style/paneling and hardware).
The following are illustrative examples of garage treatments that DO NOT meet the requirements of this section:
EXPAND
Missing elements: full required extent of brick or stone finish, "eyebrow" treatment above the garage, and gable features (left and middle photos); brick or stone finish, carriage style door and front porch (photo at right). A carriage-style garage door is also not used in the photo at left.
  (e)
Residential Driveway Length. See Sec. 20.11.(c).
(f)
Design Review. See Article 40.
( Ord. No. 657 , § 1(Exh. A), 12-16-2021)
Sec. 12.8. - Two-Family Dwellings (Duplexes).
new
Duplexes shall meet the requirements of Sec. 12.7.
( Ord. No. 657 , § 1(Exh. A), 12-16-2021)
