Part 4 - GENERAL OPERATION REQUIREMENTS
Sections:

19.12.650 - Liability limitations—Owner responsibility.
Any person using the facilities within the limits of a harbor, waterway, or maritime facility or beach shall assume all risk of damage or loss to his property and the County, the District, or department assumes no risk on account of fire, theft, act of God, or damages of any kind to vessels within the harbor, waterway, or maritime facility.
(Ord. 2012-0006 § 12, 2012: Ord. 9359 Art. 4 § 401, 1967.)
19.12.660 - Record of all vessels required.
The harbor master shall keep an accurate record of the number, size, type and description of all vessels within a county harbor, waterway or maritime facility, and it is unlawful for any person having knowledge thereof to fail or refuse to provide said information to the harbor master on demand.
(Ord. 86-0039 § 19, 1986: Ord. 9359 Art. 4 § 414, 1967.)
19.12.670 - Permits—Period of validity—Grounds for suspension or revocation.
All permits granted under the authority of this chapter shall be valid only for such period as may be determined by the director and/or harbor master. A violation of the provisions of this chapter or of any other applicable ordinance by any permittee shall be grounds for suspension or revocation of such permit or permits.
(Ord. 86-0039 § 20, 1986: Ord. 9359 Art. 4 § 403, 1967.)
19.12.680 - Obedience to signs and other control devices.
It is unlawful to wilfully fail to obey any sign, notice, signal, control device or buoy placed or erected pursuant to Section 19.12.760.
(Ord. 9359 Art. 4 § 411, 1967.)
19.12.690 - Tampering with or boarding vessels prohibited when.
A person shall not wilfully injure, break, remove or tamper with any part of any vessel in a harbor, waterway or maritime facility, nor shall a person climb into or upon any vessel without consent of the owner, unless in performance of official duties.
(Ord. 86-0039 § 21, 1986: Ord. 9359 Art. 4 § 406, 1967.)
19.12.700 - Safekeeping of vessels—Evidence of authorization to perform certain services required.
A.
The lessee of any premises within a county-owned harbor or maritime facility at which privately owned vessels are regularly or occasionally berthed, moored or stored shall take or cause to be taken all reasonable precautions to assure the safekeeping of such vessels at all times.
B.
It is unlawful for any person to board, dive near or work on any privately owned vessel, while the same is berthed, moored or stored within any county harbor or maritime facility, for the purpose of conducting thereon any maintenance, service or repairs for compensation unless such person shall have first complied with all registration and identification procedures as may from time to time be established by the harbor master. The harbor master may require written or other satisfactory evidence that such person has been authorized by the owner of said vessel to conduct such maintenance, service or repairs.
C.
The harbor master shall issue written identification to any person who satisfactorily complies with such registration and identification procedures, which written identification shall be carried at all times by such person while rendering such services on any privately owned vessel.
D.
The provisions of subsection B of this section shall not be deemed to apply to the owner of any vessel, to members of his immediate family, to regular employees of the facility or premises on which such vessel is located, or to any person boarding or performing work on any privately owned vessel for the purpose of performing maintenance, service or repairs thereon or thereto without compensation.
E.
Appropriate notices of the provisions of this section shall be posted pursuant to the provisions of Section 19.12.760 of this chapter.
(Ord. 88-0190 § 1, 1988; Ord. 86-0039 § 22, 1986: Ord. 10391 § 3, 1971: Ord. 9583 § 1, 1968: Ord. 9359 Art. 4 § 417, 1967.)
19.12.710 - Launching or recovering vessels—Permit required when—Locations restricted.
A.
A person shall not launch into or remove from the waters of a harbor, waterway or maritime facility any vessel weighing more than 200 pounds except at specific locations designated by the director for the purpose of launching and recovery of vessels, or in accordance with permit issued by the director.
B.
No person shall launch or recover any vessel or watercraft, nor embark or disembark at, over or across the rock rip-rap of any county harbor, waterway or maritime facility, except at specific locations designated by the director and harbor master for the purpose of launching and recovering of vessels or in accordance with a written permit issued by director and harbor master.
(Ord. 86-0039 § 23, 1986: Ord. 10391 § 2, 1971: Ord. 9359 Art. 4 § 402, 1967.)
19.12.720 - Debarking passengers or cargo—Conditions.
A person having charge of a vessel shall not permit the debarkation of passengers or the offloading of cargo onto any public or privately owned bulkhead, float, wharf, pier, dock or other structure within a harbor, waterway or maritime facility, or onto another vessel, without the consent of the person in charge of such structure or vessel, except in an emergency.
(Ord. 9359 Art. 4 § 412, 1967.)
19.12.730 - Overnight camping and similar activities restricted.
For beaches, Sections 17.12.250, 17.12.260, and 17.12.270 of this code shall be the applicable provisions regulating overnight camping and similar activities. For any other public area of the County's harbors, waterways, or maritime facilities, it shall be unlawful for any person, other than one specifically authorized by permit, license, or lease from the County, to camp, lodge, sleep, or tarry overnight, or to erect, construct, build, create, maintain, use, or occupy in or on such location, any tent, canopy, lodge, shelter, structure, recreational vehicle, motor home, house trailer, travel trailer, trailer coach, park trailer, camping trailer, truck camper, slide-in camper, or other structure or vehicle used as a place of abode.
(Ord. 2012-0006 § 13, 2012: Ord. 86-0039 § 24, 1986: Ord. 9359 Art. 4 § 408, 1967.)
19.12.740 - Alcoholic beverage restrictions.
For beaches, Section 17.12.320 of this code shall be the applicable provision regulating alcoholic beverages. For any other public area of the County's harbors, waterways, or maritime facilities, with the exception of navigable waters, a person shall not enter, be, or remain within such public area while consuming any alcoholic beverage, unless advance written approval, whether by license, permit, or otherwise, is obtained from the Director pursuant to Section 19.12.1292 of this code.
(Ord. 2012-0006 § 14, 2012: Ord. 9359 Art. 4 § 409, 1967.)
19.12.750 - Found property and stray vessels.
All stray vessels and all personal property or other articles not in lawful possession or control of some person found within a county harbor, waterway or maritime facility shall immediately be delivered to the harbor master. Any such property shall be dealt with by the harbor master as provided in the appropriate provisions of the Civil Code and/or the Harbors and Navigation Code as the same now reads or may hereafter be amended. The owner of any found property shall be liable for any costs incurred by the county in effecting removal, storage, sale or disposition of such property.
(Ord. 86-0039 § 25, 1986: Ord. 9359 Art. 4 § 404, 1967.)
19.12.760 - Signs and other control devices—Placement and maintenance authority.
The director and/or harbor master may place and maintain, or cause to be placed and maintained, either on land or water, such signs, notices, signals, buoys or control devices as he deems necessary to carry out the provisions of this chapter or to insure public safety and the orderly and efficient use of a harbor, waterway or maritime facility.
(Ord. 86-0039 § 26, 1986: Ord. 9359 Art. 4 § 410, 1967.)
19.12.780 - Swimming areas—Vessel operation restricted when.
For beaches, Section 17.12.470 of this code shall be the applicable provision regulating vessel operations near the shoreline. For any other public area of the County's harbors, waterways, or maritime facilities, the Director may establish protected swimming areas, and it is unlawful to operate or navigate any vessel within the bounds of any such area except as may be specifically permitted by other provisions of this chapter.
(Ord. 2012-0006 § 15, 2012: Ord. 9359 Art. 4 § 413, 1967.)
19.12.790 - Swimming—Prohibited in certain areas.
For beaches, Sections 17.12.440 and 17.12.450 of this code shall be the applicable provisions regulating swimming activities. For any other portion of a channel, entrance channel, or other public area where vessels may navigate in any County harbor, waterway, or maritime facility, a person shall not swim or engage in any skin diving or scuba diving except by written permit issued by the Harbor Master authorizing such activity.
(Ord. 2012-0006 § 16, 2012: Ord. 86-0039 § 28, 1986: Ord. 9359 Art. 4 § 416, 1967.)
19.12.800 - Obstructing access to facilities prohibited.
It is unlawful at any time for a person to obstruct the free and easy access to and departure from any portion of any landing, pier, berth, float, wharf or other facilities of a harbor, waterway or maritime facility.
(Ord. 9359 Art. 4 § 407, 1967.)
19.12.810 - Damaging facilities, property or control devices prohibited.
It is unlawful to wilfully or carelessly destroy, damage, disturb, deface or interfere with any aid to navigation or mooring buoy, float, life preserver, sign, signal, notice, control device, or any other public or private property whatsoever within a harbor, waterway or maritime facility.
(Ord. 9359 Art. 4 § 405, 1967.)
